Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

test(aliases): assert lowercasedUrn is locale-independent
  metadata-utils/src/test/java/com/linkedin/metadata/utils/AliasesUtilsTest.java
Due: metadata-utils-spotless

feat(timeline): update version stamps to include aliases in schema metadata
  smoke-test/tests/openapi/v1/timeline.json
  smoke-test/tests/openapi/v2/timeline.json
Due: none

fix(entities): add aliases with lowercasedUrn to dataset entities
  smoke-test/tests/openapi/v3/entities.json
Due: none

fix(aliases): preserve platform casing in lowercasedUrn
  metadata-models/src/main/pegasus/com/linkedin/common/Aliases.pdl
  metadata-utils/src/main/java/com/linkedin/metadata/utils/AliasesUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/AliasesUtilsTest.java
Due: metadata-utils-spotless, update-lineage-file

test(forms): add smoke coverage for batch form assign/remove
  metadata-service/services/src/test/java/com/linkedin/metadata/service/FormServiceTest.java
  smoke-test/tests/forms/__init__.py
  smoke-test/tests/forms/data.json
  smoke-test/tests/forms/forms_test.py
Due: metadata-service-services-spotless, smoke-test-lint-fix

docs(forms): state what the forms smoke suite does and does not guard
  smoke-test/tests/forms/forms_test.py
Due: smoke-test-lint-fix

fix(ai-assistant): address review feedback
  datahub-web-react/src/App.tsx
  datahub-web-react/src/app/aiAssistant/AIChatButton.tsx
  datahub-web-react/src/app/aiAssistant/__tests__/AIChatButton.test.tsx
  datahub-web-react/src/app/settingsV2/__tests__/AIAssistantSettings.test.tsx
  datahub-web-react/src/app/settingsV2/settingsPaths.tsx
  metadata-models/src/main/pegasus/com/linkedin/settings/global/GlobalSettingsInfo.pdl
  metadata-service/ai-assistant-servlet/src/main/java/io/datahubproject/aiassistant/servlet/AiAssistantConfigConfiguration.java
  metadata-service/ai-assistant-servlet/src/main/java/io/datahubproject/aiassistant/servlet/AiAssistantConfigController.java
  metadata-service/ai-assistant-servlet/src/test/java/io/datahubproject/aiassistant/servlet/AiAssistantConfigControllerTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AiAssistantConfigPlatformService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AiAssistantConfigService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/AiAssistantConfigServiceTest.java
Due: metadata-service-services-spotless, update-lineage-file, web-react-lint-fix

feat(gms): add aliases aspect with a GMS-computed lowercasedUrn field (#18639)
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/aliases/sideeffects/AliasesSideEffect.java
  metadata-io/src/test/java/com/linkedin/metadata/aliases/sideeffects/AliasesSideEffectTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-models/src/main/pegasus/com/linkedin/common/Aliases.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/plugins/StandardPluginConfigurationTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/AliasesUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/AliasesUtilsTest.java
  smoke-test/tests/openapi/v1/timeline.json
  smoke-test/tests/openapi/v2/timeline.json
  smoke-test/tests/openapi/v3/entities.json
Due: li-utils-spotless, metadata-io-spotless, metadata-service-factories-spotless, metadata-utils-spotless, update-lineage-file

fix(ai-assistant): store preferred model per user
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserAIAssistantSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserSettings.pdl
  metadata-service/ai-assistant-servlet/src/main/java/io/datahubproject/aiassistant/servlet/AiAssistantConfigConfiguration.java
  metadata-service/ai-assistant-servlet/src/main/java/io/datahubproject/aiassistant/servlet/AiAssistantConfigController.java
  metadata-service/ai-assistant-servlet/src/test/java/io/datahubproject/aiassistant/servlet/AiAssistantConfigControllerTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AiAssistantConfigPlatformService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AiAssistantConfigService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/AiAssistantConfigServiceTest.java
Due: metadata-service-services-spotless, update-lineage-file

chore(ai-assistant): drop backend tests from diff
  metadata-service/ai-assistant-servlet/src/test/java/io/datahubproject/aiassistant/servlet/AiAssistantConfigControllerTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/AiAssistantConfigServiceTest.java
Due: metadata-service-services-spotless

test(profiling): add MySQL SQLAlchemy profiler integration suite (PR 5)
  metadata-ingestion/tests/integration/mysql/test_mysql.py
  metadata-ingestion/tests/integration/sqlalchemy_profiler/mysql/docker-compose.yml
  metadata-ingestion/tests/integration/sqlalchemy_profiler/mysql/setup/setup.sql
  metadata-ingestion/tests/integration/sqlalchemy_profiler/mysql/test_mysql_profiler.py
  metadata-ingestion/tests/test_helpers/docker_helpers.py
Due: metadata-ingestion-lint-fix

chore(ai-assistant): clean up config wiring diff
  datahub-web-react/src/App.tsx
  datahub-web-react/src/app/aiAssistant/AIChatButton.tsx
  metadata-models/src/main/pegasus/com/linkedin/settings/global/GlobalSettingsInfo.pdl
  metadata-service/ai-assistant-servlet/src/main/java/io/datahubproject/aiassistant/servlet/AiAssistantConfigConfiguration.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AiAssistantConfigPersistenceService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AiAssistantConfigService.java
Due: metadata-service-services-spotless, update-lineage-file, web-react-lint-fix

build(python): split uvDockerProfile and uvInstallProfile with layering
  docker/datahub-actions/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/snippets/uv/generate-config.py
  docker/snippets/uv/generate-config.sh
  docker/snippets/uv/profiles/.gitignore
  docs/developers.md
  docs/how/updating-datahub.md
  gradle.properties
  gradle/docker/python-docker.gradle
  gradle/python/python-uv.gradle
  mise.toml
  settings.gradle
Due: datahub-web-react-mdPrettierWriteChanged

style(gradle): shorten uv profile comments
  gradle/docker/python-docker.gradle
  gradle/python/python-uv.gradle
Due: none

style(gradle): shorten uv profile comments in gradle.properties
  gradle.properties
Due: none

build(docker): add opt-in chainguard and chainguard-ci uv profiles
  docker/snippets/uv/.netrc.example
  docker/snippets/uv/profiles/chainguard-ci.toml
  docker/snippets/uv/profiles/chainguard.toml
  docs/developers.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: omit Chainguard Libraries from public developers.md
  docs/developers.md
Due: datahub-web-react-mdPrettierWriteChanged

ci(uv): add setup-uv-credentials action without Cloudsmith
  .github/actions/setup-uv-credentials/action.yml
  .github/actions/setup-uv-credentials/netrc_helpers.sh
Due: datahub-web-react-githubActionsPrettierWriteChanged

ci(docker): use Chainguard uv profile only when token is set
  .github/workflows/docker-quickstart-ai.yml
  .github/workflows/docker-unified.yml
  .github/workflows/resusable-playwright-tests.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs: document required customType for CUSTOM incidents (#18705)
  docs/api/tutorials/incidents.md
Due: datahub-web-react-mdPrettierWriteChanged

Fix CI
  metadata-ingestion-modules/gx-plugin/setup.cfg
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/common.py
  metadata-ingestion/integration_docs/great-expectations.md
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-modules-gx-plugin-lint-fix, update-lineage-file

docs(release-notes): clarify i18n locales and add self-managed ops notes
  docs/managed-datahub/release-notes/v_2_1_0.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(gx-plugin): preserve Decimal observed values in assertion results
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/common.py
  metadata-ingestion-modules/gx-plugin/tests/unit/test_common.py
Due: metadata-ingestion-modules-gx-plugin-lint-fix, update-lineage-file

perf(graphql): batch step-state writes and drop per-id exists probe
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/step/BatchGetStepStatesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/step/BatchUpdateStepStatesResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/step/BatchGetStepStatesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/step/BatchUpdateStepStatesResolverTest.java
Due: datahub-graphql-core-spotless

fix(ci): keep AI quickstart on default uv profile
  .github/workflows/docker-quickstart-ai.yml
  docs/developers.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged

feat(cli/migrate): 3-stage migration framework, urns-mapping, assertion refs
  docs/cli.md
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/cli/migration_utils.py
  metadata-ingestion/src/datahub/migration/__init__.py
  metadata-ingestion/src/datahub/migration/engine.py
  metadata-ingestion/src/datahub/migration/fetch.py
  metadata-ingestion/src/datahub/migration/models.py
  metadata-ingestion/src/datahub/migration/transform.py
  metadata-ingestion/tests/integration/migration/test_migration_engine.py
  metadata-ingestion/tests/unit/cli/test_migrate.py
  metadata-ingestion/tests/unit/cli/test_migration_dynamic_aspects.py
  metadata-ingestion/tests/unit/cli/test_migration_utils.py
  metadata-ingestion/tests/unit/migration/test_framework.py
  smoke-test/tests/cli/migrate_cmd/test_migrate_scenarios_smoke.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, smoke-test-lint-fix

feat(ingest/powerbi): resolve Elasticsearch ODBC sources to a platform
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/odbc.py
  metadata-ingestion/tests/unit/powerbi/test_odbc.py
Due: metadata-ingestion-lint-fix

test(cli/migrate): fixture-based fake graph, fetch/transform coverage, docstrings
  metadata-ingestion/tests/integration/migration/test_migration_engine.py
  metadata-ingestion/tests/unit/cli/test_migrate.py
  metadata-ingestion/tests/unit/cli/test_migration_dynamic_aspects.py
  metadata-ingestion/tests/unit/cli/test_migration_utils.py
  metadata-ingestion/tests/unit/migration/test_framework.py
Due: metadata-ingestion-lint-fix

test(cli/migrate): assert additive patch contents; full urns-mapping smoke case
  metadata-ingestion/tests/unit/cli/test_migration_utils.py
  smoke-test/tests/cli/migrate_cmd/test_migrate_scenarios_smoke.py
Due: metadata-ingestion-lint-fix, smoke-test-lint-fix

fix(ai-assistant): persist preferred model and polish settings UI
  datahub-web-react/src/app/aiAssistant/AIChatButton.tsx
  datahub-web-react/src/app/settingsV2/AIAssistantSettings.tsx
  metadata-service/ai-assistant-servlet/src/main/java/io/datahubproject/aiassistant/servlet/AiAssistantConfigConfiguration.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AiAssistantConfigPersistenceService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AiAssistantConfigService.java
Due: metadata-service-services-spotless, web-react-lint-fix

docs(ingest/zipline): add integrations-page catalog entry (logo + description)
  metadata-ingestion/docs/sources/integrations_catalog.json
Due: none

fix(docker): mount netrc secrets as uid 1000 for uv installs
  docker/datahub-actions/Dockerfile
  docker/datahub-ingestion/Dockerfile
Due: none

fix(ownership_transformer): fix merging incoming ownership with ownership stored on the server functionality
  metadata-ingestion/src/datahub/ingestion/transformer/add_ownership.py
  metadata-ingestion/tests/unit/test_transform_ownership_merge.py
Due: metadata-ingestion-lint-fix

docs(cli/migrate): add mapping.json example for urns-mapping
  docs/cli.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/powerbi): only warn on M-Query parse failures for genuine M-Query expressions
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/tests/unit/powerbi/test_parser.py
Due: metadata-ingestion-lint-fix

Update defaults in mise.toml
  mise.toml
Due: none

test(cli/migrate): order urns-mapping pairs referenced-before-referrer
  docs/cli.md
  smoke-test/tests/cli/migrate_cmd/test_migrate_scenarios_smoke.py
Due: datahub-web-react-mdPrettierWriteChanged, smoke-test-lint-fix

docs(cli/migrate): recommend staged migration for large/complex reference graphs
  docs/cli.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(cli/migrate): reject identity pairs; abort on indeterminate target existence
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/migration/engine.py
  metadata-ingestion/tests/unit/cli/test_migrate.py
  metadata-ingestion/tests/unit/migration/test_framework.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
