Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

i18n(ru): «email» for addresses, «электронная почта» kept for the delivery channel
  datahub-web-react/src/i18n/locales/ru/auth.json
  datahub-web-react/src/i18n/locales/ru/entity.types.json
Due: web-react-lint-fix

i18n(ru): catch remaining «свежесть» and «связи происхождения» for Freshness / lineage
  datahub-web-react/src/i18n/locales/ru/entity.profile.validations.json
  datahub-web-react/src/i18n/locales/ru/settings.features.json
Due: web-react-lint-fix

lint
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/entity/ReliableHardDeleteFactoryHardDeleteServiceTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/entity/DeleteEntityServiceGraphReferrersTest.java
Due: metadata-service-factories-spotless, metadata-service-services-spotless

feat(ingest/dynamodb): add datahub recipe probe support
  metadata-ingestion/docs/sources/dynamodb/dynamodb_post.md
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb_probe.py
  metadata-ingestion/tests/integration/dynamodb/test_dynamodb_probe.py
  metadata-ingestion/tests/unit/dynamodb/test_dynamodb_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(search): follow-ups to the Search V3 shared search fields (#20261)
  docs/how/updating-datahub.md
  docs/modeling/extending-the-metadata-model.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/V3SearchFields.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/V3MatchedFields.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/V3MatchedFieldsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-service/configuration/src/main/resources/search_entity_analyzer_config.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless

i18n(ru): ingestion run toast says the run was requested; ASCII ellipsis per glossary
  datahub-web-react/src/i18n/locales/ru/ingestion.json
Due: web-react-lint-fix

fix(ingest/qualytics): address review feedback
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  metadata-ingestion/docs/sources/qualytics/README.md
  metadata-ingestion/docs/sources/qualytics/qualytics_post.md
  metadata-ingestion/docs/sources/qualytics/qualytics_pre.md
  metadata-ingestion/docs/sources/qualytics/qualytics_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/qualytics/anomaly.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/assertion.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/client.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/config.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/constants.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/links.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/models.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/profile.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/skill_docs/_PLANNING.md
  metadata-ingestion/src/datahub/ingestion/source/qualytics/skill_docs/_datahub-connector-pr-review-2026-10-06.md
  metadata-ingestion/src/datahub/ingestion/source/qualytics/source.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/timeutil.py
  metadata-ingestion/src/datahub/ingestion/source/qualytics/urn_resolver.py
  metadata-ingestion/tests/unit/qualytics/capture_openapi.py
  metadata-ingestion/tests/unit/qualytics/fixtures/golden_deployment.json
  metadata-ingestion/tests/unit/qualytics/golden/qualytics_mces_golden.json
  metadata-ingestion/tests/unit/qualytics/test_anomaly.py
  metadata-ingestion/tests/unit/qualytics/test_api_params.py
  metadata-ingestion/tests/unit/qualytics/test_api_paths.py
  metadata-ingestion/tests/unit/qualytics/test_assertion.py
  metadata-ingestion/tests/unit/qualytics/test_client.py
  metadata-ingestion/tests/unit/qualytics/test_config.py
  metadata-ingestion/tests/unit/qualytics/test_golden.py
  metadata-ingestion/tests/unit/qualytics/test_profile.py
  metadata-ingestion/tests/unit/qualytics/test_source_pipeline.py
  metadata-ingestion/tests/unit/qualytics/test_stateful.py
  metadata-ingestion/tests/unit/qualytics/test_test_connection.py
  metadata-ingestion/tests/unit/qualytics/test_urn_resolver.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

docs(ingest/dbt): describe per-project instances and run_results matching for globbed manifests
  metadata-ingestion/docs/sources/dbt/dbt_pre.md
  metadata-ingestion/docs/sources/dbt/dbt_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/superset,preset): probe support for dashboards, charts, datasets and databases
  metadata-ingestion/docs/sources/preset/preset_post.md
  metadata-ingestion/docs/sources/superset/superset_post.md
  metadata-ingestion/src/datahub/ingestion/source/preset.py
  metadata-ingestion/src/datahub/ingestion/source/preset_probe.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/src/datahub/ingestion/source/superset_probe.py
  metadata-ingestion/src/datahub/ingestion/source/superset_selection.py
  metadata-ingestion/tests/unit/test_superset_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/salesforce): add datahub recipe probe support
  metadata-ingestion/docs/sources/salesforce/salesforce_post.md
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce_probe.py
  metadata-ingestion/tests/integration/salesforce/test_salesforce_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/snowflake-queries): probe support with verdicts matching the query-log filters
  metadata-ingestion/docs/sources/snowflake/snowflake_post.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries_probe.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_queries_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/bigquery-queries): probe support with verdicts matching the query-log filters
  metadata-ingestion/docs/sources/bigquery/bigquery_post.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_queries.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_queries_probe.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_queries_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/mongodb): probe support for databases and collections
  metadata-ingestion/docs/sources/mongodb/mongodb_post.md
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/src/datahub/ingestion/source/mongodb_probe.py
  metadata-ingestion/src/datahub/ingestion/source/mongodb_selection.py
  metadata-ingestion/tests/integration/mongodb/test_mongodb_probe.py
  metadata-ingestion/tests/unit/test_mongodb_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/elasticsearch): probe support for indices and index templates
  metadata-ingestion/docs/sources/elasticsearch/elasticsearch_post.md
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search_probe.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search_selection.py
  metadata-ingestion/tests/integration/elasticsearch/test_elasticsearch_probe.py
  metadata-ingestion/tests/unit/test_elasticsearch_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

i18n(ru): user/group profile About tab «Сведения» instead of «Описание»
  datahub-web-react/src/i18n/locales/ru/entity.types.json
Due: web-react-lint-fix

feat(ingest/grafana): add recipe probe support
  metadata-ingestion/docs/sources/grafana/grafana_post.md
  metadata-ingestion/src/datahub/ingestion/source/grafana/grafana_config.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/grafana_probe.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/grafana_selection.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/grafana_source.py
  metadata-ingestion/tests/integration/grafana/docker-compose.probe.yml
  metadata-ingestion/tests/integration/grafana/test_grafana_probe_integration.py
  metadata-ingestion/tests/unit/grafana/test_grafana_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/nifi): add recipe probe support
  metadata-ingestion/docs/sources/nifi/nifi_post.md
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/nifi_probe.py
  metadata-ingestion/src/datahub/ingestion/source/nifi_selection.py
  metadata-ingestion/tests/integration/nifi/docker-compose.probe.yml
  metadata-ingestion/tests/integration/nifi/test_nifi_probe_integration.py
  metadata-ingestion/tests/unit/test_nifi_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix review comments
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/application/DeleteApplicationResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/application/DeleteApplicationResolverTest.java
  metadata-io/src/test/java/com/linkedin/metadata/client/JavaEntityClientTest.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/entity/EntityResourceTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/DeleteEntityService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/HardDeleteService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/HardDeleteDispatcher.java
  metadata-service/services/src/test/java/com/linkedin/metadata/entity/HardDeleteServiceTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/ApplicationServiceTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/DataProductServiceTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/OwnershipTypeServiceTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/PageTemplateServiceTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-services-spotless

feat(ingest/sigma): add recipe probe support
  metadata-ingestion/docs/sources/sigma/sigma_post.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_selection.py
  metadata-ingestion/tests/integration/sigma/test_sigma_probe_parity.py
  metadata-ingestion/tests/unit/sigma/__init__.py
  metadata-ingestion/tests/unit/sigma/probe_tenant.py
  metadata-ingestion/tests/unit/sigma/test_sigma_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test(ingest/dbt): cover sources, a cross-project edge and semantic models in the multi-project golden
  metadata-ingestion/tests/integration/dbt/dbt_test_multi_project_glob_golden.json
  metadata-ingestion/tests/integration/dbt/multi_project/project_a/catalog.json
  metadata-ingestion/tests/integration/dbt/multi_project/project_a/manifest.json
  metadata-ingestion/tests/integration/dbt/multi_project/project_b/catalog.json
  metadata-ingestion/tests/integration/dbt/multi_project/project_b/manifest.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Due: metadata-ingestion-lint-fix

chore(security): bump lz4-java to 1.11.4 for CVE-2026-106451
  build.gradle
  datahub-frontend/gradle.lockfile
  datahub-graphql-core/gradle.lockfile
  datahub-upgrade/gradle.lockfile
  ingestion-scheduler/gradle.lockfile
  metadata-dao-impl/kafka-producer/gradle.lockfile
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/datahub-client/gradle.lockfile
  metadata-integration/java/datahub-schematron/cli/gradle.lockfile
  metadata-io/gradle.lockfile
  metadata-jobs/common/gradle.lockfile
  metadata-jobs/mae-consumer-job/gradle.lockfile
  metadata-jobs/mae-consumer/gradle.lockfile
  metadata-jobs/mce-consumer-job/gradle.lockfile
  metadata-jobs/mce-consumer/gradle.lockfile
  metadata-jobs/pe-consumer/gradle.lockfile
  metadata-operation-context/gradle.lockfile
  metadata-service/auth-filter/gradle.lockfile
  metadata-service/auth-impl/gradle.lockfile
  metadata-service/auth-servlet-impl/gradle.lockfile
  metadata-service/configuration/gradle.lockfile
  metadata-service/events-service/gradle.lockfile
  metadata-service/factories/gradle.lockfile
  metadata-service/graphql-servlet-impl/gradle.lockfile
  metadata-service/iceberg-catalog/gradle.lockfile
  metadata-service/openapi-analytics-servlet/gradle.lockfile
  metadata-service/openapi-entity-servlet/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/restli-servlet-impl/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
  metadata-service/services/gradle.lockfile
  metadata-service/servlet/gradle.lockfile
  metadata-service/war/gradle.lockfile
Due: check-gradle-lockfiles

docs(workflows): document CHILD_*_OF hierarchy resolvers in action workflows reference
  docs/managed-datahub/workflows/action-workflows-reference.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/dbt): name the dbt 1.6 project_name requirement for globbed manifests
  metadata-ingestion/docs/sources/dbt/dbt_pre.md
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/performance/dbt/seed_projects.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

i18n(ru): add plural forms for changeHistoryGraph.operation.* keys from master
  datahub-web-react/src/i18n/locales/ru/entity.profile.stats.json
Due: web-react-lint-fix

fix(ui): hide ai chat pannel (#20270)
  datahub-web-react/src/app/ingestV2/runDetails/IngestionRunDetailsPage.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/AIChat.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/IngestionSourceBuilderLayout.tsx
  datahub-web-react/src/i18n/locales/de/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/en/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/es/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/fi/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/fr/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/hu/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/it/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/ja/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/nb/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/pt-BR/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/ru/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/sv/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/zh-CN/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/zh-TW/ingestion.sourceBuilder.json
Due: web-react-lint-fix

docs(ingest/dbt): state what stale-entity removal retires after migrating to a globbed manifest_path
  metadata-ingestion/docs/sources/dbt/dbt_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/dbt): normalise local run_results directories, reject an empty project_name, drop an unused parameter
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/dbt/test_dbt_multi_project.py
Due: metadata-ingestion-lint-fix

fix review comments
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/DeleteEntityService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/HardDeleteService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/async/delete/ReliableHardDelete.java
  metadata-service/services/src/test/java/com/linkedin/metadata/entity/DeleteEntityServiceGraphReferrersTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/entity/HardDeleteServiceTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/async/delete/ReliableHardDeleteTest.java
Due: metadata-service-services-spotless

fix(ui): harden phosphor icon picker review follow-ups
  datahub-web-react/src/app/entityV2/domain/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/IconPicker.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/__tests__/IconColorPicker.test.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/__tests__/IconPicker.test.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/__tests__/loadPhosphorIcons.test.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/loadPhosphorIcons.ts
  datahub-web-react/src/app/entityV2/shared/links/DomainColoredIcon.tsx
  datahub-web-react/src/app/mfeframework/_tests_/lazyIconRegistry.test.tsx
  datahub-web-react/src/app/mfeframework/lazyIconRegistry.tsx
  datahub-web-react/src/app/previewV2/EntityHeader.tsx
  datahub-web-react/src/app/sharedV2/icons/ColoredEntityIcon.tsx
  datahub-web-react/src/app/sharedV2/icons/__tests__/materialToPhosphorIcon.test.ts
  datahub-web-react/src/app/sharedV2/icons/coloredIconMix.ts
  datahub-web-react/src/app/sharedV2/icons/materialToPhosphorIcon.ts
Due: web-react-lint-fix

feat(ingest/dremio): add recipe probe support
  metadata-ingestion/docs/sources/dremio/dremio_post.md
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_config.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_probe.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_selection.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_source.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_sql_queries.py
  metadata-ingestion/tests/integration/dremio/__init__.py
  metadata-ingestion/tests/integration/dremio/test_dremio_probe_parity.py
  metadata-ingestion/tests/unit/dremio/test_dremio_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest/superset,preset): format the probe support sections
  metadata-ingestion/docs/sources/preset/preset_post.md
  metadata-ingestion/docs/sources/superset/superset_post.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(documents): align UI and docs with document entity privileges (#20278)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/MeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/auth.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolverTest.java
  datahub-upgrade/src/main/resources/boot/policies.json
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/context/ContextSidebar.tsx
  datahub-web-react/src/app/context/__tests__/useContextDocumentsPermissions.test.ts
  datahub-web-react/src/app/context/useContextDocumentsPermissions.ts
  datahub-web-react/src/app/document/hooks/__tests__/useDocumentPermissions.test.tsx
  datahub-web-react/src/app/document/hooks/useDocumentPermissions.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/relatedSectionUtils.ts
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/me.graphql
  docs/api/tutorials/documents.md
  docs/authorization/policies.md
  docs/authorization/roles.md
  docs/features/feature-guides/context/context-documents.md
  docs/how/updating-datahub.md
  metadata-service/war/src/main/resources/boot/policies.json
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, web-react-lint-fix

fix(frontend): seed Apollo link flag refs from localStorage at module load
  datahub-web-react/src/app/appConfig/UpdateGlobalFlags.tsx
  datahub-web-react/src/app/appConfig/__tests__/UpdateGlobalFlags.test.ts
Due: web-react-lint-fix

fix(ui): restore domain icon glyphs and smaller preview sizing
  datahub-web-react/src/app/entityV2/domain/preview/Preview.tsx
  datahub-web-react/src/app/previewV2/EntityHeader.tsx
  datahub-web-react/src/app/sharedV2/icons/__tests__/materialToPhosphorIcon.test.ts
  datahub-web-react/src/app/sharedV2/icons/materialToPhosphorIcon.ts
Due: web-react-lint-fix

fix(web): make lazy profile components type-check and key uniquely
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/EntitySidebar.tsx
  datahub-web-react/src/app/entityV2/__tests__/profileChunkSplit.test.ts
  datahub-web-react/src/app/entityV2/shared/__tests__/lazyEntityProfile.test.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/entityData.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/EntitySidebar.tsx
  datahub-web-react/src/app/entityV2/shared/lazyEntityProfile.tsx
Due: web-react-lint-fix

fix(ingest/dbt): report a refused glob listing once and keep presigned signatures out of the report
  metadata-ingestion/docs/sources/dbt/dbt_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_artifacts.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/performance/dbt/seed_projects.py
  metadata-ingestion/tests/performance/dbt/test_dbt_multi_project.py
  metadata-ingestion/tests/unit/dbt/test_dbt_multi_project.py
Due: metadata-ingestion-lint-fix

test(ui): add getCreatedTime to DocumentEntity test registry mock
  datahub-web-react/src/app/entityV2/document/__tests__/DocumentEntity.test.tsx
Due: web-react-lint-fix

fix(ui): remove mui icons to domains picker (#20275)
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/alchemy-components/components/Icon/constants.ts
  datahub-web-react/src/app/domainV2/CreateDomainModal.tsx
  datahub-web-react/src/app/entityV2/domain/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/DefaultEntityHeader.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/IconColorPicker.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/IconPicker.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/__tests__/IconColorPicker.test.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/__tests__/IconPicker.test.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/__tests__/loadPhosphorIcons.test.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/loadPhosphorIcons.ts
  datahub-web-react/src/app/entityV2/shared/links/DomainColoredIcon.tsx
  datahub-web-react/src/app/entityV2/shared/links/DomainMiniPreview.tsx
  datahub-web-react/src/app/entityV2/shared/links/__tests__/DomainColoredIcon.test.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/domains/DomainCard.tsx
  datahub-web-react/src/app/mfeframework/_tests_/lazyIconRegistry.test.tsx
  datahub-web-react/src/app/mfeframework/lazyIconRegistry.tsx
  datahub-web-react/src/app/previewV2/EntityHeader.tsx
  datahub-web-react/src/app/sharedV2/icons/ColoredEntityIcon.tsx
  datahub-web-react/src/app/sharedV2/icons/__tests__/materialToPhosphorIcon.test.ts
  datahub-web-react/src/app/sharedV2/icons/__tests__/resolveDisplayIcon.test.ts
  datahub-web-react/src/app/sharedV2/icons/coloredIconMix.ts
  datahub-web-react/src/app/sharedV2/icons/materialToPhosphorIcon.ts
  datahub-web-react/src/app/sharedV2/icons/resolveDisplayIcon.ts
  datahub-web-react/src/app/sharedV2/icons/useMuiIcons.ts
  datahub-web-react/src/i18n/locales/en/governance.domain.json
  docs/how/updating-datahub.md
  metadata-models/src/main/pegasus/com/linkedin/common/IconLibrary.pdl
Due: datahub-web-react-mdPrettierWriteChanged, update-lineage-file, web-react-lint-fix
