Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

Send metrics for all workflow triggers
  .github/workflows/post-workflow-actions.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(gms): raise Jackson maxNameLength for oversized JSON property names
  docs/how/updating-datahub.md
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/TemplateUtil.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/patch/template/TemplateUtilTest.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/OperationsServiceUtil.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/UsageServiceUtil.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/ObjectMapperFactory.java
  metadata-service/factories/src/main/java/com/linkedin/restli/server/RAPServletFactory.java
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
  metadata-service/war/src/main/java/com/linkedin/gms/ServletConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, entity-registry-spotless, li-utils-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-war-spotless

Update security scan trigger
  .github/scripts/validate_post_workflow_list.py
  .github/workflows/post-workflow-actions.yml
  .github/workflows/security-scan-linear-sync.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

more unit tests
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/TimeSeriesAspectResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/TimeSeriesAspectResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/TimeseriesAspectBatchLoaderTest.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceUnitTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless

fix(gms): also warn on oversized JSON string values in patches
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImpl.java
Due: metadata-io-spotless, metadata-io-metadata-io-api-spotless

test(gms): unit-test oversized patch content detection
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImpl.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImplTest.java
Due: metadata-io-spotless, metadata-io-metadata-io-api-spotless

fix(ingestion): fix mypy errors in workunit processor tests
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/auto_validate_input_fields.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
  metadata-ingestion/tests/unit/api/test_auto_validate_input_fields.py
Due: metadata-ingestion-lint-fix

fix(ingestion): make WorkunitProcessor.create() return concrete subclass type
  metadata-ingestion/src/datahub/ingestion/api/workunit_processor.py
Due: metadata-ingestion-lint-fix

docs(updating): note oversized-content warnings and warn-threshold env vars
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingestion): update tests to use new WorkunitProcessor API
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_source.py
  metadata-ingestion/tests/unit/informatica/test_source.py
  metadata-ingestion/tests/unit/ingestion/source/notion/test_notion_source.py
  metadata-ingestion/tests/unit/test_thoughtspot_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/sql-parsing): guard against sqlglot LATERAL FLATTEN resolver crash
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_unnest_resolver_guard.py
Due: metadata-ingestion-lint-fix

fix(ingestion): fix backward-compat job ID and lint errors in test files
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_source.py
  metadata-ingestion/tests/unit/test_thoughtspot_source.py
Due: metadata-ingestion-lint-fix

chore(ingest/odcs): regenerate connector registry for updated capability descriptions
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
Due: none

fix(ingestion): preserve full platform for browse path while keeping backward-compat stale removal job IDs
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/workunit_processor.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_browse_path_v2.py
  metadata-ingestion/tests/unit/test_thoughtspot_source.py
Due: metadata-ingestion-lint-fix

fix(ingestion): add pipeline_name to PipelineContext in stateful ingestion tests
  metadata-ingestion/tests/unit/informatica/test_source.py
  metadata-ingestion/tests/unit/ingestion/source/notion/test_notion_source.py
Due: metadata-ingestion-lint-fix

fix(ingestion): provide ctx.graph mock for stateful ingestion tests
  metadata-ingestion/tests/unit/informatica/test_source.py
  metadata-ingestion/tests/unit/ingestion/source/notion/test_notion_source.py
Due: metadata-ingestion-lint-fix

perf(timeseries): implement batching for TimeSeriesAspectResolver and TimeSeriesService (#17829)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/TimeSeriesAspectResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/TimeseriesAspectBatchLoader.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/TimeSeriesAspectResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/TimeseriesAspectBatchLoaderTest.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceUnitTest.java
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/TimeseriesAspectServiceConfig.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/services/src/main/java/com/linkedin/metadata/timeseries/TimeseriesAspectService.java
  smoke-test/tests/timeseries/__init__.py
  smoke-test/tests/timeseries/test_dataset_profiles_graphql.py
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-services-spotless, smoke-test-lint-fix

fix(ingestion): fix ruff format violation in informatica test
  metadata-ingestion/tests/unit/informatica/test_source.py
Due: metadata-ingestion-lint-fix

fix(ingestion): exclude AutoIncrementalLineageProcessor from dbt source
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Due: metadata-ingestion-lint-fix

feat(perf): add load-test framework with dual implementations and domain-specific seeders
  e2e-test/perf/.gitignore
  e2e-test/perf/GRASSHOPPER_ANALYSIS.md
  e2e-test/perf/README.md
  e2e-test/perf/datapacks/base_seeder.py
  e2e-test/perf/datapacks/seed_lineage.py
  e2e-test/perf/datapacks/seed_search.py
  e2e-test/perf/datapacks/vocab/__init__.py
  e2e-test/perf/datapacks/vocab/words.py
  e2e-test/perf/implementation_1/requirements.txt
  e2e-test/perf/implementation_1/tests/__init__.py
  e2e-test/perf/implementation_1/tests/framework/__init__.py
  e2e-test/perf/implementation_1/tests/framework/base_perf_test.py
  e2e-test/perf/implementation_1/tests/search/__init__.py
  e2e-test/perf/implementation_1/tests/search/graphql_search_ramp.py
  e2e-test/perf/implementation_2/__init__.py
  e2e-test/perf/implementation_2/conftest.py
  e2e-test/perf/implementation_2/framework/__init__.py
  e2e-test/perf/implementation_2/framework/datahub_journey.py
  e2e-test/perf/implementation_2/journeys/__init__.py
  e2e-test/perf/implementation_2/journeys/search_journey.py
  e2e-test/perf/implementation_2/requirements.txt
  e2e-test/perf/implementation_2/scenarios/search_scenarios.yaml
  e2e-test/perf/implementation_2/tests/__init__.py
  e2e-test/perf/implementation_2/tests/test_search_load.py
Due: datahub-web-react-mdPrettierWriteChanged

test(e2e): align glossary/domain e2e tests with alchemy migration
  datahub-web-react/src/alchemy-components/components/Toast/Toast.tsx
  e2e-test/ui/playwright/pages/common/toast-component.ts
  e2e-test/ui/playwright/pages/domains/domain-entity.page.ts
  smoke-test/tests/cypress/cypress/e2e/glossaryV2/v2_glossary.js
  smoke-test/tests/cypress/cypress/e2e/glossaryV2/v2_glossaryTerm.js
  smoke-test/tests/cypress/cypress/e2e/glossaryV2/v2_glossary_navigation.js
  smoke-test/tests/cypress/cypress/support/commands.js
Due: web-react-lint-fix

feat(domains): Add domainAssociations to Domains.pdl; keep in sync via mutation hook; add domains to glossary nodes
  metadata-io/src/main/java/com/linkedin/metadata/aspect/hooks/DomainsSyncMutationHook.java
  metadata-models/src/main/pegasus/com/linkedin/domain/DomainAssociation.pdl
  metadata-models/src/main/pegasus/com/linkedin/domain/Domains.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/aspect/hooks/migrations/DomainsMigrationMutator.java
Due: metadata-io-spotless, metadata-service-factories-spotless, update-lineage-file

feat(metadata-models): register odcs as a DataPlatform (#17332)
  datahub-web-react/src/images/odcslogo.png
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: none

rename endpoint
  metadata-ingestion/src/datahub/ingestion/graph/openapi.py
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericRelationshipController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/ScrollUtils.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/LineageController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/RelationshipControllerTest.java
Due: metadata-ingestion-lint-fix, metadata-service-openapi-servlet-spotless

docs(docker): fix misleading username in Cloudsmith .netrc example
  docker/snippets/uv/.netrc.example
Due: none

docs(docker): fix misleading username in Cloudsmith .netrc example (#17857)
  docker/snippets/uv/.netrc.example
Due: none

Resolving comments
  metadata-ingestion/src/datahub/ingestion/source/quicksight/processors/analyses.py
  metadata-ingestion/src/datahub/ingestion/source/quicksight/processors/containers.py
  metadata-ingestion/src/datahub/ingestion/source/quicksight/processors/dashboards.py
  metadata-ingestion/src/datahub/ingestion/source/quicksight/processors/data_sets.py
  metadata-ingestion/src/datahub/ingestion/source/quicksight/processors/data_sources.py
  metadata-ingestion/src/datahub/ingestion/source/quicksight/processors/enrichment.py
  metadata-ingestion/src/datahub/ingestion/source/quicksight/processors/users_groups.py
  metadata-ingestion/src/datahub/ingestion/source/quicksight/processors/visuals.py
  metadata-ingestion/src/datahub/ingestion/source/quicksight/quicksight_config.py
  metadata-ingestion/src/datahub/ingestion/source/quicksight/quicksight_lineage.py
Due: metadata-ingestion-lint-fix

refactor(ingestion): move validate_input_fields counter to processor report; use whitelist for Iceberg
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/auto_validate_input_fields.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
Due: metadata-ingestion-lint-fix

fix(ingestion/dremio): process query lineage serially
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_source.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_sql_queries.py
Due: metadata-ingestion-lint-fix

refactor(ingestion): move auto_browse_path_v2 logic into AutoBrowsePathV2Processor
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/__init__.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_browse_path_v2.py
  metadata-ingestion/tests/unit/workunit_processors/__init__.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_browse_path_v2.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ingestion): inline processor function logic and update tests
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/auto_dataset_properties_aspect.py
  metadata-ingestion/src/datahub/ingestion/api/incremental_lineage_helper.py
  metadata-ingestion/src/datahub/ingestion/api/incremental_ownership_helper.py
  metadata-ingestion/src/datahub/ingestion/api/incremental_properties_helper.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_fix_duplicate_schema_field_paths.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_fix_empty_field_paths.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_incremental_lineage.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_incremental_ownership.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_incremental_properties.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_lowercase_urns.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_materialize_referenced_tags_terms.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_patch_last_modified.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_status_aspect.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_workunits_reporter.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
  metadata-ingestion/tests/unit/api/source_helpers/test_incremental_lineage_helper.py
  metadata-ingestion/tests/unit/api/source_helpers/test_source_helpers.py
  metadata-ingestion/tests/unit/api/test_auto_validate_input_fields.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_source.py
  metadata-ingestion/tests/unit/dremio/test_dremio_config.py
  metadata-ingestion/tests/unit/sql_queries/test_sql_queries.py
  metadata-ingestion/tests/unit/test_incremental_ownership_helper.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_browse_path_v2.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ingestion): move auto_work_units EnsureAspectSize and ValidateInputFields to workunit_processors
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/auto_ensure_aspect_size.py
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/auto_validate_input_fields.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingestion): add EnsureAspectSizeProcessorReport with per-aspect truncation counters
  metadata-ingestion/src/datahub/ingestion/workunit_processors/ensure_aspect_size.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
Due: metadata-ingestion-lint-fix

feat(ingestion): add ValidateInputFieldsProcessorReport with skipped-entirely counter
  metadata-ingestion/src/datahub/ingestion/workunit_processors/validate_input_fields.py
  metadata-ingestion/tests/unit/api/test_auto_validate_input_fields.py
Due: metadata-ingestion-lint-fix
