Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

style(graphql): fix import order in GmsGraphQLEngine
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
Due: datahub-graphql-core-spotless

feat(incidents): support incidents on mlFeatureTable (all six gates) (#19367)
  datahub-agent-context/src/datahub_agent_context/mcp_tools/incidents.py
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/incident.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/incident/EntityIncidentsResolverTest.java
  datahub-web-react/src/app/entityV2/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/graphql/incident.graphql
  datahub-web-react/src/graphql/mlFeatureTable.graphql
  metadata-models/docs/entities/mlFeatureTable.md
  metadata-models/src/main/pegasus/com/linkedin/incident/IncidentInfo.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-utils-spotless, update-lineage-file, web-react-lint-fix

feat(ingest/dynamodb): add S3 export lineage and Glue DynamoDB job URNs
  metadata-ingestion/docs/sources/dynamodb/dynamodb_post.md
  metadata-ingestion/docs/sources/dynamodb/dynamodb_pre.md
  metadata-ingestion/docs/sources/dynamodb/dynamodb_recipe.yml
  metadata-ingestion/docs/sources/glue/glue_post.md
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/tests/unit/dynamodb/test_dynamodb.py
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test(ingest/oracle): golden files for catalogue-derived procedure edges
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_all_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_dba_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_query_usage.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_stored_procedures.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_usage_and_lineage.json
Due: none

docs(incidents): list the entity types that support incidents
  docs/incidents/incidents.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(incidents): generate the entity support table from source
  docs/incidents/incidents.md
  metadata-ingestion/build.gradle
  metadata-ingestion/scripts/modeldocgen.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, check-gradle-lockfiles

docs(incidents): add the second rejection message
  docs/incidents/incidents.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(incidents): describe the three layers that decide incident support
  docs/incidents/incidents.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(incidents): correct the raiseIncident input shape and the ML readback claim
  docs/incidents/incidents.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingest/dynamodb): emit column-level S3 export lineage
  metadata-ingestion/docs/sources/dynamodb/dynamodb_post.md
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/tests/unit/dynamodb/test_dynamodb.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(incidents): derive the resolver gate and refresh the supported types
  docs/incidents/incidents.md
  metadata-ingestion/scripts/modeldocgen.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(cli): drop the evals output and exit codes section
  docs/cli-commands/evals.md
Due: datahub-web-react-mdPrettierWriteChanged

🔗 Fix Mode query lineage
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/mode_mces_golden.json
  metadata-ingestion/tests/integration/mode/setup/queries.json
  metadata-ingestion/tests/unit/test_mode_source.py
Due: metadata-ingestion-lint-fix

fix(openapi): resolve $refs under patternProperties and propertyNames
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

fix(build): track GmsGraphQLEngine.java as a modelDocGen input
  metadata-ingestion/build.gradle
Due: check-gradle-lockfiles

review
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidatorTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  smoke-test/tests/authorization/test_privilege_grant_auth.py
Due: metadata-io-spotless, metadata-service-factories-spotless, smoke-test-lint-fix

fix(auth): stop trusting client appSource for aspect authorization
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/AbstractMCPStep.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/CorpUserPrivilegedFlagsValidator.java
  entity-registry/src/main/java/com/linkedin/metadata/utils/SystemMetadataUtils.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/CorpUserPrivilegedFlagsValidatorTest.java
  entity-registry/src/test/java/com/linkedin/metadata/utils/SystemMetadataUtilsTest.java
  li-utils/src/main/java/com/datahub/context/OperationFingerprint.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/AbstractAspectAuthorizationValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/DomainWriteAuthorizationValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeConstraintsValidatorTest.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
Due: datahub-upgrade-spotless, entity-registry-spotless, li-utils-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-operation-context-spotless

fix(openapi): only promote patternProperties on map-only schemas
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

style(openapi): drop restating docstrings from patternProperties fix
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
Due: metadata-ingestion-lint-fix

style(openapi): drop restating test docstrings
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

fix(openapi): handle empty properties and allOf patternProperties
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

fix(ingest/mode): update TestChartFetchGating to report-level chart_count
  metadata-ingestion/tests/unit/test_mode_source.py
Due: metadata-ingestion-lint-fix

docs(cli): add datahub evals command reference (#19329)
  docs-website/sidebars.js
  docs/cli-commands/evals.md
Due: datahub-web-react-mdPrettierWriteChanged

perf comment
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidatorTest.java
Due: metadata-io-spotless

fix(auth): null-safe system-auth trust checks in aspect validators
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/CorpUserPrivilegedFlagsValidator.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/CorpUserPrivilegedFlagsValidatorTest.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/AbstractAspectAuthorizationValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeConstraintsValidatorTest.java
Due: entity-registry-spotless, metadata-io-spotless

fix(openapi): merge colliding patternProperties and propertyNames via allOf
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

fix(ingest/glue): default DynamoDB ETL URNs to caller account id
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/deps): admit sqlparse 0.6.0 and require pyOpenSSL>=26.4.0
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

fix(auth): avoid null fingerprint on CorpUser privileged-flag lookups
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/CorpUserPrivilegedFlagsValidator.java
Due: entity-registry-spotless

fix(ingest/dynamodb): tighten S3 export lineage defaults and Glue ARN parsing
  metadata-ingestion/docs/sources/dynamodb/dynamodb_post.md
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/tests/unit/dynamodb/test_dynamodb.py
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/deps): raise cryptography floor to 50.0.0 (CVE-2026-69247)
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

fix(ingest/glue): use shared AWS config for STS account lookup
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Due: metadata-ingestion-lint-fix

fix(openapi): flatten allOf on repeated pattern/propertyNames merges
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

style(openapi): trim verbose docstrings and comments
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

style(ingest/dynamodb): drop redundant test class docstring
  metadata-ingestion/tests/unit/dynamodb/test_dynamodb.py
Due: metadata-ingestion-lint-fix

fix(auth): stop trusting client appSource for aspect authorization (#19384)
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/AbstractMCPStep.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/CorpUserPrivilegedFlagsValidator.java
  entity-registry/src/main/java/com/linkedin/metadata/utils/SystemMetadataUtils.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/CorpUserPrivilegedFlagsValidatorTest.java
  entity-registry/src/test/java/com/linkedin/metadata/utils/SystemMetadataUtilsTest.java
  li-utils/src/main/java/com/datahub/context/OperationFingerprint.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/AbstractAspectAuthorizationValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/DomainWriteAuthorizationValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeConstraintsValidatorTest.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
Due: datahub-upgrade-spotless, entity-registry-spotless, li-utils-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-operation-context-spotless

test(ingest/dynamodb): cover describe_export failure and default column lineage
  metadata-ingestion/tests/unit/dynamodb/test_dynamodb.py
Due: metadata-ingestion-lint-fix

fix(openapi): resolve propertyNames sibling refs and preserve value constraints
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

fix test
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactoryTest.java
Due: metadata-service-factories-spotless

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
