Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-dagster-plugin-lint-fix:
  name: metadata-ingestion-modules/dagster-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:dagster-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-gx-plugin-lint-fix:
  name: metadata-ingestion-modules/gx-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:gx-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-prefect-plugin-lint-fix:
  name: metadata-ingestion-modules/prefect-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:prefect-plugin:lintFix
  language: system
  pass_filenames: false

feat(python): Enable ingestion of structured properties settings
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/tests/unit/structured_properties/test_structured_properties.py
Due: metadata-ingestion-lint-fix

maintain the system sources filter across tabs
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/executions/ExecutionsTab.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Due: none

feat(rest-emitter): set 60s ttl on gms config cache (#13729)
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

fix(irc): map conflict exception per iceberg spec (#5960)
  metadata-service/iceberg-catalog/src/integrationTest/integration_test.py
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/TableOrViewOpsDelegate.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/common/IcebergExceptionHandlerAdvice.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/TableOpsDelegateTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/ViewOpsDelegateTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/common/IcebergExceptionHandlerAdviceTest.java
Due: none

update a bunch of scripts
  docs/api/datahub-apis.md
  docs/api/tutorials/tags.md
  metadata-ingestion/as-a-library.md
  metadata-ingestion/examples/library/dataset_add_domain.py
  metadata-ingestion/examples/library/dataset_add_owner.py
  metadata-ingestion/examples/library/dataset_add_term.py
  metadata-ingestion/examples/library/dataset_remove_tag.py
  metadata-ingestion/examples/library/dataset_remove_tag_execute_graphql.py
  metadata-ingestion/examples/library/dataset_replace_properties.py
  metadata-ingestion/examples/library/lineage_chart_dashboard.py
  metadata-ingestion/examples/library/lineage_datajob_to_datajob.py
  metadata-ingestion/examples/library/lineage_datajob_to_dataset.py
  metadata-ingestion/examples/library/lineage_dataset_chart.py
  metadata-ingestion/examples/library/lineage_dataset_job_dataset.py
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/sdk/datajob.py
  metadata-models/docs/entities/dataset.md
Due: metadata-ingestion-lint-fix

Use sdk instead of _sdk_extras
  metadata-ingestion/src/datahub/sdk/main_client.py
Due: metadata-ingestion-lint-fix

revert unncessary changes
  docs/api/tutorials/lineage.md
  docs/api/tutorials/tags.md
  metadata-ingestion/as-a-library.md
  metadata-ingestion/examples/library/create_mlmodel.py
  metadata-ingestion/examples/library/create_mlmodel_group.py
  metadata-ingestion/examples/library/dataset_add_owner.py
  metadata-ingestion/examples/library/dataset_add_term.py
  metadata-ingestion/examples/library/read_mlmodel.py
  metadata-ingestion/examples/library/read_mlmodel_group.py
  metadata-ingestion/scripts/docgen.py
  metadata-models/docs/entities/dataset.md
Due: metadata-ingestion-lint-fix

feat(graphql) enriching entity health results with more context (#13728)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/health/EntityHealthResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
Due: datahub-graphql-core-spotless

update dbt type goldens
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_prefer_sql_parser_lineage_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_test_model_performance_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Due: none

bulk writes and sidebar hiding
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/entity/shared/entity/EntityActions.tsx
  datahub-web-react/src/app/entityV2/Entity.tsx
  datahub-web-react/src/app/entityV2/application/ApplicationEntity.tsx
  datahub-web-react/src/app/entityV2/chart/ChartEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entityV2/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entityV2/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Applications/SidebarApplicationSection.tsx
  datahub-web-react/src/app/entityV2/shared/entity/EntityActions.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/VisualConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless

addressing feedback
  metadata-ingestion/docs/sources/grafana/grafana_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/field_utils.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/grafana_api.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/grafana_config.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/grafana_source.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/models.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/report.py
  metadata-ingestion/tests/integration/grafana/grafana_basic_mcps_golden.json
  metadata-ingestion/tests/integration/grafana/grafana_mcps_golden.json
  metadata-ingestion/tests/unit/grafana/test_grafana_source.py
Due: metadata-ingestion-lint-fix

Updated the Did You Mean to not be cut off (#13725)
  datahub-web-react/src/app/searchV2/suggestions/SearchQuerySugggester.tsx
Due: none

addressing final feedback
  metadata-ingestion/src/datahub/ingestion/source/grafana/models.py
  metadata-ingestion/tests/integration/grafana/test_grafana.py
  metadata-ingestion/tests/unit/grafana/test_grafana_entity_mcp_builder.py
Due: metadata-ingestion-lint-fix

fix lint
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/Config.java
Due: metadata-service-servlet-spotless

address feedback
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_ephemeral_pattern.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/unit/test_mssql.py
Due: metadata-ingestion-lint-fix

revert unncessary changes
  docs/api/datahub-apis.md
  docs/api/tutorials/owners.md
  docs/api/tutorials/terms.md
  metadata-ingestion/examples/library/add_mlgroup_to_mlmodel.py
  metadata-ingestion/examples/library/create_mlmodel.py
  metadata-ingestion/examples/library/create_mlmodel_group.py
  metadata-ingestion/examples/library/dataset_add_domain.py
  metadata-ingestion/examples/library/dataset_remove_owner.py
  metadata-ingestion/examples/library/dataset_remove_owner_execute_graphql.py
  metadata-ingestion/examples/library/dataset_remove_structured_properties.py
  metadata-ingestion/examples/library/dataset_remove_term.py
  metadata-ingestion/examples/library/dataset_remove_term_execute_graphql.py
  metadata-ingestion/examples/library/lineage_datajob_to_datajob.py
Due: metadata-ingestion-lint-fix

revert unncessary changes
  docs/api/datahub-apis.md
Due: none

initial commit for sidebar entity section
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/application/ApplicationAssociationMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/shared/entity/EntityActions.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/entityV2/Entity.tsx
  datahub-web-react/src/app/entityV2/application/ApplicationEntity.tsx
  datahub-web-react/src/app/entityV2/chart/ChartEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entityV2/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entityV2/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entityV2/shared/constants.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Applications/SetApplicationModal.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Applications/SidebarApplicationSection.tsx
  datahub-web-react/src/app/entityV2/shared/entity/EntityActions.tsx
  datahub-web-react/src/app/shared/tags/ApplicationLink.tsx
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/fragments.graphql
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/VisualConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless

feat(forms) Update user with "publishing" info on the UI (#5939)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/form/FormMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/form/FormType.java
  datahub-graphql-core/src/main/resources/forms.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/form/FormMapperTest.java
  datahub-web-react/src/app/govern/Dashboard/Forms/CreateFormHeader.tsx
  datahub-web-react/src/app/govern/Dashboard/Forms/FormFooter.tsx
  datahub-web-react/src/app/govern/Dashboard/Forms/FormStatusColumn.tsx
  datahub-web-react/src/app/govern/Dashboard/Forms/FormsTable.tsx
  datahub-web-react/src/app/govern/Dashboard/Forms/ManageFormContext.tsx
  datahub-web-react/src/app/govern/Dashboard/Forms/ManageFormContextProvider.tsx
  datahub-web-react/src/app/govern/Dashboard/Forms/__tests__/cacheUtils.test.ts
  datahub-web-react/src/app/govern/Dashboard/Forms/__tests__/formUtils.test.ts
  datahub-web-react/src/app/govern/Dashboard/Forms/__tests__/useFormHandlers.test.tsx
  datahub-web-react/src/app/govern/Dashboard/Forms/cacheUtils.ts
  datahub-web-react/src/app/govern/Dashboard/Forms/formUtils.ts
  datahub-web-react/src/app/govern/Dashboard/Forms/useGetFormsData.ts
  datahub-web-react/src/graphql/form.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/search.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/datahub_forms_notifications/forms_notifications_source.py
  metadata-ingestion-modules/acryl-cloud/tests/test_forms_notifications_source.py
  metadata-models/src/main/pegasus/com/linkedin/form/FormAssignmentStatus.pdl
  metadata-models/src/main/pegasus/com/linkedin/notification/FormNotifications.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/services/src/main/java/com/linkedin/metadata/service/util/SearchBasedFormAssignmentManager.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/util/SearchBasedFormAssignmentRunner.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/util/SearchBasedFormAssignmentManagerTest.java
Due: datahub-graphql-core-spotless, li-utils-spotless, metadata-service-services-spotless

tests(profiler): add JSON values to Trino test
  metadata-ingestion/tests/integration/trino/setup/setup.sql
  metadata-ingestion/tests/integration/trino/trino_mces_golden.json
Due: none

fix/refactor(profiler): don't use Great Expectations for column_distinct_value_frequencies
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix

fix(profiler): catch exceptions in get_dataset_column_distinct_value_frequencies
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix

feat(profiler): use approx_distinct when profiling Athena and Trino
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/tests/integration/trino/trino_mces_golden.json
Due: metadata-ingestion-lint-fix

chore(ingestion): use awsathena/trino dialect names from GXSqlDialect
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix

feat(sdk): add schedule support and make upsert_and_merge_smart_freshness_assertion public (#5959)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/test_assertions.py
  metadata-ingestion-modules/acryl-cloud/tests/test_assertions_client_merging.py
Due: none

fix(ui): Move buttons outside the form (#5938)
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
Due: none

fix(ui): Move buttons outside the form (#13715)
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
Due: none

fix(ui): Select executor while creating Ingestion source (#5957)
  datahub-web-react/src/app/automations/fields/Details/index.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingest/source/builder/RemoteExecutorPoolSelector.saas.tsx
  datahub-web-react/src/app/ingest/source/builder/useExecutorPoolSelection.ts
Due: none

feat(sdk): allow mixed str and EntityChangeTypeClass in subscription change types (#5962)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/subscription_client.py
  metadata-ingestion-modules/acryl-cloud/tests/test_subscription_client.py
Due: none

fix(ui): proposals filters cleanup (#5954)
  datahub-web-react/src/app/searchV2/filters/value/EntityTypeMenu.tsx
  datahub-web-react/src/app/searchV2/filters/value/EnumValueMenu.tsx
  datahub-web-react/src/app/searchV2/filters/value/ValueMenu.tsx
  datahub-web-react/src/app/searchV2/filters/value/ValueSelector.tsx
  datahub-web-react/src/app/sharedV2/filters/Filter.tsx
  datahub-web-react/src/app/sharedV2/filters/FilterSection.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/ProposalList.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/filters/useProposalsFilterDropdown.tsx
Due: none

feat(ingestion/mssql): detection of rds or managed sql server for jobs history (#13731)
  metadata-ingestion/docs/sources/mssql/mssql_pre.md
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_ephemeral_pattern.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/unit/test_mssql.py
Due: metadata-ingestion-lint-fix

feat(ui/api): Exposing new Ingestion Privileges (#5893)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/IngestionAuthUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/privileges/IngestionSourcePrivilegesResolver.java
  datahub-graphql-core/src/main/resources/auth.graphql
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/IngestionPrivilegesResolverTest.java
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingest/source/executions/IngestionExecutionTable.tsx
  datahub-web-react/src/app/ingest/source/executions/IngestionExecutionTableColumns.tsx
  datahub-web-react/src/app/ingest/source/executions/IngestionSourceExecutionList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/graphql/ingestion.graphql
Due: datahub-graphql-core-spotless

(feat) faster indexing: Pfp 1277/indexing perf (#13480) (#5908)
  build.gradle
  datahub-upgrade/build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeCli.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/ReindexDebugCondition.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/ReindexDebugConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/elasticsearch/ReindexDebug.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/elasticsearch/ReindexDebugArgs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/elasticsearch/steps/ReindexDebugStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/config/ReindexDebugConditionTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/elasticsearch/steps/ReindexDebugStepTest.java
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/OpenSearchJvmInfo.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ReindexConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ReindexResult.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/SizeUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/ESIndexBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexBuilderTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/OpenSearchJvmInfoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/ReindexConfigTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/SizeUtilsTest.java
Due: datahub-upgrade-spotless, metadata-io-spotless

finishing sidebar for all entities
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/ChartType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/DashboardType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/DataFlowType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/mappers/DataFlowMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/DataJobType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/mappers/DataJobMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/DataProductType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/mappers/DataProductMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/GlossaryNodeType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/GlossaryTermType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTableMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelMapper.java
  datahub-web-react/src/app/entityV2/chart/ChartEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entityV2/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entityV2/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Applications/SidebarApplicationSection.tsx
  datahub-web-react/src/graphql/chart.graphql
  datahub-web-react/src/graphql/fragments.graphql
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/ApplicationConfig.java
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless

chore(ingest): bump sqlglot dep (#13730)
  metadata-ingestion/setup.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_prefer_sql_parser_lineage_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_test_model_performance_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Due: metadata-ingestion-lint-fix

refactor(sdk): Shorten import paths for observe sdk (#5964)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/entities/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/entities/assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/entities/monitor.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/entities/subscription.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/errors.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/resolver_client.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/subscription_client.py
  metadata-ingestion-modules/acryl-cloud/tests/conftest.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/conftest.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertions.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertions_client_merging.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_detection_mechanism.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/subscriptions/test_subscription_client.py
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/test_assertion.py
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/test_monitor.py
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/test_subscription.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/src/datahub/sdk/main_client.py
Due: metadata-ingestion-lint-fix

refactor(sdk): Use sdk instead of _sdk_extras (#13736)
  metadata-ingestion/src/datahub/sdk/main_client.py
Due: metadata-ingestion-lint-fix

feat(config): update configuration caching
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/config.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/cli/test_config_utils.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
