Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

docs(ingest/unity-catalog): document volume container model and file schema inference
  metadata-ingestion/docs/sources/databricks/unity-catalog_post.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/clickhouse): resolve query-log lineage to database-qualified URNs
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/tests/unit/test_clickhouse_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/unity-catalog): regenerate lockfile and harden volume-file schema inference
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/test_unity_catalog_source.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(mae-consumer): pass syncIngestStamping default in test constructor delegation
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHook.java
Due: metadata-jobs-mae-consumer-spotless

fix(ingest): satisfy mypy in tests added on this branch
  metadata-ingestion/tests/unit/test_datahub_quarantine.py
  metadata-ingestion/tests/unit/test_rest_sink.py
  metadata-ingestion/tests/unit/utilities/test_partition_executor.py
Due: metadata-ingestion-lint-fix

fix(agent-context): gate ML incident fragments behind NEWER_GMS, validate state param, ruff format
  datahub-agent-context/src/datahub_agent_context/mcp_tools/incidents.py
Due: none

fix(ingest): bound isolation amplification on systemic batch rejection
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Due: metadata-ingestion-lint-fix

feat(ingest/datahub): surface quarantine state in the source report
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_database_reader.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/report.py
  metadata-ingestion/tests/unit/test_datahub_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/datahub): contain quarantine row failures to the offending row
  metadata-ingestion/src/datahub/ingestion/source/datahub/quarantine.py
  metadata-ingestion/tests/unit/test_datahub_quarantine.py
  metadata-ingestion/tests/unit/test_datahub_source.py
Due: metadata-ingestion-lint-fix

docs(ingest): document the parse-error quarantine file
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/datahub/datahub_post.md
Due: datahub-web-react-mdPrettierWriteChanged

test(ui): fix useEntityData mock shape in FieldDescription permission tests
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/__tests__/FieldDescription.test.tsx
Due: web-react-lint-fix

fix(ingest/unity-catalog): catch volume-listing permission errors and declare parquet/json deps
  metadata-ingestion/docs/sources/databricks/README.md
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/test_unity_catalog_source.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test(schema-tab): mock the structural query and cover the two-phase hooks
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/__tests__/useGetEntitySchema.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useGetStructuredPropColumns.test.tsx
Due: web-react-lint-fix

fix(ingest/sap-datasphere): prefix bare analytic-model business-layer upstreams with space
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/source.py
  metadata-ingestion/tests/unit/sap_datasphere/test_sap_datasphere_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/airbyte): skip fallback-schema lineage on /streams loss
  metadata-ingestion/docs/sources/airbyte/airbyte_post.md
  metadata-ingestion/src/datahub/ingestion/source/airbyte/client.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/constants.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/source.py
  metadata-ingestion/tests/unit/airbyte/test_airbyte_client.py
  metadata-ingestion/tests/unit/airbyte/test_source_lineage.py
  metadata-ingestion/tests/unit/airbyte/test_source_mapping.py
  metadata-ingestion/tests/unit/airbyte/test_source_workspaces.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/airbyte): address cubic follow-ups on /streams path
  metadata-ingestion/docs/sources/airbyte/airbyte_post.md
  metadata-ingestion/src/datahub/ingestion/source/airbyte/client.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/source.py
  metadata-ingestion/tests/unit/airbyte/test_airbyte_client.py
  metadata-ingestion/tests/unit/airbyte/test_source_lineage.py
  metadata-ingestion/tests/unit/airbyte/test_source_mapping.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test(ingest/sap-datasphere): harden business-layer space-prefix coverage
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/source.py
  metadata-ingestion/tests/unit/sap_datasphere/test_sap_datasphere_source.py
Due: metadata-ingestion-lint-fix

Update metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/source.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/source.py
Due: metadata-ingestion-lint-fix

test(ingest/airbyte): assert default_schema round-trips into dataset URNs
  metadata-ingestion/tests/unit/airbyte/test_source_lineage.py
Due: metadata-ingestion-lint-fix

fix(ingest/airbyte): treat /streams errors as a warning (#19331)
  metadata-ingestion/docs/sources/airbyte/airbyte_post.md
  metadata-ingestion/src/datahub/ingestion/source/airbyte/client.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/constants.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/models.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/source.py
  metadata-ingestion/tests/unit/airbyte/test_airbyte_client.py
  metadata-ingestion/tests/unit/airbyte/test_source_lineage.py
  metadata-ingestion/tests/unit/airbyte/test_source_mapping.py
  metadata-ingestion/tests/unit/airbyte/test_source_workspaces.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ui): share the structured-property row builder; cover loading state and dedupe
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/PropertiesTab.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/useStructuredProperties.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/useStructuredProperties.tsx
Due: web-react-lint-fix

fix(ingest/trino): survive graph failures when resolving source column case
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/tests/unit/test_trino.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/trino): resolve connector column lineage upstream names from source schema
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/tests/unit/test_trino.py
Due: metadata-ingestion-lint-fix

docs(ingest/trino): document connector column lineage casing change
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/powerbi): resolve lineage through parenthesized navigation steps
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: metadata-ingestion-lint-fix

fix(search): do not expand container filters on non-hierarchical conditions (#19339)
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/ContainerExpansionRewriter.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/filter/BaseQueryFilterRewriterTest.java
Due: metadata-io-spotless

fix(ingest/powerbi): infer the Databricks navigation level when Kind is absent
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/powerbi/test_parser.py
Due: metadata-ingestion-lint-fix

fix(ingest/powerbi): support native SQL on the Databricks.Catalogs connector
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: metadata-ingestion-lint-fix

style(schema-tab): theme-token cell skeleton instead of antd Skeleton
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useGetStructuredPropColumns.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useGetStructuredPropColumns.tsx
Due: web-react-lint-fix

style: prettier-format handleGraphQLError.test.ts
  datahub-web-react/src/app/shared/__tests__/handleGraphQLError.test.ts
Due: web-react-lint-fix

refactor(ingest/sap-datasphere): use dedup_preserving_order for BL upstreams
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/source.py
  metadata-ingestion/tests/unit/sap_datasphere/test_sap_datasphere_source.py
Due: metadata-ingestion-lint-fix

style(docs): prettier-format Databricks Unity Catalog README
  metadata-ingestion/docs/sources/databricks/README.md
Due: datahub-web-react-mdPrettierWriteChanged

resolving comments
  metadata-ingestion/docs/sources/databricks/unity-catalog_post.md
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
  metadata-ingestion/src/datahub/ingestion/source/unity/connection_test.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/tests/unit/test_unity_catalog_usage_join.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(managed-datahub): release notes for v2.1.3
  docs/managed-datahub/release-notes/v_2_1_0.md
Due: datahub-web-react-mdPrettierWriteChanged

Add Release Availability date
  docs/managed-datahub/release-notes/v_2_1_0.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/sap-datasphere): prefix bare analytic-model business-layer upstreams with space (#19352)
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/source.py
  metadata-ingestion/tests/unit/sap_datasphere/test_sap_datasphere_source.py
Due: metadata-ingestion-lint-fix

Fix lint
  smoke-test/tests/knowledge/document_search_filter_test.py
  smoke-test/tests/metrics/test_usage_aggregation_audit.py
  smoke-test/tests/search/test_search_projection.py
Due: smoke-test-lint-fix

docs(managed-datahub): release notes for v2.1.3 (#19353)
  docs/managed-datahub/release-notes/v_2_1_0.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(agent-context): add incident tools (list/raise/resolve) to mcp_tools (#18341)
  datahub-agent-context/README.md
  datahub-agent-context/src/datahub_agent_context/google_adk_tools/builder.py
  datahub-agent-context/src/datahub_agent_context/langchain_tools/builder.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/__init__.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/incidents.py
  datahub-agent-context/tests/unit/google_adk_tools/test_builder.py
  datahub-agent-context/tests/unit/mcp_tools/test_incidents.py
  datahub-agent-context/tests/unit/snowflake/test_udf_coverage.py
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingestion/grafana): don't break SQL parsing for quoted template variables
  metadata-ingestion/src/datahub/ingestion/source/grafana/lineage.py
  metadata-ingestion/tests/unit/grafana/test_grafana_lineage.py
  metadata-ingestion/tests/unit/grafana/test_grafana_query_extraction.py
Due: metadata-ingestion-lint-fix
