Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

refactor(ingest/mssql): share single-database, db-name and sql_variant logic with the probe
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

test(ingest/mssql): pin what the probe sql scope admits and refuses
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

fix(ingest/mssql): send probe sql to the driver unformatted, so a % literal survives pytds
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

test(ingest/mssql): probe the live SQL Server fixture and compare verdicts with ingestion
  metadata-ingestion/tests/integration/mssql/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

fix(ingest/mssql): probe verdicts honour a pinned database like get_inspectors
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/mssql): probe stored procedures with the verdict ingestion makes
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

refactor(ingest/mssql): read through the resolved engine, not Inspector.bind
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
Due: metadata-ingestion-lint-fix

docs(ingest/mssql): document the per-database SQL Server probe
  metadata-ingestion/docs/sources/mssql/mssql_post.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/mssql): review fixes for the probe
  metadata-ingestion/docs/sources/mssql/mssql_post.md
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
  metadata-ingestion/tests/integration/mssql/test_mssql_probe.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

style(ingest/probe): lint and format fixes for the SQL probes
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
  metadata-ingestion/tests/integration/mssql/__init__.py
  metadata-ingestion/tests/integration/mssql/test_mssql_probe.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
  metadata-ingestion/tests/unit/agent/test_query_budget.py
Due: metadata-ingestion-lint-fix

fix(ingest/mssql): address bot review comments
  metadata-ingestion/docs/sources/mssql/mssql_post.md
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/mssql/test_mssql_probe.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
  metadata-ingestion/tests/unit/agent/test_query_budget.py
  metadata-ingestion/tests/unit/agent/test_sql_passthrough.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ingest/mssql): echo identifiers through the shared probe helper
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
Due: metadata-ingestion-lint-fix

fix(ingest/probe): adapt the Redshift and SQL Server probes to the framework's error and identifier policies
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
  metadata-ingestion/tests/unit/agent/test_sql_identifier_hostile_input.py
  metadata-ingestion/tests/unit/redshift/test_redshift_probe.py
Due: metadata-ingestion-lint-fix

refactor(ingest/azure-data-factory): move the probe onto the consolidated interface
  metadata-ingestion/docs/sources/azure-data-factory/azure-data-factory_post.md
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_config.py
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_probe.py
  metadata-ingestion/tests/unit/azure_data_factory/test_adf_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ingest/unity): move the probe onto the consolidated interface
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/unity_probe.py
  metadata-ingestion/tests/unit/unity/test_unity_probe.py
Due: metadata-ingestion-lint-fix

refactor(ingest/fivetran): move the probe onto the consolidated interface
  metadata-ingestion/docs/sources/fivetran/fivetran_post.md
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_probe.py
  metadata-ingestion/tests/unit/fivetran/test_fivetran_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ingest/kafka-connect): move the probe onto the consolidated interface
  metadata-ingestion/docs/sources/kafka-connect/kafka-connect_post.md
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest/unity): document probe support in the connector docs
  metadata-ingestion/docs/sources/databricks/unity-catalog_post.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingest/iceberg): align probe filter verdicts with ingestion
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/tests/unit/test_iceberg_probe.py
Due: metadata-ingestion-lint-fix

test(ingest/iceberg): check probe filter parity on a real SQL catalog
  metadata-ingestion/tests/unit/test_iceberg_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/iceberg): probe tables, columns and metadata per namespace
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_probe.py
  metadata-ingestion/tests/unit/test_iceberg_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/iceberg): add probe provider with namespace listing
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_probe.py
  metadata-ingestion/tests/unit/test_iceberg_probe.py
Due: metadata-ingestion-lint-fix

docs(ingest/iceberg): document probe commands and pattern targets
  metadata-ingestion/docs/sources/iceberg/iceberg_post.md
Due: datahub-web-react-mdPrettierWriteChanged

style(ingest/iceberg): lint and format fixes
  metadata-ingestion/tests/unit/test_iceberg_probe.py
Due: metadata-ingestion-lint-fix

test(ingest/iceberg): exercise probe commands against the docker catalog
  metadata-ingestion/tests/integration/iceberg/test_iceberg_probe.py
Due: metadata-ingestion-lint-fix

fix(ingest/iceberg): name the missing FileIO module in the probe error
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_probe.py
  metadata-ingestion/tests/unit/test_iceberg_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/glue): translate AWS errors for the probe without echoing principals
  metadata-ingestion/src/datahub/ingestion/source/aws/glue_probe.py
  metadata-ingestion/tests/unit/glue/test_glue_probe_errors.py
Due: metadata-ingestion-lint-fix

fix(ingest/iceberg): address bot review comments
  metadata-ingestion/tests/integration/iceberg/test_iceberg_probe.py
  metadata-ingestion/tests/test_helpers/iceberg_probe_helpers.py
  metadata-ingestion/tests/unit/test_iceberg_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/glue): add a probe provider with a databases listing
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue_probe.py
  metadata-ingestion/tests/unit/glue/test_glue_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/data-lake): add the S3-compatible probe listing base
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/object_store_probe.py
  metadata-ingestion/tests/unit/data_lake/test_object_store_probe.py
Due: metadata-ingestion-lint-fix

refactor(ingest/s3): expose the path_spec listing helpers as module functions
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/s3/test_s3_listing_helpers.py
Due: metadata-ingestion-lint-fix

feat(ingest/data-lake): let path_spec verdicts skip extension rules like content-type ingestion
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec_verdict.py
  metadata-ingestion/tests/unit/data_lake/test_path_spec_verdict.py
Due: metadata-ingestion-lint-fix

fix(ingest/glue): review fixes for the probe
  metadata-ingestion/src/datahub/ingestion/source/aws/glue_probe.py
  metadata-ingestion/tests/unit/glue/test_glue_probe.py
  metadata-ingestion/tests/unit/glue/test_glue_probe_errors.py
Due: metadata-ingestion-lint-fix

feat(ingest/glue): probe tables and columns, degrading on a denied database
  metadata-ingestion/src/datahub/ingestion/source/aws/glue_probe.py
  metadata-ingestion/tests/unit/glue/test_glue_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/data-lake): judge names against path_specs the way ingestion does
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec_verdict.py
  metadata-ingestion/tests/unit/data_lake/test_path_spec_verdict.py
Due: metadata-ingestion-lint-fix

fix(ingest/iceberg): name the exception class, not its text, in the FileIO probe error
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/glue): probe the DataJobs a Glue job becomes, without node args
  metadata-ingestion/src/datahub/ingestion/source/aws/glue_probe.py
  metadata-ingestion/tests/unit/glue/test_glue_probe.py
Due: metadata-ingestion-lint-fix

docs(ingest/glue): document probe commands and pattern targets
  metadata-ingestion/docs/sources/glue/glue_post.md
Due: datahub-web-react-mdPrettierWriteChanged

test(ingest/glue): check probe verdicts against real ingestion on a moto catalog
  metadata-ingestion/tests/unit/glue/test_glue_probe_parity.py
Due: metadata-ingestion-lint-fix

feat(ingest/glue): probe Glue jobs with the DataFlow URN ingestion emits
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue_probe.py
  metadata-ingestion/tests/unit/glue/test_glue_probe.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
