Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$

chore(ci) Update cypress projectId to match new project for cypress cloud
  smoke-test/tests/cypress/cypress.config.js
Due: none

Add trivial change to trigger cypress tests to run
  datahub-web-react/src/app/domainV2/DomainItemMenu.tsx
Due: none

refactor(ingestion): Updated Redshift lineage_v1 refs and removed v1 implementation (#14580)
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/tests/unit/redshift/redshift_query_mocker.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, update-capability-summary

Adjusting helper comment
  metadata-ingestion/tests/conftest.py
Due: metadata-ingestion-lint-fix

update test to use globalTags
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldTagsInfo.test.ts
Due: none

Adjusting tests
  metadata-ingestion/tests/integration/snowflake/common.py
Due: metadata-ingestion-lint-fix

Update spark-smoke-test.yml
  .github/workflows/spark-smoke-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

chore(ci) Update cypress projectId to match new project for cypress cloud (#14602)
  datahub-web-react/src/app/domainV2/DomainItemMenu.tsx
  smoke-test/tests/cypress/cypress.config.js
Due: none

fix(openapi): add GraphQL exception handling to GlobalControllerExceptionHandler (#PFP-1620)
  metadata-service/openapi-servlet/build.gradle
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandlerTest.java
Due: metadata-service-openapi-servlet-spotless

enhance test
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/GraphIndexUtilsTest.java
Due: metadata-jobs-mae-consumer-spotless

refactor(ingestion): renamed redshift lineage_v2 to lineage and other v2 nomenclatures
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(constants): jdk8 support fix (#14583)
  metadata-events/mxe-utils-avro/src/main/java/com/linkedin/metadata/EventSchemaConstants.java
Due: metadata-events-mxe-utils-avro-spotless

feat(invite): Invite users modal (#6515)
  datahub-web-react/src/app/identity/ManageUsersAndGroups.tsx
  datahub-web-react/src/app/identity/user/EmailInvitationService.ts
  datahub-web-react/src/app/identity/user/InviteUsersModal.components.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal.hooks.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal/EmailInviteSection.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal/InvitedUsersList.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal/OrDividerComponent.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal/ShareLinkSection.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal/__tests__/ShareLinkSection.test.tsx
  datahub-web-react/src/app/identity/user/RecommendationsHeader.tsx
  datahub-web-react/src/app/identity/user/SimpleSelectRole.tsx
  datahub-web-react/src/app/identity/user/UserRecommendationCard.tsx
  datahub-web-react/src/app/identity/user/UserRecommendationsSection.tsx
  datahub-web-react/src/app/identity/user/ViewInviteTokenModal.hooks.ts
  datahub-web-react/src/app/identity/user/ViewInviteTokenModal.tsx
  datahub-web-react/src/app/identity/user/ViewInviteTokenModal.utils.ts
  datahub-web-react/src/app/identity/user/__tests__/EmailInvitationService.test.ts
  datahub-web-react/src/app/identity/user/__tests__/InviteUsersModal.hooks.test.tsx
  datahub-web-react/src/app/identity/user/__tests__/InviteUsersModal.test.tsx
  datahub-web-react/src/app/identity/user/__tests__/ViewInviteTokenModal.test.tsx
  datahub-web-react/src/app/identity/user/__tests__/ViewInviteTokenModal.utils.test.ts
  datahub-web-react/src/app/identity/user/__tests__/useRoleManagement.test.tsx
  datahub-web-react/src/app/identity/user/useEmailInvitations.tsx
  datahub-web-react/src/app/identity/user/useInviteTokens.tsx
  datahub-web-react/src/app/identity/user/useRoleManagement.tsx
  datahub-web-react/src/app/identity/user/useUserRecommendations.tsx
  datahub-web-react/src/app/settingsV2/IdentitiesContent.tsx
  datahub-web-react/src/app/settingsV2/settingsPaths.tsx
  datahub-web-react/src/graphql/user.graphql
  datahub-web-react/src/setupTests.ts
Due: none

feat(mssql): quote_schemas & odbc_connect fields with related logic were added to SQLServerConfig (#13771)
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/scripts/install_odbc_for_mssql_tests.sh
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_special_symbols_db.json
  metadata-ingestion/tests/integration/sql_server/setup/setup.sql
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_ephemeral_pattern.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_no_db_to_file.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_no_db_with_filter.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_special_symbols_db.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_with_lower_case_urn.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix, update-capability-summary

feat(schemaField): Support tags and terms directly on schema field entity (#14598)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermsMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldType.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entityV2/dataset/profile/schema/utils/utils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldGlossaryTermsInfo.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldTagsInfo.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldGlossaryTermsInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldTagsInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useTagsAndTermsRenderer.tsx
  datahub-web-react/src/app/sharedV2/tags/TagTermGroup.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/schemaField.graphql
  metadata-models/src/main/resources/entity-registry.yml
Due: datahub-graphql-core-spotless

feat(web): Add tooltip and size parameter to EmbeddedHealthIcon
  datahub-web-react/src/app/entityV2/shared/embed/EmbeddedHealthIcon.tsx
Due: none

refactor(ingestion): renamed redshift lineage_v2 to lineage and other v2 nomenclatures (#14603)
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Update AuthModule.java
  datahub-frontend/app/auth/AuthModule.java
Due: none

Update DefaultRestliClientFactory.java
  metadata-utils/src/main/java/com/linkedin/metadata/restli/DefaultRestliClientFactory.java
Due: metadata-utils-spotless

Update MceConsumerApplicationTestConfiguration.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTestConfiguration.java
Due: metadata-jobs-mce-consumer-job-spotless

Update UsageClientFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/usage/UsageClientFactory.java
Due: metadata-service-factories-spotless

Update RestliEntityClientFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityclient/RestliEntityClientFactory.java
Due: metadata-service-factories-spotless

fix(elasticsearch): version for security reason (#14574)
  docker/docker-compose.yml
Due: none

fix(cypress) Fix flaky modules.js cypress test
  datahub-web-react/src/app/homeV3/context/hooks/useTemplateOperations.ts
  datahub-web-react/src/app/homeV3/toast/useShowToast.tsx
  smoke-test/tests/cypress/cypress/e2e/homeV3/modules.js
Due: none

test(ui): Refactor useExtractFieldTagsInfo and useExtractFieldGlossaryTermsInfo tests
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldGlossaryTermsInfo.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldTagsInfo.test.ts
Due: none

fix(docs): clarify redshift config option include_usage_stats
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Due: metadata-ingestion-lint-fix, update-capability-summary

attempt fixing add home default module flakiness but unsure of root cause right now
  smoke-test/tests/cypress/cypress/e2e/homeV3/modules.js
Due: none

fix lint
  datahub-web-react/src/app/shared/useUrlQueryParam.ts
Due: none

feat(graphql): Support logical models (#14588)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/logical/SetLogicalParentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldType.java
  datahub-graphql-core/src/main/resources/logical.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/logical/SetLogicalParentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldMapperTest.java
  entity-registry/src/main/java/com/linkedin/metadata/models/extractor/FieldExtractor.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/GraphIndexUtilsTest.java
  metadata-models/src/main/pegasus/com/linkedin/logical/LogicalParent.pdl
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/GraphIndexUtils.java
  metadata-service/services/src/test/java/com/linkedin/metadata/graph/GraphIndexUtilsTest.java
Due: datahub-graphql-core-spotless, entity-registry-spotless, li-utils-spotless, metadata-jobs-mae-consumer-spotless, metadata-service-services-spotless

on click
  datahub-web-react/src/app/entityV2/shared/embed/EmbeddedHealthIcon.tsx
Due: none

python feedback + unit test cleanup of poc test scripts
  datahub-integrations-service/src/datahub_integrations/gen_ai/embeddings/__init__.py
  datahub-integrations-service/src/datahub_integrations/gen_ai/embeddings/base.py
  datahub-integrations-service/src/datahub_integrations/gen_ai/embeddings/cache.py
  datahub-integrations-service/src/datahub_integrations/gen_ai/embeddings/litellm_wrapper.py
  datahub-integrations-service/src/datahub_integrations/gen_ai/embeddings/utils.py
  datahub-integrations-service/src/datahub_integrations/gen_ai/router.py
  datahub-integrations-service/tests/gen_ai/test_embeddings_utils.py
  datahub-integrations-service/tests/gen_ai/test_litellm_wrapper.py
  semantic-search-poc/test_graphql_semantic_search.py
  semantic-search-poc/test_graphql_semantic_search_integration.py
Due: none

fix(ingestion/snowflake): Fix views schema extraction for corner cases (#14601)
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_schema_extraction_one_table_multiple_views_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Revert "fix(ai/expt): skip telemetry during ai experiments" (#6507)
  datahub-integrations-service/experiments/chatbot/README.md
  datahub-integrations-service/src/datahub_integrations/experimentation/chatbot/st_chat_history.py
  datahub-integrations-service/src/datahub_integrations/telemetry/telemetry.py
Due: datahub-web-react-mdPrettierWriteChanged

chore(oss): update oss-diff exceptions w/ latest merge (#6519)
  contrib/oss-diff/oss-diff-exceptions.json
Due: none

fixing AppConfigResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolverTest.java
Due: datahub-graphql-core-spotless

feedback and fixes
  datahub-integrations-service/src/datahub_integrations/gen_ai/embeddings/litellm_wrapper.py
  datahub-integrations-service/tests/gen_ai/test_embeddings_utils.py
  datahub-integrations-service/tests/gen_ai/test_litellm_wrapper.py
  docker/datahub-gms/env/docker.env
  metadata-io/src/main/java/com/linkedin/metadata/search/semantic/SemanticEntitySearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SemanticSearchServiceIT.java
  metadata-io/src/test/java/com/linkedin/metadata/search/semantic/SemanticEntitySearchIT.java
  metadata-io/src/test/java/com/linkedin/metadata/search/semantic/SemanticEntitySearchServiceTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/semantic/SemanticEntitySearchServiceFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactoryTest.java
Due: metadata-io-spotless, metadata-service-factories-spotless

feat(users): Show invited users in the Manage Users & Groups table (#6518)
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/app/controllers/OidcImplicitController.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/UserInvitationService.java
  datahub-web-react/src/alchemy-components/components/Input/Input.tsx
  datahub-web-react/src/alchemy-components/components/Input/components.ts
  datahub-web-react/src/alchemy-components/components/Input/types.ts
  datahub-web-react/src/alchemy-components/theme/semantic-tokens.ts
  datahub-web-react/src/app/auth/SignUp.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal.components.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal/EmailInviteSection.tsx
  datahub-web-react/src/app/identity/user/UserAndGroupList.components.tsx
  datahub-web-react/src/app/identity/user/UserAndGroupList.tsx
  datahub-web-react/src/app/identity/user/UserList.utils.ts
  datahub-web-react/src/app/identity/user/__tests__/InviteUsersModal.test.tsx
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
Due: datahub-graphql-core-spotless, metadata-service-auth-servlet-impl-spotless
