Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ingest/sigma): stop a broken duplicate workbook from erasing a chart's lineage, and resolve derived columns
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
  metadata-ingestion/tests/unit/sigma/test_dm_element_fgl.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

chore(ingest/sigma): remove dev-run output that should never have been committed
  metadata-ingestion/.gitignore
Due: none

feat(ingest/sigma): make the Data Model side reconcile, and use the chart-to-chart edges Sigma states
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
  metadata-ingestion/tests/unit/sigma/test_dm_element_fgl.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_workbook_customsql_parsing.py
Due: metadata-ingestion-lint-fix

feat(ingest/sigma): resolve chart columns that carry their own warehouse identity, and make name matching opt-in
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
Due: metadata-ingestion-lint-fix

feat(ingest/sigma): audit whether emitted edges are CORRECT, and attribute blocked columns to Sigma's own error
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
  metadata-ingestion/tests/unit/sigma/test_dm_element_fgl.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_workbook_customsql_parsing.py
Due: metadata-ingestion-lint-fix

fix(ingest/sigma): a ref naming a column the upstream does not have was emitted as a dangling edge
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
Due: metadata-ingestion-lint-fix

fix(gms): reuse shared credentials for MSK IAM
  metadata-jobs/common/gradle.lockfile
  metadata-jobs/pe-consumer/gradle.lockfile
  metadata-service/auth-filter/gradle.lockfile
  metadata-service/auth-servlet-impl/gradle.lockfile
  metadata-service/factories/build.gradle
  metadata-service/factories/gradle.lockfile
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/aws/AwsClientFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/CDCConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubKafkaProducerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubMskIamClientCallbackHandler.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaMskIamAuth.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/SimpleKafkaConsumerFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/aws/AwsClientFactoryBedrockCredentialsTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/kafka/DataHubMskIamClientCallbackHandlerTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/kafka/KafkaMskIamAuthTest.java
  metadata-service/graphql-servlet-impl/gradle.lockfile
  metadata-service/openapi-analytics-servlet/gradle.lockfile
  metadata-service/openapi-entity-servlet/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
  metadata-service/servlet/gradle.lockfile
Due: metadata-service-factories-spotless, check-gradle-lockfiles

build: bump aws-msk-iam-auth from 2.3.2 to 2.3.8
  build.gradle
  datahub-frontend/gradle.lockfile
  datahub-upgrade/gradle.lockfile
  metadata-jobs/common/gradle.lockfile
  metadata-jobs/mae-consumer-job/gradle.lockfile
  metadata-jobs/mae-consumer/gradle.lockfile
  metadata-jobs/mce-consumer-job/gradle.lockfile
  metadata-jobs/mce-consumer/gradle.lockfile
  metadata-jobs/pe-consumer/gradle.lockfile
  metadata-service/auth-filter/gradle.lockfile
  metadata-service/auth-servlet-impl/gradle.lockfile
  metadata-service/factories/gradle.lockfile
  metadata-service/graphql-servlet-impl/gradle.lockfile
  metadata-service/openapi-analytics-servlet/gradle.lockfile
  metadata-service/openapi-entity-servlet/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
  metadata-service/servlet/gradle.lockfile
  metadata-service/war/gradle.lockfile
Due: check-gradle-lockfiles

refactor(ingest/bigquery): address PR #19482 review
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/constants.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/partition_discovery/discovery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/partition_discovery/info_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/queries.py
Due: metadata-ingestion-lint-fix

refactor(ingest/bigquery): route sampling partition-column lookup through InfoSchemaQueries
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/partition_discovery/discovery.py
Due: metadata-ingestion-lint-fix

test(ingest/bigquery): update sampling/partition-column tests for consolidated InfoSchemaQueries
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiler.py
Due: metadata-ingestion-lint-fix

test(ingest/bigquery): update external-discovery tests for consolidated InfoSchemaQueries
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiler.py
Due: metadata-ingestion-lint-fix

feat(ingestion/unity): publish Databricks data quality monitors as assertions
  metadata-ingestion/docs/sources/databricks/unity-catalog_post.md
  metadata-ingestion/src/datahub/ingestion/source/unity/assertion.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/data_quality.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/test_unity_catalog_data_quality.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ingestion/unity): import mce_builder helpers directly
  metadata-ingestion/src/datahub/ingestion/source/unity/assertion.py
Due: metadata-ingestion-lint-fix

docs(ingestion/unity): make data quality section behavior-focused, note permissions
  metadata-ingestion/docs/sources/databricks/unity-catalog_post.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ingestion/unity): drop class docstrings to match peer style
  metadata-ingestion/src/datahub/ingestion/source/unity/assertion.py
  metadata-ingestion/src/datahub/ingestion/source/unity/data_quality.py
Due: metadata-ingestion-lint-fix

fix(ingestion/bigquery): keep pseudo-column types on failed type lookup
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/partition_discovery/info_schema.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiling.py
Due: metadata-ingestion-lint-fix

fix(ingestion/bigquery): resolve mypy errors on date-hierarchy branch
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/constants.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiling.py
Due: metadata-ingestion-lint-fix

test(ingestion/unity): fix mypy typing in data quality tests
  metadata-ingestion/tests/unit/test_unity_catalog_data_quality.py
Due: metadata-ingestion-lint-fix

feat(ingest/sac): column-level lineage to SAP Datasphere for DWC live models (#18677)
  metadata-ingestion/docs/sources/sac/sac_post.md
  metadata-ingestion/docs/sources/sac/sac_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/sac/sac.py
  metadata-ingestion/tests/integration/sac/test_sac.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingestion/bigquery): build temporal partition ranges in _filters_from_partition_values
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/partition_discovery/discovery.py
Due: metadata-ingestion-lint-fix

fix(ingestion/unity): harden data-quality error handling and assertion identity
  metadata-ingestion/src/datahub/ingestion/source/unity/assertion.py
  metadata-ingestion/src/datahub/ingestion/source/unity/data_quality.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/test_unity_catalog_config.py
  metadata-ingestion/tests/unit/test_unity_catalog_data_quality.py
Due: metadata-ingestion-lint-fix

test(ingestion/unity): add data-quality source-level and integration tests
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_data_quality_mces_golden.json
  metadata-ingestion/tests/unit/test_unity_catalog_source.py
Due: metadata-ingestion-lint-fix

test(ingestion/unity): add direct proxy tests for data-quality methods
  metadata-ingestion/tests/unit/test_unity_catalog_proxy.py
Due: metadata-ingestion-lint-fix

fix(gms): fail fast on MSK IAM without shared AWS creds
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restorebackup/RestoreStorageStep.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/aws/AwsClientFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/aws/AwsJdbcIamAuth.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/CDCConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubKafkaProducerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubMskIamClientCallbackHandler.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaMskIamAuth.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/SimpleKafkaConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/s3/StsClientFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/aws/AwsClientFactoryBedrockCredentialsTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/aws/AwsIrsaCredentialProviderHistogramTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/kafka/DataHubMskIamClientCallbackHandlerTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/kafka/KafkaMskIamAuthTest.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/credentials/S3CredentialProvider.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/S3CredentialProviderTest.java
Due: datahub-upgrade-spotless, metadata-service-factories-spotless, metadata-service-iceberg-catalog-spotless

fix(gms): create shared AWS creds for MSK IAM
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/aws/AwsClientFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaMskIamAuth.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/aws/AwsClientFactoryBedrockCredentialsTest.java
Due: metadata-service-factories-spotless

refactor(unity): structure DQ completeness assertion like dbt tests
  metadata-ingestion/src/datahub/ingestion/source/unity/assertion.py
  metadata-ingestion/tests/integration/unity/unity_catalog_data_quality_mces_golden.json
  metadata-ingestion/tests/unit/test_unity_catalog_data_quality.py
Due: metadata-ingestion-lint-fix

fix(ingest): preserve JSONL data lake support
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/tests/integration/abs/abs_partitioned_mces_golden.json
  metadata-ingestion/tests/integration/gcs/golden-files/gcs/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
Due: metadata-ingestion-lint-fix

test(ingest): keep golden timestamps stable
  metadata-ingestion/tests/integration/abs/abs_partitioned_mces_golden.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_filename.json
Due: none

fix(ingest): filter unsupported data lake file types
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
Due: metadata-ingestion-lint-fix

test(ingest): cover default extension filtering
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
Due: metadata-ingestion-lint-fix

docs(ingest): note data lake file filtering change
  docs/how/updating-datahub.md
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(unity): extract shared warehouse-start helper; tidy DQ tests
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_data_quality_mces_golden.json
  metadata-ingestion/tests/unit/test_unity_catalog_proxy.py
Due: metadata-ingestion-lint-fix

fix(sec): backport authorization fixes for asset settings, form assignment, and analytics search to v1.6.0 (#19750)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/form/BatchAssignFormResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/form/BatchRemoveFormResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/form/CreateDynamicFormAssignmentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/settings/asset/UpdateAssetSettingsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/form/BatchAssignFormResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/form/CreateDynamicFormAssignmentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/settings/asset/UpdateAssetSettingsResolverTest.java
  docs/api/tutorials/forms.md
  docs/features/feature-guides/compliance-forms/create-a-form.md
  docs/features/feature-guides/custom-asset-summaries.md
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/AssetSettingsAuthorizationValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/FormAssignmentAuthorizationValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/authorization/EntityAspectAuthorizationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/AssetSettingsAuthorizationValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/FormAssignmentAuthorizationValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/authorization/EntityAspectAuthorizationUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/openapi-analytics-servlet/src/main/java/io/datahubproject/openapi/delegates/DatahubUsageEventsImpl.java
  metadata-service/openapi-analytics-servlet/src/main/resources/open-api.yaml
  metadata-service/openapi-analytics-servlet/src/test/java/io/datahubproject/openapi/delegates/DatahubUsageEventsImplTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-factories-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-utils-spotless

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
