Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

fix(kafka-connect): preserve generic regex routing
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/transform_plugins.py
  metadata-ingestion/tests/unit/kafka_connect/test_kafka_connect_transform_pipeline.py
Due: metadata-ingestion-lint-fix

fix(ingest/kafka-connect): preserve hierarchy-specific table names
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/kafka_connect/test_kafka_connect_schema_resolver.py
Due: metadata-ingestion-lint-fix

fix(ratelimiter): recheck token availability after sleep
  metadata-ingestion/src/datahub/utilities/ratelimiter.py
  metadata-ingestion/tests/unit/utilities/test_ratelimiter.py
Due: metadata-ingestion-lint-fix

fix(ingest/clickhouse): resolve query-log lineage to database-qualified URNs
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/tests/unit/test_clickhouse_source.py
Due: metadata-ingestion-lint-fix

fix(ci): match Compose v2 hyphen prefixes in docker_logs.sh
  .github/scripts/docker_logs.sh
  .github/scripts/test_docker_logs.sh
Due: none

fix(montecarlo): validate edges list and edge shape in _paginate
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/client.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: metadata-ingestion-lint-fix

fix(policy): fix for default view self policy (#19297)
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  metadata-utils/src/test/java/com/linkedin/metadata/authorization/PoliciesConfigDefaultPoliciesTest.java
  smoke-test/tests/authorization/test_self_entity_auth.py
Due: metadata-service-auth-impl-spotless, metadata-utils-spotless, smoke-test-lint-fix

fix(ingest/kafka-connect): deduplicate normalized table matches
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/kafka_connect/test_kafka_connect_schema_resolver.py
Due: metadata-ingestion-lint-fix

chore(ci): drop docker_logs.sh regression test from PR
  .github/scripts/test_docker_logs.sh
Due: none

fix(ingest/clickhouse): resolve query-log lineage to database-qualified URNs (#19350)
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/tests/unit/test_clickhouse_source.py
Due: metadata-ingestion-lint-fix

done
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
Due: metadata-io-spotless

fix(auth): restrict container and schemaField under VBAC by default (#19212)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/container/ParentContainersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/mappers/ContainerMapper.java
  docs/authorization/policies.md
  docs/deploy/environment-vars.md
  docs/features/feature-guides/search-access-controls.md
  docs/how/updating-datahub.md
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/ViewAuthorizationConfigurationTest.java
  smoke-test/tests/authorization/test_container_view_auth.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-service-configuration-spotless, smoke-test-lint-fix, update-lineage-file

fix(gms): fetch indexed search fields for entity graph cache (#19288)
  docs/deploy/environment-vars.md
  docs/deploy/gms-entity-graph-cache.md
  entity-registry/src/main/java/com/linkedin/metadata/graph/cache/KnownEntityGraph.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/BoundHierarchyAccess.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/BoundMembershipAccess.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/EntityGraphCacheClients.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/config/EntityGraphEdgeResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/config/EntityGraphRegistry.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphSnapshotBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/semantic/SemanticEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/SearchResultUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/BoundHierarchyAccessDomainTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/BoundMembershipAccessTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/config/EntityGraphRegistryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphSnapshotBuilderGraphTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/semantic/SemanticEntitySearchServiceTest.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/SearchFlags.pdl
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/DomainFieldResolverProviderTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/entitygraph/EntityGraphCacheConfigLoader.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/entitygraph/EntityGraphCacheProperties.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/entitygraph/EntityGraphCacheConfigLoaderTest.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/services/src/main/java/com/linkedin/metadata/search/api/SearchDocFieldFetchConfig.java
  metadata-service/services/src/test/java/com/linkedin/metadata/search/api/SearchDocFieldFetchConfigTest.java
Due: datahub-web-react-mdPrettierWriteChanged, entity-registry-spotless, metadata-io-spotless, metadata-service-auth-impl-spotless, metadata-service-configuration-spotless, metadata-service-services-spotless, update-lineage-file

chore(ci): bump remaining Node 20 action pins
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/lint-jobs.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/notify-slack-status.yml
  .github/workflows/pdl-change-report.yml
  .github/workflows/resusable-playwright-tests.yml
  .github/workflows/reusable-playwright-report.yml
  .github/workflows/test-github-scripts.yml
  .github/workflows/zdu-e2e-daily.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(ingest/metabase): actionable CLL drop warnings and recover name-only columns on single-source cards
  metadata-ingestion/src/datahub/ingestion/source/metabase/models.py
  metadata-ingestion/src/datahub/ingestion/source/metabase/source.py
  metadata-ingestion/tests/unit/metabase/test_metabase_source.py
Due: metadata-ingestion-lint-fix

fix(auth): restrict GMS /auth helpers to system client (#19316)
  docs/how/updating-datahub.md
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/auth-servlet-impl/src/test/java/com/datahub/auth/authentication/AuthServiceControllerTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-auth-servlet-impl-spotless

fix(gms): skip null entity-graph-cache relationship endpoints (#19301)
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/BoundHierarchyAccess.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/BoundMembershipAccess.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/GraphScrollFallback.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/MembershipGraphScrollFallback.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphEndpoints.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphSnapshotBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphView.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/MembershipGraphScrollFallbackTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphEndpointsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphSnapshotBuilderGraphTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphSnapshotBuilderPartialTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphSnapshotBuilderUtilitiesTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphViewTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/store/EntityGraphDistributedStorePublishTest.java
  metadata-io/src/test/java/com/linkedin/metadata/usage/flush/AdaptiveFlushCoordinatorAlignmentTest.java
Due: metadata-io-spotless

fix(policies): apply validator level aspect edit controls for user and group aspects (#19360)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolverTest.java
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactoryTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  smoke-test/tests/authorization/test_privilege_grant_auth.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-factories-spotless, metadata-utils-spotless, smoke-test-lint-fix

perf(gms): batch frontier scrolls in hierarchy graph fallback (#19412)
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/GraphScrollFallback.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/GraphScrollFallbackTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceFilterTest.java
Due: metadata-io-spotless

fix(openapi): redact unauthorized lineage scroll endpoints as restricted (#19463)
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/ScrollUtils.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/LineageController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/LineageControllerTest.java
Due: metadata-service-openapi-servlet-spotless

fix(ci): match Compose v2 hyphen prefixes in docker_logs.sh (#19545)
  .github/scripts/docker_logs.sh
Due: none

fix(graphql): restore Container IsPartOf INCOMING via GraphClient (#19489)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolverTest.java
  docs/deploy/gms-entity-graph-cache.md
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless

fix(graph): stop entity-graph cache from silently dropping relationships (#19498)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolverTest.java
  docs/deploy/gms-entity-graph-cache.md
  entity-registry/src/main/java/com/linkedin/metadata/graph/cache/EntityGraphCache.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/GraphScrollFallback.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/MembershipBindings.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/MembershipGraphScrollFallback.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/MembershipReadSpec.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/MembershipReadSpecs.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/service/EntityGraphCacheService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/service/read/GraphReadBackend.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/GraphScrollFallbackTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/MembershipGraphScrollFallbackTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/service/EntityGraphCacheServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/service/read/GraphReadBackendAbsentSeedTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, entity-registry-spotless, metadata-io-spotless

fix(ingest/metabase): resolve Bugbot review findings
  metadata-ingestion/src/datahub/ingestion/source/metabase/models.py
  metadata-ingestion/src/datahub/ingestion/source/metabase/source.py
  metadata-ingestion/tests/unit/metabase/test_metabase_mbql.py
  metadata-ingestion/tests/unit/metabase/test_metabase_source.py
Due: metadata-ingestion-lint-fix

feat(auth): enforce timeseries view privileges across APIs (#19508)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardUsageStatsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/TimeSeriesAspectResolver.java
  docs/api/restli/restli-overview.md
  docs/authorization/policies.md
  docs/how/updating-datahub.md
  docs/modeling/metadata-model.md
  metadata-io/src/main/java/com/linkedin/metadata/authorization/TimeseriesAuthUtil.java
  metadata-io/src/test/java/com/linkedin/metadata/authorization/TimeseriesAuthUtilTest.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/TimeseriesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/analytics/Analytics.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/analytics/AnalyticsTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-openapi-servlet-spotless, metadata-service-restli-servlet-impl-spotless

fix(ingest/metabase): harden single-source name-only recovery
  metadata-ingestion/src/datahub/ingestion/source/metabase/mbql.py
  metadata-ingestion/src/datahub/ingestion/source/metabase/source.py
  metadata-ingestion/tests/unit/metabase/test_metabase_mbql.py
Due: metadata-ingestion-lint-fix

fix(i18n): do not fold Simplified Chinese tags to zh-TW
  datahub-web-react/src/app/i18n/__tests__/utils.test.ts
  datahub-web-react/src/app/i18n/utils.ts
Due: web-react-lint-fix

address review comments
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClientCache.java
  metadata-service/restli-client/src/test/java/com/linkedin/entity/client/EntityClientCacheTest.java
Due: metadata-io-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless

style(metabase): trim verbose review-fix comments
  metadata-ingestion/src/datahub/ingestion/source/metabase/mbql.py
  metadata-ingestion/src/datahub/ingestion/source/metabase/models.py
  metadata-ingestion/src/datahub/ingestion/source/metabase/source.py
Due: metadata-ingestion-lint-fix

address review comments
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
Due: metadata-io-spotless

chore(ci): bump GitHub Actions pins off Node 20 (#19544)
  .github/actions/docker-custom-build-and-push/action.yml
  .github/actions/report-test-results/action.yml
  .github/actions/restore-dependency-caches/action.yml
  .github/workflows/actions.yml
  .github/workflows/agent-context.yml
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/contributor-open-pr-comment.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/docker-unified-nightly.yml
  .github/workflows/docker-unified.yml
  .github/workflows/documentation.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/lint-jobs.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/notify-slack-status.yml
  .github/workflows/pdl-change-report.yml
  .github/workflows/prefect-plugin.yml
  .github/workflows/python-build-pages.yml
  .github/workflows/resusable-playwright-tests.yml
  .github/workflows/reusable-playwright-report.yml
  .github/workflows/security-scan-linear-sync.yml
  .github/workflows/spark-smoke-test.yml
  .github/workflows/test-github-scripts.yml
  .github/workflows/zdu-e2e-daily.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(graph): match relatedEntityTypes case-insensitively (#19268)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolverTest.java
Due: datahub-graphql-core-spotless

fix(lineage): bound scrollAcrossLineage traversal to prevent GMS OOM (#19413)
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryBaseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryElasticsearch7DAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/SharedRelationshipBudgetTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
Due: metadata-io-spotless

perf(gms): Cache corpGroup roleMembership via SystemEntityClient (#19404)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/BatchAssignRoleResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/BatchAssignRoleResolverTest.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless

perf(graphql): batch-load Dashboard.usageStats buckets and metrics (#18266)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardUsageStatsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardUsageStatsUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/DashboardUsageBucketsBatchLoader.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardUsageStatsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardUsageStatsUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/DashboardUsageBucketsBatchLoaderTest.java
  docs/how/updating-datahub.md
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceUnitTest.java
  smoke-test/tests/timeseries/test_dashboard_usage_stats_graphql.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-io-spotless, smoke-test-lint-fix

perf(gms): Use cached aspect for per-request CorpUserFlags fetches (#19476)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/MembershipGraphScrollFallback.java
  metadata-io/src/main/java/com/linkedin/metadata/usage/identity/AspectCorpUserFlagsProvider.java
  metadata-io/src/test/java/com/linkedin/metadata/usage/identity/AspectCorpUserFlagsProviderTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless

fix(postgres): address remaining pgTimeseries IAM, filter, and scroll review findings
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesStoreConnections.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgQueueSchemaStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesStoreConnectionsTest.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV3Strategy.java
  metadata-io/src/main/java/com/linkedin/metadata/sqlsetup/postgres/PostgresPartmanSqlSetupSupport.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAggregatedStatsDao.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterGraphExpansion.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterSqlBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV3StrategyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/sqlsetup/postgres/PostgresPartmanSqlSetupSupportTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAggregatedStatsDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesScrollKeysetTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterGraphExpansionTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterSqlBuilderTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/PostgresSqlSetupProperties.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/CrossCloudIamUtils.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/PgTimeseriesEbeanConfigFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/timeseries/PgTimeseriesEbeanConfigFactoryPoolIdentityTest.java
Due: datahub-upgrade-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

test(timeseries): stub v1.7 two-arg IndexConvention in dashboard usage batch test
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceUnitTest.java
Due: metadata-io-spotless

fix(ingestion/metabase): don't invent columns for card-ref passthrough models
  metadata-ingestion/src/datahub/ingestion/source/metabase/source.py
  metadata-ingestion/tests/unit/metabase/test_metabase_mbql.py
  metadata-ingestion/tests/unit/metabase/test_metabase_source.py
Due: metadata-ingestion-lint-fix
