Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix: update golden files
  metadata-ingestion/tests/integration/oracle/golden_files/golden_test_error_handling.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_test_ingest_with_database.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_test_ingest_with_out_database.json
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_filtered_upstream_asset_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_hidden_asset_tags_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_hidden_worksheets_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_tags_disabled_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_multiple_sites_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_no_hidden_assets_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_permission_ingestion_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_site_name_pattern_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_sites_as_container_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
Due: none

fix: oracle golden files
  metadata-ingestion/tests/integration/oracle/golden_files/golden_test_error_handling.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_test_ingest_with_database.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_test_ingest_with_out_database.json
Due: none

fix(ingestion/json-schema): add fallback logging and empty name guard for display name strategies
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
Due: metadata-ingestion-lint-fix

feat(ingestion/json-schema): add dataset_name_strategy for display name control
  metadata-ingestion/docs/sources/json-schema/json-schema_post.md
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
  metadata-ingestion/tests/unit/schema/test_json_schema_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(kafka): add bounded auth exception retry to consumer factories for MSK IAM resilience
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/ConsumerConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/CDCConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaConsumerAuthExceptionGuard.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/SimpleKafkaConsumerFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/kafka/KafkaConsumerAuthExceptionGuardTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactoryTest.java
Due: metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

Update kafka_post.md
  metadata-ingestion/docs/sources/kafka/kafka_post.md
Due: datahub-web-react-mdPrettierWriteChanged

fix: flaky integration tests
  smoke-test/pyproject.toml
  smoke-test/tests/status/test_lifecycle_state.py
  smoke-test/tests/utils.py
Due: smoke-test-lint-fix

fix docs
  metadata-ingestion/docs/sources/dataplex/dataplex_post.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(dataplex): isolate per-(project,location) listing failures in Phase 1a
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_entries.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_entries.py
Due: metadata-ingestion-lint-fix

fix(dataplex): guard _track_entry_for_lineage behind entity is not None check
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_entries.py
Due: metadata-ingestion-lint-fix

fix(dataplex): add missing return type annotation to stub_side_effect in test
  metadata-ingestion/tests/unit/dataplex/test_dataplex_entries.py
Due: metadata-ingestion-lint-fix

style(dataplex): ruff format test_dataplex_entries.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_entries.py
Due: metadata-ingestion-lint-fix

feat(ingestion): add SharePoint connector
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/sharepoint.ts
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/sharepoint.ts
  datahub-web-react/src/app/ingestV2/source/builder/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  datahub-web-react/src/images/sharepointlogo.svg
  metadata-ingestion/docs/sources/sharepoint/README.md
  metadata-ingestion/docs/sources/sharepoint/sharepoint_post.md
  metadata-ingestion/docs/sources/sharepoint/sharepoint_pre.md
  metadata-ingestion/docs/sources/sharepoint/sharepoint_recipe.yml
  metadata-ingestion/examples/recipes/sharepoint_document_to_datahub.yml
  metadata-ingestion/examples/recipes/sharepoint_to_datahub.yml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/sharepoint/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/sharepoint/sharepoint_client.py
  metadata-ingestion/src/datahub/ingestion/source/sharepoint/sharepoint_config.py
  metadata-ingestion/src/datahub/ingestion/source/sharepoint/sharepoint_report.py
  metadata-ingestion/src/datahub/ingestion/source/sharepoint/sharepoint_schema.py
  metadata-ingestion/src/datahub/ingestion/source/sharepoint/sharepoint_source.py
  metadata-ingestion/tests/integration/sharepoint/__init__.py
  metadata-ingestion/tests/integration/sharepoint/test_sharepoint_integration.py
  metadata-ingestion/tests/unit/sharepoint/__init__.py
  metadata-ingestion/tests/unit/sharepoint/test_sharepoint_client.py
  metadata-ingestion/tests/unit/sharepoint/test_sharepoint_config.py
  metadata-ingestion/tests/unit/sharepoint/test_sharepoint_source.py
  metadata-ingestion/uv.lock
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

Update datahub.json
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
Due: none

fix(ingest/glue): don't override S3 entity datasetProperties when seen in Glue Jobs
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_lineage.json
  metadata-ingestion/tests/unit/glue/glue_mces_lake_formation_tags_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/glue): fix S3 URI not found message
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Due: metadata-ingestion-lint-fix

fixme remove get_dataflow_s3_names
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/glue): don't add format extension to Glue Job S3 URNs
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Due: metadata-ingestion-lint-fix

fix(sharepoint): add missing schema inference and path_spec dependencies
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

ci(metadata-ingestion): selective unit tests via snob and deduplicate lint steps
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/setup.py
Due: datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ci): correct pytest-snob package name and regenerate lock file
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(ci): use installDevTest for testQuick to restore full connector dep set
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ci): add upper bound to pytest-snob to satisfy dep-pinning check
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(ci): treat pytest exit code 5 as success when snob selects no tests
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(ci): add ci:full-tests label to bypass snob and run full unit test suite
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ingestion/azure-data-factory): use attribute access on PipelineRunInvokedBy instead of dict.get()
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_source.py
Due: metadata-ingestion-lint-fix

ci(metadata-ingestion): run lint on all Python versions, deduplicate only version-independent checks
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

ci(metadata-ingestion): restore installPackageOnly for lint, add explicit installDevTest before tests
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

ci(metadata-ingestion): run connectorRegistry on all Python versions to match master behavior
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(omni): wire StatefulStaleMetadataRemovalConfig to fix stateful ingestion AttributeError
  metadata-ingestion/src/datahub/ingestion/source/omni/omni_config.py
Due: metadata-ingestion-lint-fix

ci(metadata-ingestion): explicit installDevTest on all versions, connectorRegistry/lineageGen on 3.11 only
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

eat(ingest/informatica): add Informatica Cloud (IDMC) connector
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/ingestion/source/informatica/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/client.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/config.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/models.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/source.py
Due: metadata-ingestion-lint-fix

fix(bigquery): skip malformed policy tag resource names instead of storing as-is
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_policy_tags.py
Due: metadata-ingestion-lint-fix

fix(bigquery): use report.warning with exc for missing policy_tags INFORMATION_SCHEMA column
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Due: metadata-ingestion-lint-fix

refactor(bigquery): remove stale timer.pause() from column processing loops
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Due: metadata-ingestion-lint-fix

--wip-- [skip ci]
  datahub-web-react/src/app/searchV2/filters/styledComponents.ts
Due: web-react-lint-fix

test(bigquery): use parametrize for _parse_taxonomy_id tests
  metadata-ingestion/tests/unit/bigquery/test_bigquery_policy_tags.py
Due: metadata-ingestion-lint-fix

feat(bigquery): add list_policy_tags API call counter and taxonomy info logging
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Due: metadata-ingestion-lint-fix

feat(bigquery): time policy tag resolution per dataset and accumulate in report
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
