Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ingest/clickhouse): skip global dictionaries that share a table's name
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
Due: metadata-ingestion-lint-fix

fix(ingest/clickhouse): warn instead of failing when dictionary grants are missing
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
Due: metadata-ingestion-lint-fix

docs(ingest/transformer): state the tested condition in the dedup docstrings
  metadata-ingestion/tests/unit/test_transform_dataset.py
Due: metadata-ingestion-lint-fix

docs(ingest/clickhouse): note new grants for config-file dictionaries
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(analytics): fix SearchBarFilter events fail mapping for values
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/searchV2/filtersV2/__tests__/useAppliedFilters.test.ts
  datahub-web-react/src/app/searchV2/filtersV2/context/useAppliedFilters.ts
Due: web-react-lint-fix

fix(ingest/transformer): never emit duplicate entries from the OVERWRITE path
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_terms.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_domain.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_ownership.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_transformer.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Due: metadata-ingestion-lint-fix

fix(ingest/dbt): dedupe owners carried forward by the write_semantics=PATCH merge
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

Update docs/how/updating-datahub.md
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/clickhouse): improve warning messages for missing dictionary access
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
Due: metadata-ingestion-lint-fix

docs(executor): require Kafka channel for Remote Executors on GCP instances
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Due: datahub-web-react-mdPrettierWriteChanged

Apply suggestion from @cubic-dev-ai[bot]
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(executor): scope SQS egress to the SQS channel; reference Kubernetes install
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Due: datahub-web-react-mdPrettierWriteChanged

test(ingest/probe): skip the recipe tests whose connector extra is not installed
  metadata-ingestion/tests/unit/agent/test_recipe.py
Due: metadata-ingestion-lint-fix

fix(ingest/probe): make Verdict refuse an included verdict that names an exclusion
  metadata-ingestion/src/datahub/ingestion/agent/filter_check.py
  metadata-ingestion/src/datahub/ingestion/agent/verdicts.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_probe_verdicts.py
  metadata-ingestion/tests/unit/agent/test_verdict_hooks.py
Due: metadata-ingestion-lint-fix

test(ingest/probe): pin that foreign text never leaves the probe's untested error paths
  metadata-ingestion/tests/unit/agent/test_error_policy.py
  metadata-ingestion/tests/unit/cli/test_recipe_probe_cli.py
Due: metadata-ingestion-lint-fix

fix(ingest/dbt): preserve column casing in SQL-parsed column lineage
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source_cll.py
Due: metadata-ingestion-lint-fix

fix(ingest/transformer): let the configured entry win when dedup collapses a pair
  metadata-ingestion/src/datahub/ingestion/transformer/add_ownership.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_transformer.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Due: metadata-ingestion-lint-fix

fix(ingest/dbt): include the ownership source in the dedup key
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

docs(ingest/probe): format the updating-datahub entry
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingest): advertise the Probe capability on sources that can be probed
  docs/cli.md
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/cli/resources/RECIPE_AGENT_CONTEXT.md
  metadata-ingestion/src/datahub/ingestion/agent/probe_methods.py
  metadata-ingestion/src/datahub/ingestion/api/decorators.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/unit/agent/test_sql_import_isolation.py
  metadata-ingestion/tests/unit/api/test_probe_capability.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

chore(ingest): regenerate the connector registry
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
Due: none

fix(ingest): don't advertise Probe on the ClickHouse and Trino usage sources
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
Due: metadata-ingestion-lint-fix

fix(ingestion/sqlmesh): case schema field paths like column lineage
  metadata-ingestion/src/datahub/ingestion/source/sqlmesh/base.py
  metadata-ingestion/src/datahub/ingestion/source/sqlmesh/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/sqlmesh/schema.py
  metadata-ingestion/tests/unit/sqlmesh/test_sqlmesh_source.py
Due: metadata-ingestion-lint-fix

refactor(ui): consolidate app (part 5) (#20203)
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/entityForm/Form.tsx
  datahub-web-react/src/app/entity/shared/entityForm/FormByEntity.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/VerificationPrompt.tsx
  datahub-web-react/src/app/entityV2/document/summary/EditableTitle.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/SchemaAssertionDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/SqlAssertionDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/VolumeAssertionDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/contract/builder/DataContractBuilderModal.tsx
  datahub-web-react/src/app/homeV3/context/hooks/utils/moduleOperationsUtils.ts
  datahub-web-react/src/app/homeV3/templateRow/hooks/useTemplateRowLogic.ts
  datahub-web-react/src/app/identity/user/ViewInviteTokenModal.tsx
  datahub-web-react/src/app/search/context/constants.ts
  datahub-web-react/src/app/search/sorting/useSortInput.ts
  datahub-web-react/src/app/searchV2/SearchablePage.tsx
  datahub-web-react/src/app/sharedV2/sidebar/HierarchicalBrowseSidebar/constants.ts
  datahub-web-react/src/graphql/chart.graphql
  datahub-web-react/src/graphql/dataFlow.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/graphql/mlModelGroup.graphql
  datahub-web-react/src/graphql/scroll.graphql
  datahub-web-react/src/graphql/search.graphql
  e2e-test/ui/playwright/pages/glossary.page.ts
Due: web-react-lint-fix

fix(ingest/redshift): review follow-ups for the probe
  metadata-ingestion/docs/sources/redshift/redshift_post.md
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_probe.py
  metadata-ingestion/tests/unit/redshift/test_redshift_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/redshift): probe listings from ingestion's own catalog queries
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_probe.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/tests/unit/redshift/test_redshift_probe.py
Due: metadata-ingestion-lint-fix

refactor(ingest/probe): expose the Redshift statement ceiling for raw connections
  metadata-ingestion/tests/unit/agent/test_query_budget.py
Due: metadata-ingestion-lint-fix

docs(ingest/redshift): document probing a Redshift recipe
  metadata-ingestion/docs/sources/redshift/redshift_post.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingest/redshift): probe provider over the ingestion connection
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_probe.py
  metadata-ingestion/tests/unit/agent/test_sql_passthrough.py
  metadata-ingestion/tests/unit/redshift/test_redshift_probe.py
Due: metadata-ingestion-lint-fix

refactor(ingest/probe): build and prime SQLAlchemy probe engines through one function
  metadata-ingestion/src/datahub/ingestion/source/sql/sqlalchemy_probe.py
  metadata-ingestion/tests/unit/agent/test_probe_engine_hook.py
Due: metadata-ingestion-lint-fix

fix(ingest/redshift): judge probed views by table_pattern as ingestion does
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_probe.py
  metadata-ingestion/tests/unit/agent/test_filter_check.py
Due: metadata-ingestion-lint-fix

refactor(ingest/mssql): share single-database, db-name and sql_variant logic with the probe
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

fix(ingest/mssql): dial pyodbc from the probe for an mssql-odbc recipe
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/mssql): per-database probe listings and a databases command
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/query.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/redshift): probe columns and view definitions via ingestion's fetchers
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_probe.py
  metadata-ingestion/tests/unit/redshift/test_redshift_probe.py
Due: metadata-ingestion-lint-fix

refactor(ingest/probe): move the SQL Server and Redshift probes onto the consolidated probe framework
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/mssql/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

docs(ingest/mssql): document the per-database SQL Server probe
  metadata-ingestion/docs/sources/mssql/mssql_post.md
Due: datahub-web-react-mdPrettierWriteChanged

test(ingest/mssql): pin what the probe sql scope admits and refuses
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

feat(ingest/mssql): probe stored procedures with the verdict ingestion makes
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
Due: metadata-ingestion-lint-fix

refactor(ingest/probe): move the SQL Server and Redshift probes onto the consolidated interface
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/mssql_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/agent/test_catalog_scopes.py
  metadata-ingestion/tests/unit/agent/test_mssql_probe.py
  metadata-ingestion/tests/unit/agent/test_probe_engine_hook.py
  metadata-ingestion/tests/unit/agent/test_sql_filter_target.py
  metadata-ingestion/tests/unit/redshift/test_redshift_probe.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
