Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$

feat(homepage): support rendering top domains module in the new home page (#14010)
  datahub-web-react/src/app/homeV3/module/Module.tsx
  datahub-web-react/src/app/homeV3/module/components/EmptyContent.tsx
  datahub-web-react/src/app/homeV3/module/components/EntityItem.tsx
  datahub-web-react/src/app/homeV3/modules/domains/TopDomainsModule.tsx
  datahub-web-react/src/app/homeV3/modules/domains/__tests__/useDomainModuleUtils.test.tsx
  datahub-web-react/src/app/homeV3/modules/domains/useDomainModuleUtils.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/AutoCompleteEntityItem.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/icon/DefaultEntityIcon.tsx
Due: none

fix(homepage): remove default subscription module and its type references (#14027)
  datahub-graphql-core/src/main/resources/module.graphql
  metadata-models/src/main/pegasus/com/linkedin/module/DataHubPageModuleType.pdl
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/page-modules.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/page-templates.yaml
Due: none

feat(customHomePage): adjust rows component and add wrapping (#14025)
  datahub-web-react/src/app/homeV3/module/components/ModuleContainer.tsx
  datahub-web-react/src/app/homeV3/template/Template.tsx
  datahub-web-react/src/app/homeV3/template/components/AddModuleButton.tsx
  datahub-web-react/src/app/homeV3/template/types.ts
  datahub-web-react/src/app/homeV3/templateRow/TemplateRow.tsx
  datahub-web-react/src/app/homeV3/templateRow/__tests__/utils.test.ts
  datahub-web-react/src/app/homeV3/templateRow/types.ts
  datahub-web-react/src/app/homeV3/templateRow/utils.ts
  datahub-web-react/src/app/previewV2/EntityHeader.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/AutoCompleteEntityItem.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/DisplayName.tsx
Due: none

Enable UI theme V2 by default (#13995)
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

feat(search): custom search configuration for highlighting
  docs/how/search.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/BaseRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/CustomizedQueryHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/HighlightConfigurationResult.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchFieldConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/SearchDAOTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/CustomizedQueryHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/resources/search_config_fixture_test.yml
  metadata-jobs/mce-consumer-job/src/main/java/com/linkedin/metadata/restli/RestliServletConfig.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/SearchFlags.pdl
  metadata-service/configuration/build.gradle
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/CustomConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/custom/CustomSearchConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/custom/FieldConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/custom/HighlightFields.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/custom/SearchFields.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/main/resources/search_config.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/search/custom/CustomSearchConfigurationTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchServiceFactory.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/ElasticsearchController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/elastic/ElasticsearchControllerTest.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/war/src/main/java/com/linkedin/gms/servlet/RestliServletConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-openapi-servlet-spotless, metadata-service-war-spotless

feat(web) parameterize urls for remaining tabs of data health dashboard (#6188)
  datahub-web-react/src/app/observe/dataset/DatasetHealthPage.tsx
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByAssertionSummary.tsx
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByAssertionSummary.utils.ts
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByAssertionSummaryTable.tsx
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByTableSummary.tsx
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByTableSummary.utils.ts
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByTableSummaryTable.tsx
  datahub-web-react/src/app/observe/dataset/incident/IncidentsSummary.tsx
  datahub-web-react/src/app/observe/dataset/incident/IncidentsSummary.utils.ts
  datahub-web-react/src/app/observe/dataset/incident/IncidentsSummaryTable.tsx
  datahub-web-react/src/app/observe/dataset/shared/__tests__/utils.test.ts
  datahub-web-react/src/app/observe/dataset/shared/util.ts
Due: none

docs: typos fixed
  docs/developers.md
  docs/troubleshooting/build.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: typos fixed (#14068)
  docs/developers.md
  docs/troubleshooting/build.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/mlflow): add missing container modifier (#14046)
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(cli): add back upgrade manually on cases communicating with server (#14052)
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/container_cli.py
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/exists_cli.py
  metadata-ingestion/src/datahub/cli/get_cli.py
  metadata-ingestion/src/datahub/cli/iceberg_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/cli/put_cli.py
  metadata-ingestion/src/datahub/cli/specific/assertions_cli.py
  metadata-ingestion/src/datahub/cli/specific/datacontract_cli.py
  metadata-ingestion/src/datahub/cli/specific/dataproduct_cli.py
  metadata-ingestion/src/datahub/cli/specific/dataset_cli.py
  metadata-ingestion/src/datahub/cli/specific/forms_cli.py
  metadata-ingestion/src/datahub/cli/specific/group_cli.py
  metadata-ingestion/src/datahub/cli/specific/structuredproperties_cli.py
  metadata-ingestion/src/datahub/cli/specific/user_cli.py
  metadata-ingestion/src/datahub/cli/state_cli.py
  metadata-ingestion/src/datahub/cli/timeline_cli.py
Due: metadata-ingestion-lint-fix

fix(ingest/tableau): add missing container capability
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_constant.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix text
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(ingest/report): fix bug w.r.t. aspect count
  metadata-ingestion/src/datahub/ingestion/api/report.py
  metadata-ingestion/tests/unit/test_source.py
Due: metadata-ingestion-lint-fix

add workbook
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(highlighted queries): Manually sourced highlighted queries should not have a time filter. (#6212)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/useHighlightedQueries.ts
Due: none

addressing comments
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiler.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(ingest): better experimental contract
  metadata-ingestion/src/datahub/ingestion/autogenerated/lineage_helper.py
  metadata-ingestion/tests/unit/autogenerated/test_lineage_helper.py
Due: metadata-ingestion-lint-fix

fix(ci): remove use of wildcards in hashFiles
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

temp for testing
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ingest/tableau): add missing container capability (#14069)
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_constant.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(ingest/report): fix bug w.r.t. aspect count (#14070)
  metadata-ingestion/src/datahub/ingestion/api/report.py
  metadata-ingestion/tests/unit/test_source.py
Due: metadata-ingestion-lint-fix

temp
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Update snowflake queries tests for QueryLogQueryBuilder integration
  metadata-ingestion/tests/unit/snowflake/test_snowflake_queries.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_querylog_builder.py
Due: metadata-ingestion-lint-fix

feat(ingest): tabulate things
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/ingestion/api/report.py
Due: metadata-ingestion-lint-fix

Remove accidentally pushed test files
  metadata-ingestion/baseline.txt
  metadata-ingestion/debug_filter_test.py
  metadata-ingestion/feature.txt
Due: metadata-ingestion-lint-fix

Update profiler.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Couple of more fixes to support streaming and delta properly
  metadata-integration/java/acryl-spark-lineage/README.md
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/acryl-spark-lineage/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandInputDatasetBuilder.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-integration-java-acryl-spark-lineage-spotless

fix lint
  metadata-ingestion/src/datahub/ingestion/api/report.py
Due: metadata-ingestion-lint-fix

fix error
  metadata-ingestion/src/datahub/ingestion/autogenerated/lineage_helper.py
  metadata-ingestion/tests/unit/autogenerated/test_lineage_helper.py
Due: metadata-ingestion-lint-fix

fix(ingest): better experimental contract (#14071)
  metadata-ingestion/src/datahub/ingestion/autogenerated/lineage_helper.py
  metadata-ingestion/tests/unit/autogenerated/test_lineage_helper.py
Due: metadata-ingestion-lint-fix

feat(ingest): improve readability by using tables (#14074)
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/ingestion/api/report.py
Due: metadata-ingestion-lint-fix

chore(deps): fix (org.mozilla:rhino) (#13270)
  build.gradle
Due: none

chore(deps): fix (org.pac4j:pac4j-oidc) (#14065)
  build.gradle
Due: none

feat(search): custom search configuration for highlighting (#14057)
  docs/how/search.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/BaseRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/CustomizedQueryHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/HighlightConfigurationResult.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchFieldConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/SearchDAOTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/CustomizedQueryHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/resources/search_config_fixture_test.yml
  metadata-jobs/mce-consumer-job/src/main/java/com/linkedin/metadata/restli/RestliServletConfig.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/SearchFlags.pdl
  metadata-service/configuration/build.gradle
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/CustomConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/custom/CustomSearchConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/custom/FieldConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/custom/HighlightFields.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/custom/SearchFields.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/main/resources/search_config.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/search/custom/CustomSearchConfigurationTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchServiceFactory.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/ElasticsearchController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/elastic/ElasticsearchControllerTest.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/war/src/main/java/com/linkedin/gms/servlet/RestliServletConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-openapi-servlet-spotless, metadata-service-war-spotless

fix(ci): remove use of wildcards in hashFiles (#14072)
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

build(docker): use root as build context (#13968) (#6228)
  .dockerignore
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  gradle/docker/docker.gradle
Due: none

chore(gx-plugin): require pydantic v2 (#14059)
  .github/workflows/gx-plugin.yml
  docs/how/updating-datahub.md
  metadata-ingestion-modules/gx-plugin/setup.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-modules-gx-plugin-lint-fix
