Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:mdPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: ./gradlew :datahub-actions:lintFix
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

remove file committed unnecessarily
  datahub-web-react/src/app/entityV2/summary/links/LinksList.tsx
Due: none

fix lint
  datahub-web-react/src/app/entityV2/shared/components/styled/LinkFormModal.tsx
Due: none

fix lint
  datahub-web-react/src/app/entityV2/summary/links/LinksList.tsx
Due: none

doc updates - kafka-setup references
  docs/architecture/docker-containers.md
  docs/deploy/confluent-cloud.md
  docs/how/kafka-config.md
  metadata-jobs/mce-consumer-job/README.md
  metadata-service/README.md
Due: datahub-web-react-mdPrettierWriteChanged

test updates
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
Due: metadata-io-spotless

Update release notes for v0.3.13.2-acryl
  docs/managed-datahub/release-notes/v_0_3_13.md
Due: datahub-web-react-mdPrettierWriteChanged

irc updates
  docs/managed-datahub/release-notes/v_0_3_13.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(extractor): changed imports, WIP sqlparser for databases
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_extractors.py
Due: metadata-ingestion-modules-airflow-plugin-lint-fix

chore: update boto3-stubs to 1.40.0
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/test_aws_common.py
Due: metadata-ingestion-lint-fix

refactor(s3): move bucket/bucket_name handling inside _process_{simple,templated}_path
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor(tests/s3): use Moto for mocks for resolve_templated_folders unit tests
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Due: metadata-ingestion-lint-fix

refactor(s3): make resolve_templated_folders use full S3 URIs
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor(s3_boto_utils): list_folders_path overhaul
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_boto_utils.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor(tests/s3): use Moto for mocks for get_folder_info unit tests
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Due: metadata-ingestion-lint-fix

chore(tests/s3): raise Boto logging level to INFO
  metadata-ingestion/tests/integration/s3/test_s3.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Due: metadata-ingestion-lint-fix

refactor(s3): make listing table folders use full S3 URIs
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor(s3_boto_utils): add list_buckets
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_boto_utils.py
Due: metadata-ingestion-lint-fix, update-capability-summary

add release notes from my end
  docs/managed-datahub/release-notes/v_0_3_13.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ci): disable legacy quickstart validation (#14537)
  .github/workflows/build-and-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

update quickstart compose file for cli
  docker/quickstart/docker-compose.quickstart-profile.yml
Due: none

rename create to enabled in topic configuration
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/CreateKafkaTopicsStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/kafka/CreateKafkaTopicsStepTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/TopicsConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-upgrade-spotless, metadata-service-configuration-spotless

doc updates
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/CreateKafkaTopicsStep.java
Due: datahub-upgrade-spotless

kafka setup doc updates
  docker/README.md
  docs-website/sidebars.js
  docs/deploy/kubernetes.md
  docs/docker/development.md
  docs/how/kafka-config.md
  docs/quickstart.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(kafka): refactor kafka topic mgmt and move setup to system-update
  build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BuildIndicesConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/KafkaSetupConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/ConfluentSchemaRegistryCleanupPolicyStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/CreateKafkaTopicsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/KafkaSetup.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/WaitForKafkaReadyStep.java
  datahub-upgrade/src/main/resources/application.properties
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeBlockingTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/kafka/ConfluentSchemaRegistryCleanupPolicyStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/kafka/CreateKafkaTopicsStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/kafka/WaitForKafkaReadyStepTest.java
  docker/build.gradle
  docker/datahub-upgrade/start.sh
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/README.md
  docker/kafka-setup/build.gradle
  docker/kafka-setup/env/docker.env
  docker/kafka-setup/env_to_properties.py
  docker/kafka-setup/kafka-config.sh
  docker/kafka-setup/kafka-ready.sh
  docker/kafka-setup/kafka-setup.sh
  docker/kafka-setup/kafka-topic-workers.sh
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/KafkaConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/SetupConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/TopicsConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/kafka/KafkaConfigurationTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/system_telemetry/OpenTelemetryBaseFactoryTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/telemetry/TrackingServiceFactoryTest.java
  settings.gradle
Due: datahub-web-react-mdPrettierWriteChanged, datahub-upgrade-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

Fix transformational leaves display issue in lineage
  docs/managed-datahub/release-notes/v_0_3_13.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ingestion): Moved lineage_v1 refs to concreate impl, removed use_lineage_v2
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor(s3): extract s3_boto_utils.list_objects_recursive
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_boto_utils.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor(s3): make _process_simple_path use full S3 URIs
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_boto_utils.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(path_spec): remove trailing suffix before calling basename in extract_table_name_and_path
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(s3): ensure read_file_spark always has a slash after bucket name
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(s3): handle bucket wildcards in simple path specs
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_boto_utils.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_bucket_wildcard_single_file.json
  metadata-ingestion/tests/integration/s3/sources/s3/bucket_wildcard_single_file.json
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(s3): handle bucket wildcards in templated path specs
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_boto_utils.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_bucket_wildcard_allow_table.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_bucket_wildcard_as_table.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_bucket_wildcard_with_nested_table.json
  metadata-ingestion/tests/integration/s3/sources/s3/bucket_wildcard_allow_table.json
  metadata-ingestion/tests/integration/s3/sources/s3/bucket_wildcard_as_table.json
  metadata-ingestion/tests/integration/s3/sources/s3/bucket_wildcard_with_nested_table.json
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Add release notes - saketh
  docs/managed-datahub/release-notes/v_0_3_13.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingest): respect user email pattern in usage aggregator
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
Due: metadata-ingestion-lint-fix, update-capability-summary

add smoke test
  smoke-test/tests/openapi/v3/entities.json
Due: none

address comments
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityAspectsBodyV3.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityScrollRequestBodyV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/RequestInputUtil.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Due: metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless

fix import
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
Due: metadata-service-openapi-servlet-spotless

update openapi generator
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Due: metadata-service-openapi-servlet-spotless

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$
