Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

docs(ingestion): tighten structure in selected source docs
  metadata-ingestion/docs/sources/fabric-onelake/fabric-onelake.md
  metadata-ingestion/docs/sources/grafana/grafana_pre.md
  metadata-ingestion/docs/sources/hive-metastore/hive-metastore_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(ingestion): reduce duplication in selected source docs
  metadata-ingestion/docs/sources/redshift/redshift_pre.md
  metadata-ingestion/docs/sources/s3/README.md
  metadata-ingestion/docs/sources/s3/s3_pre.md
  metadata-ingestion/docs/sources/sac/README.md
  metadata-ingestion/docs/sources/sac/sac_pre.md
  metadata-ingestion/docs/sources/sagemaker/README.md
  metadata-ingestion/docs/sources/sagemaker/sagemaker_pre.md
  metadata-ingestion/docs/sources/salesforce/salesforce_pre.md
  metadata-ingestion/docs/sources/snaplogic/README.md
  metadata-ingestion/docs/sources/snaplogic/snaplogic_pre.md
  metadata-ingestion/docs/sources/snowflake/snowflake_pre.md
  metadata-ingestion/docs/sources/snowplow/snowplow.md
  metadata-ingestion/docs/sources/sql-queries/README.md
  metadata-ingestion/docs/sources/sql-queries/sql-queries_pre.md
  metadata-ingestion/docs/sources/sqlalchemy/README.md
  metadata-ingestion/docs/sources/sqlalchemy/sqlalchemy_pre.md
  metadata-ingestion/docs/sources/tableau/tableau_pre.md
  metadata-ingestion/docs/sources/teradata/teradata_pre.md
  metadata-ingestion/docs/sources/vertexai/README.md
  metadata-ingestion/docs/sources/vertexai/vertexai_pre.md
  metadata-ingestion/docs/sources/vertica/README.md
  metadata-ingestion/docs/sources/vertica/vertica_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

harmonize-the-environment-filter
  datahub-web-react/src/app/search/SearchPage.tsx
  datahub-web-react/src/app/search/SimpleSearchFilters.tsx
  datahub-web-react/src/app/search/utils/constants.ts
  datahub-web-react/src/app/search/utils/filterUtils.ts
  datahub-web-react/src/app/searchV2/SearchPage.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilters.tsx
  datahub-web-react/src/app/searchV2/filters/constants.ts
  datahub-web-react/src/app/searchV2/utils/constants.ts
  datahub-web-react/src/app/searchV2/utils/filterUtils.ts
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
Due: metadata-io-spotless, web-react-lint-fix

rate_limit fix
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_constants.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_ml_metadata_helper.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_utils.py
Due: metadata-ingestion-lint-fix

chore(GMS): Reduced verbosity of logs for conditional write failure
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
Due: metadata-service-openapi-servlet-spotless

Move steps around
  .github/workflows/quickstart-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

ci(metrics): Add more workflows to submit metrics to Posthog. (#16456)
  .github/scripts/pre-commit-override.yaml
  .github/scripts/validate_post_workflow_list.py
  .github/workflows/github-actions-format.yml
  .github/workflows/post-workflow-actions.yml
  .gitignore
  .pre-commit-config.yaml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(UI): properly display applications on glossary terms
  datahub-web-react/src/graphql/glossaryTerm.graphql
Due: none

style(ingest/iceberg): fix ruff formatting
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/tests/unit/test_iceberg.py
Due: metadata-ingestion-lint-fix

fix(ingestion/snowflake): map COPY query type to INSERT instead of UNKNOWN
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
Due: metadata-ingestion-lint-fix

feat(ingest/kafka-connect): bundle JVM via jdk4py to remove system Java dependency (#16445)
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/transform_plugins.py
Due: metadata-ingestion-lint-fix

multiple fixes
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_constants.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_ml_metadata_helper.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_pipeline_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_training_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_utils.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_ml_metadata.py
Due: metadata-ingestion-lint-fix

feat(trino): add column-level lineage on upstreamLineage to connector… (#16292)
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/tests/integration/trino/trino_hive_instance_mces_golden.json
  metadata-ingestion/tests/integration/trino/trino_hive_mces_golden.json
  metadata-ingestion/tests/integration/trino/trino_mces_golden.json
  metadata-ingestion/tests/unit/test_trino.py
Due: metadata-ingestion-lint-fix

fix(frontend): add missing applications field to glossaryTerm GraphQL query (#16398)
  datahub-web-react/src/graphql/__tests__/glossaryApplicationsQuery.test.ts
  datahub-web-react/src/graphql/glossaryTerm.graphql
Due: web-react-lint-fix

fix(ingest/flink): code review improvements from connector audit
  metadata-ingestion/src/datahub/ingestion/source/flink/client.py
  metadata-ingestion/src/datahub/ingestion/source/flink/entities.py
  metadata-ingestion/src/datahub/ingestion/source/flink/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/flink/report.py
  metadata-ingestion/src/datahub/ingestion/source/flink/source.py
  metadata-ingestion/src/datahub/ingestion/source/flink/sql_gateway_client.py
  metadata-ingestion/tests/unit/flink/test_flink_catalog.py
  metadata-ingestion/tests/unit/flink/test_flink_entities.py
  metadata-ingestion/tests/unit/flink/test_flink_lineage.py
  metadata-ingestion/tests/unit/flink/test_flink_source.py
Due: metadata-ingestion-lint-fix

Update setup.py and pyproject.toml as it's udpated in master
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

docs(website): include h4 headings in table of contents
  docs-website/docusaurus.config.js
Due: none

fix(ingest/flink): fix mypy errors and regenerate golden file
  metadata-ingestion/src/datahub/ingestion/source/flink/source.py
  metadata-ingestion/tests/integration/flink/flink_mces_golden.json
  metadata-ingestion/tests/unit/flink/test_flink_entities.py
Due: metadata-ingestion-lint-fix

fix(ingestion/snowflake): map COPY query type to INSERT instead of UNKNOWN (#16461)
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
Due: metadata-ingestion-lint-fix

Revert quickstart-test.yml
  .github/actions/free-disk-space/action.yml
  .github/workflows/quickstart-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

chore(GMS): Reduced verbosity of logs for conditional write failure (#16460)
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
Due: metadata-service-openapi-servlet-spotless

refactor(ci): Consolidate Free Disk space steps into a reusable action (#16454)
  .github/actions/free-disk-space/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified-nightly.yml
  .github/workflows/docker-unified.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/spark-smoke-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

[AI-233] feat(google adk): set up google adk for agent-context (#16434)
  datahub-agent-context/examples/google_adk/.gitignore
  datahub-agent-context/examples/google_adk/__init__.py
  datahub-agent-context/examples/google_adk/basic_agent.py
  datahub-agent-context/examples/google_adk/requirements.txt
  datahub-agent-context/examples/google_adk/setup_dev.sh
  datahub-agent-context/examples/google_adk/simple_mcp.py
  datahub-agent-context/examples/google_adk/simple_search.py
  datahub-agent-context/setup.py
  datahub-agent-context/src/datahub_agent_context/__init__.py
  datahub-agent-context/src/datahub_agent_context/google_adk_tools/__init__.py
  datahub-agent-context/src/datahub_agent_context/google_adk_tools/builder.py
  datahub-agent-context/src/datahub_agent_context/langchain_tools/builder.py
  datahub-agent-context/src/datahub_agent_context/utils.py
  datahub-agent-context/tests/unit/google_adk_tools/__init__.py
  datahub-agent-context/tests/unit/google_adk_tools/test_builder.py
  datahub-agent-context/tests/unit/test_utils.py
  docs/dev-guides/agent-context/agent-context.md
  docs/dev-guides/agent-context/google-adk.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(ingestion): add datahub-skills connector development guide (#16435)
  docs-website/sidebars.js
  metadata-ingestion/cli-ingestion.md
  metadata-ingestion/datahub-skills.md
Due: datahub-web-react-mdPrettierWriteChanged

chore(ingestion): urllib3 v2
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

Delete autogenerated/capability_summary.json
  autogenerated/capability_summary.json
Due: none

feat(ingest/iceberg): add ingestion-time domain assignment (#16443)
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/tests/unit/test_iceberg.py
Due: metadata-ingestion-lint-fix

ci: make Linear ticket creation comment more informative for PR authors (#16463)
  .github/workflows/pr-to-linear.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(sdk): restore getattr check and revert smoke test assertions
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  smoke-test/tests/restli/test_restli_batch_ingestion.py
Due: metadata-ingestion-lint-fix, smoke-test-lint-fix

Updated documentation to reflect that URL is the source path preference and local file is only applicable with CLI.
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/rdf.ts
  metadata-ingestion/src/datahub/ingestion/source/rdf/rdf_config.py
  metadata-ingestion/tests/unit/rdf/test_ingestion_source.py
Due: metadata-ingestion-lint-fix, web-react-lint-fix

feat(ui): bring tab changes to OSS (#16441)
  datahub-web-react/src/alchemy-components/components/Tabs/Tabs.stories.tsx
  datahub-web-react/src/alchemy-components/components/Tabs/Tabs.tsx
Due: web-react-lint-fix

Pretier for notion and confluence
  metadata-ingestion/docs/sources/confluence/confluence_pre.md
  metadata-ingestion/docs/sources/notion/notion_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(powerbi): handle if/then/else expressions in M-Query lineage extraction
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/tree_function.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi-lexical-grammar.rule
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: metadata-ingestion-lint-fix

Update setup.py
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

feat(rdf): add parent_glossary_node support to RDF ingestion
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/rdf.ts
  metadata-ingestion/src/datahub/ingestion/source/rdf/entities/glossary_term/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/rdf/ingestion/rdf_source.py
  metadata-ingestion/src/datahub/ingestion/source/rdf/ingestion/workunit_generator.py
  metadata-ingestion/src/datahub/ingestion/source/rdf/rdf_config.py
  metadata-ingestion/tests/unit/rdf/test_ingestion_source.py
  metadata-ingestion/tests/unit/rdf/test_rdf_edge_cases.py
  metadata-ingestion/tests/unit/rdf/test_rdf_loader_comprehensive.py
  metadata-ingestion/tests/unit/rdf/test_rdf_loader_edge_cases.py
  metadata-ingestion/tests/unit/rdf/test_rdf_loader_zip_web.py
Due: metadata-ingestion-lint-fix, web-react-lint-fix

fix test
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/DomainBasedAuthorizationValidator.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/context/SystemOperationContextFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/LineageSearchServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/GenericEntitiesControllerDomainAuthEnabledTest.java
Due: metadata-io-spotless, metadata-service-factories-spotless, metadata-service-openapi-servlet-spotless

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
