Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

cast to avoid value too long error
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Due: metadata-ingestion-lint-fix

dev: enable ruff rule
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/cli/specific/dataproduct_cli.py
  metadata-ingestion/src/datahub/configuration/kafka.py
  metadata-ingestion/src/datahub/ingestion/fs/s3_fs.py
  metadata-ingestion/src/datahub/ingestion/graph/entity_versioning.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/lite/lite_local.py
  metadata-ingestion/src/datahub/lite/lite_util.py
  metadata-ingestion/src/datahub/utilities/memory_footprint.py
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
Due: metadata-ingestion-lint-fix

Added creation and modification time extraction
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
Due: metadata-ingestion-lint-fix

Added locks to timings reporting classes
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
Due: metadata-ingestion-lint-fix

revert kafka related change
  metadata-ingestion/src/datahub/configuration/kafka.py
Due: metadata-ingestion-lint-fix

feat(ui/task-center): combine pending and completed tabs for proposals (#5158)
  datahub-web-react/src/app/actionrequestV2/ActionRequestsGroupTab.tsx
  datahub-web-react/src/app/actionrequestV2/item/AiActorLabel.tsx
  datahub-web-react/src/app/actionrequestV2/item/CreateGlossaryEntityContentView.tsx
  datahub-web-react/src/app/actionrequestV2/item/updateDescription/UpdateDescriptionRequestItem.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/ProposalGroupTab.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/ProposalList.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/Proposals.tsx
Due: none

fix(forms) Fix typo bug in forms reporting (#5235)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/datahub_reporting/datahub_form_reporting.py
Due: none

fix(ui) Fix query tab filter dropdowns showing raw urns (#5230)
  datahub-web-react/src/app/searchV2/filters/__tests__/utils.test.tsx
  datahub-web-react/src/app/searchV2/filters/utils.tsx
  datahub-web-react/src/app/searchV2/filters/value/EnumValueMenu.tsx
Due: none

chore(bump): Bump kafka-setup base
  docker/kafka-setup/Dockerfile
Due: none

Added handling of FileIO errors
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Due: metadata-ingestion-lint-fix

Adding models
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeDefinition.pdl
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeDimension.pdl
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeDimensions.pdl
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeEvent.pdl
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeMeasure.pdl
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeMeasures.pdl
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeSource.pdl
  metadata-models/src/main/resources/entity-registry.yml
Due: none

Added time-based fields to ignored paths when comparing golden files for iceberg integration tests
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
Due: metadata-ingestion-lint-fix

Adding metadata models
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeDefinition.pdl
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeRow.pdl
Due: none

Linting
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
Due: metadata-ingestion-lint-fix

Linting tests
  metadata-ingestion/tests/unit/test_iceberg.py
Due: metadata-ingestion-lint-fix

feat(ingest): improve error messages for unknown metadata objects
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/tests/unit/serde/test_domain_properties.json
  metadata-ingestion/tests/unit/serde/test_invalid_object.json
  metadata-ingestion/tests/unit/serde/test_serde.py
Due: metadata-ingestion-lint-fix

docs(restore-indices): added best practices (#12741)
  docs/how/restore-indices.md
Due: none

feat(ui/lineageV2): Show version pill in lineage sidebar and node (#12599)
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/alchemy-components/components/Pills/components.ts
  datahub-web-react/src/alchemy-components/components/Pills/types.ts
  datahub-web-react/src/alchemy-components/components/Pills/utils.ts
  datahub-web-react/src/alchemy-components/theme/config/types.ts
  datahub-web-react/src/alchemy-components/theme/utils.ts
  datahub-web-react/src/app/entityV2/EntityRegistry.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarEntityHeader.tsx
  datahub-web-react/src/app/entityV2/shared/versioning/VersioningBadge.tsx
  datahub-web-react/src/app/lineageV2/LineageEntityNode/NodeContents.tsx
  datahub-web-react/src/app/lineageV2/LineageExplorer.tsx
  datahub-web-react/src/app/lineageV2/LineageFilterNode/useFetchFilterNodeContents.ts
  datahub-web-react/src/app/lineageV2/types.ts
  datahub-web-react/src/app/lineageV2/useSearchAcrossLineage.ts
  datahub-web-react/src/app/lineageV2/useShouldShowDataProcessInstances.ts
  datahub-web-react/src/app/sharedV2/text/OverflowTitle.tsx
  datahub-web-react/src/graphql/lineage.graphql
Due: none

fix(docker): datahub-integrations - install duckdb extensions correctly (#5236)
  datahub-integrations-service/scripts/sync.sh
  datahub-integrations-service/src/datahub_integrations/analytics/duckdb/engine.py
  datahub-integrations-service/src/datahub_integrations/analytics/s3/engine.py
  docker/datahub-integrations-service/Dockerfile
Due: none

chore(bump): Bump kafka-setup base (#12743)
  docker/kafka-setup/Dockerfile
Due: none

fix UI issue on timestamp and refactor
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

removed token
  metadata-ingestion/docs/sources/vertexai/vertexai_recipe.yml
Due: none

make interfaces private
  metadata-ingestion/src/datahub/sdk/search_client.py
  metadata-ingestion/src/datahub/sdk/search_filters.py
Due: metadata-ingestion-lint-fix

feat(graphql): implement sort and fact for scroll
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetMetadataAnalyticsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/container/ContainerEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/ListDataProductAssetsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/GetQuickFiltersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/siblings/SiblingsSearchResolver.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/container/ContainerEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/GetQuickFiltersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/versioning/VersionsSearchResolverTest.java
  docs/api/graphql/graphql-best-practices.md
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/SearchDAOTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/java/io/datahubproject/test/search/SearchTestUtils.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyFetcher.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/util/SearchBasedFormAssignmentManager.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/search/EntitySearchServiceTest.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-auth-impl-spotless, metadata-service-openapi-servlet-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless

add tests for compile
  metadata-ingestion/src/datahub/sdk/search_client.py
  metadata-ingestion/src/datahub/sdk/search_filters.py
  metadata-ingestion/tests/unit/sdk_v2/test_search_client.py
Due: metadata-ingestion-lint-fix

make more complex tests
  metadata-ingestion/tests/unit/sdk_v2/test_search_client.py
Due: metadata-ingestion-lint-fix

revert(ci): revert datahub-wheel build changes
  .github/workflows/python-build-pages.yml
Due: none

add some checks
  metadata-ingestion/src/datahub/sdk/search_filters.py
  metadata-ingestion/tests/unit/sdk_v2/test_search_client.py
Due: metadata-ingestion-lint-fix

Adding model fixes
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeDefinition.pdl
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeOrigin.pdl
Due: none

Address comments
  metadata-models/src/main/pegasus/com/linkedin/metric/DataHubMetricCubeOrigin.pdl
Due: none

add entity types
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/sdk/entity.py
  metadata-ingestion/src/datahub/sdk/search_client.py
  metadata-ingestion/src/datahub/sdk/search_filters.py
Due: metadata-ingestion-lint-fix

code review comment, more immutable args
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_api.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_aspects.py
  metadata-ingestion/src/datahub/ingestion/source/gc/execution_request_cleanup.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_file_loader.py
Due: metadata-ingestion-lint-fix

add standardized entity type filters
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/sdk/search_client.py
  metadata-ingestion/src/datahub/sdk/search_filters.py
  metadata-ingestion/tests/unit/sdk/test_client.py
Due: metadata-ingestion-lint-fix

setup compile filters helper
  metadata-ingestion/src/datahub/sdk/search_client.py
  metadata-ingestion/src/datahub/sdk/search_filters.py
Due: metadata-ingestion-lint-fix

dev: enable ruff rule (#12742)
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/cli/specific/dataproduct_cli.py
  metadata-ingestion/src/datahub/configuration/kafka.py
  metadata-ingestion/src/datahub/ingestion/fs/s3_fs.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/entity_versioning.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_api.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_aspects.py
  metadata-ingestion/src/datahub/ingestion/source/gc/execution_request_cleanup.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_file_loader.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/lite/lite_local.py
  metadata-ingestion/src/datahub/lite/lite_util.py
  metadata-ingestion/src/datahub/utilities/memory_footprint.py
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
Due: metadata-ingestion-lint-fix

revert(ci): revert datahub-wheel build changes (#12747)
  .github/workflows/python-build-pages.yml
Due: none

feat(ingest/metabase): API key support in Metabase source (#12711)
  metadata-ingestion/docs/sources/metabase/metabase.yml
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/tests/unit/test_metabase_source.py
Due: metadata-ingestion-lint-fix

Inject embedded executor pool aspect at bootstrap (#5239)
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/embedded-executor-pool.yaml
Due: none

refactor(ingest/s3): enhance readability
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Due: metadata-ingestion-lint-fix
