Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:mdPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: ./gradlew :datahub-actions:lintFix
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

pass in same props in oss
  datahub-web-react/src/app/homeV3/context/PageTemplateContext.tsx
  datahub-web-react/src/app/homeV3/context/hooks/useIsTemplateEditable.ts
Due: none

feat(ui/search): add has asset lineage filter (#6750)
  datahub-web-react/src/app/searchV2/filters/field/fields.tsx
  datahub-web-react/src/app/searchV2/filters/render/acrylRenderers.ts
  datahub-web-react/src/app/searchV2/filters/render/assetLevelLineage/HasAssetLevelLineageFilter.tsx
  datahub-web-react/src/app/searchV2/filters/render/assetLevelLineage/HasAssetLevelLineageRenderer.tsx
  datahub-web-react/src/app/searchV2/utils/constants.ts
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/lineage_features/source.py
  metadata-ingestion-modules/acryl-cloud/tests/unit/test_lineage_source.py
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/features/LineageFeatures.pdl
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-lineage-features.yaml
Due: none

fix(ui) Move template editable changes to their own files to reduce conflicts
  datahub-web-react/src/app/homeV3/HomePageContent.tsx
  datahub-web-react/src/app/homeV3/context/PageTemplateContext.tsx
  datahub-web-react/src/app/homeV3/context/hooks/__tests__/useIsTemplateEditable.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/useIsTemplateEditable.ts
  datahub-web-react/src/app/homeV3/settings/HomePageSettingsButtonWrapper.tsx
Due: none

fix linting error
  datahub-web-react/src/app/homeV3/settings/HomePageSettingsButtonWrapper.tsx
Due: none

ci(reviewers): add petemango to pr-labeller (#14922)
  .github/workflows/pr-labeler.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ci): bump metadata-ingestion runner
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

attempt to reduce disk further
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified.yml
  smoke-test/run-quickstart.sh
Due: datahub-web-react-githubActionsPrettierWriteChanged

bug(users): remove Product Tour (#6796)
  datahub-web-react/src/app/identity/user/UserAndGroupList.tsx
Due: none

fix(ci): bump runner metadata-ingestion (#6813)
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ci): bump metadata-ingestion runner (#14924)
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ui) Fix re-expanding entity name after sidebar opens/closes
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/EntityName.tsx
Due: none

test(searchBarAutocomplete): add cypress tests (#13333)
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/DropdownFooterActions.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/DropdownSearchBar.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectActionButtons.tsx
  datahub-web-react/src/alchemy-components/components/Select/types.ts
  datahub-web-react/src/app/entityV2/shared/FilterSelect.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/AutoCompleteEntityItem.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/matches/components/Match.tsx
  datahub-web-react/src/app/searchV2/filtersV2/filters/BaseEntityFilter/BaseEntityFilter.tsx
  datahub-web-react/src/app/searchV2/filtersV2/filters/DomainFilter/DomainFilter.tsx
  datahub-web-react/src/app/searchV2/filtersV2/filters/EntityTypeFilter/EntityTypeFilter.tsx
  datahub-web-react/src/app/searchV2/filtersV2/filters/OwnerFilter/OwnerFilter.tsx
  datahub-web-react/src/app/searchV2/filtersV2/filters/PlatformFilter/PlatformFilter.tsx
  datahub-web-react/src/app/searchV2/filtersV2/filters/TagFilter/TagFilter.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/SearchBarV2.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/NoResultsFoundPlaceholder.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/RecentSearch.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/SearchBarDropdown.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/ViewAllResults.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useAutocompleteSuggestionsOptions.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useRecentlyViewedEntitiesOptions.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useViewAllResultsOptions.tsx
  smoke-test/tests/cypress/cypress/e2e/incidentsV2/v2_incidents.js
  smoke-test/tests/cypress/cypress/e2e/mutations/manage_ingestion_secret_privilege.js
  smoke-test/tests/cypress/cypress/e2e/searchV2/helpers/searchBarV2FiltersHelper.js
  smoke-test/tests/cypress/cypress/e2e/searchV2/helpers/searchBarV2Helper.js
  smoke-test/tests/cypress/cypress/e2e/searchV2/helpers/searchV2Helper.js
  smoke-test/tests/cypress/cypress/e2e/searchV2/searchBarV2Redesigned.js
  smoke-test/tests/cypress/cypress/e2e/utils.js
  smoke-test/tests/cypress/cypress/support/commands.js
Due: none

feat(structuredProperties): add new property to hide properties with emty value (#14870)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyMapper.java
  datahub-graphql-core/src/main/resources/properties.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyMapperTest.java
  metadata-models/src/main/pegasus/com/linkedin/structured/StructuredPropertySettings.pdl
Due: datahub-graphql-core-spotless

increase test coverage
  datahub-web-react/src/app/govern/structuredProperties/__tests__/useStructuredProp.test.ts
Due: none

increase amount of properties to fetch
  datahub-web-react/src/app/entityV2/shared/sidebarSection/SidebarStructuredProperties.tsx
Due: none

add tests
  datahub-web-react/src/app/govern/structuredProperties/__tests__/useStructuredProp.test.ts
Due: none

feat(structuredProperties): add option to hide properties in UI
  datahub-web-react/src/alchemy-components/components/Checkbox/Checkbox.stories.tsx
  datahub-web-react/src/alchemy-components/components/Checkbox/Checkbox.tsx
  datahub-web-react/src/alchemy-components/components/Checkbox/components.ts
  datahub-web-react/src/alchemy-components/components/Checkbox/types.ts
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/entityV2/shared/sidebarSection/SidebarStructuredProperties.tsx
  datahub-web-react/src/app/govern/structuredProperties/DisplayPreferences.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsDrawer.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/govern/structuredProperties/ViewDisplayPreferences.tsx
  datahub-web-react/src/app/govern/structuredProperties/cacheUtils.ts
  datahub-web-react/src/app/govern/structuredProperties/styledComponents.ts
  datahub-web-react/src/app/govern/structuredProperties/useStructuredProp.ts
  datahub-web-react/src/graphql/fragments.graphql
Due: none

increase test coverage 2
  datahub-web-react/src/app/govern/structuredProperties/__tests__/cacheUtils.test.ts
Due: none

disable hiding on schema sidebar
  datahub-web-react/src/app/entityV2/shared/sidebarSection/SidebarStructuredProperties.tsx
Due: none

debug disk space
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(structuredProperties): add option to hide properties with empty values (#14872)
  datahub-web-react/src/alchemy-components/components/Checkbox/Checkbox.stories.tsx
  datahub-web-react/src/alchemy-components/components/Checkbox/Checkbox.tsx
  datahub-web-react/src/alchemy-components/components/Checkbox/components.ts
  datahub-web-react/src/alchemy-components/components/Checkbox/types.ts
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/entityV2/shared/sidebarSection/SidebarStructuredProperties.tsx
  datahub-web-react/src/app/govern/structuredProperties/DisplayPreferences.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsDrawer.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/govern/structuredProperties/ViewDisplayPreferences.tsx
  datahub-web-react/src/app/govern/structuredProperties/__tests__/cacheUtils.test.ts
  datahub-web-react/src/app/govern/structuredProperties/__tests__/useStructuredProp.test.ts
  datahub-web-react/src/app/govern/structuredProperties/cacheUtils.ts
  datahub-web-react/src/app/govern/structuredProperties/styledComponents.ts
  datahub-web-react/src/app/govern/structuredProperties/useStructuredProp.ts
  datahub-web-react/src/graphql/fragments.graphql
Due: none

additional disk checks
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(claude): saas vs oss instructions for claude md (#6803)
  datahub-web-react/CLAUDE.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ui) Fix re-expanding entity name after sidebar opens/closes (#14925)
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/EntityName.tsx
Due: none

tests(structuredProperties): add cypress tests
  datahub-web-react/src/app/govern/structuredProperties/DisplayPreferences.tsx
  smoke-test/tests/cypress/cypress/e2e/structured_properties/structured_properties.js
Due: none

Start upstream merge process with stacked strategy
  docs/how/merge-log.md
Due: datahub-web-react-mdPrettierWriteChanged

tests(structuredProperties): add cypress tests (#14888)
  datahub-web-react/src/app/govern/structuredProperties/DisplayPreferences.tsx
  smoke-test/tests/cypress/cypress/e2e/structured_properties/structured_properties.js
Due: none

nit
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/CompactLineageTab.tsx
Due: none

increase disk space freeing
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified.yml
  smoke-test/run-quickstart.sh
Due: datahub-web-react-githubActionsPrettierWriteChanged

try reverting endpoint
  docker/elasticsearch-setup/create-indices.sh
Due: none

docs(release-notes): disclaimers for 0.3.14 (#14812)
  docs/managed-datahub/release-notes/v_0_3_14.md
Due: datahub-web-react-mdPrettierWriteChanged

try longer timeout
  docker/elasticsearch-setup/create-indices.sh
  docker/profiles/docker-compose.prerequisites.yml
Due: none

fixes
  datahub-graphql-core/src/main/resources/incident.graphql
  datahub-web-react/src/app/entity/shared/tabs/Incident/IncidentTab.tsx
  datahub-web-react/src/graphql/incident.graphql
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: metadata-utils-spotless

fix timing issue with opensearch
  docker/elasticsearch-setup/create-indices.sh
  docker/profiles/docker-compose.prerequisites.yml
Due: none

remove sleep, rely on backoff
  docker/profiles/docker-compose.prerequisites.yml
Due: none

fix retry
  docker/elasticsearch-setup/create-indices.sh
Due: none

fix change
  docker/elasticsearch-setup/create-indices.sh
Due: none

remove other backoff
  docker/elasticsearch-setup/create-indices.sh
Due: none

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$
