Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

remove duplication for docs website files
  AGENTS.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/bigquery): don't treat dated copies of a real table as shards
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/bigquery): only skip dated copies when they'd collide
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

add metrics to potential candidates
  metadata-service/services/src/main/java/com/linkedin/metadata/service/RollbackService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/util/SearchBasedFormAssignmentManager.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/RollbackServiceMetricsTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/metrics/LongRunningOperationMetrics.java
Due: metadata-service-services-spotless, metadata-utils-spotless

fix(auth): harden test-connection/cancel and align rollback/read
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/IngestionAuthUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CancelIngestionExecutionRequestResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateTestConnectionRequestResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/ingestion/IngestionSourceType.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CancelIngestionExecutionRequestResolverTest.java
  docs/authorization/policies.md
  docs/how/updating-datahub.md
  metadata-auth/auth-api/src/test/java/com/datahub/authorization/AuthUtilTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/BatchIngestionRunResource.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-auth-auth-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-utils-spotless

fix(bigquery-profiling): don't publish rowCount=0 for external tables with unreliable counts
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/profiler.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiler.py
Due: metadata-ingestion-lint-fix

docs: correct sharded-set URN description for the non-legacy path
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(executor): close two wrapper failure modes around the CLI subprocess
  metadata-ingestion/src/datahub/executor/execution/wrapper_common.py
  metadata-ingestion/tests/unit/executor/wrappers/test_wrapper_common.py
Due: metadata-ingestion-lint-fix

fix(executor): stop logging requirement lines after variable expansion
  metadata-ingestion/src/datahub/executor/execution/runner.py
  metadata-ingestion/tests/unit/executor/test_runner.py
Due: metadata-ingestion-lint-fix

fix(executor): mask the run logs like the structured report
  metadata-ingestion/src/datahub/executor/execution/sub_process_ingestion_task.py
  metadata-ingestion/tests/unit/executor/test_subprocess_ingestion_task.py
Due: metadata-ingestion-lint-fix

fix(executor): coerce non-string extra_env_vars values
  metadata-ingestion/src/datahub/executor/execution/sub_process_task_common.py
  metadata-ingestion/tests/unit/executor/test_sub_process_task_common.py
Due: metadata-ingestion-lint-fix

fix(executor): make Task an ABC so incomplete tasks are rejected
  metadata-ingestion/src/datahub/executor/execution/task.py
  metadata-ingestion/tests/unit/executor/test_task_registry.py
Due: metadata-ingestion-lint-fix

fix(executor): mask progress reports, not just the final report
  metadata-ingestion/src/datahub/executor/execution/sub_process_ingestion_task.py
  metadata-ingestion/tests/unit/executor/test_subprocess_ingestion_task.py
Due: metadata-ingestion-lint-fix

test(graphql): allowlist cancel resolver in source-read guard
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/ResolverSourceReadGuardTest.java
Due: datahub-graphql-core-spotless

fix(bigquery-profiling): clear unreliable external rowCount on partition-filter branch too
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/profiler.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiler.py
Due: metadata-ingestion-lint-fix

feat(ingest/kafka): add consumer-group and Stream Catalog mirror lineage
  metadata-ingestion/src/datahub/ingestion/source/confluent/client.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/confluent_catalog.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/confluent_catalog_constants.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/consumer_group_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_config.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_report.py
  metadata-ingestion/tests/unit/confluent/test_confluent_stream_catalog.py
  metadata-ingestion/tests/unit/kafka/test_kafka_confluent_catalog.py
  metadata-ingestion/tests/unit/kafka/test_kafka_consumer_group_lineage.py
Due: metadata-ingestion-lint-fix

fix(ingest/kafka): regenerate connector registry and allow mirror fields in catalog test
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/tests/integration/kafka/test_kafka.py
Due: metadata-ingestion-lint-fix

ci(ingest): capture diagnostics for intermittent exit-139 test crashes (#18929)
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/build.gradle
  metadata-ingestion/tests/conftest.py
Due: datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix, check-gradle-lockfiles

fix(gms): wire syncIngestStamping at every production construction site; cover the unmarked-metadata path
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHookTest.java
Due: datahub-upgrade-spotless, metadata-io-spotless, metadata-jobs-mae-consumer-spotless

fix(ingest/cassandra): shut down Cluster in addition to Session on close (#18829)
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_api.py
  metadata-ingestion/tests/unit/test_cassandra_source.py
Due: metadata-ingestion-lint-fix

fix(policies): apply validator level aspect edit controls for user and group aspects (#19360)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolverTest.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactoryTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  smoke-test/tests/authorization/test_privilege_grant_auth.py
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-factories-spotless, metadata-utils-spotless, smoke-test-lint-fix

test(gms): pin syncIngestStamping factory wiring (codecov on the fix lines)
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/entity/EntityServiceFactoryTest.java
Due: metadata-service-factories-spotless

fix(policy): fix for default view self policy (#19297)
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  metadata-utils/src/test/java/com/linkedin/metadata/authorization/PoliciesConfigDefaultPoliciesTest.java
  smoke-test/tests/authorization/test_self_entity_auth.py
Due: metadata-service-auth-impl-spotless, metadata-utils-spotless, smoke-test-lint-fix

test(ui): fix useEntityData mock shape in FieldDescription permission tests
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/__tests__/FieldDescription.test.tsx
Due: web-react-lint-fix

rollup: rob/rob-test-rollup-01 (permission-aware edit affordances)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/__tests__/FieldDescription.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/DocumentationTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/__tests__/DocumentationTab.test.tsx
Due: web-react-lint-fix

fix(schema-field): convey the permission-disabled state via aria-disabled
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
Due: web-react-lint-fix

test(authorization): pin requireAllSubjects plumb-through at the QueryType consumer
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/query/QueryTypeTest.java
Due: datahub-graphql-core-spotless

feat(authorization): make query-read enforcement configurable; default to any-subject semantics
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/query/ListQueriesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/query/QueryType.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/query/ListQueriesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/query/QueryTypeTest.java
  docs/how/updating-datahub.md
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/config/ViewAuthorizationConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/authorization/EntityAspectAuthorizationUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/authorization/EntityAuthorizationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/authorization/EntityAspectAuthorizationUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/authorization/EntityAuthorizationUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v1/entities/EntitiesControllerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-auth-auth-api-spotless, metadata-io-spotless, metadata-service-openapi-servlet-spotless

test(authorization): pin VIEW_ENTITY_QUERIES enforcement on query read paths
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/query/ListQueriesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/query/QueryTypeTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v1/entities/EntitiesControllerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
Due: datahub-graphql-core-spotless, metadata-service-openapi-servlet-spotless

feat(authorization): deny topSqlQueries in usage stats without VIEW_ENTITY_QUERIES
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetUsageStatsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetUsageStatsResolverTest.java
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless

feat(authorization): add VIEW_ENTITY_QUERIES privilege for Dataset, Chart, and Data Job
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolver.java
  datahub-graphql-core/src/main/resources/auth.graphql
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NonBlockingConfigs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/policyprivileges/BackfillViewEntityQueriesPrivilege.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/policyprivileges/BackfillViewEntityQueriesPrivilegeStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/policyprivileges/BackfillViewEntityQueriesPrivilegeStepTest.java
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarLogicSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/__tests__/SidebarLogicSection.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/EmptyQueriesSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueriesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/__tests__/EmptyQueriesSection.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/__tests__/QueriesTab.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/View/ViewDefinitionTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/View/__tests__/ViewDefinitionTab.test.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/i18n/locales/en/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/en/entity.profile.view.json
  docs/authorization/policies.md
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/authorization/EntityAspectAuthorizationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/authorization/EntityAspectAuthorizationUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, datahub-upgrade-spotless, metadata-io-spotless, metadata-utils-spotless, web-react-lint-fix

feat(authorization): enforce VIEW_ENTITY_QUERIES on GraphQL and REST query read paths
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/query/ListQueriesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/query/QueryType.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/query/ListQueriesResolverTest.java
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/authorization/EntityAuthorizationUtils.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityV2Resource.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/entity/EntityV2ResourceTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-restli-servlet-impl-spotless

docs: harmonize product naming on DataHub Core and DataHub Cloud (#19418)
  docs-website/generateDocsDir.ts
  docs-website/src/components/FeatureAvailability/index.js
  docs-website/static/llms.txt
  docs/_feature-guide-template.md
  docs/authentication/changing-default-credentials.md
  docs/authentication/guides/add-users.md
  docs/authorization/policies.md
  docs/authorization/roles.md
  docs/cli-commands/datapack.md
  docs/cli.md
  docs/deploy/environment-vars.md
  docs/dev-guides/agent-context/claude.md
  docs/dev-guides/agent-context/copilot-studio.md
  docs/dev-guides/agent-context/cursor.md
  docs/dev-guides/agent-context/gemini-cli.md
  docs/dev-guides/agent-context/skills.md
  docs/features/feature-guides/access-roles.md
  docs/features/feature-guides/analytics-agent.md
  docs/features/feature-guides/compliance-forms/overview.md
  docs/features/feature-guides/mcp.md
  docs/features/feature-guides/observe.md
  docs/features/feature-guides/search-access-controls.md
  docs/how/search.md
  docs/managed-datahub/chrome-extension.md
  docs/managed-datahub/managed-datahub-overview.md
  docs/managed-datahub/observe/data-contract.md
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
  docs/managed-datahub/remote-executor/about.md
  docs/managed-datahub/upgrade_core_to_cloud.md
  docs/tests/metadata-tests.md
  metadata-ingestion/docs/sources/odcs/odcs_post.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(zdu): enable ZDU stage flags for quickstart (#18972)
  docker/datahub-gms/env/docker.env
  docker/datahub-upgrade/env/docker.env
  docker/quickstart/docker-compose.quickstart-profile.yml
  metadata-ingestion/src/datahub/cli/docker_cli.py
Due: metadata-ingestion-lint-fix

fix(policies): apply validator level aspect edit controls for user and group aspects (#19360)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolverTest.java
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactoryTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  smoke-test/tests/authorization/test_privilege_grant_auth.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-factories-spotless, metadata-utils-spotless, smoke-test-lint-fix

refactor(frontend): polish semantic model summary modules and shared … (#19098)
  datahub-web-react/src/app/entityV2/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/EntityProfileSidebar.tsx
  datahub-web-react/src/app/entityV2/summary/modules/aiContext/AiContextModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/assets/AddAssetsModal.tsx
  datahub-web-react/src/app/entityV2/summary/modules/relatedTerms/RelatedTermsModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/semanticModelDatasets/SemanticModelDatasetsModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/semanticModelDimensions/SemanticModelDimensionsModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/semanticModelDimensions/__tests__/utils.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/semanticModelDimensions/utils.ts
  datahub-web-react/src/app/entityV2/summary/modules/semanticModelMetrics/SemanticModelMetricsModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/semanticModelRelationships/SemanticModelRelationshipsModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/semanticModelRelationships/__tests__/utils.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/semanticModelRelationships/utils.ts
  datahub-web-react/src/app/entityV2/summary/modules/shared/__tests__/semanticModelDatasetUtils.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/shared/semanticModelDatasetUtils.ts
  datahub-web-react/src/app/homeV3/module/components/EmptyContent.tsx
  datahub-web-react/src/app/homeV3/module/components/ModuleEntityIconSlot.tsx
  datahub-web-react/src/app/homeV3/module/components/ModuleEntityLink.tsx
  datahub-web-react/src/app/homeV3/module/components/ModuleEntityName.tsx
  datahub-web-react/src/app/homeV3/module/components/ModuleIconChrome.tsx
  datahub-web-react/src/app/homeV3/module/components/ModulePillRow.tsx
  datahub-web-react/src/app/homeV3/module/components/ModuleSecondaryText.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/AutoCompleteEntityItem.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/DisplayName.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/constants.ts
  datahub-web-react/src/app/searchV2/autoCompleteV2/types.ts
  datahub-web-react/src/i18n/locales/en/modules.json
Due: web-react-lint-fix

docs(observe): add SQLMesh and ODCS to quality-signal integrations
  docs/features/feature-guides/observe.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(observe): add SQLMesh and ODCS to quality-signal integrations (#19439)
  docs/features/feature-guides/observe.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingest/cube): ingest Cube views as Semantic View
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/cube/README.md
  metadata-ingestion/docs/sources/cube/cube_post.md
  metadata-ingestion/src/datahub/ingestion/source/cube/cube.py
  metadata-ingestion/tests/integration/cube/cube_cloud_mces_golden.json
  metadata-ingestion/tests/integration/cube/cube_core_mces_golden.json
  metadata-ingestion/tests/unit/cube/test_cube_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
