Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

test update operations
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_lineage.json
  metadata-ingestion/tests/unit/glue/glue_mces_lake_formation_tags_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
  metadata-ingestion/tests/unit/glue/test_glue_source_stubs.py
Due: metadata-ingestion-lint-fix

feat(ingest/glue): ingest CreateTime on datasets
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_deleted_actor_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_malformed_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_profiling.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_column_lineage.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_lineage.json
  metadata-ingestion/tests/unit/glue/glue_mces_lake_formation_tags_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
Due: metadata-ingestion-lint-fix

Upgrade datahub-frontend to Play 3 and Apache Pekko
  build.gradle
  datahub-frontend/app/auth/cookie/CustomSessionCookieBaker.scala
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/OidcProvider.java
  datahub-frontend/app/client/AuthServiceClient.java
  datahub-frontend/app/config/GracefulShutdownModule.java
  datahub-frontend/app/controllers/Application.java
  datahub-frontend/app/filters/BasePathRedirectFilter.scala
  datahub-frontend/app/server/CustomPekkoHttpServer.scala
  datahub-frontend/build.gradle
  datahub-frontend/conf/application.conf
  datahub-frontend/gradle.lockfile
  datahub-frontend/play.gradle
  datahub-frontend/test/app/ApplicationTest.java
  datahub-frontend/test/auth/AuthModuleTest.java
  datahub-frontend/test/oidc/OidcUserInfoEndpointValidationTest.java
  datahub-frontend/test/security/GuestAuthenticationConfigsTest.java
  docker/build.gradle
  docker/datahub-frontend/start.sh
  docker/profiles/docker-compose.frontend.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart-profile.yml
  docker/quickstart/docker-compose.quickstart.yml
  docker/quickstart/quickstart_version_mapping.yaml
  docs/how/updating-datahub.md
  metadata-events/mxe-schemas/gradle.lockfile
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/datahub-client/gradle.lockfile
  settings.gradle
Due: datahub-web-react-mdPrettierWriteChanged, check-gradle-lockfiles

fix: Address comments
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/sigma/sigma_pre.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/test_sigma.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix: lint fix
  metadata-ingestion/docs/sources/sigma/sigma_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

fix: address comments
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Due: metadata-ingestion-lint-fix

fix: CI failure fix
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

docs(remote-executor): document AWS and GCP Secret Manager configuration
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Due: datahub-web-react-mdPrettierWriteChanged

fix: code refactoring and mt dedup by id only
  metadata-ingestion/src/datahub/ingestion/source/informatica/config.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/models.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/source.py
  metadata-ingestion/tests/unit/informatica/test_source.py
Due: metadata-ingestion-lint-fix

fix: pattern filters to include path
  metadata-ingestion/src/datahub/ingestion/source/informatica/config.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/source.py
Due: metadata-ingestion-lint-fix

fix(adk): convert ItemNotFoundError to message dict in create_context_wrapper
  datahub-agent-context/src/datahub_agent_context/mcp_tools/lineage.py
  datahub-agent-context/src/datahub_agent_context/utils.py
  datahub-agent-context/tests/unit/mcp_tools/test_lineage.py
  datahub-agent-context/tests/unit/test_utils.py
Due: none

fix: refactor
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Due: metadata-ingestion-lint-fix

fix(lint): remove blank lines between first-party imports to pass ruff isort check
  datahub-agent-context/src/datahub_agent_context/utils.py
  datahub-agent-context/tests/unit/mcp_tools/test_lineage.py
  datahub-agent-context/tests/unit/test_utils.py
Due: none

fix: refactor
  docs/how/updating-datahub.md
  metadata-ingestion/tests/integration/sigma/test_sigma.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(lint): remove extra blank line between functions in lineage.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/lineage.py
Due: none

fix: refactor
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fix: informatica goleden files
  metadata-ingestion/tests/integration/informatica/golden/informatica_mces_golden.json
Due: none

fix: add informatica tile
  datahub-web-react/src/app/ingestV2/source/builder/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
Due: web-react-lint-fix

fix(playwright): replace console with DataHubLogger in setup files and utilities
  e2e-test/ui/playwright/fixtures/base-test.ts
  e2e-test/ui/playwright/tests/auth.setup.ts
  e2e-test/ui/playwright/tests/data.setup.ts
  e2e-test/ui/playwright/tests/global.setup.ts
  e2e-test/ui/playwright/tests/search-data.setup.ts
  e2e-test/ui/playwright/utils/cleanup.ts
  e2e-test/ui/playwright/utils/logger.ts
  e2e-test/ui/playwright/utils/test-data.ts
Due: none

ci(playwright): relax playwright lint rules used intentionally in DataHub tests
  e2e-test/ui/playwright/.eslintrc.js
Due: none

test fix
  e2e-test/ui/playwright/.eslintrc.js
Due: none

style(playwright): prettier format pass after eslintrc update
  e2e-test/ui/playwright/tests/data.setup.ts
  e2e-test/ui/playwright/tests/global.setup.ts
  e2e-test/ui/playwright/tests/search-data.setup.ts
Due: none

test(sdk): move inline schema_classes import to top of test files
  metadata-ingestion/tests/unit/sdk_v2/test_dataflow.py
  metadata-ingestion/tests/unit/sdk_v2/test_datajob.py
Due: metadata-ingestion-lint-fix

fix(test): fix import ordering to match project isort config
  metadata-ingestion/tests/unit/sdk_v2/test_dataflow.py
  metadata-ingestion/tests/unit/sdk_v2/test_datajob.py
Due: metadata-ingestion-lint-fix

fix lint
  metadata-ingestion/tests/unit/sdk_v2/test_dataflow.py
  metadata-ingestion/tests/unit/sdk_v2/test_datajob.py
Due: metadata-ingestion-lint-fix

feat: added keep alive http adapter in DataHubRestEmitter
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

fix(e2e): fix prettier formatting in playwright README.md
  e2e-test/ui/playwright/README.md
Due: datahub-web-react-mdPrettierWriteChanged

chore(cli): Documenting properly new ingestion feature in CLI
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Due: metadata-ingestion-lint-fix

fix: code refactor and removed keep_alive flag
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

fix: test cases
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

fix: liniting errors
  datahub-web-react/src/app/ingestV2/source/builder/constants.ts
Due: web-react-lint-fix

ci: chain security scan after nightly; align Linear labels with workflow ref
  .github/scripts/security_scan_linear_sync.py
  .github/workflows/security-scan-linear-sync.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs(remote-executor): address review feedback on Secret Manager docs
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Due: datahub-web-react-mdPrettierWriteChanged

fix: added tests
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

ci: fix Linear sync raw report argv for security_scan_linear_sync
  .github/workflows/security-scan-linear-sync.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

ci: repeat --raw-report-paths per file (argparse append)
  .github/workflows/security-scan-linear-sync.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Add entity health resolver tests
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/health/EntityHealthResolverTest.java
Due: datahub-graphql-core-spotless

refactor(ingest/sigma): replace formula regex with stateful scanner
  metadata-ingestion/src/datahub/ingestion/source/sigma/formula_parser.py
  metadata-ingestion/tests/unit/sigma/test_formula_parser.py
Due: metadata-ingestion-lint-fix
