Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

test(ui): pin facet-only search in the tags table "Applied to" column
  datahub-web-react/src/app/tags/__tests__/TagsTableColumns.appliedTo.test.tsx
Due: web-react-lint-fix

refactor(ui): import Editor/CodeBlock from their component modules
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
  datahub-web-react/src/app/entityV2/chart/summary/SummaryQuerySection.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/document/__tests__/DocumentModal.test.tsx
  datahub-web-react/src/app/entityV2/document/changeHistory/PreviousVersionModal.tsx
  datahub-web-react/src/app/entityV2/document/summary/EditableContent.tsx
  datahub-web-react/src/app/entityV2/document/summary/__tests__/EditableContent.test.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/DataProductBuilderForm.tsx
  datahub-web-react/src/app/entityV2/semanticModel/profile/DefinitionTab.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EditGlossaryEntityModal.tsx
  datahub-web-react/src/app/entityV2/shared/announce/CreateEntityAnnouncementModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Query/SidebarQueryOperationsSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarLogicSection.tsx
  datahub-web-react/src/app/entityV2/shared/summary/SummaryAboutSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryBuilderForm.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryCardQuery.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryModal.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/View/ViewDefinitionTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/DocumentationTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/DescriptionEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/DescriptionPreview.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/weaklyTypedAspects/DynamicTab.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutSection.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/EditDescriptionModal.tsx
  datahub-web-react/src/app/entityV2/summary/modules/sql/MetricSqlModule.tsx
  datahub-web-react/src/app/homeV2/action/announcement/Announcement.tsx
  datahub-web-react/src/app/homeV2/content/tabs/announcements/AnnouncementCard.tsx
  datahub-web-react/src/app/ingestV2/source/RecipeViewerModal.tsx
  datahub-web-react/src/app/settingsV2/posts/CreatePostForm.tsx
Due: web-react-lint-fix

fix(ui/glossary): gate Create in the Children tab glossary modal on canManageChildren
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/ChildrenTab.tsx
Due: web-react-lint-fix

test(ui): pin facet-only search in the application assets section
  datahub-web-react/src/app/entityV2/application/__tests__/AssetsSections.test.tsx
Due: web-react-lint-fix

test(ui): cover getAllowedValueKey for structured property allowed values
  datahub-web-react/src/app/govern/structuredProperties/__tests__/utils.test.ts
Due: web-react-lint-fix

refactor(ui): remove the dead qualifier prop from V2 preview cards
  datahub-web-react/src/app/entityV2/application/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/chart/ChartEntity.tsx
  datahub-web-react/src/app/entityV2/chart/preview/ChartPreview.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/preview/DashboardPreview.tsx
  datahub-web-react/src/app/entityV2/dataProduct/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/dataset/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlModel/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/preview/Preview.tsx
  datahub-web-react/src/app/previewV2/CompactView.tsx
  datahub-web-react/src/app/previewV2/DefaultPreviewCard.tsx
Due: web-react-lint-fix

refactor(ui): drop dead hideLinksButton sidebar prop; keep About read-only in forms
  datahub-web-react/src/app/entityV2/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/AboutSection/SidebarAboutSection.tsx
Due: web-react-lint-fix

chore(ui/glossary): remove inaccurate comment on canCreateGlossaryEntity
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
Due: web-react-lint-fix

chore(ui): drop dead @graphql-mock alias config
  datahub-web-react/.eslintrc.js
  datahub-web-react/.prettierrc.js
  datahub-web-react/tsconfig.json
Due: web-react-lint-fix

fix(ui): sanitize "View more" external link URLs with safeUrl
  datahub-web-react/src/app/entityV2/shared/externalUrl/components/VeiwMoreDropdown/ViewMoreDropdown.tsx
Due: web-react-lint-fix

docs(ingest): document run reporting with restricted tokens
  docs/cli.md
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(ingest): scope the dataPlatformInstance-first note
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/ensure_data_platform_instance_first.py
  metadata-ingestion/tests/unit/workunit_processors/test_ensure_data_platform_instance_first.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest): tighten dataPlatformInstance-first wording
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/workunit_processors/ensure_data_platform_instance_first.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest): link the release note to its PR
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(auth): describe DOMAIN override in seedProposedDomainsForResourceSpec Javadoc
  metadata-io/src/main/java/com/linkedin/metadata/authorization/DomainWriteAuthorizationUtils.java
Due: metadata-io-spotless

style(ui): format .storybook/main.js with prettier
  datahub-web-react/.storybook/main.js
Due: web-react-lint-fix

fix(ingest/glue): treat missing owner CatalogId as missing resource-link target
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: metadata-ingestion-lint-fix

test(ingest/glue): build resource-link workunits inside Stubber
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: metadata-ingestion-lint-fix

refactor(lineage): address review on repository lineage edges
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/LineageRegistryTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/LineageService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/LineageServiceTest.java
Due: entity-registry-spotless, metadata-service-services-spotless

test(ingest/glue): type resource-link test helpers with MetadataWorkUnit
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: metadata-ingestion-lint-fix

docs(ingest): tighten run-report release note and privileges
  docs/cli.md
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(ingest): run-report privileges per live check
  docs/cli.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest): treat a refused start-of-run report write as a warning
  docs/cli.md
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/api/common.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/reporting/test_datahub_ingestion_reporter.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest): precise wording for other run-report errors
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/fabric-onelake): correct profile counts and missing HTTP responses
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/client.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/profiling.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/schema_client.py
  metadata-ingestion/tests/unit/fabric_onelake/test_client_warehouse_tables.py
  metadata-ingestion/tests/unit/fabric_onelake/test_profiling.py
Due: metadata-ingestion-lint-fix

fix(frontend): eliminate appConfig race by seeding Apollo link flags from GMS at startup (#18595)
  datahub-web-react/src/app/appConfig/UpdateGlobalFlags.tsx
  datahub-web-react/src/app/appConfig/__tests__/UpdateGlobalFlags.test.ts
Due: web-react-lint-fix

fix(ingest): stop isolating once the server stops attributing failures
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Due: metadata-ingestion-lint-fix

docs(ingest): clarify batch recovery stop, breaker and non-send errors
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest): ChunkedEmitError pickles and keeps the original cause
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

docs(ingest): note the early stop in batch recovery
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

test(ingest): cover the shared-Future fallback in the batch executor
  metadata-ingestion/tests/unit/utilities/test_partition_executor.py
Due: metadata-ingestion-lint-fix

fix(ingest): match authorization denials per proposal, not per entity
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Due: metadata-ingestion-lint-fix

test(ingest): satisfy mypy in the batch isolation tests
  metadata-ingestion/tests/unit/test_rest_sink.py
  metadata-ingestion/tests/unit/utilities/test_partition_executor.py
Due: metadata-ingestion-lint-fix

docs(ingest): release note for record-level batch recovery
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest): bound isolation amplification on systemic batch rejection
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Due: metadata-ingestion-lint-fix

fix(ingest): re-send only the records of a rejected batch that did not land
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Due: metadata-ingestion-lint-fix

feat(ingest): re-emit rejected batches per record to find the real culprit
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Due: metadata-ingestion-lint-fix

fix(ingest): recover a rejected batch only when the send itself failed
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Due: metadata-ingestion-lint-fix
