Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

feat(metrics): add metrics autocomplete and infinite scroll (#18482)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/metrics/ParentMetricsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/metrics/SemanticModelMetricsResolver.java
  datahub-graphql-core/src/main/resources/metrics.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/metrics/SemanticModelMetricsResolverTest.java
  datahub-web-react/src/app/entityV2/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/metrics/MetricRow.tsx
  datahub-web-react/src/app/metrics/MetricsMainContent.tsx
  datahub-web-react/src/app/metrics/MetricsSearch.tsx
  datahub-web-react/src/app/metrics/MetricsSidebar.tsx
  datahub-web-react/src/app/metrics/SemanticModelRow.tsx
  datahub-web-react/src/app/metrics/context/MetricsEntityContext.tsx
  datahub-web-react/src/app/metrics/metricsTypes.ts
  datahub-web-react/src/app/metrics/useMetricChildren.ts
  datahub-web-react/src/app/metrics/useSemanticModelRoots.ts
  datahub-web-react/src/app/metrics/useUpdateMetricsEntityDataOnChange.ts
  datahub-web-react/src/graphql/metric.graphql
  datahub-web-react/src/graphql/metricsBrowse.graphql
  datahub-web-react/src/graphql/search.graphql
Due: datahub-graphql-core-spotless, web-react-lint-fix

fix(ingest/grafana): skip General folder (folderId 0) container membership
  metadata-ingestion/src/datahub/ingestion/source/grafana/grafana_source.py
  metadata-ingestion/tests/unit/grafana/test_grafana_source.py
Due: metadata-ingestion-lint-fix

build(kafka): pin kafka-clients 8.2 with Confluent SerDe 8.1
  build.gradle
  datahub-upgrade/gradle.lockfile
  metadata-auth/auth-api/build.gradle
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/datahub-client/gradle.lockfile
  metadata-integration/java/datahub-client/scripts/check_jar.sh
  metadata-integration/java/datahub-protobuf/scripts/check_jar.sh
  metadata-integration/java/datahub-schematron/cli/gradle.lockfile
  metadata-jobs/common/gradle.lockfile
  metadata-jobs/mae-consumer-job/gradle.lockfile
  metadata-jobs/mae-consumer/gradle.lockfile
  metadata-jobs/mce-consumer-job/gradle.lockfile
  metadata-jobs/mce-consumer/gradle.lockfile
  metadata-jobs/pe-consumer/gradle.lockfile
  metadata-service/auth-filter/gradle.lockfile
  metadata-service/auth-servlet-impl/gradle.lockfile
  metadata-service/events-service/gradle.lockfile
  metadata-service/factories/gradle.lockfile
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubKafkaProducerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
  metadata-service/graphql-servlet-impl/gradle.lockfile
  metadata-service/openapi-analytics-servlet/gradle.lockfile
  metadata-service/openapi-entity-servlet/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
  metadata-service/servlet/gradle.lockfile
  metadata-service/war/gradle.lockfile
Due: metadata-service-factories-spotless, check-gradle-lockfiles

fix(kafka): use ConfluentKafkaContainer for schema-registry IT
  metadata-service/schema-registry-servlet/src/test/java/io/datahubproject/openapi/test/SchemaRegistryControllerTest.java
Due: metadata-service-schema-registry-servlet-spotless

build(kafka): drop start --consumers; allowlist SR client properties
  .cursor/rules/datahub-dev.mdc
  AGENTS.md
  metadata-integration/java/datahub-client/scripts/check_jar.sh
  metadata-integration/java/datahub-protobuf/scripts/check_jar.sh
  scripts/dev/datahub_dev.py
  scripts/dev/tests/test_datahub_dev.py
Due: datahub-web-react-mdPrettierWriteChanged

test(ingest/odcs): drop redundant ConfigEnum re-test
  metadata-ingestion/tests/unit/odcs/test_odcs_config.py
Due: metadata-ingestion-lint-fix

docs(query): remove invalid tags/glossary/ownership examples from Query entity
  metadata-ingestion/examples/library/query_add_owner.py
  metadata-ingestion/examples/library/query_add_tag.py
  metadata-ingestion/examples/library/query_add_term.py
  metadata-models/docs/entities/query.md
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, update-lineage-file

build(pre-commit): collapse per-module ruff + mypy into repo-wide hooks
  .github/scripts/generate_pre_commit.py
  .github/scripts/python_staged_mypy.sh
  .github/scripts/python_staged_ruff.sh
  .pre-commit-config.yaml
Due: none

build(lint): bump ruff to 0.15.22 across all modules and the pre-commit Docker tag
  .github/scripts/generate_pre_commit.py
  .pre-commit-config.yaml
  datahub-actions/setup.py
  datahub-agent-context/examples/databricks/agent.py
  datahub-agent-context/examples/google_adk/basic_agent.py
  datahub-agent-context/pyproject.toml
  datahub-agent-context/setup.py
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion-modules/prefect-plugin/setup.py
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
  metadata-service/iceberg-catalog/requirements.txt
  perf-test/authz-perf/requirements.txt
  scripts/dev/build.gradle
  smoke-test/requirements.txt
Due: datahub-actions-lint-fix, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, update-lineage-file, check-gradle-lockfiles

ruff Format all files
  datahub-actions/setup.py
  datahub-actions/tests/unit/plugin/source/acryl/test_datahub_cloud_events_consumer.py
  metadata-ingestion-modules/prefect-plugin/tests/unit/test_emitter_gms_failures.py
  metadata-ingestion/setup.py
  smoke-test/conftest.py
Due: datahub-actions-lint-fix, metadata-ingestion-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, smoke-test-lint-fix, update-lineage-file

Ruff check auto fix
  .github/scripts/check_gradle_lockfiles.py
  .github/scripts/dep-analyzer.py
  .github/scripts/generate_pre_commit.py
  .github/scripts/security_scan_linear_sync.py
  .github/scripts/test/test_bump_schema_versions.py
  contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/test_batch_validator.py
  contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/test_validator.py
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/python-spark-lineage-test/HiveInHiveOut.py
  metadata-integration/java/datahub-client/scripts/container_key_guid_generator.py
  metadata-integration/java/datahub-schematron/cli/scripts/mce_diff.py
  perf-test/authz-perf/executor.py
  perf-test/authz-perf/lib/graphql.py
  perf-test/authz-perf/lib/graphql_adapt.py
  perf-test/authz-perf/lib/init.py
  perf-test/authz-perf/lib/query_build.py
  perf-test/authz-perf/run.py
  perf-test/authz-perf/scripts/extract_query_specs.py
  perf-test/authz-perf/tests/test_graphql_adapt.py
  perf-test/authz-perf/tests/test_query_build.py
  perf-test/locustfiles/graph.py
  perf-test/locustfiles/ingest.py
  perf-test/locustfiles/ingest_graph.py
  perf-test/locustfiles/ingest_small.py
  perf-test/scripts/ingest_sample.py
  scripts/dev/tests/_eval_lib.py
  scripts/dev/tests/test_datahub_dev.py
  scripts/dev/tests/test_evals_query.py
  scripts/dev/tests/test_runner.py
Due: none

Fix all ruff check violations
  .github/scripts/check_gradle_lockfiles.py
  .github/scripts/check_policies.py
  metadata-integration/java/datahub-schematron/cli/scripts/mce_diff.py
  perf-test/authz-perf/lib/query_build.py
  smoke-test/pyproject.toml
Due: smoke-test-lint-fix

Update pre-commit to include toml files
  .github/scripts/generate_pre_commit.py
  .pre-commit-config.yaml
Due: none

fix(examples): make datahub-agent-context examples mypy-clean
  datahub-agent-context/examples/databricks/agent.py
  datahub-agent-context/examples/google_adk/basic_agent.py
  datahub-agent-context/examples/google_adk/simple_mcp.py
  datahub-agent-context/examples/google_adk/simple_search.py
  datahub-agent-context/examples/langchain/basic_agent.py
  datahub-agent-context/examples/langchain/simple_search.py
  datahub-agent-context/setup.py
Due: none

fix(graphql): allow delete of data products without domains
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/DeleteDataProductResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dataproduct/DeleteDataProductResolverTest.java
Due: datahub-graphql-core-spotless

refactor(ingest/mssql): centralize is_discovered_table cache-and-return (#18122)
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
Due: metadata-ingestion-lint-fix

fix(graphql): allow delete of data products without domains (#18446)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/DeleteDataProductResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dataproduct/DeleteDataProductResolverTest.java
Due: datahub-graphql-core-spotless

refactor(pre-commit): move pre-commit scripts into .github/scripts/pre-commit/
  .github/scripts/pre-commit/generate_pre_commit.py
  .github/scripts/pre-commit/guard_push_file_count.sh
  .github/scripts/pre-commit/pre-commit-override.yaml
  .github/scripts/pre-commit/python_staged_mypy.sh
  .pre-commit-config.yaml
  mise.toml
Due: datahub-web-react-githubActionsPrettierWriteChanged

emit per-table-pair lineage to eliminate task fan-out
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/tests/integration/fivetran/fivetran_hybrid_discovery_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_rest_only_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_empty_connection_user_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_golden.json
  metadata-ingestion/tests/unit/fivetran/test_fivetran_extend_lineage_immutability.py
  metadata-ingestion/tests/unit/fivetran/test_fivetran_google_sheets_integration.py
Due: metadata-ingestion-lint-fix

opConext thread
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/test/oidc/OidcUserInfoEndpointValidationTest.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/files/FilesController.java
Due: metadata-service-auth-servlet-impl-spotless, metadata-service-openapi-servlet-spotless

feat(ingest/trino) add table property support for delta lake and lake… (#17418)
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
Due: metadata-ingestion-lint-fix

fix(ingest/transformer): dedupe owners in container ownership rollup to avoid oversized patches (#18392)
  metadata-ingestion/src/datahub/ingestion/transformer/add_ownership.py
  metadata-ingestion/tests/unit/test_transform_ownership_universal.py
Due: metadata-ingestion-lint-fix

fix issues
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/BatchIngestionRunResource.java
Due: metadata-service-restli-servlet-impl-spotless

feat(ingest/glue): cross-account platform_instance + Lake Formation resource-link lineage & schema
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/glue/glue_pre.md
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_mces_cross_account_golden.json
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(omni): process dashboard docs before workbooks to avoid race condition
  metadata-ingestion/src/datahub/ingestion/source/omni/omni.py
Due: metadata-ingestion-lint-fix

feat(ingest/glue): cross-account platform instances and Lake Formation resource-link lineage (#17963)
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/glue/glue_pre.md
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_mces_cross_account_golden.json
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingestion/superset): skip unresolvable owners instead of emitting invalid corpuser urn (#18234)
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/preset/golden_test_ingest.json
  metadata-ingestion/tests/integration/preset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_aggregate_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/unit/test_superset_source.py
Due: metadata-ingestion-lint-fix

done
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/auth-servlet-impl/src/test/java/com/datahub/auth/authentication/AuthServiceControllerTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/analytics/TrackingController.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/Utils.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
Due: metadata-service-auth-servlet-impl-spotless, metadata-service-openapi-servlet-spotless, metadata-service-restli-servlet-impl-spotless

test(omni): strengthen fine-grained lineage test with exact edge assertions
  metadata-ingestion/tests/integration/omni/test_omni_integration.py
Due: metadata-ingestion-lint-fix

done
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/health/HealthCheckControllerTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
Due: metadata-service-auth-servlet-impl-spotless, metadata-service-openapi-servlet-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-servlet-spotless

test(playwright/browse-v2): add tests for browse-v2 to playwright (#18436)
  datahub-web-react/src/app/searchV2/sidebar/BrowseSidebar.tsx
  e2e-test/ui/playwright/pages/browse-v2.page.ts
  e2e-test/ui/playwright/pages/search.page.ts
  e2e-test/ui/playwright/tests/browse-v2/browse-v2.spec.ts
  e2e-test/ui/playwright/tests/browse-v2/fixtures/data.json
Due: web-react-lint-fix

done
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/test/oidc/OidcUserInfoEndpointValidationTest.java
Due: none

refactor(ingest/sql-parsing): reconstruct struct subfield lineage without patching sqlglot (#18316)
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/sql_parsing/_sqlglot_patch.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/utilities/unified_diff.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_join_struct_subfields_shared_base_name.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_struct_subfield_through_cte_passthrough.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_struct_subfields_from_cte.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_patch.py
  metadata-ingestion/tests/unit/utilities/test_unified_diff.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

done
  metadata-auth/auth-api/src/main/java/com/datahub/authentication/AuthenticationContext.java
  metadata-auth/auth-api/src/test/java/com/datahub/authentication/AuthenticationContextTest.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
Due: metadata-auth-auth-api-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-servlet-spotless

docs(query): correct deleteQuery as hard delete, not soft delete
  metadata-models/docs/entities/query.md
Due: datahub-web-react-mdPrettierWriteChanged, update-lineage-file

feat(ingest): add agent probe interface data models
  metadata-ingestion/src/datahub/ingestion/agent/__init__.py
  metadata-ingestion/src/datahub/ingestion/agent/models.py
  metadata-ingestion/tests/unit/agent/test_models.py
Due: metadata-ingestion-lint-fix

feat(omni): add view → physical table column-level lineage
  metadata-ingestion/src/datahub/ingestion/source/omni/omni.py
  metadata-ingestion/src/datahub/ingestion/source/omni/omni_report.py
  metadata-ingestion/tests/integration/omni/omni_mces_golden.json
  metadata-ingestion/tests/integration/omni/test_omni_integration.py
  metadata-ingestion/tests/unit/omni/test_omni_lineage_parser.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
