Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-dagster-plugin-lint-fix:
  name: metadata-ingestion-modules/dagster-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:dagster-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-gx-plugin-lint-fix:
  name: metadata-ingestion-modules/gx-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:gx-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-prefect-plugin-lint-fix:
  name: metadata-ingestion-modules/prefect-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:prefect-plugin:lintFix
  language: system
  pass_filenames: false

docs: add search sdk guide (#13682)
  docs-website/sidebars.js
  docs/api/tutorials/sdk/search_client.md
  metadata-ingestion/examples/library/search_filter_and.py
  metadata-ingestion/examples/library/search_filter_by_custom_property.py
  metadata-ingestion/examples/library/search_filter_by_domain.py
  metadata-ingestion/examples/library/search_filter_by_entity_subtype.py
  metadata-ingestion/examples/library/search_filter_by_entity_type.py
  metadata-ingestion/examples/library/search_filter_by_env.py
  metadata-ingestion/examples/library/search_filter_by_platform.py
  metadata-ingestion/examples/library/search_filter_combined_operation.py
  metadata-ingestion/examples/library/search_filter_custom.py
  metadata-ingestion/examples/library/search_filter_not.py
  metadata-ingestion/examples/library/search_filter_options.py
  metadata-ingestion/examples/library/search_filter_or.py
  metadata-ingestion/examples/library/search_with_filter.py
  metadata-ingestion/examples/library/search_with_query.py
  metadata-ingestion/examples/library/search_with_query_and_filter.py
Due: metadata-ingestion-lint-fix

feat(web): anomaly feedback analytics events (#5994)
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/acrylUtils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/builder/steps/freshness/utils.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/shared/result/AssertionResultPopoverContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/shared/utils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/result/table/AssertionResultsTableItem.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/result/timeline/charts/FreshnessResultChart.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/result/timeline/charts/ValuesOverTimeAssertionResultChart.tsx
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Due: metadata-service-services-spotless

fix(ingestion/nifi): Incorrect SSL context usage for client certificate auth (#13531)
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
Due: metadata-ingestion-lint-fix

feat(ai/slack): add server-side slack message cache (#6005)
  datahub-integrations-service/src/datahub_integrations/chat/chat_session.py
  datahub-integrations-service/src/datahub_integrations/chat/linkify.py
  datahub-integrations-service/src/datahub_integrations/slack/command/mention.py
  datahub-integrations-service/src/datahub_integrations/slack/command/mention_helpers.py
  datahub-integrations-service/src/datahub_integrations/slack/config.py
  datahub-integrations-service/src/datahub_integrations/slack/slack_history.py
  datahub-integrations-service/src/datahub_integrations/telemetry/telemetry.py
  datahub-integrations-service/tests/slack/test_mention_helpers.py
  datahub-integrations-service/tests/slack/test_slack_history.py
  datahub-integrations-service/tests/slack/test_slack_history_goldens/slack_history_add_and_get_golden.json
  datahub-integrations-service/tests/slack/test_slack_history_goldens/slack_history_set_messages_golden.json
Due: none

Updating broken line 157
  datahub-frontend/app/client/KafkaTrackingProducer.java
Due: none

[wip] add a bunch of formatting and hadling sidebar structure
  docs-website/sidebars.js
  docs-website/sphinx/apidocs/builder.rst
  docs-website/sphinx/apidocs/builder/mce-builder.rst
  docs-website/sphinx/apidocs/builder/mcp-builder.rst
  docs-website/sphinx/apidocs/clients.rst
  docs-website/sphinx/apidocs/clients/graph-client.rst
  docs-website/sphinx/apidocs/clients/kafka-emitter.rst
  docs-website/sphinx/apidocs/clients/rest-emitter.rst
  docs-website/sphinx/apidocs/python-sdk/lineage-client.rst
  docs-website/sphinx/apidocs/python-sdk/search-client.rst
  docs-website/sphinx/apidocs/sdk-v2/entities.rst
  docs-website/sphinx/apidocs/sdk-v2/entity-client.rst
  docs-website/sphinx/apidocs/sdk-v2/lineage-client.rst
  docs-website/sphinx/apidocs/sdk-v2/main-client.rst
  docs-website/sphinx/apidocs/sdk-v2/search-client.rst
  docs-website/sphinx/clidocs/cli-datahub.rst
  docs-website/sphinx/convert_sphinx_to_docusaurus.py
  docs-website/src/styles/sphinx.scss
  docs/how/delete-metadata.md
  docs/lineage/sql_parsing.md
  metadata-ingestion/scripts/docgen.py
Due: metadata-ingestion-lint-fix

temp fix for versioning docs
  docs-website/download_historical_versions.py
Due: none

fix(sql-parsing): handle pyo3_runtime.PanicException from SQLGlot Rust tokenizer
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

Add initial commit to get metadata using information schema
  metadata-ingestion/src/datahub/ingestion/source/unity/analyze_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_sql.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Due: metadata-ingestion-lint-fix

fix anchoring
  docs-website/sphinx/convert_sphinx_to_docusaurus.py
  docs-website/src/styles/sphinx.scss
  docs-website/src/theme/Root.js
Due: none

hide hash-link
  docs-website/src/styles/sphinx.scss
Due: none

add styling to section header
  docs-website/sphinx/apidocs/sdk-v2/resolver-client.rst
  docs-website/sphinx/apidocs/sdk-v2/search-filters.rst
  docs-website/sphinx/convert_sphinx_to_docusaurus.py
  docs-website/src/styles/sphinx.scss
Due: none

feat(sdk): smart column metric assertion input validation (#5955)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/smart_column_metric_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/entities/assertion.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/conftest.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertions.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertions_client_merging.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_detection_mechanism.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_smart_column_metric_assertion_input.py
Due: none

fix(): fix ingestion source default filter & metadata tests cypress v1 (#6003)
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/utils/QueryUtils.java
  smoke-test/tests/cypress/cypress/e2e/metadata_tests/tests.js
Due: metadata-io-spotless, metadata-service-services-spotless

feat(ingest): add debug source
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/debug/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/debug/datahub_debug.py
Due: metadata-ingestion-lint-fix

fix lint
  metadata-ingestion/src/datahub/ingestion/source/debug/datahub_debug.py
Due: metadata-ingestion-lint-fix

Add doc for databrics metadata sync
  docs-website/sidebars.js
  docs/automations/databricks-metadata-sync.md
Due: none

Markdown formatting
  docs/automations/databricks-metadata-sync.md
Due: none

feat(ingest): add debug source (#13759)
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/debug/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/debug/datahub_debug.py
Due: metadata-ingestion-lint-fix

feat(ingest) Implement privilege checks for ingestion sources (#5998)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/MeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/__tests__/AccessManagement.test.ts
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavSidebar.tsx
  datahub-web-react/src/app/ingest/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/BaseActionsColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingestV2/source/types.ts
  datahub-web-react/src/app/sharedV2/owners/OwnersSection.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/me.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless

feat(forms) Push form notifications if actors or notifications have changed (#6004)
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/form/FormSettingsHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/form/FormSettingsHookTest.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: metadata-jobs-mae-consumer-spotless

Add way to use sql proxy
  metadata-ingestion/src/datahub/ingestion/source/unity/analyze_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/connection_test.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_sql.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
Due: metadata-ingestion-lint-fix

update sort functionality and other ingestion improvements
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourcesResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourceResolverTest.java
  datahub-web-react/src/app/ingestV2/executions/utils.ts
  datahub-web-react/src/app/ingestV2/shared/components/columns/DateTimeColumn.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/StatusColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/utils.ts
Due: datahub-graphql-core-spotless

seperate imgs and scripts
  docs/api/tutorials/lineage.md
  metadata-ingestion/examples/library/add_lineage_dataset_to_dataset.py
  metadata-ingestion/examples/library/get_column_lineage.py
  metadata-ingestion/examples/library/get_column_lineage_from_schemafield.py
  metadata-ingestion/examples/library/get_lineage_with_filter.py
  metadata-ingestion/examples/library/get_lineage_with_hops.py
  metadata-ingestion/examples/library/lineage_dataset_column.py
  metadata-ingestion/examples/library/lineage_dataset_column_auto_strict.py
  metadata-ingestion/examples/library/lineage_dataset_column_custom_mapping.py
Due: metadata-ingestion-lint-fix

add missing link
  docs/api/tutorials/lineage.md
Due: none

lint
  docs/api/datahub-apis.md
Due: none

remove unnecessary function
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
Due: none

fix url
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
Due: metadata-ingestion-lint-fix

fix(ingesiton): fix alignment of refresh button and the table
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Due: none

chore(): bump postgresql lib
  build.gradle
Due: none

fix case in schedule column
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
Due: none

fix(ingesiton): fix padding of select
  datahub-web-react/src/alchemy-components/components/Select/utils.ts
Due: none

docs: linage client SDK guide (#13700)
  docs/api/datahub-apis.md
  docs/api/tutorials/lineage.md
  metadata-ingestion/examples/library/add_lineage_dataset_to_dataset.py
  metadata-ingestion/examples/library/get_column_lineage.py
  metadata-ingestion/examples/library/get_column_lineage_from_schemafield.py
  metadata-ingestion/examples/library/get_lineage_with_filter.py
  metadata-ingestion/examples/library/get_lineage_with_hops.py
  metadata-ingestion/examples/library/lineage_dataset_column.py
  metadata-ingestion/examples/library/lineage_dataset_column_auto_strict.py
  metadata-ingestion/examples/library/lineage_dataset_column_custom_mapping.py
  metadata-ingestion/scripts/docgen.py
Due: metadata-ingestion-lint-fix

feat(ui): add copy urn tag and structured properties
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/tags/TagsTableColumns.tsx
Due: none

build: tag from branch with slash in name and publish fix (#6009)
  .github/scripts/docker_helpers.sh
  .github/workflows/docker-unified.yml
Due: none

fix(ui/ingestion): hydrate ingestion entities in edit policy (#6006)
  datahub-web-react/src/alchemy-components/components/AvatarStack/HoverSectionContent.tsx
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
  datahub-web-react/src/app/shared/product/update/hooks.ts
  datahub-web-react/src/graphql/ingestion.graphql
Due: none

feat(sdk): sync freshness assertion (#5997)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/freshness_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/smart_column_metric_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/conftest.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertions.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/test_smart_column_metric_assertion_input.py
Due: none

chore(): bump postgresql lib (#13764)
  build.gradle
Due: none

fix(ui) Update spacing depending on height to fix sidebar scroll (#5979)
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenuItem.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenuItemGroup.tsx
Due: none

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
