Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$

WIP - ability to add modules to rows for our default modules at least - working correctly with minimal testing
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-web-react/src/app/homeV3/HomePageContent.tsx
  datahub-web-react/src/app/homeV3/context/PageTemplateContext.tsx
  datahub-web-react/src/app/homeV3/module/components/__tests__/LargeModule.test.tsx
  datahub-web-react/src/app/homeV3/modules/hooks/useModulesAvailableToAdd.ts
  datahub-web-react/src/app/homeV3/modules/types.ts
  datahub-web-react/src/app/homeV3/template/Template.tsx
  datahub-web-react/src/app/homeV3/template/components/AddModuleButton.tsx
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
  datahub-web-react/src/app/homeV3/templateRow/TemplateRow.tsx
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/me.graphql
  datahub-web-react/src/graphql/template.graphql
Due: datahub-graphql-core-spotless

after first round of cleaning up the code
  datahub-web-react/src/app/homeV3/context/PageTemplateContext.tsx
  datahub-web-react/src/app/homeV3/context/hooks/useModuleOperations.ts
  datahub-web-react/src/app/homeV3/context/hooks/useTemplateOperations.ts
  datahub-web-react/src/app/homeV3/context/hooks/useTemplateState.ts
  datahub-web-react/src/app/homeV3/context/types.ts
  datahub-web-react/src/app/homeV3/module/components/__tests__/LargeModule.test.tsx
  datahub-web-react/src/app/homeV3/modules/hooks/useModulesAvailableToAdd.ts
  datahub-web-react/src/app/homeV3/modules/utils.ts
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
Due: none

add tests, fix linting, format
  datahub-web-react/src/app/homeV3/context/PageTemplateContext.tsx
  datahub-web-react/src/app/homeV3/context/__tests__/PageTemplateContext.test.tsx
  datahub-web-react/src/app/homeV3/context/hooks/__tests__/useModuleOperations.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/__tests__/useTemplateOperations.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/__tests__/useTemplateState.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/useModuleOperations.ts
  datahub-web-react/src/app/homeV3/context/hooks/useTemplateOperations.ts
  datahub-web-react/src/app/homeV3/context/hooks/useTemplateState.ts
  datahub-web-react/src/app/homeV3/context/types.ts
  datahub-web-react/src/app/homeV3/modules/hooks/useModulesAvailableToAdd.ts
  datahub-web-react/src/app/homeV3/modules/types.ts
  datahub-web-react/src/app/homeV3/template/components/AddModuleButton.tsx
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
  datahub-web-react/src/app/homeV3/template/types.ts
  datahub-web-react/src/app/homeV3/templateRow/TemplateRow.tsx
  datahub-web-react/src/graphql/template.graphql
Due: none

chore(capability): remove capability summary task from pre-commit (#14023)
  .github/scripts/pre-commit-override.yaml
  .pre-commit-config.yaml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(ai): migrate to fastmcp, update mcp server (#6205)
  datahub-integrations-service/pyproject.toml
  datahub-integrations-service/requirements-dev.txt
  datahub-integrations-service/requirements.txt
  datahub-integrations-service/src/datahub_integrations/chat/chat_history.py
  datahub-integrations-service/src/datahub_integrations/chat/chat_session.py
  datahub-integrations-service/src/datahub_integrations/experimentation/st_chat_history.py
  datahub-integrations-service/src/datahub_integrations/mcp/mcp_server.py
  datahub-integrations-service/src/datahub_integrations/mcp/router.py
  datahub-integrations-service/src/datahub_integrations/mcp/tool.py
  datahub-integrations-service/src/datahub_integrations/server.py
  datahub-integrations-service/tests/chat/test_chat_history.py
  datahub-integrations-service/tests/mcp/test_tool.py
Due: none

fix up tests and linting
  datahub-web-react/src/app/homeV3/module/components/__tests__/LargeModule.test.tsx
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/__tests__/useAddModuleMenu.test.tsx
Due: none

chore(ingest): simplify MetadataChangeProposalWrapper usages (#14019)
  metadata-ingestion/examples/library/add_mlfeature_to_mlfeature_table.py
  metadata-ingestion/examples/library/add_mlfeature_to_mlmodel.py
  metadata-ingestion/examples/library/create_domain.py
  metadata-ingestion/examples/library/create_ermodelrelationship.py
  metadata-ingestion/examples/library/create_mlfeature.py
  metadata-ingestion/examples/library/create_mlfeature_table.py
  metadata-ingestion/examples/library/create_mlprimarykey.py
  metadata-ingestion/examples/library/create_nested_domain.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_database_reader.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_source.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_constant.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_usage.py
  metadata-ingestion/tests/unit/datahub/emitter/test_request_helper.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
  metadata-models-custom/scripts/insert_custom_aspect.py
  smoke-test/tests/setup/lineage/utils.py
Due: metadata-ingestion-lint-fix, smoke-test-lint-fix, update-capability-summary

last second tweaks
  datahub-web-react/src/app/homeV3/context/hooks/__tests__/useModuleOperations.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/__tests__/useTemplateOperations.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/useModuleOperations.ts
  datahub-web-react/src/app/homeV3/context/hooks/useTemplateOperations.ts
  datahub-web-react/src/app/homeV3/context/types.ts
  datahub-web-react/src/app/homeV3/template/components/AddModuleButton.tsx
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/__tests__/useAddModuleMenu.test.tsx
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
  datahub-web-react/src/app/homeV3/template/types.ts
Due: none

fix(snowflake): resolve table name collision between FileBackedList and StoredProcLineageTracker (#14028)
  metadata-ingestion/src/datahub/ingestion/source/snowflake/stored_proc_lineage.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(python): remove deprecated license classifiers in favor of SPDX identifiers (#14016)
  datahub-actions/setup.py
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion-modules/prefect-plugin/setup.py
  metadata-ingestion/setup.py
Due: datahub-actions-lint-fix, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix

refactor(sql-parsing): rename default_dialect to override_dialect parameter (#14015)
  CLAUDE.md
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/sql_queries.py
  metadata-ingestion/src/datahub/sdk/lineage_client.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, update-capability-summary

format gms graphql enging
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
Due: datahub-graphql-core-spotless

fix type check
  datahub-web-react/src/app/lineage/__tests__/LineageEdges.test.tsx
  datahub-web-react/src/vite-env.d.ts
Due: none

improvement(ingestion): update sort functionality and other ingestion improvements (#13762)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourcesResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourceResolverTest.java
  datahub-web-react/src/app/ingestV2/executions/utils.ts
  datahub-web-react/src/app/ingestV2/shared/components/columns/DateTimeColumn.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/StatusColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/utils.ts
Due: datahub-graphql-core-spotless

improvement(ui/ingestion): improve UX for executing sources and showing status (#6030)
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionDetailsModal.tsx
  datahub-web-react/src/app/ingestV2/executions/constants.ts
  datahub-web-react/src/app/ingestV2/executions/utils.ts
  datahub-web-react/src/app/ingestV2/shared/components/columns/StatusColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceRefetcher.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/__tests__/tests_utils.test.tsx
  datahub-web-react/src/app/ingestV2/source/usePollSource.ts
  datahub-web-react/src/app/ingestV2/source/utils.ts
Due: none

fix(ui): minor managed ingestion improvements/fixes (#6012)
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/__tests__/tests_utils.test.tsx
Due: none

improvement(ui/ingestion): show spinner on the modal while waiting for create/update response and make search bar width consistent (#6130)
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/builder/IngestionSourceBuilderModal.tsx
Due: none

feat(ui/ingestV2): Update tracking events to track numOwners added (#6000)
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Due: none

improvement(ui/ingestion): update confirmation modals and other minor fixes in ingestion (#6110)
  datahub-web-react/src/app/ingest/source/executions/IngestionSourceExecutionList.tsx
  datahub-web-react/src/app/ingestV2/executions/components/columns/CancelExecutionConfirmation.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
Due: none

feat(ui/ingestV2): Show timezone shorthand on schedule and last run columns (#5999)
  datahub-web-react/src/app/ingestV2/shared/components/columns/DateTimeColumn.tsx
Due: none

test(ingestion): write tests for polling ingestion source and do minor fixes (#6070)
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/__tests__/usePollSource.test.ts
  datahub-web-react/src/app/sharedV2/StopPropagationWrapper.tsx
Due: none

fix(ingestion): improve switching between tabs (#455) (#6055)
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/executions/ExecutionsTab.tsx
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionsTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
Due: none

fix(ui/ingestion): stop polling for the sources not displayed and fix refetch issue (#6108)
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Due: none

fix(ingestion): fixes from feedback (#457) (#6056)
  datahub-web-react/src/app/ingestV2/executions/ExecutionsTab.tsx
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionsTable.tsx
  datahub-web-react/src/app/ingestV2/executions/components/columns/ActionsColumn.tsx
  datahub-web-react/src/app/ingestV2/executions/components/columns/CancelExecutionConfirmation.tsx
  datahub-web-react/src/app/ingestV2/executions/components/columns/RollbackExecutionConfirmation.tsx
  datahub-web-react/src/app/ingestV2/executions/hooks/__tests__/useCancelExecution.test.ts
  datahub-web-react/src/app/ingestV2/executions/hooks/__tests__/useRollbackExecution.test.ts
  datahub-web-react/src/app/ingestV2/executions/hooks/useCancelExecution.ts
  datahub-web-react/src/app/ingestV2/executions/hooks/useRollbackExecution.ts
  datahub-web-react/src/app/ingestV2/executions/types.ts
  datahub-web-react/src/app/ingestV2/shared/components/columns/DateTimeColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
Due: none

fix(ui/ingestion): fix excessive requests because of polling even after tab change (#6086)
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/executions/ExecutionsTab.tsx
  datahub-web-react/src/app/ingestV2/executions/hooks/__tests__/useRefresh.test.ts
  datahub-web-react/src/app/ingestV2/executions/hooks/useRefresh.ts
  datahub-web-react/src/app/ingestV2/shared/hooks/__tests__/useRefreshInterval.test.ts
  datahub-web-react/src/app/ingestV2/shared/hooks/useRefreshInterval.ts
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Due: none

fix(ingestion): fixes from release bug bash feedback (#6058)
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/executions/components/EmptyState.tsx
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionsTable.tsx
  datahub-web-react/src/app/ingestV2/executions/components/columns/SourceColumn.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/BaseActionsColumn.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/DateTimeColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/__tests__/tests_utils.test.tsx
  datahub-web-react/src/app/ingestV2/source/utils.ts
  datahub-web-react/src/app/ingestV2/types.ts
Due: none

improvement(ui/ingestion): update cache and add owners in ingestion sources cache (#6104)
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/__tests__/cacheUtils.test.ts
  datahub-web-react/src/app/ingestV2/source/__tests__/tests_utils.test.tsx
  datahub-web-react/src/app/ingestV2/source/__tests__/usePollSource.test.ts
  datahub-web-react/src/app/ingestV2/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingestV2/source/builder/types.ts
  datahub-web-react/src/app/ingestV2/source/cacheUtils.ts
  datahub-web-react/src/app/ingestV2/source/usePollSource.ts
  datahub-web-react/src/app/ingestV2/source/utils.ts
  datahub-web-react/src/app/sharedV2/owners/OwnersSection.tsx
Due: none

fix errors
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/executions/ExecutionsTab.tsx
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionsTable.tsx
  datahub-web-react/src/app/ingestV2/executions/components/columns/ActionsColumn.tsx
  datahub-web-react/src/app/ingestV2/executions/types.ts
Due: none

Update metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(ci): upgrade to Cypress 14.5.1 (#6204)
  smoke-test/tests/cypress/cypress/e2e/queryV2/v2_query_tab.js
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
  smoke-test/tests/cypress/package.json
  smoke-test/tests/cypress/yarn.lock
Due: none

feat(ci): upgrade to Cypress 14.5.1 (#6204)
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
  smoke-test/tests/cypress/package.json
  smoke-test/tests/cypress/yarn.lock
Due: none

fix(docs): clarify snowflake back-fill capabilities
  docs/automations/snowflake-tag-propagation.md
Due: datahub-web-react-mdPrettierWriteChanged

fix tests again
  datahub-web-react/package.json
  datahub-web-react/src/app/entityV2/shared/__tests__/utils.test.ts
  datahub-web-react/vite.config.ts
  datahub-web-react/yarn.lock
Due: none

fixes around setting default tab not brought back
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/graphql/me.graphql
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

fix unintended changes
  datahub-web-react/src/graphql/me.graphql
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

feat(ingest/unity): use system tables to get column lineage
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(ingest/unity): allow passing query params into _execute_sql_query
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix sidebars
  docs-website/sidebars.js
Due: none

fix(metrics): cleanup warnings around duplicate metrics
  metadata-dao-impl/kafka-producer/src/main/java/com/datahub/metadata/dao/throttle/KafkaThrottleSensor.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/metrics/MetricUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/metrics/MetricUtilsTest.java
Due: metadata-dao-impl-kafka-producer-spotless, metadata-utils-spotless

fix(docs): clarify snowflake back-fill capabilities (#14031)
  docs/automations/snowflake-tag-propagation.md
Due: datahub-web-react-mdPrettierWriteChanged
