Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$

feat(gms): Allow customization of listen interface/IP
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
Due: metadata-service-war-spotless

fix(readOnly): fixes read only mode for update queries (#15398)
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTest.java
Due: metadata-io-spotless

Adding tests
  datahub-web-react/.storybook/preview.js
  datahub-web-react/functions/api/v2/graphql.js
  datahub-web-react/functions/authenticate.js
  datahub-web-react/functions/cloudflare_proxy.js
  datahub-web-react/functions/logIn.js
  datahub-web-react/functions/track.js
  datahub-web-react/index.html
  datahub-web-react/src/app/document/hooks/__tests__/useDocumentTreeMutations.test.tsx
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

revert styling changes
  datahub-web-react/.storybook/preview.js
  datahub-web-react/functions/api/v2/graphql.js
  datahub-web-react/functions/authenticate.js
  datahub-web-react/functions/cloudflare_proxy.js
  datahub-web-react/functions/logIn.js
  datahub-web-react/functions/track.js
  datahub-web-react/index.html
Due: none

enable metadata service auth by default
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

DATAMGT-7053: guard console.log to only run in local dev
  datahub-web-react/src/app/mfeframework/MFEConfigurableContainer.tsx
Due: none

removing max columns per connector limit for lineage
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_access.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/unit/fivetran/test_fivetran_access_factory.py
  metadata-ingestion/tests/unit/fivetran/test_fivetran_sql_queries.py
Due: metadata-ingestion-lint-fix, update-capability-summary

second commit around limits
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_access.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/unit/fivetran/test_fivetran_access_factory.py
  metadata-ingestion/tests/unit/fivetran/test_fivetran_sql_queries.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fixing sqlalchemy issues
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran_source_integration.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(ingest/dbt): Add semantic view support
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(pit): reduce overhead of PIT creation
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryBaseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
Due: metadata-io-spotless

improvement(chatbot): removed chat_session (#7298)
  datahub-integrations-service/REFACTOR_SUMMARY.md
  datahub-integrations-service/experiments/chatbot/chat_ui.py
  datahub-integrations-service/experiments/chatbot/run.py
  datahub-integrations-service/mypy.ini
  datahub-integrations-service/src/datahub_integrations/chat/README.md
  datahub-integrations-service/src/datahub_integrations/chat/agent/agent_config.py
  datahub-integrations-service/src/datahub_integrations/chat/agent/agent_runner.py
  datahub-integrations-service/src/datahub_integrations/chat/agents/__init__.py
  datahub-integrations-service/src/datahub_integrations/chat/agents/data_catalog_agent.py
  datahub-integrations-service/src/datahub_integrations/chat/agents/data_catalog_prompts.py
  datahub-integrations-service/src/datahub_integrations/chat/agents/data_catalog_tools.py
  datahub-integrations-service/src/datahub_integrations/chat/chat_session.py
  datahub-integrations-service/src/datahub_integrations/chat/chat_session_manager.py
  datahub-integrations-service/src/datahub_integrations/chat/planner/tools.py
  datahub-integrations-service/src/datahub_integrations/chat/types.py
  datahub-integrations-service/src/datahub_integrations/experimentation/chatbot/st_chat_history.py
  datahub-integrations-service/src/datahub_integrations/slack/command/mention.py
  datahub-integrations-service/src/datahub_integrations/teams/bot.py
  datahub-integrations-service/src/datahub_integrations/teams/command/ask.py
  datahub-integrations-service/tests/chat/agent/test_chat_session_compatibility.py
  datahub-integrations-service/tests/chat/agents/__init__.py
  datahub-integrations-service/tests/chat/agents/test_data_catalog_agent.py
  datahub-integrations-service/tests/chat/test_chat_session.py
  datahub-integrations-service/tests/chat/test_chat_session_integration.py
  datahub-integrations-service/tests/chat/test_chat_session_manager.py
  datahub-integrations-service/tests/chat/test_extra_llm_instructions.py
  datahub-integrations-service/tests/chat/test_load_chat_session.py
  datahub-integrations-service/tests/slack/test_mention.py
  datahub-integrations-service/tests/teams/test_command_system.py
Due: datahub-web-react-mdPrettierWriteChanged

fix(sdk): DataJob environment defaults to PROD when using flow_urn (#15381) (#15388)
  metadata-ingestion/src/datahub/sdk/datajob.py
  metadata-ingestion/tests/unit/sdk_v2/test_datajob.py
Due: metadata-ingestion-lint-fix

fix(docs): Adding fixes for GraphQL APIs & support hiding from global context (#15399)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/CreateDocumentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/DocumentResolvers.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/SearchDocumentsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/UpdateDocumentSettingsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/knowledge/DocumentMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/knowledge/DocumentType.java
  datahub-graphql-core/src/main/resources/documents.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/CreateDocumentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/DocumentResolversTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/SearchDocumentsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/UpdateDocumentSettingsResolverTest.java
  datahub-web-react/src/app/document/hooks/__tests__/useDocumentTreeMutations.test.tsx
  datahub-web-react/src/app/document/hooks/useDocumentTreeMutations.ts
  datahub-web-react/src/app/entityV2/summary/properties/property/properties/DocumentStatusProperty.tsx
  datahub-web-react/src/graphql/document.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-ingestion/examples/recipes/file_to_datahub_rest.dhub.yaml
  metadata-models/src/main/pegasus/com/linkedin/knowledge/DocumentInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/knowledge/DocumentSettings.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DocumentService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/DocumentServiceTest.java
  smoke-test/tests/knowledge/document_test.py
Due: datahub-graphql-core-spotless, li-utils-spotless, metadata-service-services-spotless, smoke-test-lint-fix

Reduce noisy MCP logging in BatchMetadataChangeProposalsProcessor
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/batch/BatchMetadataChangeProposalsProcessor.java
Due: metadata-jobs-mce-consumer-spotless

Adding checkpoints
  datahub-web-react/src/app/document/hooks/__tests__/useExtractMentions.test.ts
  datahub-web-react/src/app/document/hooks/__tests__/useUpdateDocument.test.tsx
  datahub-web-react/src/app/document/hooks/useExtractMentions.ts
  datahub-web-react/src/app/document/hooks/useUpdateDocument.ts
  datahub-web-react/src/app/entityV2/document/DocumentEntity.tsx
  datahub-web-react/src/app/entityV2/document/DocumentNativeProfile.tsx
  datahub-web-react/src/app/entityV2/document/summary/AddRelatedEntityDropdown.tsx
  datahub-web-react/src/app/entityV2/document/summary/EditableContent.tsx
  datahub-web-react/src/app/entityV2/document/summary/RelatedAssetsSection.tsx
  datahub-web-react/src/app/entityV2/document/summary/RelatedDocumentsSection.tsx
  datahub-web-react/src/app/entityV2/document/summary/RelatedSection.tsx
  datahub-web-react/src/app/entityV2/shared/EntitySearchSelect/EntitySearchDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/EntitySearchSelect/EntitySearchSelect.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/ContextGroupHeader.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentActionsMenu.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentTreeEmptyState.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentTreeItem.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/SearchDocumentPopover.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/SearchResultItem.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/useContextMenuItems.tsx
  datahub-web-react/src/app/homeV2/reference/sections/EntityLink.tsx
  smoke-test/tests/cypress/cypress/e2e/documents/document_management.js
Due: none

Final fixups
  datahub-web-react/src/app/entityV2/document/summary/EditableContent.tsx
  datahub-web-react/src/app/entityV2/document/summary/RelatedSection.tsx
Due: none

Fix final styling
  datahub-web-react/src/app/entityV2/document/summary/AddRelatedEntityDropdown.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentTreeItem.tsx
Due: none

Refactor DecryptingEnvironmentPostProcessor for clarity
  metadata-service/configuration/src/main/java/com/linkedin/metadata/spring/DecryptingEnvironmentPostProcessor.java
Due: metadata-service-configuration-spotless

Refactor ConfigUtil to use SecretService for decryption
  datahub-frontend/app/utils/ConfigUtil.java
Due: none

Refactor ConfigUtil for better configuration management
  datahub-frontend/app/utils/ConfigUtil.java
Due: none

Add dependency on metadata-operation-context
  metadata-service/configuration/build.gradle
Due: none

fix missed print
  smoke-test/conftest.py
Due: smoke-test-lint-fix

refactor(tests): fix logging in smoke-test
  smoke-test/conftest.py
  smoke-test/pyproject.toml
  smoke-test/test_e2e.py
  smoke-test/tests/database/test_database.py
  smoke-test/tests/read_only/test_services_up.py
  smoke-test/tests/test_result_msg.py
  smoke-test/tests/utils.py
Due: smoke-test-lint-fix

docs(bigquery): document extract_lineage_from_catalog and region discovery
  metadata-ingestion/docs/sources/bigquery/bigquery_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ui): fix entity type search filter (#15406)
  datahub-web-react/src/app/searchV2/filters/__tests__/utils.test.tsx
  datahub-web-react/src/app/searchV2/filters/utils.tsx
Due: none

test(bigquery): improve assertions for catalog lineage region tests
  metadata-ingestion/tests/unit/bigquery_v2/test_bigquery_catalog_lineage_regions.py
Due: metadata-ingestion-lint-fix

docs(kafka): add comprehensive SSL/TLS configuration documentation
  metadata-ingestion/docs/sources/kafka/kafka.md
Due: datahub-web-react-mdPrettierWriteChanged

Update dependencies in gradle.lockfile
  metadata-auth/auth-api/gradle.lockfile
Due: none

docs(postgres): add comprehensive FDW documentation
  metadata-ingestion/docs/sources/postgres/postgres_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

fux(ui): fix entity type search filter (#7289)
  datahub-web-react/src/app/searchV2/filters/__tests__/utils.test.tsx
  datahub-web-react/src/app/searchV2/filters/utils.tsx
Due: none

fix(ui): Adding chart's last modified data on search index (#15088)
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/restoreindices/ReindexChartInfoConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/chartinfo/ReindexChartInfo.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/chartinfo/ReindexChartInfoStep.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-models/src/main/pegasus/com/linkedin/chart/ChartInfo.pdl
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-upgrade-spotless, metadata-io-spotless

fix(ci): skip image builds when running unit tests
  .github/workflows/build-and-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs(dbt): add documentation for meta.queries Query entity emission
  metadata-ingestion/docs/sources/dbt/dbt_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

Change dependency from implementation to compileOnly
  metadata-service/configuration/build.gradle
Due: none

Modify shadowJar to exclude test dependencies
  metadata-auth/auth-api/build.gradle
Due: none

feat(ingestion): Add OAuth callback support for Kafka producers/sinks
  metadata-ingestion/docs/sources/kafka/kafka.md
  metadata-ingestion/src/datahub/configuration/kafka.py
  metadata-ingestion/tests/unit/test_kafka_sink.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(glossary): add structured properties support for glossary terms (#14084)
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/tests/unit/test_business_glossary_structured_properties.py
Due: metadata-ingestion-lint-fix, update-capability-summary

docs(glossary): add structured properties documentation for business glossary
  metadata-ingestion/docs/sources/business-glossary/datahub-business-glossary.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(search): fix name conflicts in search(mlmodel)
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLModelGroupKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLModelKey.pdl
Due: none
