Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ingest/bigquery): external DDL parse failure is undetermined not unpartitioned + thread-safe discovery warnings
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/partition_discovery/discovery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiling/reporting.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiling.py
Due: metadata-ingestion-lint-fix

chore(): bump cli
  gradle/versioning/cliVersion.gradle
Due: none

feat(ingest/dbt): first-class semantic model and metric entities
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/dbt/README.md
  metadata-ingestion/docs/sources/dbt/dbt-cloud_post.md
  metadata-ingestion/docs/sources/dbt/dbt_post.md
  metadata-ingestion/docs/sources/dbt/dbt_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/semantic_model_gate.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_semantic_model.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_semantic_model_gate.py
  metadata-ingestion/tests/integration/dbt/dbt_manifest_semantic_models.json
  metadata-ingestion/tests/integration/dbt/dbt_test_semantic_model_entities_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_semantic_model_entities_platform_instance_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_semantic_models_legacy_golden.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/unit/common/test_semantic_model_gate.py
  metadata-ingestion/tests/unit/dbt/test_dbt_semantic_model.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(documents): add standalone semanticText embedding-source aspect (#18654)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/knowledge/DocumentMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/knowledge/DocumentType.java
  datahub-graphql-core/src/main/resources/documents.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/knowledge/DocumentMapperTest.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-ingestion/src/datahub/ingestion/source/datahub_documents/datahub_documents_source.py
  metadata-ingestion/src/datahub/ingestion/source/unstructured/event_consumer.py
  metadata-ingestion/tests/unit/test_datahub_documents_source.py
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-models/src/main/pegasus/com/linkedin/common/SemanticText.pdl
  metadata-models/src/main/resources/entity-registry.yml
Due: datahub-graphql-core-spotless, li-utils-spotless, metadata-ingestion-lint-fix, metadata-io-spotless, update-lineage-file

fix(ingest/dbt): eight review findings on the semantic model layer
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_semantic_model.py
  metadata-ingestion/tests/integration/dbt/dbt_test_semantic_model_entities_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_semantic_model_entities_platform_instance_golden.json
  metadata-ingestion/tests/unit/dbt/test_dbt_semantic_model.py
Due: metadata-ingestion-lint-fix

fixup! feat(ingest/sigma): add a parser for Data Model /spec join keys and unions
  metadata-ingestion/src/datahub/ingestion/source/sigma/spec_parser.py
  metadata-ingestion/tests/unit/sigma/test_spec_parser.py
Due: metadata-ingestion-lint-fix

fix(graph): guard Neo4j Filter/RelationsipFilter.or againt null in me… (#19961)
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/GraphScrollFallback.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/client/MembershipGraphScrollFallback.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphSnapshotBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/utils/GraphQueryUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/BoundHierarchyAccessDomainTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/BoundMembershipAccessTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/GraphScrollFallbackTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/cache/client/MembershipGraphScrollFallbackTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/utils/GraphQueryUtilsTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/GraphFilters.java
  metadata-service/services/src/test/java/com/linkedin/metadata/graph/GraphFiltersTest.java
Due: metadata-io-spotless, metadata-service-services-spotless

refactor(alchemy): strengthen themed UI primitives
  datahub-web-react/.storybook/docsThemes.ts
  datahub-web-react/.storybook/manager.js
  datahub-web-react/.storybook/preview.tsx
  datahub-web-react/.storybook/storybook-theme.css
  datahub-web-react/.storybook/storybook-theme.js
  datahub-web-react/src/alchemy-components/components/Alert/Alert.stories.tsx
  datahub-web-react/src/alchemy-components/components/Alert/components.ts
  datahub-web-react/src/alchemy-components/components/Breadcrumb/Breadcrumb.stories.tsx
  datahub-web-react/src/alchemy-components/components/Compatibility/index.ts
  datahub-web-react/src/alchemy-components/components/Editor/EditorImpl.tsx
  datahub-web-react/src/alchemy-components/components/Editor/EditorTheme.tsx
  datahub-web-react/src/alchemy-components/components/EmptyState/EmptyState.stories.tsx
  datahub-web-react/src/alchemy-components/components/Modal/Modal.tsx
  datahub-web-react/src/alchemy-components/components/Pagination/Pagination.tsx
  datahub-web-react/src/alchemy-components/components/Pagination/components.ts
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/types.ts
  datahub-web-react/src/alchemy-components/components/Timeline/components.tsx
  datahub-web-react/src/alchemy-components/components/Toast/Toast.stories.tsx
  datahub-web-react/src/alchemy-components/components/Toast/Toast.tsx
  datahub-web-react/src/alchemy-components/components/Toast/components.ts
  datahub-web-react/src/alchemy-components/components/Toast/types.ts
  datahub-web-react/src/alchemy-components/index.ts
  datahub-web-react/src/app/theme/__tests__/useMonacoTheme.test.ts
  datahub-web-react/src/app/theme/useMonacoTheme.ts
  datahub-web-react/src/conf/theme/colorThemes/color.ts
  datahub-web-react/src/conf/theme/colorThemes/dark.ts
  datahub-web-react/src/i18n/locales/en/alchemy.json
Due: web-react-lint-fix

refactor(frontend): migrate shared actions to Alchemy
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/shared/actions/ActionItem.tsx
  datahub-web-react/src/app/shared/cron/cronBuilderStyles.ts
  datahub-web-react/src/app/shared/share/v2/ShareButtonMenu.tsx
  datahub-web-react/src/app/shared/share/v2/ShareMenuAction.tsx
  datahub-web-react/src/app/shared/share/v2/items/CopyLinkMenuItem.tsx
  datahub-web-react/src/app/shared/share/v2/items/CopyNameMenuItem.tsx
  datahub-web-react/src/app/shared/share/v2/items/CopyUrnMenuItem.tsx
  datahub-web-react/src/app/shared/share/v2/items/EmailMenuItem.tsx
  datahub-web-react/src/app/shared/share/v2/styledComponents.tsx
  datahub-web-react/src/app/shared/share/v2/useShareMenuItems.ts
  datahub-web-react/src/app/sharedV2/modals/ConfirmationModal.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/Condition.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/GroupHeader.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/QueryBuilder.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/styledComponents.ts
  datahub-web-react/src/app/sharedV2/search/DownloadButton.tsx
  datahub-web-react/src/app/sharedV2/search/EditButton.tsx
  datahub-web-react/src/i18n/locales/de/shared.share.json
  datahub-web-react/src/i18n/locales/en/shared.share.json
  datahub-web-react/src/i18n/locales/es/shared.share.json
  datahub-web-react/src/i18n/locales/fi/shared.share.json
  datahub-web-react/src/i18n/locales/fr/shared.share.json
  datahub-web-react/src/i18n/locales/hu/shared.share.json
  datahub-web-react/src/i18n/locales/it/shared.share.json
  datahub-web-react/src/i18n/locales/ja/shared.share.json
  datahub-web-react/src/i18n/locales/nb/shared.share.json
  datahub-web-react/src/i18n/locales/pt-BR/shared.share.json
  datahub-web-react/src/i18n/locales/ru/shared.share.json
  datahub-web-react/src/i18n/locales/sv/shared.share.json
  datahub-web-react/src/i18n/locales/zh-CN/shared.share.json
  datahub-web-react/src/i18n/locales/zh-TW/shared.share.json
Due: web-react-lint-fix

docs(readme): restructure README and move detailed content into docs
  ADOPTERS.md
  README.md
  docs-website/docusaurus.config.js
  docs-website/generateDocsDir.ts
  docs-website/sidebars.js
  docs-website/static/llms.txt
  docs/architecture/architecture.md
  docs/community.md
  docs/ecosystem.md
  docs/faq.md
  docs/features.md
  docs/features/feature-guides/analytics-agent.md
  docs/features/feature-guides/mcp.md
  docs/links.md
  metadata-ingestion/cli-ingestion.md
  metadata-ingestion/source-docs-template.md
  metadata-integration/java/docs/sdk-v2/mlmodel-entity.md
  metadata-integration/java/docs/sdk-v2/mlmodelgroup-entity.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingestion): raise snowflake-connector-python floor to 4.7.3
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(search): serve full-text search, scroll, autocomplete and browse from Search V3 tier fields (#19980)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/service/AnalyticsService.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/analytics/service/AnalyticsServiceTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/SemanticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/Es8SearchClientShim.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/EntitySearchIndexResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/BaseQueryFilterRewriter.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SemanticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/KeywordSearchV3ElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/KeywordSearchV3WithV2ElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/EntitySearchIndexResolverTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAOIncidentStatsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/KeywordSearchV3OpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/KeywordSearchV3WithV2OpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/BrowseDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/KeywordSearchV3TestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/SearchDAOTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/filter/ContainerExpansionRewriterTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AggregationQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsLifecycleStageFilterTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/systemmetadata/PlatformEntityCountsTest.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
  metadata-service/servlet/src/test/java/com/datahub/gms/servlet/ConfigSearchExportTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-servlet-spotless

fix(schema-registry): stub Confluent associations API on INTERNAL registry
  metadata-service/schema-registry-api/src/main/java/io/datahubproject/schema_registry/openapi/generated/Association.java
  metadata-service/schema-registry-api/src/main/java/io/datahubproject/schema_registry/openapi/generated/AssociationBatchResponse.java
  metadata-service/schema-registry-api/src/main/java/io/swagger/api/AssociationsApi.java
  metadata-service/schema-registry-api/src/main/resources/schema-registry-associations-open-api.yaml
  metadata-service/schema-registry-servlet/src/main/java/io/datahubproject/openapi/schema/registry/SchemaRegistryController.java
  metadata-service/schema-registry-servlet/src/test/java/io/datahubproject/openapi/schema/registry/SchemaRegistryControllerTest.java
  metadata-service/schema-registry-servlet/src/test/java/io/datahubproject/openapi/test/SchemaRegistryControllerTest.java
Due: metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless

docs: add v1.6.0.3 LTS hotfix upgrade notes
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: condense v1.6.0.3 hotfix notes
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: recommend CLI 1.7.0.13 for v1.6.0.3
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingestion): raise snowflake-connector-python floor to 4.7.3 (#19991)
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(ingest): finish SQLAlchemy 2.0 cutover on current master
  .github/.codecov.yml
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/__init__.py
  metadata-ingestion/src/datahub/_pkg_resources_finder.py
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_dialect.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/databricks.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/base_adapter.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/query_combiner.py
  metadata-ingestion/src/datahub/utilities/pkg_resources_shim.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/unit/doris/test_doris_dialect.py
  metadata-ingestion/tests/unit/fivetran/test_fivetran_lineage_fanout.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_adapters.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_case_folded_columns.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_query_combiner.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_query_combiner_runner.py
  metadata-ingestion/tests/unit/test_clickhouse_source.py
  metadata-ingestion/tests/unit/test_clickhouse_usage_source.py
  metadata-ingestion/tests/unit/test_packaging.py
  metadata-ingestion/tests/unit/test_teradata_source.py
  metadata-ingestion/tests/unit/utilities/test_pkg_resources_shim.py
  metadata-ingestion/tests/unit/utilities/test_sqlalchemy_query_combiner.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(alchemy): strengthen themed UI primitives (#19989)
  datahub-web-react/.storybook/docsThemes.ts
  datahub-web-react/.storybook/manager.js
  datahub-web-react/.storybook/preview.tsx
  datahub-web-react/.storybook/storybook-theme.css
  datahub-web-react/.storybook/storybook-theme.js
  datahub-web-react/src/alchemy-components/components/Alert/Alert.stories.tsx
  datahub-web-react/src/alchemy-components/components/Alert/components.ts
  datahub-web-react/src/alchemy-components/components/Breadcrumb/Breadcrumb.stories.tsx
  datahub-web-react/src/alchemy-components/components/Compatibility/index.ts
  datahub-web-react/src/alchemy-components/components/Editor/EditorImpl.tsx
  datahub-web-react/src/alchemy-components/components/Editor/EditorTheme.tsx
  datahub-web-react/src/alchemy-components/components/EmptyState/EmptyState.stories.tsx
  datahub-web-react/src/alchemy-components/components/Modal/Modal.tsx
  datahub-web-react/src/alchemy-components/components/Pagination/Pagination.tsx
  datahub-web-react/src/alchemy-components/components/Pagination/components.ts
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/types.ts
  datahub-web-react/src/alchemy-components/components/Timeline/components.tsx
  datahub-web-react/src/alchemy-components/components/Toast/Toast.stories.tsx
  datahub-web-react/src/alchemy-components/components/Toast/Toast.tsx
  datahub-web-react/src/alchemy-components/components/Toast/components.ts
  datahub-web-react/src/alchemy-components/components/Toast/types.ts
  datahub-web-react/src/alchemy-components/index.ts
  datahub-web-react/src/app/theme/__tests__/useMonacoTheme.test.ts
  datahub-web-react/src/app/theme/useMonacoTheme.ts
  datahub-web-react/src/conf/theme/colorThemes/color.ts
  datahub-web-react/src/conf/theme/colorThemes/dark.ts
  datahub-web-react/src/i18n/locales/en/alchemy.json
Due: web-react-lint-fix

refactor(frontend): migrate shared actions to Alchemy (#19990)
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/shared/actions/ActionItem.tsx
  datahub-web-react/src/app/shared/cron/cronBuilderStyles.ts
  datahub-web-react/src/app/shared/share/v2/ShareButtonMenu.tsx
  datahub-web-react/src/app/shared/share/v2/ShareMenuAction.tsx
  datahub-web-react/src/app/shared/share/v2/items/CopyLinkMenuItem.tsx
  datahub-web-react/src/app/shared/share/v2/items/CopyNameMenuItem.tsx
  datahub-web-react/src/app/shared/share/v2/items/CopyUrnMenuItem.tsx
  datahub-web-react/src/app/shared/share/v2/items/EmailMenuItem.tsx
  datahub-web-react/src/app/shared/share/v2/styledComponents.tsx
  datahub-web-react/src/app/shared/share/v2/useShareMenuItems.ts
  datahub-web-react/src/app/sharedV2/modals/ConfirmationModal.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/Condition.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/GroupHeader.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/QueryBuilder.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/styledComponents.ts
  datahub-web-react/src/app/sharedV2/search/DownloadButton.tsx
  datahub-web-react/src/app/sharedV2/search/EditButton.tsx
  datahub-web-react/src/i18n/locales/de/shared.share.json
  datahub-web-react/src/i18n/locales/en/shared.share.json
  datahub-web-react/src/i18n/locales/es/shared.share.json
  datahub-web-react/src/i18n/locales/fi/shared.share.json
  datahub-web-react/src/i18n/locales/fr/shared.share.json
  datahub-web-react/src/i18n/locales/hu/shared.share.json
  datahub-web-react/src/i18n/locales/it/shared.share.json
  datahub-web-react/src/i18n/locales/ja/shared.share.json
  datahub-web-react/src/i18n/locales/nb/shared.share.json
  datahub-web-react/src/i18n/locales/pt-BR/shared.share.json
  datahub-web-react/src/i18n/locales/ru/shared.share.json
  datahub-web-react/src/i18n/locales/sv/shared.share.json
  datahub-web-react/src/i18n/locales/zh-CN/shared.share.json
  datahub-web-react/src/i18n/locales/zh-TW/shared.share.json
Due: web-react-lint-fix

fix(ui): show profile scope and aged stats on the Stats tab
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/__tests__/profileScope.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/columnStats/ColumnStatsV2.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/ChangeHistoryGraph/ChangeHistoryGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/QueryCountGraph/QueryCountChart.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StatsTabRowCountGraph/StatsTabRowCountGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StorageSizeGraph/StorageSizeGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/__tests__/getInitialLookbackWindowType.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/getInitialLookbackWindowType.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/hooks/useProfileGraphLookback.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/highlights/LatestStats.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/historical/TopUsers.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/profileScope.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/useGetStatsData.ts
  datahub-web-react/src/i18n/locales/en/entity.profile.stats.json
Due: web-react-lint-fix

refactor(frontend): migrate non-query code surfaces to Alchemy
  datahub-web-react/src/alchemy-components/components/Pagination/components.ts
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/app/entityV2/chart/summary/SummaryQuerySection.tsx
  datahub-web-react/src/app/entityV2/semanticModel/profile/DefinitionTab.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Query/SidebarQueryOperationsSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/weaklyTypedAspects/DynamicTab.tsx
  datahub-web-react/src/app/theme/GlobalThemeStyles.tsx
Due: web-react-lint-fix

refactor(frontend): migrate query cards to Alchemy
  datahub-web-react/src/app/entityV2/shared/StyledSyntaxHighlighter.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/CopyQuery.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/Query.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryCard.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryCardDetails.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryCardDetailsMenu.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryCardEditButton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryCardHeader.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryCardQuery.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryModal.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/useQueryTableColumns.tsx
Due: web-react-lint-fix

refactor(frontend): migrate the queries list to the Alchemy table
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueriesListSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueriesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/queryColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/useQueryTableColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/utils/getQueriesTableData.ts
Due: web-react-lint-fix

refactor(frontend): migrate the query builder and empty state to Alchemy
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/AddButton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/EmptyQueriesSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryBuilderForm.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryBuilderModal.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/__tests__/EmptyQueriesSection.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/useHighlightedQueries.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/usePopularQueries.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/utils/__tests__/getQueriesTableData.test.ts
  datahub-web-react/src/i18n/locales/de/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/en/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/es/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/fi/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/fr/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/hu/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/it/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/ja/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/nb/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/ru/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/sv/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/zh-CN/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.profile.queries.json
Due: web-react-lint-fix

fix(alchemy): stop clickable pills from hijacking nested button keyboard events
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/alchemy-components/components/Pills/__tests__/Pill.test.tsx
  datahub-web-react/src/alchemy-components/components/Toast/components.ts
Due: web-react-lint-fix

fix(ingest): address SQLAlchemy 2.0 review findings
  metadata-ingestion/src/datahub/ingestion/source/sql/sqlalchemy_data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/query_combiner.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_query_combiner.py
  metadata-ingestion/tests/unit/test_oracle_source.py
Due: metadata-ingestion-lint-fix

feat(sdk,ingest): record column-level lineage on metrics
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_semantic_model.py
  metadata-ingestion/src/datahub/sdk/metric.py
  metadata-ingestion/tests/unit/sdk/test_metric.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_semantic_model.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/sigma): only resolve a chart formula ref to a column that exists
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
Due: metadata-ingestion-lint-fix

docs: add v1.6.0.3 LTS hotfix upgrade notes (#19994)
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(schema-registry): stub Confluent associations API on INTERNAL registry (#19993)
  metadata-service/schema-registry-api/src/main/java/io/datahubproject/schema_registry/openapi/generated/Association.java
  metadata-service/schema-registry-api/src/main/java/io/datahubproject/schema_registry/openapi/generated/AssociationBatchResponse.java
  metadata-service/schema-registry-api/src/main/java/io/swagger/api/AssociationsApi.java
  metadata-service/schema-registry-api/src/main/resources/schema-registry-associations-open-api.yaml
  metadata-service/schema-registry-servlet/src/main/java/io/datahubproject/openapi/schema/registry/SchemaRegistryController.java
  metadata-service/schema-registry-servlet/src/test/java/io/datahubproject/openapi/schema/registry/SchemaRegistryControllerTest.java
  metadata-service/schema-registry-servlet/src/test/java/io/datahubproject/openapi/test/SchemaRegistryControllerTest.java
Due: metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless

fixup! fix(ingest/sigma): report failed Sigma API calls, and fail on a dead listing
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fix(alchemy): stop clickable pills from hijacking nested button keyboard events (#19999)
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/alchemy-components/components/Pills/__tests__/Pill.test.tsx
  datahub-web-react/src/alchemy-components/components/Toast/components.ts
Due: web-react-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
