Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

feat(ingest/s3): add table filtering
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
Due: metadata-ingestion-lint-fix

feat(cli): add extra pip and debug flag
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Due: metadata-ingestion-lint-fix

fix lint
  metadata-ingestion/tests/unit/utilities/test_ingest_utils.py
Due: metadata-ingestion-lint-fix

Add test, fix lint
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/utilities/ingest_utils.py
  metadata-ingestion/tests/unit/utilities/sample_demo.dhub.yaml
  metadata-ingestion/tests/unit/utilities/test_ingest_utils.py
Due: metadata-ingestion-lint-fix

remove commented code
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Due: metadata-ingestion-lint-fix

add more options in test
  metadata-ingestion/tests/unit/utilities/test_ingest_utils.py
Due: metadata-ingestion-lint-fix

fix(ingest/unity): add exception handling
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Due: metadata-ingestion-lint-fix

code review feedback
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Due: metadata-ingestion-lint-fix

Improving overall experience
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/grafana.png
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: none

add guide on writing mcps
  docs-website/sidebars.js
  docs/advanced/writing-mcps.md
Due: none

fix lint
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix

Update constants.ts
  datahub-web-react/src/app/ingest/source/builder/constants.ts
Due: none

fix(ingest/unity): add exception handling (#12639)
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Due: metadata-ingestion-lint-fix

feat(cli): add extra pip and debug flag (#12621)
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/utilities/ingest_utils.py
  metadata-ingestion/tests/unit/utilities/sample_demo.dhub.yaml
  metadata-ingestion/tests/unit/utilities/test_ingest_utils.py
Due: metadata-ingestion-lint-fix

docs update
  docs/authentication/concepts.md
Due: none

update yarn lock
  smoke-test/tests/cypress/cypress.config.js
  smoke-test/tests/cypress/integration_test.py
  smoke-test/tests/cypress/package.json
  smoke-test/tests/cypress/yarn.lock
Due: smoke-test-lint-fix

fix lint
  smoke-test/tests/cypress/cypress.config.js
Due: none

tests(iceberg): integration test fixes
  metadata-service/iceberg-catalog/src/integrationTest/integration_test.py
Due: none

remove unused dependencies
  metadata-service/iceberg-catalog/requirements.txt
Due: none

ci(coverage): adjust patch coverage target
  .github/.codecov.yml
Due: none

Add junit path
  smoke-test/tests/cypress/integration_test.py
Due: smoke-test-lint-fix

build(frontend): fix warnings
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Due: none

review comments
  metadata-service/iceberg-catalog/requirements.txt
  metadata-service/iceberg-catalog/src/integrationTest/integration_test.py
Due: none

fix dependency errors
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Due: none

tests(iceberg): integration test fixes (#12655)
  metadata-service/iceberg-catalog/requirements.txt
  metadata-service/iceberg-catalog/src/integrationTest/integration_test.py
Due: none

revert unwanted changes
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix

revert back unwanted files
  metadata-ingestion/examples/ai/dh_ai_client_sample_file_emitter.py
  metadata-ingestion/examples/recipes/mlflow_mcps_from_sdk.json
Due: metadata-ingestion-lint-fix

revert wrong fixes
  datahub-web-react/src/app/entity/dataset/shared/utils.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/filterSchemaRows.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/filterSchemaRows.ts
Due: none

revert wrong fix
  datahub-web-react/src/app/lineage/ColumnNode.tsx
Due: none

feat(ingest/redshift): support for datashares lineage
  metadata-ingestion/docs/sources/redshift/README.md
  metadata-ingestion/docs/sources/redshift/redshift_pre.md
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/shares.py
Due: metadata-ingestion-lint-fix

feat(validation): Disallow deleting system users
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BackfillCorpUserInfoConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/corpuserinfo/BackfillCorpUserInfo.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/corpuserinfo/BackfillCorpUserInfoStep.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/UserDeleteValidator.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/UserDeleteValidatorTest.java
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserInfo.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/root-user.yaml
Due: datahub-upgrade-spotless, entity-registry-spotless

fix metadata-service lint
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Due: metadata-service-factories-spotless

remove backfilling bootstrap step
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BackfillCorpUserInfoConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/corpuserinfo/BackfillCorpUserInfo.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/corpuserinfo/BackfillCorpUserInfoStep.java
  devbox.lock
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-upgrade-spotless

Add metadata-service snapshot changes
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Due: none

Move validator loading to spring configuration, make system an optional field
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/corpuserinfo/BackfillCorpUserInfoStep.java
  devbox.lock
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/UserDeleteValidator.java
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserInfo.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Due: datahub-upgrade-spotless, entity-registry-spotless, metadata-service-factories-spotless

fix metadata-io failing tests
  metadata-io/src/test/java/com/linkedin/metadata/AspectGenerationUtils.java
Due: metadata-io-spotless

fix(iceberg): enable nested namespaces in path (#12653)
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
Due: none
