Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:mdPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: ./gradlew :datahub-actions:lintFix
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

fix rendering images while editing, support csv and quicktime movies
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/FileDragDropExtension.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/fileUtils.ts
Due: none

SE-123: added product update resolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/shared/product/update/ProductUpdates.tsx
  datahub-web-react/src/app/shared/product/update/hooks.ts
  datahub-web-react/src/app/shared/product/update/latestUpdate.ts
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-configuration-spotless

SE-123: added product update resolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/ProductUpdateResolver.java
  metadata-service/configuration/src/main/resources/product-update.json
  metadata-service/services/src/main/java/com/linkedin/metadata/service/ProductUpdateService.java
Due: datahub-graphql-core-spotless, metadata-service-services-spotless

another round of cleaning up and refactoring
  datahub-web-react/src/alchemy-components/components/Editor/OnChangeMarkdown.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/FileDragDropExtension.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/FileNodeView.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/fileUtils.ts
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/index.ts
Due: none

updates per load-indices
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/loadindices/LoadIndicesIndexManager.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/loadindices/config/LoadIndicesConfig.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/loadindices/LoadIndicesIndexManagerTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/loadindices/config/LoadIndicesConfigTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/update/BulkListener.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/update/ESBulkProcessor.java
Due: datahub-upgrade-spotless, metadata-io-spotless

fix(externalEvents): fixes timeout issues for external events api
  metadata-service/events-service/src/main/java/io/datahubproject/event/ExternalEventsService.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/kafka/KafkaConsumerPool.java
  metadata-service/events-service/src/test/java/io/datahubproject/event/ExternalEventsServiceTest.java
  metadata-service/events-service/src/test/java/io/datahubproject/event/kafka/KafkaConsumerPoolTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/event/ExternalEventsController.java
Due: metadata-service-events-service-spotless, metadata-service-openapi-servlet-spotless

reduce default
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/event/ExternalEventsServiceFactory.java
Due: metadata-service-factories-spotless

executor lint fixes
  datahub-executor/src/datahub_executor/common/monitor/inference/metric_projection/config.py
  datahub-executor/src/datahub_executor/common/types.py
Due: none

fix(executor): lockfile update
  datahub-executor/requirements-dev.txt
Due: none

fix(python): type bugs in coordinator and smoke tests
  datahub-executor/src/datahub_executor/common/assertion/engine/transformer/assertion_adjustment/algorithm.py
  datahub-executor/src/datahub_executor/common/metric/types.py
  datahub-executor/src/datahub_executor/common/monitor/inference/fixed_interval/fixed_interval_helper_classes.py
  datahub-executor/src/datahub_executor/common/monitor/inference/metric_projection/types.py
  datahub-executor/tests/common/test_types.py
  datahub-executor/tests/coordinator/test_utils.py
  smoke-test/tests/propagation/bigquery/util.py
Due: smoke-test-lint-fix

handle shutdown
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/UpgradeCliApplicationTestConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAORelationshipGroupQueryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/ElasticSearchGraphServiceFactory.java
Due: datahub-upgrade-spotless, metadata-io-spotless, metadata-service-factories-spotless

fix(ingestion): pydantic fixes
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feature(users): show blue dot and new pill (#6863)
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenuItem.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavSidebar.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/types.ts
  datahub-web-react/src/app/identity/ManageUsersAndGroups.tsx
  datahub-web-react/src/app/identity/user/PlatformFilter.tsx
  datahub-web-react/src/app/identity/user/RecommendedUsersTable.components.tsx
  datahub-web-react/src/app/identity/user/RecommendedUsersTable.tsx
  datahub-web-react/src/app/identity/user/UserAndGroupList.components.tsx
  datahub-web-react/src/app/identity/user/UserAndGroupList.tsx
  datahub-web-react/src/app/identity/user/__tests__/useRecommendedUsersCount.test.tsx
  datahub-web-react/src/app/identity/user/buildRecommendedUsersFilters.ts
  datahub-web-react/src/app/identity/user/recommendedUsersLocalStorage.ts
  datahub-web-react/src/app/identity/user/useRecommendedUsersCount.tsx
  datahub-web-react/src/app/identity/user/useUserRecommendations.tsx
  datahub-web-react/src/app/settingsV2/SettingsPage.tsx
Due: none

fix(impact): add missing executor pool (#14976)
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/UpgradeCliApplicationTestConfiguration.java
  docs/deploy/environment-vars.md
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryBaseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAORelationshipGroupQueryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/ElasticSearchGraphServiceFactory.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-upgrade-spotless, metadata-io-spotless, metadata-service-factories-spotless

fix(metadata-events): java 8 back compat
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/AssertionRunSummaryPatchBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/AssertionsSummaryPatchBuilder.java
  metadata-events/mxe-utils-avro/src/main/java/com/linkedin/metadata/EventSchemaConstants.java
Due: entity-registry-spotless, metadata-events-mxe-utils-avro-spotless

add refetchProductUpdate resolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/resources/app.graphql
  metadata-service/configuration/src/main/resources/product-update.json
Due: datahub-graphql-core-spotless

bugfix(setup): pin pydantic version due to incompatibility with pyiceberg
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

Fix assertionlist
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AcrylAssertionList.tsx
Due: none

unit tests
  entity-registry/src/test/java/com/linkedin/metadata/models/EntitySpecTest.java
  entity-registry/src/test/java/com/linkedin/metadata/models/annotation/SearchableAnnotationExtensionTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/DelegatingMappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV3StrategyTest.java
Due: entity-registry-spotless, metadata-io-spotless

resolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/RefreshProductUpdateResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/config/ProductUpdateResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/config/RefreshProductUpdateResolverTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/ProductUpdateServiceTest.java
  metadata-service/services/src/test/resources/product-update-fallback.json
Due: datahub-graphql-core-spotless, metadata-service-services-spotless

refactor(policy): Update policy check for get invite token and create invite token (#14941)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/CreateInviteTokenResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/GetInviteTokenResolver.java
Due: datahub-graphql-core-spotless

fix(ingest): serialisation of structured report (#14973)
  metadata-ingestion/src/datahub/ingestion/source_report/ingestion_stage.py
  metadata-ingestion/tests/unit/reporting/test_ingestion_stage.py
Due: metadata-ingestion-lint-fix

fix(log): do not consider error if not strict (#14977)
  metadata-utils/src/main/java/com/linkedin/metadata/utils/UrnValidationUtil.java
Due: metadata-utils-spotless

fix(authentication): fix PlayCacheSessionStore (#14754)
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/app/utils/SerializationUtils.java
  datahub-frontend/test/controllers/AuthenticationControllerTest.java
  docker/datahub-frontend/start.sh
Due: none

cypress test fixes fix misssing break
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
  smoke-test/tests/cypress/cypress/e2e/search/searchFilters.js
Due: metadata-io-spotless

cypress test fixes fix misssing break
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  smoke-test/build.gradle
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
  smoke-test/tests/cypress/cypress/e2e/search/searchFilters.js
Due: metadata-io-spotless

feat(executor): Build multiple variants for executor (#6880)
  datahub-executor/build.gradle
  docker/datahub-executor/Dockerfile
Due: none

Start upstream merge process with stacked strategy
  docs/how/merge-log.md
Due: datahub-web-react-mdPrettierWriteChanged

fix: resolve build issues after committing stacked clean merges
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolverTest.java
Due: datahub-graphql-core-spotless

fix(ci): only run on OSS - master
  .github/workflows/verify-quickstart-compose.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ci): only applies to master
  .github/workflows/verify-quickstart-compose.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

build(actions): optimize docker layer caching for bundled-venvs
  docker/datahub-actions/Dockerfile
Due: none

fix(build): resolve build validation modifications after stacked clean merges
  datahub-web-react/src/app/entityV2/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entityV2/summary/properties/property/properties/__tests__/utils.test.ts
Due: none

dynamically determine actual container names from running docker compose
  docker/build.gradle
Due: none

fix(metadata-ingestion): Make Python venv --copies flag optional
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/dagster-plugin/build.gradle
  metadata-ingestion-modules/gx-plugin/build.gradle
  metadata-ingestion-modules/prefect-plugin/build.gradle
  metadata-ingestion/CLAUDE.md
  metadata-ingestion/build.gradle
  metadata-ingestion/developing.md
Due: datahub-web-react-mdPrettierWriteChanged

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$
