Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

feat(search): serve semantic search from the Search V3 document index (#19934)
  docs/deploy/environment-vars.md
  docs/how-to/semantic-search-configuration.md
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/search/semantic/SemanticEntitySearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/SemanticSearchV3ElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/SemanticSearchV3OpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/semantic/SemanticEntitySearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/semantic/SemanticSearchV3TestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/EntityIndexVersionConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/semantic/SemanticEntitySearchServiceFactory.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

feat(telemetry): opt-in per-request attribution of OpenSearch and Postgres query wall time to actors
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/Es8SearchClientShim.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/OpenSearchSearchClientShim.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/ShimTelemetry.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestStats.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/RequestStatsTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/telemetry/RequestAttributionConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/telemetry/TelemetryConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/LocalEbeanConfigFactory.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/TracingInterceptor.java
Due: metadata-io-spotless, metadata-operation-context-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-openapi-servlet-spotless

feat(telemetry): per-call sequence in X-Opaque-Id; Postgres backend pids on the request span
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestStats.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/RequestStatsTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/LocalEbeanConfigFactory.java
Due: metadata-operation-context-spotless, metadata-service-factories-spotless

feat(telemetry): optional actor/operation SQL comment on every statement in a request
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestStats.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/telemetry/RequestAttributionConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/ActorSqlComment.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/LocalEbeanConfigFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EbeanReadPoolConfigFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/common/ActorSqlCommentTest.java
Due: metadata-operation-context-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

feat(telemetry): name the actor, operation, trace and store usage on async timeouts
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestStats.java
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
Due: metadata-operation-context-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-servlet-spotless

fix(telemetry): concrete Connection wrapper so the agent's sqlcommenter still runs alongside the actor comment
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/ActorSqlComment.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/CommentingConnection.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/common/ActorSqlCommentTest.java
Due: metadata-service-factories-spotless

feat(lite): make the DataHub Lite storage engine pluggable, add SQLite
  docs/datahub_lite.md
  docs/how/updating-datahub.md
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/sink_docs/datahub.md
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_lite.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/lite/lite_registry.py
  metadata-ingestion/src/datahub/lite/lite_util.py
  metadata-ingestion/src/datahub/lite/sql_backed_lite.py
  metadata-ingestion/src/datahub/lite/sqlite_lite.py
  metadata-ingestion/src/datahub/lite/sqlite_lite_config.py
  metadata-ingestion/tests/unit/api/test_plugin_system.py
  metadata-ingestion/tests/unit/lite/__init__.py
  metadata-ingestion/tests/unit/lite/test_lite_engine_selection.py
  metadata-ingestion/tests/unit/lite/test_sql_backed_lite.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/sigma): stop a duplicate workbook overwriting a chart's column lineage
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_guard.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
  metadata-ingestion/tests/unit/sigma/test_dm_customsql_parsing.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(lite): repair the two-column edge UPDATE in add_edge
  metadata-ingestion/src/datahub/lite/sql_backed_lite.py
  metadata-ingestion/tests/unit/lite/test_sql_backed_lite.py
Due: metadata-ingestion-lint-fix

fix(lite): address review findings on the SQLite engine
  docs/datahub_lite.md
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/lite/sql_backed_lite.py
  metadata-ingestion/src/datahub/lite/sqlite_lite.py
  metadata-ingestion/tests/unit/lite/test_lite_engine_selection.py
  metadata-ingestion/tests/unit/lite/test_sql_backed_lite.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(lite): reference the PR in the breaking-change entry
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fixup! fix(ingest/sigma): stop a duplicate workbook overwriting a chart's column lineage
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_guard.py
Due: metadata-ingestion-lint-fix

fix(events): include sourceDetails in documentation ECE parameters (#19936)
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/DocumentationChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/DocumentationChangeEventGeneratorTest.java
Due: metadata-io-spotless

fix(telemetry): gate inbound traceparent continuation behind requestAttribution.enabled; document the env vars
  docs/deploy/environment-vars.md
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/TracingInterceptor.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-openapi-servlet-spotless

fixup! fix(ingest/sigma): stop a duplicate workbook overwriting a chart's column lineage
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_guard.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs: plain-language descriptions for the request attribution variables
  docs/deploy/environment-vars.md
Due: datahub-web-react-mdPrettierWriteChanged

fixup! fix(ingest/sigma): stop a duplicate workbook overwriting a chart's column lineage
  docs/how/updating-datahub.md
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_guard.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(telemetry): telemetry.traceContinuation flag; full test coverage for request attribution
  docs/deploy/environment-vars.md
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/Es8ShimTelemetryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/ShimTelemetryTest.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/RequestStatsTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/telemetry/TelemetryConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/build.gradle
  metadata-service/factories/gradle.lockfile
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/ActorSqlComment.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/LocalEbeanConfigFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/common/ActorSqlCommentTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/common/LocalEbeanConfigFactoryNoCloudTest.java
  metadata-service/graphql-servlet-impl/src/test/java/com/datahub/graphql/GraphQLControllerUsageRecordingTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/TracingInterceptor.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandlerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/config/TracingInterceptorTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-operation-context-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-servlet-spotless, check-gradle-lockfiles

fixup! fix(ingest/sigma): stop a duplicate workbook overwriting a chart's column lineage
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_guard.py
Due: metadata-ingestion-lint-fix

fix(telemetry): address review: time failed round trips, tag explain, classify new properties, format docs
  docs/deploy/environment-vars.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/Es8SearchClientShim.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/OpenSearchSearchClientShim.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/Es8ShimTelemetryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/OpenSearchSearchClientShimTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless

docs(ingest/openapi): restore changelog entries dropped in master merge
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

test(frontend): assert hashed assets serve brotli then gzip
  smoke-test/tests/frontend/test_static_asset_encodings.py
Due: smoke-test-lint-fix

fixup! fix(ingest/sigma): stop a duplicate workbook overwriting a chart's column lineage
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_guard.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/fabric-onelake): drop >4-part names, report true unresolved cause, count stripped upstreams
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/name_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/report.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-ingestion/tests/unit/fabric_onelake/test_name_resolver.py
  metadata-ingestion/tests/unit/fabric_onelake/test_source.py
Due: metadata-ingestion-lint-fix

refactor(ingest/fabric-onelake): type the resolver constructor and pin the private view-parsing hook
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/name_resolver.py
  metadata-ingestion/tests/unit/fabric_onelake/test_name_resolver.py
Due: metadata-ingestion-lint-fix

fix(ingest/fabric-onelake): discover Warehouse tables via the SQL Analytics Endpoint
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/fabric-onelake/fabric-onelake_post.md
  metadata-ingestion/docs/sources/fabric-onelake/fabric-onelake_pre.md
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/client.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/constants.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/report.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/schema_client.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-ingestion/tests/integration/fabric/fabric_onelake/golden/test_fabric_onelake_warehouse_with_views_golden.json
  metadata-ingestion/tests/integration/fabric/fabric_onelake/test_fabric_onelake_source.py
  metadata-ingestion/tests/unit/fabric_onelake/test_schema_client.py
  metadata-ingestion/tests/unit/fabric_onelake/test_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/fabric-onelake): isolate item failures without yielding inside try/except
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-ingestion/tests/unit/fabric_onelake/test_source.py
Due: metadata-ingestion-lint-fix

docs(ingest/fabric-onelake): declare lineage capabilities and document the cross-item lineage change
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/fabric-onelake/fabric-onelake_post.md
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/fabric-onelake): resolve cross-item and cross-workspace SQL names in lineage
  metadata-ingestion/docs/sources/fabric-onelake/fabric-onelake_post.md
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/name_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/report.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-ingestion/tests/integration/fabric/fabric_onelake/golden/test_fabric_onelake_cross_item_lineage_golden.json
  metadata-ingestion/tests/integration/fabric/fabric_onelake/test_fabric_onelake_source.py
  metadata-ingestion/tests/unit/fabric_onelake/test_name_resolver.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/fabric-onelake): never emit system objects; skip driver and self-issued queryinsights rows
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/fabric-onelake/fabric-onelake_post.md
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/config.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/name_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/report.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/schema_client.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/usage.py
  metadata-ingestion/tests/integration/fabric/fabric_onelake/test_fabric_onelake_source.py
  metadata-ingestion/tests/unit/fabric_onelake/test_name_resolver.py
  metadata-ingestion/tests/unit/fabric_onelake/test_schema_client.py
  metadata-ingestion/tests/unit/fabric_onelake/test_usage.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest/fabric-data-factory): document column lineage and URN changes
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/azure-data-factory/azure-data-factory_post.md
  metadata-ingestion/docs/sources/fabric-data-factory/fabric-data-factory_post.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/fabric-data-factory): yield activity DataJobs outside the error guard
  metadata-ingestion/src/datahub/ingestion/source/fabric/data_factory/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/data_factory/source.py
  metadata-ingestion/tests/unit/fabric_data_factory/test_lineage.py
  metadata-ingestion/tests/unit/fabric_data_factory/test_source_helpers.py
Due: metadata-ingestion-lint-fix

fix(ingest/fabric-data-factory): map DataWarehouse linked service type to OneLake
  metadata-ingestion/src/datahub/ingestion/source/fabric/common/constants.py
  metadata-ingestion/tests/unit/fabric_data_factory/test_lineage.py
Due: metadata-ingestion-lint-fix

refactor(ingest/azure): extract shared Copy activity translator parsing
  metadata-ingestion/src/datahub/ingestion/source/azure/copy_translator.py
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_column_lineage.py
  metadata-ingestion/tests/unit/azure/test_copy_translator.py
Due: metadata-ingestion-lint-fix

fix(ingest/fabric-data-factory): resolve Salesforce Copy sources via objectApiName
  metadata-ingestion/src/datahub/ingestion/source/azure/constants.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/data_factory/lineage.py
  metadata-ingestion/tests/unit/fabric_data_factory/test_lineage.py
Due: metadata-ingestion-lint-fix

docs(ingest/fabric-data-factory): align config docstring with ingested items
  metadata-ingestion/src/datahub/ingestion/source/fabric/data_factory/config.py
Due: metadata-ingestion-lint-fix

fix(ingest/fabric-data-factory): resolve same-workspace OneLake placeholder GUID
  metadata-ingestion/src/datahub/ingestion/source/fabric/data_factory/lineage.py
  metadata-ingestion/tests/integration/fabric/fabric_data_factory/test_fabric_data_factory_source.py
  metadata-ingestion/tests/integration/fabric/fabric_data_factory/test_factories.py
  metadata-ingestion/tests/unit/fabric_data_factory/test_lineage.py
Due: metadata-ingestion-lint-fix

test(ingest/azure-data-factory): drop mistyped SQL table-name case
  metadata-ingestion/tests/unit/azure_data_factory/test_adf_source.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
