Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

Revert "feat(ingest/sigma): add Sigma Data Models as Dataset entities (#17109)"
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/sigma/sigma_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_data_models.json
  metadata-ingestion/tests/integration/sigma/test_sigma.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(graphql,openapi): add entity-level view authorization on Change History
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/DocumentChangeHistoryResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/timeline/GetSchemaBlameResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/timeline/GetSchemaVersionListResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/timeline/GetTimelineResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/TestUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/DocumentChangeHistoryResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/timeline/GetSchemaBlameResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/timeline/GetSchemaVersionListResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/timeline/GetTimelineResolverTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/timeline/TimelineControllerV1.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/TimelineControllerV2.java
  smoke-test/tests/timeline/timeline_change_history_auth_test.py
Due: datahub-graphql-core-spotless, metadata-service-openapi-servlet-spotless, smoke-test-lint-fix

docs(ingest/db2): updates for windows, z/os, and remote executor instructions
  metadata-ingestion/docs/sources/db2/db2_post.md
Due: datahub-web-react-mdPrettierWriteChanged

add limitations section back
  metadata-ingestion/docs/sources/db2/db2_post.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ingestion/snowplow): split deployment_environment filter into two configs
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  metadata-ingestion/src/datahub/ingestion/source/snowplow/processors/pipeline_processor.py
  metadata-ingestion/src/datahub/ingestion/source/snowplow/snowplow_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowplow/snowplow_report.py
  metadata-ingestion/tests/unit/snowplow/test_feature_flag_combinations.py
  metadata-ingestion/tests/unit/snowplow/test_pipeline_processor.py
Due: metadata-ingestion-lint-fix, web-react-lint-fix

fix(graphql): use canViewEntity for timeline resolvers to work on all envs
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/timeline/GetSchemaBlameResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/timeline/GetSchemaVersionListResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/timeline/GetTimelineResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/TestUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/timeline/GetSchemaBlameResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/timeline/GetSchemaVersionListResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/timeline/GetTimelineResolverTest.java
Due: datahub-graphql-core-spotless

fix jackson error
  metadata-integration/java/acryl-spark-lineage/build.gradle
Due: check-gradle-lockfiles

fix(ingest/sigma): BFS graph walk, per-node isolation, filtered-upstream counter
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Due: metadata-ingestion-lint-fix

test(ingest/sigma): add unit tests for BFS, isolation, counter, and unrelated-edge fixture
  metadata-ingestion/tests/integration/sigma/test_sigma.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fix deps chain
  metadata-integration/java/acryl-spark-lineage/build.gradle
Due: check-gradle-lockfiles

do not eclude class
  metadata-integration/java/acryl-spark-lineage/build.gradle
Due: check-gradle-lockfiles

fix(sigma/ingest): Add more comments
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix integration test
  metadata-integration/java/acryl-spark-lineage/build.gradle
Due: check-gradle-lockfiles

fix(ingest/sigma): deque BFS, setdefault, trim debug msg; test duplicate-nodeId collapse
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fix(ingest/sigma): per-node BFS isolation, sort chart_input_urns, clarify join comment
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Due: metadata-ingestion-lint-fix

remoce missing file
  metadata-integration/java/spark-lineage-legacy/src/test/java/datahub/spark/DatasetExtractorTest.java
Due: metadata-integration-java-spark-lineage-legacy-spotless

refactor(ingest/sigma): _get_element_input_details returns typed tuple, removing URN-prefix split
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fix(ingest/sigma): BFS from all seed nodes; warn on unexpected multiple seeds
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Due: metadata-ingestion-lint-fix

fix(ingest/sigma): per-edge isolation in adjacency build; test malformed-edge skips only itself
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

test(ingest/sigma): drop two trivial unit tests
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fix(ingest/sigma): wrap _process_lineage_node call in per-node try/except
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Due: metadata-ingestion-lint-fix

fix(ingest/sigma): add sourceUrn to inputEdges EdgeClass
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/integration/sigma/golden_test_intra_workbook_lineage.json
Due: metadata-ingestion-lint-fix

fix(ingest/sigma): Constant.TARGET, exc= in inner catches, Set for chart_input_urns
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Due: metadata-ingestion-lint-fix

chore: upgrade OpenTelemetry javaagent to v2.27.0
  build.gradle
  datahub-graphql-core/gradle.lockfile
  datahub-upgrade/gradle.lockfile
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docs/how/updating-datahub.md
  ingestion-scheduler/gradle.lockfile
  metadata-dao-impl/kafka-producer/gradle.lockfile
  metadata-io/gradle.lockfile
  metadata-io/metadata-io-api/gradle.lockfile
  metadata-jobs/common/gradle.lockfile
  metadata-jobs/mae-consumer-job/gradle.lockfile
  metadata-jobs/mae-consumer/gradle.lockfile
  metadata-jobs/mce-consumer-job/gradle.lockfile
  metadata-jobs/mce-consumer/gradle.lockfile
  metadata-jobs/pe-consumer/gradle.lockfile
  metadata-service/auth-filter/gradle.lockfile
  metadata-service/auth-impl/gradle.lockfile
  metadata-service/auth-servlet-impl/gradle.lockfile
  metadata-service/factories/gradle.lockfile
  metadata-service/graphql-servlet-impl/gradle.lockfile
  metadata-service/iceberg-catalog/gradle.lockfile
  metadata-service/openapi-analytics-servlet/gradle.lockfile
  metadata-service/openapi-entity-servlet/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/restli-servlet-impl/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
  metadata-service/services/gradle.lockfile
  metadata-service/servlet/gradle.lockfile
  metadata-service/war/gradle.lockfile
Due: datahub-web-react-mdPrettierWriteChanged, check-gradle-lockfiles

feat(ingest/sigma): emit Data Models as Containers with per-element Datasets
  metadata-ingestion/docs/sources/sigma/sigma_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_ingest_data_models.json
  metadata-ingestion/tests/integration/sigma/test_sigma.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(sigma/ingest): Address review comments
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_ingest_data_models.json
  metadata-ingestion/tests/integration/sigma/test_sigma.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

doc(cloud): upgrade cli version recommendation
  docs/managed-datahub/release-notes/v_0_3_17.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ui/policy): show selected domains in policy dropdown
  datahub-web-react/src/app/domainV2/nestedDomains/domainNavigator/DomainNavigator.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/domainNavigator/DomainNode.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryBrowser/NodeItem.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryBrowser/TermItem.tsx
  datahub-web-react/src/app/permissions/policy/DomainSelector.tsx
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
  datahub-web-react/src/app/sharedV2/icons/SelectedMark.tsx
Due: web-react-lint-fix

resolve comments
  datahub-web-react/src/app/domainV2/nestedDomains/domainNavigator/DomainNode.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryBrowser/GlossaryBrowser.tsx
  datahub-web-react/src/app/permissions/policy/DomainSelector.tsx
  datahub-web-react/src/app/permissions/policy/GlossarySelector.tsx
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
  datahub-web-react/src/app/sharedV2/sidebar/components.tsx
Due: web-react-lint-fix

fix: code refactoring, handle browse paths for nav tree traversal, convert data models to pydantic models
  metadata-ingestion/src/datahub/ingestion/source/informatica/client.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/config.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/models.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/source.py
  metadata-ingestion/tests/integration/informatica/golden/informatica_mces_golden.json
  metadata-ingestion/tests/integration/informatica/test_informatica.py
  metadata-ingestion/tests/unit/informatica/test_client.py
  metadata-ingestion/tests/unit/informatica/test_config.py
  metadata-ingestion/tests/unit/informatica/test_models.py
  metadata-ingestion/tests/unit/informatica/test_source.py
Due: metadata-ingestion-lint-fix

fix button size
  datahub-web-react/src/app/sharedV2/sidebar/components.tsx
Due: web-react-lint-fix

fix: freeze_time decorator
  metadata-ingestion/tests/integration/informatica/test_informatica.py
Due: metadata-ingestion-lint-fix

fix(metadata): bridge version gaps in AspectMigrationMutatorChain
  entity-registry/src/main/java/com/linkedin/metadata/aspect/hooks/AspectMigrationMutatorChain.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/hooks/AspectMigrationMutatorChainTest.java
Due: entity-registry-spotless

update stale image
  docker/datahub-ingestion-base/smoke.Dockerfile
Due: none

restore to user datahub after install
  docker/datahub-ingestion-base/smoke.Dockerfile
Due: none

fix issues after UI cleanup
  datahub-web-react/src/app/homeV3/module/components/LargeModule.tsx
  datahub-web-react/src/app/permissions/AvatarsGroup.tsx
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
Due: web-react-lint-fix

fix tests
  datahub-web-react/src/app/permissions/policy/_tests_/PolicyDetailsModal.test.tsx
Due: web-react-lint-fix

fix(tests): add cast for graph in structured properties test
  metadata-ingestion/tests/unit/test_csv_enricher_source.py
Due: metadata-ingestion-lint-fix
