Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

Revert "temporary run only nifi tests for batch 2"
  metadata-ingestion/build.gradle
Due: check-gradle-lockfiles

feat(snowflake): Restore column tag inheritance for with_lineage mode
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_tag.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_tag_inheritance.py
Due: metadata-ingestion-lint-fix

style(snowplow): fix markdown formatting in docs
  metadata-ingestion/docs/sources/snowplow/snowplow.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(dev-tooling): add DEV_TOOLING_ENABLED to quickstart-consumers GMS service
  docker/profiles/docker-compose.gms.yml
Due: none

fix(ingestion): improve pyproject.toml decomposition and restore ruff comments
  metadata-ingestion/pyproject.toml
  metadata-ingestion/scripts/generate_pyproject_deps.py
  metadata-ingestion/scripts/verify_pyproject_equivalence.py
Due: metadata-ingestion-lint-fix

feat(k3d): add Python CLI for managing DataHub on k3d clusters
  k3d/README.md
  k3d/dh
  k3d/k3d-config.yaml
  k3d/kustomize/example/kustomization.yaml
  k3d/kustomize/example/patches/gms-env.yaml
  k3d/pyproject.toml
  k3d/src/dh/__init__.py
  k3d/src/dh/cli.py
  k3d/src/dh/cluster.py
  k3d/src/dh/config.py
  k3d/src/dh/deploy.py
  k3d/src/dh/helm.py
  k3d/src/dh/images.py
  k3d/src/dh/infra.py
  k3d/src/dh/kustomize.py
  k3d/src/dh/naming.py
  k3d/src/dh/profiles.py
  k3d/src/dh/template.py
  k3d/src/dh/utils.py
  k3d/tests/conftest.py
  k3d/tests/test_cli.py
  k3d/tests/test_cluster.py
  k3d/tests/test_config.py
  k3d/tests/test_deploy.py
  k3d/tests/test_helm.py
  k3d/tests/test_images.py
  k3d/tests/test_infra.py
  k3d/tests/test_kustomize.py
  k3d/tests/test_naming.py
  k3d/tests/test_profiles.py
  k3d/tests/test_template.py
  k3d/tests/test_utils.py
  k3d/uv.lock
  k3d/values/datahub-worktree.yaml.tpl
  k3d/values/infra-prerequisites.yaml
  k3d/values/profiles/backend.yaml
  k3d/values/profiles/consumers.yaml
  k3d/values/profiles/minimal.yaml
Due: datahub-web-react-mdPrettierWriteChanged

feat(k3d): add local-datahub skill for agent-driven development
  .claude/skills/k3d/SKILL.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(k3d): allow k3d CLI and test commands without prompting
  .claude/settings.json
Due: none

feat(dev-tooling): improve dev ergonomics for running datahub (#16394)
  .cursor/rules/datahub-dev.mdc
  .gitignore
  AGENTS.md
  CLAUDE.md
  build.gradle
  docker/build.gradle
  docker/profiles/docker-compose.gms.yml
  docs/dev-guides/agent-workflow.md
  metadata-service/configuration/build.gradle
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FlagClassificationGenerator.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/test/java/com/linkedin/datahub/graphql/featureflags/FlagClassificationGeneratorTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/health/HealthCheckController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/dev/DevToolingController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/health/HealthCheckControllerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/dev/DevToolingControllerTest.java
  scripts/dev/build.gradle
  scripts/dev/datahub-dev.sh
  scripts/dev/datahub_dev.py
  scripts/dev/datahub_dev_ext.py.example
  scripts/dev/tests/__init__.py
  scripts/dev/tests/test_datahub_dev.py
  settings.gradle
  smoke-test/conftest.py
  smoke-test/run-quickstart.sh
  smoke-test/tests/dev_tooling/__init__.py
  smoke-test/tests/dev_tooling/test_dev_tooling.py
  smoke-test/tests/utilities/agent_reporter.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-configuration-spotless, metadata-service-openapi-servlet-spotless, smoke-test-lint-fix, check-gradle-lockfiles

fix(mae): fix mae interaction with ES8 data streams (#16280)
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/Es8SearchClientShim.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/client/shim/Es8SearchClientShimConversionTest.java
Due: metadata-io-spotless

feat(frontend): add xxxl (116px) Avatar size for user profile pages
  datahub-web-react/src/alchemy-components/components/Avatar/utils.ts
  datahub-web-react/src/alchemy-components/theme/config/types.ts
  datahub-web-react/src/app/entityV2/user/UserHeader.tsx
  datahub-web-react/src/app/entityV2/user/UserProfileInfoCard.tsx
Due: web-react-lint-fix

Build Python wheels from merge commit instead of head-only
  .github/workflows/python-build-pages.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Build Python wheels from merge commit (#16402)
  .github/workflows/python-build-pages.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(agent-context): support sql search filters in mcp tools
  datahub-agent-context/src/datahub_agent_context/mcp_tools/__init__.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/documents.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/search.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/search_filter_parser.py
  datahub-agent-context/src/datahub_agent_context/snowflake/udfs/search_datahub.py
  datahub-agent-context/src/datahub_agent_context/snowflake/udfs/search_documents.py
  datahub-agent-context/tests/unit/mcp_tools/test_documents.py
  datahub-agent-context/tests/unit/mcp_tools/test_search.py
  datahub-agent-context/tests/unit/snowflake/test_udf_generators.py
Due: none

docs(): Corrected camel-casing of DataHub name from Datahub in normal sentence use.
  docs/_api-guide-template.md
  docs/api/graphql/getting-started.md
  docs/api/graphql/how-to-set-up-graphql.md
  docs/api/graphql/overview.md
  docs/api/tutorials/applications.md
  docs/api/tutorials/container.md
  docs/api/tutorials/custom-properties.md
  docs/api/tutorials/dashboard-chart.md
  docs/api/tutorials/dataflow-datajob.md
  docs/api/tutorials/datasets.md
  docs/api/tutorials/deprecation.md
  docs/api/tutorials/descriptions.md
  docs/api/tutorials/documents.md
  docs/api/tutorials/domains.md
  docs/api/tutorials/forms.md
  docs/api/tutorials/ml.md
  docs/api/tutorials/ml_feature_store.md
  docs/api/tutorials/mlmodel-mlmodelgroup.md
  docs/api/tutorials/owners.md
  docs/api/tutorials/structured-properties.md
  docs/api/tutorials/tags.md
  docs/api/tutorials/terms.md
  docs/authentication/changing-default-credentials.md
  docs/authentication/guides/add-users.md
  docs/cli.md
  docs/deploy/aws.md
  docs/developers.md
  docs/features/dataset-usage-and-query-history.md
  docs/how/add-custom-ingestion-source.md
  docs/how/configure-cdc.md
  docs/how/kafka-config.md
  docs/how/migrating-elasticsearch-opensearch.md
  docs/how/migrating-graph-service-implementation.md
  docs/how/search.md
  docs/lineage/airflow.md
  docs/links.md
  docs/managed-datahub/observe/data-contract.md
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
  docs/managed-datahub/release-notes/v_0_3_4.md
  docs/modeling/extending-the-metadata-model.md
Due: datahub-web-react-mdPrettierWriteChanged

chore(docker): remove Alpine variants from datahub-actions and datahub-ingestion
  .github/workflows/docker-unified.yml
  datahub-actions/build.gradle
  docker/README.md
  docker/datahub-actions/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/build.gradle
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, check-gradle-lockfiles

Corrected yarn version in mise.toml to 1.22.22.
  mise.toml
Due: none

fix(ui): sync alchemy-components with internal fork to reduce divergences
  datahub-web-react/src/alchemy-components/components/PageTitle/PageTitle.tsx
  datahub-web-react/src/alchemy-components/components/PageTitle/types.ts
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
Due: web-react-lint-fix

test(ingestion/mode): Add cross-space parallelization test
  metadata-ingestion/tests/integration/mode/test_mode_threading.py
Due: metadata-ingestion-lint-fix

refactor(ingestion/mode): Extract _process_dataset method
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Due: metadata-ingestion-lint-fix

perf(ingestion/mode): Parallelize report processing across spaces
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/test_mode_threading.py
Due: metadata-ingestion-lint-fix

chore(docker): remove Alpine variants from datahub-actions and datahu… (#16404)
  .github/workflows/docker-unified.yml
  datahub-actions/build.gradle
  docker/README.md
  docker/datahub-actions/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/build.gradle
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, check-gradle-lockfiles

fix(ingestion/mode): Update dataset error isolation test for new architecture
  metadata-ingestion/tests/unit/test_mode_source.py
Due: metadata-ingestion-lint-fix

ci(labeler): replace static user list with author_association check
  .github/workflows/pr-labeler.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

address PR review - proper typing, reuse parent schema for CLL
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/tests/unit/test_sql_common.py
Due: metadata-ingestion-lint-fix

Reformatting assertions
  metadata-ingestion/tests/unit/test_sql_common.py
Due: metadata-ingestion-lint-fix

Fix linting errors
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

refactor(dataplex): streamline Dataplex ingestion by removing entity … (#16063)
  metadata-ingestion/docs/sources/dataplex/dataplex_pre.md
  metadata-ingestion/docs/sources/dataplex/dataplex_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_config.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_entities.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_entries.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_properties.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_report.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_schema.py
  metadata-ingestion/tests/integration/dataplex/README.md
  metadata-ingestion/tests/integration/dataplex/golden/dataplex_entries_golden.json
  metadata-ingestion/tests/integration/dataplex/golden/dataplex_integration_golden.json
  metadata-ingestion/tests/integration/dataplex/golden/dataplex_lineage_golden.json
  metadata-ingestion/tests/integration/dataplex/golden/dataplex_multi_entry_groups_golden.json
  metadata-ingestion/tests/integration/dataplex/golden/dataplex_multi_lake_golden.json
  metadata-ingestion/tests/integration/dataplex/test_dataplex_integration.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_config.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_entries.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_helpers.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_lineage.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_properties.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_schema.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_urn_generation.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

Add publish to posthog
  .github/scripts/collect_workflow_metrics.py
  .github/scripts/publish_to_posthog.py
  .github/scripts/utils/clients/github/gh_client.py
  .github/scripts/utils/clients/posthog/ci_reporter.py
  .github/workflows/post-workflow-actions.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Update step names
  .github/scripts/utils/clients/posthog/ci_reporter.py
Due: none

Update condition to remove hardcoded default branch
  .github/workflows/post-workflow-actions.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Correct Api key
  .github/scripts/utils/clients/posthog/ci_reporter.py
Due: none

Fix timestampt parsing and some refactoring
  .github/scripts/collect_workflow_metrics.py
  .github/scripts/publish_to_posthog.py
  .github/scripts/utils/datetime_utils.py
  .github/scripts/utils/github/gh_client.py
  .github/scripts/utils/github/workflow_metrics.py
  .github/scripts/utils/posthog/ci_reporter.py
Due: none

Fix timestamp
  .github/scripts/utils/posthog/ci_reporter.py
Due: none

Add note
  .github/scripts/utils/posthog/ci_reporter.py
Due: none

Update path filters
  .github/workflows/build-and-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

further fixes
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/unit/test_oracle_source.py
Due: metadata-ingestion-lint-fix

fix(snowflake): Propagate inherited tags to all columns, not just those with direct tags
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_tag.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_tag_inheritance.py
Due: metadata-ingestion-lint-fix

docs(fabric): improve fabric onelake docs for service principals
  metadata-ingestion/docs/sources/fabric-onelake/fabric-onelake.md
Due: datahub-web-react-mdPrettierWriteChanged

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
