Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

docs: update mlflow ingestion docs to include new concept mappings (#12791)
  metadata-ingestion/docs/sources/mlflow/mlflow_pre.md
Due: none

add exporting from source
  docs/advanced/writing-mcps.md
Due: none

fix(web) move form entity sidebar to right to align with cloud (#12796)
  datahub-web-react/src/app/entity/shared/entityForm/FormByEntity.tsx
Due: none

fix(web) merge issue on compliance forms UI (#5277)
  datahub-web-react/src/app/entity/shared/entityForm/FormByEntity.tsx
Due: none

doc(iceberg): iceberg doc updates (#12787)
  docs/iceberg-catalog.md
Due: none

Remove filter for workbook query
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Due: metadata-ingestion-lint-fix

feat(gql) allow unsetting optional incident fields
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/IncidentUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/UpdateIncidentResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/incident/UpdateIncidentResolverTest.java
Due: datahub-graphql-core-spotless

feat(gql) allow unsetting fields on incidents (#5280)
  datahub-executor/src/datahub_executor/common/discovery/utils.py
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/IncidentUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/UpdateIncidentResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/incident/UpdateIncidentResolverTest.java
Due: datahub-graphql-core-spotless

Remove registry check by luid
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Due: metadata-ingestion-lint-fix

docs: add exporting from source to write mcp guide (#12800)
  docs/advanced/writing-mcps.md
Due: none

Updated metadata tests page with titles, updated ant-cards because new cards dont work for this right now updated background color, spacing, padding of cards, etc
  datahub-web-react/src/app/tests/ManageTestsPage.tsx
  datahub-web-react/src/app/tests/TestResultsSummary.tsx
  datahub-web-react/src/app/tests/Tests.tsx
  datahub-web-react/src/app/tests/TestsSection.tsx
  datahub-web-react/src/app/tests/TestsSectionTitle.tsx
  datahub-web-react/src/app/tests/card/TestCard.tsx
  datahub-web-react/src/app/tests/card/TestCardActionMenu.tsx
  datahub-web-react/src/app/tests/card/TestCardDetails.tsx
  datahub-web-react/src/app/tests/card/TestCardEditButton.tsx
Due: none

updated with linting and prettier
  datahub-web-react/src/app/tests/ManageTestsPage.tsx
  datahub-web-react/src/app/tests/TestResultsSummary.tsx
  datahub-web-react/src/app/tests/TestsSectionTitle.tsx
  datahub-web-react/src/app/tests/card/TestCard.tsx
  datahub-web-react/src/app/tests/card/TestCardDetails.tsx
Due: none

dataset cli - add support for schema, round-tripping to yaml (#12764) (#5260)
  docs-website/sidebars.js
  docs/cli-commands/dataset.md
  docs/cli.md
  metadata-ingestion/examples/structured_properties/click_event.avsc
  metadata-ingestion/examples/structured_properties/dataset.yaml
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/src/datahub/cli/specific/dataset_cli.py
  metadata-ingestion/src/datahub/pydantic/__init__.py
  metadata-ingestion/src/datahub/pydantic/compat.py
  metadata-ingestion/tests/unit/api/entities/structuredproperties/example_structured_properties_golden.json
  metadata-ingestion/tests/unit/cli/dataset/test_dataset_cmd.py
  metadata-ingestion/tests/unit/cli/dataset/test_resources/dataset.yaml
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  smoke-test/tests/cli/dataset_cmd/__init__.py
  smoke-test/tests/cli/dataset_cmd/test_dataset_command.py
  smoke-test/tests/structured_properties/test_dataset.yaml
  smoke-test/tests/structured_properties/test_structured_properties.py
  smoke-test/tests/structured_properties/test_structured_properties.yaml
Due: metadata-ingestion-lint-fix, metadata-io-spotless, smoke-test-lint-fix

feat(ingest): improve extract-sql-agg-log command
  metadata-ingestion/src/datahub/cli/check_cli.py
Due: metadata-ingestion-lint-fix

fix test
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_basic_lineage_query_log.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Due: metadata-ingestion-lint-fix

Refactor emit workbooks
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Due: metadata-ingestion-lint-fix

Add debugging
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
Due: metadata-ingestion-lint-fix

fix lint
  metadata-ingestion/src/datahub/ingestion/source/redshift/datashares.py
  metadata-ingestion/tests/unit/redshift/test_redshift_datashares.py
Due: metadata-ingestion-lint-fix

feat(ingest/redshift): support for datashares lineage (#12660)
  metadata-ingestion/docs/sources/redshift/README.md
  metadata-ingestion/docs/sources/redshift/redshift_pre.md
  metadata-ingestion/src/datahub/api/entities/common/serialized_value.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/datashares.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/tests/unit/redshift/test_redshift_datashares.py
Due: metadata-ingestion-lint-fix

feat(ingestion/business-glossary): Automatically generate predictable glossary term and node URNs when incompatible URL characters are specified in term and node names. (#12673)
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/business-glossary/datahub-business-glossary.md
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/tests/integration/business-glossary/custom_ownership_urns_golden.json
  metadata-ingestion/tests/integration/business-glossary/glossary_events_golden.json
  metadata-ingestion/tests/integration/business-glossary/multiple_owners_different_types_golden.json
  metadata-ingestion/tests/integration/business-glossary/multiple_owners_same_type_golden.json
  metadata-ingestion/tests/integration/business-glossary/single_owner_types_golden.json
  metadata-ingestion/tests/integration/business-glossary/test_business_glossary.py
  metadata-ingestion/tests/integration/business-glossary/url_cleaning_events_golden.json
  metadata-ingestion/tests/integration/business-glossary/url_cleaning_glossary.yml
  metadata-ingestion/tests/integration/remote/golden/remote_glossary_golden.json
  metadata-ingestion/tests/unit/test_business_glossary.py
Due: metadata-ingestion-lint-fix

fix(ingestion/oracle): Improved foreign key handling (#11867)
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/golden_test_error_handling.json
  metadata-ingestion/tests/integration/oracle/test_oracle.py
Due: metadata-ingestion-lint-fix

Update metadata-ingestion/src/datahub/ingestion/source/neo4j/neo4j_source.py
  metadata-ingestion/src/datahub/ingestion/source/neo4j/neo4j_source.py
Due: metadata-ingestion-lint-fix

updated golden test to cover physical upstream lineage
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
Due: metadata-ingestion-lint-fix

fixed breaking change with building urns, not converting int to string
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Due: metadata-ingestion-lint-fix

update release notes for cloud heroes
  docs/managed-datahub/release-notes/v_0_3_9.md
Due: none

add missing return statement
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Due: metadata-ingestion-lint-fix

Showing platfrom intances only once
  datahub-web-react/src/app/previewV2/BrowsePaths.tsx
  datahub-web-react/src/app/previewV2/ContextPath.tsx
  datahub-web-react/src/app/previewV2/ContextPathEntityLink.tsx
Due: none

Lint ignore
  datahub-web-react/src/app/previewV2/ContextPath.tsx
Due: none

fixed iterate over int error for superset ingestion
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Due: metadata-ingestion-lint-fix

updated dashboard urn making as well
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Due: metadata-ingestion-lint-fix

chore(postgres): bump version
  build.gradle
Due: none

update comment
  metadata-ingestion/src/datahub/cli/check_cli.py
Due: metadata-ingestion-lint-fix

chore(aws): bump aws libraries
  build.gradle
Due: none

feat(ingest/iceberg): Introduce network problems resiliency for Iceberg source (#12804)
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
Due: metadata-ingestion-lint-fix

improvement(components): add variable size option in checkbox and some changes in table component (#5272)
  datahub-web-react/src/alchemy-components/components/Checkbox/Checkbox.stories.tsx
  datahub-web-react/src/alchemy-components/components/Checkbox/Checkbox.tsx
  datahub-web-react/src/alchemy-components/components/Checkbox/components.ts
  datahub-web-react/src/alchemy-components/components/Checkbox/types.ts
  datahub-web-react/src/alchemy-components/components/Checkbox/utils.ts
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/alchemy-components/components/Table/components.ts
  datahub-web-react/src/alchemy-components/components/Table/types.ts
  datahub-web-react/src/alchemy-components/components/Table/useGetSelectionColumn.tsx
Due: none

feat(ui/task-center): add empty state for proposals (#5168)
  datahub-web-react/src/app/taskCenterV2/proposalsV2/ProposalList.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/proposalsTable/EmptyProposals.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/proposalsTable/ProposalsTable.tsx
Due: none

chore(postgres): bump version (#12808)
  build.gradle
Due: none
