Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

feat(ingest/informix): add JDBC client (JVM bootstrap + catalog queries)
  metadata-ingestion/src/datahub/ingestion/source/informix/client.py
Due: metadata-ingestion-lint-fix

feat(search): add getActiveIncidentStats batched aggregation primitive
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAOIncidentStatsTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/IncidentStats.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/search/EntitySearchServiceTest.java
Due: metadata-io-spotless, metadata-service-services-spotless

perf(graphql): batch entity health resolution to eliminate N+1
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/health/EntityHealthResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/health/HealthComputationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityHealthBatchLoader.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/health/EntityHealthResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/EntityHealthBatchLoaderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  smoke-test/tests/incidents/health_batch_data.json
  smoke-test/tests/incidents/health_batch_test.py
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, smoke-test-lint-fix

add encirhcmente
  li-utils/src/main/java/com/datahub/context/Enrichment.java
  li-utils/src/main/java/com/datahub/context/EnrichmentBundle.java
  li-utils/src/main/java/com/datahub/context/OperationFingerprint.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/EnrichmentPropagationTest.java
Due: li-utils-spotless, metadata-operation-context-spotless

fix(ingest/informix): restrict SQL_PK to key columns, sanitize connect errors, close JDBC resources
  metadata-ingestion/src/datahub/ingestion/source/informix/client.py
  metadata-ingestion/src/datahub/ingestion/source/informix/constants.py
Due: metadata-ingestion-lint-fix

fix(ingest/informix): coerce JDBC row values mypy-safely (no Any)
  metadata-ingestion/src/datahub/ingestion/source/informix/client.py
Due: metadata-ingestion-lint-fix

fix(web): scope data product CSV exports
  datahub-web-react/src/app/entityV2/dataProduct/DataProductEntitiesTab.tsx
  datahub-web-react/src/app/entityV2/dataProduct/__tests__/DataProductEntitiesTab.test.tsx
  datahub-web-react/src/app/entityV2/dataProduct/__tests__/generateUseDownloadListDataProductAssets.test.ts
  datahub-web-react/src/app/entityV2/dataProduct/generateUseDownloadListDataProductAssets.ts
Due: web-react-lint-fix

feat(ingest/informix): add source with container/dataset emission
  metadata-ingestion/src/datahub/ingestion/source/informix/report.py
  metadata-ingestion/src/datahub/ingestion/source/informix/source.py
  metadata-ingestion/tests/unit/informix/test_informix_source.py
Due: metadata-ingestion-lint-fix

test(ingest/informix): cover per-table isolation and pattern filtering; fix counter ordering
  metadata-ingestion/src/datahub/ingestion/source/informix/source.py
  metadata-ingestion/tests/unit/informix/test_informix_source.py
Due: metadata-ingestion-lint-fix

fix(agent-context): unblock google-adk resolution by allowing otel pre-releases
  datahub-agent-context/setup.py
Due: none

feat(ingest/informix): register plugin, platform, and docs
  metadata-ingestion/docs/sources/informix/README.md
  metadata-ingestion/docs/sources/informix/informix_post.md
  metadata-ingestion/docs/sources/informix/informix_pre.md
  metadata-ingestion/docs/sources/informix/informix_recipe.yml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(agent-context): unblock google-adk resolution by allowing otel pre-releases (#18588)
  datahub-agent-context/setup.py
Due: none

fix(ingest/sap-datasphere): case-insensitive typeId matching + review follow-ups
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/client.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/constants.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/flows.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/models.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/platform_mapping.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/source.py
  metadata-ingestion/tests/integration/sap_datasphere/fixtures/assets_lineage_test.json
  metadata-ingestion/tests/integration/sap_datasphere/fixtures/connections_lineage.json
  metadata-ingestion/tests/integration/sap_datasphere/fixtures/data_flow_federated.json
  metadata-ingestion/tests/integration/sap_datasphere/fixtures/remote_table_hana_quoted.json
  metadata-ingestion/tests/integration/sap_datasphere/fixtures/replication_flow_federated.json
  metadata-ingestion/tests/integration/sap_datasphere/sap_datasphere_flow_remote_table_mces_golden.json
  metadata-ingestion/tests/integration/sap_datasphere/sap_datasphere_recorded_replay_mces_golden.json
  metadata-ingestion/tests/integration/sap_datasphere/test_sap_datasphere.py
  metadata-ingestion/tests/integration/sap_datasphere/test_sap_datasphere_mock_service.py
  metadata-ingestion/tests/unit/sap_datasphere/test_sap_datasphere_lineage.py
  metadata-ingestion/tests/unit/sap_datasphere/test_sap_datasphere_platform_mapping.py
  metadata-ingestion/tests/unit/sap_datasphere/test_sap_datasphere_source.py
Due: metadata-ingestion-lint-fix

test(ingest/informix): add docker-based golden-file e2e
  metadata-ingestion/src/datahub/ingestion/source/informix/mapping.py
  metadata-ingestion/tests/integration/informix/NOTES_ON_TESTING_INFORMIX.md
  metadata-ingestion/tests/integration/informix/docker-compose.yml
  metadata-ingestion/tests/integration/informix/informix_mces_golden.json
  metadata-ingestion/tests/integration/informix/informix_to_file.yml
  metadata-ingestion/tests/integration/informix/setup/setup.sql
  metadata-ingestion/tests/integration/informix/test_informix.py
  metadata-ingestion/tests/unit/informix/test_informix_driver.py
  metadata-ingestion/tests/unit/informix/test_informix_mapping.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(dbt): dbt files (#13584)
  metadata-ingestion/docs/sources/dbt/dbt_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/sap-datasphere): report remote-table CSN misses, DRY dwaas-core, consistent column filtering
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/client.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/constants.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/platform_mapping.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/report.py
  metadata-ingestion/src/datahub/ingestion/source/sap_datasphere/source.py
  metadata-ingestion/tests/unit/sap_datasphere/test_sap_datasphere_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/informix): client Protocol for mypy, drop coltype-40 to fallback, ABS in SQL_PK, emit column length in native type
  metadata-ingestion/src/datahub/ingestion/source/informix/client.py
  metadata-ingestion/src/datahub/ingestion/source/informix/constants.py
  metadata-ingestion/src/datahub/ingestion/source/informix/mapping.py
  metadata-ingestion/src/datahub/ingestion/source/informix/source.py
  metadata-ingestion/tests/integration/informix/informix_mces_golden.json
  metadata-ingestion/tests/unit/informix/test_informix_driver.py
  metadata-ingestion/tests/unit/informix/test_informix_mapping.py
Due: metadata-ingestion-lint-fix

fix build issues
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/CorpUserPrivilegedFlagsValidatorTest.java
  metadata-operation-context/build.gradle
  metadata-operation-context/gradle.lockfile
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-service/factories/src/main/java/com/linkedin/r2/transport/http/server/JakartaServletHelper.java
Due: entity-registry-spotless, metadata-operation-context-spotless, metadata-service-factories-spotless, check-gradle-lockfiles

fix(ingest/informix): silence jpype import-untyped for mypy
  metadata-ingestion/src/datahub/ingestion/source/informix/client.py
Due: metadata-ingestion-lint-fix

feat(ingest/informix): add Informix platform logo
  datahub-web-react/src/images/informixlogo.png
Due: none

fix build issues
  metadata-service/factories/src/test/java/com/linkedin/r2/transport/http/server/JakartaServletHelperEnrichmentTest.java
Due: metadata-service-factories-spotless

perf(ingest/oracle): batch procedure enrichment queries per-schema (#17464)
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_all_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_dba_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_query_usage.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_stored_procedures.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_usage_and_lineage.json
  metadata-ingestion/tests/unit/test_oracle_source.py
Due: metadata-ingestion-lint-fix

feat(ingest/odcs): add ODCS ingestion source UI form (#18474)
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/__tests__/odcs.test.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/odcs.ts
  datahub-web-react/src/app/ingestV2/source/builder/__tests__/useIngestionSources.test.ts
  datahub-web-react/src/app/ingestV2/source/builder/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/conf/odcs/odcs.ts
  e2e-test/ui/playwright/pages/ingestion/base/sources/OdcsSource.ts
  e2e-test/ui/playwright/tests/ingestion-v2/odcs-source.spec.ts
  metadata-ingestion/docs/sources/odcs/odcs_pre.md
  metadata-ingestion/docs/sources/odcs/odcs_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_config.py
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_mapper.py
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_source.py
  metadata-ingestion/tests/unit/odcs/test_odcs_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

fix(web): normalize nullable export facets
  datahub-web-react/src/app/entityV2/dataProduct/__tests__/generateUseDownloadListDataProductAssets.test.ts
  datahub-web-react/src/app/entityV2/dataProduct/generateUseDownloadListDataProductAssets.ts
Due: web-react-lint-fix

fix(ingest/informix): regenerate connector registry and set explicit platform id
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/src/datahub/ingestion/source/informix/source.py
Due: metadata-ingestion-lint-fix

feat: match stage path to s3 path spec
  metadata-ingestion/docs/sources/snowflake/snowflake_post.md
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/config.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_stages.py
  metadata-ingestion/tests/unit/data_lake/test_s3_lineage_config.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_stages.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix: review fixes
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/config.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_stages.py
  metadata-ingestion/tests/unit/data_lake/test_s3_lineage_config.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_stages.py
Due: metadata-ingestion-lint-fix

fix: enum
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/config.py
Due: metadata-ingestion-lint-fix

feat(ingest/informix): emit approximate row counts from systables.nrows
  metadata-ingestion/docs/sources/informix/informix_post.md
  metadata-ingestion/docs/sources/informix/informix_pre.md
  metadata-ingestion/src/datahub/ingestion/source/informix/client.py
  metadata-ingestion/src/datahub/ingestion/source/informix/config.py
  metadata-ingestion/src/datahub/ingestion/source/informix/constants.py
  metadata-ingestion/src/datahub/ingestion/source/informix/models.py
  metadata-ingestion/src/datahub/ingestion/source/informix/report.py
  metadata-ingestion/src/datahub/ingestion/source/informix/source.py
  metadata-ingestion/tests/unit/informix/test_informix_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/informix): make e2e healthcheck CI-tolerant (longer start_period + retries)
  metadata-ingestion/tests/integration/informix/docker-compose.yml
Due: none

feat(ingest/informix): extract foreign-key relationships
  metadata-ingestion/src/datahub/ingestion/source/informix/client.py
  metadata-ingestion/src/datahub/ingestion/source/informix/config.py
  metadata-ingestion/src/datahub/ingestion/source/informix/constants.py
  metadata-ingestion/src/datahub/ingestion/source/informix/mapping.py
  metadata-ingestion/src/datahub/ingestion/source/informix/models.py
  metadata-ingestion/src/datahub/ingestion/source/informix/source.py
  metadata-ingestion/tests/unit/informix/test_informix_mapping.py
  metadata-ingestion/tests/unit/informix/test_informix_source.py
Due: metadata-ingestion-lint-fix

fix test cases
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/CorpUserPrivilegedFlagsValidatorTest.java
  li-utils/src/main/java/com/datahub/context/EnrichmentBundle.java
  li-utils/src/main/java/com/datahub/context/OperationFingerprint.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
Due: entity-registry-spotless, li-utils-spotless, metadata-operation-context-spotless

fix edge cases
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/impl/UpgradeSummaryFormatter.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/elasticsearch/steps/BuildIndicesStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/impl/UpgradeSummaryFormatterTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/elasticsearch/steps/BuildIndicesStepTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/Es8SearchClientShim.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/OpenSearch2SearchClientShim.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/TaskWithFailuresRawResponse.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/TaskWithFailuresRawResponseTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ParallelReindexOrchestratorTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/TaskFailureParser.java
Due: datahub-upgrade-spotless, metadata-io-spotless, metadata-utils-spotless

feat(ingest/informix): add view lineage (table and column-level)
  metadata-ingestion/src/datahub/ingestion/source/informix/client.py
  metadata-ingestion/src/datahub/ingestion/source/informix/config.py
  metadata-ingestion/src/datahub/ingestion/source/informix/constants.py
  metadata-ingestion/src/datahub/ingestion/source/informix/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/informix/report.py
  metadata-ingestion/src/datahub/ingestion/source/informix/source.py
  metadata-ingestion/tests/unit/informix/test_informix_lineage.py
  metadata-ingestion/tests/unit/informix/test_informix_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/snowflake): add path_spec_common deps for s3_lineage_config
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix: review changes
  metadata-ingestion/docs/sources/snowflake/snowflake_post.md
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_stages.py
  metadata-ingestion/tests/unit/data_lake/test_datalake_lineage_config.py
  metadata-ingestion/tests/unit/data_lake/test_s3_lineage_config.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_stages.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix: review changes
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/config.py
  metadata-ingestion/tests/unit/data_lake/test_datalake_lineage_config.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
