Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

Update test_hana_source.py
  metadata-ingestion/tests/unit/test_hana_source.py
Due: metadata-ingestion-lint-fix

addressing feedback
  metadata-ingestion/docs/sources/hana/hana_pre.md
  metadata-ingestion/docs/sources/hana/hana_recipe.yml
  metadata-ingestion/tests/unit/test_hana_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

chore(linear action) Automated Linear Release tracking
  .github/workflows/linear-release-tracking.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

chore(ci): fix prettier formatting and post-workflow list for Linear release tracking
  .github/workflows/linear-release-tracking.yml
  .github/workflows/post-workflow-actions.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ci): default security scan registry namespace
  .github/workflows/security-scan-linear-sync.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs(mongodb): explicitly add Amazon DocumentDB support in README
  metadata-ingestion/docs/sources/mongodb/README.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(structured-properties): handle hard-deleted definitions on upsert and delete
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/MutationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpsertStructuredPropertiesResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpsertStructuredPropertiesResolverTest.java
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/structuredproperties/hooks/PropertyDefinitionDeleteSideEffect.java
  metadata-io/src/test/java/com/linkedin/metadata/structuredproperties/hooks/PropertyDefinitionDeleteSideEffectTest.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless

docs(bigquery): fix broken cross-doc links by adding .md suffix
  docs/quick-ingestion-guides/bigquery/setup.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(confluence): strip unsupported fields from semantic search config query
  metadata-ingestion/src/datahub/ingestion/source/unstructured/chunking_config.py
Due: metadata-ingestion-lint-fix

fix(chunking): skip embedding when server has semantic search disabled; add regression tests
  metadata-ingestion/src/datahub/ingestion/source/unstructured/chunking_source.py
  metadata-ingestion/tests/unit/ingestion/source/unstructured/test_backward_compatibility.py
  metadata-ingestion/tests/unit/ingestion/source/unstructured/test_provider_lazy_imports.py
Due: metadata-ingestion-lint-fix

fix(confluence): fix mypy union-attr error and improve macro test coverage
  metadata-ingestion/src/datahub/ingestion/source/confluence/confluence_html.py
  metadata-ingestion/tests/unit/ingestion/source/confluence/test_confluence_html.py
Due: metadata-ingestion-lint-fix

fix(confluence): remove unused TYPE_CHECKING imports and fix import ordering
  metadata-ingestion/src/datahub/ingestion/source/unstructured/embedding_providers/factory.py
Due: metadata-ingestion-lint-fix

fix(confluence): set created_time from Confluence page history.createdDate
  metadata-ingestion/src/datahub/ingestion/source/confluence/confluence_source.py
  metadata-ingestion/tests/unit/ingestion/source/confluence/test_confluence_source.py
Due: metadata-ingestion-lint-fix

fix(confluence): lazy-import embedding providers to avoid mandatory google-auth dependency
  metadata-ingestion/src/datahub/ingestion/source/unstructured/embedding_providers/factory.py
Due: metadata-ingestion-lint-fix

fix(confluence): expand macro lists from official spec and add spec reference
  metadata-ingestion/src/datahub/ingestion/source/confluence/confluence_html.py
Due: metadata-ingestion-lint-fix

fix(confluence): strip Confluence macro artifacts from extracted page text
  metadata-ingestion/src/datahub/ingestion/source/confluence/confluence_html.py
  metadata-ingestion/tests/unit/ingestion/source/confluence/test_confluence_html.py
Due: metadata-ingestion-lint-fix

feat(confluence): convert page HTML to markdown using markdownify
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/confluence/confluence_html.py
  metadata-ingestion/src/datahub/ingestion/source/confluence/confluence_source.py
  metadata-ingestion/tests/unit/ingestion/source/confluence/test_confluence_html.py
  metadata-ingestion/tests/unit/ingestion/source/confluence/test_confluence_source.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(confluence): skip embeddings when server returns disabled/null config
  metadata-ingestion/src/datahub/ingestion/source/unstructured/chunking_config.py
  metadata-ingestion/src/datahub/ingestion/source/unstructured/chunking_source.py
Due: metadata-ingestion-lint-fix

fix(confluence): fix mypy union-attr errors from Optional embedding_config
  metadata-ingestion/src/datahub/ingestion/source/unstructured/chunking_source.py
  metadata-ingestion/tests/unit/ingestion/source/unstructured/test_embedding_validation.py
Due: metadata-ingestion-lint-fix

test(confluence): update backward compat test to expect skip-embedding on old server
  metadata-ingestion/tests/unit/ingestion/source/unstructured/test_backward_compatibility.py
Due: metadata-ingestion-lint-fix

fix(confluence): retry semantic search query without vertexProviderConfig on older servers
  metadata-ingestion/src/datahub/ingestion/source/unstructured/chunking_config.py
Due: metadata-ingestion-lint-fix

fix(confluence): add graphql-core as required dependency for confluence extra
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

docs(assertions): document PLATFORM_API source type and BigQuery assertion permissions (#17038)
  docs/managed-datahub/observe/freshness-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
  docs/quick-ingestion-guides/bigquery/setup.md
Due: datahub-web-react-mdPrettierWriteChanged

Docs for assertion severity
  docs/api/tutorials/assertions.md
  docs/managed-datahub/observe/assertions.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(severity): Docs for assertion severity (#17482)
  docs/api/tutorials/assertions.md
  docs/managed-datahub/observe/assertions.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(confluence): add EXTRACTION_ALGO_VERSION for cache-busting on algorithm improvements
  metadata-ingestion/src/datahub/ingestion/source/confluence/confluence_source.py
  metadata-ingestion/tests/unit/ingestion/source/confluence/test_confluence_source.py
Due: metadata-ingestion-lint-fix

feat(ingest/trino): add table property support for delta lake and lakehouse
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
Due: metadata-ingestion-lint-fix

ci(playwright): remove UV_EXTRA_INDEX_URL from OSS playwright job
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

ci(playwright): integrate Playwright E2E tests into docker-unified CI pipeline (#17361)
  .github/actions/ci-optimization/action.yml
  .github/workflows/docker-unified.yml
  .github/workflows/playwright-e2e-tests.yml
  e2e-test/ui/playwright/fixtures/seeding.fixture.ts
  e2e-test/ui/playwright/helpers/seeder-utils.ts
  e2e-test/ui/playwright/utils/lineage-seeder.ts
  smoke-test/run-quickstart.sh
Due: datahub-web-react-githubActionsPrettierWriteChanged

test(lineage): update getValidEntityTypes tests for ML Model lineage
  datahub-web-react/src/app/lineageV2/manualLineage/_test_/utils.test.ts
  datahub-web-react/src/app/lineageV3/manualLineage/_test_/utils.test.ts
Due: web-react-lint-fix

test: add resolver-level regression tests for the four scenarios in PR description
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateTestConnectionRequestResolverTest.java
Due: datahub-graphql-core-spotless

fix(ingestion): test connection falls back to defaultCliVersion when version is unset
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateTestConnectionRequestResolver.java
Due: datahub-graphql-core-spotless

fix: review changes, updated docs and tests
  metadata-ingestion/docs/sources/bigquery/wif-live-test-setup.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_connection.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/common/gcp_wif_config.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_connection.py
  metadata-ingestion/tests/unit/test_gcp_wif_config.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix: wif setup markdown
  metadata-ingestion/docs/sources/bigquery/wif-live-test-setup.md
Due: datahub-web-react-mdPrettierWriteChanged

fix: removed wif test md
  .github/workflows/bigquery-wif-live-test.yml.template
  metadata-ingestion/docs/sources/bigquery/wif-live-test-setup.md
  metadata-ingestion/tests/integration/bigquery_wif/test_live_wif.py
  metadata-ingestion/tests/unit/test_gcs_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(mode): report timeout should use report_warning and report_failure
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/unit/test_mode_source.py
Due: metadata-ingestion-lint-fix

fix(bigquery): auto-detect region_qualifiers from dataset locations
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_queries_extractor.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_source.py
Due: metadata-ingestion-lint-fix

test(bigquery): use patch.object instead of direct method assignment
  metadata-ingestion/tests/unit/bigquery/test_bigquery_queries_extractor.py
Due: metadata-ingestion-lint-fix

fix(powerbi): support Oracle TNS alias and inline native query lineage (#17262)
  metadata-ingestion/docs/sources/powerbi/powerbi_post.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/dataplatform_instance_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/powerbi/test_pattern_handler.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix
