Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

feat(ingestion/langfuse): add Langfuse connector
  metadata-ingestion/docs/sources/langfuse/README.md
  metadata-ingestion/docs/sources/langfuse/langfuse_post.md
  metadata-ingestion/docs/sources/langfuse/langfuse_pre.md
  metadata-ingestion/docs/sources/langfuse/langfuse_recipe.yml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/langfuse/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/langfuse/langfuse.py
  metadata-ingestion/src/datahub/ingestion/source/langfuse/langfuse_client.py
  metadata-ingestion/src/datahub/ingestion/source/langfuse/langfuse_config.py
  metadata-ingestion/src/datahub/ingestion/source/langfuse/langfuse_report.py
  metadata-ingestion/tests/integration/langfuse/docker-compose.yml
  metadata-ingestion/tests/integration/langfuse/langfuse_mces_golden.json
  metadata-ingestion/tests/integration/langfuse/setup_test_data.py
  metadata-ingestion/tests/integration/langfuse/test_langfuse.py
  metadata-ingestion/tests/unit/langfuse/test_langfuse_client.py
  metadata-ingestion/tests/unit/langfuse/test_langfuse_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest): raise snowflake-sqlalchemy floor to 1.11.0 for CVE-2026-15736
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(ingest): raise snowflake-connector-python floor to 4.7.1 for CVE-2026-15925
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(ingest/deps): move soupsieve to 2.9 for CVE-2026-85999 and CVE-2026-86000
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/constraints.txt
  metadata-ingestion/uv.lock
Due: none

fix(ingest/deps): move anyio to 4.14.2+ for CVE-2026-63374 and CVE-2026-64847
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/constraints.txt
  metadata-ingestion/uv.lock
Due: none

fix(ingest/deps): move pip to 26.2 for CVE-2026-13346
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/constraints.txt
  metadata-ingestion/uv.lock
Due: none

chore(cli): bump cli version
  gradle/versioning/cliVersion.gradle
Due: none

fix(ingest/deps): declare the pip 26.2 floor at lock time, add guard
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/tests/unit/test_packaging.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(auth-api): repair javadoc reference that blocks the jar release (#19917)
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/AuthUtil.java
Due: metadata-auth-auth-api-spotless

fix(executor): harden the venv cache lock, key and eviction protocol
  docs/docker/bundled-ingestion-venvs.md
  docs/managed-datahub/release-notes/next.md
  docs/managed-datahub/remote-executor/best-practices.md
  metadata-ingestion/src/datahub/executor/common/env_config.py
  metadata-ingestion/src/datahub/executor/execution/runner.py
  metadata-ingestion/src/datahub/executor/execution/sub_process_task_common.py
  metadata-ingestion/src/datahub/executor/execution/sub_process_test_connection_task.py
  metadata-ingestion/src/datahub/executor/execution/venv_cache.py
  metadata-ingestion/src/datahub/executor/execution/venv_utils.py
  metadata-ingestion/tests/unit/executor/test_env_config.py
  metadata-ingestion/tests/unit/executor/test_runner.py
  metadata-ingestion/tests/unit/executor/test_subprocess_test_connection_task.py
  metadata-ingestion/tests/unit/executor/test_venv_cache.py
  metadata-ingestion/tests/unit/executor/test_venv_utils.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(executor): keep the venv lock when a spawn cancellation may have forked
  metadata-ingestion/src/datahub/executor/execution/sub_process_ingestion_task.py
  metadata-ingestion/src/datahub/executor/execution/sub_process_task_common.py
  metadata-ingestion/tests/unit/executor/test_subprocess_ingestion_task.py
Due: metadata-ingestion-lint-fix

build(ingest): remove setuptools<82 cap, support setuptools>=83 (#19601)
  .github/.codecov.yml
  NOTICE
  docker/datahub-actions/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/snippets/ingestion/constraints.txt
  docs/how/updating-datahub.md
  metadata-ingestion/build-constraints.txt
  metadata-ingestion/build.gradle
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/scripts/generate_pyproject_deps.py
  metadata-ingestion/scripts/validate_pyspark_compatibility.py
  metadata-ingestion/scripts/verify_pyproject_equivalence.py
  metadata-ingestion/setup.cfg
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/__init__.py
  metadata-ingestion/src/datahub/_pkg_resources_finder.py
  metadata-ingestion/src/datahub/utilities/_stopit.py
  metadata-ingestion/src/datahub/utilities/pkg_resources_shim.py
  metadata-ingestion/src/datahub/utilities/threading_timeout.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/unit/test_lock_scripts.py
  metadata-ingestion/tests/unit/test_packages.py
  metadata-ingestion/tests/unit/test_packaging.py
  metadata-ingestion/tests/unit/test_setup_py_requirements.py
  metadata-ingestion/tests/unit/utilities/test_pkg_resources_shim.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix, check-gradle-lockfiles

fix(ingestion/langfuse): fix CI failures for connector registry, mypy, and lockfile
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/tests/integration/langfuse/__init__.py
  metadata-ingestion/tests/integration/langfuse/test_langfuse.py
  metadata-ingestion/tests/unit/langfuse/test_langfuse_client.py
  metadata-ingestion/tests/unit/langfuse/test_langfuse_source.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

chore(security): bump Bouncy Castle jdk18on to 1.86
  build.gradle
  datahub-frontend/gradle.lockfile
  datahub-upgrade/gradle.lockfile
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/datahub-client/gradle.lockfile
Due: check-gradle-lockfiles

chore(security): bump anyio>=4.14.2 and soupsieve>=2.9.0
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(ingest): keep anyio Airflow-satisfiable, floor 4.14.2 at lock time
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(executor): stamp a cached venv as used when the run ends, not just when it starts
  metadata-ingestion/src/datahub/executor/execution/sub_process_task_common.py
  metadata-ingestion/tests/unit/executor/test_runner.py
  metadata-ingestion/tests/unit/executor/test_sub_process_task_common.py
Due: metadata-ingestion-lint-fix

docs(executor): state when the venv cache trims and what its real peak is
  docs/docker/bundled-ingestion-venvs.md
  docs/managed-datahub/remote-executor/best-practices.md
  metadata-ingestion/src/datahub/executor/execution/venv_cache.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

chore(security): bump Bouncy Castle jdk18on to 1.86 (#19924)
  build.gradle
  datahub-frontend/gradle.lockfile
  datahub-upgrade/gradle.lockfile
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/datahub-client/gradle.lockfile
Due: check-gradle-lockfiles

fix(ingestion/langfuse): register Langfuse data platform in bootstrap seed
  datahub-web-react/src/images/langfuselogo.svg
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: none

fix(search): use aggregation entity's valueType for structured-property bucket display names (#18973)
  datahub-web-react/src/app/searchV2/filters/value/__tests__/utils.test.tsx
  datahub-web-react/src/app/searchV2/filters/value/utils.tsx
Due: web-react-lint-fix

feat(graphql): accept the entity type's management privilege for patchEntity
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/PatchEntityResolverTest.java
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless

chore(security): bump anyio>=4.14.2 and soupsieve>=2.9.0 (#19925)
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

chore(security): bump anyio>=4.14.2 and soupsieve>=2.9.0
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(executor): second review round on the venv cache
  metadata-ingestion/src/datahub/executor/common/env_config.py
  metadata-ingestion/src/datahub/executor/execution/runner.py
  metadata-ingestion/src/datahub/executor/execution/sub_process_task_common.py
  metadata-ingestion/src/datahub/executor/execution/sub_process_test_connection_task.py
  metadata-ingestion/src/datahub/executor/execution/venv_cache.py
  metadata-ingestion/tests/unit/executor/test_env_config.py
  metadata-ingestion/tests/unit/executor/test_runner.py
  metadata-ingestion/tests/unit/executor/test_subprocess_test_connection_task.py
  metadata-ingestion/tests/unit/executor/test_venv_cache.py
Due: metadata-ingestion-lint-fix

fix test
  datahub-frontend/test/controllers/ApplicationControllerTest.java
Due: none

docs(managed-datahub): release notes for v2.3.0
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_2_3_0.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(actions): use latin-1 for Avro bytes decoding and add unit tests
  datahub-actions/src/datahub_actions/plugin/source/acryl/datahub_cloud_event_source.py
  datahub-actions/tests/unit/plugin/source/acryl/test_datahub_cloud_event_source.py
Due: datahub-actions-lint-fix

fix(executor): expire a cached venv whose requirements are not pinned
  docs/docker/bundled-ingestion-venvs.md
  docs/managed-datahub/release-notes/next.md
  metadata-ingestion/src/datahub/executor/execution/runner.py
  metadata-ingestion/tests/unit/executor/test_runner.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(executor): close three regressions from the previous commit
  metadata-ingestion/src/datahub/executor/execution/runner.py
  metadata-ingestion/src/datahub/executor/execution/sub_process_task_common.py
  metadata-ingestion/tests/unit/executor/test_sub_process_task_common.py
Due: metadata-ingestion-lint-fix

fix(smoke-test): repair paths and imports after the e2e/unit split
  .github/scripts/test/test_parse_failed_pytest_tests.py
  .github/scripts/test/test_send_failed_tests_to_posthog.py
  smoke-test/AGENTS.md
  smoke-test/tests/e2e/analytics/conftest.py
  smoke-test/tests/e2e/containers/container_entities_batching_test.py
  smoke-test/tests/e2e/library_examples/test_library_examples.py
  smoke-test/tests/e2e/structured_properties/test_dataset.yaml
  smoke-test/tests/unit/zdu/test_upgrade_jar_freshness.py
  smoke-test/tests/zdu/README.md
  smoke-test/tests/zdu/__init__.py
Due: datahub-web-react-mdPrettierWriteChanged, smoke-test-lint-fix

chore(security): require deepdiff>=8.6.2 for CVE-2026-33155
  datahub-actions/setup.py
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion-modules/prefect-plugin/setup.py
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
  smoke-test/requirements.txt
Due: datahub-actions-lint-fix, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, update-lineage-file

chore(security): require click>=8.3.3 for CVE-2026-7246
  datahub-actions/setup.py
  datahub-agent-context/setup.py
  docker/quickstart/requirements.txt
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: datahub-actions-lint-fix, metadata-ingestion-lint-fix

refactor(executor): give the venv cache lock to the process using it
  metadata-ingestion/src/datahub/executor/execution/sub_process_ingestion_task.py
  metadata-ingestion/src/datahub/executor/execution/sub_process_task_common.py
  metadata-ingestion/src/datahub/executor/execution/sub_process_test_connection_task.py
  metadata-ingestion/src/datahub/executor/execution/venv_cache.py
  metadata-ingestion/src/datahub/executor/execution/wrapper_common.py
  metadata-ingestion/tests/unit/executor/test_sub_process_task_common.py
  metadata-ingestion/tests/unit/executor/test_subprocess_ingestion_task.py
  metadata-ingestion/tests/unit/executor/test_subprocess_test_connection_task.py
  metadata-ingestion/tests/unit/executor/test_venv_cache.py
  metadata-ingestion/tests/unit/executor/wrappers/test_wrapper_common.py
Due: metadata-ingestion-lint-fix

chore(security): require click>=8.3.3 for CVE-2026-7246
  datahub-actions/setup.py
  datahub-agent-context/setup.py
  docker/quickstart/requirements.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
Due: datahub-actions-lint-fix, metadata-ingestion-lint-fix

fix(actions): use Any return type for mypy compatibility
  datahub-actions/src/datahub_actions/plugin/source/acryl/datahub_cloud_event_source.py
Due: datahub-actions-lint-fix
