Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$

Add release notes for version 0.3.15
  docs-website/sidebars.js
Due: none

feat(fullstack): data health dashboard to display initializing assertions (#7079)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/AssertionRunEventResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/health/AcrylEntityHealthResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/health/AcrylEntityHealthResolverTest.java
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/__tests__/acrylUtils.test.tsx
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByAssertionSummary.utils.ts
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByAssertionSummaryTable.tsx
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByTableSummary.tsx
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByTableSummary.utils.ts
  datahub-web-react/src/app/observe/dataset/assertion/AssertionsByTableSummaryTable.tsx
  datahub-web-react/src/app/observe/dataset/assertion/constants.ts
  datahub-web-react/src/graphql/monitor.graphql
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/AssertionRunSummaryPatchBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/AssertionsSummaryPatchBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/assertion/AssertionsSummaryTemplate.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/assertion/AssertionRunSummaryHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/assertion/AssertionsSummaryHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/assertion/AssertionRunSummaryHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/assertion/AssertionsSummaryHookTest.java
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionRunSummary.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/AssertionsSummary.pdl
Due: datahub-graphql-core-spotless, entity-registry-spotless, metadata-jobs-mae-consumer-spotless

Able to add multiple apps, need to work on removal
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/application/ApplicationAssociationMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/mappers/DataFlowMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/mappers/DataJobMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/mappers/DataProductMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTableMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Applications/SidebarApplicationSection.tsx
  datahub-web-react/src/graphql/chart.graphql
  datahub-web-react/src/graphql/fragments.graphql
  metadata-service/services/src/main/java/com/linkedin/metadata/service/ApplicationService.java
Due: datahub-graphql-core-spotless, metadata-service-services-spotless

fix(pre-commit): Ensure filtered pre-commit hook is properly installed (#6958)
  .github/scripts/install-pre-commit-hook.sh
Due: none

Symlink acryl-cloud package
  docker/datahub-executor/Dockerfile
Due: none

fix(bot): fixed cleaning schema metadata to preserve essential data (#7107)
  datahub-integrations-service/src/datahub_integrations/mcp/gql/smart_search.gql
  datahub-integrations-service/src/datahub_integrations/mcp/mcp_server.py
  datahub-integrations-service/tests/mcp/test_mcp_server_helpers.py
Due: none

fix(ai chat): Fix various bugs from pre-release QA on chat assistant (#7104)
  datahub-web-react/src/app/chat/components/ChatArea.tsx
  datahub-web-react/src/app/chat/components/messages/ChatMessage.tsx
  datahub-web-react/src/app/chat/components/messages/ThinkingGroup.tsx
  datahub-web-react/src/app/chat/components/messages/TypingIndicator.tsx
  datahub-web-react/src/app/chat/hooks/useMentionInput.ts
  datahub-web-react/src/app/chat/utils/markdownUtils.ts
Due: none

feat(release): add release notification to customer (#7053)
  datahub-integrations-service/src/datahub_integrations/notifications/sinks/slack/slack_sink.py
  datahub-integrations-service/src/datahub_integrations/notifications/sinks/slack/template_utils.py
  datahub-integrations-service/tests/notifications/sinks/slack/test_slack_sink.py
  datahub-integrations-service/tests/notifications/sinks/slack/test_slack_template_utils.py
  docker/smoke-test/remote-smoke-test.sh
  metadata-models/src/main/pegasus/com/linkedin/event/notification/template/NotificationTemplateType.pdl
  smoke-test/conftest.py
  smoke-test/tests/cypress/cypress_remote_test.py
  smoke-test/tests/read_only/test_slack_settings.py
  smoke-test/tests/test_result_msg.py
  smoke-test/tests/utilities/env_vars.py
  smoke-test/tests/utilities/metadata_operations.py
  smoke-test/tests/utils.py
Due: smoke-test-lint-fix

Exclude generated code from spotless
  build.gradle
  entity-registry/build.gradle
  entity-registry/custom-test-model/build.gradle
  metadata-service/restli-servlet-impl/build.gradle
  test-models/build.gradle
Due: none

Fix few gradle build files to exclude generated code from spotless plugin
  build.gradle
  datahub-graphql-core/build.gradle
  metadata-events/mxe-schemas/build.gradle
Due: none

test workflow
  .github/workflows/docker-unified-build.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs(kafka): clarify Kafka topic retention requirements
  docs/deploy/confluent-cloud.md
  docs/how/kafka-config.md
Due: datahub-web-react-mdPrettierWriteChanged

add setup gradle
  .github/workflows/docker-unified-build.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

added timing
  build.gradle
Due: none

disable setup gradle
  .github/workflows/docker-unified-build.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

no parallel
  .dockerignore
  .github/workflows/docker-unified-build.yml
  datahub-frontend/build.gradle
  docker/build.gradle
  gradle.properties
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(ui/subscriptions): Bulk Subscription Editing (#7099)
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/settingsV2/personal/subscriptions/ManageActorSubscriptions.tsx
  datahub-web-react/src/app/settingsV2/personal/subscriptions/SubscriptionBulkActionsBar.tsx
  datahub-web-react/src/app/settingsV2/personal/subscriptions/SubscriptionEditEventsBulkActionsBarItem.tsx
  datahub-web-react/src/app/settingsV2/personal/subscriptions/SubscriptionListFilters.tsx
  datahub-web-react/src/app/settingsV2/personal/subscriptions/SubscriptionSelectAllBulkActionsBarItem.tsx
  datahub-web-react/src/app/settingsV2/personal/subscriptions/useBulkUpdateSubscriptions.ts
  datahub-web-react/src/app/settingsV2/personal/subscriptions/utils.tsx
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Due: metadata-service-services-spotless

fix nested select and related cypress tests
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
  smoke-test/tests/cypress/cypress/e2e/searchV2/helpers/searchBarV2FiltersHelper.js
Due: none

Adding Reindex job
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/restoreindices/ReindexChartInfoConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/chartinfo/ReindexChartInfo.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/chartinfo/ReindexChartInfoStep.java
Due: datahub-upgrade-spotless

feat(ingestion): add a prefix to LF tags to distinguish from regular tags.
  metadata-ingestion/src/datahub/api/entities/external/lake_formation_external_entites.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(docs): fixed misprint in api comparison table, fixed table layout and columns (#14481)
  docs/api/datahub-apis.md
Due: datahub-web-react-mdPrettierWriteChanged

add node-modules caching
  .github/workflows/docker-unified-build.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(web): nested select component should not auto-clear selections (#15122)
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/searchV2/SearchBar.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/SearchBarInput.tsx
  smoke-test/tests/cypress/cypress/e2e/searchV2/helpers/searchBarV2FiltersHelper.js
Due: none

fix(cypress): fix manage_tagsV2
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/assign_unassign_tags.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/create_edit_remove_tags.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/manage_tagsV2.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/search_bar_placeholder.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/search_not_exists.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/title_search_results.js
Due: none

fix(cypress): fix manage_tagsV2 (2)
  smoke-test/tests/cypress/cypress.config.js
Due: none

fix(ui/assertions): Fixes to assertion list table (#7110)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AcrylAssertionList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AcrylAssertionListFilters.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AcrylAssertionListTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/hooks.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/utils.tsx
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionSource.pdl
Due: none

fix cypress test for dataset_health
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_health.js
Due: none

fix ingestion_source cypress test
  smoke-test/tests/cypress/cypress/e2e/mutations/ingestion_source.js
Due: none

fixup
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: metadata-ingestion-lint-fix, update-capability-summary

set the theme to V2
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_health.js
Due: none

fix(uploadFiles): fix adding extra lines on save (#7027)
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
  datahub-web-react/src/alchemy-components/components/Editor/EditorTheme.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/FileDragDropExtension.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/FileNodeView.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/markdownToHtml.tsx
Due: none

fix(structured-properties/propagation): Always show ellipse if structured property is truncated (#7100)
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
Due: none

fix the edit button selector causing flake
  smoke-test/tests/cypress/cypress/e2e/mutations/ingestion_source.js
Due: none

fix(quickstart): bump default version to v1.3.0
  .github/workflows/quickstart-test.yml
  docker/quickstart/quickstart_version_mapping.yaml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(remote executor): do not upload location on s3 upload fail (#7113)
  datahub-executor/pyproject.toml
  datahub-executor/requirements-dev.txt
  datahub-executor/requirements.txt
Due: none

fix(filter): fix icon for lineage (#7114)
  datahub-web-react/src/app/searchV2/filters/render/assetLevelLineage/HasAssetLevelLineageRenderer.tsx
Due: none

fix(quickstart): bump default version to v1.3.0 (#15155)
  .github/workflows/quickstart-test.yml
  docker/quickstart/quickstart_version_mapping.yaml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(cypress): fix manage_tagsV2 (#15151)
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/assign_unassign_tags.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/create_edit_remove_tags.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/manage_tagsV2.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/search_bar_placeholder.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/search_not_exists.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/title_search_results.js
Due: none

fix(cypress): fix cypress test for dataset_health (#15153)
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_health.js
Due: none

fix(cypress): fix ingestion_source cypress test (#15154)
  smoke-test/tests/cypress/cypress/e2e/mutations/ingestion_source.js
Due: none
