Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

style(ingest/tableau): trim comments on the two-tier platform lists
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/tests/unit/tableau/test_tableau_source.py
Due: metadata-ingestion-lint-fix

fix(deps): bump cryptography and harden datahub-actions CVE floors (#18867)
  docker/datahub-actions/Dockerfile
  docker/snippets/ingestion/constraints.txt
  docs/how/updating-datahub.md
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/hex): cap skipped_cells report growth with LossyList
  metadata-ingestion/src/datahub/ingestion/source/hex/lineage_builder.py
Due: metadata-ingestion-lint-fix

fix(ingestion/airbyte): warn per stream on namespace gaps and correct the docs
  metadata-ingestion/docs/sources/airbyte/airbyte_post.md
  metadata-ingestion/src/datahub/ingestion/source/airbyte/client.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/config.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/source.py
  metadata-ingestion/tests/unit/airbyte/test_airbyte_client.py
  metadata-ingestion/tests/unit/airbyte/test_source_urns.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test(ingest/doris): parametrize the profiling enrichment pin over the mysql family
  metadata-ingestion/tests/unit/doris/test_doris_source.py
  metadata-ingestion/tests/unit/test_mysql_profiling.py
Due: metadata-ingestion-lint-fix

fix(pgqueue): register usage GenericProducer for OTEL audit export
  metadata-io/src/main/java/com/linkedin/metadata/event/PgQueueGenericProducer.java
  metadata-io/src/main/java/com/linkedin/metadata/event/PgQueueUsageEventPublisher.java
  metadata-io/src/test/java/com/linkedin/metadata/event/PgQueueGenericProducerTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/NonKafkaMessagingConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/PgQueueUsageEventPublisherConfiguration.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/kafka/PgQueueProducerFactoriesTest.java
Due: metadata-io-spotless, metadata-service-factories-spotless

fix(ingest/doris): drop cross-catalog view lineage and tidy the catalog session
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/doris/doris_post.md
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/tests/unit/doris/test_doris_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/hex): cap skipped_cells report growth with LossyList (#18871)
  metadata-ingestion/src/datahub/ingestion/source/hex/lineage_builder.py
Due: metadata-ingestion-lint-fix

fix(pipeline): ensure JSON compatibility in get_raw_dict serialization
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
Due: metadata-ingestion-lint-fix

fix(ingest/doris): report DESCRIBE reflection fallbacks
  metadata-ingestion/docs/sources/doris/doris_post.md
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_dialect.py
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/tests/unit/doris/test_doris_dialect.py
  metadata-ingestion/tests/unit/doris/test_doris_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

style(patch): apply spotless formatting
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/SnapshotEntityRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/patch/template/InstitutionalMemoryTemplateTest.java
Due: entity-registry-spotless

feat(api): support structured fields on custom assertions (#18748)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/UpsertCustomAssertionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapper.java
  datahub-graphql-core/src/main/resources/assertions.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/UpsertCustomAssertionResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapperTest.java
  docs/api/tutorials/assertions.md
  docs/api/tutorials/custom-assertions.md
  metadata-ingestion/examples/library/data_quality_mcpw_rest.py
  metadata-ingestion/examples/library/sync_custom_assertion.py
  metadata-ingestion/examples/library/upsert_custom_assertion.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/sdk/assertion_client.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/tests/unit/sdk_v2/test_assertions_client.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-ingestion-lint-fix

feat(ui): render structured CUSTOM assertions with DATASET parity (#18750)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapper.java
  datahub-graphql-core/src/main/resources/assertions.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapperTest.java
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/__tests__/assertionMatchesTypeFilter.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/__tests__/getColumnIdsFromAssertion.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/utils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/DatasetAssertionDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/__tests__/assertionDescriptions.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/acrylUtils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/shared/result/AssertionResultPopoverContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/AssertionDetailsSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/AssertionSummaryContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/__tests__/AssertionDetailsSection.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/utils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/shared/__tests__/structuredAssertionUtils.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/shared/structuredAssertionUtils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/contract/DataQualityContractSummary.tsx
  datahub-web-react/src/graphql/assertion.graphql
  datahub-web-react/src/i18n/locales/en/entity.profile.validations.json
Due: datahub-graphql-core-spotless, web-react-lint-fix

feat(ingestion): add S3 and GCS-backed CLI version matrix sources (#18202)
  .github/backend_test_weights.json
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateIngestionExecutionRequestResolverTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/CliVersionMatrixConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/HttpMatrixSourceConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/ingestion/HttpMatrixDocumentReader.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/ingestion/HttpUrlIngestionCliVersionMatrixSource.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/ingestion/IngestionCliVersionMatrixParser.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/ingestion/IngestionCliVersionMatrixSource.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/ingestion/MatrixDocumentReader.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/ingestion/MatrixReadException.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/ingestion/MatrixRefreshFailure.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/ingestion/PollingIngestionCliVersionMatrixSource.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/ingestion/IngestionCliVersionMatrixParserTest.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/ingestion/IngestionCliVersionMatrixServiceTest.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/ingestion/PollingIngestionCliVersionMatrixSourceTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/ingestion/IngestionCliVersionMatrixServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/ingestion/ObjectStorageMatrixDocumentReader.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/objectstorage/ObjectStorageClientFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/ingestion/IngestionCliVersionMatrixServiceFactoryTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/ingestion/ObjectStorageMatrixDocumentReaderTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/objectstorage/GcsObjectStorageClient.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/objectstorage/LocalObjectStorageClient.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/objectstorage/ObjectStorageClient.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/objectstorage/ObjectStorageLocation.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/objectstorage/S3ObjectStorageClient.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/objectstorage/GcsObjectStorageClientTest.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/objectstorage/LocalObjectStorageClientTest.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/objectstorage/ObjectStorageLocationTest.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/objectstorage/S3ObjectStorageClientTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-utils-spotless

chore(flags): Enable flags that should be enabled by default
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

clean up the scheam header so the raw is not sitting to the left of the search
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaHeader.tsx
Due: web-react-lint-fix

chore(release): bump 1.7.0 cli
  gradle/versioning/cliVersion.gradle
Due: none

fix(assertions): include assertionNote in GraphQL aspect fetch
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/assertion/AssertionType.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/assertion/AssertionTypeTest.java
Due: datahub-graphql-core-spotless

feat(ingest): emit CUSTOM assertions for dbt, GX, and data contracts
  docs/how/updating-datahub.md
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/action.py
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/common.py
  metadata-ingestion-modules/gx-plugin/tests/e2e/run_gx1_fluent_e2e.py
  metadata-ingestion-modules/gx-plugin/tests/integration/ge_mcps_golden.json
  metadata-ingestion-modules/gx-plugin/tests/integration/ge_mcps_golden_2.json
  metadata-ingestion-modules/gx-plugin/tests/integration/test_great_expectations.py
  metadata-ingestion-modules/gx-plugin/tests/unit/test_action_v1.py
  metadata-ingestion-modules/gx-plugin/tests/unit/test_common.py
  metadata-ingestion-modules/gx-plugin/tests/unit/test_great_expectations_action.py
  metadata-ingestion/src/datahub/api/entities/datacontract/data_quality_assertion.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_tests.py
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_prefer_sql_parser_lineage_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_test_model_performance_golden.json
  metadata-ingestion/tests/unit/api/entities/datacontract/test_data_quality_assertion.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, update-lineage-file

fix(models): bump assertionInfo and assertionNote schemaVersions
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionNote.pdl
Due: update-lineage-file

style(docs): prettier-fix great-expectations.md
  metadata-ingestion/integration_docs/great-expectations.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(gx): document customAssertion emission instead of datasetAssertion
  metadata-ingestion/integration_docs/great-expectations.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(assertions): migrate notes to dedicated aspect
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapperTest.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NonBlockingConfigs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/assertions/MigrateAssertionNoteToAspect.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/assertions/MigrateAssertionNoteToAspectStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/assertions/MigrateAssertionNoteToAspectStepTest.java
  docs/how/updating-datahub.md
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionNote.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AssertionService.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, datahub-upgrade-spotless, li-utils-spotless, metadata-service-services-spotless, update-lineage-file

added tool tips and drop the usememo
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaHeader.tsx
Due: web-react-lint-fix

fix(agent-context): correct lineage pagination
  datahub-agent-context/src/datahub_agent_context/mcp_tools/lineage.py
  datahub-agent-context/tests/unit/mcp_tools/test_lineage.py
Due: none

feat(summary): extend modular summary tab to more entity types
  datahub-web-react/src/app/entityV2/application/ApplicationEntity.tsx
  datahub-web-react/src/app/entityV2/chart/ChartEntity.tsx
  datahub-web-react/src/app/entityV2/container/ContainerEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/summary/modules/assets/__tests__/useGetAssets.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetApplicationAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetContainerAssets.ts
  datahub-web-react/src/app/entityV2/summary/properties/hooks/useBasicAssetProperties.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.ts
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
Due: web-react-lint-fix

docs(agent-context): clarify path search bound
  datahub-agent-context/src/datahub_agent_context/mcp_tools/lineage.py
Due: none

feat(summary): default assets module for dashboard and chart summaries
  datahub-web-react/src/app/entityV2/summary/modules/assets/__tests__/useGetAssets.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetChartAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetDashboardAssets.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.ts
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
Due: web-react-lint-fix

chore(release): bump 1.7.0 cli (#18877)
  gradle/versioning/cliVersion.gradle
Due: none

feat(summary): place assets beside lineage and defer ml model
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetChartAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetDashboardAssets.ts
  datahub-web-react/src/app/entityV2/summary/properties/hooks/useBasicAssetProperties.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.ts
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
Due: web-react-lint-fix

test(agent-context): use valid lineage URNs
  datahub-agent-context/tests/unit/mcp_tools/test_lineage.py
Due: none

fix(documents): use searchDocuments for sidebar filters and server sort
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/DocumentSearchFilterUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/SearchDocumentsResolver.java
  datahub-graphql-core/src/main/resources/documents.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/DocumentSearchFilterUtilsTest.java
  datahub-web-react/src/alchemy-components/components/InfiniteScrollList/__tests__/useInfiniteScroll.test.ts
  datahub-web-react/src/alchemy-components/components/InfiniteScrollList/useInfiniteScroll.ts
  datahub-web-react/src/app/context/ContextSidebar.tsx
  datahub-web-react/src/app/document/DocumentTreeContext.tsx
  datahub-web-react/src/app/document/hooks/useDocumentSidebarSearch.ts
  datahub-web-react/src/app/document/hooks/useLoadDocumentTree.ts
  datahub-web-react/src/app/document/hooks/useRevealDocumentInTree.ts
  datahub-web-react/src/app/document/utils/__tests__/documentSidebarSort.test.ts
  datahub-web-react/src/app/document/utils/__tests__/documentTreeReveal.test.ts
  datahub-web-react/src/app/document/utils/documentSidebarSort.ts
  datahub-web-react/src/app/document/utils/documentTreeReveal.ts
  datahub-web-react/src/app/document/utils/sortDocumentTreeNodes.ts
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentTree.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentTreeItem.tsx
  datahub-web-react/src/app/sharedV2/sidebar/HierarchicalBrowseSidebar/HierarchicalBrowseSidebar.tsx
Due: datahub-graphql-core-spotless, web-react-lint-fix

style(documents): apply spotless to SearchDocumentsResolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/SearchDocumentsResolver.java
Due: datahub-graphql-core-spotless

feat(entity-service): add pluggable DB-routing seam to EbeanAspectDao (#18859)
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/loadindices/LoadIndicesStep.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/AspectTableResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/PassThroughScopedTransactionFactory.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/PlainAspectTableResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/ScopedTransactionFactory.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/utils/DefaultAspectsUtilTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanAspectMigrationsDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceOptimizationTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoLockingPostgresIT.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoSeamRoutingTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTransactionRetryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/PassThroughScopedTransactionFactoryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/storage/PrimaryStorageReadPoolPostgresIT.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/EbeanTimelineServiceTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/EbeanConfigCustomizer.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/LocalEbeanConfigFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityAspectDaoFactory.java
Due: datahub-upgrade-spotless, metadata-io-spotless, metadata-service-factories-spotless

fix(summary): align related assets naming and dashboard contents
  datahub-web-react/src/app/entityV2/summary/modules/assets/AssetsModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetDashboardAssets.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.ts
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
  datahub-web-react/src/i18n/locales/de/modules.json
  datahub-web-react/src/i18n/locales/en/modules.json
  datahub-web-react/src/i18n/locales/es/modules.json
  datahub-web-react/src/i18n/locales/fi/modules.json
  datahub-web-react/src/i18n/locales/fr/modules.json
  datahub-web-react/src/i18n/locales/hu/modules.json
  datahub-web-react/src/i18n/locales/it/modules.json
  datahub-web-react/src/i18n/locales/nb/modules.json
  datahub-web-react/src/i18n/locales/pt-BR/modules.json
  datahub-web-react/src/i18n/locales/sv/modules.json
Due: web-react-lint-fix

fix(documents): stop move popover from wiping shared document tree
  datahub-web-react/src/app/document/hooks/__tests__/useLoadDocumentTree.test.tsx
  datahub-web-react/src/app/document/hooks/useSearchDocuments.ts
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentTree.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/MoveDocumentPopover.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/shared/DocumentPopoverBase.tsx
  e2e-test/ui/playwright/pages/entity/document.page.ts
Due: web-react-lint-fix

fix(ui/lineage): Support dotted edge to contract lineage control when filter node disabled
  datahub-web-react/src/app/lineageV3/LineageEntityNode/NodeContents.tsx
  datahub-web-react/src/app/lineageV3/__tests__/useColumnHighlighting.test.ts
  datahub-web-react/src/app/lineageV3/common.ts
  datahub-web-react/src/app/lineageV3/useColumnHighlighting.ts
Due: web-react-lint-fix

test(documents): expect states in searchDocuments mock variables
  datahub-web-react/src/app/document/hooks/__tests__/useSearchDocuments.test.tsx
Due: web-react-lint-fix
