Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix test locations
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(security): verifying tokens from on /public calls (#7993)
  datahub-integrations-service/src/datahub_integrations/oauth/__init__.py
  datahub-integrations-service/src/datahub_integrations/oauth/router.py
  datahub-integrations-service/tests/unit/oauth/test_router.py
Due: datahub-integrations-service-lint-fix

feat(ingest/databricks): support retrieving default sql warehouse
  metadata-ingestion/src/datahub/ingestion/source/unity/connection.py
Due: metadata-ingestion-lint-fix

fix(frontend): prevent open redirect in redirectTrailingSlash (#15951)
  datahub-frontend/app/controllers/Application.java
  datahub-frontend/test/app/ApplicationTest.java
Due: none

refactor(ingest/databricks): use separate connection per profiling thread
  metadata-ingestion/src/datahub/ingestion/source/unity/ge_profiler.py
Due: metadata-ingestion-lint-fix

fix(graphql/ingest): Add back filtering of execution requests by ingestion source (#7997)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/ListExecutionRequestsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/ListExecutionRequestsResolverTest.java
Due: datahub-graphql-core-spotless

fix(ingestion/powerbi): Fix PowerBI ODBC upstream lineage mapping and SQL parsing issues (#15756)
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/dataplatform_instance_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_patch_disabled.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/unit/powerbi/test_config.py
Due: metadata-ingestion-lint-fix

prettier on docs
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/matillion.ts
  datahub-web-react/src/app/ingest/source/conf/matillion/matillion.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/matillion.ts
Due: web-react-lint-fix

Update matillion.md
  metadata-ingestion/docs/sources/matillion/matillion.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(docs): remove use of tabs where deeplinking is needed
  docs/authentication/guides/add-users.md
  docs/authentication/guides/sso/configure-oidc-react.md
  docs/authentication/guides/sso/initialize-oidc.md
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
  docs/managed-datahub/remote-executor/monitoring.md
  docs/ownership/ownership-types.md
  docs/quickstart.md
  docs/ui-ingestion.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(graphql): add semantic search configuration API
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.semantic.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolverTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
Due: datahub-graphql-core-spotless, metadata-service-factories-spotless

fix(validator): handle empty collections and system update source in PrivilegeConstraintsValidator
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/PrivilegeConstraintsValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeConstraintsValidatorTest.java
Due: metadata-io-spotless

fix(validator): handle empty collections and system update source in … (#15960)
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/PrivilegeConstraintsValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeConstraintsValidatorTest.java
Due: metadata-io-spotless

fix(validation): handle empty collection and system updates in Privil… (#8007)
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/PrivilegeConstraintsValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeConstraintsValidatorTest.java
Due: metadata-io-spotless

fix(mutation): add better error handling in mutation tools (#7831)
  datahub-integrations-service/src/datahub_integrations/chat/agents/data_catalog_prompts.py
  datahub-integrations-service/src/datahub_integrations/mcp/mcp_server.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/descriptions.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/domains.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/get_me.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/owners.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/structured_properties.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/tags.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/terms.py
  datahub-integrations-service/tests/mcp/tools/test_descriptions.py
  datahub-integrations-service/tests/mcp/tools/test_domains.py
  datahub-integrations-service/tests/mcp/tools/test_get_me.py
  datahub-integrations-service/tests/mcp/tools/test_owners.py
  datahub-integrations-service/tests/mcp/tools/test_structured_properties.py
  datahub-integrations-service/tests/mcp/tools/test_tags.py
  datahub-integrations-service/tests/mcp/tools/test_terms.py
  datahub-integrations-service/tests/unit/chat/test_data_catalog_prompts.py
Due: datahub-integrations-service-lint-fix

matillion updates
  metadata-ingestion/docs/sources/matillion/matillion_post.md
  metadata-ingestion/docs/sources/matillion/matillion_pre.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/config.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/constants.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/matillion.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/matillion_api.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/matillion_connection.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/matillion_container.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/matillion_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/matillion_streaming.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/models.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/urn_builder.py
  metadata-ingestion/tests/integration/matillion/matillion_comprehensive_mces_golden.json
  metadata-ingestion/tests/integration/matillion/matillion_lineage_mces_golden.json
  metadata-ingestion/tests/integration/matillion/matillion_mces_golden.json
  metadata-ingestion/tests/integration/matillion/matillion_postgres_snowflake_mces_golden.json
  metadata-ingestion/tests/integration/matillion/matillion_postgres_snowflake_to_file.yml
  metadata-ingestion/tests/integration/matillion/matillion_streaming_mces_golden.json
  metadata-ingestion/tests/integration/matillion/test_matillion.py
  metadata-ingestion/tests/unit/matillion/test_matillion_api.py
  metadata-ingestion/tests/unit/matillion/test_matillion_api_comprehensive.py
  metadata-ingestion/tests/unit/matillion/test_matillion_lineage.py
  metadata-ingestion/tests/unit/matillion/test_matillion_models.py
  metadata-ingestion/tests/unit/matillion/test_matillion_source.py
  metadata-ingestion/tests/unit/matillion/test_matillion_streaming.py
  metadata-ingestion/tests/unit/matillion/test_matillion_urn_builder.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

matillion docs updates
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/matillion.ts
  datahub-web-react/src/app/ingest/source/conf/matillion/matillion.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/matillion.ts
  metadata-ingestion/examples/recipes/matillion_to_datahub.dhub.yaml
Due: web-react-lint-fix

docs updates
  metadata-ingestion/docs/sources/matillion/matillion_post.md
  metadata-ingestion/docs/sources/matillion/matillion_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ui): Updated Manage User UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/user/ListUsersAndGroupsResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/alchemy-components/components/ResizablePills/index.tsx
  datahub-web-react/src/alchemy-components/components/ResizablePills/types.ts
  datahub-web-react/src/alchemy-components/index.ts
  datahub-web-react/src/app/identity/ManageUsersAndGroups.components.tsx
  datahub-web-react/src/app/identity/ManageUsersAndGroups.tsx
  datahub-web-react/src/app/identity/user/PhosphorRoleUtils.tsx
  datahub-web-react/src/app/identity/user/SimpleSelectRole.tsx
  datahub-web-react/src/app/identity/user/UserList.utils.ts
  datahub-web-react/src/app/identity/user/UserListV2.components.tsx
  datahub-web-react/src/app/identity/user/UserListV2.tsx
  datahub-web-react/src/app/identity/user/recommendedUsersLocalStorage.ts
  datahub-web-react/src/app/settingsV2/IdentitiesContent.tsx
  datahub-web-react/src/app/settingsV2/settingsPaths.tsx
  datahub-web-react/src/app/shared/AlchemyRoutedTabs.tsx
  datahub-web-react/src/graphql/user.graphql
Due: datahub-graphql-core-spotless, web-react-lint-fix

fix(docs): split out deploying recipes into cli/graphql sections
  docs/ui-ingestion.md
Due: datahub-web-react-mdPrettierWriteChanged

addressing bartbot feedback
  metadata-ingestion/src/datahub/ingestion/source/matillion/config.py
  metadata-ingestion/src/datahub/ingestion/source/matillion/matillion.py
Due: metadata-ingestion-lint-fix

fix(docs): remove use of tabs where deeplinking is needed (#15958)
  docs/authentication/guides/add-users.md
  docs/authentication/guides/sso/configure-oidc-react.md
  docs/authentication/guides/sso/initialize-oidc.md
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
  docs/managed-datahub/remote-executor/monitoring.md
  docs/ownership/ownership-types.md
  docs/quickstart.md
  docs/ui-ingestion.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(upgrade): exclude TestEngineFactory from system-update component … (#8012)
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/GeneralUpgradeConfiguration.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/UpgradeCliApplicationTestConfiguration.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/config/GeneralUpgradeConfigurationTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/test/EvaluateTestsStepTest.java
Due: datahub-upgrade-spotless

configurable timeout & helpful error message when out of docker address pools
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/configuration/env_vars.py
Due: metadata-ingestion-lint-fix

refactor(tests): update create_directlake_table parameters to Optional types
  metadata-ingestion/tests/unit/test_powerbi_directlake.py
Due: metadata-ingestion-lint-fix

feat(powerbi): add support for DirectLake lineage extraction and Fabric artifacts
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/fabric_urn_builder.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/unit/test_powerbi_directlake.py
Due: metadata-ingestion-lint-fix

feat(powerbi): enhance DirectLake support with new constants and refactor API interactions
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
Due: metadata-ingestion-lint-fix

feat(OTEL): add graphql operation and fetcher instrumentation
  build.gradle
  datahub-graphql-core/build.gradle
  datahub-graphql-core/gradle.lockfile
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphQLEngine.java
  datahub-upgrade/gradle.lockfile
  metadata-io/gradle.lockfile
  metadata-jobs/common/gradle.lockfile
  metadata-jobs/mae-consumer-job/gradle.lockfile
  metadata-jobs/mae-consumer/gradle.lockfile
  metadata-jobs/mce-consumer-job/gradle.lockfile
  metadata-jobs/mce-consumer/gradle.lockfile
  metadata-jobs/pe-consumer/gradle.lockfile
  metadata-service/auth-filter/gradle.lockfile
  metadata-service/auth-servlet-impl/gradle.lockfile
  metadata-service/factories/gradle.lockfile
  metadata-service/graphql-servlet-impl/gradle.lockfile
  metadata-service/openapi-analytics-servlet/gradle.lockfile
  metadata-service/openapi-entity-servlet/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
  metadata-service/services/gradle.lockfile
  metadata-service/servlet/gradle.lockfile
  metadata-service/war/gradle.lockfile
Due: datahub-graphql-core-spotless, check-gradle-lockfiles

add access aspect to dashboards
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/DashboardType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/container/ContainerEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
  datahub-web-react/src/graphql/dashboard.graphql
  metadata-models/src/main/resources/entity-registry.yml
Due: datahub-graphql-core-spotless, update-lineage-file, web-react-lint-fix

cleanup
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
Due: web-react-lint-fix

Remove comment in setup.py
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

chore(ingestion): validate connector deps (#15725)
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ingestion): prevent platform instance duplication in browse paths (#15916)
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/tests/unit/api/source_helpers/test_auto_browse_path_v2.py
Due: metadata-ingestion-lint-fix

fix linting issues frontend
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/container/ContainerEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
Due: web-react-lint-fix

feat(tests): add performance tests for SQL parsing components
  metadata-ingestion/setup.cfg
  metadata-ingestion/tests/performance/sql_parsing/__init__.py
  metadata-ingestion/tests/performance/sql_parsing/test_sql_aggregator.py
Due: metadata-ingestion-lint-fix

bug fixes
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/constants.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_api.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_container.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/models.py
  metadata-ingestion/tests/integration/matillion_dpc/matillion_comprehensive_mces_golden.json
  metadata-ingestion/tests/integration/matillion_dpc/matillion_lineage_mces_golden.json
  metadata-ingestion/tests/integration/matillion_dpc/matillion_mces_golden.json
  metadata-ingestion/tests/integration/matillion_dpc/matillion_postgres_snowflake_mces_golden.json
  metadata-ingestion/tests/integration/matillion_dpc/matillion_streaming_mces_golden.json
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_api.py
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_config.py
Due: metadata-ingestion-lint-fix

docs updates
  metadata-ingestion/docs/sources/matillion-dpc/matillion_post.md
  metadata-ingestion/docs/sources/matillion-dpc/matillion_pre.md
  metadata-ingestion/docs/sources/matillion-dpc/matillion_recipe.yml
Due: datahub-web-react-mdPrettierWriteChanged

addressing bartbot feedback
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/config.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_api.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_streaming.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/models.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/urn_builder.py
Due: metadata-ingestion-lint-fix

fix for docs
  metadata-ingestion/docs/sources/matillion-dpc/matillion-dpc_post.md
  metadata-ingestion/docs/sources/matillion-dpc/matillion-dpc_pre.md
  metadata-ingestion/docs/sources/matillion-dpc/matillion-dpc_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
