Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ui) Fix error page when switching to executors tab (#7772)
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
Due: web-react-lint-fix

(fix: datahub-web-react) fixed query for EntitySearchDropdown to remove unnecessary fields and improve performance (#15895)
  datahub-web-react/src/app/entityV2/shared/EntitySearchSelect/EntitySearchDropdown.tsx
  datahub-web-react/src/graphql/search.graphql
Due: web-react-lint-fix

remove unneeded changes
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/AdvancedSection.tsx
Due: web-react-lint-fix

remove unneeded changes again
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/AdvancedSection.tsx
Due: web-react-lint-fix

Update application.yaml
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

Adding support for feedback in chat
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/chat/ChatPage.tsx
  datahub-web-react/src/app/chat/components/ChatArea.tsx
  datahub-web-react/src/app/chat/components/MessageList.tsx
  datahub-web-react/src/app/chat/components/messages/ChatFeedbackModal.tsx
  datahub-web-react/src/app/chat/components/messages/ChatMessage.tsx
  datahub-web-react/src/app/chat/components/messages/ReactionButtons.tsx
  datahub-web-react/src/app/chat/components/messages/__tests__/ChatFeedbackModal.test.tsx
  datahub-web-react/src/app/chat/components/messages/__tests__/ReactionButtons.test.tsx
  datahub-web-react/src/app/chat/hooks/__tests__/useChatMessageReaction.test.ts
  datahub-web-react/src/app/chat/hooks/useChatMessageReaction.ts
  datahub-web-react/src/app/chat/types.ts
  datahub-web-react/src/app/chat/utils/__tests__/chatFeedbackUtils.test.ts
  datahub-web-react/src/app/chat/utils/chatFeedbackUtils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/AskDataHub/AskDataHubTab.tsx
  datahub-web-react/src/app/useAppConfig.ts
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless, metadata-service-services-spotless, web-react-lint-fix

fix(ui) Fix ingestion cache bug when creating new source (#15905)
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/IngestionSourceCreatePage.tsx
Due: web-react-lint-fix

fix(ui) Remove form validation except for name for ingestion sources (#15907)
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/IngestionSourceBottomPanel.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/RecipeSection.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/sections/filtersSection/FiltersSection.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/sections/filtersSection/__tests__/utils.test.ts
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/sections/filtersSection/utils.ts
  datahub-web-react/src/app/sharedV2/forms/multiStepForm/MultiStepFormBottomPanel.tsx
Due: web-react-lint-fix

fix(ui) Fix unsafe access of value in ingestion structured report (#15908)
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItemContext.tsx
  datahub-web-react/src/app/ingestV2/executions/components/reporting/StructuredReportItemContext.tsx
Due: web-react-lint-fix

fix(ui) Fix duplicate ingestion runs on browser back/forth (#15909)
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Due: web-react-lint-fix

fix(ui) Fix error page when switching to executors tab (#15910)
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
Due: web-react-lint-fix

fix(ui) Add ingestion source docs links (#15911)
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsSubTitle.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/AdvancedSection.tsx
Due: web-react-lint-fix

executor(slim): exclude prophet/observe from slim (#7922)
  datahub-executor/pyproject.toml
  datahub-executor/requirements-dev.txt
  datahub-executor/requirements-slim.txt
  datahub-executor/requirements.txt
  smoke-test/requirements.txt
Due: datahub-executor-lint-fix

fix(cypress): fix flaky ingestionV2/sources.js test (#7895)
  smoke-test/tests/cypress/cypress/e2e/ingestionV2/utils.js
Due: none

fix(cypress): fix flaky settings/platform_ai_settings.js test (#7896)
  smoke-test/tests/cypress/cypress/e2e/settings/platform_ai_settings.js
Due: none

fix(cypress): fix flaky glossary/glossary.js test (#7915)
  smoke-test/tests/cypress/cypress/support/commands.js
Due: none

fix(cypress): fix flaky auto_completeV2/v2_auto_complete.js test (#7916)
  smoke-test/tests/cypress/cypress/e2e/auto_completeV2/v2_auto_complete.js
Due: none

fix(cypress): fix flaky incidentsV2/v2_incidents.js test (#7917)
  smoke-test/tests/cypress/cypress/e2e/incidentsV2/v2_incidents.js
Due: none

fix(cypress): fix flaky metadata_tests/tests.js test (#7935)
  smoke-test/tests/cypress/cypress/e2e/metadata_tests/tests.js
Due: none

fix(cypress): fix mutations/domains.js test (#7938)
  smoke-test/tests/cypress/cypress/e2e/mutations/domains.js
Due: none

style: update datahub in-product branding
  datahub-web-react/src/images/datahub-flow-diagram-light.png
  datahub-web-react/src/images/datahub-logo-color-loading_chaos.svg
  datahub-web-react/src/images/datahub-logo-color-loading_hooks.svg
  datahub-web-react/src/images/datahub-logo-color-loading_over.svg
  datahub-web-react/src/images/datahub-logo-color-loading_pendulum.svg
  datahub-web-react/src/images/datahub-logo-color-loading_satellite.svg
  datahub-web-react/src/images/datahub-logo-color-loading_simple.svg
  datahub-web-react/src/images/datahub-logo-color-popup.svg
  datahub-web-react/src/images/datahub-logo-color-stable.svg
  datahub-web-react/src/images/datahub-platforms.svg
  datahub-web-react/src/images/datahublogo.png
  datahub-web-react/src/images/datahublogo.svg
Due: none

chore(bump): bump and document urllib3 limitation (#15890)
  .github/workflows/airflow-plugin.yml
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion-modules/airflow-plugin/tox.ini
  metadata-ingestion/setup.py
Due: datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix, update-lineage-file

add unit test
  metadata-ingestion/setup.py
  metadata-ingestion/starrocks_recipe.yaml
  metadata-ingestion/tests/integration/starrocks/docker-compose.yml
  metadata-ingestion/tests/integration/starrocks/setup/setup.sql
  metadata-ingestion/tests/integration/starrocks/starrocks_mces_golden.json
  metadata-ingestion/tests/integration/starrocks/starrocks_to_file.yml
  metadata-ingestion/tests/integration/starrocks/test_starrocks.py
  metadata-ingestion/tests/unit/test_starrocks_source.py
  test-starrocks-recipe.yml
Due: metadata-ingestion-lint-fix

add StarRocks source connector
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/starrockslogo.png
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sqlalchemy_uri_mapper.py
  metadata-ingestion/src/datahub/ingestion/source/sql/starrocks.py
  metadata-ingestion/starrocks_recipe.yaml
  test-starrocks-recipe.yml
Due: metadata-ingestion-lint-fix, web-react-lint-fix

fix: restored the animated loader SVGs
  datahub-web-react/src/images/datahub-logo-color-fadein.svg
  datahub-web-react/src/images/datahub-logo-color-loading_chaos.svg
  datahub-web-react/src/images/datahub-logo-color-loading_over.svg
  datahub-web-react/src/images/datahub-logo-color-loading_pendulum.svg
  datahub-web-react/src/images/datahub-logo-color-loading_satellite 2.svg
Due: none

fix: more replacements from restored loaders
  datahub-web-react/src/images/datahub-logo-color-loading_hooks.svg
  datahub-web-react/src/images/datahub-logo-color-loading_satellite.svg
  datahub-web-react/src/images/datahub-logo-color-loading_simple.svg
Due: none

add docs and update tests
  metadata-ingestion/docs/sources/starrocks/starrocks_pre.md
  metadata-ingestion/docs/sources/starrocks/starrocks_recipe.yml
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/sql/starrocks.py
  metadata-ingestion/tests/integration/starrocks/test_starrocks.py
  metadata-ingestion/tests/unit/test_starrocks_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix ci for deps and tests
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/test_starrocks_source.py
Due: metadata-ingestion-lint-fix

fix(powerbi): update viewLogic formatting in PowerBI JSON test files for improved readability and consistency
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_patch_disabled.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
Due: metadata-ingestion-lint-fix

fix(tableau): update custom SQL datasource name handling in Tableau ingestion source
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Due: metadata-ingestion-lint-fix

fix(tableau): update golden-test-files
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_filtered_upstream_asset_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_hidden_asset_tags_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_hidden_worksheets_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_tags_disabled_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_multiple_sites_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_no_hidden_assets_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_permission_ingestion_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_site_name_pattern_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_sites_as_container_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
Due: metadata-ingestion-lint-fix

bartbot feedback
  metadata-ingestion/docs/sources/hightouch/hightouch_advanced.yml
  metadata-ingestion/docs/sources/hightouch/hightouch_pre.md
  metadata-ingestion/src/datahub/ingestion/source/hightouch/config.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_model.py
  metadata-ingestion/tests/integration/hightouch/test_hightouch.py
  metadata-ingestion/tests/unit/hightouch/test_hightouch.py
  metadata-ingestion/tests/unit/hightouch/test_hightouch_lineage.py
  metadata-ingestion/tests/unit/hightouch/test_hightouch_urn_builder.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(chat-admin): Add archived conversation history and trial cluster support (#7947)
  datahub-integrations-service/experiments/observability/chat-ui-web/backend/README.md
  datahub-integrations-service/experiments/observability/chat-ui-web/backend/api/dependencies.py
  datahub-integrations-service/experiments/observability/chat-ui-web/backend/api/main.py
  datahub-integrations-service/experiments/observability/chat-ui-web/backend/api/models.py
  datahub-integrations-service/experiments/observability/chat-ui-web/backend/api/routes/archived_conversations.py
  datahub-integrations-service/experiments/observability/chat-ui-web/backend/core/datahub_conversation_client.py
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/api/client.ts
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/api/types.ts
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/components/ArchivedConversationList.tsx
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/components/ArchivedMessageList.tsx
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/components/ChatWindow.tsx
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/components/ConversationTabs.tsx
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/components/MessageRenderer.tsx
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/hooks/useArchivedConversations.ts
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/index.css
  datahub-integrations-service/experiments/observability/kubectl_manager.py
  datahub-integrations-service/experiments/observability/token_generator.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-integrations-service-lint-fix

test(tableau): add comprehensive tests for custom SQL datasource name handling in Tableau ingestion
  metadata-ingestion/tests/unit/tableau/test_tableau_source.py
Due: metadata-ingestion-lint-fix

refactor(tests): improve readability of mock setup in Tableau source tests
  metadata-ingestion/tests/unit/tableau/test_tableau_source.py
Due: metadata-ingestion-lint-fix

refactor(glossary): deprecate old URN utility functions and enhance WizardPage with improved error handling and progress tracking
  datahub-web-react/src/app/glossaryV2/import/WizardPage/DropzoneTable/DropzoneTable.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/ImportProgressModal/ImportProgressModal.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/WizardPage.tsx
  datahub-web-react/src/app/glossaryV2/import/glossary.utils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/hooks/useComprehensiveImport.ts
  datahub-web-react/src/app/glossaryV2/import/shared/hooks/useGraphQLOperations.ts
  datahub-web-react/src/app/glossaryV2/import/shared/hooks/useHierarchyManagement.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/__tests__/urnGenerationUtils.test.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/comprehensiveImportUtils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/entityComparisonUtils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/hierarchyUtils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/patchBuilder.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/testConstants.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/urnGenerationUtils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/urnManager.ts
Due: web-react-lint-fix

fix(ingestion): prevent platform instance duplication in browse paths
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/tests/unit/api/source_helpers/test_auto_browse_path_v2.py
Due: metadata-ingestion-lint-fix

feat(ingestion): Prevent duplication of platform instance in browse path
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-ingestion/tests/unit/api/source_helpers/test_auto_browse_path_v2.py
Due: metadata-ingestion-lint-fix

fix(mssql): fix test bug and improve test coverage for prefer_lowercase (#13792)
  metadata-ingestion/tests/unit/sql/test_mssql_prefer_lowercase.py
  metadata-ingestion/tests/unit/sql_parsing/test_schema_resolver_prefer_lowercase.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
