Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ingest/deps): propagate the sqlparse/pyOpenSSL floors everywhere they're declared
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

fix(ingest/deps): re-export metadata-ingestion/constraints.txt from the updated lock
  metadata-ingestion/constraints.txt
Due: none

fix(openapi): merge repeated allOf constraints and preserve ref siblings
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

fix(search): use aggregation entity's valueType for structured-property bucket display names
  datahub-web-react/src/app/searchV2/filters/value/utils.tsx
Due: web-react-lint-fix

rollup: rob/rob-test-rollup-01 (permission-aware edit affordances)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/__tests__/FieldDescription.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/DocumentationTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/__tests__/DocumentationTab.test.tsx
Due: web-react-lint-fix

test(search): cover structured-property display-name formatting from the facet entity
  datahub-web-react/src/app/searchV2/filters/value/__tests__/utils.test.tsx
Due: web-react-lint-fix

test(ui): fix useEntityData mock shape in FieldDescription permission tests
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/__tests__/FieldDescription.test.tsx
Due: web-react-lint-fix

fix(properties): skip redundant structured-properties query on schema field drawer revisit
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/useStructuredProperties.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/useStructuredProperties.tsx
Due: web-react-lint-fix

fix(ui): pass full fieldEntity to PropertiesTab instead of narrower fieldProperties
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/useStructuredProperties.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/useStructuredProperties.tsx
Due: web-react-lint-fix

fix(schema-field): convey the permission-disabled state via aria-disabled
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
Due: web-react-lint-fix

perf(schema-tab): two-phase schema loading (structural query first, full metadata deferred)
  datahub-web-react/src/app/entityV2/dataset/profile/useGetColumnTabCount.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/__tests__/SchemaTab.twophase.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/useGetEntitySchema.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useGetStructuredPropColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/columnStats/__tests__/ColumnStatsTable.test.tsx
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/i18n/locales/en/entity.profile.schema.json
  e2e-test/ui/playwright/pages/structured-properties.page.ts
  e2e-test/ui/playwright/tests/structured-properties/schema-field.spec.ts
Due: web-react-lint-fix

refactor(ui): share the structured-property row builder; cover loading state and dedupe
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/PropertiesTab.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/useStructuredProperties.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/useStructuredProperties.tsx
Due: web-react-lint-fix

style(schema-tab): theme-token cell skeleton instead of antd Skeleton
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useGetStructuredPropColumns.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useGetStructuredPropColumns.tsx
Due: web-react-lint-fix

test(schema-tab): mock the structural query and cover the two-phase hooks
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/__tests__/useGetEntitySchema.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useGetStructuredPropColumns.test.tsx
Due: web-react-lint-fix

fix(schema-tab): review fixes for two-phase loading
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/__tests__/SchemaTab.twophase.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/__tests__/useGetEntitySchema.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/CellSkeleton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/useGetEntitySchema.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useGetStructuredPropColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/columnStats/__tests__/ColumnStatsTable.test.tsx
Due: web-react-lint-fix

feat(authorization): add VIEW_ENTITY_QUERIES privilege for Dataset, Chart, and Data Job
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolver.java
  datahub-graphql-core/src/main/resources/auth.graphql
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NonBlockingConfigs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/policyprivileges/BackfillViewEntityQueriesPrivilege.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/policyprivileges/BackfillViewEntityQueriesPrivilegeStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/policyprivileges/BackfillViewEntityQueriesPrivilegeStepTest.java
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarLogicSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/__tests__/SidebarLogicSection.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/EmptyQueriesSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueriesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/__tests__/EmptyQueriesSection.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/__tests__/QueriesTab.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/View/ViewDefinitionTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/View/__tests__/ViewDefinitionTab.test.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/i18n/locales/en/entity.profile.queries.json
  datahub-web-react/src/i18n/locales/en/entity.profile.view.json
  docs/authorization/policies.md
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/authorization/EntityAspectAuthorizationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/authorization/EntityAspectAuthorizationUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, datahub-upgrade-spotless, metadata-io-spotless, metadata-utils-spotless, web-react-lint-fix

feat(cli): attribute CLI traffic to the invoking agent skill
  docs/cli.md
  metadata-ingestion/src/datahub/cli/skill_context.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/unit/cli/test_skill_context.py
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/RequestContextTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, metadata-operation-context-spotless

fix(ui): surface validator plugin error messages instead of generic failure text
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/DeleteStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/RemoveStructuredPropertiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpsertStructuredPropertiesResolver.java
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/app/entityV2/shared/utils.ts
  datahub-web-react/src/app/shared/handleGraphQLError.ts
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/ValidationExceptionCollection.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/plugins/validation/ValidationExceptionCollectionTest.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/validation/ValidationException.java
  smoke-test/tests/structured_properties/test_structured_property_delete_and_validator_errors.py
Due: datahub-graphql-core-spotless, entity-registry-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, smoke-test-lint-fix, web-react-lint-fix

feat(errors): mark validation errors with errorSource so the UI can surface validator text
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubGraphQLError.java
  datahub-web-react/src/app/shared/__tests__/handleGraphQLError.test.ts
  datahub-web-react/src/app/shared/handleGraphQLError.ts
Due: datahub-graphql-core-spotless, web-react-lint-fix

style: apply spotless/ruff formatting from pre-push hooks
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/ValidationExceptionCollection.java
  smoke-test/tests/structured_properties/test_structured_property_delete_and_validator_errors.py
Due: datahub-graphql-core-spotless, entity-registry-spotless, smoke-test-lint-fix

feat(mfe): make MFE remote-module load timeout configurable via MFE_LOAD_TIMEOUT_MS
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolverTest.java
  datahub-web-react/src/app/mfeframework/MFEConfigurableContainer.tsx
  datahub-web-react/src/app/mfeframework/_tests_/MFEConfigurableContainer.test.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-factories-spotless, web-react-lint-fix

style: prettier-format handleGraphQLError.test.ts
  datahub-web-react/src/app/shared/__tests__/handleGraphQLError.test.ts
Due: web-react-lint-fix

feat(search): apply per-entity ES mapping limits to existing indices
  docs/deploy/environment-vars.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/EntityMappingLimits.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/ESIndexBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/IndexConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchIndexBuilderFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/search/EntityMappingLimitsResolverTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

fix(kafka-source): commit offsets for unroutable PlatformEvent messages
  datahub-actions/src/datahub_actions/plugin/source/kafka/kafka_event_source.py
  datahub-actions/tests/unit/plugin/source/kafka/test_kafka_source_unroutable.py
Due: datahub-actions-lint-fix

feat(entity-service): stamp emitModeMarker=sync on externally-originated sync writes
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHookTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/EntityServiceConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: li-utils-spotless, metadata-io-spotless, metadata-jobs-mae-consumer-spotless, metadata-service-configuration-spotless

fix(mae-consumer): pass syncIngestStamping default in test constructor delegation
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHook.java
Due: metadata-jobs-mae-consumer-spotless

fix(openapi): handle boolean vs numeric exclusive bounds in allOf merge
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

fix(gms): load rate-limit policy from file and JSON overlay (#19271)
  docs/deploy/environment-vars.md
  docs/deploy/gms-rate-limiting.md
  docs/how/updating-datahub.md
  docs/managed-datahub/release-notes/next.md
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/entitygraph/EntityGraphCacheConfigLoader.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/hazelcast/HazelcastBootstrapProperties.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/ratelimit/RateLimitConfigLoader.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/ratelimit/RateLimitConfigValidator.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/ratelimit/RateLimitEffectiveConfig.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/ratelimit/RateLimitProperties.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/main/resources/rate-limit-config.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/ratelimit/RateLimitConfigLoaderTest.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/ratelimit/RateLimitEffectiveConfigTest.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/ratelimit/RateLimitPropertiesEnvBindingTest.java
  metadata-service/configuration/src/test/resources/rate-limit-loader-bare-fragment.yaml
  metadata-service/configuration/src/test/resources/rate-limit-loader-bare-wrapper.yaml
  metadata-service/configuration/src/test/resources/rate-limit-loader-classpath.yaml
  metadata-service/configuration/src/test/resources/rate-limit-loader-enable-endpoint.yaml
  metadata-service/configuration/src/test/resources/rate-limit-loader-override.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/ratelimit/RateLimitEngineFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/ratelimit/RateLimitConfigOverridePrecedenceTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/ratelimit/RateLimitEngineFactoryTest.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/config/hazelcast/HazelcastInstanceBootstrapConditionTest.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/config/hazelcast/RateLimitEndpointEnabledConditionTest.java
  metadata-service/factories/src/test/resources/rate-limit-precedence-override.yaml
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-war-spotless

fix(ingest): dispatch CLI telemetry off the startup critical path
  metadata-ingestion/src/datahub/telemetry/telemetry.py
  metadata-ingestion/tests/unit/telemetry/test_async_dispatch.py
Due: metadata-ingestion-lint-fix

fix(openapi): keep numeric exclusive bound when merging mixed-type allOf
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

style(openapi): trim redundant draft-version comments in exclusive-bound merge
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
Due: metadata-ingestion-lint-fix

fix(policies): apply validator level aspect edit controls for user and group aspects (#19360)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolverTest.java
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/PrivilegeGrantAuthorizationValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactoryTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  smoke-test/tests/authorization/test_privilege_grant_auth.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-factories-spotless, metadata-utils-spotless, smoke-test-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
