Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

style(ui): fix prettier formatting in CreateGroupModal test
  datahub-web-react/src/app/identity/group/__tests__/CreateGroupModal.test.tsx
Due: web-react-lint-fix

remove 2 minute wait
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/RestoreDbtSiblingsIndicesStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/restoreindices/RestoreDbtSiblingsIndicesStepTest.java
Due: datahub-upgrade-spotless

fix(ingestion): budget full schemaMetadata aspect, not just fields, when trimming
  metadata-ingestion/src/datahub/ingestion/workunit_processors/ensure_aspect_size.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
Due: metadata-ingestion-lint-fix

feat(ingestion): report a counter when the platform schema blob is dropped
  metadata-ingestion/src/datahub/ingestion/workunit_processors/ensure_aspect_size.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
Due: metadata-ingestion-lint-fix

fix(ingestion): drop platform schema before fields, for all platformSchema variants
  metadata-ingestion/src/datahub/ingestion/workunit_processors/ensure_aspect_size.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
Due: metadata-ingestion-lint-fix

fix(ingest/sql-parsing): preserve case-sensitive column lineage via quoted identifiers remove normalization patch
  metadata-ingestion/src/datahub/sql_parsing/_sqlglot_patch.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

test(ingest/sql-parsing): add regression guards for case-sensitive column lineage
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_case_sensitive_column_through_cte.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_case_sensitive_quoted_column_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

fix(ingest/sql-parsing): keep case-insensitive dialect column casing via case_sensitive marker
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_databricks_case_sensitive_column_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

fix(sql-parsing): fix docstrings
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

fix(ingestion): correctly trim oversized schemaMetadata aspects
  metadata-ingestion/src/datahub/ingestion/workunit_processors/ensure_aspect_size.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
Due: metadata-ingestion-lint-fix

feat(openapi): expose schemaVersion and searchGroup in entity registry API (#17902)
  entity-registry/src/main/java/com/linkedin/metadata/models/AspectSpec.java
  entity-registry/src/test/java/com/linkedin/metadata/models/ConfigEntitySpecTest.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v1/models/registry/AspectAnnotationDto.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v1/models/registry/AspectSpecDto.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v1/models/registry/EntityAnnotationDto.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v1/registry/EntityRegistryControllerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v1/registry/RegistryDtoMappingTest.java
Due: entity-registry-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless

Revert "Update security scan trigger"
  .github/scripts/validate_post_workflow_list.py
  .github/workflows/post-workflow-actions.yml
  .github/workflows/security-scan-linear-sync.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(auth): fall back to standard authorize path when caching dispatch yields no result
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/AuthorizationContext.java
Due: metadata-operation-context-spotless

feat(i18n): cover UserListV2 utils and ingest utils
  datahub-web-react/src/app/identity/user/UserListV2.utils.ts
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/i18n/locales/en/ingestion.json
  datahub-web-react/translated-files.txt
Due: web-react-lint-fix

fix(system-upgrade): remove unnecessary sleeps (#17915)
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/RestoreDbtSiblingsIndicesStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/restoreindices/RestoreDbtSiblingsIndicesStepTest.java
Due: datahub-upgrade-spotless

ci(metrics): Update metrics sent to Poshog (#17898)
  .github/scripts/collect_workflow_metrics.py
  .github/workflows/post-workflow-actions.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(ingest/teradata): make lineage fetch batch size configurable
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/tests/unit/test_teradata_source.py
Due: metadata-ingestion-lint-fix

refactor(ingest/teradata): update lineage fetch batch size validation and tests
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/tests/unit/test_teradata_source.py
Due: metadata-ingestion-lint-fix

refactor(ingest/teradata): declared batch_size before for loop
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Due: metadata-ingestion-lint-fix

docs(ingest/teradata): clarify batch size behavior with server-side and client-side cursors
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Due: metadata-ingestion-lint-fix

test(kafka-setup): cover changed-diff branch and classify new flag
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/kafka/CreateKafkaTopicsStepTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
Due: datahub-upgrade-spotless, metadata-io-spotless

fix(ingest): matillion connector _include_unpublished_pipelines false bug
  datahub-frontend/conf/routes
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion.py
Due: metadata-ingestion-lint-fix

Revert accidental changes to conf/routes
  datahub-frontend/conf/routes
Due: none

remove redundant scope-traverse cycle-detection patch
  metadata-ingestion/src/datahub/sql_parsing/_sqlglot_patch.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_patch.py
Due: metadata-ingestion-lint-fix

adding test for include_unpublished_pipelines=false
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_source.py
Due: metadata-ingestion-lint-fix

fix(dev): make datahub-dev Gradle build timeout configurable via --timeout
  scripts/dev/datahub_dev.py
Due: none

fix(ingest): matillion connector _include_unpublished_pipelines false… (#17919)
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion.py
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_source.py
Due: metadata-ingestion-lint-fix

docs(authorization): add VBAC policy design and performance guidance
  docs/authorization/access-policies-guide.md
  docs/authorization/groups.md
  docs/authorization/policies.md
  docs/authorization/roles.md
  docs/domains.md
  docs/features/feature-guides/search-access-controls.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(authorization): add VBAC policy design and performance guidance (#17913)
  docs/authorization/access-policies-guide.md
  docs/authorization/groups.md
  docs/authorization/policies.md
  docs/authorization/roles.md
  docs/domains.md
  docs/features/feature-guides/search-access-controls.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(dev): make datahub-dev Gradle build timeout configurable via --timeout (#17921)
  scripts/dev/datahub_dev.py
Due: none

feat(i18n): extract fallback values in schema change history
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/history/changeEventToString.ts
  datahub-web-react/src/i18n/locales/en/common.labels.json
  datahub-web-react/src/i18n/locales/en/entity.profile.schema.json
Due: web-react-lint-fix

refactor(theme): route brand/accent color through central ColorTheme tokens
  datahub-web-react/eslint-rules/no-hardcoded-colors.js
  datahub-web-react/src/alchemy-components/components/Alert/Alert.tsx
  datahub-web-react/src/alchemy-components/components/Badge/Badge.stories.tsx
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
  datahub-web-react/src/alchemy-components/components/FileDragAndDropArea/FileDragAndDropArea.tsx
  datahub-web-react/src/alchemy-components/components/FileNode/FileIcon.tsx
  datahub-web-react/src/alchemy-components/components/GraphCard/GraphCard.tsx
  datahub-web-react/src/alchemy-components/components/Link/Link.stories.tsx
  datahub-web-react/src/alchemy-components/components/Switch/Switch.tsx
  datahub-web-react/src/app/applications/CreateNewApplicationModal/CreateNewApplicationModal.tsx
  datahub-web-react/src/app/applications/ManageApplications.tsx
  datahub-web-react/src/app/entityV2/document/changeHistory/changeMessages/ChangeMessageComponents.tsx
  datahub-web-react/src/app/entityV2/shared/constants.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/AboutSection/SourceRefSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Dataset/View/SidebarViewDefinitionSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/ExploreLineageAction.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Lineage/SidebarLineageSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/LinkButton.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SectionActionButton.tsx
  datahub-web-react/src/app/govern/structuredProperties/AdvancedOptions.tsx
  datahub-web-react/src/app/govern/structuredProperties/AllowedValuesField.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsForm.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsFormSection.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/identity/ManageUsersAndGroups.components.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/searchV2/filters/SelectedFilter.tsx
  datahub-web-react/src/app/shared/product/update/ProductUpdates.tsx
  datahub-web-react/src/app/sharedV2/icons/customIcons/add-term.svg
  datahub-web-react/src/app/sharedV2/queryBuilder/styledComponents.ts
  datahub-web-react/src/app/tags/CreateNewTagModal/CreateNewTagModal.tsx
  datahub-web-react/src/app/tags/ManageTag.tsx
  datahub-web-react/src/app/tags/TagsTable.tsx
  datahub-web-react/src/app/tags/TagsTableColumns.tsx
Due: web-react-lint-fix

refactor(theme): route brand/accent color through central ColorTheme tokens (#17923)
  datahub-web-react/eslint-rules/no-hardcoded-colors.js
  datahub-web-react/src/alchemy-components/components/Alert/Alert.tsx
  datahub-web-react/src/alchemy-components/components/Badge/Badge.stories.tsx
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
  datahub-web-react/src/alchemy-components/components/FileDragAndDropArea/FileDragAndDropArea.tsx
  datahub-web-react/src/alchemy-components/components/FileNode/FileIcon.tsx
  datahub-web-react/src/alchemy-components/components/GraphCard/GraphCard.tsx
  datahub-web-react/src/alchemy-components/components/Link/Link.stories.tsx
  datahub-web-react/src/alchemy-components/components/Switch/Switch.tsx
  datahub-web-react/src/app/applications/CreateNewApplicationModal/CreateNewApplicationModal.tsx
  datahub-web-react/src/app/applications/ManageApplications.tsx
  datahub-web-react/src/app/entityV2/document/changeHistory/changeMessages/ChangeMessageComponents.tsx
  datahub-web-react/src/app/entityV2/shared/constants.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/AboutSection/SourceRefSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Dataset/View/SidebarViewDefinitionSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/ExploreLineageAction.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Lineage/SidebarLineageSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/LinkButton.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SectionActionButton.tsx
  datahub-web-react/src/app/govern/structuredProperties/AdvancedOptions.tsx
  datahub-web-react/src/app/govern/structuredProperties/AllowedValuesField.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsForm.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsFormSection.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/identity/ManageUsersAndGroups.components.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/searchV2/filters/SelectedFilter.tsx
  datahub-web-react/src/app/shared/product/update/ProductUpdates.tsx
  datahub-web-react/src/app/sharedV2/icons/customIcons/add-term.svg
  datahub-web-react/src/app/sharedV2/queryBuilder/styledComponents.ts
  datahub-web-react/src/app/tags/CreateNewTagModal/CreateNewTagModal.tsx
  datahub-web-react/src/app/tags/ManageTag.tsx
  datahub-web-react/src/app/tags/TagsTable.tsx
  datahub-web-react/src/app/tags/TagsTableColumns.tsx
Due: web-react-lint-fix

feat(i18n): extract untranslated parts from sharedV2
  datahub-web-react/src/app/sharedV2/queryBuilder/builder/property/types/properties.ts
  datahub-web-react/src/app/sharedV2/queryBuilder/properties.ts
  datahub-web-react/src/i18n/locales/en/shared.query-builder.json
Due: web-react-lint-fix

test(playwright/glossary): adopt alchemy SimpleSelect testids in move flow
  e2e-test/ui/playwright/pages/glossary.page.ts
  e2e-test/ui/playwright/tests/glossary/v2-glossary-navigation.spec.ts
Due: none

fix(scripts): skip comment-only non-aspect edits when seeding transitive bump BFS
  .github/scripts/report_aspect_changes.py
  .github/scripts/test/test_report_aspect_changes.py
Due: none

fix(scripts): surface unreconciled bump_needed over coexisting bump_spurious
  .github/scripts/report_aspect_changes.py
  .github/scripts/report_pdl_aspect_changes.md
  .github/scripts/test/test_report_aspect_changes.py
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/salesforce): guard against empty record count during profiling
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/tests/integration/salesforce/mock_files/record_count_empty_response.json
  metadata-ingestion/tests/integration/salesforce/test_salesforce.py
Due: metadata-ingestion-lint-fix
