Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

docs(cli): document browser SSO login for `datahub init`
  docs/cli.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(cli): stop telling every user to download a browser for --sso
  docs/cli.md
  metadata-ingestion/src/datahub/cli/resources/INIT_AGENT_CONTEXT.md
  metadata-ingestion/src/datahub/cli/sso_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/tests/unit/cli/test_sso_cli.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs: note the `datahub init --sso` session reuse in Updating DataHub
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(cli): make the --sso browser prerequisite plain English
  docs/cli.md
  metadata-ingestion/src/datahub/cli/resources/INIT_AGENT_CONTEXT.md
  metadata-ingestion/src/datahub/cli/sso_cli.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(cli): confirm the SSO session with the instance before trusting it
  metadata-ingestion/src/datahub/cli/sso_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/tests/unit/cli/test_sso_cli.py
Due: metadata-ingestion-lint-fix

fix(cli): seed only the browser the user meant, and refuse a half-deep seed
  docs/cli.md
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/resources/INIT_AGENT_CONTEXT.md
  metadata-ingestion/src/datahub/cli/sso_cli.py
  metadata-ingestion/tests/unit/cli/test_sso_cli.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(cli): refuse a --seed-profile written by another browser engine
  docs/cli.md
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/resources/INIT_AGENT_CONTEXT.md
  metadata-ingestion/src/datahub/cli/sso_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/tests/unit/cli/test_sso_cli.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(recipe): share the REST passthrough, instead of each connector rewriting the call
  metadata-ingestion/src/datahub/ingestion/agent/rest_passthrough.py
  metadata-ingestion/src/datahub/ingestion/source/mode_probe.py
  metadata-ingestion/tests/unit/agent/test_rest_passthrough.py
Due: metadata-ingestion-lint-fix

feat(hex): add probe support
  metadata-ingestion/docs/dev_guides/probe_interface.md
  metadata-ingestion/src/datahub/ingestion/source/hex/config.py
  metadata-ingestion/src/datahub/ingestion/source/hex/constants.py
  metadata-ingestion/src/datahub/ingestion/source/hex/hex_probe.py
  metadata-ingestion/tests/unit/agent/test_hex_probe.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

ci(playwright): enable no-wait-for-timeout lint check (#19109)
  e2e-test/ui/playwright/eslint.config.js
  e2e-test/ui/playwright/pages/applications.page.ts
  e2e-test/ui/playwright/pages/assertion-list.page.ts
  e2e-test/ui/playwright/pages/autocomplete.page.ts
  e2e-test/ui/playwright/pages/browse-v2.page.ts
  e2e-test/ui/playwright/pages/description-editor.page.ts
  e2e-test/ui/playwright/pages/domains/domains.page.ts
  e2e-test/ui/playwright/pages/entity-documentation.page.ts
  e2e-test/ui/playwright/pages/entity/document.page.ts
  e2e-test/ui/playwright/pages/incidents.page.ts
  e2e-test/ui/playwright/pages/ingestion/base/tabs/sources-base.tab.ts
  e2e-test/ui/playwright/pages/lineage-base.page.ts
  e2e-test/ui/playwright/pages/lineage-v3.page.ts
  e2e-test/ui/playwright/pages/policies.page.ts
  e2e-test/ui/playwright/pages/search.page.ts
  e2e-test/ui/playwright/pages/settings/base.settings.page.ts
  e2e-test/ui/playwright/pages/siblings.page.ts
  e2e-test/ui/playwright/pages/stats-v2/change-history-chart.page.ts
  e2e-test/ui/playwright/pages/views/view-select.page.ts
  e2e-test/ui/playwright/pages/welcome-modal.page.ts
  e2e-test/ui/playwright/tests/application/application-management.spec.ts
  e2e-test/ui/playwright/tests/application/application-sidebar.spec.ts
  e2e-test/ui/playwright/tests/browse-v2/browse-v2.spec.ts
  e2e-test/ui/playwright/tests/change-history/change-history.spec.ts
  e2e-test/ui/playwright/tests/documents/document-management.spec.ts
  e2e-test/ui/playwright/tests/lineage-v3/v3-lineage-impact-analysis.spec.ts
  e2e-test/ui/playwright/tests/mutations-v2/v2-edit-documentation.spec.ts
  e2e-test/ui/playwright/tests/mutations/dataset-ownership.spec.ts
  e2e-test/ui/playwright/tests/mutations/manage-ingestion-secret-privilege.spec.ts
  e2e-test/ui/playwright/tests/onboarding/welcome-modal.spec.ts
  e2e-test/ui/playwright/tests/search/searchv2.spec.ts
  e2e-test/ui/playwright/tests/stats-v2/v2-change-history.spec.ts
Due: none

fix(lookml): emit empty globalTags instead of None when tag_measures_and_dimensions is False
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/tests/integration/looker/lookml/drop_hive_dot_golden.json
  metadata-ingestion/tests/integration/looker/lookml/duplicate_field_ingestion_golden.json
  metadata-ingestion/tests/integration/looker/lookml/expected_output.json
  metadata-ingestion/tests/integration/looker/lookml/gms_schema_resolution_golden.json
  metadata-ingestion/tests/integration/looker/lookml/lkml_col_lineage_looker_api_based_golden.json
  metadata-ingestion/tests/integration/looker/lookml/refinement_include_order_golden.json
  metadata-ingestion/tests/integration/looker/lookml/refinements_ingestion_golden.json
  metadata-ingestion/tests/integration/looker/lookml/vv_lineage_liquid_template_golden.json
  metadata-ingestion/tests/integration/looker/lookml/vv_lineage_lookml_constant_golden.json
Due: metadata-ingestion-lint-fix

docs: clarify token-optional path in MCP config examples
  docs/features/feature-guides/mcp.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: add port 4319 and refresh the expected-container list
  docs/troubleshooting/quickstart.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: quickstart publishes gms 4319 to the host, not just exposes it
  docs/advanced/monitoring.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: apply prettier formatting to the container table
  docs/troubleshooting/quickstart.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: note the trailing comma when dropping DATAHUB_GMS_TOKEN
  docs/features/feature-guides/mcp.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: show how to verify system-update exit code; label legacy sample
  docs/troubleshooting/quickstart.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: name the two quickstart containers that expose 4319
  docs/advanced/monitoring.md
Due: datahub-web-react-mdPrettierWriteChanged

fix: allow config probes to use separate retry limits
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/config.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

resolving comments
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/tests/unit/fivetran/test_fivetran_lineage_fanout.py
Due: metadata-ingestion-lint-fix

fix: address cubic review on config probe retries
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

fix(ingest/dbt): warn when column lineage is dropped due to missing compiled code
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Due: metadata-ingestion-lint-fix

fix: satisfy mypy on config probe retry unit test
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

docs: revert incidental reformatting in monitoring.md
  docs/advanced/monitoring.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: revert incidental reformatting in mcp.md
  docs/features/feature-guides/mcp.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ingest/sqlmesh): put audit assertion semantics on CustomAssertionInfo
  metadata-ingestion/docs/sources/sqlmesh/sqlmesh_pre.md
  metadata-ingestion/src/datahub/ingestion/source/sqlmesh/assertions.py
  metadata-ingestion/src/datahub/ingestion/source/sqlmesh/constants.py
  metadata-ingestion/tests/integration/sqlmesh/sqlmesh_mces_golden.json
  metadata-ingestion/tests/integration/sqlmesh/sqlmesh_mces_happy_path_golden.json
  metadata-ingestion/tests/unit/sqlmesh/test_sqlmesh_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(hex): delegate to api.py's fetchers instead of leaving them raw-only
  metadata-ingestion/src/datahub/ingestion/source/hex/hex_probe.py
  metadata-ingestion/tests/unit/agent/test_hex_probe.py
Due: metadata-ingestion-lint-fix

remove redundant pattern and fix custom theme loads
  datahub-web-react/.eslintrc.js
  datahub-web-react/src/app/useSetAppTheme.tsx
Due: web-react-lint-fix

fix(ingest/kafka-connect): satisfy mypy on Optional catalog lineages
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
Due: metadata-ingestion-lint-fix

feat(hex): add a project detail command, reporting what the recipe would emit
  metadata-ingestion/src/datahub/ingestion/source/hex/hex_probe.py
  metadata-ingestion/tests/unit/agent/test_hex_probe.py
Due: metadata-ingestion-lint-fix

refactor(recipe): share the catalog-query command across the non-SQLAlchemy warehouses
  metadata-ingestion/docs/dev_guides/probe_interface.md
  metadata-ingestion/src/datahub/ingestion/agent/sql_passthrough.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_probe.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sqlalchemy_probe.py
  metadata-ingestion/tests/unit/agent/test_probe_contract.py
  metadata-ingestion/tests/unit/agent/test_sql_passthrough.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix: update config snapshot and cover cubic review cases
  metadata-ingestion/tests/unit/cli/test_config_utils.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

style: fix ruff I001 import order with datahub as first-party
  metadata-ingestion/tests/unit/cli/test_config_utils.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

fix: use MagicMock for session auth in config probe test
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

fix: always clear get_default_graph cache in retry test
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Due: metadata-ingestion-lint-fix

fix(recipe): let each dialect declare its own catalog, instead of the gate guessing
  metadata-ingestion/docs/dev_guides/probe_interface.md
  metadata-ingestion/src/datahub/ingestion/agent/probe_methods.py
  metadata-ingestion/src/datahub/ingestion/agent/sql_gate.py
  metadata-ingestion/src/datahub/ingestion/agent/sql_passthrough.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/db2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sqlalchemy_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/tests/unit/agent/test_catalog_scopes.py
  metadata-ingestion/tests/unit/agent/test_probe_contract.py
  metadata-ingestion/tests/unit/agent/test_sql_gate.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(recipe): report the string a schema verdict was actually matched against
  metadata-ingestion/src/datahub/ingestion/agent/filter_check.py
  metadata-ingestion/src/datahub/ingestion/agent/verdicts.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/tests/unit/agent/test_catalog_scopes.py
Due: metadata-ingestion-lint-fix

refactor(recipe): delete what the probe hierarchy left behind
  metadata-ingestion/src/datahub/ingestion/agent/models.py
  metadata-ingestion/src/datahub/ingestion/agent/probe_methods.py
  metadata-ingestion/src/datahub/ingestion/agent/sql_passthrough.py
  metadata-ingestion/src/datahub/ingestion/agent/sql_query.py
  metadata-ingestion/src/datahub/ingestion/agent/verdicts.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_probe.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/tests/unit/agent/test_models.py
  metadata-ingestion/tests/unit/agent/test_scoped_probe_methods.py
Due: metadata-ingestion-lint-fix

refactor(recipe): make the provider Protocol the thing that enforces the contract
  metadata-ingestion/src/datahub/ingestion/agent/probe_methods.py
  metadata-ingestion/tests/unit/agent/test_probe_contract.py
Due: metadata-ingestion-lint-fix

fix(recipe): only ask for a parent where one would change the answer
  metadata-ingestion/src/datahub/ingestion/agent/filter_check.py
  metadata-ingestion/tests/unit/agent/test_filter_check.py
Due: metadata-ingestion-lint-fix
