Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:mdPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: ./gradlew :datahub-actions:lintFix
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

Updated goldens for test_reachable_views, MCEs converted to MCPs, browse paths removed and dataplatforms added
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
Due: none

Updated goldens for test_lookml_ingest_api_hive, MCEs converted to MCPs, browse paths removed and dataplatforms added
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
Due: none

Updated goldens for test_lookml_ingest_offline_platform_instance, MCEs converted to MCPs, browse paths removed and dataplatforms added
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
Due: none

Updated goldens for test_gms_schema_resolution, MCEs converted to MCPs, browse paths removed and dataplatforms added
  metadata-ingestion/tests/integration/lookml/gms_schema_resolution_golden.json
Due: none

Updated goldens for test_lookml_git_info, MCEs converted to MCPs, browse paths removed and dataplatforms added
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
Due: none

Updated goldens for test_lookml_ingest, MCEs converted to MCPs, browse paths removed and dataplatforms added
  metadata-ingestion/tests/integration/lookml/expected_output.json
Due: none

Updated goldens for test_lookml_refinement_include_order, MCEs converted to MCPs, browse paths removed and dataplatforms added
  metadata-ingestion/tests/integration/lookml/refinement_include_order_golden.json
Due: none

Lint fix: Change syntax to older py version
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Updated goldens for test_view_to_view_lineage_and_lookml_constant, MCEs converted to MCPs, browse paths removed and dataplatforms added
  metadata-ingestion/tests/integration/lookml/vv_lineage_lookml_constant_golden.json
Due: none

Updated as per TOT SDK changes and review comments
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

further improvements in docs
  docs/quick-ingestion-guides/redshift/setup.md
  metadata-ingestion/docs/sources/redshift/redshift_post.md
  metadata-ingestion/docs/sources/redshift/redshift_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(access-request): enable groups to be granted to role and grey button when granted (#14622)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataset/IsAssignedToMeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/rolemetadata/mappers/RoleMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/TestUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/IsAssignedToMeResolverTest.java
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/AccessButtonHelpers.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/__tests__/AccessButtonHelpers.test.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/__tests__/AccessManagement.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/AccessButtonHelpers.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/__tests__/AccessButtonHelpers.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/__tests__/AccessManagement.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/utils.tsx
  datahub-web-react/src/utils/test-utils/createAccessButtonHelpersTestSuite.tsx
  metadata-models/src/main/pegasus/com/linkedin/role/Actors.pdl
  metadata-models/src/main/pegasus/com/linkedin/role/RoleGroup.pdl
Due: datahub-graphql-core-spotless

Add a debug endpoint to allow dumping apscheduler jobs
  datahub-executor/src/datahub_executor/coordinator/scheduler.py
  datahub-executor/src/datahub_executor/coordinator/scheduler_endpoints.py
  datahub-executor/src/datahub_executor/coordinator/scheduler_handlers.py
  datahub-executor/tests/coordinator/test_scheduler.py
Due: none

fix(trivy): fix pattern (#14743)
  trivy.yaml
Due: none

fix(kafka-setup): remove default to enable topicDefaults to be used (#6636)
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/TopicsConfiguration.java
Due: metadata-service-configuration-spotless

chore(bump): bump msk-iam-auth (#14744)
  build.gradle
Due: none

release notes update for kafka-setup removal
  docs/managed-datahub/release-notes/v_0_3_14.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(identity): add link to documentation (#6638)
  datahub-web-react/src/app/identity/user/RecommendedUsersTable.tsx
Due: none

Update platform-instances.md
  docs/platform-instances.md
Due: datahub-web-react-mdPrettierWriteChanged

fix broken quicktests
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiler.py
Due: metadata-ingestion-lint-fix

fix(query_combiner): support iterating over _RowProxyFake
  metadata-ingestion/src/datahub/utilities/sqlalchemy_query_combiner.py
Due: metadata-ingestion-lint-fix

fix(query_combiner): assign anonymous column labels correctly with multiple columns
  metadata-ingestion/src/datahub/utilities/sqlalchemy_query_combiner.py
Due: metadata-ingestion-lint-fix

refactor(query_combiner): automatically categorize queries as safe to combine
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/utilities/sqlalchemy_query_combiner.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(profiler): don't do an extraneous table scan in _get_dataset_column_sample_values
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(profiler): allow non-null and unique count queries to be combined
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor(profiler): combine _get_column_median_patch into _get_dataset_column_median
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor(profiler): generate cleaner queries for get_column_nonnull_count
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(query_combiner): combine queries by merging selects instead of cross joining
  metadata-ingestion/src/datahub/utilities/sqlalchemy_query_combiner.py
Due: metadata-ingestion-lint-fix

fix(query_combiner): assign column labels correctly with TextClause columns
  metadata-ingestion/src/datahub/utilities/sqlalchemy_query_combiner.py
Due: metadata-ingestion-lint-fix

fix(profiler): correctly quote Athena table and column names in median and quantiles query
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(profiler): combine column aggregate stat queries with stage 2, not stage 3
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix, update-capability-summary

docs(platform-instance): documentation refresh (#14739)
  docs/platform-instances.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(profiler): merge get_column_unique_count_dh_patch into _get_column_unique_count
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Due: metadata-ingestion-lint-fix, update-capability-summary

bug(identity): Fix the order by field when fetching recommended users (#6647)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/user/GetUserRecommendationsResolver.java
  datahub-web-react/src/app/identity/user/UserAndGroupList.hooks.tsx
Due: datahub-graphql-core-spotless

fix(summaryTab): fix infinite loading of root domain nodes (#6593)
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/__tests__/useSelectableDomainTree.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/useSelectableDomainTree.ts
Due: none

fix(summary-tab): show correct feedback when trying to add duplicate link (#6634)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LinkUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/link/AddLinkResolverTest.java
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/ExternalUrlMenuAction.tsx
  datahub-web-react/src/app/entityV2/shared/entity/EntityActions.tsx
  datahub-web-react/src/app/entityV2/shared/externalUrl/ExternalLink.tsx
  datahub-web-react/src/app/entityV2/shared/externalUrl/ViewInPlatform.tsx
  datahub-web-react/src/app/entityV2/summary/links/LinksList.tsx
  datahub-web-react/src/app/homeV3/module/components/ModuleMenu.tsx
  datahub-web-react/src/app/sharedV2/modals/ConfirmationModal.tsx
Due: datahub-graphql-core-spotless

fix(scroll/relationships): Properly set PIT in new scroll id (#6628)
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
Due: metadata-io-spotless

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$
