Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(preset): apply database_alias to SQL-parsed lineage URNs
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Due: metadata-ingestion-lint-fix

feat(graphql): add domain management mutations and update mappers for domains associations
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/AddDomainsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/RemoveDomainsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddDomainsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchRemoveDomainsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DomainUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/application/mappers/ApplicationMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/mappers/ContainerMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/mappers/DataFlowMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/mappers/DataJobMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/mappers/DataProductMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/VersionedDatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/domain/DomainsAssociationsMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTableMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLPrimaryKeyMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/notebook/mappers/NotebookMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
Due: datahub-graphql-core-spotless

test(preset): add dashboard detail API mocks for integration tests
  metadata-ingestion/tests/integration/preset/golden_test_ingest.json
  metadata-ingestion/tests/integration/preset/test_preset.py
Due: metadata-ingestion-lint-fix

add images
  docs/dev-guides/agent-context/snowflake.md
Due: datahub-web-react-mdPrettierWriteChanged

improved debugging
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_lineage.py
Due: metadata-ingestion-lint-fix

feat(graphql): enhance domain management with utility methods and tests
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DomainUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/AddDomainsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/RemoveDomainsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddDomainsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchRemoveDomainsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/domain/DomainsAssociationsMapperTest.java
Due: datahub-graphql-core-spotless

fix(agent-context): fix _is_datahub_cloud check for OSS
  datahub-agent-context/src/datahub_agent_context/mcp_tools/base.py
  datahub-agent-context/tests/unit/mcp_tools/test_base.py
Due: none

fix(agent-context): fix _is_datahub_cloud check for OSS (#16053)
  datahub-agent-context/src/datahub_agent_context/mcp_tools/base.py
  datahub-agent-context/tests/unit/mcp_tools/test_base.py
Due: none

feat(graphql): enhance mappers with logging for URN parsing failures
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/application/mappers/ApplicationMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/mappers/DataFlowMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/mappers/DataProductMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/VersionedDatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTableMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLPrimaryKeyMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/notebook/mappers/NotebookMapper.java
Due: datahub-graphql-core-spotless

chore(preset): add diagnostic logging for database_alias
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Due: metadata-ingestion-lint-fix

revert: remove diagnostic logging for database_alias
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Due: metadata-ingestion-lint-fix

improve domain based authorization test coverage
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataset/DatasetTypeTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DomainAuthorizationHelperAdditionalTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/GenericEntitiesControllerScrollAndQueryTest.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/entity/AspectResourceTest.java
  metadata-service/restli-servlet-impl/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: datahub-graphql-core-spotless, metadata-service-auth-impl-spotless, metadata-service-openapi-servlet-spotless, metadata-service-restli-servlet-impl-spotless

refactor(cli): improve init command structure and documentation
  docs/cli.md
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/configuration/env_vars.py
  metadata-ingestion/src/datahub/entrypoints.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

chore(mcp): using relative paths so we can copy the tools as is (#8089)
  datahub-integrations-service/pyproject.toml
  datahub-integrations-service/src/datahub_integrations/mcp/document_tools_middleware.py
  datahub-integrations-service/src/datahub_integrations/mcp/mcp_server.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/__init__.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/descriptions.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/documents.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/domains.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/get_me.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/owners.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/save_document.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/structured_properties.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/tags.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/terms.py
Due: datahub-integrations-service-lint-fix

fix(cli): use centralized env var getters in init command
  metadata-ingestion/src/datahub/entrypoints.py
Due: metadata-ingestion-lint-fix

Update announcement bar content for January Town Hall
  docs-website/docusaurus.config.js
Due: none

feat(cli): make init command agent-friendly for automation and long-running workflows (#16038)
  docs/cli.md
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/configuration/env_vars.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/tests/unit/cli/test_init_cli.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix
  metadata-ingestion/src/datahub/ai/snowflake/README.md
  metadata-ingestion/src/datahub/ai/snowflake/generate_udfs.py
  metadata-ingestion/src/datahub/ai/snowflake/generators/configuration.py
  metadata-ingestion/src/datahub/ai/snowflake/generators/cortex_agent.py
  metadata-ingestion/src/datahub/ai/snowflake/snowflake.py
  metadata-ingestion/src/datahub/cli/agent_cli.py
  metadata-ingestion/tests/unit/ai/snowflake/test_generate_udfs.py
  metadata-ingestion/tests/unit/ai/snowflake/test_snowflake.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix
  metadata-ingestion/src/datahub/ai/snowflake/README.md
  metadata-ingestion/tests/unit/ai/snowflake/test_snowflake.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(snowflake agent): add generators for snowflake sql agent
  metadata-ingestion/src/datahub/ai/__init__.py
  metadata-ingestion/src/datahub/ai/snowflake/README.md
  metadata-ingestion/src/datahub/ai/snowflake/__init__.py
  metadata-ingestion/src/datahub/ai/snowflake/generate_udfs.py
  metadata-ingestion/src/datahub/ai/snowflake/snowflake.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/__init__.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/add_glossary_terms.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/add_owners.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/add_structured_properties.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/add_tags.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/base.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/get_dataset_queries.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/get_entities.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/get_lineage.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/get_lineage_paths_between.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/get_me.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/grep_documents.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/list_schema_fields.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/remove_domains.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/remove_glossary_terms.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/remove_owners.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/remove_structured_properties.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/remove_tags.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/search_datahub.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/search_documents.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/set_domains.py
  metadata-ingestion/src/datahub/ai/snowflake/udfs/update_description.py
  metadata-ingestion/src/datahub/cli/agent_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/tests/integration/feast/feature_store/data/registry.db
  metadata-ingestion/tests/unit/ai/__init__.py
  metadata-ingestion/tests/unit/ai/snowflake/__init__.py
  metadata-ingestion/tests/unit/ai/snowflake/test_generate_udfs.py
  metadata-ingestion/tests/unit/ai/snowflake/test_snowflake.py
  metadata-ingestion/tests/unit/ai/snowflake/test_udf_base.py
  metadata-ingestion/tests/unit/ai/snowflake/test_udf_generators.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor
  metadata-ingestion/src/datahub/ai/snowflake/generators/__init__.py
  metadata-ingestion/src/datahub/ai/snowflake/generators/configuration.py
  metadata-ingestion/src/datahub/ai/snowflake/generators/cortex_agent.py
  metadata-ingestion/src/datahub/ai/snowflake/generators/network_rules.py
  metadata-ingestion/src/datahub/ai/snowflake/generators/stored_procedure.py
  metadata-ingestion/src/datahub/ai/snowflake/snowflake.py
  metadata-ingestion/tests/unit/ai/snowflake/test_snowflake.py
Due: metadata-ingestion-lint-fix

fix missing db
  metadata-ingestion/src/datahub/ai/snowflake/snowflake.py
  metadata-ingestion/tests/unit/ai/snowflake/test_snowflake.py
Due: metadata-ingestion-lint-fix

feat(llm non streaming): add a flag to support non streaming mode for… (#8111)
  datahub-integrations-service/src/datahub_integrations/gen_ai/llm/base.py
  datahub-integrations-service/tests/gen_ai/llm/test_llm_wrappers.py
  datahub-integrations-service/tests/gen_ai/llm/test_transformations.py
Due: datahub-integrations-service-lint-fix

fix
  metadata-ingestion/tests/integration/feast/feature_store/data/registry.db
  metadata-ingestion/tests/unit/ai/__init__.py
  metadata-ingestion/tests/unit/ai/snowflake/__init__.py
  metadata-ingestion/tests/unit/ai/snowflake/test_generate_udfs.py
  metadata-ingestion/tests/unit/ai/snowflake/test_snowflake.py
  metadata-ingestion/tests/unit/ai/snowflake/test_udf_base.py
  metadata-ingestion/tests/unit/ai/snowflake/test_udf_generators.py
Due: metadata-ingestion-lint-fix

fix(notion): handle synced blocks
  metadata-ingestion/src/datahub/ingestion/source/notion/notion_report.py
  metadata-ingestion/src/datahub/ingestion/source/notion/notion_source.py
  metadata-ingestion/tests/integration/notion/README.md
  metadata-ingestion/tests/integration/notion/__init__.py
  metadata-ingestion/tests/integration/notion/conftest.py
  metadata-ingestion/tests/integration/notion/setup_test_env.sh
  metadata-ingestion/tests/integration/notion/test_notion_integration.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(capability-summary): update generated_at timestamp to latest value
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
Due: none

fix lint issue
  metadata-ingestion/src/datahub/ingestion/source/notion/notion_source.py
Due: metadata-ingestion-lint-fix

feat(dbt): Extract and emit stats from catalog.json
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

fix(ingest): confluence connector should emit browse paths
  metadata-ingestion/src/datahub/ingestion/source/confluence/confluence_hierarchy.py
  metadata-ingestion/src/datahub/ingestion/source/confluence/confluence_source.py
  metadata-ingestion/tests/unit/ingestion/source/confluence/test_confluence_hierarchy.py
  metadata-ingestion/tests/unit/ingestion/source/confluence/test_confluence_source.py
Due: metadata-ingestion-lint-fix

feat(dynamodb): Add support for ingesting AWS resource tags from DynamoDB tables (#15940)
  metadata-ingestion/docs/sources/dynamodb/dynamodb_pre.md
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/tests/integration/dynamodb/dynamodb_with_tags_mces_golden.json
  metadata-ingestion/tests/integration/dynamodb/test_dynamodb.py
  metadata-ingestion/tests/unit/dynamodb/__init__.py
  metadata-ingestion/tests/unit/dynamodb/test_dynamodb.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test: Update golden file for dbt stats feature
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

Start upstream merge process with stacked strategy
  docs/how/merge-log.md
Due: datahub-web-react-mdPrettierWriteChanged

fix: resolve build issues after conflict resolution
  datahub-web-react/src/app/identity/ManageUsersAndGroups.components.tsx
  datahub-web-react/src/app/identity/ManageUsersAndGroups.tsx
  metadata-service/services/src/main/java/com/linkedin/metadata/service/ServiceAccountService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/ServiceAccountServiceTest.java
Due: metadata-service-services-spotless, web-react-lint-fix

chore: commit auto-generated files from build validation
  marge_checkpoints/marge-session-a93127ac.json
Due: none

chore: commit auto-generated files from build validation
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
Due: none

feat(databricks): add include_ml_models flag to skip ML model ingestion when disabled
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/test_unity_catalog_config.py
Due: metadata-ingestion-lint-fix

chore: commit auto-generated files from build validation
  marge_checkpoints/marge-session-a93127ac.json
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
Due: none

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
