Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

experiment(smoke-test): lower ES refresh wait default to match CI's 1s GMS flush interval
  smoke-test/tests/utilities/env_vars.py
Due: smoke-test-lint-fix

perf(smoke-test): skip redundant auto-waits in batch-4's slowest tests
  smoke-test/tests/glossary/glossary_children_count_test.py
  smoke-test/tests/knowledge/document_search_filter_test.py
  smoke-test/tests/openapi/v2/test_timeseries_scroll.py
  smoke-test/tests/utils.py
Due: smoke-test-lint-fix

perf(smoke-test): raise Kafka listener concurrency to 3 for CI
  docker/profiles/docker-compose.gms.yml
  smoke-test/run-quickstart.sh
Due: none

revert(smoke-test): keep entity_graph_cache/helpers.py on broad wait
  smoke-test/tests/entity_graph_cache/helpers.py
Due: smoke-test-lint-fix

perf(smoke-test): default wait_for_writes_to_sync to offset-checkpoint wait
  smoke-test/tests/consistency_utils.py
Due: smoke-test-lint-fix

diag(ci): log Kafka topic partition counts to verify partitioning
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

refactor(profiler): decouple isolation-level validation from DB-reachability
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/test_sql_common.py
Due: metadata-ingestion-lint-fix

fix(ingest): filter no-op delimiter nodes in Block statement handling (#18414)
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_create_view_block_semicolon_with_comment.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_create_view_copy_grants_with_casts.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
Due: metadata-ingestion-lint-fix

feat(profiler): MySQL profiling guardrails — opt-in limits, low max_workers, expensive-tables warning
  .superpowers/specs/2026-07-28-mysql-profiling-explainer.md
  .superpowers/specs/2026-07-28-mysql-profiling-performance-design.md
  .superpowers/specs/pr1-empirical-check.md
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mariadb.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/tidb.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/test_mysql_profiling.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(profiler): apply PR 2 review — failed-table timing, broad candidate catch, MariaDB comment, index_length, supported sources
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mariadb.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/tidb.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/test_mysql_profiling.py
Due: metadata-ingestion-lint-fix

fix(profiler): apply PR 2 review — info level, context grouping, narrowed validation, per-table remedy
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/tidb.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/test_mysql_profiling.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

chore(deps): Dependencies bump
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

test(masking): fix mypy errors in new masking tests
  metadata-ingestion/tests/unit/test_masking_filter.py
Due: metadata-ingestion-lint-fix

fix(masking): tri-state admit, count expanded keys for capacity
  metadata-ingestion/src/datahub/masking/secret_registry.py
  metadata-ingestion/tests/unit/test_secret_registry.py
Due: metadata-ingestion-lint-fix

perf(masking): use dict keys view in admit; reconcile warn-once doc
  metadata-ingestion/src/datahub/masking/secret_registry.py
Due: metadata-ingestion-lint-fix

perf(smoke-test): extend auto-wait batching to remaining test suite
  smoke-test/tests/browse/browse_test.py
  smoke-test/tests/cli/datahub_cli.py
  smoke-test/tests/containers/containers_test.py
  smoke-test/tests/domains/domains_test.py
  smoke-test/tests/forms/forms_test.py
  smoke-test/tests/institutional_memory/institutional_memory_test.py
  smoke-test/tests/knowledge/document_change_history_test.py
  smoke-test/tests/knowledge/document_helpers.py
  smoke-test/tests/knowledge/test_document_crud.py
  smoke-test/tests/knowledge/test_document_hierarchy_settings.py
  smoke-test/tests/knowledge/test_document_search_history.py
  smoke-test/tests/managed_ingestion/managed_ingestion_test.py
  smoke-test/tests/metrics/usage_aggregation_metrics.py
  smoke-test/tests/utilities/metadata_operations.py
  smoke-test/tests/views/views_test.py
Due: smoke-test-lint-fix

feat(ai-orchestrator): add OpenAI provider support
  ai-orchestrator/agent.py
  ai-orchestrator/llm_clients.py
  ai-orchestrator/local_tools.py
  ai-orchestrator/main.py
  ai-orchestrator/pii_classifier.py
  ai-orchestrator/pii_tagger.py
  ai-orchestrator/requirements.txt
Due: none

perf(applications): batch writes and reads in application batch mutations
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/application/ApplicationAuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/application/BatchSetApplicationResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/application/ApplicationAuthorizationUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/application/BatchSetApplicationResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/application/BatchUnsetApplicationResolverTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/ApplicationService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/ApplicationServiceTest.java
Due: datahub-graphql-core-spotless, metadata-service-services-spotless

fix(masking): address 8 review findings on PR #17692
  metadata-ingestion/src/datahub/masking/bootstrap.py
  metadata-ingestion/src/datahub/masking/masking_filter.py
  metadata-ingestion/src/datahub/masking/secret_registry.py
  metadata-ingestion/tests/unit/test_bootstrap.py
  metadata-ingestion/tests/unit/test_masking_filter.py
  metadata-ingestion/tests/unit/test_secret_registry.py
Due: metadata-ingestion-lint-fix

Fix netrc and add validator
  docker/snippets/uv/.netrc.example
  docker/snippets/uv/validate_netrc.py
  docs/developers.md
  gradle/docker/python-docker.gradle
  gradle/python/netrc.gradle
  gradle/python/python-uv.gradle
Due: datahub-web-react-mdPrettierWriteChanged

fix(masking): address 3 review fixes on PR #17692
  metadata-ingestion/src/datahub/masking/masking_filter.py
  metadata-ingestion/src/datahub/masking/secret_registry.py
  metadata-ingestion/tests/unit/test_masking_filter.py
  metadata-ingestion/tests/unit/test_secret_registry.py
Due: metadata-ingestion-lint-fix

feat(upgrade): backfill dataset aliases lowercasedUrn on system update
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NonBlockingConfigs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/aliases/BackfillDatasetAliases.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/aliases/BackfillDatasetAliasesStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/aliases/BackfillDatasetAliasesStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/aliases/BackfillDatasetAliasesTest.java
  docs/how/updating-datahub.md
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-utils/src/main/java/com/linkedin/metadata/utils/AliasesUtils.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-upgrade-spotless, metadata-io-spotless, metadata-utils-spotless

fix(netrc): address validator review feedback
  docker/snippets/uv/validate_netrc.py
  gradle/python/netrc.gradle
Due: none

fix(netrc): expand ~ and resolve paths from repo root
  gradle/python/netrc.gradle
Due: none

refactor(kafka-connect): clarify catalog lineage selection and tighten drop-path test
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/tests/unit/kafka_connect/test_kafka_connect_confluent_catalog.py
Due: metadata-ingestion-lint-fix

docs(ingest/confluent): restore durable Stream Catalog API quirk comments
  metadata-ingestion/src/datahub/ingestion/source/confluent/client.py
  metadata-ingestion/src/datahub/ingestion/source/confluent/constants.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/confluent_catalog.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/confluent_catalog_constants.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/confluent_catalog_constants.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
Due: metadata-ingestion-lint-fix

feat(search): add getActiveIncidentStats batched aggregation primitive (#18585)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/health/EntityHealthResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/health/HealthComputationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityHealthBatchLoader.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/health/EntityHealthResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/EntityHealthBatchLoaderTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAOIncidentStatsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/IncidentStats.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/search/EntitySearchServiceTest.java
  smoke-test/tests/incidents/health_batch_data.json
  smoke-test/tests/incidents/health_batch_test.py
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-services-spotless, smoke-test-lint-fix

fix(masking): structural handler coverage + install/teardown locking
  metadata-ingestion/src/datahub/masking/masking_filter.py
  metadata-ingestion/tests/unit/test_masking_filter.py
Due: metadata-ingestion-lint-fix

fix(ingestion/sqlmesh): address PR review on assertions and siblings
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  metadata-ingestion/docs/sources/integrations_catalog.json
  metadata-ingestion/docs/sources/sqlmesh/sqlmesh_post.md
  metadata-ingestion/docs/sources/sqlmesh/sqlmesh_pre.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sqlmesh/sqlmesh_config.py
  metadata-ingestion/src/datahub/ingestion/source/sqlmesh/sqlmesh_source.py
  metadata-ingestion/tests/unit/sqlmesh/test_sqlmesh_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

fix(ingest/stateful): refresh createdOn on checkpoint soft-delete to prevent GC hard-deletion (#18937)
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/unit/stateful_ingestion/provider/test_provider.py
Due: metadata-ingestion-lint-fix

fix(upgrade): scan datasets hidden from search in the aliases backfill
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/aliases/BackfillDatasetAliasesStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/aliases/BackfillDatasetAliasesStepTest.java
Due: datahub-upgrade-spotless

Update .betterleaks.toml
  .betterleaks.toml
Due: none

fix(graphql): wire Application exists resolver and stop conflating it with status
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/application/mappers/ApplicationMapper.java
Due: datahub-graphql-core-spotless

feat(ingestion/powerbi): add certificate-based service principal authentication
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/powerbi.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/powerbi.ts
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/docs/sources/powerbi/powerbi_recipe.yml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/auth.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/unit/powerbi/test_auth.py
  metadata-ingestion/tests/unit/powerbi/test_config.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

adding sort functionality to the domains sidebar
  datahub-web-react/src/app/domainV2/__tests__/getDomainsScrollInput.test.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/ManageDomainsSidebar.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/domainNavigator/DomainNavigator.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/domainNavigator/DomainNode.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/domainSidebarFilters/DomainSidebarFiltersContext.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/domainSidebarFilters/__tests__/DomainSidebarFiltersContext.test.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/domainSidebarFilters/__tests__/domainSidebarSort.test.ts
  datahub-web-react/src/app/domainV2/nestedDomains/domainSidebarFilters/domainSidebarSort.ts
  datahub-web-react/src/app/domainV2/useScrollDomains.ts
  datahub-web-react/src/i18n/locales/en/misc.json
Due: web-react-lint-fix

fix(upgrade): honor allowDocCountMismatch in pollReindexCompletion to prevent infinite loop
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/ESIndexBuilderTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/BuildIndicesConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: metadata-io-spotless, metadata-service-configuration-spotless

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
