Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-dagster-plugin-lint-fix:
  name: metadata-ingestion-modules/dagster-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:dagster-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-gx-plugin-lint-fix:
  name: metadata-ingestion-modules/gx-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:gx-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-prefect-plugin-lint-fix:
  name: metadata-ingestion-modules/prefect-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:prefect-plugin:lintFix
  language: system
  pass_filenames: false

fix(list action request): getAllActionRequests other filters fix (#5797)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/actionrequest/ListActionRequestsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/actionrequest/ListActionRequestsResolverTest.java
Due: datahub-graphql-core-spotless

fix(ingest/hive): Fix hive storage path formats (#13536)
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/tests/integration/hive/test_storage_parser.py
Due: metadata-ingestion-lint-fix

fix(hook): ownership hook fix
  entity-registry/src/main/java/com/linkedin/metadata/aspect/hooks/OwnershipOwnerTypes.java
Due: entity-registry-spotless

Revert "fix(hook): ownership hook fix"
  entity-registry/src/main/java/com/linkedin/metadata/aspect/hooks/OwnershipOwnerTypes.java
Due: entity-registry-spotless

fix(hook): collect stream to ensure side effects
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/AspectsBatch.java
Due: entity-registry-spotless

docs(format): fix list
  docs/managed-datahub/release-notes/v_0_3_11.md
Due: none

Update v_0_3_11.md
  docs/managed-datahub/release-notes/v_0_3_11.md
Due: none

fix(smoke-test): use full quickstart image instead of slim for spark tests (#13543)
  metadata-integration/java/spark-lineage-legacy/build.gradle
Due: none

docs: fix inline code format (#13549)
  docs/dataproducts.md
  docs/managed-datahub/observe/data-contract.md
Due: none

feat(sdk/python): assertion actions (#5795)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/entities/assertion.py
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/assertion_golden/test_assertion_basic_with_on_failure_actions.json
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/assertion_golden/test_assertion_basic_with_on_success_actions.json
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/assertion_golden/test_assertion_complex_dataset_assertion_golden.json
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/assertion_golden/test_assertion_complex_freshness_assertion_golden.json
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/assertion_golden/test_assertion_complex_sql_assertion_golden.json
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/assertion_golden/test_assertion_complex_volume_assertion_golden.json
  metadata-ingestion-modules/acryl-cloud/tests/unit/entities/test_assertion.py
Due: none

fix(web) fallback to search to get count
  datahub-web-react/src/app/ingest/source/IngestedAssets.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
Due: none

Update tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Due: metadata-ingestion-lint-fix

feat(ingest/dbt): fallback to schema from graph
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Due: metadata-ingestion-lint-fix

fix review comments
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Due: metadata-ingestion-lint-fix

batching show views calls
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
Due: metadata-ingestion-lint-fix

remove unneeded code
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
Due: metadata-ingestion-lint-fix

feat(sdk): create user facing SmartFreshnessAssertion class (#5765)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/test_assertions.py
  metadata-ingestion-modules/acryl-cloud/tests/test_upsert_smart_freshness_assertion.py
Due: none

tests pass
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexBuilderTestBase.java
Due: metadata-io-spotless

ci(docs): Fix md prettier lint by ignoring inline blocks
  docs/dataproducts.md
  docs/managed-datahub/observe/data-contract.md
Due: none

feat(lineage): Add feature flag to hide expand more action
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/lineageV2/LineageEntityNode/ExpandLineageButton.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless

feat: Add Claude PR Assistant workflow (#5803)
  .github/workflows/claude.yml
Due: none

fix(web): Handle one-sided assertion conditions (#5802)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/shared/result/AssertionResultPopoverContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/shared/resultMessageUtils.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/shared/resultMessageUtils.ts
Due: none

fixes
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
Due: metadata-ingestion-lint-fix

Addressing comments
  datahub-web-react/src/app/homeV2/content/tabs/discovery/DiscoveryTab.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/onboarding/OnboardingCards.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/platform/Platforms.tsx
  datahub-web-react/src/app/ingest/ManageIngestionPage.tsx
Due: none

feat(lineage): Add feature flag to hide expand more action (#13557)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/lineageV2/LineageEntityNode/ExpandLineageButton.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless

Few more small improvements
  docs/how/updating-datahub.md
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: metadata-utils-spotless

Adding er model docs
  docs/how/updating-datahub.md
Due: none

Adding final touches
  datahub-web-react/.env
  datahub-web-react/src/app/homeV2/content/tabs/discovery/DiscoveryTab.tsx
Due: none

removing env
  datahub-web-react/.env
Due: none

further fix
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
Due: metadata-ingestion-lint-fix

lint
  docs/how/updating-datahub.md
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: metadata-utils-spotless

feat(gql) anomaly feedback mutations (#5766)
  datahub-executor/src/datahub_executor/common/monitor/client/client.py
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/plugins/AcrylGraphQLPlugin.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/ReportAnomalyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/monitor/UpdateAnomalyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/AssertionRunEventMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/monitor/MonitorMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/monitor.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/monitor/ReportAnomalyResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/monitor/UpdateAnomalyResolverTest.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-models/src/main/pegasus/com/linkedin/anomaly/AnomalySource.pdl
  metadata-models/src/main/pegasus/com/linkedin/anomaly/MonitorAnomalyEvent.pdl
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AssertionService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/MonitorService.java
Due: datahub-graphql-core-spotless, li-utils-spotless, metadata-service-services-spotless

fix(executor): metric fetcher handles empty results correctly (#5779)
  datahub-executor/src/datahub_executor/common/metric/resolver/resolver.py
  datahub-executor/src/datahub_executor/common/source/bigquery/bigquery.py
  datahub-executor/src/datahub_executor/common/source/databricks/databricks.py
  datahub-executor/src/datahub_executor/common/source/redshift/redshift.py
  datahub-executor/src/datahub_executor/common/source/snowflake/snowflake.py
  datahub-executor/src/datahub_executor/common/source/source.py
  datahub-executor/tests/common/source/bigquery/test_bigquery_source.py
  datahub-executor/tests/common/source/databricks/test_databricks_source.py
  datahub-executor/tests/common/source/redshift/test_redshift_source.py
  datahub-executor/tests/common/source/snowflake/test_snowflake_source.py
Due: none

more fixes
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_constant.py
Due: metadata-ingestion-lint-fix

fix(ui/filters): Improve platform instance filter
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/app/searchV2/filters/FilterOption.tsx
  datahub-web-react/src/app/searchV2/filters/utils.tsx
  datahub-web-react/src/graphql/search.graphql
Due: none

ci(docs): Fix md prettier lint by ignoring inline blocks (#13558)
  docs/dataproducts.md
  docs/managed-datahub/observe/data-contract.md
Due: none

feat(hooks + models): assertions health dashboard hooks and data model fixes (#5624)
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/AssertionRunSummaryPatchBuilder.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/test/java/com/linkedin/metadata/service/AssertionServiceTest.java
  metadata-jobs/mae-consumer-job/src/test/java/com/linkedin/metadata/kafka/MaeConsumerApplicationTest.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/assertion/AssertionAnalyticsRunEventHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/assertion/AssertionRunSummaryHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/assertion/AssertionActionsHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/assertion/AssertionAnalyticsRunEventHookRunEventMatcher.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/assertion/AssertionAnalyticsRunEventHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/assertion/AssertionRunSummaryHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLGMSSpringTest.java
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionAnalyticsContext.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionAnalyticsRunEvent.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionRunSummary.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AssertionService.java
Due: entity-registry-spotless, li-utils-spotless, metadata-io-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-service-services-spotless

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
