Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

fix(ingestion): assert kafka oauth_cb on client construction
  metadata-ingestion/tests/integration/kafka/test_kafka.py
Due: metadata-ingestion-lint-fix

test(ingestion): align Notion integration assertions with 1.4.28
  metadata-ingestion/tests/integration/notion/README.md
  metadata-ingestion/tests/integration/notion/test_notion_integration.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

perf(structured-properties): page, filter and lazily hydrate property values; searchable pickers
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/MultiSelectInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/SingleSelectInput.tsx
  datahub-web-react/src/app/entityV2/shared/sidebarSection/ShowMoreSection.tsx
  datahub-web-react/src/app/entityV2/shared/sidebarSection/SidebarStructuredProperties.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/StructuredPropertyValueList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/ValuesColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/StructuredPropertyValueList.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/useHydratedEntityMap.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/useHydratedEntityMap.ts
  datahub-web-react/src/app/sharedV2/__tests__/useGetEntities.test.ts
  datahub-web-react/src/app/sharedV2/useGetEntities.ts
  datahub-web-react/src/i18n/locales/de/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/en/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/es/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/fi/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/fr/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/hu/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/it/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/ja/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/nb/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/ru/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/sv/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/zh-CN/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.profile.tabs.json
  e2e-test/ui/playwright/helpers/seeders/allowed-values-seeder.ts
  e2e-test/ui/playwright/helpers/seeders/search-wait.ts
  e2e-test/ui/playwright/helpers/seeders/urn-values-seeder.ts
  e2e-test/ui/playwright/pages/glossary-term-scale.page.ts
  e2e-test/ui/playwright/playwright_test_weights.json
  e2e-test/ui/playwright/tests/structured-property-scale/allowed-values-scale.spec.ts
  e2e-test/ui/playwright/tests/structured-property-scale/urn-values-scale.spec.ts
Due: web-react-lint-fix

fix(ingest): add iter_entry_points to the pkg_resources shim (#19896)
  metadata-ingestion/src/datahub/utilities/pkg_resources_shim.py
  metadata-ingestion/tests/unit/utilities/test_pkg_resources_shim.py
Due: metadata-ingestion-lint-fix

fix(ingest): switch MinIO images from Docker Hub to Quay.io (#19761)
  metadata-ingestion/tests/integration/delta_lake/docker-compose.yml
  metadata-ingestion/tests/integration/dremio/docker-compose.yml
  metadata-ingestion/tests/integration/flink/docker-compose.yml
  metadata-ingestion/tests/integration/iceberg/docker-compose.yml
Due: none

fix(ingest): probe db2 test readiness with a real connection, pin image (#19574)
  metadata-ingestion/tests/integration/db2/docker-compose.yml
  metadata-ingestion/tests/integration/db2/test_db2.py
Due: metadata-ingestion-lint-fix

fix(structured-properties): honour tab search in the value list and scope its state per entity
  datahub-web-react/src/app/entityV2/shared/sidebarSection/SidebarStructuredProperties.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/StructuredPropertyValueList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/ValuesColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/StructuredPropertyValueList.test.ts
Due: web-react-lint-fix

fix(structured-properties): keep values when the tab search matched the property name; scope list state per schema field
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/StructuredPropertyValueList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/ValuesColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/StructuredPropertyValueList.test.ts
Due: web-react-lint-fix

fix(graphql): derive patchEntity authorization entity type from the URN
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/PatchEntityResolverTest.java
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless

test(e2e): accept locale-formatted totals in the searchv2 pagination assertion
  e2e-test/ui/playwright/tests/search/searchv2.spec.ts
Due: none

fix(lineage): omit unwritable Metric neighbors from the edit-downstream modal
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/app/lineageV3/manualLineage/LineageEdges.tsx
  datahub-web-react/src/app/lineageV3/manualLineage/ManageLineageModal.tsx
  datahub-web-react/src/app/lineageV3/manualLineage/_test_/utils.test.ts
  datahub-web-react/src/app/lineageV3/manualLineage/utils.ts
  e2e-test/ui/playwright/pages/lineage-base.page.ts
  e2e-test/ui/playwright/tests/metrics/metrics-lineage.spec.ts
Due: web-react-lint-fix

feat(metrics): enable Metrics by default and add Beta nav badge
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavSidebar.tsx
  datahub-web-react/src/app/metrics/MetricsMainContent.tsx
  datahub-web-react/src/i18n/locales/de/misc.json
  datahub-web-react/src/i18n/locales/en/misc.json
  datahub-web-react/src/i18n/locales/es/misc.json
  datahub-web-react/src/i18n/locales/fi/misc.json
  datahub-web-react/src/i18n/locales/fr/misc.json
  datahub-web-react/src/i18n/locales/hu/misc.json
  datahub-web-react/src/i18n/locales/it/misc.json
  datahub-web-react/src/i18n/locales/ja/misc.json
  datahub-web-react/src/i18n/locales/nb/misc.json
  datahub-web-react/src/i18n/locales/pt-BR/misc.json
  datahub-web-react/src/i18n/locales/ru/misc.json
  datahub-web-react/src/i18n/locales/sv/misc.json
  datahub-web-react/src/i18n/locales/zh-CN/misc.json
  datahub-web-react/src/i18n/locales/zh-TW/misc.json
  docs/features/feature-guides/metrics-and-semantic-models.md
  docs/how/updating-datahub.md
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-configuration-spotless, web-react-lint-fix

fix(ingest): bump urllib3 to 2.x so unstructured 0.24.1 can import
  docker/snippets/ingestion/constraints.txt
  docs/how/updating-datahub.md
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/scripts/generate_pyproject_deps.py
  metadata-ingestion/scripts/verify_pyproject_equivalence.py
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/unit/test_elasticsearch_source.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(audit): add jti header for access audit logs
  datahub-frontend/README.md
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/controllers/Application.java
  datahub-frontend/test/controllers/ApplicationControllerTest.java
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ci): align urllib3 2.x Airflow matrix and shutdown diagnostics with master
  .github/workflows/airflow-plugin.yml
  .github/workflows/metadata-ingestion.yml
  docs/how/updating-datahub.md
  metadata-ingestion-modules/airflow-plugin/tox.ini
  metadata-ingestion/build.gradle
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/integration/kafka/test_kafka.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix, update-lineage-file, check-gradle-lockfiles

chore(ci/kafka-connect): bump Kafka/Kafka Connect test cluster to CP 7.9.10 + modern connectors (#19829)
  metadata-ingestion/tests/integration/kafka/docker-compose.yml
  metadata-ingestion/tests/integration/kafka_connect/docker-compose.override.yml
  metadata-ingestion/tests/integration/kafka_connect/test_kafka_connect.py
Due: metadata-ingestion-lint-fix

Update activate-context.md
  docs/managed-datahub/context/activate-context.md
Due: datahub-web-react-mdPrettierWriteChanged

Update configure-context-generation.md
  docs/managed-datahub/context/configure-context-generation.md
Due: datahub-web-react-mdPrettierWriteChanged

Update overview.md
  docs/managed-datahub/context/overview.md
Due: datahub-web-react-mdPrettierWriteChanged

Update review-context-proposals.md
  docs/managed-datahub/context/review-context-proposals.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(lineage): stabilize LineageEdges children Set for exhaustive-deps
  datahub-web-react/src/app/lineageV3/manualLineage/LineageEdges.tsx
Due: web-react-lint-fix

feat(ingest/sigma): expose every segment of a bracket reference (#19786)
  metadata-ingestion/src/datahub/ingestion/source/sigma/formula_parser.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
  metadata-ingestion/tests/unit/sigma/test_formula_parser.py
Due: metadata-ingestion-lint-fix

style(lineage): apply prettier formatting to manual lineage utils test
  datahub-web-react/src/app/lineageV3/manualLineage/_test_/utils.test.ts
Due: web-react-lint-fix

perf(ui): deduplicate lodash implementations in Vite
  datahub-web-react/package.json
  datahub-web-react/vite.config.ts
  datahub-web-react/yarn.lock
Due: web-react-lint-fix

perf(search): use lightweight lineage counts in search Summary (#19876)
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Lineage/SidebarLineageSection.hooks.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Lineage/SidebarLineageSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Lineage/__tests__/SidebarLineageSection.test.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Lineage/utils.tsx
  datahub-web-react/src/app/searchV2/SearchEntitySidebarContainer.tsx
  datahub-web-react/src/app/searchV2/SearchResults.tsx
  datahub-web-react/src/app/searchV2/SearchResults.utils.ts
  datahub-web-react/src/app/searchV2/__tests__/SearchResults.utils.test.ts
  datahub-web-react/src/app/sharedV2/EntitySidebarContext.tsx
Due: web-react-lint-fix

updated
  datahub-web-react/src/alchemy-components/components/FilterBar/FilterBar.tsx
  datahub-web-react/src/alchemy-components/components/FilterBar/__tests__/FilterBar.test.tsx
  datahub-web-react/src/alchemy-components/components/FilterBar/components.tsx
  datahub-web-react/src/alchemy-components/components/FilterBar/types.ts
  datahub-web-react/src/app/searchV2/filters/SearchFilterBar.editors.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilterBar.nesting.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilterBar.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilterBar.utils.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilters.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFiltersSection.tsx
  datahub-web-react/src/app/searchV2/sidebar/BrowseNode.tsx
  datahub-web-react/src/app/searchV2/sidebar/PlatformNode.tsx
  datahub-web-react/src/app/searchV2/utils/__tests__/generateOrFilters.test.ts
  datahub-web-react/src/app/searchV2/utils/filtersToQueryStringParams.ts
  datahub-web-react/src/app/searchV2/utils/generateOrFilters.ts
  datahub-web-react/src/app/searchV2/utils/useFilters.ts
  datahub-web-react/src/i18n/locales/en/search.json
Due: web-react-lint-fix

feat(metrics): enable Metrics by default and add Beta nav badge (#19901)
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavSidebar.tsx
  datahub-web-react/src/app/lineageV3/manualLineage/LineageEdges.tsx
  datahub-web-react/src/app/lineageV3/manualLineage/ManageLineageModal.tsx
  datahub-web-react/src/app/lineageV3/manualLineage/_test_/utils.test.ts
  datahub-web-react/src/app/lineageV3/manualLineage/utils.ts
  datahub-web-react/src/app/metrics/MetricsMainContent.tsx
  datahub-web-react/src/i18n/locales/de/misc.json
  datahub-web-react/src/i18n/locales/en/misc.json
  datahub-web-react/src/i18n/locales/es/misc.json
  datahub-web-react/src/i18n/locales/fi/misc.json
  datahub-web-react/src/i18n/locales/fr/misc.json
  datahub-web-react/src/i18n/locales/hu/misc.json
  datahub-web-react/src/i18n/locales/it/misc.json
  datahub-web-react/src/i18n/locales/ja/misc.json
  datahub-web-react/src/i18n/locales/nb/misc.json
  datahub-web-react/src/i18n/locales/pt-BR/misc.json
  datahub-web-react/src/i18n/locales/ru/misc.json
  datahub-web-react/src/i18n/locales/sv/misc.json
  datahub-web-react/src/i18n/locales/zh-CN/misc.json
  datahub-web-react/src/i18n/locales/zh-TW/misc.json
  docs/features/feature-guides/metrics-and-semantic-models.md
  docs/how/updating-datahub.md
  e2e-test/ui/playwright/pages/lineage-base.page.ts
  e2e-test/ui/playwright/tests/metrics/metrics-lineage.spec.ts
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-configuration-spotless, web-react-lint-fix

fix padding
  datahub-web-react/src/alchemy-components/components/Editor/EditorTheme.tsx
Due: web-react-lint-fix

docs(context): make heading levels uniform across context guides
  docs/managed-datahub/context/activate-context.md
  docs/managed-datahub/context/configure-context-generation.md
  docs/managed-datahub/context/review-context-proposals.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ui): documentation padding (#19903)
  datahub-web-react/src/alchemy-components/components/Editor/EditorTheme.tsx
Due: web-react-lint-fix

docs(context): nest dbt and Looker section under reference recipes
  docs/managed-datahub/context/configure-context-generation.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(context): add context public beta user guide (#19893)
  docs-website/sidebars.js
  docs/managed-datahub/context/activate-context.md
  docs/managed-datahub/context/configure-context-generation.md
  docs/managed-datahub/context/overview.md
  docs/managed-datahub/context/review-context-proposals.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(schemaField): correct entity auto-creation and fetch-flag claims (#19276)
  metadata-models/docs/entities/schemaField.md
Due: datahub-web-react-mdPrettierWriteChanged, update-lineage-file

perf(gms): Turn off GMS debug logs by default
  docs/how/updating-datahub.md
  metadata-service/war/src/main/resources/logback.xml
Due: datahub-web-react-mdPrettierWriteChanged

Enable by default for dev
  docker/profiles/docker-compose.gms.yml
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/aws): make S3 client config deep-copyable; correct GCS unique_id note
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/tests/unit/test_aws_common.py
Due: metadata-ingestion-lint-fix

fix(ingest/openapi): drop empty allOf enum intersection to keep schema valid
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

feat(snowflake): warn on password-auth deprecation in CLI (#19693)
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Due: metadata-ingestion-lint-fix

perf(ingest/aws): reuse the S3 client in AwsConnectionConfig (#19496)
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/tests/unit/test_aws_common.py
Due: metadata-ingestion-lint-fix
