Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ui): resolve remaining lint errors and add bgGradientHover token
  datahub-web-react/src/alchemy-components/components/Card/Card.stories.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/EntitySidebarTabs.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/AddContextDocumentPopover.tsx
  datahub-web-react/src/app/entityV2/view/select/ViewOptionName.tsx
  datahub-web-react/src/app/entityV2/view/select/components/SearchBar.tsx
  datahub-web-react/src/app/entityV2/view/select/renderSelectedView.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryListCard.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentTreeItem.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/SearchResultItem.tsx
  datahub-web-react/src/app/homeV3/module/components/LargeModule.tsx
  datahub-web-react/src/app/homeV3/module/components/SmallModule.tsx
  datahub-web-react/src/app/homeV3/module/components/__tests__/ModuleMenu.test.tsx
  datahub-web-react/src/app/ingestV2/executions/components/reporting/__tests__/StructuredReport.test.tsx
  datahub-web-react/src/app/searchV2/SearchHeader.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/SearchBarInput.tsx
  datahub-web-react/src/app/searchV2/sidebar/BrowseSidebar.tsx
  datahub-web-react/src/app/shared/product/update/ProductUpdates.components.tsx
  datahub-web-react/src/conf/theme/colorThemes/dark.ts
  datahub-web-react/src/conf/theme/colorThemes/light.ts
  datahub-web-react/src/conf/theme/colorThemes/types.ts
Due: web-react-lint-fix

Product update for Cloud 0.3.17
  datahub-web-react/src/images/in-product-release-mar2026.png
  metadata-service/configuration/src/main/resources/product-update-saas.json
Due: none

fix(ui): replace hardcoded colors with semantic theme tokens (#16658)
  datahub-web-react/src/alchemy-components/components/ActionsBar/ActionsBar.stories.tsx
  datahub-web-react/src/alchemy-components/components/Editor/toolbar/AddImageButtonV2.tsx
  datahub-web-react/src/alchemy-components/components/IncidentStagePill/IncidentStagePill.tsx
  datahub-web-react/src/alchemy-components/components/Modal/Modal.tsx
  datahub-web-react/src/app/context/ContextSidebar.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaHeader.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/AddPropertyButton.tsx
  datahub-web-react/src/app/entityV2/document/DocumentNativeProfile.tsx
  datahub-web-react/src/app/entityV2/document/summary/AddRelatedEntityDropdown.tsx
  datahub-web-react/src/app/entityV2/document/summary/RelatedSection.tsx
  datahub-web-react/src/app/entityV2/group/GroupProfile.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/identity/serviceAccount/ServiceAccountList.components.tsx
  datahub-web-react/src/app/identity/user/UserListV2.components.tsx
Due: web-react-lint-fix

fix(ui): replace <b> tag with styled font-weight for name column
  datahub-web-react/src/app/entityV2/ownership/table/OwnershipTable.tsx
Due: web-react-lint-fix

fix(ui): use remove-markdown package instead of custom stripMarkdown
  datahub-web-react/src/app/settingsV2/posts/PostsList.tsx
Due: web-react-lint-fix

refactor(ui): simplify OwnersSection setSelectedOwnerUrns prop type
  datahub-web-react/src/app/domainV2/CreateDomainModal.tsx
  datahub-web-react/src/app/domainV2/OwnersSection.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
Due: web-react-lint-fix

refactor(ui): migrate Manage Ownership page from antd to Alchemy components CAT-1563 (#16642)
  datahub-web-react/src/app/entityV2/ownership/ManageOwnership.tsx
  datahub-web-react/src/app/entityV2/ownership/OwnershipBuilderModal.tsx
  datahub-web-react/src/app/entityV2/ownership/OwnershipList.tsx
  datahub-web-react/src/app/entityV2/ownership/table/ActionsColumn.tsx
  datahub-web-react/src/app/entityV2/ownership/table/DescriptionColumn.tsx
  datahub-web-react/src/app/entityV2/ownership/table/NameColumn.tsx
  datahub-web-react/src/app/entityV2/ownership/table/OwnershipTable.tsx
  smoke-test/tests/cypress/cypress/e2e/ownershipV2/v2_manage_ownership.js
Due: web-react-lint-fix

fix(powerbi): improve index.ts input validation and error handling
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/src/index.ts
Due: none

feat(powerbi): add compiled mquery-parser SEA binaries
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/.gitignore
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/binaries/mquery-parser-darwin-arm64.gz
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/build.sh
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/package-lock.json
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/src/index.ts
Due: none

fix(powerbi): harden build.sh with Node version check and error handling
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/build.sh
Due: none

feat(powerbi): add MQueryBridge subprocess manager with gzip decompression
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/_bridge.py
  metadata-ingestion/tests/unit/test_mquery_bridge.py
Due: metadata-ingestion-lint-fix

fix(powerbi): harden _bridge.py error handling and resource management
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/_bridge.py
Due: metadata-ingestion-lint-fix

feat(powerbi): add ast_utils.py for NodeIdMap navigation
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/ast_utils.py
  metadata-ingestion/tests/unit/test_ast_utils.py
Due: metadata-ingestion-lint-fix

fix(powerbi): harden ast_utils.py edge case handling
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/ast_utils.py
  metadata-ingestion/tests/unit/test_ast_utils.py
Due: metadata-ingestion-lint-fix

feat(powerbi): rewrite resolver.py to walk powerquery-parser NodeIdMap
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
Due: metadata-ingestion-lint-fix

fix(powerbi): add type annotations and quoted identifier handling in resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
Due: metadata-ingestion-lint-fix

feat(powerbi): rewrite pattern_handler.py to use ast_utils NodeIdMap helpers
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: metadata-ingestion-lint-fix

feat(powerbi): wire bridge into parser.py, fix native_query_parsing flag
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/ast_utils.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/test_native_query_flag.py
Due: metadata-ingestion-lint-fix

fix(powerbi): narrow BaseException to Exception in parser.py resolver catch
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
Due: metadata-ingestion-lint-fix

chore(powerbi): remove Lark parser, update packaging for SEA binaries
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/tree_function.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/validator.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi-lexical-grammar.rule
  metadata-ingestion/tests/unit/test_powerbi_parser.py
Due: metadata-ingestion-lint-fix

perf(elasticsearch): set ES_BULK_REFRESH_POLICY=NONE across all docker configs
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.cassandra.env
  docker/datahub-gms/env/docker.env
  docker/datahub-gms/env/docker.mariadb.env
  docker/datahub-mae-consumer/env/docker-without-neo4j.env
  docker/datahub-mae-consumer/env/docker.env
  docker/datahub-mce-consumer/env/docker-without-neo4j.env
  docker/datahub-mce-consumer/env/docker.env
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.quickstart-profile.yml
  docker/quickstart/docker-compose.quickstart.yml
Due: none

fix(search): reduce logging and cache index existence check for semantic dual-write
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV2Strategy.java
Due: metadata-io-spotless

perf(elasticsearch): set ES_BULK_REFRESH_POLICY=NONE in docker configs (#16666)
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.cassandra.env
  docker/datahub-gms/env/docker.env
  docker/datahub-gms/env/docker.mariadb.env
  docker/datahub-mae-consumer/env/docker-without-neo4j.env
  docker/datahub-mae-consumer/env/docker.env
  docker/datahub-mce-consumer/env/docker-without-neo4j.env
  docker/datahub-mce-consumer/env/docker.env
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.quickstart-profile.yml
  docker/quickstart/docker-compose.quickstart.yml
Due: none

fix(search): reduce logging and cache index existence check for semantic dual-write (#16667)
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV2Strategy.java
Due: metadata-io-spotless

fix(ci): fix Cypress mochawesome reporter - keep .jsons/ for post-matrix merge
  smoke-test/tests/cypress/cypress.config.js
Due: none

fix(ci): bump cypress-mochawesome-reporter to v4.0.2, restore reporting packages
  smoke-test/tests/cypress/package.json
Due: none

fix(ci): register cypress-mochawesome-reporter in support file for screenshots
  smoke-test/tests/cypress/cypress/support/e2e.js
Due: none

fix(ci): restore screenshot embedding and Node.js report script
  .github/scripts/generate-cypress-report.js
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ci): fix merged report showing only one batch of results
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ci): fix Cypress HTML report artifact generation
  .github/workflows/docker-unified.yml
  smoke-test/tests/cypress/cypress.config.js
Due: datahub-web-react-githubActionsPrettierWriteChanged

optimise batch ops
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/loaders/EntityExistsBatchDataLoader.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityExistsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddTagsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchRemoveOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchRemoveTagsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchRemoveTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchSetDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchUpdateDeprecationResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/MutationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LabelUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/deprecation/BatchUpdateDeprecationResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/BatchSetDomainResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/entity/EntityExistsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/BatchAddOwnersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/BatchRemoveOwnersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/tag/BatchAddTagsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/tag/BatchRemoveTagsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/term/BatchAddTermsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/term/BatchRemoveTermsResolverTest.java
Due: datahub-graphql-core-spotless

Fix java docs and add tests
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/loaders/EntityExistsBatchDataLoader.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LabelUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/entity/EntityExistsResolverTest.java
Due: datahub-graphql-core-spotless

fix(omni): fix linting errors and update golden file to standard MCP format
  metadata-ingestion/src/datahub/ingestion/source/omni/omni.py
  metadata-ingestion/tests/integration/omni/omni_mces_golden.json
  metadata-ingestion/tests/integration/omni/test_omni_integration.py
Due: metadata-ingestion-lint-fix

ci(connector-tests): use GitHub App for Checks API + skip label support
  .github/workflows/connector-tests-trigger.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix: bump CI test run timeout
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

style: fix missing newline in actionlint.yaml
  .github/actionlint.yaml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
