Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

format
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/api/mappers/ApiMapperTest.java
Due: datahub-graphql-core-spotless

refactor(web): migrate ingest icons to phosphor (#20136)
  datahub-web-react/src/app/ingest/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingest/source/builder/CreateScheduleStep.tsx
  datahub-web-react/src/app/ingest/source/builder/IngestionDocumentationHint.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeBuilder.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/DictField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/FormField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/SecretField/CreateSecretButton.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/ConnectionCapabilityView.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/TestConnectionButton.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/TestConnectionModal.tsx
  datahub-web-react/src/app/ingest/source/builder/SelectTemplateStep.tsx
  datahub-web-react/src/app/ingest/source/executions/ExecutionRequestDetailsModal.tsx
  datahub-web-react/src/app/ingest/source/executions/IngestionExecutionTableColumns.tsx
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReport.tsx
  datahub-web-react/src/app/ingestV2/executions/components/LogsTab.tsx
  datahub-web-react/src/app/ingestV2/executions/components/RecipeTab.tsx
  datahub-web-react/src/app/ingestV2/executions/components/SummaryTab.tsx
  datahub-web-react/src/app/ingestV2/executions/components/columns/ActionsColumn.tsx
  datahub-web-react/src/app/ingestV2/runDetails/RunDetailsContent.tsx
  datahub-web-react/src/app/ingestV2/secret/SecretsList.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/StatusColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/builder/CreateScheduleStep.tsx
  datahub-web-react/src/app/ingestV2/source/builder/IngestionDocumentationHint.tsx
  datahub-web-react/src/app/ingestV2/source/builder/IngestionSourceBuilderModal.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeBuilder.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/DictField.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/FormField.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/SecretField/CreateSecretButton.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/TestConnection/ConnectionCapabilityView.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/TestConnection/TestConnectionButton.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/TestConnection/TestConnectionModal.tsx
  datahub-web-react/src/app/ingestV2/source/builder/SelectTemplateStep.tsx
Due: web-react-lint-fix

fix(ci): test and publish the same nightly image build (#20202)
  .github/scripts/download_test_artifacts.sh
  .github/scripts/resolve_workflow_runs.sh
  .github/workflows/docker-unified-nightly.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

style(web): prettier/lint fix entity V1 phosphor imports
  datahub-web-react/src/app/entity/dataset/shared/DatasetStatsSummary.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvButton.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchExtendedMenu.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/action/ActionDropdown.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/ContainerLink.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/ParentNodesView.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/LastIngested.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Governance/TestResultsList.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Governance/testUtils.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/CopyQuery.tsx
  datahub-web-react/src/app/entity/shared/tabs/Incident/IncidentTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Incident/components/IncidentListItem.tsx
  datahub-web-react/src/app/entity/shared/tabs/Incident/components/IncidentSummary.tsx
  datahub-web-react/src/app/entity/view/ViewTypeLabel.tsx
  datahub-web-react/src/app/entity/view/menu/ViewDropdownMenu.tsx
  datahub-web-react/src/app/entity/view/menu/item/DeleteViewItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/EditViewItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/PreviewViewItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/RemoveGlobalDefaultItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/RemoveUserDefaultItem.tsx
  datahub-web-react/src/app/entity/view/select/ViewSelectFooter.tsx
Due: web-react-lint-fix

fix(ci): only count files new since N-1 and warn on swapped rollback refs
  .github/scripts/report_aspect_changes.py
  .github/scripts/rollback_analysis.py
  .github/scripts/test/test_report_aspect_changes.py
  .github/scripts/test/test_rollback_analysis.py
Due: none

feat(ci): report N-1 impact per change and cover nested records, steps and mappings
  .github/scripts/report_aspect_changes.py
  .github/scripts/rollback_analysis.py
  .github/scripts/test/test_report_aspect_changes.py
  .github/scripts/test/test_rollback_analysis.py
  .github/workflows/rollback-analysis.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(ci): add rollback compatibility analysis tool
  .github/scripts/rollback_analysis.py
  .github/scripts/test/test_rollback_analysis.py
  .github/workflows/release-process-cut-branch.yml
  .github/workflows/rollback-analysis.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ci): default rollback target to the last release on OSS and fork
  .github/scripts/rollback_analysis.py
  .github/scripts/test/test_rollback_analysis.py
  .github/workflows/release-process-cut-branch.yml
  .github/workflows/rollback-analysis.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ingest/documents): re-embed when the server's embedding config changes
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/datahub_documents/datahub_documents_source.py
  metadata-ingestion/tests/unit/test_datahub_documents_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/documents): fingerprint onnx pooling
  metadata-ingestion/src/datahub/ingestion/source/datahub_documents/datahub_documents_source.py
  metadata-ingestion/tests/unit/test_datahub_documents_source.py
Due: metadata-ingestion-lint-fix

test(ingest/documents): cover Vertex in fingerprint tests
  metadata-ingestion/tests/unit/test_datahub_documents_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/documents): fingerprint onnx pooling only when non-default
  metadata-ingestion/src/datahub/ingestion/source/datahub_documents/datahub_documents_source.py
  metadata-ingestion/tests/unit/test_datahub_documents_source.py
Due: metadata-ingestion-lint-fix

refactor(search): drop the unused V3 root alias builder, keep subfields on type conflicts
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/AspectMappingBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV3Strategy.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/AspectMappingBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV3StrategyTest.java
Due: metadata-io-spotless

fix(ci): attribute embedded aspect changes in rollback analysis
  .github/scripts/rollback_analysis.py
  .github/scripts/test/test_rollback_analysis.py
Due: none

fix(ingest/datahub-documents): prune deleted documents from the chunking checkpoint
  metadata-ingestion/src/datahub/ingestion/source/datahub_documents/datahub_documents_source.py
  metadata-ingestion/src/datahub/ingestion/source/datahub_documents/document_chunking_state_handler.py
  metadata-ingestion/tests/unit/test_datahub_documents_source.py
Due: metadata-ingestion-lint-fix

fix(config): allow DATAHUB_POSTGRES_SCHEMA for SqlSetup metadata DDL
  docs/deploy/environment-vars.md
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/JdbcUrlParser.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/PostgresSqlSetupProperties.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-configuration-spotless

fix(ingest/datahub-documents): prune orphans, skip empty listings, keep fresh state
  metadata-ingestion/src/datahub/ingestion/source/datahub_documents/datahub_documents_source.py
  metadata-ingestion/tests/unit/test_datahub_documents_source.py
Due: metadata-ingestion-lint-fix

fix(search): avoid zero-settling lineage counts while refetching
  datahub-web-react/src/app/previewV2/DefaultPreviewCardFooter.tsx
  datahub-web-react/src/app/previewV2/__tests__/DefaultPreviewCardFooter.test.tsx
  datahub-web-react/src/app/searchV2/SearchResultLineageStatusContext.tsx
  datahub-web-react/src/app/searchV2/SearchResults.tsx
  datahub-web-react/src/app/searchV2/SearchResults.utils.ts
  datahub-web-react/src/app/searchV2/__tests__/useSearchResultLineageCounts.test.ts
  datahub-web-react/src/app/searchV2/useSearchResultLineageCounts.ts
Due: web-react-lint-fix

style(search): apply prettier to deferred lineage count fixes
  datahub-web-react/src/app/previewV2/DefaultPreviewCardFooter.tsx
  datahub-web-react/src/app/previewV2/__tests__/DefaultPreviewCardFooter.test.tsx
  datahub-web-react/src/app/searchV2/SearchResults.tsx
  datahub-web-react/src/app/searchV2/useSearchResultLineageCounts.ts
Due: web-react-lint-fix

fix(web): address entity V1 phosphor review feedback
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvButton.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchExtendedMenu.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/FormInfo/components.ts
  datahub-web-react/src/app/entity/shared/tabs/Incident/IncidentTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Incident/components/IncidentListItem.tsx
  datahub-web-react/src/app/entity/view/select/ViewSelectFooter.tsx
Due: web-react-lint-fix

fix(ingest/datahub-documents): judge the listing apart from this run's writes
  metadata-ingestion/src/datahub/ingestion/source/datahub_documents/datahub_documents_source.py
  metadata-ingestion/tests/unit/test_datahub_documents_source.py
Due: metadata-ingestion-lint-fix

fix(search): put eager global ordinals on the keyword subfield of Search V3 URN fields
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilderTest.java
Due: metadata-io-spotless

fix(search): word the shared URN root name warning neutrally
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapper.java
Due: metadata-io-spotless

fix(search): guard shared URN root names and check Search V3 mappings against V2
  docs/how/updating-datahub.md
  docs/modeling/extending-the-metadata-model.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapperTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsUtilsTest.java
  metadata-service/servlet/src/test/java/com/datahub/gms/servlet/ConfigSearchExportV2Test.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-service-servlet-spotless

feat(search): run V2 queries on Search V3 per-field fields, drop tiers
  docs/how/updating-datahub.md
  docs/modeling/extending-the-metadata-model.md
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntitySettingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/BrowseDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/KeywordSearchV3TestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-service/configuration/src/main/resources/search_entity_analyzer_config.yaml
  metadata-service/configuration/src/main/resources/search_entity_mapping_config.yaml
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
  metadata-service/servlet/src/test/java/com/datahub/gms/servlet/ConfigSearchExportTest.java
Due: datahub-web-react-mdPrettierWriteChanged, entity-registry-spotless, metadata-io-spotless, metadata-service-servlet-spotless

test(search): compare Search V3 reference field mappings with V2 field by field
  docs/how/updating-datahub.md
  docs/modeling/extending-the-metadata-model.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilderTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless

fix(search): keep V2 and V3 autocomplete handlers apart and map V3 URN fields as V2 does
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapperTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/KeywordSearchV3TestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
Due: metadata-io-spotless

docs: give the real keyword length limits of search fields
  docs/modeling/extending-the-metadata-model.md
Due: datahub-web-react-mdPrettierWriteChanged

test(search): pin V3 search parity with V2, not the V2 subfields
  docs/modeling/extending-the-metadata-model.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapper.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/KeywordSearchV3TestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless

docs: say system-update only warns about the second Search V3 rebuild
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(search): warn about a shared URN root name only when the URN mapping wins
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapper.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/KeywordSearchV3TestBase.java
Due: metadata-io-spotless

docs(search): state keyword limits in bytes and drop stale tier comments
  docs/modeling/extending-the-metadata-model.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsUtilsTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless

docs: point the Search V3 upgrade note at the stacked PRs
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/documents): fail the run when the embedding config lookup fails
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/datahub_documents/datahub_documents_source.py
  metadata-ingestion/src/datahub/ingestion/source/unstructured/chunking_source.py
  metadata-ingestion/tests/unit/test_datahub_documents_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(telemetry): bound bulk-write attribution memory without retaining requests
  docs/advanced/monitoring.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/AbstractBulkProcessorShim.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/update/BulkTelemetry.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/update/WeakIdentityTable.java
  metadata-io/src/test/java/com/linkedin/metadata/elasticsearch/update/BulkTelemetryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/OpenSearchSearchClientShimTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/update/WeakIdentityTableTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchBulkProcessorFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/search/ElasticSearchBulkProcessorFactoryTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/BulkTelemetryConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-service-factories-spotless, metadata-utils-spotless

docs(telemetry): start marker adds one span per API request; enable only with a healthy receiver
  docs/deploy/environment-vars.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(search): run V2 queries on Search V3 per-field fields, drop search tiers (#20196)
  docs/how/updating-datahub.md
  docs/modeling/extending-the-metadata-model.md
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/FieldTypeMapperTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntityMappingsUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v3/MultiEntitySettingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/BrowseDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/KeywordSearchV3TestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-service/configuration/src/main/resources/search_entity_analyzer_config.yaml
  metadata-service/configuration/src/main/resources/search_entity_mapping_config.yaml
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
  metadata-service/servlet/src/test/java/com/datahub/gms/servlet/ConfigSearchExportV2Test.java
Due: datahub-web-react-mdPrettierWriteChanged, entity-registry-spotless, metadata-io-spotless, metadata-service-servlet-spotless

test(search): cover legacy browse with V2 off and name this change in the upgrade note
  docs/how/updating-datahub.md
  metadata-io/src/test/java/com/linkedin/metadata/search/query/BrowseDAOTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless

test(search): check boosts and custom search configuration on Search V3
  metadata-io/src/test/java/com/linkedin/metadata/search/query/KeywordSearchV3TestBase.java
Due: metadata-io-spotless
