Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

Update yarn.lock
  datahub-web-react/yarn.lock
Due: none

feat(ingestion): Enhance Microsoft Fabric OneLake connector with schema handling and improved authentication
  metadata-ingestion/docs/sources/fabric_onelake/README.md
  metadata-ingestion/docs/sources/fabric_onelake/fabric_onelake.md
  metadata-ingestion/src/datahub/ingestion/source/fabric/common/auth.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/common/urn_generator.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/client.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-ingestion/tests/unit/fabric_onelake/test_urn_generator.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

added common mock functions and raised exception with original trace
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_connection_retry.py
Due: metadata-ingestion-lint-fix

exception handling
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
Due: metadata-ingestion-lint-fix

addressing feedback
  metadata-ingestion/docs/sources/hightouch/hightouch_pre.md
  metadata-ingestion/docs/sources/hightouch/hightouch_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/hightouch/config.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_container.py
  metadata-ingestion/tests/unit/hightouch/test_hightouch_error_handling.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(dbt): improve URN collision visibility, add sql_truncated marker, use extra=forbid
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_query_emission.py
Due: metadata-ingestion-lint-fix

fix: tests
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

Start upstream merge process with stacked strategy
  docs/how/merge-log.md
Due: datahub-web-react-mdPrettierWriteChanged

remove containers
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/hightouch.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/hightouch.ts
  metadata-ingestion/docs/sources/hightouch/hightouch_advanced.yml
  metadata-ingestion/docs/sources/hightouch/hightouch_pre.md
  metadata-ingestion/src/datahub/ingestion/source/hightouch/config.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_container.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_model.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_sync.py
  metadata-ingestion/tests/integration/hightouch/hightouch_filtered_mces_golden.json
  metadata-ingestion/tests/integration/hightouch/test_hightouch.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

feat(ci): add workflow_dispatch input to test specific Docker tags (#7936)
  .github/workflows/docker-unified-nightly.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

refactor: remove unused AspectSizeValidator static utility
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/AspectSizeValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/validation/AspectSizeValidatorTest.java
Due: metadata-io-spotless

refactor: rename AspectSizeValidationConfig to AspectSizeValidationConfiguration
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectSizePayloadValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanSystemAspect.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/AspectDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/AspectSizePayloadValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanSystemAspectTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/AspectSizeValidationConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/ValidationConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Due: metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

feat(sync): added github action for peridic sync with datahub and pr creation
  .github/workflows/sync-upstream.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs(assertions): Add docs for query attribution (#15879)
  docs/managed-datahub/observe/assertion-query-attribution.md
  docs/managed-datahub/observe/assertions.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(smoke-test): add skip support for concurrent openapi tests
  smoke-test/tests/utilities/concurrent_openapi.py
Due: smoke-test-lint-fix

adding folders
  metadata-ingestion/src/datahub/ingestion/source/hightouch/constants.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_assertion.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_container.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_model.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_sync.py
  metadata-ingestion/tests/integration/hightouch/hightouch_filtered_mces_golden.json
  metadata-ingestion/tests/integration/hightouch/hightouch_mces_golden.json
Due: metadata-ingestion-lint-fix

feat(consistency): add issue consolidation and invalid enum checks
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/ConsistencyService.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/check/InvalidEnumCheck.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/check/assertion/AbstractAssertionCheck.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/check/assertion/AssertionInvalidTypeCheck.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/check/assertion/AssertionTypeMismatchCheck.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/consistency/ConsistencyServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/consistency/check/InvalidEnumCheckTest.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/consistency/check/assertion/AbstractAssertionCheckTest.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/consistency/check/assertion/AssertionTypeMismatchCheckTest.java
Due: metadata-io-spotless

feat(smoke-test): add skip support for concurrent openapi tests (#15903)
  smoke-test/tests/utilities/concurrent_openapi.py
Due: smoke-test-lint-fix

test: add coverage for validatePrePatch metrics and DELETE remediation
  metadata-io/src/test/java/com/linkedin/metadata/entity/AspectSizePayloadValidatorTest.java
Due: metadata-io-spotless

feat(ingestion): Add support for Fabric OneLake in constants and configuration
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/constants.ts
  datahub-web-react/src/images/fabriconelakelogo.png
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/config.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: metadata-ingestion-lint-fix, web-react-lint-fix

API file optimization
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_api.py
Due: metadata-ingestion-lint-fix

api clean-up
  metadata-ingestion/src/datahub/ingestion/source/hightouch/constants.py
  metadata-ingestion/src/datahub/ingestion/source/hightouch/hightouch_api.py
Due: metadata-ingestion-lint-fix

feat(consistency): add issue consolidation and invalid enum checks (#15902)
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/ConsistencyService.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/check/InvalidEnumCheck.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/check/assertion/AbstractAssertionCheck.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/check/assertion/AssertionInvalidTypeCheck.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/consistency/check/assertion/AssertionTypeMismatchCheck.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/consistency/ConsistencyServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/consistency/check/InvalidEnumCheckTest.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/consistency/check/assertion/AbstractAssertionCheckTest.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/consistency/check/assertion/AssertionTypeMismatchCheckTest.java
Due: metadata-io-spotless

fix(ui) Show loading for slow ingestion source executions (#15861)
  datahub-web-react/src/app/ingestV2/source/__tests__/usePollSource.test.ts
  datahub-web-react/src/app/ingestV2/source/usePollSource.ts
Due: web-react-lint-fix

fix: previous 2026 logos had a small glitch
  docs-website/static/img/datahub-cloud-color-dark-horizontal.svg
  docs-website/static/img/datahub-logo-color-dark-horizontal.svg
  docs-website/static/img/datahub-logo-color-light-horizontal.svg
  docs-website/static/img/datahub-logo-color-mark.svg
Due: none

test: add coverage for remediation deletion skip path
  metadata-io/src/test/java/com/linkedin/metadata/entity/AspectSizePayloadValidatorTest.java
Due: metadata-io-spotless

test: add coverage for multiple validator execution during pre-patch
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanSystemAspectTest.java
Due: metadata-io-spotless

fix(ui) Fix ingestion cache bug when creating new source
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/IngestionSourceCreatePage.tsx
Due: web-react-lint-fix

fix(ui) Fix duplicate ingestion runs on browser back/forth (#7923)
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Due: web-react-lint-fix

fix(ui) Fix unsafe access of value in ingestion structured report (#7920)
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItemContext.tsx
  datahub-web-react/src/app/ingestV2/executions/components/reporting/StructuredReportItemContext.tsx
Due: web-react-lint-fix

improvement(ui/ingestion): bring back ingestion flow changes to OSS (#15886)
  datahub-web-react/src/alchemy-components/components/Card/Card.tsx
  datahub-web-react/src/alchemy-components/components/Card/types.ts
  datahub-web-react/src/app/ingestV2/source/builder/DefineRecipeStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/CreateSourceEducationModal.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step1SelectSource/EmptySearchResults.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step1SelectSource/SelectSourceStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step1SelectSource/SourcePlatformCard.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step1SelectSource/utils.ts
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsSubTitle.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/AdvansedSection.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/YamlEditor.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/recipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step3SyncSchedule/ScheduleStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step3SyncSchedule/ScheduleStepSubtitle.tsx
  datahub-web-react/src/app/ingestV2/source/utils.ts
  datahub-web-react/src/app/sharedV2/PageBanner.tsx
Due: web-react-lint-fix

fix(ingestion): fix filters section for small screens (#15865)
  datahub-web-react/src/alchemy-components/components/Select/AutoCompleteSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/Select.stories.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/components.ts
  datahub-web-react/src/alchemy-components/components/Select/types.ts
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/sections/filtersSection/FiltersSection.tsx
Due: web-react-lint-fix

fix(ingestion): expand sources sections while searching (#7869) (#15871)
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step1SelectSource/SelectSourceStep.tsx
Due: web-react-lint-fix

feat(chat): open links in the new tab (follow ups) (#7913)
  datahub-web-react/src/app/chat/EmbeddedChat.tsx
  datahub-web-react/src/app/chat/components/messages/ChatMessage.tsx
  datahub-web-react/src/app/sharedV2/__tests__/ExternalLinksWrapper.test.tsx
Due: web-react-lint-fix

feat(ui): add external links wrapper component (#15884)
  datahub-web-react/src/app/sharedV2/ExternalLinksWrapper.tsx
  datahub-web-react/src/app/sharedV2/__tests__/ExternalLinksWrapper.test.tsx
Due: web-react-lint-fix

fix(ingestion): restore state for query and filter after source updating (Fixes from SaaS) (#15872)
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/IngestionSourceUpdatePage.tsx
Due: web-react-lint-fix

fix(ui) Remove form validation except for name for ingestion sources (#7898)
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/IngestionSourceBottomPanel.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/RecipeSection.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/sections/filtersSection/FiltersSection.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/sections/filtersSection/__tests__/utils.test.ts
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/sections/filtersSection/utils.ts
  datahub-web-react/src/app/sharedV2/forms/multiStepForm/MultiStepFormBottomPanel.tsx
Due: web-react-lint-fix

fix(ui) Add ingestion links and executor pools dropdown to ingestion (#7885)
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsSubTitle.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/AdvancedSection.tsx
Due: web-react-lint-fix

chore(bump): bump and document urllib3 limitation
  .github/workflows/airflow-plugin.yml
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion-modules/airflow-plugin/tox.ini
  metadata-ingestion/setup.py
Due: datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix, update-lineage-file

fix(upgrade): fix assertions upgrade (#7932)
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/AbstractMCPStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/assertions/GenerateAssertionEntityFieldStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/assertions/GenerateAssertionEntityFieldStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/AbstractMCPStepTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/plugins/StandardPluginConfigurationTest.java
  smoke-test/tests/openapi/acryl/v3/observe.json
  smoke-test/tests/utilities/concurrent_openapi.py
Due: datahub-upgrade-spotless, metadata-io-spotless, metadata-service-factories-spotless, smoke-test-lint-fix
