Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

feat(data-factory): update data-platforms version to v9 in bootstrap configuration
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
Due: none

feat(ingestion): add multi-entity domain and ownership transformers
  docs-website/sidebars.js
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/docs/transformer/intro.md
  metadata-ingestion/docs/transformer/multi_entity_transformers.md
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_ownership.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/tests/unit/test_transform_domain_multi_entity.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(dataplex): improve tracing docs and test alignment
  metadata-ingestion/docs/sources/dataplex/dataplex_post.md
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_entries.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_ids.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_entries.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_lineage.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(pr-review): adding tag in linear (#16796)
  .github/workflows/pr-to-linear.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ingest/tableau): prevent embedded datasource IDs from leaking into published datasource filter (#16695)
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/unit/tableau/test_tableau_source.py
Due: metadata-ingestion-lint-fix

Update sqlglot_utils.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
Due: metadata-ingestion-lint-fix

refactor(dataplex): remove test-only container helper module
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_containers.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_helpers.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_containers.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_helpers.py
Due: metadata-ingestion-lint-fix

Update vertexai_config.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_config.py
Due: metadata-ingestion-lint-fix

test fixes
  metadata-ingestion/tests/unit/vertexai/test_vertexai_config.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

test(dataplex): use fixture and remove low-value entries tests
  metadata-ingestion/tests/unit/dataplex/test_dataplex_entries.py
Due: metadata-ingestion-lint-fix

feat(dataplex): add cloudsql spanner bigtable pubsub platform logos
  datahub-web-react/src/images/bigtablelogo.png
  datahub-web-react/src/images/cloudsqllogo.png
  datahub-web-react/src/images/pubsublogo.png
  datahub-web-react/src/images/spannerlogo.png
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: none

fix(ingestion/snowflake-sql-parsing): strip governance DDL before SQL parsing to preserve lineage (#16527)
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_create_table_as_select_with_tag.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_create_view_with_tag.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
Due: metadata-ingestion-lint-fix

fix(test): use goToIngestionPage() in afterEach cleanup to avoid tab lookup flake
  smoke-test/tests/cypress/cypress/e2e/ingestionV3/run_history_v2.js
Due: none

test(dataplex): mock stage context in source unit tests
  metadata-ingestion/tests/unit/dataplex/test_dataplex_source.py
Due: metadata-ingestion-lint-fix

fix tests
  datahub-web-react/src/app/searchV2/filters/value/__tests__/utils.test.tsx
Due: web-react-lint-fix

fix cypress tests
  smoke-test/tests/cypress/cypress/e2e/searchV2/helpers/searchV2Helper.js
Due: none

fix linter issues
  smoke-test/tests/cypress/cypress/e2e/searchV2/helpers/searchV2Helper.js
Due: none

rename components file
  datahub-web-react/src/alchemy-components/components/Select/components.tsx
Due: web-react-lint-fix

fix(database): Add index on version column for RestoreIndices performance
  docker/postgres/init.sql
  docs/how/restore-indices-performance.md
  metadata-ingestion/tests/integration/postgres/setup/setup.sql
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingestion/json-schema): add dataset_name_strategy for display name control
  metadata-ingestion/docs/sources/json-schema/json-schema_post.md
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
  metadata-ingestion/tests/unit/schema/test_json_schema_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ui): Fix toolbar focus bug and allow file uploads in summary page widgets (#16780)
  datahub-web-react/src/alchemy-components/components/Editor/toolbar/Toolbar.tsx
  datahub-web-react/src/app/auth/shared/ModalHeader.tsx
  datahub-web-react/src/app/homeV3/modules/documentation/RichTextContent.tsx
Due: web-react-lint-fix

test(snowflake): update golden files with isPartitioningKey for clustering keys
  metadata-ingestion/tests/integration/snowflake/snowflake_basic_disable_queries_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_schema_extraction_one_table_multiple_views_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_streamlit_filtered_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_streamlit_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_structured_properties_golden.json
Due: none

add change to snowflake
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
Due: metadata-ingestion-lint-fix

ruff format
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
Due: metadata-ingestion-lint-fix

docs(dataplex): remove outdated supported services section
  metadata-ingestion/docs/sources/dataplex/dataplex_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

add GCS support for dbt core artifact file access
  metadata-ingestion/docs/sources/dbt/dbt_pre.md
  metadata-ingestion/docs/sources/dbt/dbt_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

Fix lint error
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

fix(actions): make async_commit_enabled actually use async offset commits (#16776)
  datahub-actions/src/datahub_actions/plugin/source/kafka/kafka_event_source.py
  datahub-actions/tests/unit/plugin/source/kafka/test_kafka_source_ack.py
Due: datahub-actions-lint-fix

fix-tests
  metadata-ingestion/tests/integration/snowflake/snowflake_basic_disable_queries_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_schema_extraction_one_table_multiple_views_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_streamlit_filtered_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_streamlit_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_structured_properties_golden.json
Due: none

addressing feedback
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_config.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_experiment_extractor.py
Due: metadata-ingestion-lint-fix

docs(): Adding docs for Cursor + Claude Code to Agent Context Kit (#16766)
  docs-website/sidebars.js
  docs/dev-guides/agent-context/agent-context.md
  docs/dev-guides/agent-context/claude.md
  docs/dev-guides/agent-context/cursor.md
  docs/dev-guides/agent-context/gemini-cli.md
  docs/features/feature-guides/mcp.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(dataplex): filter entries before detailed fetch
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_entries.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_entries.py
Due: metadata-ingestion-lint-fix

fix(dataplex): apply lint-safe formatting for entry filtering
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_entries.py
Due: metadata-ingestion-lint-fix

no cluster keys on views
  metadata-ingestion/tests/integration/snowflake/snowflake_basic_disable_queries_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_schema_extraction_one_table_multiple_views_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_streamlit_filtered_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_streamlit_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_structured_properties_golden.json
Due: none

adding prefix optimization comment
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Due: metadata-ingestion-lint-fix

one more view
  metadata-ingestion/tests/integration/snowflake/snowflake_streamlit_filtered_golden.json
Due: none

fix(build): exclude docs/generated from prettier markdown check (#16594)
  datahub-web-react/.prettierignore
Due: none

fix(cli): fix CI failures -- mypy types, markdown prettier formatting
  docs/cli-commands/datapack.md
  metadata-ingestion/src/datahub/cli/datapack/loader.py
  metadata-ingestion/src/datahub/cli/datapack/resources/DATAPACK_AGENT_CONTEXT.md
  metadata-ingestion/src/datahub/cli/datapack/time_shift.py
  metadata-ingestion/tests/unit/cli/datapack/test_schema_compat.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(cli): add experimental `datahub datapack` command for loading curated metadata packs
  docs-website/sidebars.js
  docs/cli-commands/datapack.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/datapack/__init__.py
  metadata-ingestion/src/datahub/cli/datapack/datapack_cli.py
  metadata-ingestion/src/datahub/cli/datapack/loader.py
  metadata-ingestion/src/datahub/cli/datapack/models.py
  metadata-ingestion/src/datahub/cli/datapack/registry.py
  metadata-ingestion/src/datahub/cli/datapack/resources/DATAPACK_AGENT_CONTEXT.md
  metadata-ingestion/src/datahub/cli/datapack/resources/__init__.py
  metadata-ingestion/src/datahub/cli/datapack/resources/registry.json
  metadata-ingestion/src/datahub/cli/datapack/schema_compat.py
  metadata-ingestion/src/datahub/cli/datapack/time_shift.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/source/datapack.py
  metadata-ingestion/src/datahub/ingestion/source/demo_data.py
  metadata-ingestion/src/datahub/utilities/sample_data.py
  metadata-ingestion/tests/unit/cli/datapack/__init__.py
  metadata-ingestion/tests/unit/cli/datapack/test_datapack_cli.py
  metadata-ingestion/tests/unit/cli/datapack/test_loader.py
  metadata-ingestion/tests/unit/cli/datapack/test_models.py
  metadata-ingestion/tests/unit/cli/datapack/test_registry.py
  metadata-ingestion/tests/unit/cli/datapack/test_schema_compat.py
  metadata-ingestion/tests/unit/cli/datapack/test_time_shift.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix
