Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

fix(web): formatted timestamp rounding tests align with rounding fn (#5928)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/builder/steps/freshness/utils.test.tsx
Due: none

fix(build/storybook): Surface errors (#13711)
  datahub-web-react/.storybook/preview.js
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
Due: none

fix(sdk): Ignore mypy error for conditional ResolverClient import
  metadata-ingestion/src/datahub/sdk/main_client.py
Due: metadata-ingestion-lint-fix

move ignore comment
  metadata-ingestion/src/datahub/sdk/main_client.py
Due: metadata-ingestion-lint-fix

fix metadata-io
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexBuilderTestBase.java
Due: metadata-io-spotless

fix(build/storybook): Surface errors + fix type error in Button/utils.ts (#5927)
  datahub-web-react/.storybook/preview.js
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
Due: none

fix(docs): policies footnotes out of order (#13691)
  docs/authorization/policies.md
Due: none

Vt oss merge jun 5 fixes 2 (#5925)
  datahub-web-react/src/app/ingest/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingest/source/builder/types.ts
Due: none

fix(sdk): High watermark column not supported for smart freshness assertions & add missing get to subscription (#5929)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/subscription_client.py
  metadata-ingestion-modules/acryl-cloud/tests/test_assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/test_subscription_client.py
Due: none

feat(sdk): Add subscriptions client to main client
  metadata-ingestion/src/datahub/sdk/main_client.py
Due: metadata-ingestion-lint-fix

fix remainder of web-react conflicts
  datahub-web-react/src/app/domain/nestedDomains/domainNavigator/DomainNavigator.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Domain/SetDomainModal.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/EntityProfileSidebar.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarCollapsibleHeader.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
  datahub-web-react/src/app/tags/ManageTag.tsx
Due: none

fix(sdk): Ignore mypy error for conditional ResolverClient import (#5930)
  metadata-ingestion/src/datahub/sdk/main_client.py
Due: metadata-ingestion-lint-fix

fix(sdk): Ignore mypy error for conditional ResolverClient import (#13712)
  metadata-ingestion/src/datahub/sdk/main_client.py
Due: metadata-ingestion-lint-fix

chore(): global tomcat exclude (#13698)
  build.gradle
  metadata-jobs/common/build.gradle
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-service/schema-registry-servlet/build.gradle
  metadata-service/war/build.gradle
Due: none

fix(sdk): Default sensitivity is Medium (#5932)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/test_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/test_assertions.py
  metadata-ingestion-modules/acryl-cloud/tests/test_assertions_client_merging.py
Due: none

fix frontend lint
  datahub-web-react/src/app/domainV2/DomainAutocompleteOptions.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/lineageV2/lineageUtils.ts
Due: none

feat: migrate from plugin-react to plugin-react-swc
  datahub-web-react/package.json
  datahub-web-react/vite.config.ts
  datahub-web-react/yarn.lock
Due: none

fix(ci): github ref fallback (#5936)
  .github/scripts/docker_helpers.sh
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-unified.yml
  .github/workflows/publish-datahub-jars.yml
Due: none

fix(acryl-cloud/search_ranking): Add various performance improvements: (#5895)
  .github/.codecov.yml
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/useHighlightedQueries.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/usePopularQueries.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/utils/__tests__/filterQueries.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/utils/filterQueries.ts
  datahub-web-react/src/app/searchV2/context/constants.ts
  metadata-ingestion-modules/acryl-cloud/setup.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/datahub_usage_reporting/query_builder.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/datahub_usage_reporting/usage_feature_reporter.py
Due: none

fix(ci): handle missing github ref
  .github/scripts/docker_helpers.sh
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-unified.yml
  .github/workflows/publish-datahub-jars.yml
Due: none

Move buttons outside the form
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
Due: none

upgrade to vite v6
  datahub-web-react/build.gradle
  datahub-web-react/package.json
  datahub-web-react/vite.config.ts
  datahub-web-react/yarn.lock
Due: none

upgrade vitest
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Due: none

fix(ci): handle missing github ref (#13714)
  .github/scripts/docker_helpers.sh
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-unified.yml
  .github/workflows/publish-datahub-jars.yml
Due: none

update policies.json
  metadata-service/war/src/main/resources/boot/policies.json
Due: none

update EventBridgeAuditEventExportHook with second invoke method
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/usage/aws/EventBridgeAuditEventExportHook.java
Due: metadata-jobs-mae-consumer-spotless

feat(graphql) Add new sendNotificationRequest graphql endpoint (#5896)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/plugins/AcrylGraphQLPlugin.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/notification/FormNotificationRequestUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/notification/SendFormNotificationRequestResolver.java
  datahub-graphql-core/src/main/resources/notifications.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/notification/FormNotificationRequestUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/notification/SendFormNotificationRequestResolverTest.java
  metadata-models/src/main/pegasus/com/linkedin/event/notification/template/NotificationTemplateType.pdl
Due: datahub-graphql-core-spotless

fix(forms) Improve performance of initial form assignments (#5911)
  metadata-io/src/test/java/com/linkedin/metadata/service/FormServiceTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/FormService.java
Due: metadata-io-spotless, metadata-service-services-spotless

fix(ui/ingestion): filter current user to prevent the owner from getting added twice (#13708)
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Due: none

fix(ui/ ingestion): fix double onboarding modals on ingestion page (#13709)
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Due: none

fixing application lint
  smoke-test/tests/cypress/cypress/e2e/application/applications.js
Due: none

ci failure fixes
  datahub-web-react/src/app/buildEntityRegistry.ts
Due: none

lint fix
  datahub-web-react/src/app/buildEntityRegistry.ts
Due: none

fix(ingestion): rename name column and filter to sources on the executions tab (#13704)
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionsTable.tsx
  datahub-web-react/src/app/ingestV2/shared/components/filters/SourceFilter.tsx
Due: none

fix(ingestion): show dash for null values in sources and execution tables (#13705)
  datahub-web-react/src/app/ingestV2/executions/components/columns/ExecutedByColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/types.ts
Due: none

feat(ingestion) Add generic NotificationRecipientBuilder class to ingestion (#5898)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/notifications/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/notifications/notification_recipient_builder.py
  metadata-ingestion-modules/acryl-cloud/tests/test_notification_recipient_builder.py
Due: none

prettier
  datahub-web-react/src/app/buildEntityRegistry.ts
Due: none

feat(notifications) Add support for basic form assignment notification template (#5899)
  datahub-integrations-service/src/datahub_integrations/notifications/constants.py
  datahub-integrations-service/src/datahub_integrations/notifications/sinks/email/email_sink.py
  datahub-integrations-service/src/datahub_integrations/notifications/sinks/email/send_email.py
  datahub-integrations-service/src/datahub_integrations/notifications/sinks/email/template_utils.py
  datahub-integrations-service/src/datahub_integrations/notifications/sinks/slack/slack_sink.py
  datahub-integrations-service/src/datahub_integrations/notifications/sinks/slack/template_utils.py
  notifications/src/main/java/com/datahub/notification/NotificationTemplateType.java
  notifications/src/main/java/com/datahub/notification/proxy/EmailProxySink.java
  notifications/src/main/java/com/datahub/notification/proxy/IntegrationsServiceProxySink.java
  notifications/src/main/java/com/datahub/notification/proxy/SlackProxySink.java
  notifications/src/main/java/com/datahub/notification/slack/SlackNotificationSink.java
Due: none

[wip] replace the existing scripts to new sdk
  metadata-ingestion/examples/library/add_mlgroup_to_mlmodel.py
  metadata-ingestion/examples/library/create_mlmodel.py
  metadata-ingestion/examples/library/create_mlmodel_group.py
  metadata-ingestion/examples/library/dataset_remove_owner.py
  metadata-ingestion/examples/library/dataset_remove_owner_execute_graphql.py
  metadata-ingestion/examples/library/dataset_remove_structured_properties.py
  metadata-ingestion/examples/library/dataset_remove_tag.py
  metadata-ingestion/examples/library/dataset_remove_tag_execute_graphql.py
  metadata-ingestion/examples/library/dataset_remove_term.py
  metadata-ingestion/examples/library/dataset_remove_term_execute_graphql.py
  metadata-ingestion/examples/library/read_mlmodel.py
  metadata-ingestion/examples/library/read_mlmodel_group.py
Due: metadata-ingestion-lint-fix

replace docs link
  docs/api/tutorials/domains.md
  docs/api/tutorials/lineage.md
  docs/api/tutorials/owners.md
  docs/api/tutorials/tags.md
  docs/api/tutorials/terms.md
  metadata-ingestion/examples/library/dataset_add_domain.py
  metadata-ingestion/examples/library/dataset_add_domain_execute_graphql.py
Due: metadata-ingestion-lint-fix
