Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

Update metadata-ingestion/tests/unit/kafka_connect/test_kafka_connect_schema_resolver.py
  metadata-ingestion/tests/unit/kafka_connect/test_kafka_connect_schema_resolver.py
Due: metadata-ingestion-lint-fix

docs(managed-datahub): restructure OSS vs Cloud comparison guide (#19110)
  docs/managed-datahub/managed-datahub-overview.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(entity): route EntityClient default methods through cached batchGetV2 (#19253)
  metadata-io/src/test/java/com/linkedin/metadata/client/EntityClientGetLatestAspectsTest.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
Due: metadata-io-spotless, metadata-service-restli-client-api-spotless

fix(ingest/snowflake): drop semantic-view lineage onto undeclared fields
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_semantic_model.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_semantic_view_column_case.py
Due: metadata-ingestion-lint-fix

refactor(ingest/snowflake): take the PK identity fold from the identifier builder
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
Due: metadata-ingestion-lint-fix

docs(ingest/snowflake): note which sources need care under preserve_column_case
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

test(ingest/snowflake): stop the casing properties flaking on the deadline
  metadata-ingestion/tests/unit/snowflake/test_snowflake_column_case_properties.py
Due: metadata-ingestion-lint-fix

test(ingestion): assert Kafka sink lineage field pairs
  metadata-ingestion/tests/unit/kafka_connect/test_kafka_connect_schema_resolver.py
Due: metadata-ingestion-lint-fix

fix(ingestion/mode): stabilize the threading speedup test on CI
  metadata-ingestion/tests/integration/mode/test_mode_threading.py
Due: metadata-ingestion-lint-fix

fix(ingest/bigquery): scope Sharing subscription errors to one location
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_linked_datasets.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_linked_datasets.py
Due: metadata-ingestion-lint-fix

test(ingest/snowflake): derive the dangling-reference check instead of listing aspects
  metadata-ingestion/tests/unit/snowflake/test_snowflake_column_case_properties.py
Due: metadata-ingestion-lint-fix

fix(ingest/bigquery): drop invented link_type and source-state counters
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_linked_datasets.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_linked_datasets_mces_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery_linked_datasets_integration.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_linked_datasets.py
Due: metadata-ingestion-lint-fix

fix(ingest/bigquery): count every dataset that loses its publisher source
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_linked_datasets.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_linked_datasets.py
Due: metadata-ingestion-lint-fix

review comments
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/siblings/SiblingAssociationHook.java
Due: metadata-jobs-mae-consumer-spotless

test(ingest/snowflake): check lineage into datasets that declare no fields
  metadata-ingestion/tests/unit/snowflake/test_snowflake_column_case_properties.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_semantic_view_column_case.py
Due: metadata-ingestion-lint-fix

test(ingestion): cover the timezone marker's guards
  metadata-ingestion/src/datahub/testing/pytest_hooks.py
  metadata-ingestion/tests/unit/testing/test_pytest_hooks.py
Due: metadata-ingestion-lint-fix

fix(ingest/bigquery): stop the Sharing probe aborting the connection test
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_test_connection.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_test_connection.py
Due: metadata-ingestion-lint-fix

fix(ingest/bigquery): bound the Sharing capability probe with a deadline
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_test_connection.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_test_connection.py
Due: metadata-ingestion-lint-fix

test(smoke): fix flaky test_list_groups and container smoke tests
  smoke-test/test_e2e.py
  smoke-test/tests/containers/containers_test.py
Due: smoke-test-lint-fix

fix(ingest/profiling): report case-folded column statistics, and hold the str contract
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/base_adapter.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_case_folded_columns.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_sqlalchemy_profiler.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test(smoke): add p0 and domain markers with --domain selection
  .agent-skills/test-review/standards/smoke-and-integration.md
  smoke-test/README.md
  smoke-test/conftest.py
  smoke-test/pyproject.toml
  smoke-test/tests/utilities/domains.py
Due: datahub-web-react-mdPrettierWriteChanged, smoke-test-lint-fix

docs(ingest/profiling): stop citing an option this change does not ship
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/base_adapter.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test(smoke): uniquify shared container fixture entities
  smoke-test/tests/containers/containers_test.py
Due: smoke-test-lint-fix

fix(graph): match relatedEntityTypes case-insensitively (#19268)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolverTest.java
Due: datahub-graphql-core-spotless

test(smoke): fix flaky test_list_groups and container smoke tests (#19281)
  smoke-test/test_e2e.py
  smoke-test/tests/containers/containers_test.py
Due: smoke-test-lint-fix

refactor(openlineage): consolidate dataset mapping
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageDatasetMapper.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageJobMapper.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageMappingUtils.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageMcpFactory.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageRunMapper.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/customfacet/CompatibilityFacetCatalog.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/customfacet/CustomRunFacetContributions.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/customfacet/CustomRunFacetProcessor.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/dataset/DatahubJob.java
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/customfacet/CustomRunFacetProcessorTest.java
Due: metadata-integration-java-openlineage-converter-spotless

fix(ingestion/profiling): stop losing columns that differ only by case (#19186)
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/snowflake.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/base_adapter.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_without_stored_procedures.json
  metadata-ingestion/tests/integration/oracle/source_files/oracle_to_file_without_stored_procedures.yml
  metadata-ingestion/tests/integration/oracle/startup/01_setup.sql
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_case_folded_columns.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_sqlalchemy_profiler.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/bigquery): support BigQuery Sharing linked datasets
  metadata-ingestion/constraints.txt
  metadata-ingestion/docs/sources/bigquery/bigquery_post.md
  metadata-ingestion/docs/sources/bigquery/bigquery_pre.md
  metadata-ingestion/docs/sources/bigquery/bigquery_recipe.yml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_connection.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_sharing.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_linked_dataset_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_connection.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_sharing.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_source.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest/snowflake): record the ingestion order the flag now requires
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_semantic_model.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/redshift): scope the insert-lineage driving set by database too
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/tests/unit/redshift/test_redshift_queries.py
Due: metadata-ingestion-lint-fix

test(ingest/redshift): resolve generated lineage SQL against a system-table schema
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/tests/unit/redshift/test_redshift_queries.py
Due: metadata-ingestion-lint-fix

docs(ingest/redshift): document query-text id scoping once, at the module level
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/tests/unit/redshift/test_redshift_queries.py
Due: metadata-ingestion-lint-fix

fix(ingest/redshift): drive the insert-lineage query from its window CTE
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Due: metadata-ingestion-lint-fix

fix(ingest/redshift): scope query-text scans to the ingestion window
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/tests/unit/redshift/test_redshift_queries.py
Due: metadata-ingestion-lint-fix

perf(gms): Fix Entity graph cache for domains
  metadata-io/src/main/java/com/linkedin/metadata/graph/cache/snapshot/EntityGraphSnapshotBuilder.java
Due: metadata-io-spotless

test(ingestion): narrow optional lineage fields
  metadata-ingestion/tests/unit/kafka_connect/test_kafka_connect_schema_resolver.py
Due: metadata-ingestion-lint-fix

update global theme styles file
  datahub-web-react/src/app/theme/GlobalThemeStyles.tsx
Due: web-react-lint-fix

refactor(ingest/redshift): filter on sti.database rather than its select alias
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Due: metadata-ingestion-lint-fix

feat(powerbi): Add support for Hive platform and improve ODBC navigation handling
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/unit/powerbi/test_pattern_handler.py
Due: metadata-ingestion-lint-fix

fix(load-indices): do not default lePitEpochMs to now
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/loadindices/LoadIndicesStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/loadindices/LoadIndicesStepTest.java
Due: datahub-upgrade-spotless
