Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(gms): skip the aliases aspect when the URN is already lowercased
  metadata-io/src/main/java/com/linkedin/metadata/aliases/sideeffects/AliasesSideEffect.java
  metadata-io/src/test/java/com/linkedin/metadata/aliases/sideeffects/AliasesSideEffectTest.java
Due: metadata-io-spotless

fix(timeline): diff documentation when a union collapses to a column
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
Due: metadata-io-spotless

fix(timeline): report v2 field path type changes as MODIFY
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
Due: metadata-io-spotless

feat(ingest): add Google Drive ingestion source
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/src/datahub/ingestion/source/google_drive/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_config.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_report.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/google-drive): wire stale-entity-removal for deletion detection
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/google-drive): surface Drive API errors in discovery and folder-metadata
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: metadata-ingestion-lint-fix

test(ingest/google-drive): fix sys.modules test isolation (don't shadow installed google libs)
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: metadata-ingestion-lint-fix

feat(ingest/google-drive): sample created document/folder URNs in the report
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_report.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: metadata-ingestion-lint-fix

refactor(ingest/google-drive): de-duplicate export and document-build helpers
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
Due: metadata-ingestion-lint-fix

test(ingest/google-drive): add live integration-test harness (env-gated)
  metadata-ingestion/tests/integration/google_drive/README.md
  metadata-ingestion/tests/integration/google_drive/__init__.py
  metadata-ingestion/tests/integration/google_drive/conftest.py
  metadata-ingestion/tests/integration/google_drive/test_google_drive_integration.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/google-drive): register google-drive data platform with bundled logo
  datahub-web-react/src/images/googledrivelogo.png
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: metadata-ingestion-lint-fix

docs(ingest/google-drive): add connector documentation
  metadata-ingestion/docs/sources/google-drive/README.md
  metadata-ingestion/docs/sources/google-drive/google-drive_post.md
  metadata-ingestion/docs/sources/google-drive/google-drive_pre.md
  metadata-ingestion/docs/sources/google-drive/google-drive_recipe.yml
Due: datahub-web-react-mdPrettierWriteChanged

test(ingest/google-drive): expand coverage of source I/O paths
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: metadata-ingestion-lint-fix

test(ingest/google-drive): cover recursion, ADC+delegation, shared-drive flags; tighten assertions
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: metadata-ingestion-lint-fix

test(ingest/google-drive): add unit tests for config and source logic
  metadata-ingestion/tests/unit/ingestion/source/google_drive/__init__.py
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/google-drive): address review quick-wins (reporting, config guards, sheets CSV)
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_config.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_report.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
Due: metadata-ingestion-lint-fix

chore(ingest/google-drive): log unparseable timestamps at debug level
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
Due: metadata-ingestion-lint-fix

test(ingest/google-drive): rename test var src->source to satisfy import-path check
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/google-drive): address review findings (folder mimeType, docs, tests)
  metadata-ingestion/docs/sources/google-drive/google-drive_post.md
  metadata-ingestion/docs/sources/google-drive/google-drive_pre.md
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_report.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/google-drive): support domain-wide delegation (delegated_user_email)
  metadata-ingestion/docs/sources/google-drive/google-drive_pre.md
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_config.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/google-drive): make document URNs credential-independent (Notion-style)
  metadata-ingestion/docs/sources/google-drive/google-drive_post.md
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_config.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/google-drive): chunking-config None handling, stale-removal dedup, surface inaccessible folders
  metadata-ingestion/docs/sources/google-drive/google-drive_pre.md
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/google-drive): support Shared Drives in discovery (supportsAllDrives)
  metadata-ingestion/docs/sources/google-drive/google-drive_post.md
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest): surface silent zero-write and credential-fallback failures
  metadata-ingestion/docs/sources/google-drive/google-drive_post.md
  metadata-ingestion/docs/sources/google-drive/google-drive_recipe.yml
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_config.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_report.py
  metadata-ingestion/src/datahub/ingestion/source/google_drive/google_drive_source.py
  metadata-ingestion/tests/unit/api/test_pipeline.py
  metadata-ingestion/tests/unit/ingestion/source/google_drive/test_google_drive_source.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

chore(ingest/google-drive): regenerate lockfiles for google-drive deps
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

handle order
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
Due: metadata-io-spotless

fix(timeline): emit the previous description on field doc changes
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
Due: metadata-io-spotless

fix(timeline): emit the previous description on editable field docs
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableSchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/EditableSchemaMetadataChangeEventGeneratorTest.java
Due: metadata-io-spotless

feat(ci): generate Playwright test weights for duration-based sharding
  .github/scripts/download_test_artifacts.sh
  .github/scripts/generate_test_weights.py
  .github/workflows/update-test-weights.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(ci): add duration-balanced bin-packing for Playwright spec files
  .github/scripts/split_playwright_tests.py
Due: none

ci(playwright): use duration-balanced spec files instead of --shard=N/M
  .github/workflows/resusable-playwright-tests.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

chore(test): bootstrap Playwright test weights from recent CI runs
  e2e-test/ui/playwright/playwright_test_weights.json
Due: none

handle nits
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
Due: metadata-io-spotless

test(timeline): expect the previous description on schema field docs
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHookTest.java
Due: metadata-jobs-mae-consumer-spotless

ci(playwright): seed all feature fixture data globally per shard in CI
  .github/scripts/download_test_artifacts.sh
  .github/scripts/generate_test_weights.py
  .github/scripts/split_playwright_tests.py
  .github/workflows/resusable-playwright-tests.yml
  .github/workflows/update-test-weights.yml
  e2e-test/ui/playwright/fixtures/seeding.fixture.ts
  e2e-test/ui/playwright/playwright_test_weights.json
Due: datahub-web-react-githubActionsPrettierWriteChanged

style: apply prettier formatting to seeding fixture
  e2e-test/ui/playwright/fixtures/seeding.fixture.ts
Due: none

fix(powerbi): add Db2 support for ODBC navigation and enhance schema handling for three-tier platforms
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ci): sum Playwright per-file durations within a run before medianing
  .github/scripts/generate_test_weights.py
  e2e-test/ui/playwright/playwright_test_weights.json
Due: none

fix(playwright): resolve cross-feature collisions surfaced by global seeding
  e2e-test/ui/playwright/helpers/seeder-utils.ts
  e2e-test/ui/playwright/pages/search.page.ts
  e2e-test/ui/playwright/tests/browse-v2/browse-v2.spec.ts
Due: none

fix(powerbi): ensure navigation-supplied database takes precedence over default_database in ODBC lineage handling
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/unit/powerbi/test_pattern_handler.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
