Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(gms): reject scale-down env that would recreate issue 19119
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/kubernetes/KubernetesScaleDownStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/kubernetes/KubernetesScaleDownStepTest.java
  docs/how/updating-datahub.md
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kubernetes/KubernetesScaleDownConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-web-react-mdPrettierWriteChanged, datahub-upgrade-spotless, metadata-service-configuration-spotless

perf(gms): batch optimistic-lock CAS updates via JDBC executeBatch (#19287)
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ConditionalAspectUpdate.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ConditionalUpdateResult.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ConditionalWritePlan.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceOptimisticWriteBatchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoConditionalBatchIT.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-io/src/test/resources/testng-mysql.xml
  metadata-io/src/test/resources/testng-postgresql.xml
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/EbeanConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: metadata-io-spotless, metadata-service-configuration-spotless

fix(dataproducts): show only the immediate parent in breadcrumbs
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/getContextPath.test.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/getParentEntities.ts
Due: web-react-lint-fix

fix(ingest/snowflake): don't re-quote already-quoted role names in grant introspection
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Due: metadata-ingestion-lint-fix

fix(policy): fix for default view self policy
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: metadata-utils-spotless

fix(ingest/snowflake): visit each role once regardless of quoting form
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Due: metadata-ingestion-lint-fix

fix(dataproducts): preselect current parent in the Move modal
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoveDataProductModal.tsx
Due: web-react-lint-fix

fix(ingest/snowflake): don't split secondary role names on quoted commas
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_utils.py
Due: metadata-ingestion-lint-fix

fix(ingest/snowflake): only treat well-formed quoting as quoting when splitting role lists
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_utils.py
Due: metadata-ingestion-lint-fix

fix(gms): align review comments and markdown format
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/kubernetes/KubernetesScaleDownStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/kubernetes/KubernetesScaleDownStepTest.java
  docs/deploy/environment-vars.md
  docs/how/updating-datahub.md
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/PreProcessHooks.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/PreProcessHooksTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityServiceFactory.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-upgrade-spotless, metadata-jobs-mae-consumer-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

feat(dataproducts): ingestion support for parent data products (#18925)
  metadata-ingestion/src/datahub/api/entities/dataproduct/dataproduct.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/specific/dataproduct.py
  metadata-ingestion/src/datahub/utilities/registries/data_product_registry.py
  metadata-ingestion/tests/test_helpers/graph_helpers.py
  metadata-ingestion/tests/unit/api/entities/dataproducts/dataproduct_with_parent.yaml
  metadata-ingestion/tests/unit/api/entities/dataproducts/dataproduct_with_parent_by_name.yaml
  metadata-ingestion/tests/unit/api/entities/dataproducts/test_dataproduct.py
  metadata-ingestion/tests/unit/patch/test_patch_builder.py
  metadata-ingestion/tests/unit/utilities/test_data_product_registry.py
Due: metadata-ingestion-lint-fix

fix(ingest/snowflake): make role-name quoting provenance explicit
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_utils.py
Due: metadata-ingestion-lint-fix

add tests
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-utils/src/test/java/com/linkedin/metadata/authorization/PoliciesConfigDefaultPoliciesTest.java
Due: metadata-service-auth-impl-spotless, metadata-utils-spotless

test(ingest/snowflake): cover a quoted element closing the role list
  metadata-ingestion/tests/unit/snowflake/test_snowflake_utils.py
Due: metadata-ingestion-lint-fix

refactor(dataproducts): extract shared MoveEntityModal
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/DataProductParentSelect.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoveEntityMenuAction.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoveEntityModal.tsx
Due: web-react-lint-fix

feat(metadata-models): add UsageFeatures and StorageFeatures aspects for pre-computed timeseries stats (#18104)
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/features/StorageFeatures.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/features/UsageFeatures.pdl
  metadata-models/src/main/resources/entity-registry.yml
Due: update-lineage-file

perf(frontend): slim down sibling fragment in search and data product queries (#17863)
  datahub-web-react/src/graphql/search.graphql
Due: none

style(dataproducts): prettier MoveEntityModal
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoveEntityModal.tsx
Due: web-react-lint-fix

fix(react): sanitize query and incident descriptions to prevent stored XSS
  datahub-web-react/package.json
  datahub-web-react/src/app/entity/shared/components/legacy/MarkdownViewer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Incident/components/IncidentListItem.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/queryColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/__tests__/components/editor/extensions/markdownToHtml.xss.test.tsx
  datahub-web-react/yarn.lock
Due: web-react-lint-fix

fix(ingest): address kyungsoo/asikowitz review on SM container cutover
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/cli/semantic_model_container_migration.py
  metadata-ingestion/src/datahub/cli/snowflake_semantic_view_migration.py
  metadata-ingestion/src/datahub/sdk/semantic_model.py
  metadata-ingestion/tests/unit/cli/test_snowflake_semantic_view_migration.py
  metadata-ingestion/tests/unit/sdk/test_semantic_model.py
  metadata-models/src/main/pegasus/com/linkedin/semanticmodel/SemanticModelInfo.pdl
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, update-lineage-file

test(bootstrap): assert the enabledEnvVar switch leaves no trace when off
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/BootstrapMCPStepTest.java
Due: datahub-upgrade-spotless

fix(embed): reject dangerous renderUrl schemes to prevent stored XSS
  datahub-web-react/src/app/entityV2/chart/summary/EmbedPreview.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Embed/EmbedTab.tsx
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/UrlValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/UrlValidatorTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Due: metadata-io-spotless, metadata-service-factories-spotless, web-react-lint-fix

feat(dataproducts): UI updates to support parent data products (#18927)
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/entityV2/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/CreateDataProductModal.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/DataProductBuilderForm.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/EditDataProductModal.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/types.ts
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/DataProductParentSelect.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoveDataProductModal.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoveEntityMenuAction.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoveEntityModal.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/__tests__/DataProductParentSelect.test.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/getContextPath.test.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/getParentEntities.ts
  datahub-web-react/src/graphql/dataProduct.graphql
  datahub-web-react/src/i18n/locales/de/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/de/entity.types.json
  datahub-web-react/src/i18n/locales/en/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/en/entity.types.json
  datahub-web-react/src/i18n/locales/es/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/es/entity.types.json
  datahub-web-react/src/i18n/locales/fi/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/fi/entity.types.json
  datahub-web-react/src/i18n/locales/fr/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/fr/entity.types.json
  datahub-web-react/src/i18n/locales/hu/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/hu/entity.types.json
  datahub-web-react/src/i18n/locales/it/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/it/entity.types.json
  datahub-web-react/src/i18n/locales/nb/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/nb/entity.types.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.types.json
  datahub-web-react/src/i18n/locales/sv/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/sv/entity.types.json
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Due: metadata-service-services-spotless, web-react-lint-fix

fix(kafka-source): commit offsets for unroutable PlatformEvent messages
  datahub-actions/src/datahub_actions/plugin/source/kafka/kafka_event_source.py
  datahub-actions/tests/unit/plugin/source/kafka/test_kafka_source_unroutable.py
Due: datahub-actions-lint-fix

add smoke test
  smoke-test/tests/authorization/test_self_entity_auth.py
Due: smoke-test-lint-fix

feat(cli): add datahub evals plugin extra
  metadata-ingestion/pyproject.toml
  metadata-ingestion/scripts/generate_pyproject_deps.py
  metadata-ingestion/scripts/verify_pyproject_equivalence.py
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/tests/unit/test_entrypoints.py
Due: metadata-ingestion-lint-fix

fix(embed): validate renderUrl on PATCH and cover chart/dashboard
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/UrlValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/UrlValidatorTest.java
Due: metadata-io-spotless

fix(gms): make lastIngested a fetch-all field; degrade mixed batches safely
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/AspectMappingRegistry.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/util/AspectUtils.java
  datahub-graphql-core/src/main/resources/documents.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/metrics.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/AspectMappingCompletenessTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/RealSchemaAspectMappingTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/util/AspectUtilsTest.java
Due: datahub-graphql-core-spotless

lint fix
  smoke-test/tests/authorization/test_self_entity_auth.py
Due: smoke-test-lint-fix

fix(editor): sanitize PDF preview iframe src to prevent stored XSS
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/FileNodeView.tsx
Due: web-react-lint-fix

fix(ingest/powerbi): resolve parameterized positional NativeQuery args
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/unit/powerbi/test_pattern_handler.py
Due: metadata-ingestion-lint-fix

fix(embed): align renderUrl allowlist with the frontend safeUrl schemes
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/UrlValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/UrlValidatorTest.java
Due: metadata-io-spotless

chore: drop betterleaks allowlist from the master merge
  .betterleaks.toml
Due: none

fix(ingest/powerbi): guard NativeQuery server token and case-insensitive params
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/ast_utils.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/unit/powerbi/test_pattern_handler.py
Due: metadata-ingestion-lint-fix

feat(entity-service): stamp emitModeMarker=sync on externally-originated sync writes
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHookTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/EntityServiceConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: li-utils-spotless, metadata-io-spotless, metadata-jobs-mae-consumer-spotless, metadata-service-configuration-spotless

test(ui): expect errorPolicy all on useSearchUsersQuery
  datahub-web-react/src/app/identity/user/__tests__/UserListV2.hooks.test.ts
Due: web-react-lint-fix

fix(ingest/metabase): stop mypy colliding with setup.py
  metadata-ingestion/setup.cfg
  metadata-ingestion/tests/integration/metabase/metabase_setup_utils.py
  metadata-ingestion/tests/integration/metabase/setup/__init__.py
  metadata-ingestion/tests/integration/metabase/test_metabase.py
Due: metadata-ingestion-lint-fix

Update metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
Due: metadata-ingestion-lint-fix

test(ui): gate UserListV2 error fixture on errorPolicy
  datahub-web-react/src/app/identity/user/__tests__/UserListV2.hooks.test.ts
Due: web-react-lint-fix

fix(ingest/metabase): drop mypy setup.cfg override
  metadata-ingestion/setup.cfg
  metadata-ingestion/tests/integration/metabase/setup/py.typed
  metadata-ingestion/tests/integration/metabase/test_metabase.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
