Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

fix(ingestion): update save button style (#16427)
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/IngestionSourceNavigationButtons.tsx
Due: web-react-lint-fix

improvement(ui): design review changes for dataset summary and ingestion page (#16429)
  datahub-web-react/src/app/entityV2/summary/modules/lineage/LineageModule.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/components/ExpandCollapseButton.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/components/SectionName.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/AdvancedSection.tsx
Due: web-react-lint-fix

fix(k3d): use ClusterIP services and document k3d gotchas
  .claude/skills/k3d/SKILL.md
  k3d/values/datahub-worktree.yaml.tpl
Due: datahub-web-react-mdPrettierWriteChanged

fix(ui): Remove filter we don't support from run results tab
  datahub-web-react/src/app/ingestV2/shared/components/filters/ResultStatusFilter.tsx
Due: web-react-lint-fix

fix(ingestion/oracle): fix profiling crashes and silent table exclusions (#16396)
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sqlalchemy_data_reader.py
  metadata-ingestion/tests/integration/oracle/test_oracle.py
  metadata-ingestion/tests/unit/test_oracle_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/aerospike): add schema query timeout and enhance recipe documentation
  metadata-ingestion/docs/sources/aerospike/aerospike_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/aerospike.py
Due: metadata-ingestion-lint-fix

adjust entities and lineage tools
  datahub-agent-context/src/datahub_agent_context/mcp_tools/entities.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/lineage.py
Due: none

perf(sql-parsing): Use scope-aware join traversal in _list_joins
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

remove other two filters
  datahub-web-react/src/app/ingestV2/shared/components/filters/ResultStatusFilter.tsx
Due: web-react-lint-fix

fix lint
  datahub-web-react/src/app/ingestV2/shared/components/filters/ResultStatusFilter.tsx
Due: web-react-lint-fix

copy tests over
  datahub-agent-context/src/datahub_agent_context/mcp_tools/documents.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/lineage.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/search.py
  datahub-agent-context/src/datahub_agent_context/snowflake/udfs/get_entities.py
  datahub-agent-context/tests/unit/mcp_tools/test_entities.py
  datahub-agent-context/tests/unit/mcp_tools/test_search_filter_parser.py
  datahub-agent-context/tests/unit/snowflake/test_udf_generators.py
Due: none

docs(release): v0.3.16.5-acryl (#16428)
  docs/managed-datahub/release-notes/v_0_3_16.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ui): Remove filter we don't support from run results tab (#16433)
  datahub-web-react/src/app/ingestV2/shared/components/filters/ResultStatusFilter.tsx
Due: web-react-lint-fix

add tests
  datahub-web-react/src/app/lineageV3/useComputeGraph/__tests__/getFineGrainedLineage.test.ts
  datahub-web-react/src/app/lineageV3/useComputeGraph/getFineGrainedLineage.ts
Due: web-react-lint-fix

docs(ingestion): add datahub-skills connector development guide
  metadata-ingestion/datahub-skills.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DomainUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  metadata-io/src/main/java/com/datahub/authorization/DomainAuthorizationHelper.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/utils/DomainExtractionUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DomainAuthorizationHelperTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-auth-impl-spotless, metadata-service-openapi-servlet-spotless, metadata-service-restli-servlet-impl-spotless

fix
  datahub-agent-context/src/datahub_agent_context/mcp_tools/lineage.py
Due: none

fix(ingestion/dlt): address PR review blockers, warnings, and suggestions
  metadata-ingestion/src/datahub/ingestion/source/dlt/config.py
  metadata-ingestion/src/datahub/ingestion/source/dlt/dlt.py
  metadata-ingestion/src/datahub/ingestion/source/dlt/dlt_client.py
  metadata-ingestion/tests/integration/dlt/test_dlt.py
  metadata-ingestion/tests/unit/dlt/test_dlt_source.py
Due: metadata-ingestion-lint-fix

perf(sql-parsing): Use scope-based table resolution in _get_join_side_tables
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_cte_chain_join_tables.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

feat(agent-context): support sql search filters in mcp tools (#16403)
  datahub-agent-context/src/datahub_agent_context/mcp_tools/__init__.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/documents.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/entities.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/lineage.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/search.py
  datahub-agent-context/src/datahub_agent_context/mcp_tools/search_filter_parser.py
  datahub-agent-context/src/datahub_agent_context/snowflake/udfs/get_entities.py
  datahub-agent-context/src/datahub_agent_context/snowflake/udfs/search_datahub.py
  datahub-agent-context/src/datahub_agent_context/snowflake/udfs/search_documents.py
  datahub-agent-context/tests/unit/mcp_tools/test_documents.py
  datahub-agent-context/tests/unit/mcp_tools/test_entities.py
  datahub-agent-context/tests/unit/mcp_tools/test_search.py
  datahub-agent-context/tests/unit/mcp_tools/test_search_filter_parser.py
  datahub-agent-context/tests/unit/snowflake/test_udf_generators.py
Due: none

feat(google adk): set up google adk for agent-context
  datahub-agent-context/examples/google_adk/.gitignore
  datahub-agent-context/examples/google_adk/__init__.py
  datahub-agent-context/examples/google_adk/basic_agent.py
  datahub-agent-context/examples/google_adk/requirements.txt
  datahub-agent-context/examples/google_adk/setup_dev.sh
  datahub-agent-context/examples/google_adk/simple_search.py
  datahub-agent-context/setup.py
  datahub-agent-context/src/datahub_agent_context/__init__.py
  datahub-agent-context/src/datahub_agent_context/google_adk_tools/__init__.py
  datahub-agent-context/src/datahub_agent_context/google_adk_tools/builder.py
  datahub-agent-context/src/datahub_agent_context/langchain_tools/builder.py
  datahub-agent-context/src/datahub_agent_context/utils.py
Due: none

feat(gms) Add backend resolvers to support multiple data products per asset (#16387)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/BatchAddToDataProductsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/BatchRemoveFromDataProductsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/BatchSetDataProductResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/DataProductResolverUtils.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dataproduct/BatchAddToDataProductsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dataproduct/BatchRemoveFromDataProductsResolverTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DataProductService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/DataProductServiceTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-services-spotless

fix lint issues
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/DataProduct/SetDataProductModal.tsx
  datahub-web-react/src/appConfigContext.tsx
Due: web-react-lint-fix

feat(ui) Add support for multiple data products per asset - frontend
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/CreateDataProductModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/action/DataProductsDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/DataProduct/DataProductSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/DataProduct/SetDataProductModal.tsx
  datahub-web-react/src/app/shared/hooks/useIsMultipleDataProductsEnabled.ts
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/dataProduct.graphql
  datahub-web-react/src/graphql/fragments.graphql
Due: web-react-lint-fix

fix(ui): Normalize column field paths in column level lineage existence check (#16430)
  datahub-web-react/src/app/lineageV3/useComputeGraph/__tests__/getFineGrainedLineage.test.ts
  datahub-web-react/src/app/lineageV3/useComputeGraph/getFineGrainedLineage.ts
Due: web-react-lint-fix

feat(ui) Add support for multiple data products per asset - frontend (#16388)
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/CreateDataProductModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/action/DataProductsDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/DataProduct/DataProductSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/DataProduct/SetDataProductModal.tsx
  datahub-web-react/src/app/shared/hooks/useIsMultipleDataProductsEnabled.ts
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/dataProduct.graphql
  datahub-web-react/src/graphql/fragments.graphql
Due: web-react-lint-fix

fix(web): revert default select placement from to 'bottomLeft' (#16432)
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/types.ts
Due: web-react-lint-fix

docs(ingestion): add datahub-skills to sidebar and CLI quickstart guide
  docs-website/sidebars.js
  metadata-ingestion/cli-ingestion.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(docs): remove broken CLAUDE.md link in datahub-skills guide
  metadata-ingestion/datahub-skills.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingestion/dlt): address v2 PR review blockers and warnings
  metadata-ingestion/src/datahub/ingestion/source/dlt/dlt.py
  metadata-ingestion/src/datahub/ingestion/source/dlt/dlt_client.py
  metadata-ingestion/tests/integration/dlt/golden/dlt_golden.json
  metadata-ingestion/tests/integration/dlt/test_dlt.py
  metadata-ingestion/tests/unit/dlt/test_dlt_source.py
Due: metadata-ingestion-lint-fix

fix(ingestion/dlt): address v3 PR review blockers and warnings
  metadata-ingestion/src/datahub/ingestion/source/dlt/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/dlt/dlt.py
  metadata-ingestion/src/datahub/ingestion/source/dlt/dlt_client.py
  metadata-ingestion/tests/integration/dlt/test_dlt.py
  metadata-ingestion/tests/unit/dlt/test_dlt_source.py
Due: metadata-ingestion-lint-fix

address comments
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchSetDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_teradata_openlineage_patch.py
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/DataHubUpgradeKafkaListener.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/helpers/dataset_helper.js
  smoke-test/tests/cypress/cypress/e2e/manage_tagsV2/helpers/tags_page_helper.js
  smoke-test/tests/data_process_instance/test_data_process_instance.py
  smoke-test/tests/ml_models/test_ml_models.py
Due: datahub-graphql-core-spotless, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-io-spotless, metadata-service-factories-spotless, metadata-service-openapi-servlet-spotless, metadata-service-restli-servlet-impl-spotless, smoke-test-lint-fix, update-lineage-file

respond back on PRs when assigned.
  .github/workflows/linear-assignment-notify.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
Due: metadata-service-restli-servlet-impl-spotless

fix(ingestion): Update pyproject.toml using updated generation script
  metadata-ingestion/pyproject.toml
  metadata-ingestion/scripts/generate_pyproject_deps.py
Due: metadata-ingestion-lint-fix

fix(ingestion): deduplicate and narrow specifiers in generated pyproject.toml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/scripts/generate_pyproject_deps.py
  metadata-ingestion/scripts/verify_pyproject_equivalence.py
Due: metadata-ingestion-lint-fix

moved trino tests to dedicated file
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/tests/unit/test_sql_common.py
  metadata-ingestion/tests/unit/test_trino.py
Due: metadata-ingestion-lint-fix

fix(ingestion/dlt): address v4 PR review warnings
  metadata-ingestion/src/datahub/ingestion/source/dlt/dlt.py
  metadata-ingestion/src/datahub/ingestion/source/dlt/dlt_client.py
  metadata-ingestion/tests/integration/dlt/test_dlt.py
  metadata-ingestion/tests/unit/dlt/test_dlt_source.py
Due: metadata-ingestion-lint-fix

implmenting review comments
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

Update docker compose files
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose.override.yml
  docker/profiles/docker-compose.gms.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart-profile.yml
  docker/quickstart/docker-compose.quickstart.yml
Due: none
