Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$

fix(): fix restli snapshot
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Due: none

improvements
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/doris.ts
  datahub-web-react/src/app/ingest/source/conf/doris/doris.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/doris.ts
  datahub-web-react/src/app/ingestV2/source/conf/doris/doris.ts
  datahub-web-react/src/images/dorislogo.png
  metadata-ingestion/docs/sources/doris/README.md
  metadata-ingestion/docs/sources/doris/doris-mysql-compatibility.md
  metadata-ingestion/docs/sources/doris/doris_pre.md
  metadata-ingestion/doris_mces.json
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/sql/doris.py
  metadata-ingestion/tests/integration/doris/README.md
  metadata-ingestion/tests/integration/doris/docker-compose.yml
  metadata-ingestion/tests/integration/doris/doris_mces_golden.json
  metadata-ingestion/tests/integration/doris/doris_to_file.yml
  metadata-ingestion/tests/integration/doris/setup/setup.sql
  metadata-ingestion/tests/integration/doris/test_doris.py
  metadata-ingestion/tests/unit/test_doris_source.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, update-capability-summary

test(smoke): remove stats from internal message (#7189)
  smoke-test/tests/test_result_msg.py
Due: smoke-test-lint-fix

Couple of code cleanup
  metadata-ingestion/docs/sources/kafka-connect/kafka-connect.md
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/connector_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/handlers.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/sink_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/transform_plugins.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, update-capability-summary

Fix goldens
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_after_golden_mces.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_before_golden_mces.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_debezium_postgres_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_debezium_sqlserver_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mongo_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_s3sink_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_snowflake_sink_mces_golden.json
Due: metadata-ingestion-lint-fix, update-capability-summary

Fix tests
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_after_golden_mces.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_before_golden_mces.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Fixing tests
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Couple of fixes
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
  metadata-ingestion/tests/unit/test_kafka_connect_cloud_validation.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Fix tests
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_after_golden_mces.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_before_golden_mces.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Add a couple of fixes to Debezium source
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/integration/kafka-connect-confluent-cloud/confluent_cloud_mock_api.py
  metadata-ingestion/tests/integration/kafka-connect-confluent-cloud/kafka_connect_confluent_cloud_mces_golden.json
Due: metadata-ingestion-lint-fix, update-capability-summary

Fix golden files
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mces_golden.json
Due: metadata-ingestion-lint-fix, update-capability-summary

Code refactoring
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
  metadata-ingestion/tests/unit/test_kafka_connect_cloud_validation.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix sanitization
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/sink_connectors.py
Due: metadata-ingestion-lint-fix, update-capability-summary

mypy fix
  metadata-ingestion/tests/unit/test_kafka_connect_cloud_validation.py
Due: metadata-ingestion-lint-fix

Fix for topic naming
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Kafka connect improvements
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/connector_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/sink_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Improve cloud kafka connect lineage extraction
  metadata-ingestion/docs/sources/kafka-connect/README.md
  metadata-ingestion/docs/sources/kafka-connect/kafka-connect.md
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/handlers.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/sink_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, update-capability-summary

Added some tests
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix

Fixes
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Add more cloud improvements
  metadata-ingestion/KAFKA_CONNECT_LINEAGE.md
  metadata-ingestion/docs/sources/kafka-connect/kafka-connect.md
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/connector_constants.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/consumer_group_analyzer.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/handlers.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/sink_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/topic_cache.py
  metadata-ingestion/tests/unit/test_bigquery_sanitization.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, update-capability-summary

Fix tests
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_snowflake_sink_mces_golden.json
Due: metadata-ingestion-lint-fix, update-capability-summary

Add more tests
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix

Add confluent cloud tests
  metadata-ingestion/tests/integration/kafka-connect-confluent-cloud/Dockerfile
  metadata-ingestion/tests/integration/kafka-connect-confluent-cloud/confluent_cloud_mock_api.py
  metadata-ingestion/tests/integration/kafka-connect-confluent-cloud/docker-compose.override.yml
  metadata-ingestion/tests/integration/kafka-connect-confluent-cloud/kafka_connect_confluent_cloud_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect-confluent-cloud/kafka_connect_confluent_cloud_to_file.yml
  metadata-ingestion/tests/integration/kafka-connect-confluent-cloud/test_kafka_connect_confluent_cloud.py
Due: metadata-ingestion-lint-fix

Some more code refactor
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Initial commmit for kafka cloud support Add support for transformation pipeline
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
  metadata-ingestion/tests/unit/test_kafka_connect_cloud_validation.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Update Kafka connect lineage md
  metadata-ingestion/KAFKA_CONNECT_LINEAGE.md
Due: datahub-web-react-mdPrettierWriteChanged

Fix misalignment with code and api
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Improve tests
  metadata-ingestion/tests/unit/test_kafka_connect.py
  metadata-ingestion/tests/unit/test_kafka_connect_cloud_validation.py
Due: metadata-ingestion-lint-fix

Add comment
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Update docs
  metadata-ingestion/docs/sources/kafka-connect/README.md
Due: datahub-web-react-mdPrettierWriteChanged

lint fix
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Fix goldens
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mces_golden.json
Due: metadata-ingestion-lint-fix, update-capability-summary

Fix md files
  metadata-ingestion/KAFKA_CONNECT_LINEAGE.md
  metadata-ingestion/docs/sources/kafka-connect/README.md
  metadata-ingestion/docs/sources/kafka-connect/kafka-connect.md
Due: datahub-web-react-mdPrettierWriteChanged

Simplify log
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Fix linter issues
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix

Remove unused constants
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/connector_constants.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Add more tests and cleanup a bit
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Remove unneded tests
  metadata-ingestion/tests/unit/test_bigquery_sanitization.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix

Cleaning up code
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/connector_constants.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/transform_plugins.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
  metadata-ingestion/tests/unit/test_kafka_connect_cloud_validation.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(metadata-integration/openlineage): support env and orchestrator in openlineage event emission
  docs/lineage/openlineage.md
  metadata-integration/java/openlineage-converter/build.gradle
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/config/DatahubOpenlineageConfig.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/OpenLineageConfigTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/openlineage/config/DatahubOpenlineageProperties.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/openlineage/config/OpenLineageServletConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-integration-java-openlineage-converter-spotless, metadata-service-openapi-servlet-spotless
