Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

docs(ingestion/montecarlo): make stateful ingestion opt-in in recipes
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  metadata-ingestion/docs/sources/montecarlo/montecarlo_post.md
  metadata-ingestion/docs/sources/montecarlo/montecarlo_recipe.yml
Due: datahub-web-react-mdPrettierWriteChanged, web-react-lint-fix

feat(montecarlo): validate warehouse platform names
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/config.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/constants.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: metadata-ingestion-lint-fix

refactor(montecarlo): registry is sole platform validation source
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/constants.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/mcon_resolver.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: metadata-ingestion-lint-fix

docs(okta): replace example Okta API token with a placeholder (#19598)
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/okta.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/okta.ts
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  metadata-ingestion/docs/sources/okta/okta_recipe.yml
Due: web-react-lint-fix

fix(montecarlo): fall back to monitor name when MC has no description
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/assertion.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: metadata-ingestion-lint-fix

feat(montecarlo): auto_map toggle, report counters, recipe, lockfile
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  metadata-ingestion/constraints.txt
  metadata-ingestion/docs/sources/montecarlo/montecarlo_recipe.yml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/config.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/mcon_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/queries.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/report.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix, web-react-lint-fix

feat(ingest/sql-parsing): make the SQL lineage timeout configurable
  metadata-ingestion/src/datahub/configuration/env_vars.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/conftest.py
Due: metadata-ingestion-lint-fix

feat(ingestion/montecarlo): emit DataHub Incident entities for alerts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  metadata-ingestion/docs/sources/montecarlo/montecarlo_post.md
  metadata-ingestion/docs/sources/montecarlo/montecarlo_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/assertion.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/config.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/constants.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/report.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

fix(ingestion/montecarlo): carry custom SQL into assertion logic field
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/client.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/queries.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: metadata-ingestion-lint-fix

fix(montecarlo): dedup SUCCESS runs coinciding with FAILURE alerts
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/assertion.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: metadata-ingestion-lint-fix

Revert "fix(montecarlo): dedup SUCCESS runs coinciding with FAILURE alerts"
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/assertion.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: metadata-ingestion-lint-fix

docs(okta): replace example token in okta_api_token field description
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
Due: metadata-ingestion-lint-fix

refactor(ui): upstream SaaS changes in app/shared to reduce OSS/SaaS drift
  datahub-web-react/src/app/entity/shared/components/styled/StyledTag.tsx
  datahub-web-react/src/app/shared/AppLogoLink.tsx
  datahub-web-react/src/app/shared/ClickOutside.tsx
  datahub-web-react/src/app/shared/CopyUrn.tsx
  datahub-web-react/src/app/shared/RoutedTabs.tsx
  datahub-web-react/src/app/shared/ShowMoreSection.tsx
  datahub-web-react/src/app/shared/TagStyleEntity.tsx
  datahub-web-react/src/app/shared/components.tsx
  datahub-web-react/src/app/shared/hooks/__tests__/useUploadFileHandler.test.ts
  datahub-web-react/src/app/shared/hooks/useUploadFileHandler.ts
  datahub-web-react/src/app/shared/numberUtil.ts
  datahub-web-react/src/app/shared/product/update/hooks.ts
  datahub-web-react/src/app/shared/tags/DomainLink.tsx
  datahub-web-react/src/app/shared/tags/TagTermGroup.tsx
  datahub-web-react/src/app/shared/tags/TagTermLabel.tsx
  datahub-web-react/src/app/shared/tags/__tests__/TagTermGroup.test.tsx
  datahub-web-react/src/app/shared/tags/tag/Tag.tsx
  datahub-web-react/src/app/shared/tags/term/StyledTerm.tsx
  datahub-web-react/src/app/shared/tags/term/TermContent.tsx
  datahub-web-react/src/app/shared/tags/useEntityPickerState.ts
  datahub-web-react/src/app/shared/textUtil.ts
  datahub-web-react/src/app/shared/time/timeUtils.tsx
  datahub-web-react/src/app/shared/updateQueryParams.test.ts
  datahub-web-react/src/app/shared/updateQueryParams.ts
  datahub-web-react/src/app/shared/useToggle.ts
Due: web-react-lint-fix

docs(okta): drop the placeholder e.g. clause from the token description
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
Due: metadata-ingestion-lint-fix

fix(ingest/dataplex): fix lookupEntryLinks request and attach terms to containers
  metadata-ingestion/docs/sources/dataplex/dataplex_post.md
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_context.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_entries.py
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_glossary.py
  metadata-ingestion/tests/integration/dataplex/test_dataplex_glossary_reconcile.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_entries.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_glossary.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

build(ingest): remove setuptools<82 cap, support setuptools>=83
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/documentation.yml
  .github/workflows/lint-jobs.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/python-build-pages.yml
  docker/datahub-actions/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/snippets/ingestion/constraints.txt
  docs/how/updating-datahub.md
  metadata-ingestion/build-constraints.txt
  metadata-ingestion/build.gradle
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/scripts/validate_pyspark_compatibility.py
  metadata-ingestion/setup.cfg
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sql/cockroachdb.py
  metadata-ingestion/src/datahub/utilities/pkg_resources_shim.py
  metadata-ingestion/src/datahub/utilities/threading_timeout.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/unit/test_packaging.py
  metadata-ingestion/tests/unit/utilities/test_pkg_resources_shim.py
  metadata-ingestion/tests/unit/utilities/test_threading_timeout.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix, check-gradle-lockfiles

feat(profiling): flatten same-shape aggregates behind a flag
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/query_combiner.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_query_combiner.py
  metadata-ingestion/tests/unit/test_ge_profiling_config.py
Due: metadata-ingestion-lint-fix

fix(montecarlo): address PR review feedback and default emit_incidents_on_failure to false
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  metadata-ingestion/constraints.txt
  metadata-ingestion/docs/sources/montecarlo/montecarlo_post.md
  metadata-ingestion/docs/sources/montecarlo/montecarlo_recipe.yml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/assertion.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/config.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/constants.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/mcon_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/report.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/source.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

docs(okta): replace example token in okta_api_token field description (#19600)
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
Due: metadata-ingestion-lint-fix

refactor(ui): extract GlossarySelect from AddTermsModal into sharedV2
  datahub-web-react/src/app/shared/tags/AddTermsModal.tsx
  datahub-web-react/src/app/sharedV2/glossary/GlossarySelect.tsx
Due: web-react-lint-fix

chore(cli): bump default cli
  gradle/versioning/cliVersion.gradle
Due: none

refactor(ui): extract TagSelect from AddTagsModal into sharedV2
  datahub-web-react/src/app/shared/tags/AddTagsModal.tsx
  datahub-web-react/src/app/sharedV2/tags/TagSelect.tsx
Due: web-react-lint-fix

docs: note Kafka queue-time percentile removal in upgrade guide
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(datahub-frontend): add client-cert-based authentication for oidc
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/PrivateKeyJwtUtils.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcAuthenticator.java
  datahub-frontend/play.gradle
  datahub-frontend/test/auth/sso/oidc/PrivateKeyJwtUtilsTest.java
  datahub-frontend/test/auth/sso/oidc/TestKeyMaterial.java
  datahub-frontend/test/auth/sso/oidc/custom/CustomOidcAuthenticatorTest.java
  docs/authentication/guides/sso/configure-oidc-react.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(montecarlo): align starter recipe with documented defaults
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  metadata-ingestion/docs/sources/montecarlo/montecarlo_recipe.yml
Due: web-react-lint-fix

refactor(datahub-frontend): slim oidc private_key_jwt diff
  datahub-frontend/app/auth/sso/oidc/PrivateKeyJwtUtils.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcAuthenticator.java
  datahub-frontend/test/auth/sso/oidc/PrivateKeyJwtUtilsTest.java
  datahub-frontend/test/auth/sso/oidc/custom/CustomOidcAuthenticatorTest.java
Due: none

fix(datahub-frontend): sign oidc private_key_jwt per request with x5t/x5c/kid
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/PrivateKeyJwtUtils.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcAuthenticator.java
  datahub-frontend/test/auth/sso/oidc/PrivateKeyJwtUtilsTest.java
  datahub-frontend/test/auth/sso/oidc/TestKeyMaterial.java
  datahub-frontend/test/auth/sso/oidc/custom/CustomOidcAuthenticatorTest.java
  docs/authentication/guides/sso/configure-oidc-react.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(datahub-frontend): align private_key_jwt BouncyCastle with 1.84
  datahub-frontend/play.gradle
Due: none

refactor(ingest/dataplex): group the term-association counters together
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_glossary.py
Due: metadata-ingestion-lint-fix

docs(ontology): Add Ontology feature guide
  docs-website/sidebars.js
  docs-website/static/imgs/ontology/ontology-add-related-terms-modal.png
  docs-website/static/imgs/ontology/ontology-focused-view.png
  docs-website/static/imgs/ontology/ontology-global-graph.png
  docs-website/static/imgs/ontology/ontology-related-terms-tab.png
  docs-website/static/imgs/ontology/ontology-relationship-property.png
  docs-website/static/imgs/ontology/ontology-term-relationships-tab.png
  docs/features/feature-guides/ontology/custom-relationships.md
  docs/features/feature-guides/ontology/overview.md
  docs/features/feature-guides/ontology/querying-your-ontology.md
  docs/features/feature-guides/ontology/relating-glossary-terms.md
  docs/features/feature-guides/ontology/sparql-api.md
  docs/features/feature-guides/ontology/visualizing-your-ontology.md
  docs/glossary/business-glossary.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(datahub-frontend): harden private_key_jwt config and token requests
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/OidcProvider.java
  datahub-frontend/app/auth/sso/oidc/PrivateKeyJwtUtils.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcAuthenticator.java
  datahub-frontend/conf/application.conf
  datahub-frontend/test/auth/sso/oidc/OidcConfigsPrivateKeyJwtTest.java
  datahub-frontend/test/auth/sso/oidc/PrivateKeyJwtUtilsTest.java
  datahub-frontend/test/auth/sso/oidc/TestKeyMaterial.java
  datahub-frontend/test/auth/sso/oidc/custom/CustomOidcAuthenticatorTest.java
  docs/authentication/guides/sso/configure-oidc-react.md
  docs/deploy/environment-vars.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ingest/dataplex): extract the glossaryTerms audit stamp
  metadata-ingestion/src/datahub/ingestion/source/dataplex/dataplex_glossary.py
Due: metadata-ingestion-lint-fix

fix helm
  docs/features/feature-guides/ontology/custom-relationships.md
  docs/features/feature-guides/ontology/sparql-api.md
  docs/features/feature-guides/ontology/visualizing-your-ontology.md
Due: datahub-web-react-mdPrettierWriteChanged

style(datahub-frontend): apply spotless and prettier to oidc jwt docs
  datahub-frontend/app/auth/sso/oidc/PrivateKeyJwtUtils.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcAuthenticator.java
  docs/deploy/environment-vars.md
Due: datahub-web-react-mdPrettierWriteChanged

delete ontology focused view pic
  docs-website/static/imgs/ontology/ontology-focused-view.png
  docs/features/feature-guides/ontology/visualizing-your-ontology.md
Due: datahub-web-react-mdPrettierWriteChanged

update exporting graph docs
  docs/features/feature-guides/ontology/sparql-api.md
Due: datahub-web-react-mdPrettierWriteChanged

more fixes
  docs/features/feature-guides/ontology/overview.md
  docs/features/feature-guides/ontology/relating-glossary-terms.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(profiling): address flatten review findings
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/query_combiner.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_query_combiner.py
  metadata-ingestion/tests/unit/test_ge_profiling_config.py
Due: metadata-ingestion-lint-fix

chore(cli): bump default cli (#19602)
  gradle/versioning/cliVersion.gradle
Due: none

refactor(timeseries): drop ES/Postgres dual-write and exclusive SoT
  docker/profiles/README.md
  docker/profiles/docker-compose.gms.yml
  docs/deploy/environment-vars.md
  docs/how/updating-datahub.md
  docs/pgtimeseries-design.md
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV2Strategy.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV3Strategy.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/TimeseriesPgDocumentMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/write/AbstractTimeseriesAspectWriteSink.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/write/TimeseriesAspectWriteSink.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/write/postgres/PostgresTimeseriesAspectWriteSink.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV2StrategyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV3StrategyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesAspectServicePostgresIT.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesPgDocumentMapperTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/write/postgres/PostgresTimeseriesAspectWriteSinkTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/PostgresSqlSetupProperties.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/update/indices/UpdateIndicesStrategyFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/PgTimeseriesRuntimePoolEnabledCondition.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/TimeseriesAspectServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/TimeseriesAspectWriteSinkFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/timeseries/TimeseriesAspectServiceFactoryTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/timeseries/TimeseriesAspectService.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-jobs-mae-consumer-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-services-spotless

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
