Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

remove a number of time filters
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/vertexai/vertexai_pre.md
  metadata-ingestion/src/datahub/ingestion/source/vertexai/ml_metadata_helper.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_config.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_constants.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_models.py
  metadata-ingestion/tests/integration/vertexai/mock_vertexai.py
  metadata-ingestion/tests/integration/vertexai/test_vertexai.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_ml_metadata.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ci): use --input for repository_dispatch to pass client_payload as JSON object
  .github/workflows/connector-tests-trigger.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fixes
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/vertexai/vertexai_pre.md
  metadata-ingestion/src/datahub/ingestion/source/vertexai/ml_metadata_helper.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_config.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix: ProfilingContext custom_sql validation
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/profiling_context.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_adapters.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_profiling_context.py
Due: metadata-ingestion-lint-fix

fix: integration tests and updated golden files.
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_filtered_upstream_asset_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_hidden_asset_tags_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_hidden_worksheets_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_tags_disabled_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/tableau/tableau_multiple_sites_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_no_hidden_assets_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_permission_ingestion_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_site_name_pattern_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_sites_as_container_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Due: metadata-ingestion-lint-fix

fix: snowflake type mapping
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/type_mapping.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_type_mapping.py
Due: metadata-ingestion-lint-fix

Extract to tmpfs
  docker/datahub-gms/start.sh
Due: none

Update junit paths and setup.cfg cleanup
  .github/.codecov.yml
  .github/workflows/actions.yml
  datahub-actions/build.gradle
  datahub-actions/setup.cfg
  gradle/coverage/python-coverage.gradle
  gradle/versioning/versioning.gradle
Due: datahub-web-react-githubActionsPrettierWriteChanged, check-gradle-lockfiles

add logging
  docker/datahub-gms/start.sh
Due: none

Add ff
  docker/datahub-gms/env/docker.env
Due: none

keep value as true
  docker/datahub-gms/env/docker.env
Due: none

Fix if condition and param
  .github/actions/report-test-results/action.yml
  .github/workflows/actions.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix failing cypress tests
  smoke-test/tests/cypress/cypress/e2e/introduce/introduce.js
  smoke-test/tests/cypress/cypress/e2e/mutations/manage_ingestion_secret_privilege.js
  smoke-test/tests/cypress/cypress/e2e/mutationsV2/v2_dataset_ownership.js
Due: none

Add docs
  docs/advanced/jar-extraction-tmpfs-optimization.md
Due: datahub-web-react-mdPrettierWriteChanged

Update input files for gradle tasks
  datahub-actions/build.gradle
Due: check-gradle-lockfiles

Add more files as inputs for test
  datahub-actions/build.gradle
Due: check-gradle-lockfiles

Fix suite name
  datahub-actions/setup.cfg
Due: none

handle mid way crash scenario
  docker/datahub-gms/start.sh
Due: none

improved lineage
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_models.py
  metadata-ingestion/tests/integration/vertexai/mock_vertexai.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

Update vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
Due: metadata-ingestion-lint-fix

Specify coverage files
  .github/workflows/actions.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Specify coverage file to upload
  .github/workflows/agent-context.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Fix test report path
  .github/workflows/agent-context.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Add test reporting to datahub-agents-context. Enable coverage reporting
  .github/.codecov.yml
  .github/workflows/agent-context.yml
  datahub-agent-context/README.md
  datahub-agent-context/build.gradle
  datahub-agent-context/setup.cfg
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, check-gradle-lockfiles

fix(looker): stop clearing LOOKERSDK_CLIENT_SECRET env var after init
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
Due: metadata-ingestion-lint-fix

improved lineage
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

Start upstream merge process with stacked strategy
  docs/how/merge-log.md
Due: datahub-web-react-mdPrettierWriteChanged

aikido review
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/bigquery.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_adapters.py
Due: metadata-ingestion-lint-fix

addressing feedback
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_dialect.py
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/tests/integration/doris/test_doris.py
  metadata-ingestion/tests/unit/doris/test_doris_dialect.py
  metadata-ingestion/tests/unit/doris/test_doris_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/looker): stop clearing LOOKERSDK_CLIENT_SECRET env var after init (#16226)
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
Due: metadata-ingestion-lint-fix

fix: Allow tables without browse paths to be emitted
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_filtered_upstream_asset_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_hidden_asset_tags_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_hidden_worksheets_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_tags_disabled_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/tableau/tableau_multiple_sites_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_no_hidden_assets_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_permission_ingestion_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_site_name_pattern_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_sites_as_container_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Due: metadata-ingestion-lint-fix

revert some folder changes
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_models.py
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

address feedback v2
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/tests/unit/doris/test_doris_source.py
Due: metadata-ingestion-lint-fix

feat: Add Phase 3 to emit tables not returned by Tableau re-query
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_filtered_upstream_asset_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_hidden_asset_tags_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_hidden_worksheets_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_ingest_tags_disabled_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/tableau/tableau_multiple_sites_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_no_hidden_assets_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_permission_ingestion_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_site_name_pattern_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_sites_as_container_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Due: metadata-ingestion-lint-fix

final fix
  metadata-ingestion/tests/unit/doris/test_doris_source.py
Due: metadata-ingestion-lint-fix

minor adjustments
  metadata-ingestion/docs/sources/vertexai/vertexai_pre.md
  metadata-ingestion/src/datahub/ingestion/source/vertexai/ml_metadata_helper.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_ml_metadata.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

Add rollback as well
  docker/datahub-gms/start.sh
Due: none

fix(Es8): use system properties for elastic hosts behin a proxy, and use async mode for reindex (SystemUpdate)
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/Es8SearchClientShim.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/OpenSearch2SearchClientShim.java
Due: metadata-io-spotless

Update doris_dialect.py
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_dialect.py
Due: metadata-ingestion-lint-fix
