Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

fix: retry through http adapter and code refactoring
  metadata-ingestion/src/datahub/ingestion/source/informatica/client.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/config.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/models.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/source.py
Due: metadata-ingestion-lint-fix

feat(postgres): add corpuser and corpGroup partial indexes on metadata_aspect_v2
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/PostgresDatabaseOperations.java
Due: datahub-upgrade-spotless

fix: added test cases
  metadata-ingestion/tests/unit/informatica/__init__.py
  metadata-ingestion/tests/unit/informatica/test_client.py
  metadata-ingestion/tests/unit/informatica/test_config.py
  metadata-ingestion/tests/unit/informatica/test_models.py
  metadata-ingestion/tests/unit/informatica/test_source.py
Due: metadata-ingestion-lint-fix

chore(java8): maintain java 8 compatibility in new patch builders
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/DocumentationPatchBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/GlobalTagsPatchBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/GlossaryTermsPatchBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/OwnershipPatchBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/StructuredPropertiesPatchBuilder.java
Due: entity-registry-spotless

feat(ingest/sigma): add intra-workbook element-to-element lineage
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_extract_lineage.json
  metadata-ingestion/tests/integration/sigma/test_sigma.py
Due: metadata-ingestion-lint-fix

don't keep workspaces around once they're processed
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
Due: metadata-ingestion-lint-fix

fix(ingest/powerbi): scan _all_ workspaces before looking up cross-workspace references
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/mock_data/cross_workspace_mock_response.json
Due: metadata-ingestion-lint-fix

split out golden_test_ingest_gcc.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_gcc.json
Due: none

add configuredBy in admin only response for dataset
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
Due: metadata-ingestion-lint-fix

remove unused functions and request mocks
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/tests/integration/powerbi/mock_data/cross_workspace_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/default_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_odbc_datasource_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_odbc_query_mock_response.json
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
  metadata-ingestion/tests/integration/powerbi/test_profiling.py
Due: metadata-ingestion-lint-fix

fix(ingest/powerbi): remove redundant requests for dataset information
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cross_workspace_dataset.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_independent_datasets.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_patch_disabled.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql_odbc_datasource.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql_odbc_query.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_profiling.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/integration/powerbi/golden_test_soft_reference_mode.json
  metadata-ingestion/tests/integration/powerbi/mock_data/cross_workspace_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/default_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_odbc_datasource_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_odbc_query_mock_response.json
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/integration/powerbi/test_profiling.py
Due: metadata-ingestion-lint-fix

extract get pages call
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
Due: metadata-ingestion-lint-fix

feat(ingest/powerbi): generate external URLs for Workspaces
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_create_corp_user.json
  metadata-ingestion/tests/integration/powerbi/golden_test_create_corp_user_deleted.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql_odbc_datasource.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql_odbc_query.json
  metadata-ingestion/tests/integration/powerbi/golden_test_personal_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_soft_reference_mode.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/unit/test_powerbi_directlake.py
Due: metadata-ingestion-lint-fix

make email address optional
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
Due: metadata-ingestion-lint-fix

do try to get users if scan_result failed
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
Due: metadata-ingestion-lint-fix

fix imputed weburl for rdlreports
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
Due: metadata-ingestion-lint-fix

fix(ingest/powerbi): remove redundant calls to dashboard users and tiles
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/golden_test_app_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_app_redirect_url_ingest.json
  metadata-ingestion/tests/integration/powerbi/mock_data/cross_workspace_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/default_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/workspace_with_app_mock_response.json
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
  metadata-ingestion/tests/integration/powerbi/test_create_corp_user.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Due: metadata-ingestion-lint-fix

tweak how users are handled
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
Due: metadata-ingestion-lint-fix

use reports and users from scan results
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/mock_data/default_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_odbc_datasource_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_odbc_query_mock_response.json
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
Due: metadata-ingestion-lint-fix

perf(ingest/powerbi): increase default scan_batch_size from 1 to 20
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Due: metadata-ingestion-lint-fix

extract new_powerbi_reports
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
Due: metadata-ingestion-lint-fix

extract new_powerbi_user
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
Due: metadata-ingestion-lint-fix

Fixes
  e2e-test/ui/playwright/fixtures/login.fixture.ts
  e2e-test/ui/playwright/fixtures/login.ts
  e2e-test/ui/playwright/fixtures/seeding.fixture.ts
Due: none

update goldens
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
  metadata-ingestion/tests/integration/unity/unity_catalog_ml_model_mces_golden.json
Due: none

fix(CLI): ingestion rollback privileges for cli command
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/BatchIngestionRunResource.java
Due: metadata-service-restli-servlet-impl-spotless

fix: changes for sdkv2 , added integration and unit tests
  metadata-ingestion/docs/sources/informatica/informatica_post.md
  metadata-ingestion/docs/sources/informatica/informatica_pre.md
  metadata-ingestion/docs/sources/informatica/informatica_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/client.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/config.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/models.py
  metadata-ingestion/src/datahub/ingestion/source/informatica/source.py
  metadata-ingestion/tests/integration/informatica/__init__.py
  metadata-ingestion/tests/integration/informatica/golden/informatica_mces_golden.json
  metadata-ingestion/tests/integration/informatica/test_informatica.py
  metadata-ingestion/tests/unit/informatica/test_client.py
  metadata-ingestion/tests/unit/informatica/test_config.py
  metadata-ingestion/tests/unit/informatica/test_models.py
  metadata-ingestion/tests/unit/informatica/test_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(assertions): document TABLE_STATISTICS source type and Databricks assertion permissions
  docs/managed-datahub/observe/column-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ci): bundle constraints.txt in acryl-datahub PyPI wheel
  .github/workflows/publish-pypi-release.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(deploy): clean up shellcheck warnings in publish-pypi-release.yml
  .github/workflows/publish-pypi-release.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs(observe): rework assertions docs around Anomaly Detection and feature-availability stages
  docs-website/docusaurus.config.js
  docs-website/sidebars.js
  docs-website/src/components/FeatureAvailability/featureavailability.module.scss
  docs-website/src/components/FeatureAvailability/index.js
  docs-website/src/learn/data-freshness.md
  docs/api/tutorials/assertions.md
  docs/api/tutorials/sdk/bulk-assertions-sdk.md
  docs/managed-datahub/managed-datahub-overview.md
  docs/managed-datahub/observe/anomaly-detection.md
  docs/managed-datahub/observe/assertion-backfill.md
  docs/managed-datahub/observe/assertions.md
  docs/managed-datahub/observe/column-assertions.md
  docs/managed-datahub/observe/custom-sql-assertions.md
  docs/managed-datahub/observe/data-health-dashboard.md
  docs/managed-datahub/observe/freshness-assertions.md
  docs/managed-datahub/observe/schema-assertions.md
  docs/managed-datahub/observe/smart-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
Due: datahub-web-react-mdPrettierWriteChanged

chore(deps): bump cryptography to >=46.0.7
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

feat(ingest/sigma): add Data Models as Dataset with Sigma Data Model subtype
  metadata-ingestion/docs/sources/sigma/sigma_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_data_models.json
  metadata-ingestion/tests/integration/sigma/test_sigma.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(sigma/ingest): Update Data model support
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Due: metadata-ingestion-lint-fix

fix(sigma/ingest): Fix upstream for data model
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_data_models.json
Due: metadata-ingestion-lint-fix

feat(ingest/sigma): formula-based column-level lineage for workbook elements
  metadata-ingestion/docs/sources/sigma/sigma_post.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/formula_parser.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_extract_lineage.json
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_ingest_cll.json
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_ingest_shared_entities_mces.json
  metadata-ingestion/tests/integration/sigma/test_sigma.py
  metadata-ingestion/tests/unit/sigma/test_formula_parser.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

Fix failures
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
Due: metadata-ingestion-lint-fix

fix permission check
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
Due: metadata-io-spotless

Fix failures
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
Due: metadata-ingestion-lint-fix

Update failures
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
Due: metadata-ingestion-lint-fix
