Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:mdPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: ./gradlew :datahub-actions:lintFix
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

fix(ci): push images on pr-publish without waiting for tests (#6573)
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ci): adjust trivy configuration for pyspark cache (#14692)
  .github/workflows/docker-unified.yml
  trivy.yaml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(identity): Milestone 2 Invite Modal recommended users tab (#6570)
  datahub-web-react/src/app/identity/user/InviteUsersModal.components.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal.hooks.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal.tsx
  datahub-web-react/src/app/identity/user/PhosphorRoleUtils.tsx
  datahub-web-react/src/app/identity/user/RecommendedUsersList.components.tsx
  datahub-web-react/src/app/identity/user/RecommendedUsersList.tsx
  datahub-web-react/src/app/identity/user/__tests__/InviteUsersModal.test.tsx
  datahub-web-react/src/app/identity/user/__tests__/PhosphorRoleUtils.test.tsx
  datahub-web-react/src/app/identity/user/__tests__/RecommendedUsersList.test.tsx
  datahub-web-react/src/app/identity/user/useEmailInvitations.tsx
  datahub-web-react/src/app/identity/user/useUserRecommendations.tsx
  datahub-web-react/src/app/ingest/source/builder/constants.ts
Due: none

testfix
  smoke-test/tests/incidents/incidents_test.py
Due: smoke-test-lint-fix

feat(metrics): add modern Micrometer metrics PFP-1613
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/RequestContextTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/metrics/MetricUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/metrics/MetricUtilsTest.java
  smoke-test/tests/metrics/__init__.py
  smoke-test/tests/metrics/test_metrics.py
Due: metadata-operation-context-spotless, metadata-utils-spotless, smoke-test-lint-fix

comments
  datahub-web-react/src/graphql/incident.graphql
Due: none

back compat
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/incident/IncidentMapper.java
  datahub-graphql-core/src/main/resources/incident.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/incident/IncidentMapperTest.java
  datahub-web-react/src/graphql/incident.graphql
Due: datahub-graphql-core-spotless

feat(metrics): add modern Micrometer metrics PFP-1613 (#14661)
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/RequestContextTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/metrics/MetricUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/metrics/MetricUtilsTest.java
  smoke-test/tests/metrics/__init__.py
  smoke-test/tests/metrics/test_metrics.py
Due: metadata-operation-context-spotless, metadata-utils-spotless, smoke-test-lint-fix

feat(metrics) Rename request context metric names to follow convention
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/metrics/MetricUtils.java
Due: metadata-operation-context-spotless, metadata-utils-spotless

refactor(metrics): Make MetricUtils.registry non-nullable
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphQLEngine.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/GraphQLEngineTest.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/test/java/com/linkedin/metadata/system_telemetry/GraphQLTimingInstrumentationTest.java
  metadata-jobs/common/src/main/java/com/linkedin/metadata/kafka/listener/AbstractKafkaListener.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/DataHubUsageEventsProcessor.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/listener/mcl/MCLKafkaListener.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/DataHubUsageEventsProcessorTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/listener/mcl/MCLKafkaListenerTest.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessor.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/batch/BatchMetadataChangeProposalsProcessor.java
  metadata-jobs/mce-consumer/src/test/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessorTest.java
  metadata-jobs/pe-consumer/src/main/java/com/datahub/event/PlatformEventProcessor.java
  metadata-jobs/pe-consumer/src/test/java/com/datahub/event/PlatformEventProcessorTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/trace/KafkaTraceReaderFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactoryTest.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/common/client/ClientCache.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/restli-client/src/test/java/com/linkedin/common/client/BaseClientTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/metrics/MetricUtils.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/metrics/MicrometerMetricsRegistry.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/metrics/MetricUtilsTest.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/metrics/MicrometerMetricsRegistryTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-pe-consumer-spotless, metadata-service-factories-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-utils-spotless

Revoke invited users' tokens (#6546)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/plugins/AcrylGraphQLPlugin.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/RevokeUserInvitationResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/identity/user/UserAndGroupList.components.tsx
  datahub-web-react/src/app/identity/user/__tests__/UserActionsMenu.test.tsx
  datahub-web-react/src/app/identity/user/hooks/useRevokeUserInvitation.ts
  datahub-web-react/src/graphql/auth.graphql
  datahub-web-react/src/graphql/mutations.graphql
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/invite/InviteTokenService.java
Due: datahub-graphql-core-spotless, metadata-service-auth-impl-spotless

fix(ingest): use sequence for sdk input types
  metadata-ingestion/src/datahub/sdk/_shared.py
Due: metadata-ingestion-lint-fix

tests: add smoke, fix unit
  metadata-ingestion/tests/unit/cli/test_graphql_cli.py
  smoke-test/tests/cli/graphql_cmd/__init__.py
  smoke-test/tests/cli/graphql_cmd/sample_queries.graphql
  smoke-test/tests/cli/graphql_cmd/sample_queries.json
  smoke-test/tests/cli/graphql_cmd/test_graphql_cli_smoke.py
Due: metadata-ingestion-lint-fix, smoke-test-lint-fix

feat(cli): graphql command
  docs/cli-commands/graphql.md
  docs/cli.md
  metadata-ingestion/src/datahub/cli/graphql_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/tests/unit/cli/test_graphql_cli.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(openapi-v3) enhance scroll API (#14677)
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/Criterion.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityScrollResultV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
  smoke-test/tests/openapi/v3/entities.json
Due: metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless

feat(build): improve failure logging
  build.gradle
Due: none

feat(identity): Recommended users Tab (#6578)
  datahub-web-react/src/app/identity/user/InviteUsersModal.components.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal.hooks.tsx
  datahub-web-react/src/app/identity/user/InviteUsersModal.tsx
  datahub-web-react/src/app/identity/user/RecommendedUsersList.components.tsx
  datahub-web-react/src/app/identity/user/RecommendedUsersList.tsx
  datahub-web-react/src/app/identity/user/RecommendedUsersTable.components.tsx
  datahub-web-react/src/app/identity/user/RecommendedUsersTable.tsx
  datahub-web-react/src/app/identity/user/UserAndGroupList.components.tsx
  datahub-web-react/src/app/identity/user/UserAndGroupList.tsx
  datahub-web-react/src/app/identity/user/__tests__/InviteUsersModal.test.tsx
  datahub-web-react/src/app/identity/user/__tests__/RecommendedUsersList.test.tsx
  datahub-web-react/src/app/identity/user/useUserRecommendations.tsx
Due: none

nice
  smoke-test/tests/cypress/cypress/e2e/incidentsV2/v2_incidents.js
Due: none

fix smoke
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/hooks/useIncidentHandler.ts
  smoke-test/tests/cypress/cypress/e2e/incidentsV2/v2_incidents.js
Due: none

fix(web): conditionally set default executor pool (#6575)
  datahub-web-react/src/app/ingest/source/builder/useExecutorPoolSelection.ts
Due: none

feat(teams): fixing small UX issues with teams (#6582)
  datahub-web-react/src/app/settingsV2/notifications/NotificationTypeOptionsModal.tsx
  datahub-web-react/src/app/settingsV2/notifications/types.tsx
  datahub-web-react/src/app/settingsV2/personal/notifications/ActorNotificationScenarioSettings.tsx
  datahub-web-react/src/app/settingsV2/personal/notifications/ManageActorNotificationSettings.tsx
  datahub-web-react/src/app/settingsV2/platform/notifications/PlatformNotificationsScenarioSettings.tsx
  datahub-web-react/src/app/shared/subscribe/drawer/components/TeamsUserChannelSearch.tsx
  datahub-web-react/src/app/shared/subscribe/drawer/section/TeamsNotificationRecipientsSection/TeamsSearchInterface.tsx
Due: none

fix(ui) Asset summary page fixes for saas (#6581)
  datahub-web-react/src/alchemy-components/components/Editor/toolbar/HeadingMenu.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutSection.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/EditDescriptionModal.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/__tests__/useDescriptionUtils.test.ts
  datahub-web-react/src/app/entityV2/summary/documentation/useDescriptionUtils.ts
  datahub-web-react/src/app/entityV2/summary/links/AddEditLinkModal.tsx
  datahub-web-react/src/app/entityV2/summary/links/AddLinkModal.tsx
  datahub-web-react/src/app/entityV2/summary/links/LinksList.tsx
  datahub-web-react/src/app/entityV2/summary/links/__tests__/useLinkUtils.test.ts
  datahub-web-react/src/app/entityV2/summary/links/useLinkUtils.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/AssetsModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/dataProducts/DataProductsModule.tsx
  datahub-web-react/src/app/homeV3/moduleModals/common/ModuleDetailsForm.tsx
  datahub-web-react/src/app/homeV3/modules/YourAssetsModule.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/AssetCollectionModal.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/AssetsSection.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/ManualSelectAssetsTab.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/SelectAssetsSection.tsx
  datahub-web-react/src/app/homeV3/modules/documentation/RichTextContent.tsx
  datahub-web-react/src/app/homeV3/template/Template.tsx
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
  datahub-web-react/src/app/homeV3/template/components/utils.ts
  datahub-web-react/src/app/searchV2/SearchHeader.tsx
Due: none

fix(ui) Update overwrite logic for ownership prompts (#6584)
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/OwnershipPrompt.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/__tests__/useOwnershipPrompt.test.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/__tests__/utils.test.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/_tests_/utils.test.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/useOwnershipPrompt.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/utils.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/Prompt.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/UrnInput/useUrnInput.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/__tests__/useRemoveSuggested.test.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/useRemoveSuggested.ts
Due: none

test(propagation): Improve test term propagation (#6577)
  datahub-integrations-service/src/datahub_integrations/actions/oss/stats_util.py
  datahub-integrations-service/src/datahub_integrations/propagation/term/term_propagation_action.py
  smoke-test/tests/integrations_service_utils.py
  smoke-test/tests/propagation/test_term_propagation.py
Due: smoke-test-lint-fix

Adding support for oauth authentication providers
  docs/authentication/README.md
  docs/authentication/oauth-providers.md
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-models/src/main/pegasus/com/linkedin/settings/global/GlobalSettingsInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/global/OAuthProvider.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/global/OAuthSettings.pdl
  metadata-service/auth-filter/src/main/java/com/datahub/auth/authentication/filter/AuthenticationExtractionFilter.java
  metadata-service/auth-filter/src/test/java/com/datahub/auth/authentication/AuthExtractionTestConfiguration.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/authenticator/DataHubOAuthAuthenticator.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/token/DataHubOAuthSigningKeyResolver.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/authenticator/DataHubOAuthAuthenticatorTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/token/DataHubOAuthSigningKeyResolverTest.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless

Unsetting the default config
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

chore(ingestion/file-based lineage): update from com.linkedin.pegasus2avro.dataset to datahub.metadata.schema_classes (#14690)
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(ui): Improve Model/Model Group description handling (truncate + editableProperties) (#14595)
  datahub-web-react/src/app/entityV2/mlModel/profile/MLModelGroupsTab.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/profile/ModelGroupModels.tsx
  datahub-web-react/src/graphql/fragments.graphql
Due: none

feat(superset/preset): add dataset and column description (#14426)
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(superset/preset): propagate chart & dashboard tags to DataHub
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_aggregate_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
Due: metadata-ingestion-lint-fix, update-capability-summary

docs: update capability summary
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
Due: none

chore: remove unnecessary check for empty array
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Due: metadata-ingestion-lint-fix, update-capability-summary

test: rebase and fix tests
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
Due: none

Remove unneded qualification
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

Add pr review fixes
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

Fix athena tests
  metadata-ingestion/src/datahub/ingestion/source/sql/athena_properties_extractor.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Eliminate inner function
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

Bump sqlglot to the latest
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$
