Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

test(ingest/dremio): run the integration suite on the host's own architecture
  metadata-ingestion/tests/integration/dremio/docker-compose.yml
Due: none

feat(documents): add explicit save mode for document editor behind fe… (#20053)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/alchemy-components/components/Editor/EditorImpl.tsx
  datahub-web-react/src/alchemy-components/components/Editor/toolbar/Toolbar.tsx
  datahub-web-react/src/app/entityV2/document/DocumentModal.tsx
  datahub-web-react/src/app/entityV2/document/DocumentNativeProfile.tsx
  datahub-web-react/src/app/entityV2/document/__tests__/DocumentModal.test.tsx
  datahub-web-react/src/app/entityV2/document/summary/EditableContent.tsx
  datahub-web-react/src/app/entityV2/document/summary/__tests__/EditableContent.test.tsx
  datahub-web-react/src/app/sharedV2/confirmation/DiscardUnsavedChangesConfirmationContext.tsx
  datahub-web-react/src/app/useAppConfig.ts
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless, web-react-lint-fix

fix(ingest): clarify upstreamLineage patch warnings and counters
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/workunit_processors/ensure_aspect_size.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest): split oversized upstreamLineage patches
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/configuration/env_vars.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/ensure_aspect_size.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
  metadata-ingestion/tests/unit/configuration/test_env_vars.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(web): share profile chunks and catch failed loads
  datahub-web-react/scripts/compare-eager-bundle.sh
  datahub-web-react/scripts/measure-eager-bundle.mjs
  datahub-web-react/src/app/entityV2/__tests__/profileChunkSplit.test.ts
  datahub-web-react/src/app/entityV2/api/ApiEntity.tsx
  datahub-web-react/src/app/entityV2/application/ApplicationEntity.tsx
  datahub-web-react/src/app/entityV2/businessAttribute/BusinessAttributeEntity.tsx
  datahub-web-react/src/app/entityV2/chart/ChartEntity.tsx
  datahub-web-react/src/app/entityV2/container/ContainerEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entityV2/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/document/DocumentEntity.tsx
  datahub-web-react/src/app/entityV2/domain/DomainEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/GlossaryRelatedTerms.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/GlossaryRelatedTermsResult.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/RelatedTermTypes.ts
  datahub-web-react/src/app/entityV2/metric/MetricEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entityV2/mlPrimaryKey/MLPrimaryKeyEntity.tsx
  datahub-web-react/src/app/entityV2/query/QueryEntity.tsx
  datahub-web-react/src/app/entityV2/schemaField/SchemaFieldEntity.tsx
  datahub-web-react/src/app/entityV2/semanticModel/SemanticModelEntity.tsx
  datahub-web-react/src/app/entityV2/shared/__tests__/lazyEntityProfile.test.tsx
  datahub-web-react/src/app/entityV2/shared/lazyEntityProfile.tsx
  datahub-web-react/src/app/entityV2/shared/profileChunks.tsx
  datahub-web-react/src/app/entityV2/summary/modules/relatedTerms/RelatedTermsModule.tsx
Due: web-react-lint-fix

test(ingest/dremio): run the integration suite on the host's own architecture (#20300)
  metadata-ingestion/tests/integration/dremio/docker-compose.yml
Due: none

feat(ingest/extractor): read Protobuf comments and options, keep JSON Schema annotations
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/src/datahub/ingestion/extractor/protobuf_util.py
Due: metadata-ingestion-lint-fix

feat(ingest/kafka): apply schema annotations for JSON Schema and Protobuf topics
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_config.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_constants.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_schema_registry_base.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_write_semantics.py
  metadata-ingestion/tests/unit/kafka/test_kafka_schema_annotations.py
Due: metadata-ingestion-lint-fix

perf(search): wait for the default view before searching
  datahub-web-react/src/app/context/UserContextProvider.tsx
  datahub-web-react/src/app/context/__tests__/UserContextProvider.defaultView.test.tsx
  datahub-web-react/src/app/searchV2/SearchPage.tsx
  datahub-web-react/src/app/searchV2/__tests__/useIsDefaultViewReady.test.ts
  datahub-web-react/src/app/searchV2/sidebar/__tests__/useAggregationsQuery.test.tsx
  datahub-web-react/src/app/searchV2/sidebar/useAggregationsQuery.ts
  datahub-web-react/src/app/searchV2/useIsDefaultViewReady.ts
Due: web-react-lint-fix

perf(search): skip typeahead until the search bar is in use
  datahub-web-react/src/app/searchV2/searchBarV2/SearchBarV2.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/__tests__/useSearchBarData.test.ts
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useSearchBarData.ts
Due: web-react-lint-fix

perf(search): defer the result profile until a row is selected
  datahub-web-react/src/app/searchV2/SearchResultList.tsx
  datahub-web-react/src/app/searchV2/SearchResults.tsx
  datahub-web-react/src/app/searchV2/__tests__/SearchResults.test.tsx
Due: web-react-lint-fix

fix(lineage): leave dataJobInputOutput alone on repository-only upstream edits
  metadata-service/services/src/main/java/com/linkedin/metadata/service/LineageService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/LineageServiceTest.java
Due: metadata-service-services-spotless

refactor(search): derive the exact-name keyword fields from the boost field set
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
Due: metadata-io-spotless

fix(domains): harden the owner-match sidebar search after review
  datahub-web-react/src/app/domainV2/DomainSearchResultItem.tsx
  datahub-web-react/src/app/domainV2/__tests__/DomainSearchResultItem.test.tsx
  datahub-web-react/src/app/domainV2/__tests__/useDomainSearchResults.test.tsx
  datahub-web-react/src/app/domainV2/useDomainSearchResults.ts
Due: web-react-lint-fix

Update v_2_3_0.md
  docs/managed-datahub/release-notes/v_2_3_0.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ui): clear eslint errors from alchemy toast migration
  datahub-web-react/src/app/identity/serviceAccount/__tests__/ServiceAccountList.hooks.test.tsx
  datahub-web-react/src/app/shared/Message.tsx
Due: web-react-lint-fix

feat(documents): cascade soft-delete to nested documents
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/CreateDocumentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/DeleteDocumentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/MoveDocumentResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/CreateDocumentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/DeleteDocumentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/MoveDocumentResolverTest.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NonBlockingConfigs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/documents/DeleteOrphanedDocumentChildren.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/documents/DeleteOrphanedDocumentChildrenStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/documents/DeleteOrphanedDocumentChildrenStepTest.java
  datahub-web-react/src/app/document/hooks/__tests__/useDocumentTreeMutations.test.tsx
  datahub-web-react/src/app/document/hooks/useDocumentTreeMutations.ts
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/__tests__/DocumentActionsMenu.test.tsx
  datahub-web-react/src/i18n/locales/en/home.v2.json
  docs/how/updating-datahub.md
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DocumentDeleteLimitException.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DocumentDeleteResult.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DocumentService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/DocumentServiceTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, datahub-upgrade-spotless, metadata-io-spotless, metadata-service-services-spotless, web-react-lint-fix

perf(editor): render read-only docs without starting Remirror
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
  datahub-web-react/src/alchemy-components/components/Editor/EditorTheme.tsx
  datahub-web-react/src/alchemy-components/components/Editor/ReadOnlyEditor.tsx
  datahub-web-react/src/alchemy-components/components/Editor/__tests__/ReadOnlyEditor.test.tsx
  datahub-web-react/src/alchemy-components/components/Editor/editorContentStyles.ts
  datahub-web-react/src/alchemy-components/components/Editor/extensions/markdownToHtml.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/mentions/DataHubMentionsExtension.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/mentions/constants.ts
  datahub-web-react/src/alchemy-components/components/Editor/readOnlyHtml.ts
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entity/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entity/shared/entityForm/Form.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/document/changeHistory/PreviousVersionModal.tsx
  datahub-web-react/src/app/entityV2/document/summary/EditableContent.tsx
  datahub-web-react/src/app/entityV2/shared/announce/CreateEntityAnnouncementModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entityV2/shared/notes/NotesSection.tsx
  datahub-web-react/src/app/entityV2/shared/summary/SummaryAboutSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryModal.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/StructuredPropertyValue.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutSection.tsx
  datahub-web-react/src/app/homeV2/action/announcement/Announcement.tsx
  datahub-web-react/src/app/homeV2/content/tabs/announcements/AnnouncementCard.tsx
Due: web-react-lint-fix

fix(editor): type the read-only editor ref as a div
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
Due: web-react-lint-fix

fix(search): fetch typeahead after a view change made while the bar is closed
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/__tests__/useSearchBarData.test.ts
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useSearchBarData.ts
Due: web-react-lint-fix

fix(search): open the result profile on click and arrow keys only
  datahub-web-react/src/app/searchV2/SearchResultList.tsx
  datahub-web-react/src/app/searchV2/SearchResults.tsx
  datahub-web-react/src/app/searchV2/__tests__/SearchResults.test.tsx
Due: web-react-lint-fix

fix(editor): keep file cards on the read-only surface
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
  datahub-web-react/src/alchemy-components/components/Editor/ReadOnlyEditor.tsx
  datahub-web-react/src/alchemy-components/components/Editor/__tests__/ReadOnlyEditor.test.tsx
  datahub-web-react/src/alchemy-components/components/Editor/readOnlyContent.tsx
  datahub-web-react/src/alchemy-components/components/Editor/readOnlyHtml.ts
Due: web-react-lint-fix

fix(editor): reject backslash urls on the read-only surface
  datahub-web-react/src/alchemy-components/components/Editor/__tests__/ReadOnlyEditor.test.tsx
  datahub-web-react/src/alchemy-components/components/Editor/readOnlyContent.tsx
  datahub-web-react/src/alchemy-components/components/Editor/readOnlyHtml.ts
Due: web-react-lint-fix

fix(editor): strip tab and line breaks from read-only urls
  datahub-web-react/src/alchemy-components/components/Editor/__tests__/ReadOnlyEditor.test.tsx
  datahub-web-react/src/alchemy-components/components/Editor/readOnlyHtml.ts
Due: web-react-lint-fix

feat(documents): cascade soft-delete to nested documents (#20308)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/CreateDocumentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/DeleteDocumentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/MoveDocumentResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/CreateDocumentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/DeleteDocumentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/MoveDocumentResolverTest.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NonBlockingConfigs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/documents/DeleteOrphanedDocumentChildren.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/documents/DeleteOrphanedDocumentChildrenStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/documents/DeleteOrphanedDocumentChildrenStepTest.java
  datahub-web-react/src/app/document/hooks/__tests__/useDocumentTreeMutations.test.tsx
  datahub-web-react/src/app/document/hooks/useDocumentTreeMutations.ts
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/__tests__/DocumentActionsMenu.test.tsx
  datahub-web-react/src/i18n/locales/en/home.v2.json
  docs/how/updating-datahub.md
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DocumentDeleteLimitException.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DocumentDeleteResult.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DocumentService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/DocumentServiceTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, datahub-upgrade-spotless, metadata-io-spotless, metadata-service-services-spotless, web-react-lint-fix

refactor(ingest/unity): route Genie diagnostic calls through the API proxy
  metadata-ingestion/src/datahub/ingestion/source/unity/genie_diagnostics.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/test_unity_catalog_genie_diagnostics.py
Due: metadata-ingestion-lint-fix

fix(ingest/unity): report the failing Genie page and keep list failures visible
  metadata-ingestion/src/datahub/ingestion/source/unity/genie_diagnostics.py
  metadata-ingestion/tests/unit/test_unity_catalog_genie_diagnostics.py
Due: metadata-ingestion-lint-fix

fix(ingest/unity): keep Genie log chunks within the run-summary line limit
  metadata-ingestion/docs/sources/databricks/unity-catalog_post.md
  metadata-ingestion/src/datahub/ingestion/source/unity/genie_diagnostics.py
  metadata-ingestion/tests/unit/test_unity_catalog_genie_diagnostics.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test(ingest/unity): cover Genie dedup, missing space ids, and repeated tokens
  metadata-ingestion/tests/unit/test_unity_catalog_genie_diagnostics.py
Due: metadata-ingestion-lint-fix

fix(auth): reuse the OIDC provider when SSO settings are unchanged
  datahub-frontend/app/auth/sso/SsoConfigs.java
  datahub-frontend/app/auth/sso/SsoManager.java
  datahub-frontend/app/auth/sso/oidc/DiscoveryTimingOidcConfiguration.java
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/OidcProvider.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcAuthenticator.java
  datahub-frontend/test/security/SsoManagerProviderCacheTest.java
Due: none

fix(ci): classify relationship and search changes by what N-1 sees
  .github/scripts/rollback/model.py
  .github/scripts/rollback/pdl_parser.py
  .github/scripts/rollback/pdl_rules.py
  .github/scripts/rollback/pipeline.py
  .github/scripts/test/test_rollback_analysis.py
Due: none

docs(managed-datahub): release notes for v2.3.1 (#20256)
  docs/managed-datahub/release-notes/v_2_3_0.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ci): classify index changes by what the rollback itself repairs
  .github/scripts/rollback/model.py
  .github/scripts/rollback/pdl_rules.py
  .github/scripts/rollback/pipeline.py
  .github/scripts/rollback/report.py
  .github/scripts/test/test_rollback_analysis.py
Due: none

feat(ui/lineage): Support column -> entity (metric) lineage (#19847)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-web-react/src/app/entityV2/metric/MetricEntity.tsx
  datahub-web-react/src/app/entityV2/shared/embed/UpstreamHealth/UpstreamHealth.tsx
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/lineageV3/LineageDisplay.tsx
  datahub-web-react/src/app/lineageV3/LineageEdge/CustomSmoothStepEdge.tsx
  datahub-web-react/src/app/lineageV3/LineageEdge/DataJobInputOutputEdge.tsx
  datahub-web-react/src/app/lineageV3/LineageEdge/LineageEdge.hooks.ts
  datahub-web-react/src/app/lineageV3/LineageEdge/LineageTableEdge.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/Column.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/LineageEntityNode.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/NodeContents.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/useAvoidIntersections.ts
  datahub-web-react/src/app/lineageV3/LineageSidebar.tsx
  datahub-web-react/src/app/lineageV3/NodeWrapper.tsx
  datahub-web-react/src/app/lineageV3/__tests__/useColumnHighlighting.test.ts
  datahub-web-react/src/app/lineageV3/common.ts
  datahub-web-react/src/app/lineageV3/constants.ts
  datahub-web-react/src/app/lineageV3/queries/useSearchAcrossLineage.ts
  datahub-web-react/src/app/lineageV3/types.ts
  datahub-web-react/src/app/lineageV3/useColumnHighlighting.ts
  datahub-web-react/src/app/lineageV3/useComputeGraph/__tests__/getFineGrainedLineage.test.ts
  datahub-web-react/src/app/lineageV3/useComputeGraph/getFineGrainedLineage.ts
  datahub-web-react/src/graphql/lineage.graphql
  e2e-test/ui/playwright/pages/lineage-base.page.ts
  e2e-test/ui/playwright/tests/metrics/fixtures/data.json
  e2e-test/ui/playwright/tests/metrics/metrics-lineage.spec.ts
Due: datahub-graphql-core-spotless, web-react-lint-fix

feat(darkmode): updates on dark mode colors and beta tag (#19864)
  datahub-web-react/src/alchemy-components/components/Dropdown/DefaultDropdownContainer.tsx
  datahub-web-react/src/alchemy-components/components/Menu/components/MenuItemRenderer.tsx
  datahub-web-react/src/alchemy-components/components/Tooltip/Tooltip.tsx
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/components/MenuItem.tsx
  datahub-web-react/src/app/settingsV2/Preferences.tsx
  datahub-web-react/src/app/settingsV2/__tests__/Preferences.test.tsx
  datahub-web-react/src/app/shared/product/update/ProductUpdates.tsx
  datahub-web-react/src/app/theme/GlobalThemeStyles.tsx
  datahub-web-react/src/conf/theme/colorThemes/dark.ts
  datahub-web-react/src/conf/theme/colorThemes/light.ts
  datahub-web-react/src/conf/theme/colorThemes/types.ts
  datahub-web-react/src/i18n/locales/en/settings.preferences.json
  datahub-web-react/src/i18n/locales/ru/settings.preferences.json
Due: web-react-lint-fix

chore(security): bump Bouncy Castle jdk18on to 1.86 (#19924)
  build.gradle
  datahub-frontend/gradle.lockfile
  datahub-upgrade/gradle.lockfile
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/datahub-client/gradle.lockfile
Due: check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
