Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:mdPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: ./gradlew :datahub-actions:lintFix
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

Add setup and permissions sections to Fivetran API documentation
  metadata-ingestion/docs/sources/fivetran/fivetran_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(fivetran): update documentation for quoted identifiers and case sensitivity in Snowflake
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/fivetran/fivetran_pre.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(fivetran): update handling of database and schema names to use quoted identifiers for Snowflake compatibility
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/fivetran/fivetran_pre.md
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, update-capability-summary

refactor(fivetran): implement backward compatibility for unquoted identifiers in Snowflake
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
  metadata-ingestion/tests/unit/fivetran/test_fivetran_query.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Add logging to schema resolver
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
Due: metadata-ingestion-lint-fix

Update metadata-ingestion/src/datahub/ingestion/source/abs/config.py
  metadata-ingestion/src/datahub/ingestion/source/abs/config.py
Due: metadata-ingestion-lint-fix, update-capability-summary

feat(dbt): emit Query entities from meta.queries field (#15150)
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_query_emission.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Refactor: Move logger initialization in schema_resolver
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
Due: metadata-ingestion-lint-fix

proper typing for check_path_specs_not_empty
  metadata-ingestion/src/datahub/ingestion/source/abs/config.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(dbt): add type assertions for mypy in query emission tests
  metadata-ingestion/tests/unit/dbt/test_dbt_query_emission.py
Due: metadata-ingestion-lint-fix

Update queries_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
Due: metadata-ingestion-lint-fix, update-capability-summary

docs(bigquery): schema resolver strategy (#15164)
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Add missing test and fix pr review issues
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_lineage_consistency.py
Due: metadata-ingestion-lint-fix

Update ConfigUtil.java
  datahub-frontend/app/utils/ConfigUtil.java
Due: none

fix(bigquery): apply case normalization consistently for temp table inference (#15252)
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Add DecryptingEnvironmentPostProcessor class
  metadata-service/configuration/src/main/java/com/linkedin/metadata/spring/DecryptingEnvironmentPostProcessor.java
Due: metadata-service-configuration-spotless

Add DecryptingEnvironmentPostProcessor to spring.factories
  metadata-service/configuration/src/main/resources/META-INF/spring.factories
Due: none

Add base path configurations for metadata service
  datahub-frontend/app/utils/ConfigUtil.java
Due: none

fix(sdk): DataJob environment defaults to PROD when using flow_urn (#15381)
  metadata-ingestion/src/datahub/sdk/datajob.py
  metadata-ingestion/tests/unit/sdk_v2/test_datajob.py
Due: metadata-ingestion-lint-fix

Refactor DecryptingEnvironmentPostProcessor code
  metadata-service/configuration/src/main/java/com/linkedin/metadata/spring/DecryptingEnvironmentPostProcessor.java
Due: metadata-service-configuration-spotless

fix(abs): Prevent crash when validating dict path_specs in ABS source (#15329)
  metadata-ingestion/src/datahub/ingestion/source/abs/config.py
  metadata-ingestion/tests/unit/abs/test_abs_config.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Refactor DecryptingEnvironmentPostProcessor for GCM support
  metadata-service/configuration/src/main/java/com/linkedin/metadata/spring/DecryptingEnvironmentPostProcessor.java
Due: metadata-service-configuration-spotless

Implement AES/GCM decryption utility methods
  datahub-frontend/app/utils/ConfigUtil.java
Due: none

Update decryptGCM method documentation
  datahub-frontend/app/utils/ConfigUtil.java
Due: none

Refactor DecryptingEnvironmentPostProcessor for clarity
  metadata-service/configuration/src/main/java/com/linkedin/metadata/spring/DecryptingEnvironmentPostProcessor.java
Due: metadata-service-configuration-spotless

update the structure and annotation to show correct counts
  datahub-web-react/src/app/lineageV3/LineageAnnotationNode/useAddAnnotationNodes.ts
  datahub-web-react/src/app/lineageV3/LineageVisualization.tsx
  datahub-web-react/src/app/lineageV3/useComputeGraph/computeImpactAnalysisGraph.ts
  datahub-web-react/src/app/lineageV3/useComputeGraph/limitNodes/limitNodesPerLevel.ts
  datahub-web-react/src/app/lineageV3/useComputeGraph/limitNodes/limitNodesUtils.ts
  datahub-web-react/src/app/lineageV3/useComputeGraph/limitNodesPerLevel.ts
  datahub-web-react/src/app/lineageV3/useComputeGraph/useComputeGraph.tsx
Due: none

feat(tests): add unit tests for Dataplex zone extraction and pagination handling in lakes tests
  metadata-ingestion/tests/unit/dataplex/test_dataplex_lakes.py
  metadata-ingestion/tests/unit/dataplex/test_dataplex_zones.py
Due: metadata-ingestion-lint-fix

fix(snowflake): support conditional multi-table INSERT statements (#14929)
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_queries.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(es8): fix performLowLevelRequest in es shim
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/client/shim/impl/Es8SearchClientShim.java
Due: metadata-io-spotless

add tests
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/__tests__/useAddModuleMenu.test.tsx
  datahub-web-react/src/app/lineageV3/useComputeGraph/limitNodes/__tests__/limitNodesUtils.test.ts
  datahub-web-react/src/app/lineageV3/useComputeGraph/limitNodes/limitNodesPerLevel.ts
Due: none

Add test detail
  metadata-ingestion-modules/gx-plugin/tests/unit/test_great_expectations_action.py
Due: metadata-ingestion-modules-gx-plugin-lint-fix

add missed change
  datahub-web-react/src/app/lineageV3/useComputeGraph/computeImpactAnalysisGraph.ts
Due: none

Fix pr review comments
  metadata-ingestion-modules/airflow-plugin/Dockerfile.test
  metadata-ingestion-modules/airflow-plugin/README.md
  metadata-ingestion-modules/airflow-plugin/run-tests.sh
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_airflow_compat.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/_airflow_compat.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/_extractors.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/_openlineage_compat.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_airflow_compat.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/hooks/datahub.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-modules-airflow-plugin-lint-fix

fix(datahub-actions): make config in ActionConfig optional
  datahub-actions/src/datahub_actions/pipeline/pipeline_config.py
  datahub-actions/tests/unit/pipeline/test_pipeline.py
Due: datahub-actions-lint-fix

fix(searchBarV2): fix selecting option by hovering (#15349)
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.stories.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/OptionWrapper.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/types.ts
  datahub-web-react/src/app/searchV2/searchBarV2/SearchBarV2.tsx
Due: none

fix(snowflake): add type annotations for mypy compliance
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_queries.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$
