Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

docs(ingest): clarify matchType absence is not a guarantee of exactness
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ingest): move casing membership into SchemaResolver; drop _Catalog
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_normalize_lineage_urns.py
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
  metadata-ingestion/tests/unit/sql_parsing/test_schemaresolver.py
Due: metadata-ingestion-lint-fix

feat(ingest): warn when a configured upstream platform matches no references
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

docs(ingest): document lineage aspects not yet covered by casing reconciliation
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ingest): collapse casing catalog to a single index (drop the URN set)
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_normalize_lineage_urns.py
Due: metadata-ingestion-lint-fix

perf(ingest): make the casing index disk-backed (bounded memory)
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
Due: metadata-ingestion-lint-fix

fix(ingest): don't let one malformed lineage ref abort healing of its siblings
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): resolve casing against schema-bearing entities; revert SchemaResolver changes
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_normalize_lineage_urns.py
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
  metadata-ingestion/tests/unit/sql_parsing/test_schemaresolver.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_normalize_lineage_urns.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest): make lineage URN casing guide user-facing, frame legacy vs recommended
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
Due: datahub-web-react-mdPrettierWriteChanged

test(ingest): assert an unchanged raw MCP is not re-serialized
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): fail config parse when enabled without upstream_platforms
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): bulk-load upstream catalogs up front, drop lazy-on-first-reference
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): type matchType verdicts as a Literal
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): delegate lineage casing matching to SchemaResolver.resolve_table
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

perf(ingest): fetch resolved schema only for column-level casing
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

docs(ingest): reflect disk-backed casing index (memory bounded)
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_normalize_lineage_urns.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest): note that parse-time-dropped CLL is not recoverable by this processor
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingest): surface casing failures and unresolved refs in the run report
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): rename lineage casing processor to auto_resolve_lineage_urns
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/__init__.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest): parse field refs with SchemaFieldUrn, closing a bogus-field-path bug
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

docs(models): clarify matchType is a point-in-time verdict; add UNRESOLVED to field docs
  metadata-models/src/main/pegasus/com/linkedin/dataset/FineGrainedLineage.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataset/LineageMatchType.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataset/Upstream.pdl
Due: update-lineage-file

refactor(ingest): validate dataset refs with DatasetUrn instead of guess_entity_type
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): hoist sqlglot imports to one chokepoint, fail loudly if missing
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ingest): add workunit-level casing metrics; tidy process loop
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

docs(ingest): capture resolver-iteration and resolve_table_parts design notes
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

feat(ingest): surface patch-based lineage skipped by casing reconciliation
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest): note original-URN provenance option at the rewrite site
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): address review on auto_resolve_lineage_urns
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

fix(ingest): fail closed in should_enable under a mock/degenerate config
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): validate sqlglot dependency at config parse, only when enabled
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

test(ingest): drop dead populate_membership param from multi-platform test stub
  metadata-ingestion/tests/unit/workunit_processors/test_auto_normalize_lineage_urns.py
Due: metadata-ingestion-lint-fix

feat(ingest): reconcile chartInfo upstream dataset references
  metadata-ingestion/docs/dev_guides/lineage_urn_casing.md
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_normalize_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_normalize_lineage_urns.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ingest): share table-ref counter dispatch via _tally_table_ref
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): inherit env/platform_instance mixins in UpstreamPlatformCasing
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): normalize UpstreamPlatformCasing.platform in a config validator
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
Due: metadata-ingestion-lint-fix

docs(ingest): name normalizedUrn as the proper fix for the casing index
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): move unresolved-ref sample onto the processor report
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

refactor(ingest): fold workunit counters into the normalizer loop
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

feat(ingest): surface unmatched-platform warning in the pipeline report
  metadata-ingestion/src/datahub/ingestion/workunit_processors/auto_resolve_lineage_urns.py
  metadata-ingestion/tests/unit/workunit_processors/test_auto_resolve_lineage_urns.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
