Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-dagster-plugin-lint-fix:
  name: metadata-ingestion-modules/dagster-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:dagster-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-gx-plugin-lint-fix:
  name: metadata-ingestion-modules/gx-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:gx-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-prefect-plugin-lint-fix:
  name: metadata-ingestion-modules/prefect-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:prefect-plugin:lintFix
  language: system
  pass_filenames: false

ci(smoke): report smoke test results to codecov (#12556)
  .github/workflows/docker-unified.yml
Due: none

fix(openapi-spec): fix openapi spec oneOf schema
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Due: metadata-service-openapi-servlet-spotless

feat(UI): Confirmation before deleting Link (#12162)
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/LinkList.tsx
  smoke-test/tests/cypress/cypress/e2e/domains/nested_domains.js
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
Due: none

feat(ingest/s3): ignore depth mismatched path (#12326)
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Due: metadata-ingestion-lint-fix

feat(docs-site) adding case studies and updating banner (#12525)
  docs-website/adoptionStoriesIndexes.json
  docs-website/docusaurus.config.js
  docs-website/src/pages/_components/CaseStudy/caseStudyContent.js
  docs-website/static/img/adoption-stories/adoption-stories-etsy.png
  docs-website/static/img/adoption-stories/adoption-stories-slack.png
  docs-website/static/img/logos/companies/etsy.png
  docs-website/static/img/logos/companies/slack.png
Due: none

feat(ingest/mongodb) re-order aggregation logic (#12428)
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_no_random_sampling_golden.json
  metadata-ingestion/tests/integration/mongodb/test_mongodb.py
Due: metadata-ingestion-lint-fix

docs(salesforce): add missing salesforce source to cli doc (#12550)
  docs/cli.md
Due: none

comment changes
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Due: metadata-ingestion-lint-fix

Skip schema fields with empty fieldPaths to prevent the dataset mapper from erroring out
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/SchemaMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/SchemaMetadataMapper.java
Due: datahub-graphql-core-spotless

feat(UI): add horizontal BarChart (#229) (#5067)
  datahub-web-react/src/alchemy-components/components/BarChart/BarChart.stories.tsx
  datahub-web-react/src/alchemy-components/components/BarChart/BarChart.tsx
  datahub-web-react/src/alchemy-components/components/BarChart/components.tsx
  datahub-web-react/src/alchemy-components/components/BarChart/components/TruncatableTick.tsx
  datahub-web-react/src/alchemy-components/components/BarChart/constants.ts
  datahub-web-react/src/alchemy-components/components/BarChart/hooks/useAdaptYAccessorToZeroValues.ts
  datahub-web-react/src/alchemy-components/components/BarChart/hooks/useMaxDataValue.ts
  datahub-web-react/src/alchemy-components/components/BarChart/types.ts
  datahub-web-react/src/alchemy-components/components/BarChart/utils.ts
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
  datahub-web-react/src/alchemy-components/components/LineChart/LineChart.stories.tsx
  datahub-web-react/src/alchemy-components/components/LineChart/LineChart.tsx
  datahub-web-react/src/alchemy-components/components/LineChart/components.tsx
  datahub-web-react/src/alchemy-components/components/LineChart/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/QueryCountGraph/QueryCountChart.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/QueryCountGraph/useQueryCountData.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/RowCountGraph/RowCountGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/RowCountGraph/useRowCountData.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StorageSizeGraph/StorageSizeGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StorageSizeGraph/useStorageSizeData.ts
Due: none

feat(openapi): precondition exceptions return 412 (#12552)
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/AspectValidationException.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/ValidationExceptionCollection.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/ValidationSubType.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/plugins/validation/ValidationExceptionCollectionTest.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/validation/ValidationException.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
  smoke-test/tests/openapi/v3/exceptions.json
Due: entity-registry-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-service-openapi-servlet-spotless

fix(forms) Revert patching assigning forms bug (#5065)
  metadata-service/services/src/main/java/com/linkedin/metadata/service/FormService.java
Due: metadata-service-services-spotless

feat(openapi): point in time parameter (elasticsearch only) (#12553)
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  smoke-test/tests/openapi/v3/entities.json
Due: metadata-service-openapi-servlet-spotless

fix(openapi-spec): fix openapi spec oneOf schema (#12561)
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Due: metadata-service-openapi-servlet-spotless

fix(autocomplete): fix autocomplete duplicate field (#12558)
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/BaseRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
Due: metadata-io-spotless, metadata-service-servlet-spotless

feat(ingest/mssql): improve stored procedure splitting
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
  metadata-ingestion/tests/unit/sql_parsing/test_split_statements.py
Due: metadata-ingestion-lint-fix

migrate to class-based parser
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
  metadata-ingestion/tests/unit/sql_parsing/test_split_statements.py
Due: metadata-ingestion-lint-fix

fix(iceberg): delete associated platform resources when deleting warehouse, add telemetry
  metadata-ingestion/src/datahub/cli/iceberg_cli.py
Due: metadata-ingestion-lint-fix

fix bug with end keyword
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
Due: metadata-ingestion-lint-fix

fix order by
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
Due: metadata-ingestion-lint-fix

build: speed up executor docker (#5074)
  docker/datahub-executor/Dockerfile
Due: none

feat(ingest/snowflake): apply table name normalization for queries_v2
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
Due: metadata-ingestion-lint-fix

build: remove unnecessary apt get (#5073)
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-integrations-service/Dockerfile
Due: none

docs(iceberg): add spark-sql samples
  docs/iceberg-catalog.md
Due: none

feat(search): include timestamp for entity metadata change
  entity-registry/src/main/java/com/linkedin/metadata/models/SearchableFieldSpecExtractor.java
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
  metadata-models/src/main/pegasus/com/linkedin/businessattribute/BusinessAttributeAssociation.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/GlossaryTermAssociation.pdl
  metadata-models/src/main/pegasus/com/linkedin/schema/EditableSchemaFieldInfo.pdl
Due: entity-registry-spotless, metadata-io-spotless

Add missing dbt extra requirement to cli doc
  docs/cli.md
Due: none

docs(iceberg): add notes on configuring public access for iceberg tables
  docs/iceberg-catalog.md
Due: none

fix(looker): sort user mapping for consistency
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
Due: metadata-ingestion-lint-fix

feat(sdk): add scaffolding for sdk v2 (#12554)
  metadata-ingestion/setup.cfg
  metadata-ingestion/src/datahub/errors.py
  metadata-ingestion/src/datahub/sdk/__init__.py
  metadata-ingestion/src/datahub/sdk/_all_entities.py
  metadata-ingestion/src/datahub/sdk/_attribution.py
  metadata-ingestion/src/datahub/sdk/_entity.py
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/container.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/src/datahub/sdk/resolver_client.py
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_ingestion_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_container_db_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_container_schema_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_dataset_creation_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_dataset_update_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_client_v2.py
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
  metadata-ingestion/tests/unit/sdk_v2/test_entity_client.py
Due: metadata-ingestion-lint-fix

move assert_entity_golden helper
  metadata-ingestion/tests/test_helpers/sdk_v2_helpers.py
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
Due: metadata-ingestion-lint-fix

fix(ui) Show editable field info for fields based on exact fieldPath version
  datahub-web-react/src/app/entityV2/dataset/profile/schema/utils/utils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/AboutFieldTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldDescriptionInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldGlossaryTermsInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldTagsInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useTagsAndTermsRendererFeatureTable.tsx
Due: none

fix(filters) Fix autocomplete for platforms and improve advanced search builder (#5075)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataplatform/DataPlatformType.java
  datahub-web-react/src/app/searchV2/filters/value/EntityValueMenu.tsx
  datahub-web-react/src/app/searchV2/filters/value/utils.tsx
Due: datahub-graphql-core-spotless

feat(UI): improve typing on stats tab (#229) (#5078)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/QueryCountGraph/QueryCountChart.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/QueryCountGraph/useQueryCountData.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/RowCountGraph/RowCountGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/RowCountGraph/useRowCountData.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StorageSizeGraph/StorageSizeGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StorageSizeGraph/useStorageSizeData.ts
Due: none

feat(ui/forms): show existing values for glossary and column glossary terms prompts (#5063)
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/GlossaryTermsPrompt/_tests_/utils.test.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/GlossaryTermsPrompt/useGetDefaultTerms.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/GlossaryTermsPrompt/useGlossaryTermsPrompt.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/GlossaryTermsPrompt/utils.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/UrnInput/useUrnInput.tsx
Due: none

test(ui/forms): add tests for getting default documentation values (#5080)
  datahub-web-react/src/app/entity/shared/entityForm/prompts/DocumentationPrompt/_tests_/mocks.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/DocumentationPrompt/_tests_/utils.test.ts
Due: none

fix platform instance in browse path v2
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_ingestion_golden.json
Due: metadata-ingestion-lint-fix

add unit tests for container entity
  metadata-ingestion/src/datahub/sdk/container.py
  metadata-ingestion/tests/unit/sdk_v2/container_golden/test_container_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/container_golden/test_container_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_container.py
Due: metadata-ingestion-lint-fix

doc(dbt): Add missing dbt extra requirement to cli doc (#12568)
  docs/cli.md
Due: none

docs(ingestion): enhancement for issue 12468
  docs/actions/README.md
  docs/ui-ingestion.md
Due: none

Added Snowflake Stored Procedures & Lineage
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/constants.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
