Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

feat(ingest/redshift): emit queryUsageStatistics on Query entities
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
Due: metadata-ingestion-lint-fix

refactor(ingest): centralize query timestamp UTC normalization
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/usage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/usage.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/unit/fabric_onelake/test_usage.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
  metadata-ingestion/tests/unit/test_usage_common.py
Due: metadata-ingestion-lint-fix

test(ingest/redshift): add config-warning, gate, and timestamp tests for query usage stats
  metadata-ingestion/docs/sources/redshift/redshift_post.md
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
  metadata-ingestion/tests/unit/redshift/test_redshift_source.py
  metadata-ingestion/tests/unit/redshift/test_redshift_usage_unit.py
  metadata-ingestion/tests/unit/test_usage_common.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest/redshift): note include_query_usage_statistics in Updating DataHub
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest): satisfy mypy in query usage stats tests
  metadata-ingestion/tests/unit/fabric_onelake/test_usage.py
  metadata-ingestion/tests/unit/redshift/test_redshift_source.py
Due: metadata-ingestion-lint-fix

fix(graphql): use supplyAsync for OTel context propagation in autocomplete merge step
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AutocompleteUtils.java
Due: datahub-graphql-core-spotless

refactor(graphql): defer parent container hydration to batch loader
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/container/ParentContainersResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/container/ParentContainersResolverTest.java
Due: datahub-graphql-core-spotless

refactor(graphql): batch entity exists checks via LoadableType
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entity/EntityExistsType.java
Due: datahub-graphql-core-spotless

refactor(graphql): drop EntityExistsResolver in favor of EntityExistsType
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityExistsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/entity/EntityExistsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/entity/EntityExistsTypeTest.java
Due: datahub-graphql-core-spotless

refactor: cleanup graphql core engine and resolvers
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/container/ParentContainersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AutocompleteUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entity/EntityExistsType.java
Due: datahub-graphql-core-spotless

feat(ingest/redshift): emit queryUsageStatistics on Query entities (#18065)
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/redshift/redshift_post.md
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/usage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/usage.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/unit/fabric_onelake/test_usage.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
  metadata-ingestion/tests/unit/redshift/test_redshift_source.py
  metadata-ingestion/tests/unit/redshift/test_redshift_usage_unit.py
  metadata-ingestion/tests/unit/test_usage_common.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(quickstart): restructure guide and remove unsupported Poetry install path
  docs/quickstart.md
Due: datahub-web-react-mdPrettierWriteChanged

ci(coverage): add cross-module JaCoCo aggregation for Codecov
  .github/workflows/build-and-test.yml
  build.gradle
  gradle/coverage/java-coverage-aggregation.gradle
  gradle/coverage/java-coverage.gradle
Due: datahub-web-react-githubActionsPrettierWriteChanged, check-gradle-lockfiles

docs(townhalls): update town hall content for July 2026
  docs/townhalls.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(nightly): Fix various issues with nightly build workflow (#18060)
  .github/workflows/docker-unified-nightly.yml
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/EntityAssertionsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/EntityAssertionsResolverTest.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/CreateCdcUserStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/CreateCdcUserStepTest.java
  smoke-test/tests/assertions/custom_assertions_test.py
Due: datahub-web-react-githubActionsPrettierWriteChanged, datahub-graphql-core-spotless, datahub-upgrade-spotless, smoke-test-lint-fix

docs(townhalls): update town hall content for July 2026 (#18071)
  docs/townhalls.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(ingestion): add OSS recipe path to CLI ingestion quickstart + ac… (#18054)
  metadata-ingestion/cli-ingestion.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: Update Slack Community member count in README (#17999)
  README.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/superset): ingest chart and dashboard descriptions
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_aggregate_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
Due: metadata-ingestion-lint-fix

docs(quickstart): add upgrade callout for existing users before Start DataHub
  docs/quickstart.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/trino): resolve connector column lineage upstream names from source schema
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/tests/unit/test_trino.py
Due: metadata-ingestion-lint-fix

feat(ingestion/trino): add Oracle and StarRocks as supported connectors
  metadata-ingestion/docs/sources/trino/trino_post.md
  metadata-ingestion/docs/sources/trino/trino_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/tests/unit/test_trino.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(metrics): instrument common ForkJoinPool with Micrometer executor metrics
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/system_telemetry/CommonForkJoinPoolMetricsFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/system_telemetry/CommonForkJoinPoolMetricsFactoryTest.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/metrics/MicrometerMetricsRegistryTest.java
Due: metadata-service-factories-spotless, metadata-utils-spotless

ci: increase Playwright shard count from 5 to 8
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(powerbi): handle lineage for two-tier ODBC platforms without schema, adding warning for dangling URN
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/unit/powerbi/test_pattern_handler.py
Due: metadata-ingestion-lint-fix

ci: deprecate Cypress CI job (migrated ~90% to Playwright)
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(powerbi): update handling of two-tier ODBC platforms to ensure URN consistency with derived platform names
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
Due: metadata-ingestion-lint-fix

test coverage
  li-utils/src/main/java/com/linkedin/util/Pair.java
Due: li-utils-spotless

feat(omni): add OmniClientReport for API call tracking and metrics
  metadata-ingestion/src/datahub/ingestion/source/omni/omni.py
  metadata-ingestion/src/datahub/ingestion/source/omni/omni_api.py
  metadata-ingestion/src/datahub/ingestion/source/omni/omni_report.py
Due: metadata-ingestion-lint-fix

resolve comments and add translations
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/__tests__/assertionDescriptions.test.tsx
  datahub-web-react/src/i18n/locales/de/entity.profile.validations.json
  datahub-web-react/src/i18n/locales/en/entity.profile.validations.json
  datahub-web-react/src/i18n/locales/es/entity.profile.validations.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.profile.validations.json
Due: web-react-lint-fix

ci: increase Playwright shard count from 5 to 8 (#18073)
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(i18n): backport empty search improvements from saas
  datahub-web-react/src/app/searchV2/EmptySearchResults.tsx
  datahub-web-react/src/i18n/locales/de/search.json
  datahub-web-react/src/i18n/locales/en/search.json
  datahub-web-react/src/i18n/locales/es/search.json
  datahub-web-react/src/i18n/locales/pt-BR/search.json
Due: web-react-lint-fix

feat(i18n): extract translation from validations (#17941)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/DatasetAssertionDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/FieldAssertionDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/FreshnessAssertionDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/SchemaAssertionDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/VolumeAssertionDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/__tests__/assertionDescriptions.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/contract/FreshnessScheduleSummary.tsx
  datahub-web-react/src/i18n/locales/de/entity.profile.validations.json
  datahub-web-react/src/i18n/locales/en/entity.profile.validations.json
  datahub-web-react/src/i18n/locales/es/entity.profile.validations.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.profile.validations.json
Due: web-react-lint-fix

fix(ingest/redshift): handle connection read-timeouts gracefully
  metadata-ingestion/src/datahub/ingestion/source/redshift/exception.py
  metadata-ingestion/tests/unit/redshift/test_redshift_exception.py
Due: metadata-ingestion-lint-fix

test(playwright/documents): migrate documents management tests to playwright (#17991)
  datahub-web-react/src/app/entityV2/document/summary/DocumentSummaryTab.tsx
  e2e-test/ui/playwright/pages/entity/document.page.ts
  e2e-test/ui/playwright/tests/documents/document-management.spec.ts
  e2e-test/ui/playwright/utils/constants.ts
Due: web-react-lint-fix

feat(i18n): add missing translations
  datahub-web-react/src/i18n/locales/de/common.labels.json
  datahub-web-react/src/i18n/locales/de/entity.identity.json
  datahub-web-react/src/i18n/locales/de/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/de/entity.shared.containers.json
  datahub-web-react/src/i18n/locales/de/entity.types.json
  datahub-web-react/src/i18n/locales/de/ingestion.json
  datahub-web-react/src/i18n/locales/de/misc.json
  datahub-web-react/src/i18n/locales/de/shared.query-builder.json
  datahub-web-react/src/i18n/locales/es/common.labels.json
  datahub-web-react/src/i18n/locales/es/entity.identity.json
  datahub-web-react/src/i18n/locales/es/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/es/entity.shared.containers.json
  datahub-web-react/src/i18n/locales/es/entity.types.json
  datahub-web-react/src/i18n/locales/es/ingestion.json
  datahub-web-react/src/i18n/locales/es/misc.json
  datahub-web-react/src/i18n/locales/es/shared.query-builder.json
  datahub-web-react/src/i18n/locales/pt-BR/common.labels.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.identity.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.shared.containers.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.types.json
  datahub-web-react/src/i18n/locales/pt-BR/ingestion.json
  datahub-web-react/src/i18n/locales/pt-BR/misc.json
  datahub-web-react/src/i18n/locales/pt-BR/shared.query-builder.json
Due: web-react-lint-fix

fix(onboarding): do not show entity page related onboarding on search page (#10447)
  datahub-web-react/src/app/searchV2/SearchPage.tsx
Due: web-react-lint-fix

refactor(ingest): consolidate default_emit_mode into DatahubClientConfig
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/sensors/datahub_sensors.py
  metadata-ingestion/src/datahub/emitter/emit_mode.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/config.py
Due: metadata-ingestion-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, update-lineage-file

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
