Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

feat(ingest): table-level fallback and self-loop guard for view definitions (#19661)
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_table_name.py
Due: metadata-ingestion-lint-fix

fix(probe): a container override that cannot answer now says so
  metadata-ingestion/src/datahub/ingestion/agent/filter_check.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/tests/unit/agent/test_filter_check.py
Due: metadata-ingestion-lint-fix

fix(search): canonicalize semantic search entity names
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/semanticsearch/CopyDocumentsToSemanticIndices.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/semanticsearch/CopyDocumentsToSemanticIndicesTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v2/V2SemanticSearchMappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/semantic/SemanticSearchEntityUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV2Strategy.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/index/entity/v2/V2SemanticSearchMappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV2StrategyTest.java
Due: datahub-upgrade-spotless, metadata-io-spotless

fix(ingest/snowflake-openflow): bound the URN GMS measures; land two fixes an earlier commit claimed
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow_models.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow_report.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_dataflow.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_models.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_source.py
Due: metadata-ingestion-lint-fix

feat(probe): declare what is unfiltered, and which scope declaration wins
  metadata-ingestion/src/datahub/ingestion/agent/filter_check.py
  metadata-ingestion/src/datahub/ingestion/agent/introspect.py
  metadata-ingestion/src/datahub/ingestion/agent/sql_passthrough.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/tests/unit/agent/test_probe_contract.py
Due: metadata-ingestion-lint-fix

fix(ingest/snowflake-openflow): name the lineage flag like the ecosystem; fold env case like every other env field
  metadata-ingestion/docs/sources/openflow/snowflake-openflow_post.md
  metadata-ingestion/docs/sources/openflow/snowflake-openflow_recipe.yml
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow_config.py
  metadata-ingestion/tests/integration/snowflake_openflow/fixtures/capabilities.yml
  metadata-ingestion/tests/integration/snowflake_openflow/fixtures/inventory.yml
  metadata-ingestion/tests/integration/snowflake_openflow/fixtures/lineage.yml
  metadata-ingestion/tests/integration/snowflake_openflow/test_snowflake_openflow.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_docs.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_lineage.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/snowflake-openflow): unbreak the docs build and the frontend lint
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/constants.ts
  metadata-ingestion/docs/sources/openflow/snowflake-openflow_post.md
Due: datahub-web-react-mdPrettierWriteChanged, web-react-lint-fix

fix(probe): probe filter --kind Schema was broken on every source but two
  metadata-ingestion/src/datahub/cli/recipe_cli.py
  metadata-ingestion/src/datahub/ingestion/agent/filter_check.py
  metadata-ingestion/src/datahub/ingestion/agent/introspect.py
  metadata-ingestion/src/datahub/ingestion/agent/models.py
  metadata-ingestion/src/datahub/ingestion/agent/probe_methods.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/tests/unit/agent/test_filter_check.py
  metadata-ingestion/tests/unit/agent/test_probe_contract.py
  metadata-ingestion/tests/unit/agent/test_recipe_probe_cli.py
Due: metadata-ingestion-lint-fix

refactor(ui): consolidate app/businessAttribute schema description field (#19695)
  datahub-web-react/src/app/businessAttribute/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/i18n/locales/de/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/en/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/es/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/fi/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/fr/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/hu/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/it/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/ja/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/nb/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/sv/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/zh-CN/entity.profile.schema.json
Due: web-react-lint-fix

refactor(ui): consolidate app/onboarding with the Acryl fork (#19699)
  datahub-web-react/src/app/onboarding/OnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/WelcomeToDataHubModal.tsx
  datahub-web-react/src/app/onboarding/__tests__/OnboardingTour.test.tsx
  datahub-web-react/src/app/onboarding/__tests__/utils.test.ts
  datahub-web-react/src/app/onboarding/config/BusinessGlossaryOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/DomainsOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/EntityProfileOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/GroupsOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/HomePageOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/IngestionOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/LineageGraphOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/PoliciesOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/RolesOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/SearchOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/UsersOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/configV2/EntityProfileOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/configV2/HomePageOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/configV2/index.ts
  datahub-web-react/src/app/onboarding/types.ts
  datahub-web-react/src/app/onboarding/utils.tsx
Due: web-react-lint-fix

refactor(ui): consolidate app/mfeframework with the fork (#19698)
  datahub-web-react/src/app/mfeframework/mfeConfigLoader.tsx
Due: web-react-lint-fix

fix(search): canonicalize semantic search entity names
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/semanticsearch/CopyDocumentsToSemanticIndices.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v2/V2SemanticSearchMappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/semantic/SemanticSearchEntityUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/EntityTypeUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV2Strategy.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/EntityTypeUtilsTest.java
Due: datahub-upgrade-spotless, metadata-io-spotless

test(powerbi): add integration tests for selective column lineage handling in BigQuery external queries
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: metadata-ingestion-lint-fix

fix(probe): withhold identity columns instead of whole relations
  metadata-ingestion/src/datahub/ingestion/agent/redact.py
  metadata-ingestion/src/datahub/ingestion/agent/sql_passthrough.py
  metadata-ingestion/tests/unit/agent/test_pii_columns.py
Due: metadata-ingestion-lint-fix

fix(probe): the probe could not open a Redshift connection at all
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_probe.py
  metadata-ingestion/tests/unit/agent/test_query_budget.py
Due: metadata-ingestion-lint-fix

feat(probe): let a probe say who it is to the server it queries
  metadata-ingestion/src/datahub/ingestion/agent/sql_passthrough.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_probe.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_probe.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_probe.py
  metadata-ingestion/tests/unit/agent/test_query_attribution.py
Due: metadata-ingestion-lint-fix

fix(ingest/dbt): stop publishing a bare identifier as a metric expression
  docs/features/feature-guides/metrics-and-semantic-models.md
  metadata-ingestion/docs/sources/dbt/README.md
  metadata-ingestion/src/datahub/cli/dbt_semantic_model_migration.py
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/cli/semantic_model_migration_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_semantic_model.py
  metadata-ingestion/tests/integration/dbt/dbt_test_semantic_model_entities_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_semantic_model_entities_platform_instance_golden.json
  metadata-ingestion/tests/unit/cli/test_dbt_semantic_model_migration.py
  metadata-ingestion/tests/unit/dbt/test_dbt_semantic_model.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/snowflake-openflow): set the history-size threshold from a measurement, not a guess
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow.py
Due: metadata-ingestion-lint-fix

docs(cli): note why an ingested column description is not carried
  metadata-ingestion/src/datahub/cli/semantic_model_migration_common.py
Due: metadata-ingestion-lint-fix

fix(probe): the API gate checked the path and let the query through
  metadata-ingestion/src/datahub/ingestion/agent/api_gate.py
  metadata-ingestion/tests/unit/agent/test_api_gate.py
Due: metadata-ingestion-lint-fix

docs(cli): document the entities before and after each semantic-model migration
  docs/features/feature-guides/metrics-and-semantic-models.md
  metadata-ingestion/src/datahub/cli/migrate.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

Update metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
Due: metadata-ingestion-lint-fix

fix(probe): a typed listing said nothing about being cut short
  metadata-ingestion/src/datahub/ingestion/agent/probe_methods.py
  metadata-ingestion/src/datahub/ingestion/agent/sql_passthrough.py
  metadata-ingestion/tests/unit/agent/test_scoped_probe_methods.py
Due: metadata-ingestion-lint-fix

docs(ingest/snowflake-openflow): reconcile the grain comments with the measurement
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow_models.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_models.py
Due: metadata-ingestion-lint-fix

fix(probe): three verdicts the probe reported that were not true
  metadata-ingestion/src/datahub/ingestion/agent/filter_check.py
  metadata-ingestion/src/datahub/ingestion/agent/probe_methods.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_probe.py
  metadata-ingestion/tests/unit/agent/test_filter_check.py
  metadata-ingestion/tests/unit/agent/test_probe_methods.py
  metadata-ingestion/tests/unit/agent/test_query_budget.py
Due: metadata-ingestion-lint-fix

fix(probe): passing None to QueryJobConfig declares a ceiling of "None"
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_probe.py
  metadata-ingestion/tests/unit/agent/test_query_budget.py
Due: metadata-ingestion-lint-fix

docs(ingest/dbt): correct the metric-type claim on the connector page
  docs/features/feature-guides/metrics-and-semantic-models.md
  metadata-ingestion/docs/sources/dbt/dbt_post.md
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/tests/unit/cli/test_migrate.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(probe): the rest of the review's live findings
  metadata-ingestion/src/datahub/ingestion/agent/probe_methods.py
  metadata-ingestion/src/datahub/ingestion/agent/redact.py
  metadata-ingestion/src/datahub/ingestion/agent/sql_passthrough.py
  metadata-ingestion/src/datahub/ingestion/source/hex/hex_probe.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/mode_probe.py
  metadata-ingestion/tests/unit/agent/test_mode_probe.py
  metadata-ingestion/tests/unit/agent/test_redact.py
  metadata-ingestion/tests/unit/agent/test_sql_filter_target.py
Due: metadata-ingestion-lint-fix

test(ingest/snowflake-openflow): pin the credential redaction and three uncovered branches
  metadata-ingestion/tests/unit/snowflake_openflow/test_lineage.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_models.py
Due: metadata-ingestion-lint-fix

test(zdu): cover the standalone-consumer topology in compose profiles and the nightly ZDU job (#19675)
  .github/workflows/zdu-e2e-daily.yml
  docker/datahub-mae-consumer/env/docker.env
  docker/datahub-mce-consumer/env/docker.env
  docker/profiles/docker-compose.zdu-test-override.yml
  smoke-test/tests/zdu/README.md
  smoke-test/tests/zdu/framework/config.py
  smoke-test/tests/zdu/framework/constants.py
  smoke-test/tests/zdu/framework/host_mounts.py
  smoke-test/tests/zdu/framework/phases/_shared.py
  smoke-test/tests/zdu/framework/phases/batch_delay_sweep.py
  smoke-test/tests/zdu/framework/phases/kill_switch_sweep.py
  smoke-test/tests/zdu/framework/phases/nuke_and_redeploy.py
  smoke-test/tests/zdu/framework/phases/rolling_restart.py
  smoke-test/tests/zdu/framework/phases/upgrade_blocking.py
  smoke-test/tests/zdu/framework/phases/upgrade_blocking_rerun.py
  smoke-test/tests/zdu/framework/phases/upgrade_nonblocking.py
  smoke-test/tests/zdu/framework/runner.py
  smoke-test/tests/zdu/framework/test_config.py
  smoke-test/tests/zdu/framework/test_host_mounts.py
  smoke-test/tests/zdu/framework/test_nuke_and_redeploy.py
  smoke-test/tests/zdu/framework/test_rolling_restart.py
  smoke-test/tests/zdu/framework/test_shared.py
  smoke-test/tests/zdu/run_test.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, smoke-test-lint-fix

test(powerbi): add integration test for handling BigQuery external query assignments without upstream tables
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: metadata-ingestion-lint-fix

fix(ingest/snowflake-openflow): bound the urn by encoded bytes, not characters
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow_report.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_dataflow.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_models.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_source.py
Due: metadata-ingestion-lint-fix

fix(powerbi): improve comment.
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
Due: metadata-ingestion-lint-fix

fix(ingest/snowflake-openflow): a truncated inventory must not delete; make the composite key injective
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow_models.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow_report.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_models.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/spark): surface OpenLineage TagsJobFacet & OwnershipJobFacet on the DataJob
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/dataset/DatahubJob.java
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/OpenLineageJobFacetTagsOwnershipTest.java
Due: metadata-integration-java-openlineage-converter-spotless

docs: correct updating-datahub note — DataFlow description now from the Airflow DAG facet
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: note v2 fieldPath / CLL opt-in caveat in updating-datahub (#18175)
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

revert: drop parent-absence flow-description heuristic (unreliable facet)
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/OpenLineageConverterBugfixTest.java
Due: metadata-integration-java-openlineage-converter-spotless

feat(ingest/spark): capture flow-level DocumentationJobFacet on the DataFlow (generic)
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/OpenLineageConverterBugfixTest.java
Due: metadata-integration-java-openlineage-converter-spotless

feat(ingest/spark): source DataFlow description from the Airflow DAG facet
  docs/how/updating-datahub.md
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/OpenLineageEventToDatahubTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/resources/ol_events/sample_airflow_dag_description.json
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-openlineage-converter-spotless

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
