Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-dagster-plugin-lint-fix:
  name: metadata-ingestion-modules/dagster-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:dagster-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-gx-plugin-lint-fix:
  name: metadata-ingestion-modules/gx-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:gx-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-prefect-plugin-lint-fix:
  name: metadata-ingestion-modules/prefect-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:prefect-plugin:lintFix
  language: system
  pass_filenames: false

Update sources.json
  datahub-web-react/src/app/ingest/source/builder/sources.json
Due: none

feat(platform): up limit of corpuser char length from 64 to 128 (#13510)
  li-utils/src/main/pegasus/com/linkedin/common/CorpGroupUrn.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Due: none

update(ci): specify branch
  .github/workflows/actions.yml
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/docker-unified.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/prefect-plugin.yml
Due: none

aligning to current proc methods
  metadata-ingestion/src/datahub/ingestion/source/sql/mariadb.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql/stored_procedure_lineage.py
  metadata-ingestion/tests/unit/mysql/mysql_test_stored_procedures.py
  metadata-ingestion/tests/unit/test_mariadb_source.py
Due: metadata-ingestion-lint-fix

Update metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/entrypoints.py
Due: metadata-ingestion-lint-fix

feat(ingest): improve join extraction (#13502)
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_create_view_with_cte.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_indirect_references.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_information_schema_query.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_cross_join.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_insert_as_select.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_lateral_join.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_natural_join.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_select_subquery.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_update_subselect.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_materialized_view_auto_refresh.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_right_join.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_ambiguous_column_no_schema.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_complex_ctes.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_ctes.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_self_join_with_cte.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_cte_name_collision.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_default_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_join_with_cte_involved_tables.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_unnamed_column_udf.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_unused_cte.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_update_from_table.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_teradata_default_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
  metadata-ingestion/tests/unit/utilities/test_ordered_set.py
Due: metadata-ingestion-lint-fix

feat(ingest): support pydantic v2 in mysql source (#13501)
  metadata-ingestion/setup.py
  smoke-test/requirements.txt
  smoke-test/tests/actions/doc_propagation/test_propagation.py
  smoke-test/tests/lineage/test_lineage.py
Due: metadata-ingestion-lint-fix, smoke-test-lint-fix

fix(mcp-processor): prevent exception in mcp processor
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessor.java
  metadata-jobs/mce-consumer/src/test/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessorTest.java
Due: metadata-jobs-mce-consumer-spotless

fix(ci): metadata-io test (#13514)
  .github/workflows/metadata-io.yml
Due: none

new tests pass
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/cron/TweakReplicasStepTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchIndexedTweakReplicasTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexExistenceCheckTest.java
Due: datahub-upgrade-spotless, metadata-io-spotless

fix(docs): broken link in spark docs
  metadata-integration/java/acryl-spark-lineage/README.md
Due: none

Support different container runtimes aliased as docker (#13207)
  docker/README.md
  docker/dev-with-cassandra.sh
  docker/dev-without-neo4j.sh
  docker/dev.sh
Due: none

fix(mcp-processor): prevent exception in mcp processor (#13513)
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessor.java
  metadata-jobs/mce-consumer/src/test/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessorTest.java
Due: metadata-jobs-mce-consumer-spotless

update(ci): specify branch (#13515)
  .github/workflows/actions.yml
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/docker-unified.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/prefect-plugin.yml
Due: none

fix(cli): avoid click 8.2.0 due to bugs
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

fix(test): fix TrackingService tests for Saas
  metadata-service/auth-servlet-impl/src/test/java/com/datahub/auth/authentication/AuthServiceControllerTest.java
Due: metadata-service-auth-servlet-impl-spotless

fix(mcp-processor): prevent exception in mcp processor (#5764)
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessor.java
  metadata-jobs/mce-consumer/src/test/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessorTest.java
Due: metadata-jobs-mce-consumer-spotless

update(ci): specify branch (#5763)
  .github/workflows/actions.yml
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/docker-unified.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/prefect-plugin.yml
Due: none

fix assertionclient test
  metadata-ingestion/tests/unit/sdk_v2/test_assertions_client.py
Due: metadata-ingestion-lint-fix

fix(docs): broken link in spark docs (#13516)
  metadata-integration/java/acryl-spark-lineage/README.md
Due: none

fix(graphql,lineage): Fix CLL through queries
  datahub-web-react/src/graphql/lineage.graphql
Due: none

QueryType fetch data platform instance aspect
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/query/QueryType.java
Due: datahub-graphql-core-spotless

updated golden mces
  metadata-ingestion/tests/integration/mysql/mysql_mces_with_stored_procs_golden.json
Due: none

use error stream
  metadata-ingestion/src/datahub/upgrade/upgrade.py
Due: metadata-ingestion-lint-fix

fix(graphql,lineage): Fix CLL through queries (#13519)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/query/QueryType.java
  datahub-web-react/src/graphql/lineage.graphql
Due: datahub-graphql-core-spotless

fix smoke tests
  smoke-test/tests/cli/dataset_cmd/test_dataset_command.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/cli/ingest_cmd/test_timeseries_rollback.py
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
  smoke-test/tests/cli/user_groups_cmd/test_user_cmd.py
  smoke-test/tests/utils.py
Due: smoke-test-lint-fix

updated golden mces
  metadata-ingestion/src/datahub/ingestion/source/sql/mariadb.py
  metadata-ingestion/tests/integration/mariadb/mariadb_mces_golden.json
Due: metadata-ingestion-lint-fix

prettier
  metadata-ingestion/docs/sources/grafana/grafana_pre.md
  metadata-ingestion/docs/sources/grafana/grafana_recipe.yml
Due: none

fix(ci): fix typo
  .github/workflows/build-and-test.yml
Due: none

fix(ci): fix typo (#13520)
  .github/workflows/build-and-test.yml
Due: none

fix(ui): fix useGetUserGroupUrns when user urn is empty (#13359)
  datahub-web-react/src/app/entityV2/user/useGetUserGroupUrns.ts
  datahub-web-react/src/app/homeV2/reference/sections/assets/AssetsYouOwn.tsx
  datahub-web-react/src/app/homeV2/reference/sections/assets/useGetAssetsYouOwn.tsx
Due: none

fix env
  smoke-test/tests/utils.py
Due: smoke-test-lint-fix

build(quickstart): skip composeForceDownOnFailure for debug variants
  docker/build.gradle
Due: none

revert bad change
  smoke-test/pytest.ini
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/utils.py
Due: smoke-test-lint-fix

fix(cli): avoid click 8.2.0 due to bugs (#13518)
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  smoke-test/pytest.ini
  smoke-test/tests/cli/dataset_cmd/test_dataset_command.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/cli/ingest_cmd/test_timeseries_rollback.py
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
  smoke-test/tests/cli/user_groups_cmd/test_user_cmd.py
  smoke-test/tests/utils.py
Due: metadata-ingestion-lint-fix, smoke-test-lint-fix

build(ci): fix a gradle implicit dependency error
  metadata-service/plugin/build.gradle
Due: none

fix(sdk): change deprecated value use (#13511)
  metadata-ingestion/src/datahub/api/graphql/base.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/filters.py
Due: metadata-ingestion-lint-fix

fix(cli): move to stderr instead of stdout (#13512)
  metadata-ingestion/src/datahub/entrypoints.py
Due: metadata-ingestion-lint-fix

build(quickstart): skip composeForceDownOnFailure for debug variants (#13521)
  docker/build.gradle
Due: none

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
