Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

docs(ingest/sigma): repair the stopgap paragraph mangled by the 409 edit
  metadata-ingestion/docs/sources/sigma/sigma_post.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/sigma): format with the pinned ruff, treat 410 on re-probe as removal
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fix(metrics): include schemaField consumers in lineage discovery and validate merged PATCH aspects
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/LineageRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/LineageRegistryTest.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/MetricUpstreamsValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/MetricUpstreamsValidatorTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/graph/LineageGraphFiltersTest.java
Due: entity-registry-spotless, metadata-io-spotless, metadata-service-services-spotless

feat(metrics): model column-level lineage on metricUpstreams
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/LineageRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/LineageRegistryTest.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/MetricUpstreamsValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/MetricUpstreamsValidatorTest.java
  metadata-models/src/main/pegasus/com/linkedin/metric/MetricUpstreams.pdl
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Due: entity-registry-spotless, metadata-io-spotless, metadata-service-factories-spotless, update-lineage-file

fix(metrics): validate PatchItemImpl metricUpstreams PATCH merges
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/MetricUpstreamsValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/MetricUpstreamsValidatorTest.java
Due: metadata-io-spotless

fix(metrics): keep schemaField lineage discovery to first-hop consumers
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/LineageRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/LineageRegistryTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/graph/LineageGraphFiltersTest.java
Due: entity-registry-spotless, metadata-service-services-spotless

docs(metrics): document column lineage API change and expand SMD
  docs/how/updating-datahub.md
  metadata-models/src/main/pegasus/com/linkedin/metric/MetricUpstreams.pdl
Due: datahub-web-react-mdPrettierWriteChanged, update-lineage-file

chore(ingest/iceberg): regenerate connector registry for partition support
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
Due: none

fix(domains): fail soft on detach retry exhaustion after Domain delete
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dataproduct/BatchSetDataProductResolverTest.java
  metadata-io/src/main/java/com/linkedin/metadata/domains/sideeffects/DomainReferenceDetachSideEffect.java
  metadata-io/src/test/java/com/linkedin/metadata/domains/sideeffects/DomainReferenceDetachSideEffectTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless

fix(ingest/sigma): scope the casing knob to this route, rotate a stale re-probe reference
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/sigma/sigma_post.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(metrics): metricUpstreams aspect validation (#19751)
  docs/how/updating-datahub.md
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/LineageRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/LineageRegistryTest.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/MetricUpstreamsValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/MetricUpstreamsValidatorTest.java
  metadata-models/src/main/pegasus/com/linkedin/metric/MetricUpstreams.pdl
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/services/src/test/java/com/linkedin/metadata/graph/LineageGraphFiltersTest.java
Due: datahub-web-react-mdPrettierWriteChanged, entity-registry-spotless, metadata-io-spotless, metadata-service-factories-spotless, metadata-service-services-spotless, update-lineage-file

test(ingest/sigma): pin every not-found decision path in one table
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fix(home): avoid duplicate domains reload on mount
  datahub-web-react/src/app/homeV2/content/recent/useGetRecentActions.tsx
  datahub-web-react/src/app/homeV3/modules/domains/TopDomainsModule.tsx
  datahub-web-react/src/app/homeV3/modules/domains/__tests__/TopDomainsModule.test.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/__tests__/useRecentlyViewedEntities.test.ts
Due: web-react-lint-fix

feat(metrics): model consumer-owned Metric downstream lineage
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/LineageRegistryTest.java
  entity-registry/src/test/resources/test-lineage-entity-registry.yml
  metadata-ingestion/src/datahub/ingestion/autogenerated/lineage.json
  metadata-models/src/main/pegasus/com/linkedin/chart/ChartInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/dashboard/DashboardInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataset/UpstreamLineage.pdl
Due: entity-registry-spotless, update-lineage-file

fix(ingest/sigma): close the column-side casing leak, split the reference probe three ways
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/sigma/sigma_post.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_dataset_warehouse_inode.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

test(home): validate domains reload transitions
  datahub-web-react/src/app/homeV3/modules/domains/TopDomainsModule.tsx
  datahub-web-react/src/app/homeV3/modules/domains/__tests__/TopDomainsModule.test.tsx
Due: web-react-lint-fix

test(ingest/sigma): test the DM column route through the route, not the helper
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/sigma/sigma_post.md
  metadata-ingestion/tests/unit/sigma/test_dataset_warehouse_inode.py
  metadata-ingestion/tests/unit/sigma/test_dm_element_warehouse_fgl.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/sigma): move migrationStatus out of this PR
  metadata-ingestion/docs/sources/sigma/sigma_post.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_dataset_warehouse_inode.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(groups): preserve migration failure cause on group member removal (#19798)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/group/RemoveGroupMembersResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/group/RemoveGroupMembersResolverTest.java
Due: datahub-graphql-core-spotless

fix(ingest/sigma): restore Dataset warehouse lineage after dataset deprecation (#19815)
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/sigma/sigma_post.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/test_sigma.py
  metadata-ingestion/tests/unit/sigma/test_dataset_warehouse_inode.py
  metadata-ingestion/tests/unit/sigma/test_dm_element_warehouse_fgl.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

chore(i18n): align zh-TW terminology with updated glossary
  datahub-web-react/src/i18n/locales/zh-TW/analytics.json
  datahub-web-react/src/i18n/locales/zh-TW/common.labels.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.preview.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.profile.schema.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.profile.tabs.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.shared.actions.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.shared.components.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.shared.containers.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.shared.emptyStates.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.shared.entityDropdown.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.shared.selectors.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.types.json
  datahub-web-react/src/i18n/locales/zh-TW/entity.views.json
  datahub-web-react/src/i18n/locales/zh-TW/entityV1.shared.components.json
  datahub-web-react/src/i18n/locales/zh-TW/governance.domain.json
  datahub-web-react/src/i18n/locales/zh-TW/governance.glossary.json
  datahub-web-react/src/i18n/locales/zh-TW/home.v2.json
  datahub-web-react/src/i18n/locales/zh-TW/ingest.sources.json
  datahub-web-react/src/i18n/locales/zh-TW/ingestion.json
  datahub-web-react/src/i18n/locales/zh-TW/ingestion.sourceBuilder.json
  datahub-web-react/src/i18n/locales/zh-TW/misc.json
  datahub-web-react/src/i18n/locales/zh-TW/modules.json
  datahub-web-react/src/i18n/locales/zh-TW/onboarding.json
  datahub-web-react/src/i18n/locales/zh-TW/search.json
  datahub-web-react/src/i18n/locales/zh-TW/settings.permissions.json
  datahub-web-react/src/i18n/locales/zh-TW/settings.preferences.json
  datahub-web-react/src/i18n/locales/zh-TW/shared.query-builder.json
Due: web-react-lint-fix

fix(probe): a second CLI invocation inherited the first caller's secrets
  metadata-ingestion/src/datahub/cli/recipe_cli.py
  metadata-ingestion/src/datahub/ingestion/agent/filter_check.py
  metadata-ingestion/src/datahub/ingestion/agent/introspect.py
  metadata-ingestion/src/datahub/ingestion/source/sql/rds_iam.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_probe.py
  metadata-ingestion/tests/unit/agent/test_filter_check.py
  metadata-ingestion/tests/unit/agent/test_recipe_probe_cli.py
  metadata-ingestion/tests/unit/agent/test_sql_filter_target.py
  metadata-ingestion/tests/unit/test_rds_iam_shared.py
Due: metadata-ingestion-lint-fix

fix(lineage): classify a timed-out page as a timeout before the shared-budget check
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryElasticsearch7DAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAOTest.java
Due: metadata-io-spotless

revert(search): drop the socket-timeout startup notice
  docs/how/updating-datahub.md
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/SearchClientShimFactory.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-factories-spotless

fix(probe): describe and probe filter could still contradict each other
  metadata-ingestion/src/datahub/ingestion/agent/introspect.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/rds_iam.py
  metadata-ingestion/tests/unit/agent/test_filter_check.py
  metadata-ingestion/tests/unit/agent/test_hex_probe.py
  metadata-ingestion/tests/unit/agent/test_probe_contract.py
  metadata-ingestion/tests/unit/agent/test_recipe.py
Due: metadata-ingestion-lint-fix

perf(graphql): Introduce GraphQL Query document caching
  datahub-graphql-core/build.gradle
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphqlDocumentCache.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphqlPreparsedDocumentProvider.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/GraphQLEngineTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/GraphqlDocumentCacheTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/GraphqlPreparsedDocumentProviderTest.java
  docs/deploy/environment-vars.md
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/GraphQLConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/graphql/GraphQLDocumentCacheConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
  metadata-service/rate-limit/src/main/java/com/linkedin/metadata/ratelimit/GraphqlDocumentAnalyzer.java
  metadata-service/rate-limit/src/test/java/com/linkedin/metadata/ratelimit/GraphqlDocumentAnalyzerTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-service-configuration-spotless, metadata-service-graphql-servlet-impl-spotless, check-gradle-lockfiles

ci: nest pytest domain markers in PostHog test-failure events
  .github/scripts/send_failed_tests_to_posthog.py
  .github/scripts/test/test_send_failed_tests_to_posthog.py
  smoke-test/conftest.py
  smoke-test/tests/utilities/domains.py
Due: smoke-test-lint-fix

test(probe): four assertions for behaviour that was documented, not tested
  metadata-ingestion/tests/unit/agent/test_hex_probe.py
  metadata-ingestion/tests/unit/agent/test_mode_fetch_json.py
  metadata-ingestion/tests/unit/agent/test_sql_filter_target.py
  metadata-ingestion/tests/unit/telemetry/test_auto_decorator_detection.py
Due: metadata-ingestion-lint-fix

Fix
  datahub-graphql-core/build.gradle
Due: check-gradle-lockfiles

test(probe): the Unity assertion tested the method, not the routing
  metadata-ingestion/src/datahub/ingestion/agent/introspect.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_probe.py
  metadata-ingestion/tests/unit/agent/test_probe_contract.py
  metadata-ingestion/tests/unit/agent/test_query_budget.py
  metadata-ingestion/tests/unit/agent/test_shared_identifier_functions.py
Due: metadata-ingestion-lint-fix

refactor(probe): the executor's copy of the sensitive-key policy is gone
  metadata-ingestion/src/datahub/executor/execution/sub_process_task_common.py
Due: metadata-ingestion-lint-fix

feat(lineage): guardrail for graph-query timeouts (distinct error + metric + PIT robustness) (#19799)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubGraphQLErrorCode.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandlerTest.java
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryBaseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryElasticsearch7DAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/GraphQueryBaseDAOImpactTimeoutTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/GraphQueryElasticsearch7DAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/GraphQueryPITDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ProcessSliceFuturesPartialResultsTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/restli/RestliUtils.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/restli/RestliUtilsTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/LineageTimeoutException.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-services-spotless

test(probe): three coverage claims I had written off as already covered
  metadata-ingestion/tests/unit/agent/test_probe_methods.py
  metadata-ingestion/tests/unit/agent/test_query_budget.py
  metadata-ingestion/tests/unit/agent/test_redact.py
Due: metadata-ingestion-lint-fix

refactor(probe): the Inspector stand-in says what it stands in for
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_probe.py
Due: metadata-ingestion-lint-fix

ci: nest pytest domain markers in PostHog test-failure events (#19819)
  .github/scripts/send_failed_tests_to_posthog.py
  .github/scripts/test/test_send_failed_tests_to_posthog.py
  smoke-test/conftest.py
  smoke-test/tests/utilities/domains.py
Due: smoke-test-lint-fix

fix(config): the canonical envelope reader accepted a non-string recipe
  metadata-ingestion/src/datahub/configuration/config_loader.py
  metadata-ingestion/tests/unit/config/test_config_loader.py
Due: metadata-ingestion-lint-fix

fix(probe): grant listings returned account names, and IAM tokens rode unverified TLS
  metadata-ingestion/src/datahub/ingestion/agent/redact.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/rds_iam.py
  metadata-ingestion/tests/unit/agent/test_redact.py
  metadata-ingestion/tests/unit/test_rds_iam_shared.py
Due: metadata-ingestion-lint-fix

feat(ingest/powerbi): resolve BigQuery EXTERNAL_QUERY federation lineage (#18782)
  metadata-ingestion/docs/sources/powerbi/powerbi_post.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/powerbi/test_config.py
  metadata-ingestion/tests/unit/powerbi/test_native_sql_parser.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(platform): give Kafka Connect a distinct logo
  datahub-web-react/src/images/kafkaconnectlogo.svg
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: none

fix(masking): a task was redacted against every earlier task's secrets
  metadata-ingestion/src/datahub/executor/dispatcher/default_dispatcher.py
  metadata-ingestion/src/datahub/masking/secret_registry.py
  metadata-ingestion/tests/unit/test_secret_masking_task_scope.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
