Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:mdPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: ./gradlew :datahub-actions:lintFix
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

Bump sqlglot to the latest
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

Use direct entity count from entityData for consistent content counts
  datahub-web-react/src/app/entityV2/domain/summary/ContentsSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Container/SidebarContentsSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Domain/SidebarEntitiesSection.tsx
Due: none

Update metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Due: metadata-ingestion-lint-fix

Fix formatting
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Due: metadata-ingestion-lint-fix

fix(ci): use image tags from buildLog for nightly tests
  .github/workflows/docker-unified-nightly.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(cli): Fix to the deletion command (#14667)
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/unit/sdk_v2/test_search_client.py
Due: metadata-ingestion-lint-fix

update
  .github/workflows/docker-unified-nightly.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

add exists to cache when creating structured property
  datahub-web-react/src/app/govern/structuredProperties/cacheUtils.ts
Due: none

Fix some formatting
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Making fingerprinting backward compatible
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_aggregate_operations.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_multistep_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_lateral_join.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_system_automove.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Due: metadata-ingestion-lint-fix

feat(ui) Update About section in summary tab with new design
  datahub-web-react/src/app/entityV2/summary/SummaryTab.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutContent.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutSection.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/DescriptionViewer.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/EditDescriptionModal.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/useDescriptionUtils.ts
  datahub-web-react/src/app/entityV2/summary/links/AddLinkButton.tsx
  datahub-web-react/src/app/entityV2/summary/links/Links.tsx
  datahub-web-react/src/app/entityV2/summary/links/LinksList.tsx
Due: none

fix lint
  datahub-web-react/src/app/entityV2/summary/documentation/__tests__/useDescriptionUtils.test.ts
Due: none

show updated description if it's empty
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
Due: none

fix intermediate white screen after loading asset collection module
  datahub-web-react/src/app/homeV3/modules/assetCollection/AssetCollectionModule.tsx
Due: none

feat(ui) Update About section in summary tab with new design (#14678)
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
  datahub-web-react/src/app/entityV2/summary/SummaryTab.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutContent.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutSection.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/DescriptionViewer.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/EditDescriptionModal.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/__tests__/useDescriptionUtils.test.ts
  datahub-web-react/src/app/entityV2/summary/documentation/useDescriptionUtils.ts
  datahub-web-react/src/app/entityV2/summary/links/AddLinkButton.tsx
  datahub-web-react/src/app/entityV2/summary/links/Links.tsx
  datahub-web-react/src/app/entityV2/summary/links/LinksList.tsx
Due: none

fix(ui/structured-properties): fix error on create structured property (#14686)
  datahub-web-react/src/app/govern/structuredProperties/cacheUtils.ts
Due: none

fix(ui): fix intermediate white screen after loading asset collection module (#14687)
  datahub-web-react/src/app/homeV3/modules/assetCollection/AssetCollectionModule.tsx
Due: none

fix tests
  datahub-web-react/src/app/homeV3/module/components/__tests__/LargeModule.test.tsx
Due: none

implement permissions for modules section
  datahub-web-react/src/app/homeV3/module/components/LargeModule.tsx
  datahub-web-react/src/app/homeV3/template/Template.tsx
Due: none

use manage summary permission to allow editing documentation and links
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
  datahub-web-react/src/app/entityV2/summary/documentation/useDocumentationPermission.ts
  datahub-web-react/src/app/entityV2/summary/links/useLinkPermission.ts
Due: datahub-graphql-core-spotless

fix(ci): push images on pr-publish without waiting for tests (#14681)
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ui) Fix weird indents on schema table for "Show more" (#6553)
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
Due: none

feat(dbt): add database and schema pattern filtering
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_test_with_combined_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_database_pattern_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_schema_pattern_mces_golden.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(ci): use image tags from buildLog for nightly tests (#14683)
  .github/workflows/docker-unified-nightly.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

test(protobuf): bump protobuf and additional tests (#14650)
  build.gradle
  metadata-integration/java/datahub-protobuf-example/build.gradle
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/ProtobufDatasetTest.java
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageA.protoc
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageB.protoc
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageC.protoc
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageD.protoc
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageE.protoc
  metadata-integration/java/datahub-protobuf/src/test/resources/protobuf/messageB.protoc
  metadata-integration/java/datahub-protobuf/src/test/resources/protobuf/messageCustomFieldOptions.proto
  metadata-integration/java/datahub-protobuf/src/test/resources/protobuf/messageCustomFieldOptions.protoc
  metadata-integration/java/datahub-protobuf/src/test/resources/protobuf/test/meta/customFieldOptions/v1/fields.proto
  metadata-integration/java/datahub-protobuf/src/test/resources/protobuf/test/meta/fields/v1/fields.proto
Due: metadata-integration-java-datahub-protobuf-spotless

chore(docker): use prebuilt dockerize v0.24 (#14668)
  docker/datahub-actions/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
Due: none

feat(ui/summary-tab):implement permissions for modules section (#14685)
  datahub-web-react/src/app/homeV3/module/components/LargeModule.tsx
  datahub-web-react/src/app/homeV3/module/components/__tests__/LargeModule.test.tsx
  datahub-web-react/src/app/homeV3/template/Template.tsx
Due: none

update from com.linkedin.pegasus2avro.dataset to datahub.metadata.schema_classes
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
Due: metadata-ingestion-lint-fix, update-capability-summary

chore(): bump netty version
  build.gradle
Due: none

chore(): bump netty version (#14691)
  build.gradle
Due: none

fix(ci): adjust trivy configuration for pyspark cache
  .github/workflows/docker-unified.yml
  trivy.yaml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix test
  smoke-test/tests/openapi/v3/entities.json
Due: none

feat(openapi-v3) enhance scroll API
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/Criterion.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityScrollResultV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Due: metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless

fix smoke test
  smoke-test/tests/openapi/v3/entities.json
Due: none

fix test
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
Due: metadata-service-openapi-servlet-spotless

add test
  smoke-test/tests/openapi/v3/entities.json
Due: none

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$
