Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:mdPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: ./gradlew :datahub-actions:lintFix
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

fix(build): add ability to specificy constraints for bundled-venvs (#14999)
  docker/datahub-actions/Dockerfile
  docker/snippets/ingestion/build_bundled_venvs_unified.py
  docker/snippets/ingestion/constraints.txt
Due: none

feat(dataproduct): output ports
  metadata-ingestion/examples/data_product/dataproduct.yaml
  metadata-ingestion/src/datahub/api/entities/dataproduct/dataproduct.py
Due: metadata-ingestion-lint-fix

fix(python): skip pydantic_core 2.41.3 (#14997)
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

chore(iceberg): bump dependency
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(build): skip building datahub-actions in saas (#6892)
  datahub-actions/build.gradle
  docker/build.gradle
Due: none

test(summaryTab): add cypress tests
  datahub-web-react/src/alchemy-components/components/Dropdown/types.ts
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
  datahub-web-react/src/alchemy-components/components/Menu/components/MenuItemRenderer.tsx
  datahub-web-react/src/app/domainV2/DomainSearch.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/DomainsSidebarHeader.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/AddPropertyButton.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/CreateDataProductModal.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/DataProductBuilderForm.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/DataProductsTab.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/AddRelatedTermsModal.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/GlossaryRelatedTermsResult.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/DomainParentSelect.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoreOptionsMenuAction.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/SearchSelectModal.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Domain/SetDomainModal.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Domain/SidebarDomainSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/EntityProfileSidebar.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarGlossaryTermsSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarTagsSection.tsx
  datahub-web-react/src/app/entityV2/shared/entity/EntityActions.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutSection.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/EditDescriptionModal.tsx
  datahub-web-react/src/app/entityV2/summary/links/AddEditLinkModal.tsx
  datahub-web-react/src/app/entityV2/summary/links/LinkItem.tsx
  datahub-web-react/src/app/entityV2/summary/properties/Properties.tsx
  datahub-web-react/src/app/entityV2/summary/properties/menuAddProperty/AddPropertyButton.tsx
  datahub-web-react/src/app/entityV2/summary/properties/menuAddProperty/components/MenuSearchBar.tsx
  datahub-web-react/src/app/entityV2/summary/properties/menuAddProperty/hooks/useStructuredPropertiesMenuItems.tsx
  datahub-web-react/src/app/entityV2/summary/properties/property/properties/BaseProperty.tsx
  datahub-web-react/src/app/glossary/GlossaryBrowser/GlossaryBrowser.tsx
  datahub-web-react/src/app/glossaryV2/GlossarySidebar.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/homeV3/module/components/LargeModule.tsx
  datahub-web-react/src/app/homeV3/template/Template.tsx
  datahub-web-react/src/app/sharedV2/owners/ActorPill.tsx
  smoke-test/tests/cypress/cypress/e2e/homeV3/utils.js
  smoke-test/tests/cypress/cypress/e2e/summaryTab/summaryTab.js
  smoke-test/tests/cypress/cypress/e2e/summaryTab/utils.js
Due: none

fix another tests
  smoke-test/tests/cypress/cypress/e2e/summaryTab/summaryTab.js
  smoke-test/tests/cypress/cypress/e2e/summaryTab/utils.js
Due: none

fix tests
  datahub-web-react/src/app/homeV3/module/components/__tests__/LargeModule.test.tsx
  smoke-test/tests/cypress/cypress/e2e/summaryTab/utils.js
Due: none

disable more SaaS tests
  smoke-test/tests/cypress/cypress/e2e/summaryTab/summaryTab.js
Due: none

remove waits
  smoke-test/tests/cypress/cypress/e2e/summaryTab/utils.js
Due: none

fix another tests 2
  smoke-test/tests/cypress/cypress/e2e/summaryTab/utils.js
Due: none

remove .only
  smoke-test/tests/cypress/cypress/e2e/summaryTab/summaryTab.js
Due: none

remove SaaS-only tests
  smoke-test/tests/cypress/cypress/e2e/summaryTab/summaryTab.js
Due: none

disable SaaS-only cases
  smoke-test/tests/cypress/cypress/e2e/summaryTab/summaryTab.js
Due: none

fix tests
  smoke-test/tests/cypress/cypress/e2e/summaryTab/summaryTab.js
  smoke-test/tests/cypress/cypress/e2e/summaryTab/utils.js
Due: none

Pr review fixes
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/tests/unit/test_mysql_rds_iam.py
  metadata-ingestion/tests/unit/test_postgres_rds_iam.py
  metadata-ingestion/tests/unit/test_rds_iam_utils.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix duplicate new property bug
  datahub-web-react/src/alchemy-components/components/InfiniteScrollList/__tests__/useInfiniteScroll.test.ts
  datahub-web-react/src/alchemy-components/components/InfiniteScrollList/useInfiniteScroll.ts
  datahub-web-react/src/alchemy-components/components/Table/TableWithInfiniteScroll.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
Due: none

unit tests for dataproducts output ports
  metadata-ingestion/tests/unit/api/entities/dataproducts/dataproduct_output_ports.yaml
  metadata-ingestion/tests/unit/api/entities/dataproducts/dataproduct_output_ports_upsert.yaml
  metadata-ingestion/tests/unit/api/entities/dataproducts/golden_dataproduct_output_ports.json
  metadata-ingestion/tests/unit/api/entities/dataproducts/golden_dataproduct_output_ports_upsert.json
  metadata-ingestion/tests/unit/api/entities/dataproducts/test_dataproduct.py
Due: metadata-ingestion-lint-fix

fix(ingest/mssql): ODBC connection always needs a database name (#14994)
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_odbc_all_databases.json
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_odbc_all_databases.yml
Due: metadata-ingestion-lint-fix, update-capability-summary

fix(ingestion): mongo source connector parsing
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix, update-capability-summary

unit tests + removing visit_timestampz
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Due: metadata-ingestion-lint-fix, update-capability-summary

use rich text editor from component library everywhere consistently
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
  datahub-web-react/src/alchemy-components/components/Editor/EditorTheme.tsx
  datahub-web-react/src/alchemy-components/components/Editor/toolbar/Toolbar.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/DataProductBuilderForm.tsx
  datahub-web-react/src/app/entityV2/domain/summary/DocumentationSection.tsx
  datahub-web-react/src/app/entityV2/shared/announce/CreateEntityAnnouncementModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entityV2/shared/summary/SummaryAboutSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryBuilderForm.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryModal.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/DocumentationTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/DescriptionEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/DescriptionPreview.tsx
  datahub-web-react/src/app/homeV2/action/announcement/Announcement.tsx
  datahub-web-react/src/app/homeV2/content/tabs/announcements/AnnouncementCard.tsx
  datahub-web-react/src/app/settingsV2/posts/CreatePostForm.tsx
  datahub-web-react/src/app/settingsV2/posts/CreatePostModal.tsx
Due: none

feat(dataproduct): output ports (#15000)
  metadata-ingestion/examples/data_product/dataproduct.yaml
  metadata-ingestion/src/datahub/api/entities/dataproduct/dataproduct.py
  metadata-ingestion/tests/unit/api/entities/dataproducts/dataproduct_output_ports.yaml
  metadata-ingestion/tests/unit/api/entities/dataproducts/dataproduct_output_ports_upsert.yaml
  metadata-ingestion/tests/unit/api/entities/dataproducts/golden_dataproduct_output_ports.json
  metadata-ingestion/tests/unit/api/entities/dataproducts/golden_dataproduct_output_ports_upsert.json
  metadata-ingestion/tests/unit/api/entities/dataproducts/test_dataproduct.py
Due: metadata-ingestion-lint-fix

refactor(test): refactor smoke test
  smoke-test/CLAUDE.MD
  smoke-test/test_e2e.py
  smoke-test/tests/containers/containers_test.py
  smoke-test/tests/tags_and_terms/tags_and_terms_test.py
  smoke-test/tests/utilities/metadata_operations.py
Due: smoke-test-lint-fix

cleanup docstrings
  smoke-test/tests/utilities/metadata_operations.py
Due: smoke-test-lint-fix

chore(iceberg): bump dependency (#15001)
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor: Phase 1 & 2 - Consolidate hierarchy and URN management
  cookies.txt
  datahub-web-react/src/app/glossaryV2/import/WizardPage/DiffModal/DiffModal.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/DropzoneTable/DropzoneTable.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/EntityDetailsModal/EntityDetailsModal.hooks.ts
  datahub-web-react/src/app/glossaryV2/import/WizardPage/EntityDetailsModal/EntityDetailsModal.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/EntityDetailsModal/sections/BasicInformationSection.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/EntityDetailsModal/sections/ContentSection.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/EntityDetailsModal/sections/DomainSection.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/EntityDetailsModal/sections/OwnershipSection.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/EntityDetailsModal/sections/ValidationSection.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/ImportProgressModal/ImportProgressModal.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/KeyboardShortcuts/KeyboardShortcuts.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/LoadingStates/LoadingStates.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/PerformanceMonitor/PerformanceMonitor.tsx
  datahub-web-react/src/app/glossaryV2/import/WizardPage/WizardPage.tsx
  datahub-web-react/src/app/glossaryV2/import/actionItems.md
  datahub-web-react/src/app/glossaryV2/import/glossary.utils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/hooks/useComprehensiveImport.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/__tests__/comprehensiveImportUtils.test.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/__tests__/hierarchyUtils.test.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/__tests__/urnGenerationUtils.test.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/__tests__/urnManager.test.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/comprehensiveImportUtils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/hierarchyUtils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/ownershipParsingUtils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/urnGenerationUtils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/urnManager.ts
  test_comprehensive_ownership_aggregation.sh
  test_duplicate_ownership_fix.js
  test_glossary_import.js
  test_import_validation.sh
  test_multiple_ownership.js
  test_ownership_parsing.js
Due: datahub-web-react-mdPrettierWriteChanged

Initial tests for construct schema
  metadata-ingestion/tests/unit/schema/test_schema_inference.py
Due: metadata-ingestion-lint-fix

fix the first added property not showing immediately issue
  datahub-web-react/src/alchemy-components/components/Table/TableWithInfiniteScroll.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
Due: none

clean up dependecies
  build.gradle
  datahub-graphql-core/build.gradle
  metadata-service/factories/build.gradle
Due: none

chore: remove legacy oss diff (#6901)
  contrib/oss-diff/oss-diff-exceptions.json
  metadata-ingestion/src/datahub/sdk/entity_client.py
Due: metadata-ingestion-lint-fix

refactor(test): refactor smoke test (#15003)
  smoke-test/CLAUDE.MD
  smoke-test/test_e2e.py
  smoke-test/tests/containers/containers_test.py
  smoke-test/tests/tags_and_terms/tags_and_terms_test.py
  smoke-test/tests/utilities/metadata_operations.py
Due: smoke-test-lint-fix

model(ai-assertion): graphql changes to support ai anomaly detection for sql assertion (#6861)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/UpsertDatasetSqlAssertionMonitorResolver.java
  datahub-graphql-core/src/main/resources/assertions.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/UpsertDatasetSqlAssertionMonitorResolverTest.java
Due: datahub-graphql-core-spotless

feat(ui) Add new file upload to S3 extension in the UI
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/FileDragDropExtension.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/FileNodeView.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/__tests__/fileUtils.test.ts
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/fileUtils.ts
  datahub-web-react/src/alchemy-components/components/Editor/extensions/fileDragDrop/index.ts
  datahub-web-react/src/alchemy-components/components/Editor/extensions/htmlToMarkdown.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/markdownToHtml.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutSection.tsx
  datahub-web-react/src/app/shared/Loading.tsx
  datahub-web-react/src/app/shared/hooks/__tests__/useFileUpload.test.tsx
  datahub-web-react/src/app/shared/hooks/useFileUpload.ts
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/vite.config.ts
Due: none

Refactoring tests
  metadata-ingestion/tests/unit/schema/test_schema_inference.py
Due: metadata-ingestion-lint-fix

Set default delimiter
  metadata-ingestion/src/datahub/ingestion/source/schema_inference/object.py
Due: metadata-ingestion-lint-fix, update-capability-summary

refactor: Centralize patch operations and remove dead code
  datahub-web-react/src/app/glossaryV2/import/shared/utils/comprehensiveImportUtils.ts
  datahub-web-react/src/app/glossaryV2/import/shared/utils/patchBuilder.ts
Due: none

fix(observe): allow creating assertions on entities which are ingested from unity-catalog recipes (#6539)
  datahub-executor/src/datahub_executor/common/connection/datahub_ingestion_source_connection_provider.py
  datahub-executor/src/datahub_executor/common/constants.py
Due: none

update tag editing to include name and updated menu (#14884)
  datahub-web-react/src/app/tags/ManageTag.tsx
  datahub-web-react/src/app/tags/TagsTableColumns.tsx
Due: none

fix bug with files with spaces in them
  datahub-web-react/src/alchemy-components/components/Editor/Editor.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/htmlToMarkdown.tsx
  datahub-web-react/src/alchemy-components/components/Editor/extensions/markdownToHtml.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/AboutSection.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/EditDescriptionModal.tsx
Due: none

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$
