Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

refactor(ui): Updated Button Component (#13130)
  datahub-web-react/src/alchemy-components/components/Button/types.ts
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
  datahub-web-react/src/app/glossaryV2/GlossaryContentProvider.tsx
Due: none

refactor(ui): Fix appearance of skeleton loading indicator for search bar (#13129)
  datahub-web-react/src/app/searchV2/SearchBar.tsx
Due: none

fix stuff
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/base.py
Due: metadata-ingestion-lint-fix

Updated impact / explore switch to colors.violet[600]
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/LineageTab.tsx
Due: none

docs-website: add announcement for MCP. Some improvements in rendering
  docs-website/docusaurus.config.js
  docs-website/src/css/custom.css
  docs-website/src/styles/global.scss
Due: none

fix(hex): filter out queries if non scheduled runs (#13126)
  metadata-ingestion/src/datahub/ingestion/source/hex/query_fetcher.py
  metadata-ingestion/tests/unit/hex/test_query_fetcher.py
Due: metadata-ingestion-lint-fix

make heights fixed
  docs-website/src/styles/global.scss
Due: none

smoke-tests: depot-ubuntu-22.04-4
  .github/workflows/docker-unified.yml
Due: none

repurpose existing setup guide to preserve URL; update sidebar
  docs-website/sidebars.js
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
  docs/managed-datahub/remote-executor/about.md
  docs/managed-datahub/remote-executor/configuration.md
Due: none

fix(ui) Render assets owned by groups you are member of as your own assets (#13133)
  datahub-web-react/src/app/entity/user/UserAssets.tsx
  datahub-web-react/src/app/entityV2/group/GroupMembersSidebarSectionContent.tsx
  datahub-web-react/src/app/entityV2/shared/SidebarStyledComponents.tsx
  datahub-web-react/src/app/entityV2/shared/sidebarSection/UserOwnershipSideBarSection.tsx
  datahub-web-react/src/app/entityV2/user/UserAssets.tsx
  datahub-web-react/src/app/entityV2/user/UserProfile.tsx
  datahub-web-react/src/app/entityV2/user/UserProfileInfoCard.tsx
  datahub-web-react/src/app/entityV2/user/UserSidebar.tsx
  datahub-web-react/src/app/entityV2/user/useGetUserGroupUrns.ts
  datahub-web-react/src/app/homeV2/reference/sections/assets/AssetsYouOwn.tsx
  datahub-web-react/src/app/homeV2/reference/sections/assets/useGetAssetsYouOwn.tsx
  datahub-web-react/src/graphql/user.graphql
Due: none

fix(ui) Show warning in the UI when we use lightning cache in impact/analysis
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/UrnSearchAcrossLineageResultsMapper.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-web-react/src/app/entity/shared/components/styled/search/types.ts
  datahub-web-react/src/app/entityV2/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/__tests__/DownloadAsCsvModal.test.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/__tests__/EmbeddedListSearchHeader.test.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/CompactLineageTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/LineageColumnView.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/LineageTabContext.tsx
  datahub-web-react/src/app/sharedV2/icons/InfoPopover.tsx
  datahub-web-react/src/graphql/search.graphql
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/ValidationUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/LineageSearchPath.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/LineageSearchResult.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
Due: datahub-graphql-core-spotless, metadata-io-spotless

Replace blues and greens with violets
  datahub-web-react/src/app/entityV2/shared/constants.ts
Due: none

update copy
  datahub-web-react/src/app/entityV2/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchHeader.tsx
Due: none

Addressing a custoemr request
  metadata-models/src/main/pegasus/com/linkedin/ml/metadata/MLModelDeploymentProperties.pdl
Due: none

fix: fix acrylio postgres setup build (#5537)
  .github/workflows/docker-postgres-setup.yml
Due: none

docs(remote-executor) Remote Executor guides (#13115)
  docs-website/docusaurus.config.js
  docs-website/sidebars.js
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
  docs/managed-datahub/remote-executor/about.md
  docs/managed-datahub/remote-executor/monitoring.md
Due: none

feat(froms) Add validator preventing duplicate form prompt IDs globally (#13135)
  metadata-io/src/main/java/com/linkedin/metadata/forms/validation/FormPromptValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/forms/validators/FormPromptValidatorTest.java
  metadata-models/src/main/pegasus/com/linkedin/form/FormPrompt.pdl
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/RestoreFormInfoIndicesStep.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/RestoreFormInfoIndicesStepTest.java
Due: metadata-io-spotless, metadata-service-factories-spotless

docs: Updating DataHub SaaS for 0.3.10 (#5451)
  docs/deploy/environment-vars-saas.md
  docs/how/updating-datahub-saas.md
Due: none

update CLI version
  docs/managed-datahub/release-notes/v_0_3_10.md
Due: none

call out ingestion page bug
  docs/managed-datahub/release-notes/v_0_3_10.md
Due: none

feat(models): Making ML deployment status searchable! (#13140)
  metadata-models/src/main/pegasus/com/linkedin/ml/metadata/MLModelDeploymentProperties.pdl
Due: none

fix(UI): fix pagination being cut off by page container (#5476)
  datahub-web-react/src/app/ingest/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
Due: none

use mlflowException
  metadata-ingestion/examples/recipes/mlflow_to_datahub.dhub.yaml
  metadata-ingestion/examples/recipes/mlflow_to_datahub.json
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix

revert some changes
  metadata-ingestion/examples/recipes/mlflow_to_datahub.dhub.yaml
  metadata-ingestion/examples/recipes/mlflow_to_datahub.json
Due: none

Clear icons were purple after adding button gradient
  datahub-web-react/src/alchemy-components/components/Select/components.ts
Due: none

Fixing up deprecation, minor tweaks on subscription popover, expand the logic section
  datahub-web-react/src/alchemy-components/components/Pills/utils.ts
  datahub-web-react/src/alchemy-components/components/Tooltip2/Tooltip2.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/DeprecationIcon.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/MarkAsDeprecatedButton.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarLogicSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
Due: none

add utm codes
  docs-website/docusaurus.config.js
Due: none

use reporting
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix

remove logger
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix

fix(ingest/snowflake): fix error on stored procs in non-SQL languages (#13127)
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/base.py
  metadata-models/src/main/pegasus/com/linkedin/query/QueryStatement.pdl
Due: metadata-ingestion-lint-fix

minor change
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
Due: metadata-io-spotless

fix(web) clean up domains ui
  datahub-web-react/src/app/domainV2/DomainSearch.tsx
  datahub-web-react/src/app/domainV2/DomainSearchResultItem.tsx
  datahub-web-react/src/app/entityV2/shared/links/DomainColoredIcon.tsx
  datahub-web-react/src/app/search/filters/ParentEntities.tsx
Due: none

Use fallback env var when primary not available
  docker/datahub-executor/start.sh
Due: none

refactor(ui): Updated impact / explore switch to colors.violet[600] (#13136)
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/LineageTab.tsx
Due: none

refactor(ui): Replace blues and greens with violets (#13138)
  datahub-web-react/src/app/entityV2/shared/constants.ts
Due: none

add new Tabs component to the component library
  datahub-web-react/src/alchemy-components/components/Tabs/Tabs.stories.tsx
  datahub-web-react/src/alchemy-components/components/Tabs/Tabs.tsx
  datahub-web-react/src/alchemy-components/components/Tabs/index.tsx
  datahub-web-react/src/alchemy-components/index.ts
Due: none

implement new Tabs component on the homepage
  datahub-web-react/src/app/homeV2/content/tabs/CenterTabs.tsx
  datahub-web-react/src/app/homeV2/content/tabs/tabs.tsx
  datahub-web-react/src/app/homeV2/content/tabs/useGetVisibleTabs.tsx
Due: none

update build to use streamlined image
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion/build.gradle
Due: none

initial mvp of snippet injector
  docker/datahub-ingestion-base/Dockerfile
  python-build/generate_ingestion_docker.py
Due: none
