Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, datahub-actions-lint-fix, datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-capability-summary

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:mdPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged
  language: system
  pass_filenames: false

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: ./gradlew :datahub-actions:lintFix
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

Fix pydantic issue
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Refactor platform extraction
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/connector_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Add kafak connect lineage infer from Datahub
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/connector_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect_schema_resolver.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Fix linter issues
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/tests/unit/test_kafka_connect_schema_resolver.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Fix linter
  metadata-ingestion/tests/unit/test_kafka_connect_schema_resolver.py
Due: metadata-ingestion-lint-fix

Remove unneded code
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/connector_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Couple of pr review fixes
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Add column level lineage extraction
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/connector_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/sink_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/unit/test_kafka_connect_schema_resolver.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Lint fixes
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/transform_plugins.py
Due: metadata-ingestion-lint-fix, update-capability-summary

debug(bigquery): add debug logging for temp table inference issue
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
Due: metadata-ingestion-lint-fix, update-capability-summary

fix failing tests
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entityV2/summary/properties/hooks/__tests__/useBasicAssetProperties.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.ts
Due: none

fixes
  metadata-ingestion/tests/integration/doris/README.md
  metadata-ingestion/tests/integration/doris/docker-compose.yml
  metadata-ingestion/tests/integration/doris/setup/be-entrypoint.sh
  metadata-ingestion/tests/integration/doris/setup/fe-entrypoint.sh
  metadata-ingestion/tests/integration/doris/test_doris.py
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/OpenLineageConfigTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, metadata-integration-java-openlineage-converter-spotless

remove test change for unrelated commit
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/OpenLineageConfigTest.java
Due: metadata-integration-java-openlineage-converter-spotless

Delete doris_mces.json
  metadata-ingestion/doris_mces.json
Due: none

adding testing
  docs/lineage/openlineage.md
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/openlineage/config/OpenLineageServletConfig.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/openlineage/config/OpenLineageServletConfigTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-openapi-servlet-spotless

feat(structured-properties): add version field to StructuredProperties
  metadata-ingestion/examples/structured_properties/structured_properties.yaml
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/tests/unit/api/entities/structuredproperties/example_structured_properties_golden.json
Due: metadata-ingestion-lint-fix

platform_id fix
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/sql/doris.py
Due: metadata-ingestion-lint-fix, update-capability-summary

waiting built into docker startup
  metadata-ingestion/tests/integration/doris/setup/be-entrypoint.sh
  metadata-ingestion/tests/integration/doris/setup/fe-entrypoint.sh
Due: none

Add Hbase plugin
  datahub-web-react/src/app/ingest/source/conf/hbase/hbase.ts
  datahub-web-react/src/app/ingest/source/conf/sources.tsx
  datahub-web-react/src/app/ingestV2/source/conf/hbase/hbase.ts
  datahub-web-react/src/app/ingestV2/source/conf/sources.tsx
  datahub-web-react/src/images/hbaselogo.png
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hbase.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Refactor Airflow 3 plugin to be separated from Airflow 2 plugin
  metadata-ingestion-modules/airflow-plugin/AIRFLOW_3_MIGRATION.md
  metadata-ingestion-modules/airflow-plugin/README.md
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/setup.cfg
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_airflow_compat.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_airflow_shims.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/__init__.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/_airflow_compat.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/_extractors.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/_openlineage_compat.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/_shims.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/__init__.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_airflow3_sql_parser_patch.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_airflow_compat.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_athena_openlineage_patch.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_bigquery_openlineage_patch.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_shims.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_sqlite_openlineage_patch.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/plugin_v2
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/plugin_v2/_extractors.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-modules-airflow-plugin-lint-fix

wait longer in testing
  metadata-ingestion/tests/integration/doris/docker-compose.yml
  metadata-ingestion/tests/integration/doris/test_doris.py
Due: metadata-ingestion-lint-fix

make yarnGenerate and yarnBuild cacheable
  datahub-web-react/build.gradle
Due: none

Preserve manually set domains in PatternAddDatasetDomain with PATCH semantics
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Due: metadata-ingestion-lint-fix

fix cypress flakiness in source.js
  smoke-test/tests/cypress/cypress/e2e/ingestionV2/utils.js
Due: none

fix linter issues
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Due: metadata-ingestion-lint-fix

Linter fix
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
Due: metadata-ingestion-lint-fix

test fixes
  metadata-ingestion/docs/sources/doris/README.md
  metadata-ingestion/docs/sources/doris/doris_pre.md
  metadata-ingestion/docs/sources/doris/doris_recipe.yml
  metadata-ingestion/tests/integration/doris/docker-compose.yml
  metadata-ingestion/tests/integration/doris/setup/be-entrypoint.sh
  metadata-ingestion/tests/integration/doris/setup/fe-entrypoint.sh
Due: datahub-web-react-mdPrettierWriteChanged

Improve datahub-web-react build caching (#15256)
  datahub-web-react/build.gradle
Due: none

address PR feeback to remove canViewEntityPage into extraProperties
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/MapperUtils.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/mappers/MapperUtilsTest.java
  datahub-web-react/src/graphql/search.graphql
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESAccessControlUtil.java
Due: datahub-graphql-core-spotless, metadata-io-spotless

Mypy fixes
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_airflow_shims.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/_extractors.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_shims.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
Due: metadata-ingestion-modules-airflow-plugin-lint-fix

update Mocks.tsx and clean up MapperUtilsText
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/mappers/MapperUtilsTest.java
  datahub-web-react/src/Mocks.tsx
Due: datahub-graphql-core-spotless

linter happy
  datahub-web-react/src/Mocks.tsx
Due: none

feat(metabase): Add comprehensive lineage extraction with tags and models
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/tests/integration/metabase/metabase_mces_golden.json
  metadata-ingestion/tests/unit/test_metabase_source.py
Due: metadata-ingestion-lint-fix, update-capability-summary

Update capability_summary.json
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
Due: none

Updated AddQuestionModal.tsx to fix a typo ("Anwer" -> "Answer")
  datahub-web-react/src/app/govern/Dashboard/Forms/AddQuestionModal.tsx
Due: none

fix(gms) Fix handle NPE when creating S3Util class (#7184)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/plugins/AcrylGraphQLPlugin.java
Due: datahub-graphql-core-spotless

docs(glossary): enhance CSV import section with improved formatting and additional examples for clarity
  docs/glossary/business-glossary.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(dataset-summary): add summary tab on dataset entities (#15238)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/resources/settings.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/summary/properties/hooks/__tests__/useBasicAssetProperties.test.ts
  datahub-web-react/src/app/entityV2/summary/properties/hooks/useBasicAssetProperties.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.ts
  datahub-web-react/src/graphql/dataset.graphql
  metadata-models/src/main/resources/entity-registry.yml
Due: datahub-graphql-core-spotless

integration tests fix
  metadata-ingestion/tests/integration/doris/docker-compose.yml
  metadata-ingestion/tests/integration/doris/setup/be-entrypoint.sh
  metadata-ingestion/tests/integration/doris/setup/fe-entrypoint.sh
  metadata-ingestion/tests/integration/doris/test_doris.py
Due: metadata-ingestion-lint-fix

bug(recommended-users): search no longer loses focus (#7101)
  datahub-web-react/src/app/identity/user/RecommendedUsersTable.components.tsx
  datahub-web-react/src/app/identity/user/RecommendedUsersTable.tsx
Due: none

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.py$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.py$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-capability-summary: any of: ^metadata-ingestion/src/datahub/ingestion/source/.*\.py$
