Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ai-chat): wrap long text so bubbles resize with the panel
  datahub-web-react/src/app/aiAssistant/AIChatButton.tsx
Due: web-react-lint-fix

fix(ingest/snowflake): unique-key cardinality, relationship-key validation, and doc/test gaps
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/snowflake/README.md
  metadata-ingestion/docs/sources/snowflake/snowflake_pre.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_semantic_model.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_semantic_model.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_semantic_views.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ingest): centralize stored-procedure models in a pydantic models module (#18165)
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/sql/db2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hana/hana.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hana/hana_data_dictionary.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/base.py
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/timescaledb.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
  metadata-ingestion/tests/unit/stored_procedure/test_procedure_lineage.py
  metadata-ingestion/tests/unit/test_mysql_source.py
  metadata-ingestion/tests/unit/test_oracle_source.py
  metadata-ingestion/tests/unit/test_postgres_source.py
  metadata-ingestion/tests/unit/test_sql_common.py
  metadata-ingestion/tests/unit/test_timescaledb_source.py
Due: metadata-ingestion-lint-fix

add proper tests
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubGraphQLErrorCode.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandlerTest.java
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/TransactionContextTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTransactionRetryTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, metadata-io-spotless

perf(roles): batch actor existence checks and role membership writes
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/role/RoleService.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/RoleServiceTest.java
Due: metadata-service-auth-impl-spotless

add proper tests
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  docs/deploy/environment-vars.md
  docs/how/updating-datahub.md
  li-utils/src/main/java/com/datahub/util/exception/DatabaseTransactionConflictException.java
  metadata-io/src/main/java/com/linkedin/metadata/dao/throttle/DatabaseTransactionConflictRestLiServiceException.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/TransactionRetryPolicy.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTransactionRetryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/TransactionRetryPolicyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/TransactionRetryConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/TransactionRetryConfigurationTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandlerTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/filter/RestliThrottleResponseFilter.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/filter/RestliThrottleResponseFilterTest.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/restli/RestliUtilsTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-graphql-core-spotless, li-utils-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-openapi-servlet-spotless, metadata-service-restli-servlet-impl-spotless

docs(cli/migrate): document nested-URN limitations and add editableSchemaMetadata test
  docs/cli.md
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/tests/unit/cli/test_migrate.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/oracle): pin denormalized schema name in procedure test mocks
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/models.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
  metadata-ingestion/tests/unit/stored_procedure/test_procedure_lineage.py
  metadata-ingestion/tests/unit/test_oracle_source.py
Due: metadata-ingestion-lint-fix

add proper tests
  docs/deploy/environment-vars.md
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTransactionRetryTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless

fix(urn_iter): detect URNs in union-typed fields via Relationship + duck-typing
  metadata-ingestion/src/datahub/utilities/urns/urn_iter.py
  metadata-ingestion/tests/unit/serde/test_urn_iterator.py
Due: metadata-ingestion-lint-fix

feat(cli/migrate): add --checkpoint-file for resumable migrations
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/migration/engine.py
  metadata-ingestion/src/datahub/migration/models.py
  metadata-ingestion/tests/unit/cli/test_migrate.py
Due: metadata-ingestion-lint-fix

fix(ingest/snowflake): apply platform_instance to external storage lineage upstreams
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/snowflake/snowflake_post.md
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_util.py
  metadata-ingestion/src/datahub/ingestion/source/azure/abs_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_stages.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_stages.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/oracle): pin denormalized schema name in procedure test mocks (#18780)
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/models.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
  metadata-ingestion/tests/unit/stored_procedure/test_procedure_lineage.py
  metadata-ingestion/tests/unit/test_oracle_source.py
Due: metadata-ingestion-lint-fix

test(ingest/aws,azure): move shared S3/ABS URN helper tests out of snowflake
  metadata-ingestion/tests/unit/aws/test_s3_util.py
  metadata-ingestion/tests/unit/azure/test_abs_utils.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_stages.py
Due: metadata-ingestion-lint-fix

fix(cli/migrate): document batch-rewriter limitation, fix misleading error message
  metadata-ingestion/src/datahub/migration/engine.py
  metadata-ingestion/src/datahub/migration/transform.py
Due: metadata-ingestion-lint-fix

fix(ingest/azure): stop mangling file extensions in make_abs_urn
  metadata-ingestion/src/datahub/ingestion/source/azure/abs_utils.py
  metadata-ingestion/tests/unit/azure/test_abs_utils.py
Due: metadata-ingestion-lint-fix

feat(ingest/powerbi): resolve BigQuery EXTERNAL_QUERY federation lineage
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/powerbi/test_config.py
  metadata-ingestion/tests/unit/powerbi/test_native_sql_parser.py
Due: metadata-ingestion-lint-fix

docs(cli/migrate): add Known Limitations section and --checkpoint-file docs
  docs/cli.md
  metadata-ingestion/src/datahub/cli/migration_utils.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

done
  docs/how/updating-datahub.md
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectV2.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoLockingPostgresIT.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/EbeanConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless, metadata-service-configuration-spotless

docs(cli/migrate): document urns-mapping container limitation
  docs/cli.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(cli/migrate): document container options gap for p2i/i2i
  docs/cli.md
Due: datahub-web-react-mdPrettierWriteChanged

done
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoLockingPostgresIT.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/EbeanConfiguration.java
Due: metadata-io-spotless, metadata-service-configuration-spotless

feat(ingest/powerbi): enhance EXTERNAL_QUERY handling to preserve original aliases and ensure unique placeholders
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/tests/unit/powerbi/test_native_sql_parser.py
Due: metadata-ingestion-lint-fix

fix lint
  datahub-web-react/src/alchemy-components/components/CalendarChart/CalendarChart.tsx
  datahub-web-react/src/alchemy-components/components/Tabs/Tabs.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/history/DocumentationDiff.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/styledComponents.ts
Due: web-react-lint-fix

feat(ingest/powerbi): update EXTERNAL_QUERY parsing to accept optional JSON options argument
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/tests/unit/powerbi/test_native_sql_parser.py
Due: metadata-ingestion-lint-fix

feat(ingest/powerbi): enhance EXTERNAL_QUERY parsing to surface unresolvable calls with warnings
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/powerbi/test_native_sql_parser.py
Due: metadata-ingestion-lint-fix

test(ingest/snowflake): cover adjacent branches in the two lineage functions this PR touches
  metadata-ingestion/tests/unit/snowflake/test_snowflake_stages.py
Due: metadata-ingestion-lint-fix

feat(ingest/powerbi): enforce invariant for parse failures in external query extraction and enhance lineage resolution
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/powerbi/test_native_sql_parser.py
Due: metadata-ingestion-lint-fix

done
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoLockingPostgresIT.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTest.java
Due: metadata-io-spotless

feat(ingest/powerbi): centralize error reporting for external query parse failures to improve lineage clarity
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: metadata-ingestion-lint-fix

done
  metadata-io/src/test/resources/testng-other.xml
  metadata-io/src/test/resources/testng-postgresql.xml
Due: none

feat(ai-chat): add Apply/Cancel confirm buttons for PII tag proposals
  datahub-web-react/src/app/aiAssistant/AIChatButton.tsx
Due: web-react-lint-fix

feat(ai-orchestrator): emit confirm sentinel for fresh PII proposals
  ai-orchestrator/agent.py
  ai-orchestrator/local_tools.py
  ai-orchestrator/main.py
Due: none

perf(cli/migrate): replace dict-based report with lightweight counters, add --migration-report
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/migration/engine.py
  metadata-ingestion/src/datahub/migration/models.py
  metadata-ingestion/tests/unit/cli/test_migrate.py
  metadata-ingestion/tests/unit/migration/test_framework.py
Due: metadata-ingestion-lint-fix

fix(ingest/datalake): bound single-object JSON reads and honor max_rows for .json (#18289)
  docs/how/updating-datahub.md
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/abs/config.py
  metadata-ingestion/src/datahub/ingestion/source/abs/source.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/schema_inference/json.py
  metadata-ingestion/tests/unit/data_lake/test_schema_inference.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix tests
  datahub-web-react/src/app/entityV2/document/__tests__/DocumentEntity.test.tsx
Due: web-react-lint-fix

test(ingest/powerbi): add assertion for warning on partial lineage loss in external query parsing
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: metadata-ingestion-lint-fix

fix(ingest/powerbi): add type assertion for table source in external query extraction to ensure correct parsing
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
Due: metadata-ingestion-lint-fix

revert unnecessary change
  datahub-web-react/src/app/searchV2/SearchHeader.tsx
Due: web-react-lint-fix

update mocks in test file
  datahub-web-react/src/app/entityV2/document/__tests__/DocumentEntity.test.tsx
Due: web-react-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
