Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-dagster-plugin-lint-fix:
  name: metadata-ingestion-modules/dagster-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:dagster-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-gx-plugin-lint-fix:
  name: metadata-ingestion-modules/gx-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:gx-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-prefect-plugin-lint-fix:
  name: metadata-ingestion-modules/prefect-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:prefect-plugin:lintFix
  language: system
  pass_filenames: false

build(ci): fix a gradle implicit dependency error (#13522)
  metadata-service/plugin/build.gradle
Due: none

remove version check and update tests
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/unit/tableau/test_tableau_source.py
Due: metadata-ingestion-lint-fix

remove duplicated docs
  metadata-ingestion/docs/sources/google-sheets/google-sheets.md
Due: none

Initial commit
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Due: metadata-ingestion-lint-fix

upload apple logo for easy http access (#5772)
  datahub-web-react/public/assets/logos/custom/apple-logo.png
Due: none

fix(docs): update support limits for liquid-python
  metadata-ingestion/docs/sources/looker/lookml_post.md
Due: none

fix(ui/table): Fix column / ml feature description show more button (#5767)
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/AboutSection/DescriptionSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/AboutFieldTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
Due: none

lint
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
Due: none

fix(docs): update support limits for liquid-python (#13524)
  metadata-ingestion/docs/sources/looker/lookml_post.md
Due: none

fix(ui/glossary): Display custom properties on glossary nodes
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
  datahub-web-react/src/graphql/glossaryTerm.graphql
Due: none

lint
  datahub-web-react/src/Mocks.tsx
Due: none

chore(): bump kafka-setup base image
  docker/kafka-setup/Dockerfile
Due: none

chore(): bump kafka-setup base image (#13527)
  docker/kafka-setup/Dockerfile
Due: none

fix(ui/glossary): Display custom properties on glossary nodes (#13526)
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
  datahub-web-react/src/graphql/glossaryTerm.graphql
Due: none

fix(ui/glossary): Display custom properties on glossary nodes (#5778)
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
  datahub-web-react/src/graphql/glossaryTerm.graphql
Due: none

fix(statsTabV2): fix broken frontend tests (#5718)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/__tests__/utils/getCalendarStartTimeByTimeRange.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/__tests__/utils/roundTimeByTimeRange.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/utils.ts
Due: none

fix(ui/table): Fix column / ml feature description show more button (#13525)
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/AboutSection/DescriptionSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/AboutFieldTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
Due: none

fix(): remove unused recursive code
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecommendationSource.java
Due: metadata-service-services-spotless

fix(): remove unused recursive code (#13528)
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecommendationSource.java
Due: metadata-service-services-spotless

use parametrize in known_snowflake_edition tests
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
Due: metadata-ingestion-lint-fix

fix(ui): Adding fix for wrapping on the title (#5682)
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/DefaultEntityHeader.tsx
Due: none

fix(docs): Improve backup and restore doc (#13466)
  docker/datahub-upgrade/README.md
  docs/advanced/monitoring.md
  docs/how/backup-datahub.md
  docs/how/restore-indices.md
Due: none

fea(ui): Add menu action for copying the full name of the asset (#13224)
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/shared/share/v2/ShareButtonMenu.tsx
  datahub-web-react/src/app/shared/share/v2/ShareMenuAction.tsx
  datahub-web-react/src/app/shared/share/v2/items/CopyNameMenuItem.tsx
  datahub-web-react/src/graphql/container.graphql
  datahub-web-react/src/graphql/fragments.graphql
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Due: none

fix(docs): add known issue for server_config
  docs/how/updating-datahub.md
Due: none

mergiraf auto-resolve
  .github/workflows/docker-unified.yml
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/query/QueryType.java
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entityV2/user/useGetUserGroupUrns.ts
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTestConfiguration.java
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-jobs-mce-consumer-job-spotless, smoke-test-lint-fix

manually fix remaining merge conflicts
  .github/workflows/build-and-test.yml
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/query/QueryType.java
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTestConfiguration.java
  metadata-jobs/mce-consumer/build.gradle
  metadata-service/plugin/build.gradle
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  smoke-test/requirements.txt
  smoke-test/tests/propagation/bigquery/util.py
Due: datahub-graphql-core-spotless, metadata-jobs-mce-consumer-job-spotless, smoke-test-lint-fix

temp revert of smoke-test back to pydantic v1
  smoke-test/requirements.txt
  smoke-test/tests/actions/doc_propagation/test_propagation.py
  smoke-test/tests/lineage/test_lineage.py
Due: smoke-test-lint-fix

fix(docs): add known issue for server_config (#13530)
  docs/how/updating-datahub.md
Due: none

fix mocks and code that broke due to https://github.com/datahub-project/datahub/pull/13451
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTestConfiguration.java
  metadata-service/scim-api/src/test/java/io/datahubproject/openapi/scim/ScimpleSpringTestApp.java
Due: datahub-upgrade-spotless, metadata-jobs-mce-consumer-job-spotless

fix(ui): Proposals page performance improvements (#5747)
  datahub-web-react/src/app/taskCenterV2/proposalsV2/ProposalList.tsx
Due: none

Fix incorrect SSL context usage for client certificate auth
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
Due: metadata-ingestion-lint-fix

doc(scim): update scim docs
  docs/managed-datahub/configuring-identity-provisioning-with-ms-entra.md
  docs/managed-datahub/configuring-identity-provisioning-with-okta.md
Due: none

feat(iceberg): add namespace permissions
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/EntityFieldType.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DefaultEntitySpecResolver.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/ContainerFieldResolverProvider.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/ContainerFieldResolverProviderTest.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/AbstractIcebergController.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergNamespaceApiController.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergTableApiController.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergViewApiController.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Due: metadata-auth-auth-api-spotless, metadata-service-auth-impl-spotless, metadata-utils-spotless

update doc
  docs/iceberg-catalog.md
Due: none

fix lint
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
Due: none

add Containers field to policy details
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
Due: none

doc lint fix
  docs/iceberg-catalog.md
Due: none

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
