Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

fix(pgtimeseries): keep GC docs example commented after aspect rename
  metadata-ingestion/docs/sources/datahubgc/datahub-gc_post.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(pgtimeseries): bound and shut down async delete executor
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectService.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/PostgresTimeseriesAspectServiceConfiguration.java
Due: metadata-io-spotless, metadata-service-factories-spotless

test(metrics): add Playwright coverage for Metrics experience
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavSidebar.tsx
  e2e-test/ui/playwright/pages/metrics.page.ts
  e2e-test/ui/playwright/playwright_test_weights.json
  e2e-test/ui/playwright/tests/metrics/constants.ts
  e2e-test/ui/playwright/tests/metrics/fixtures/data.json
  e2e-test/ui/playwright/tests/metrics/metric-details.spec.ts
  e2e-test/ui/playwright/tests/metrics/metrics-home.spec.ts
  e2e-test/ui/playwright/tests/metrics/metrics-lineage.spec.ts
  e2e-test/ui/playwright/tests/metrics/metrics-search.spec.ts
  e2e-test/ui/playwright/tests/metrics/semantic-model-details.spec.ts
Due: web-react-lint-fix

test(metrics): address Bugbot and cubic review findings
  e2e-test/ui/playwright/pages/lineage-base.page.ts
  e2e-test/ui/playwright/pages/metrics.page.ts
  e2e-test/ui/playwright/pages/search.page.ts
  e2e-test/ui/playwright/tests/metrics/fixtures/data.json
  e2e-test/ui/playwright/tests/metrics/metrics-home.spec.ts
  e2e-test/ui/playwright/tests/metrics/metrics-lineage.spec.ts
  e2e-test/ui/playwright/tests/metrics/metrics-search.spec.ts
Due: none

fix(ingest): require every assertion to succeed before clearing the circuit
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/api/circuit_breaker/assertion_circuit_breaker.py
  metadata-ingestion/tests/unit/api/circuit_breaker/test_assertion_coverage.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(rfc): propose asset-bound metadata attestations
  docs-website/sidebars.js
  docs/rfcs/active/000-asset-bound-metadata-attestation.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(rfc): propose resumable audit coverage
  docs-website/sidebars.js
  docs/rfcs/active/000-resumable-audit-coverage.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(rfc): propose independently replayable agent decisions
  docs-website/sidebars.js
  docs/rfcs/active/000-independent-decision-replay.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(ingest): link circuit breaker upgrade note to PR #19728
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(rfc): link proposal to PR #19729
  docs-website/sidebars.js
  docs/rfcs/active/19729-asset-bound-metadata-attestation.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(rfc): link proposal to PR #19730
  docs-website/sidebars.js
  docs/rfcs/active/19730-independent-decision-replay.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(rfc): link proposal to PR #19731
  docs-website/sidebars.js
  docs/rfcs/active/19731-resumable-audit-coverage.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/adf): read invoked_by as an SDK model, not a dict
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_source.py
Due: metadata-ingestion-lint-fix

test(sdk): gate the assertions-not-installed test on the cloud SDK
  metadata-ingestion/tests/unit/sdk_v2/test_assertions_client.py
Due: metadata-ingestion-lint-fix

chore(cli): raise the quickstart health-wait ceiling to 15 minutes
  metadata-ingestion/src/datahub/cli/docker_cli.py
Due: metadata-ingestion-lint-fix

docs(examples): correct the structured-properties CLI commands
  metadata-ingestion/examples/structured_properties/README.md
Due: datahub-web-react-mdPrettierWriteChanged

chore(examples): stop shipping a hardcoded token in the quickstart recipe
  metadata-ingestion/examples/mce_files/test_structured_properties.json
  metadata-ingestion/examples/recipes/file_to_datahub_rest.dhub.yaml
Due: none

fix(ingest/sigma): split the /schema catch-all that misreported unresolved refs
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
Due: metadata-ingestion-lint-fix

feat(ingest/sigma): describe the unresolved /schema head instead of only counting it
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
Due: metadata-ingestion-lint-fix

addressing cubic-dev comments
  metadata-ingestion/docs/sources/looker/lookml_post.md
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/unit/lookml/test_lookml_config.py
  metadata-ingestion/tests/unit/lookml/test_lookml_remote_dependency.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/sigma): name the unresolved /schema head against id spaces this run walked
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
Due: metadata-ingestion-lint-fix

feat(ingest/sigma): resolve an unidentifiable /schema head through its column id
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
Due: metadata-ingestion-lint-fix

fixing lint errors
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/snowflake): tokenize and AST-rewrite dynamic-table MERGE extraction
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_dynamic_tables.py
Due: metadata-ingestion-lint-fix

feat(ingest/sigma): measure what GET /workbooks/{id}/sources would explain
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
Due: metadata-ingestion-lint-fix

addressing threads
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/unit/lookml/test_lookml_remote_dependency.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(config): per-operation configuration reads via ConfigEnrichment
  li-utils/src/main/java/com/datahub/context/ConfigEnrichment.java
  li-utils/src/main/java/com/datahub/context/Enrichment.java
  li-utils/src/main/java/com/datahub/context/EnrichmentBundle.java
  li-utils/src/main/java/com/datahub/context/OperationFingerprint.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
  metadata-service/configuration/build.gradle
  metadata-service/configuration/generate-config-key-constants.gradle
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/resolver/ConfigEnrichmentTest.java
Due: li-utils-spotless, metadata-operation-context-spotless, metadata-service-configuration-spotless, check-gradle-lockfiles

test(powerbi): add integration test for handling BigQuery external query SET NOCOUNT ON preamble
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Due: metadata-ingestion-lint-fix

docs: fix datahub-dev.sh paths (#17661)
  scripts/dev/datahub-dev.sh
  scripts/dev/datahub_dev.py
  smoke-test/tests/utilities/agent_reporter.py
Due: smoke-test-lint-fix

refactor(ui): consolidate app/previewV2 (#19648)
  datahub-web-react/src/app/entityV2/Entity.tsx
  datahub-web-react/src/app/entityV2/EntityRegistry.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/shared/PreviewContext.tsx
  datahub-web-react/src/app/entityV2/tag/Tag.tsx
  datahub-web-react/src/app/entityV2/user/User.tsx
  datahub-web-react/src/app/entityV2/user/preview/Preview.tsx
  datahub-web-react/src/app/previewV2/DefaultPreviewCard.tsx
  datahub-web-react/src/app/previewV2/HealthPopover.tsx
  datahub-web-react/src/app/previewV2/PreviewCardFooterRightSection.tsx
  datahub-web-react/src/app/previewV2/QueryStat.tsx
  datahub-web-react/src/app/recommendations/renderer/component/HoverEntityTooltip.tsx
  datahub-web-react/src/i18n/locales/de/entity.preview.json
  datahub-web-react/src/i18n/locales/en/entity.preview.json
  datahub-web-react/src/i18n/locales/es/entity.preview.json
  datahub-web-react/src/i18n/locales/fi/entity.preview.json
  datahub-web-react/src/i18n/locales/fr/entity.preview.json
  datahub-web-react/src/i18n/locales/hu/entity.preview.json
  datahub-web-react/src/i18n/locales/it/entity.preview.json
  datahub-web-react/src/i18n/locales/ja/entity.preview.json
  datahub-web-react/src/i18n/locales/nb/entity.preview.json
  datahub-web-react/src/i18n/locales/pt-BR/entity.preview.json
  datahub-web-react/src/i18n/locales/sv/entity.preview.json
  datahub-web-react/src/i18n/locales/zh-CN/entity.preview.json
Due: web-react-lint-fix

fix(openlineage): enforce authorization and harden the REST endpoint contract
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/exception/UnprocessableEntityException.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/openlineage/controller/LineageApiImpl.java
  metadata-service/openapi-servlet/src/main/resources/openlineage/openlineage.json
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/openlineage/controller/LineageApiImplTest.java
Due: metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless

fix(openlineage): demote event payload logging from INFO to DEBUG
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/dataset/DatahubJob.java
Due: metadata-integration-java-openlineage-converter-spotless

feat(openlineage): default the REST endpoint to additive lineage patches
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/openlineage/config/DatahubOpenlineageProperties.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/openlineage/config/OpenLineageServletConfigTest.java
Due: metadata-service-openapi-servlet-spotless

docs(openlineage): document the endpoint response contract and behavior changes
  docs/how/updating-datahub.md
  docs/lineage/openlineage.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ui): consolidate app/browse with the SaaS fork (#19671)
  datahub-web-react/src/app/browse/LegacyBrowsePath.tsx
Due: web-react-lint-fix

refactor(ui): consolidate app/glossary with the SaaS fork (#19669)
  datahub-web-react/src/app/glossary/__tests__/utils.test.ts
  datahub-web-react/src/app/glossary/utils.ts
Due: web-react-lint-fix

refactor(ui): consolidate app/analyticsDashboard with SaaS (#19649)
  datahub-web-react/src/app/analyticsDashboard/components/Highlight.tsx
Due: web-react-lint-fix

refactor(ui): consolidate app/analyticsDashboardV2 with SaaS (#19651)
  datahub-web-react/src/app/analyticsDashboardV2/components/TableChart.tsx
  datahub-web-react/src/app/analyticsDashboardV2/utils/analyticsChartColors.ts
Due: web-react-lint-fix

refactor(ui): consolidate app/lineage with the SaaS fork (#19652)
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/lineage/utils/__tests__/columnLineageUtils.test.tsx
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
  datahub-web-react/src/app/lineage/utils/navigateToLineageUrl.ts
Due: web-react-lint-fix

fix(ingest/snowflake-openflow): split the urn counter by cause; pin the structural test via the AST
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_openflow_report.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_lineage.py
  metadata-ingestion/tests/unit/snowflake_openflow/test_ownership.py
Due: metadata-ingestion-lint-fix
