Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ingest/odcs): honor emit_data_contract on physical path, validate physical/logical-parent combo
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_config.py
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_source.py
  metadata-ingestion/tests/unit/odcs/test_odcs_source.py
Due: metadata-ingestion-lint-fix

refactor(ingest/odcs): use MetadataChangeProposalClass for the patch return type
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_mapper.py
Due: metadata-ingestion-lint-fix

style(ingest/odcs): trim verbose comments on the data-product path
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_constants.py
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_mapper.py
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_source.py
  metadata-ingestion/tests/integration/odcs/test_odcs_integration.py
  metadata-ingestion/tests/unit/odcs/test_odcs_mapper.py
  metadata-ingestion/tests/unit/odcs/test_odcs_source.py
Due: metadata-ingestion-lint-fix

feat(ingest/odcs): add contract datasets to their Data Product as output ports
  metadata-ingestion/docs/sources/odcs/odcs_post.md
  metadata-ingestion/docs/sources/odcs/odcs_pre.md
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_config.py
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_constants.py
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_mapper.py
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_source.py
  metadata-ingestion/tests/integration/odcs/test_odcs_integration.py
  metadata-ingestion/tests/unit/odcs/test_odcs_mapper.py
  metadata-ingestion/tests/unit/odcs/test_odcs_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/odcs): stable output-port target and exact data-product name match
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_constants.py
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_source.py
  metadata-ingestion/tests/unit/odcs/test_odcs_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/odcs): case-insensitive data product name match; don't seed on search failure
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_source.py
  metadata-ingestion/tests/unit/odcs/test_odcs_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/odcs): scope name-search try so one bad aspect read doesn't discard resolution
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_source.py
  metadata-ingestion/tests/unit/odcs/test_odcs_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/odcs): treat an unreadable name-search candidate as uncertain, not a miss
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_source.py
  metadata-ingestion/tests/unit/odcs/test_odcs_source.py
Due: metadata-ingestion-lint-fix

docs(ingest/odcs): document the read-error None case in _data_products_named
  metadata-ingestion/src/datahub/ingestion/source/odcs/odcs_source.py
Due: metadata-ingestion-lint-fix

feat(ingest/iceberg): support Iceberg table format v3 and upgrade pyiceberg to 0.12
  docs/how/updating-datahub.md
  metadata-ingestion/constraints.txt
  metadata-ingestion/docs/sources/iceberg/iceberg_post.md
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_profiler.py
  metadata-ingestion/tests/integration/iceberg/docker-compose.yml
  metadata-ingestion/tests/integration/iceberg/iceberg_deleted_table_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_multiprocessing_to_file.yml
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_to_file.yml
  metadata-ingestion/tests/integration/iceberg/iceberg_v3_ingest_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_v3_to_file.yml
  metadata-ingestion/tests/integration/iceberg/setup/create.py
  metadata-ingestion/tests/integration/iceberg/setup/create_v3.py
  metadata-ingestion/tests/integration/iceberg/setup/delete.py
  metadata-ingestion/tests/integration/iceberg/spark-defaults.conf
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/sigma): recover missing Data Model column-level lineage
  metadata-ingestion/docs/sources/sigma/sigma_post.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/formula_parser.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_dm_element_warehouse_fgl_no_formula.json
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_dm_join_chain_ref.json
  metadata-ingestion/tests/integration/sigma/test_sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
  metadata-ingestion/tests/unit/sigma/test_dm_element_fgl.py
  metadata-ingestion/tests/unit/sigma/test_dm_element_warehouse_fgl.py
  metadata-ingestion/tests/unit/sigma/test_formula_parser.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(examples): correct mlmodel_create_full and drop non-deterministic manifest entry
  metadata-ingestion/examples/library/mlmodel_create_full.py
  smoke-test/tests/library_examples/example_manifest.py
Due: metadata-ingestion-lint-fix, smoke-test-lint-fix

docs(quickstart): derive DOCKER_HOST from the active Docker context
  docs/troubleshooting/quickstart.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/kafka): resolve a topic to its own registry subject
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/tests/unit/kafka/test_confluent_schema_registry.py
Due: metadata-ingestion-lint-fix

fix(ingest/microstrategy): qualify chart input field names by column group
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/mapper.py
  metadata-ingestion/tests/integration/microstrategy/microstrategy_mcps_golden.json
  metadata-ingestion/tests/integration/microstrategy/microstrategy_warehouse_lineage_golden.json
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_mapper.py
Due: metadata-ingestion-lint-fix

fix(ingest/microstrategy): hide system folders Strategy Web never shows
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/microstrategy/microstrategy_post.md
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/constants.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/mapper.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/models.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/source.py
  metadata-ingestion/tests/integration/microstrategy/test_microstrategy.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_mapper.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ui/ingest): surface new MicroStrategy recipe options in the source form
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/microstrategy.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/microstrategy.ts
Due: web-react-lint-fix

fix(ingest/microstrategy): shorten derived-metric field descriptions
  metadata-ingestion/docs/sources/microstrategy/microstrategy_post.md
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/mapper.py
  metadata-ingestion/tests/integration/microstrategy/microstrategy_mcps_golden.json
  metadata-ingestion/tests/integration/microstrategy/microstrategy_warehouse_lineage_golden.json
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/microstrategy): compound-grid column completeness and predefined folder labels
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/microstrategy/microstrategy_post.md
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/client.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/config.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/constants.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/mapper.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/microstrategy_semantic_model.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/models.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/report.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/source.py
  metadata-ingestion/tests/integration/microstrategy/microstrategy_mcps_golden.json
  metadata-ingestion/tests/integration/microstrategy/microstrategy_warehouse_lineage_golden.json
  metadata-ingestion/tests/integration/microstrategy/test_microstrategy.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_client.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_lineage.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_mapper.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

chore(ingest): regenerate connector registry for MicroStrategy TAGS capability text
  metadata-ingestion/src/datahub/ingestion/autogenerated/connector_registry/datahub.json
Due: none

fix(ingest/microstrategy): drop the expression header from metric field descriptions
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/mapper.py
  metadata-ingestion/tests/integration/microstrategy/microstrategy_mcps_golden.json
  metadata-ingestion/tests/integration/microstrategy/microstrategy_warehouse_lineage_golden.json
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_mapper.py
Due: metadata-ingestion-lint-fix

fix(ingest/microstrategy): stamp chart input fields with their column group and source dataset
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/mapper.py
  metadata-ingestion/tests/integration/microstrategy/microstrategy_mcps_golden.json
  metadata-ingestion/tests/integration/microstrategy/microstrategy_warehouse_lineage_golden.json
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_mapper.py
Due: metadata-ingestion-lint-fix

fix(ingest/microstrategy): file datasets under their own folder
  metadata-ingestion/docs/sources/microstrategy/microstrategy_post.md
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/client.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/constants.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/mapper.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/report.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/source.py
  metadata-ingestion/tests/integration/microstrategy/microstrategy_mcps_golden.json
  metadata-ingestion/tests/integration/microstrategy/microstrategy_warehouse_lineage_golden.json
  metadata-ingestion/tests/integration/microstrategy/test_microstrategy.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_mapper.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/kafka): read Stream Catalog owners and descriptions
  metadata-ingestion/docs/sources/kafka/kafka_post.md
  metadata-ingestion/src/datahub/ingestion/source/confluent/models.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/confluent_catalog_constants.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_config.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_report.py
  metadata-ingestion/tests/unit/kafka/test_kafka_confluent_catalog.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/microstrategy): name chart fields as the grid does
  metadata-ingestion/docs/sources/microstrategy/microstrategy_post.md
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/constants.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/mapper.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/models.py
  metadata-ingestion/tests/integration/microstrategy/microstrategy_mcps_golden.json
  metadata-ingestion/tests/integration/microstrategy/microstrategy_warehouse_lineage_golden.json
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_mapper.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/microstrategy): read report derived metric formulas
  metadata-ingestion/docs/sources/microstrategy/microstrategy_post.md
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/client.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/config.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/constants.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/mapper.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/models.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/report.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/source.py
  metadata-ingestion/tests/integration/microstrategy/microstrategy_mcps_golden.json
  metadata-ingestion/tests/integration/microstrategy/microstrategy_warehouse_lineage_golden.json
  metadata-ingestion/tests/integration/microstrategy/test_microstrategy.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_mapper.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_models.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/microstrategy): declare sqlparse and fail loudly
  metadata-ingestion/docs/sources/microstrategy/microstrategy_pre.md
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/report.py
  metadata-ingestion/src/datahub/ingestion/source/microstrategy/source.py
  metadata-ingestion/tests/unit/microstrategy/test_microstrategy_source.py
  metadata-ingestion/uv.lock
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

ci(release): Slack-notify docker-unified start on GitHub release publish
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ingestion/unity): detect Databricks redacted query text and warn (#19351)
  metadata-ingestion/docs/sources/databricks/unity-catalog_post.md
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
  metadata-ingestion/src/datahub/ingestion/source/unity/connection_test.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
  metadata-ingestion/tests/unit/test_unity_catalog_usage_join.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(executor): mask requirements logging in-process instead of cat
  metadata-ingestion/src/datahub/executor/execution/runner.py
  metadata-ingestion/tests/unit/executor/test_requirements_logging.py
Due: metadata-ingestion-lint-fix

fix(ingest): stop the lock scripts from requiring setuptools (breaks on py3.12)
  metadata-ingestion/scripts/generate_pyproject_deps.py
  metadata-ingestion/scripts/verify_pyproject_equivalence.py
  metadata-ingestion/src/datahub/utilities/pkg_resources_shim.py
  metadata-ingestion/src/datahub/utilities/threading_timeout.py
  metadata-ingestion/tests/unit/test_lock_scripts.py
  metadata-ingestion/tests/unit/test_no_pyspark_dependency.py
  metadata-ingestion/tests/unit/test_packages.py
  metadata-ingestion/tests/unit/test_packaging.py
  metadata-ingestion/tests/unit/test_setup_py_requirements.py
  metadata-ingestion/tests/unit/utilities/test_pkg_resources_shim.py
  metadata-ingestion/tests/unit/utilities/test_threading_timeout.py
Due: metadata-ingestion-lint-fix

ci(release): Slack-notify docker-unified start on GitHub release publish (#19640)
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

ci(release): surface docker-unified URL in the cut-tag summary
  .github/actions/notify-release-channel/action.yml
  .github/workflows/docker-unified.yml
  .github/workflows/release-process-cut-branch.yml
  .github/workflows/release-process-cut-tag.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

ci(release): keep Slack token wiring out of the composite description
  .github/actions/notify-release-channel/action.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(executor): mask requirements logging in-process instead of cat (#19641)
  metadata-ingestion/src/datahub/executor/execution/runner.py
  metadata-ingestion/tests/unit/executor/test_requirements_logging.py
Due: metadata-ingestion-lint-fix

fix(executor): route runner log echo through stdlib logging
  metadata-ingestion/src/datahub/executor/execution/runner.py
  metadata-ingestion/tests/unit/executor/test_runner.py
Due: metadata-ingestion-lint-fix

docs(config): describe provider override in ConfigResolution contract
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/resolver/ConfigResolution.java
Due: metadata-service-configuration-spotless

fix(executor): route runner log echo through stdlib logging (#19642)
  metadata-ingestion/src/datahub/executor/execution/runner.py
  metadata-ingestion/tests/unit/executor/test_runner.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
