Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

feat(ui): Add pagination and search support to role selector
  datahub-web-react/src/app/identity/group/GroupList.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/identity/user/ViewInviteTokenModal.tsx
  datahub-web-react/src/app/identity/user/__tests__/useRoleSelector.test.ts
  datahub-web-react/src/app/identity/user/useRoleSelector.ts
Due: web-react-lint-fix

fix(dagster): update job URL generation to use code location
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/client/dagster_generator.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/sensors/datahub_sensors.py
Due: metadata-ingestion-modules-dagster-plugin-lint-fix, update-lineage-file

feat: make aspect size metric buckets configurable with critical-path optimization
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectSizePayloadValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/AspectSizeValidator.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/AspectSizeValidationConfig.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: metadata-io-spotless, metadata-service-configuration-spotless

handle the display name that got updated in the previous design modal
  datahub-web-react/src/app/ingestV2/source/builder/DefineRecipeStep.tsx
Due: web-react-lint-fix

fix(ingest/hive): upgrade to acryl-pyhive 0.6.17 to fix "HTTPMessage object has no attribute pop"
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

fix(ingest/db2): the ibm_db package is not installable on Linux ARM
  metadata-ingestion/setup.py
  metadata-ingestion/tests/integration/db2/test_db2.py
Due: metadata-ingestion-lint-fix

docs: Tiny fix, platform Window -> Windows. (#15849)
  docs/quickstart.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(cli) support extra-pip & extra-env options in config file (#15800)
  docs/cli.md
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/utilities/ingest_utils.py
  metadata-ingestion/tests/unit/utilities/sample_deploy_demo.dhub.yaml
  metadata-ingestion/tests/unit/utilities/test_ingest_utils.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/hive): upgrade to acryl-pyhive 0.6.17 to fix "HTTPMessage object has no attribute pop" (#15737)
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

fix: gcp credential leak on process termination
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_connection.py
  metadata-ingestion/src/datahub/ingestion/source/common/gcp_project_utils.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_config.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_source.py
  metadata-ingestion/tests/unit/bigquery/test_bigqueryv2_usage_source.py
  metadata-ingestion/tests/unit/test_gcp_project_utils.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

fix: updated docstrings and comments
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

test: classify aspectSize.metrics.sizeBuckets as non-sensitive property
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
Due: metadata-io-spotless

fix:error handling and error messages.
  metadata-ingestion/src/datahub/ingestion/source/common/gcp_project_utils.py
  metadata-ingestion/tests/unit/test_gcp_project_utils.py
Due: metadata-ingestion-lint-fix

fix small bug with always showing pill
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step1SelectSource/SourcePlatformCard.tsx
Due: web-react-lint-fix

add message when trying to initialize db2 source
  metadata-ingestion/src/datahub/ingestion/source/sql/db2.py
Due: metadata-ingestion-lint-fix

fix: added rate limiting for vertex ai api calls
  metadata-ingestion/src/datahub/ingestion/source/common/gcp_project_utils.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/tests/unit/test_gcp_project_utils.py
Due: metadata-ingestion-lint-fix

feat(ui): Wire up search and infinite scroll to role selector components
  datahub-web-react/src/app/identity/group/GroupList.tsx
  datahub-web-react/src/app/identity/group/GroupListItem.tsx
  datahub-web-react/src/app/identity/group/SelectRoleGroup.tsx
  datahub-web-react/src/app/identity/user/SelectRole.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/identity/user/UserListItem.tsx
Due: web-react-lint-fix

fix: test coverage
  metadata-ingestion/tests/integration/vertexai/test_vertexai_multiproject.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

fix: gcp environment variable pollution
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
Due: metadata-ingestion-lint-fix

fix: added comments for project_id filtering
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Due: metadata-ingestion-lint-fix

use separate conditional for MCE processor
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeEventsProcessor.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/config/MetadataChangeEventsProcessorCondition.java
  metadata-jobs/mce-consumer/src/test/java/com/linkedin/metadata/kafka/config/MetadataChangeEventsProcessorConditionTest.java
Due: metadata-jobs-mce-consumer-spotless

fix: refactoring
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

chore: remove redundant comment
  entity-registry/src/test/java/com/linkedin/metadata/aspect/EntityAspectTest.java
Due: entity-registry-spotless

fix(ui) Show loading for slow ingestion source executions
  datahub-web-react/src/app/ingestV2/source/__tests__/usePollSource.test.ts
  datahub-web-react/src/app/ingestV2/source/usePollSource.ts
Due: web-react-lint-fix

fix: edge cases and code refactoring
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/common/gcp_project_utils.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/tests/unit/test_gcp_project_utils.py
Due: metadata-ingestion-lint-fix

fix: added tests for empty credentials check
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

updated the logic for PageBanner, and added UTs
  datahub-web-react/src/app/homeV3/freeTrial/FreeTrialContent.tsx
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/billing/BillingFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/billing/BillingFactoryTest.java
Due: metadata-service-factories-spotless, web-react-lint-fix

fix: config validation edge cases
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_config.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

fix: removed duplicates project processing
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_config.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

test: add coverage for configurable size bucketing
  metadata-io/src/test/java/com/linkedin/metadata/entity/AspectSizePayloadValidatorTest.java
Due: metadata-io-spotless

docs: add aspect size metrics to monitoring guide
  docs/advanced/monitoring.md
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectSizePayloadValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/AspectSizeValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/AspectSizePayloadValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/validation/AspectSizeValidatorTest.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless

fix: code refactoring
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/common/gcp_project_utils.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/tests/unit/test_gcp_project_utils.py
Due: metadata-ingestion-lint-fix

feat(ui): Add pagination and search support to role selector (#15858)
  datahub-web-react/src/app/identity/group/GroupList.tsx
  datahub-web-react/src/app/identity/group/GroupListItem.tsx
  datahub-web-react/src/app/identity/group/SelectRoleGroup.tsx
  datahub-web-react/src/app/identity/user/SelectRole.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/identity/user/UserListItem.tsx
  datahub-web-react/src/app/identity/user/ViewInviteTokenModal.tsx
  datahub-web-react/src/app/identity/user/__tests__/useRoleSelector.test.ts
  datahub-web-react/src/app/identity/user/useRoleSelector.ts
Due: web-react-lint-fix

feat(ingestion): add automatic VCR/responses fallback for HTTP replay
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/cli/recording_cli.py
  metadata-ingestion/src/datahub/ingestion/recording/archive.py
  metadata-ingestion/src/datahub/ingestion/recording/http_recorder.py
  metadata-ingestion/src/datahub/ingestion/recording/recorder.py
  metadata-ingestion/src/datahub/ingestion/recording/replay.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
Due: metadata-ingestion-lint-fix

docs(ingestion): add documentation for recording/replay feature
  docs/cli.md
  docs/how/debug-ingestion-recording.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/recording/README.md
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(setup): restrict pyzipper version to avoid compatibility issues
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

fix(setup): restrict vcrpy version for compatibility with Python 3.10
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

docs(ingestion): update link in debug ingestion recording documentation
  docs/how/debug-ingestion-recording.md
Due: datahub-web-react-mdPrettierWriteChanged
