Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: ./gradlew :datahub-graphql-core:spotlessApply
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: ./gradlew :datahub-upgrade:spotlessApply
  language: system
  pass_filenames: false

entity-registry-spotless:
  name: entity-registry Spotless Apply
  entry: ./gradlew :entity-registry:spotlessApply
  language: system
  pass_filenames: false

ingestion-scheduler-spotless:
  name: ingestion-scheduler Spotless Apply
  entry: ./gradlew :ingestion-scheduler:spotlessApply
  language: system
  pass_filenames: false

li-utils-spotless:
  name: li-utils Spotless Apply
  entry: ./gradlew :li-utils:spotlessApply
  language: system
  pass_filenames: false

metadata-auth-auth-api-spotless:
  name: metadata-auth/auth-api Spotless Apply
  entry: ./gradlew :metadata-auth:auth-api:spotlessApply
  language: system
  pass_filenames: false

metadata-dao-impl-kafka-producer-spotless:
  name: metadata-dao-impl/kafka-producer Spotless Apply
  entry: ./gradlew :metadata-dao-impl:kafka-producer:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-avro-spotless:
  name: metadata-events/mxe-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-registration-spotless:
  name: metadata-events/mxe-registration Spotless Apply
  entry: ./gradlew :metadata-events:mxe-registration:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-schemas-spotless:
  name: metadata-events/mxe-schemas Spotless Apply
  entry: ./gradlew :metadata-events:mxe-schemas:spotlessApply
  language: system
  pass_filenames: false

metadata-events-mxe-utils-avro-spotless:
  name: metadata-events/mxe-utils-avro Spotless Apply
  entry: ./gradlew :metadata-events:mxe-utils-avro:spotlessApply
  language: system
  pass_filenames: false

metadata-ingestion-lint-fix:
  name: metadata-ingestion Lint Fix
  entry: ./gradlew :metadata-ingestion:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-airflow-plugin-lint-fix:
  name: metadata-ingestion-modules/airflow-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:airflow-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-dagster-plugin-lint-fix:
  name: metadata-ingestion-modules/dagster-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:dagster-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-gx-plugin-lint-fix:
  name: metadata-ingestion-modules/gx-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:gx-plugin:lintFix
  language: system
  pass_filenames: false

metadata-ingestion-modules-prefect-plugin-lint-fix:
  name: metadata-ingestion-modules/prefect-plugin Lint Fix
  entry: ./gradlew :metadata-ingestion-modules:prefect-plugin:lintFix
  language: system
  pass_filenames: false

lintfix
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
Due: metadata-ingestion-lint-fix

Update teradata.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Due: metadata-ingestion-lint-fix

avro_schema_util first version (avro schema is dict)
  metadata-ingestion/src/datahub/ingestion/extractor/avro_schema_util.py
Due: metadata-ingestion-lint-fix

add get_subtype
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
Due: metadata-ingestion-lint-fix

feat(docs): Add live secret reload in k8s remote executor page (#12541)
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Due: none

fix(ingest): remove duplicate mcps,more typing (#12557)
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
Due: metadata-ingestion-lint-fix

doc: update doc of first release
  docs/managed-datahub/release-notes/v_0_3_8.md
Due: none

doc: update doc of first release (#12574)
  docs/managed-datahub/release-notes/v_0_3_8.md
Due: none

doc(iceberg): formatting fixes, corrections to python snippets
  docs/iceberg-catalog.md
Due: none

fix(ingest/forms): add error handling form source (#5087)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/datahub_reporting/datahub_form_reporting.py
Due: none

fix(docs) explain need to restore indices when adding @Searchable
  docs/modeling/extending-the-metadata-model.md
Due: none

fix(docs): need to restore indices when adding @Searchable (#12576)
  docs/modeling/extending-the-metadata-model.md
Due: none

feat(UI): add samples section on column stats (#205) (#5036)
  datahub-web-react/src/alchemy-components/components/Drawer/Drawer.stories.tsx
  datahub-web-react/src/alchemy-components/components/Drawer/Drawer.tsx
  datahub-web-react/src/alchemy-components/components/Drawer/components.tsx
  datahub-web-react/src/alchemy-components/components/Drawer/defaults.ts
  datahub-web-react/src/alchemy-components/components/Drawer/types.ts
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/alchemy-components/components/Text/Text.tsx
  datahub-web-react/src/alchemy-components/components/Text/components.ts
  datahub-web-react/src/alchemy-components/components/Text/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/StatsTabContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/Samples/SamplesSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/Samples/__tests__/utils.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/Samples/components/AllSamplesDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/Samples/components/SampleDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/Samples/components/SampleValueCell.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/Samples/components/SampleValueDetailed.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/Samples/components/SamplesTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/Samples/utils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/StatsAndInsights/StatsAndInsightsSection.tsx
Due: none

feat(ui/forms): show existing value of owners in forms for owners type prompts (#5040)
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/OwnershipPrompt.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/_tests_/mocks.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/_tests_/utils.test.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/useOwnershipPrompt.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/OwnershipPrompt/utils.ts
Due: none

fix(sdk): fix platform instance generation in the sdk (#12573)
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/container.py
  metadata-ingestion/tests/test_helpers/sdk_v2_helpers.py
  metadata-ingestion/tests/unit/sdk_v2/container_golden/test_container_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/container_golden/test_container_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_ingestion_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_container.py
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
Due: metadata-ingestion-lint-fix

fix(structuredProps) Add validation for allowedTypes and harden API for invalid types
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeUrnMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/structuredproperties/validation/PropertyDefinitionValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/structuredproperties/validators/PropertyDefinitionValidatorTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless

feat(gh-workflows) adding jayacryl to pr-labeler
  .github/workflows/pr-labeler.yml
Due: none

fix(UI): Switching to Meticulous script tag (#5081)
  datahub-web-react/package.json
  datahub-web-react/src/index.tsx
  datahub-web-react/vite.config.ts
  datahub-web-react/yarn.lock
Due: none

test more reliable
  smoke-test/tests/cypress/cypress/e2e/metadata_tests/tests.js
Due: none

make metadata test more reliable
  datahub-web-react/src/app/tests/builder/steps/definition/builder/property/input/EntityTypeSelect.tsx
  smoke-test/tests/cypress/cypress/e2e/metadata_tests/tests.js
  smoke-test/tests/cypress/cypress/e2e/metadata_testsV2/v2_tests.js
Due: none

fix(looker): sort user mapping for consistency (#12569)
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
Due: metadata-ingestion-lint-fix

fix(ingestion/teradata): teradata profiling fix for pooling (#12507)
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Due: metadata-ingestion-lint-fix

add section headers + move deployment section down
  docs-website/sidebars.js
Due: none

move apis and sdks section up
  docs-website/sidebars.js
Due: none

fix(structuredProps) Add validation for allowedTypes and harden API for invalid types (#5090)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeUrnMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/structuredproperties/validation/PropertyDefinitionValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/structuredproperties/validators/PropertyDefinitionValidatorTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless

make python and java sdks top-level items
  docs-website/sidebars.js
Due: none

reorganize apis section
  docs-website/sidebars.js
Due: none

add metadata standard doc - currently empty
  docs-website/sidebars.js
  docs/metadata-standards.md
Due: none

add basic v2 data process instance entity
  datahub-web-react/src/app/buildEntityRegistryV2.ts
  datahub-web-react/src/app/entityV2/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Lineage/utils.tsx
Due: none

fix(structuredProps) Add validation for allowedTypes and harden API for invalid types (#12578)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeUrnMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/structuredproperties/validation/PropertyDefinitionValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/structuredproperties/validators/PropertyDefinitionValidatorTest.java
Due: datahub-graphql-core-spotless, metadata-io-spotless

fixing openapi nesting
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

fix(ui): better experience for analytics charts (#12462)
  datahub-web-react/src/app/analyticsDashboard/components/TimeSeriesChart.tsx
Due: none

add pytest hooks for updating goldens
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/src/datahub/testing/check_sql_parser_result.py
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
  metadata-ingestion/src/datahub/testing/pytest_hooks.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/test_helpers/mce_helpers.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

update sdk helper
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
  metadata-ingestion/tests/test_helpers/mce_helpers.py
  metadata-ingestion/tests/test_helpers/sdk_v2_helpers.py
  metadata-ingestion/tests/unit/api/entities/structuredproperties/test_structuredproperties.py
  metadata-ingestion/tests/unit/sdk_v2/test_container.py
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
  metadata-ingestion/tests/unit/sdk_v2/test_entity_client.py
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Due: metadata-ingestion-lint-fix

feat(ingest/mssql): improve stored procedure splitting (#12563)
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
  metadata-ingestion/tests/unit/sql_parsing/test_split_statements.py
Due: metadata-ingestion-lint-fix

fix tests
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AcrylValidationsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/CreateAssertionButton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/ActionItem.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/StartStopAction.tsx
  smoke-test/tests/cypress/cypress/e2e/assertionsV2/v2_freshness_assertion.js
  smoke-test/tests/cypress/cypress/e2e/assertionsV2/v2_volume_assertions.js
  smoke-test/tests/cypress/cypress/e2e/lineage/download_lineage_results.js
  smoke-test/tests/cypress/cypress/support/commands.js
Due: none

fix testcases
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AggregationQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchQueryBuilderTest.java
  metadata-models/src/main/pegasus/com/linkedin/businessattribute/BusinessAttributeAssociation.pdl
Due: metadata-io-spotless

Updated test files
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_structured_properties_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
Due: metadata-ingestion-lint-fix

add docs
  docs/metadata-standards.md
Due: none

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
