Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ingest/sql-parsing): keep joins that pass through a table function
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_join_through_subquery_with_table_function.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

fix(ingest/sql-parsing): limit legacy MSSQL hints to those allowed without WITH
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_mssql_table_valued_functions.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

fix(ingest/sql-parsing): skip table functions when extracting table names
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_clickhouse_table_function.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_table_function.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

fix(sql-parsing): update _drop_unnamed_tables to accept Iterable instead of OrderedSet
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

feat(access management): add a 'Not granted' disabled button
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/AccessButtonHelpers.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
  datahub-web-react/src/i18n/locales/en/entity.profile.access.json
  datahub-web-react/src/utils/test-utils/createAccessButtonHelpersTestSuite.tsx
Due: web-react-lint-fix

fix(ui): fix scroll and flicker issues in select assets tab in views modal and collection module
  datahub-web-react/src/alchemy-components/components/ButtonTabs/ButtonTabs.tsx
  datahub-web-react/src/alchemy-components/components/ButtonTabs/components.ts
  datahub-web-react/src/alchemy-components/components/ButtonTabs/types.ts
  datahub-web-react/src/app/entityV2/view/builder/SelectFilterValuesTab.tsx
  datahub-web-react/src/app/entityV2/view/builder/SelectedFilterValues.tsx
  datahub-web-react/src/app/entityV2/view/builder/ViewBuilderForm.tsx
  datahub-web-react/src/app/entityV2/view/builder/ViewBuilderModal.tsx
  datahub-web-react/src/app/entityV2/view/builder/ViewDefinitionBuilder.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/AssetCollectionModal.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/ManualSelectAssetsTab.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/SelectAssetsSection.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/SelectedAssetsSection.tsx
Due: web-react-lint-fix

ci(ui): fail when a locale file stores keys as nested objects (#20040)
  .github/workflows/lint-jobs.yml
  datahub-web-react/build.gradle
  datahub-web-react/package.json
  datahub-web-react/scripts/check-i18n-flat-keys.mjs
Due: datahub-web-react-githubActionsPrettierWriteChanged, web-react-lint-fix, check-gradle-lockfiles

fix(playwright): fix lineage v3 impact analysis test
  e2e-test/ui/playwright/tests/lineage-v3/v3-lineage-impact-analysis.spec.ts
Due: none

test(playwright): anchor lineage time-range checks on the loaded response
  e2e-test/ui/playwright/pages/lineage-v3.page.ts
  e2e-test/ui/playwright/tests/lineage-v3/v3-lineage-impact-analysis.spec.ts
Due: none

test(playwright): match data jobs by URN and keep the sidebar out of the main list
  e2e-test/ui/playwright/pages/lineage-v3.page.ts
  e2e-test/ui/playwright/tests/lineage-v3/v3-lineage-impact-analysis.spec.ts
Due: none

test(playwright): match lineage list results by URN test id
  e2e-test/ui/playwright/pages/lineage-v3.page.ts
  e2e-test/ui/playwright/tests/lineage-v3/v3-lineage-impact-analysis.spec.ts
Due: none

feat(airflow): add schedule extraction for DAGs and update test cases to reflect changes
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_airflow_asset_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator_dev_cluster.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_bigquery_insert_job_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_bigquery_insert_job_operator_dev_cluster.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_consume_decorated_assets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_sql_parsing.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_decorated_asset_producer.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_decorated_asset_with_file.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_datajob_lineage.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator_dev_cluster.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_teradata_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_teradata_operator_dev_cluster.json
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
Due: metadata-ingestion-modules-airflow-plugin-lint-fix, update-lineage-file

fix(ingest/bigquery): don't treat dated copies of a real table as shards (#19430)
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(montecarlo): lock TABLE-scope misses and stabilize assertion URNs
  metadata-ingestion/docs/sources/montecarlo/montecarlo_post.md
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/assertion.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/client.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ui): raise the v1 edit-owners modal to the dropdown z-index
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Ownership/EditOwnersModal.tsx
Due: web-react-lint-fix

refactor(ui): move three v1 entity components onto theme colour tokens
  datahub-web-react/src/app/entity/shared/components/styled/EntityIcon.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/UrnInput/useUrnInput.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/PropertyTypeLabel.tsx
Due: web-react-lint-fix

refactor(ui): group logical-model fields at the end of GenericEntityProperties
  datahub-web-react/src/app/entity/shared/types.ts
Due: web-react-lint-fix

refactor(ui): show the v2 welcome copy in the v1 home onboarding step
  datahub-web-react/src/app/onboarding/config/HomePageOnboardingConfig.tsx
Due: web-react-lint-fix

feat(ui): offer OAuth M2M and Azure AD auth in the v1 Databricks recipe form
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/unity_catalog.tsx
Due: web-react-lint-fix

fix(ui): show one tooltip for a truncated, propagated structured property value
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/StructuredPropertyValue.tsx
Due: web-react-lint-fix

fix(ui): make the description editor's Cancel button a plain button
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/DescriptionEditorToolbar.tsx
Due: web-react-lint-fix

docs(ui): drop the self-referential note from the v1 EntitySidebar lint directive
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/EntitySidebar.tsx
Due: web-react-lint-fix

fix(ui): guard the contract assertion lookups in createBuilderState
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/contract/builder/utils.ts
Due: web-react-lint-fix

docs(ui): fix the copy-pasted deselect comments in two search modals
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/AddRelatedTermsModal.tsx
  datahub-web-react/src/app/shared/businessAttribute/AddBusinessAttributeModal.tsx
Due: web-react-lint-fix

test(playwright): check impact analysis time filtering in the main lineage tab (#20099)
  e2e-test/ui/playwright/pages/lineage-v3.page.ts
  e2e-test/ui/playwright/tests/lineage-v3/v3-lineage-impact-analysis.spec.ts
Due: none

docs(ingest/sql-parsing): note MSSQL table-valued function follow-up and document skipped table functions
  docs/lineage/sql_parsing.md
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

refactor(ui): consolidate app (part 3) (#20069)
  datahub-web-react/src/app/entity/shared/components/styled/EntityIcon.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/EntitySidebar.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Ownership/EditOwnersModal.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/UrnInput/useUrnInput.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/PropertyTypeLabel.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/AddRelatedTermsModal.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/contract/builder/utils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/DescriptionEditorToolbar.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/StructuredPropertyValue.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/unity_catalog.tsx
  datahub-web-react/src/app/onboarding/config/HomePageOnboardingConfig.tsx
  datahub-web-react/src/app/shared/businessAttribute/AddBusinessAttributeModal.tsx
Due: web-react-lint-fix

feat(api): Add graphql and UI for API entity type
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/api/ApiType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/api/mappers/ApiMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UrnToEntityMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeUrnMapper.java
  datahub-graphql-core/src/main/resources/api.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/versioning.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/AspectMappingCompletenessTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/MapperReadsCoveredByAnnotationsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/RealSchemaAspectMappingTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/api/ApiTypeTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/api/mappers/ApiMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/common/mappers/UrnToEntityMapperTest.java
  datahub-web-react/src/app/buildEntityRegistryV2.ts
  datahub-web-react/src/app/entityV2/api/ApiEntity.tsx
  datahub-web-react/src/app/entityV2/api/ApiSummaryTab.tsx
  datahub-web-react/src/app/entityV2/api/SignatureTab.tsx
  datahub-web-react/src/app/entityV2/api/__tests__/ApiSummaryTab.test.tsx
  datahub-web-react/src/app/entityV2/api/__tests__/SignatureTab.test.tsx
  datahub-web-react/src/app/entityV2/api/preview/Preview.tsx
  datahub-web-react/src/graphql/api.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/graphql/search.graphql
  datahub-web-react/src/i18n/locales/en/entity.types.json
Due: datahub-graphql-core-spotless, web-react-lint-fix

fix(ingest/sql-parsing): skip table functions when extracting table names (#20061)
  docs/lineage/sql_parsing.md
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_table_inside_table_function.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_clickhouse_table_function.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_cross_join_table_function_is_not_a_self_join.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_join_through_subquery_with_table_function.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_lateral_table_function_is_not_a_self_join.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_qualified_table_function.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_table_function.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

format
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolverTest.java
Due: datahub-graphql-core-spotless

docs(i18n): describe what multi-language support translates (#20085)
  docs/features/feature-guides/multi-language-support.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(gms): skip Hazelcast Kubernetes join outside the cluster (#20088)
  docs/deploy/gms-entity-graph-cache.md
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/hazelcast/HazelcastDiscoveryMode.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/hazelcast/HazelcastDiscoveryModeTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/CacheConfig.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-configuration-spotless, metadata-service-factories-spotless

feat(actions): honour KAFKA_PROPERTIES_* env vars in the Kafka event source
  datahub-actions/src/datahub_actions/plugin/source/kafka/kafka_event_source.py
  datahub-actions/tests/unit/plugin/source/kafka/test_kafka_source_env_properties.py
  docs/actions/sources/kafka-event-source.md
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-actions-lint-fix

chore(product-update): add Cloud 2.3 toast description
  metadata-service/configuration/src/main/resources/product-update-saas.json
Due: none

chore(product-update): stage disabled Cloud 2.3 October toast
  datahub-web-react/src/images/in-product-release-oct2026.png
  metadata-service/configuration/src/main/resources/product-update-saas.json
Due: none

ci: skip collect-metrics on forks (#19680)
  .github/workflows/post-workflow-actions.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs(quickstart): document silent hang when DOCKER_HOST is unset with Colima/Rancher Desktop/Podman (#19046)
  docs/troubleshooting/quickstart.md
Due: datahub-web-react-mdPrettierWriteChanged

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
