Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

Update test_doris_dialect.py
  metadata-ingestion/tests/unit/doris/test_doris_dialect.py
Due: metadata-ingestion-lint-fix

refactoring
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Due: metadata-ingestion-lint-fix

username urn updates
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_constants.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

Update metadata-ingestion
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/build.gradle
  metadata-ingestion/setup.cfg
Due: datahub-web-react-githubActionsPrettierWriteChanged, check-gradle-lockfiles

Update ingestion-airflow-plugin
  .github/workflows/airflow-plugin.yml
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/setup.cfg
Due: datahub-web-react-githubActionsPrettierWriteChanged, update-lineage-file, check-gradle-lockfiles

Update smoke tests
  smoke-test/pyproject.toml
Due: smoke-test-lint-fix

Update dagster-plugin
  .github/workflows/dagster-plugin.yml
  metadata-ingestion-modules/dagster-plugin/build.gradle
  metadata-ingestion-modules/dagster-plugin/setup.cfg
Due: datahub-web-react-githubActionsPrettierWriteChanged, update-lineage-file, check-gradle-lockfiles

Update gx-plugin
  .github/workflows/gx-plugin.yml
  metadata-ingestion-modules/gx-plugin/build.gradle
  metadata-ingestion-modules/gx-plugin/setup.cfg
Due: datahub-web-react-githubActionsPrettierWriteChanged, update-lineage-file, check-gradle-lockfiles

Update prefect plugin
  .github/workflows/prefect-plugin.yml
  metadata-ingestion-modules/prefect-plugin/build.gradle
  metadata-ingestion-modules/prefect-plugin/setup.cfg
Due: datahub-web-react-githubActionsPrettierWriteChanged, update-lineage-file, check-gradle-lockfiles

Update iceberg-catalog
  metadata-service/iceberg-catalog/build.gradle
  metadata-service/iceberg-catalog/pyproject.toml
Due: metadata-service-iceberg-catalog-lint-fix, check-gradle-lockfiles

Fix artifact names
  .github/workflows/airflow-plugin.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/prefect-plugin.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

Fix metadata-ingestion
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/build.gradle
Due: datahub-web-react-githubActionsPrettierWriteChanged, check-gradle-lockfiles

vertex holistic re-write
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/ml_metadata_helper.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/protobuf_utils.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_builder.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_config.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_exceptions.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_experiment_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_model_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_models.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_pipeline_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_state.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_training_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_utils.py
  metadata-ingestion/tests/integration/vertexai/mock_vertexai.py
  metadata-ingestion/tests/integration/vertexai/test_ml_metadata_integration.py
  metadata-ingestion/tests/integration/vertexai/test_vertexai.py
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
  metadata-ingestion/tests/unit/vertexai/test_vertexai_ml_metadata.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_partition_normalization.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix duplicate job warnings
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_models.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_training_extractor.py
Due: metadata-ingestion-lint-fix

Update test_vertexai.py
  metadata-ingestion/tests/integration/vertexai/test_vertexai.py
Due: metadata-ingestion-lint-fix

Update vertexai_builder.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_builder.py
Due: metadata-ingestion-lint-fix

improve efficiency
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
Due: metadata-ingestion-lint-fix

test fixes
  metadata-ingestion/tests/unit/vertexai/test_vertexai_partition_normalization.py
Due: metadata-ingestion-lint-fix

containerclass fix
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_pipeline_extractor.py
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

docs: fix gradle command for deploying versioned custom model artifacts
  metadata-models-custom/README.md
Due: datahub-web-react-mdPrettierWriteChanged

test: add CI smoke test for metadata-models-custom
  .github/workflows/metadata-models-custom-ci.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

chore: update GitHub Actions to v4 in CI workflow
  .github/workflows/metadata-models-custom-ci.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs: update version dropdown to 1.4.0
  docs-website/docusaurus.config.js
Due: none

docs: update version dropdown label to 1.4.0
  docs-website/docusaurus.config.js
Due: none

docs: update version to 1.4.0 in docusaurus config
  docs-website/docusaurus.config.js
Due: none

update naming
  docs/assertions/snowflake/snowflake_dmfs.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_assertion.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_assertion.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix: refactoring- removed comments
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Due: metadata-ingestion-lint-fix

feat(snowflake): add support for external DMF assertion ingestion (#16058)
  docs/assertions/snowflake/snowflake_dmfs.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_assertion.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_assertion.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(config): improve description for exclude_aspects field to clarify usage
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
Due: metadata-ingestion-lint-fix

fix(ingestion): update default URN deny patterns and clean up excluded aspects
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
Due: metadata-ingestion-lint-fix

fix(ingestion): update breaking change docs
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingest/dbt): add support for dbt semantic models
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

fix(ingestion): enhance exclude_aspects description and add urn_pattern warning
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_source.py
Due: metadata-ingestion-lint-fix

fix(deps): add missing junit-platform-launcher to scim-api module
  metadata-service/scim-api/build.gradle
  metadata-service/scim-api/gradle.lockfile
Due: check-gradle-lockfiles

feat: Add Fail-Fast Kafka connection validation for Python services (#7338)
  .gitignore
  datahub-executor/src/datahub_executor/coordinator/helpers.py
  datahub-executor/tests/coordinator/test_helpers.py
  datahub-integrations-service/src/datahub_integrations/actions/router.py
  datahub-integrations-service/tests/conftest.py
Due: datahub-executor-lint-fix, datahub-integrations-service-lint-fix

Fix artifact names to use job index
  .github/workflows/airflow-plugin.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/prefect-plugin.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ingestion): add tests for urn_pattern warning behavior in DataHubSource
  metadata-ingestion/tests/unit/test_datahub_source.py
Due: metadata-ingestion-lint-fix

container fix
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_pipeline_extractor.py
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/dbt): update integration test for semantic models
  metadata-ingestion/tests/integration/dbt/test_dbt_cloud_autodiscovery_integration.py
Due: metadata-ingestion-lint-fix
