Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

feat(ingest/airflow): platform_instance support in Airflow plugin (#12751)
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/basic_iolets.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/dag_to_skip.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/simple_dag.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
Due: metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix

fix(ingestion): fixes missing platform instance aspect for DataFlow entitiy
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_empty_connection_user_golden.json
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Due: metadata-ingestion-lint-fix

remove console.log
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/ClickOutside.tsx
Due: none

fix opened autocomplete by default
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.tsx
Due: none

feat(UI): add autocomplete component to components library
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.stories.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/components.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/constants.ts
  datahub-web-react/src/alchemy-components/components/AutoComplete/index.ts
  datahub-web-react/src/alchemy-components/components/AutoComplete/types.ts
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/ClickOutside.stories.tsx
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/ClickOutside.tsx
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/types.ts
  datahub-web-react/src/alchemy-components/components/Utils/OverlayClassContext/OverlayClassContext.tsx
  datahub-web-react/src/alchemy-components/components/Utils/OverlayClassContext/constants.ts
  datahub-web-react/src/alchemy-components/components/Utils/index.ts
  datahub-web-react/src/alchemy-components/index.ts
Due: none

docs(cloud): DataHub Cloud v0.3.9.2 release notes (#13075)
  docs/managed-datahub/release-notes/v_0_3_9.md
Due: none

fix[AddDatasetOwnership]: update logic to manage case with same owner urn but with different ownership types
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_ownership.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Due: metadata-ingestion-lint-fix

fix prefect plugin
  metadata-ingestion-modules/prefect-plugin/src/prefect_datahub/datahub_emitter.py
  metadata-ingestion-modules/prefect-plugin/tests/unit/test_datahub_emitter.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
Due: metadata-ingestion-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix

chore: fixes SIM118 ruff rule (#13069)
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/models.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/sink_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_dataproduct.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_ownership.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/src/datahub/lite/lite_util.py
  metadata-ingestion/src/datahub/testing/mcp_diff.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/src/datahub/utilities/hive_schema_to_avro.py
  metadata-ingestion/tests/integration/oracle/common.py
  metadata-ingestion/tests/integration/powerbi/test_stateful_ingestion.py
  metadata-ingestion/tests/integration/redshift-usage/test_redshift_usage.py
  metadata-ingestion/tests/unit/test_iceberg.py
Due: metadata-ingestion-lint-fix

fix fivetran tests
  docker/datahub-gms/env/docker.env
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_empty_connection_user_golden.json
Due: none

feat(searchBarAutocomplete/dropdown): add basic dropdown component
  datahub-web-react/src/alchemy-components/components/Dropdown/Dropdown.stories.tsx
  datahub-web-react/src/alchemy-components/components/Dropdown/Dropdown.tsx
  datahub-web-react/src/alchemy-components/components/Dropdown/index.ts
  datahub-web-react/src/alchemy-components/components/Dropdown/types.ts
  datahub-web-react/src/alchemy-components/index.ts
Due: none

feat(searchBarAutocomplete/select): wrap simple select with dropdown component
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/components.ts
Due: none

feat(searchBarAutocomplete/select): wrap auto complete select with dropdown component
  datahub-web-react/src/alchemy-components/components/Select/AutoCompleteSelect.tsx
Due: none

feat(searchBarAutocomplete/select): wrap nested select with dropdown component
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
Due: none

feat(searchBarAutocomplete/select): wrap basic select with dropdown component
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
Due: none

feat(searchBarAutocomplete/select): extract dropdown footer actions component
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/components.ts
  datahub-web-react/src/alchemy-components/components/Select/private/DropdownFooterActions.tsx
Due: none

feat(searchBarAutocomplete/select): remove unused styled dropdown component
  datahub-web-react/src/alchemy-components/components/Select/components.ts
Due: none

feat(searchBarAutocomplete/select): extract dropdown select all component
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/components.ts
  datahub-web-react/src/alchemy-components/components/Select/private/DropdownSelectAllOption.tsx
Due: none

feat(searchBarAutocomplete/select): extract dropdown search bar
  datahub-web-react/src/alchemy-components/components/Select/AutoCompleteSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/components.ts
  datahub-web-react/src/alchemy-components/components/Select/private/DropdownSearchBar.tsx
Due: none

Fix stateful ingestion on mflow source
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix

feat(searchBarAutocomplete): add utils for autocomplete to components library
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/ClickOutside.stories.tsx
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/ClickOutside.tsx
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/types.ts
  datahub-web-react/src/alchemy-components/components/Utils/OverlayClassContext/OverlayClassContext.tsx
  datahub-web-react/src/alchemy-components/components/Utils/OverlayClassContext/constants.ts
  datahub-web-react/src/alchemy-components/components/Utils/index.ts
  datahub-web-react/src/alchemy-components/index.ts
Due: none

feat(searchBarAutocomplete): add aucomplete component to components library
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.stories.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/components.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/constants.ts
  datahub-web-react/src/alchemy-components/components/AutoComplete/index.ts
  datahub-web-react/src/alchemy-components/components/AutoComplete/types.ts
  datahub-web-react/src/alchemy-components/index.ts
Due: none

feat(searchBarAutocomplete): add matchtext component
  datahub-web-react/src/alchemy-components/components/MatchText/MatchText.stories.tsx
  datahub-web-react/src/alchemy-components/components/MatchText/MatchText.tsx
  datahub-web-react/src/alchemy-components/components/MatchText/__tests__/annotateHighlightedText.test.ts
  datahub-web-react/src/alchemy-components/components/MatchText/defaults.ts
  datahub-web-react/src/alchemy-components/components/MatchText/index.ts
  datahub-web-react/src/alchemy-components/components/MatchText/types.ts
  datahub-web-react/src/alchemy-components/components/MatchText/utils.ts
  datahub-web-react/src/alchemy-components/index.ts
Due: none

feat(searchBarAutocomplete): add autocomplete entity item component
  datahub-web-react/src/app/entityV2/user/utils.ts
  datahub-web-react/src/app/previewV2/ContextPath.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/AutoCompleteEntityItem.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/icon/DefaultEntityIcon.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/icon/EntityIcon.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/icon/SingleEntityIcon.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/icon/UserEntityIcon.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/icon/types.ts
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/subtitle/DefaultEntitySubtitle.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/subtitle/EntitySubtitle.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/subtitle/UserEntitySubtitle.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/subtitle/types.ts
  datahub-web-react/src/app/searchV2/autoCompleteV2/utils.ts
Due: none

fix airflow tests
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
Due: none

revert
  docker/datahub-gms/env/docker.env
Due: none

fix(ui) Refetch proposal task count when going to task center (#5509)
  datahub-web-react/src/app/taskCenter/TaskCenter.tsx
Due: none

fix(ui/incident): Added hover effect on table
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/alchemy-components/components/Table/components.ts
Due: none

fix(opentelemetry): Resolve type mismatch in metrics exporter (#13053)
  build.gradle
  datahub-frontend/play.gradle
  datahub-upgrade/build.gradle
  docker/datahub-actions/env/docker.env
  docker/datahub-frontend/env/docker.env
  docker/datahub-gms/env/docker.env
  docker/datahub-mae-consumer/env/docker.env
  docker/datahub-mce-consumer/env/docker.env
  metadata-io/build.gradle
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-jobs/mce-consumer/build.gradle
  metadata-operation-context/build.gradle
  metadata-service/factories/build.gradle
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/system_telemetry/OpenTelemetryBaseFactory.java
  metadata-service/openapi-servlet/build.gradle
  metadata-service/war/build.gradle
Due: metadata-service-factories-spotless

Add monitoring docker profile changes and new configs for grafana resources
  docker/monitoring/grafana/dashboards/datahub_otel_dashboard.json
  docker/monitoring/grafana/datasources/prometheus_source.yaml
  docker/monitoring/grafana/datasources/sources.yaml
  docker/monitoring/loki/loki.yaml
  docker/monitoring/otel/otel.yaml
  docker/monitoring/tempo/tempo.yaml
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.monitoring.yml
Due: none
