Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

pushed CI/CD fix
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

fix(doc): re-enable Algolia search
  docs-website/docusaurus.config.js
Due: none

fix scarf image
  docs-website/src/theme/Layout/index.js
Due: none

Add variable to show full title in lineage by default (#12078)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/lineage/LineageVizInsideZoom.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/VisualConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless

add to v2 UI
  datahub-web-react/src/app/entityV2/shared/utils.ts
Due: none

fix(doc): re-enable Algolia search (#12834)
  docs-website/docusaurus.config.js
  docs-website/src/theme/Layout/index.js
Due: none

feat(ui): support all entities with display names in browse paths v2 (#11657)
  datahub-web-react/src/graphql/browseV2.graphql
  datahub-web-react/src/graphql/fragments.graphql
Due: none

Adding fixes for task center linting
  datahub-web-react/src/app/taskCenterV2/TaskCenter.tsx
Due: none

fix(workflows): Update pr-labeler
  .github/workflows/pr-labeler.yml
Due: none

fix(UI): show null values in yaml files for ingestion
  datahub-web-react/src/app/ingest/source/__tests__/tests_utils.test.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
Due: none

feat(ingestion/mlflow): improve mlflow connector to pull run and experiments (#12587)
  metadata-ingestion/examples/recipes/mlflow_to_datahub.dhub.yaml
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
  metadata-ingestion/tests/integration/mlflow/mlflow_mcps_golden.json
  metadata-ingestion/tests/integration/mlflow/test_mlflow_source.py
  smoke-test/tests/cypress/cypress/e2e/ml/experiment.js
  smoke-test/tests/cypress/cypress/e2e/ml/model_mlflow.js
  smoke-test/tests/cypress/cypress/e2e/ml/model_sagemaker.js
  smoke-test/tests/cypress/data.json
Due: metadata-ingestion-lint-fix

removed unsurfaced external url
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Due: metadata-ingestion-lint-fix

fix(workflows): Update pr-labeler (#12835)
  .github/workflows/pr-labeler.yml
Due: none

updated golden files
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
Due: none

adding SubType and Container Class to ML entities
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

revert back conftest.py
  metadata-ingestion/tests/conftest.py
Due: metadata-ingestion-lint-fix

fix import
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

lint fix
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

fixed golden file for integration test
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
Due: none

fix testcase
  metadata-ingestion/tests/integration/hive/hive_mces_golden.json
Due: none

fix lint
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

fix testcase
  metadata-ingestion/tests/integration/hive/hive_mces_all_db_golden.json
Due: none

chore(ruff): enable some ignored rules (#12815)
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_tests.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_aspects.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/performance/bigquery/bigquery_events.py
Due: metadata-ingestion-lint-fix

[wip] add dataset lineage for mlflow
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix

[wip] updates
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix

update siblings
  metadata-ingestion/examples/ai/dh_ai_client_sample.py
  metadata-ingestion/examples/recipes/dataset_lineage_test.json
  metadata-ingestion/examples/recipes/mlflow_to_datahub.dhub.yaml
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix

revert back some of the changes
  metadata-ingestion/examples/ai/dh_ai_client_sample.py
  metadata-ingestion/examples/recipes/dataset_lineage_test.json
  metadata-ingestion/examples/recipes/mlflow_to_datahub.dhub.yaml
Due: metadata-ingestion-lint-fix

revert back some of the changes
  metadata-ingestion/examples/ai/dh_ai_client_sample.py
  metadata-ingestion/examples/recipes/mlflow_to_datahub.dhub.yaml
Due: metadata-ingestion-lint-fix

revert back some of the changes
  metadata-ingestion/examples/recipes/mlflow_to_datahub.dhub.yaml
Due: none

feat(ui/incident-v2): add incident v2 design integration
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentActivityAvatar.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentActivityContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentActivitySection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentAssigneeSelector.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDetailDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDrawerHeader.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentLinkedAssetsList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentSelectedField.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentView.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/constant.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/hooks/useIncidentHandler.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/styledComponents.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentAssigneeAvatarStack.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentFilterContainer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentListLoading.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentListTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentResolutionPopup.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentResolveButton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentTitleContainer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/ResolvedSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/__tests__/utils.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/components/AddIncidentModal.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/components/IncidentListItem.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/components/ResolveIncidentModal.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/constant.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/hooks.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/incidentUtils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/styledComponents.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/utils.tsx
Due: none

update required libs
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

feat(ui/incident-v2): add incident v2 design integration
  datahub-web-react/src/alchemy-components/components/IncidentStagePill/IncidentStagePill.stories.tsx
  datahub-web-react/src/alchemy-components/components/IncidentStagePill/IncidentStagePill.tsx
  datahub-web-react/src/alchemy-components/components/IncidentStagePill/constant.ts
  datahub-web-react/src/alchemy-components/components/IncidentStagePill/index.ts
  datahub-web-react/src/alchemy-components/components/IncidentStagePill/utils.ts
  datahub-web-react/src/app/entityV2/shared/FilterSelect.tsx
  datahub-web-react/src/app/entityV2/shared/TimelineSkeleton.tsx
  datahub-web-react/src/app/entityV2/shared/hooks.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentActivityAvatar.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentActivityContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentActivitySection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentFilterContainer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/hooks.tsx
Due: none

update tests
  metadata-ingestion/tests/integration/fivetran/fivetran_standard_golden.json
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Due: metadata-ingestion-lint-fix

testing updates
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
Due: metadata-ingestion-lint-fix

feat(ingest/redshift): lineage for external schema created from redshift (#12826)
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/tests/unit/redshift/test_redshift_datashares.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
Due: metadata-ingestion-lint-fix

Update profiler.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
Due: metadata-ingestion-lint-fix

feat(openapi-ingestion): implement openapi ingestion (#12757)
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
  smoke-test/tests/timeline/timeline_test.py
  smoke-test/tests/utils.py
Due: metadata-ingestion-lint-fix, smoke-test-lint-fix

removed debug statement
  metadata-ingestion/tests/unit/test_superset_source.py
Due: metadata-ingestion-lint-fix

removing timeouts
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
Due: metadata-ingestion-lint-fix

feat(openapi-ingestion): implement openapi ingestion
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Due: metadata-ingestion-lint-fix
