Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

doc update
  docs/iceberg-catalog.md
Due: none

add more unit tests
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergNamespaceApiController.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergNamespaceApiControllerTest.java
Due: none

refine create-namespace permission resolution
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergNamespaceApiController.java
Due: none

add, harden unit tests
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/ContainerFieldResolverProviderTest.java
Due: metadata-service-auth-impl-spotless

modify container selection UI desc, handle namespace-not-found in namespace auth flow
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/AbstractIcebergController.java
Due: none

add more unit tests, verify number of network calls by container resolver
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/PolicyEngineTest.java
Due: metadata-service-auth-impl-spotless

add UI for container-selection for policy
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
Due: none

frontend lint
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
Due: none

add tsx tests
  datahub-web-react/src/app/permissions/policy/_tests_/PolicyDetailsModal.test.tsx
  datahub-web-react/src/app/permissions/policy/_tests_/PolicyPrivilegeForm.test.tsx
Due: none

unit tests
  metadata-ingestion/tests/unit/kafka/test_confluent_schema_registry.py
  metadata-ingestion/tests/unit/kafka/test_kafka_profiler.py
Due: metadata-ingestion-lint-fix

fix last dupl
  metadata-io/src/main/java/com/linkedin/metadata/shared/ElasticSearchIndexed.java
  metadata-io/src/main/java/com/linkedin/metadata/systemmetadata/ElasticSearchSystemMetadataService.java
Due: metadata-io-spotless

unit test fixes
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/unit/tableau/test_tableau_source.py
Due: metadata-ingestion-lint-fix

create feature flag for ingestion page redesign
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless

fix golden files
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_lowercase_columns_mcp_golden.json
Due: none

initial commit
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
Due: metadata-ingestion-lint-fix

prettier fix
  docs/managed-datahub/configuring-identity-provisioning-with-ms-entra.md
  docs/managed-datahub/configuring-identity-provisioning-with-okta.md
Due: none

fix(graphql): Add default parameters to access token resolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/ListAccessTokensResolver.java
Due: datahub-graphql-core-spotless

further fixes
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
Due: metadata-ingestion-lint-fix

Update graphQL doc
  datahub-graphql-core/src/main/resources/auth.graphql
Due: none

Update hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
Due: metadata-ingestion-lint-fix

fix(graphql): Add default parameters to access token resolver (#13535)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/ListAccessTokensResolver.java
  datahub-graphql-core/src/main/resources/auth.graphql
Due: datahub-graphql-core-spotless

fix(privileges) In order to infer documentation, you should not need edit on the documentation aspect. (#5751)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ai/InferDocumentationResolver.java
Due: datahub-graphql-core-spotless

feat(sdk): upsert_smart_freshness_assertion parameter validation (#5739)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/_sdk_extras/errors.py
  metadata-ingestion-modules/acryl-cloud/tests/test_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/test_detection_mechanism.py
  metadata-ingestion-modules/acryl-cloud/tests/test_upsert_smart_freshness_assertion.py
Due: none

Revert "Update hive.py"
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
Due: metadata-ingestion-lint-fix

Revert "further fixes"
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
Due: metadata-ingestion-lint-fix

feat(search): PFP-1275/look-into-0-doc-indices (#13296)
  datahub-upgrade/build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeCli.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemCronConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateCronCondition.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/cron/CronArgs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/cron/SystemUpdateCron.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/cron/steps/TweakReplicasStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/cron/SystemCronTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/cron/TweakReplicasStepTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ReindexConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/shared/ElasticSearchIndexed.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchIndexedTweakReplicasTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexBuilderTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexExistenceCheckTest.java
Due: datahub-upgrade-spotless, metadata-io-spotless

fix hive storage path format
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/tests/integration/hive/test_storage_parser.py
Due: metadata-ingestion-lint-fix

fix(CLI): look for container URN in multiple places
  metadata-ingestion/src/datahub/cli/delete_cli.py
Due: metadata-ingestion-lint-fix

fix(CLI): put back in mistakenly removed code
  metadata-ingestion/src/datahub/cli/delete_cli.py
Due: metadata-ingestion-lint-fix

feat(ui/proposals): Entity search redesign, and other product feedback (#5769)
  datahub-web-react/src/alchemy-components/components/Select/components.ts
  datahub-web-react/src/alchemy-components/components/Select/private/hooks/useSelectDropdown.ts
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/app/entityV2/shared/EntitySearchInput/EntitySearchInputResultV2.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFiltersLoadingSection.tsx
  datahub-web-react/src/app/searchV2/filters/useSearchFilterDropdown.tsx
  datahub-web-react/src/app/sharedV2/filters/Filter.tsx
  datahub-web-react/src/app/sharedV2/filters/FilterSection.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/ActionsBar.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/EntitySelectDropdown.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/ProposalList.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/Proposals.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/ProposalsEntitySelect.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/proposalsTable/ActionsColumn.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/useGetEntitySuggestions.ts
  datahub-web-react/src/app/taskCenterV2/proposalsV2/utils.ts
Due: none

feat(ingestion): create feature flag for ingestion page redesign (#13532)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-service-configuration-spotless

add extra_info for snowflake
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Due: metadata-ingestion-lint-fix

improve temp view filtering
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Due: metadata-ingestion-lint-fix

feat(ingest/snowflake): generate lineage through temp views
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Due: metadata-ingestion-lint-fix

add report counter
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
Due: metadata-ingestion-lint-fix
