Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

fix(ui): classify Stats scope by the partition string
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/__tests__/profileScope.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/QueryCountGraph/QueryCountChart.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StatsTabRowCountGraph/StatsTabRowCountGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StorageSizeGraph/StorageSizeGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/__tests__/getInitialLookbackWindowType.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/getInitialLookbackWindowType.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/hooks/__tests__/useProfileGraphLookback.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/hooks/useProfileGraphLookback.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/profileScope.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/useGetStatsData.ts
  datahub-web-react/src/i18n/locales/en/entity.profile.stats.json
Due: web-react-lint-fix

test(ingest): pin metric fieldUpstreams in Cube and Snowflake goldens
  metadata-ingestion/tests/integration/cube/cube_cloud_semantic_model_mces_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_semantic_view_golden.json
Due: none

fixup! fix(ingest/sigma): report failed Sigma API calls, and fail on a dead listing
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

refactor(ui): simplify Stats tab scope and lookback helpers
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/__tests__/profileScope.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/getInitialLookbackWindowType.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/profileScope.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/useGetStatsData.ts
Due: web-react-lint-fix

fix(ui): label only SAMPLE partitions as samples
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/__tests__/profileScope.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/profileScope.ts
  datahub-web-react/src/i18n/locales/en/entity.profile.stats.json
Due: web-react-lint-fix

fixup! fix(ingest/sigma): only resolve a chart formula ref to a column that exists
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fixup! fix(ingest/sigma): only resolve a chart formula ref to a column that exists
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: metadata-ingestion-lint-fix

fixup! fix(ingest/sigma): only resolve a chart formula ref to a column that exists
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
  metadata-ingestion/tests/unit/sigma/test_sigma_api.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ontology): set ontology feature availability on saasOnly and private beta
  docs/features/feature-guides/ontology/custom-relationships.md
  docs/features/feature-guides/ontology/overview.md
  docs/features/feature-guides/ontology/querying-your-ontology.md
  docs/features/feature-guides/ontology/relating-glossary-terms.md
  docs/features/feature-guides/ontology/sparql-api.md
  docs/features/feature-guides/ontology/visualizing-your-ontology.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(ontology): add private-beta stage to remaining ontology pages
  docs/features/feature-guides/ontology/custom-relationships.md
  docs/features/feature-guides/ontology/querying-your-ontology.md
Due: datahub-web-react-mdPrettierWriteChanged

fixup! fix(ingest/sigma): only resolve a chart formula ref to a column that exists
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/unit/sigma/test_chart_input_fields_resolver.py
Due: metadata-ingestion-lint-fix

docs(ontology): set ontology feature availability to private beta in 2.2.0 release notes
  docs/managed-datahub/release-notes/v_2_2_0.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(ontology): clarify Ontology Explorer availability in 2.2.0 release notes
  docs/managed-datahub/release-notes/v_2_2_0.md
Due: datahub-web-react-mdPrettierWriteChanged

docs(ontology): set ontology feature availability on saasOnly and private beta (#20003)
  docs/features/feature-guides/ontology/custom-relationships.md
  docs/features/feature-guides/ontology/overview.md
  docs/features/feature-guides/ontology/querying-your-ontology.md
  docs/features/feature-guides/ontology/relating-glossary-terms.md
  docs/features/feature-guides/ontology/sparql-api.md
  docs/features/feature-guides/ontology/visualizing-your-ontology.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ui): migrate nav bar menu and settings page to Alchemy components
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenu.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenuItem.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenuItemDropdown.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenuItemGroup.tsx
  datahub-web-react/src/app/settingsV2/SettingsPage.tsx
Due: web-react-lint-fix

refactor(ui): migrate assertion list actions to Alchemy Menu and ConfirmationModal
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoreOptionsMenuAction.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/styledComponents.tsx
  datahub-web-react/src/app/entityV2/shared/externalUrl/components/VeiwMoreDropdown/ViewMoreDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/AssertionListItemActions.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/ContractAction.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/CopyLinkAction.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/CopyUrnAction.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/DeleteAction.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/ExternalUrlAction.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/__tests__/DeleteAction.test.tsx
Due: web-react-lint-fix

refactor(ui): migrate search filters, sort, and browse results to Alchemy components
  datahub-web-react/src/app/browse/BrowseResults.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/action/ActionDropdown.tsx
  datahub-web-react/src/app/searchV2/SearchResults.tsx
  datahub-web-react/src/app/searchV2/filters/AddFilterDropdown.tsx
  datahub-web-react/src/app/searchV2/filters/MoreFilters.tsx
  datahub-web-react/src/app/searchV2/filters/OperatorSelector.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilters.tsx
  datahub-web-react/src/app/searchV2/filters/render/shared/BooleanMoreFilter.tsx
  datahub-web-react/src/app/searchV2/filters/render/shared/BooleanSearchFilter.tsx
  datahub-web-react/src/app/searchV2/filters/value/ValueSelector.tsx
  datahub-web-react/src/app/searchV2/sorting/SearchSortSelect.tsx
  datahub-web-react/src/i18n/locales/en/search.json
Due: web-react-lint-fix

refactor(ui): migrate user, group, and view lists to Alchemy components
  datahub-web-react/src/app/entityV2/group/GroupMembers.tsx
  datahub-web-react/src/app/entityV2/user/UserGroups.tsx
  datahub-web-react/src/app/entityV2/view/ViewsList.tsx
  datahub-web-react/src/app/entityV2/view/builder/ViewBuilder.tsx
  datahub-web-react/src/app/entityV2/view/menu/ViewDropdownMenu.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/identity/user/UserListItem.tsx
  e2e-test/ui/playwright/tests/mutations/add-users.spec.ts
Due: web-react-lint-fix

refactor(ui): migrate domain, application, and entity tab menus to Alchemy components
  datahub-web-react/src/app/applications/ApplicationsTableColumns.tsx
  datahub-web-react/src/app/domainV2/DomainItemMenu.tsx
  datahub-web-react/src/app/domainV2/DomainsList.tsx
  datahub-web-react/src/app/entityV2/dataJob/tabs/RunsTab.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/OperationsTab.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/DataProductsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/components/EntityList.tsx
Due: web-react-lint-fix

refactor(ui): migrate schema, lineage, versioning, and glossary menus to Alchemy components
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/FormInfo/CompletedView.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/FormInfo/IncompleteView.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/FormInfo/components.ts
  datahub-web-react/src/app/entityV2/shared/embed/UpstreamHealth/UpstreamHealth.tsx
  datahub-web-react/src/app/entityV2/shared/logicalModels/CreateLogicalModelButton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/MenuColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/ManageLineageMenuFromImpactAnalysis.tsx
  datahub-web-react/src/app/entityV2/shared/versioning/VersionsDrawer.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryColoredIcon.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryListCard.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryNodeCard.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/ManageLineageMenu.tsx
Due: web-react-lint-fix

fix(system-update): copy usage event backups back on every attempt under a migration lease
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/elasticsearch/steps/CreateUsageEventIndicesStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/elasticsearch/util/UsageEventIndexUtils.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/elasticsearch/steps/CreateUsageEventIndicesStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/elasticsearch/steps/LegacyUsageEventIndexMigrationTestBase.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/elasticsearch/util/UsageEventIndexUtilsTest.java
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-upgrade-spotless

fix(system-update): lift a write block left by a run that died holding the lease
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/elasticsearch/util/UsageEventIndexUtils.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/elasticsearch/steps/LegacyUsageEventIndexMigrationTestBase.java
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-upgrade-spotless

fix(pre-commit): remove Docker requirement for ruff hooks
  .github/scripts/pre-commit/generate_pre_commit.py
  .github/scripts/pre-commit/run_ruff.sh
  .pre-commit-config.yaml
Due: none

fix(pre-commit): pass host uid/gid in Docker fallback
  .github/scripts/pre-commit/run_ruff.sh
Due: none

Update v_2_3_0.md
  docs/managed-datahub/release-notes/v_2_3_0.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(ingest/profiling): hoist Snowflake sampling constants and drop dead sample_clause hook
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/snowflake.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/base_adapter.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/profiling_context.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/query_combiner_runner.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_adapters.py
Due: metadata-ingestion-lint-fix

fix(docs): drop unresolved datahub-gc link from pgTimeseries design
  docs/pgtimeseries-design.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(postgres): restore V3 timeseries swallow with warn/metric; fix docs CI
  docs/deploy/environment-vars.md
  docs/pgtimeseries-design.md
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV3Strategy.java
Due: datahub-web-react-mdPrettierWriteChanged, metadata-io-spotless

test(postgres): raise pgTimeseries patch coverage toward codecov 75%
  .github/.codecov.yml
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesSchemaStepExecutableTest.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterSqlBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV2StrategyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV3StrategyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/sqlsetup/postgres/PostgresSqlSetupExtensionsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesAspectServicePostgresIT.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterGraphExpansionTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterSqlBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesPgDocumentMapperTest.java
Due: datahub-web-react-githubActionsPrettierWriteChanged, datahub-upgrade-spotless, metadata-io-spotless

fix(test): authenticate smoke wait_for_writes_to_sync lag polls
  smoke-test/tests/utils.py
Due: smoke-test-lint-fix

fix(postgres): address pgTimeseries review correctness and config gaps
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgQueueSchemaStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesStoreConnections.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgQueueSchemaStepTest.java
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV2Strategy.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV3Strategy.java
  metadata-io/src/main/java/com/linkedin/metadata/sqlsetup/postgres/PostgresPartmanSqlSetupSupport.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAggregatedStatsDao.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterGraphExpansion.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterSqlBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/write/TimeseriesAspectWriteSink.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/write/postgres/PostgresTimeseriesAspectWriteSink.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV3StrategyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesAspectServicePostgresIT.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterGraphExpansionTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesFilterSqlBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/write/postgres/PostgresTimeseriesAspectWriteSinkTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/PostgresSqlSetupProperties.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/PgTimeseriesEbeanConfigFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/PostgresTimeseriesAspectServiceConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/TimeseriesPostgresBackendCondition.java
Due: datahub-upgrade-spotless, metadata-ingestion-lint-fix, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

fix(postgres): address pgTimeseries pre-merge review findings
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/SqlSetup.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/config/SqlSetupConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesSchemaStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesStoreConnections.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/config/SqlSetupConfigTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesSchemaStepMultiStoreTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesStoreConnectionsTest.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV2Strategy.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesV3Strategy.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAggregatedStatsDao.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/write/TimeseriesAspectWriteSink.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/write/postgres/PostgresTimeseriesAspectWriteSink.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV2StrategyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesV3StrategyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAggregatedStatsDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/write/postgres/PostgresTimeseriesAspectWriteSinkTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/PgTimeseriesStoreOptions.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/PostgresSqlSetupProperties.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/postgres/PostgresSqlSetupPropertiesTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/PgTimeseriesEbeanConfigFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/timeseries/PgTimeseriesEbeanConfigFactoryPoolIdentityTest.java
  smoke-test/tests/utils.py
Due: datahub-upgrade-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, smoke-test-lint-fix

fix(postgres): gap-fill empty DAY+ usage buckets in pgTimeseries
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAggregatedStatsDao.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAggregatedStatsDaoTest.java
Due: metadata-io-spotless

fix(test): update Postgres timeseries IT for IndexPrefixResolver
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesAspectServicePostgresIT.java
  metadata-io/src/test/resources/testng-other.xml
  metadata-io/src/test/resources/testng-postgresql.xml
Due: metadata-io-spotless

fix(postgres): pass opContext to timeseries index name lookup
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
Due: metadata-io-spotless

feat(postgres): add multi-store pgTimeseries with aspect routing
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/SqlSetupUpgradeConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesSchemaStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesStoreConnections.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesSchemaStepExecutableTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesSchemaStepMultiStoreTest.java
  docs/deploy/environment-vars.md
  docs/how/updating-datahub.md
  docs/pgtimeseries-design.md
  metadata-io/src/main/java/com/linkedin/metadata/sqlsetup/postgres/pgtimeseries/PgTimeseriesSqlMigrationModules.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PgTimeseriesStoreRegistry.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/postgres/PostgresTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/write/postgres/PostgresTimeseriesAspectWriteSink.java
  metadata-io/src/test/java/com/linkedin/metadata/PostgresTestUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/PgTimeseriesStoreRegistryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/postgres/TimeseriesAspectServicePostgresIT.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/write/postgres/PostgresTimeseriesAspectWriteSinkTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/PgTimeseriesSetupOptions.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/PgTimeseriesStoreOptions.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/postgres/PostgresSqlSetupProperties.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/main/resources/pgtimeseries-config.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/postgres/PgTimeseriesSetupOptionsTest.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/postgres/PostgresSqlSetupPropertiesTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/PgTimeseriesConfigOverlay.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/PgTimeseriesEbeanConfigFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/PostgresTimeseriesAspectServiceConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/TimeseriesAspectServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/TimeseriesAspectWriteSinkFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/timeseries/PgTimeseriesConfigOverlayPrecedenceTest.java
Due: datahub-web-react-mdPrettierWriteChanged, datahub-upgrade-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

fix(postgres): declare SQLException on SchemaStep verify test
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/sqlsetup/postgres/PgTimeseriesSchemaStepExecutableTest.java
Due: datahub-upgrade-spotless
