Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

build(react): Support https localhost proxy for Safari (#15801)
  datahub-web-react/README.md
  datahub-web-react/package.json
  datahub-web-react/vite.config.ts
  datahub-web-react/yarn.lock
Due: datahub-web-react-mdPrettierWriteChanged, web-react-lint-fix

feat(azure_data_factory): Add column lineage extraction for Copy activities and enhance reporting metrics
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_column_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_models.py
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_report.py
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_source.py
  metadata-ingestion/tests/unit/azure_data_factory/test_adf_source.py
Due: metadata-ingestion-lint-fix

feat(azure_data_factory): Enhance lineage extraction to include column-level lineage for Copy activities with detailed mapping support
  metadata-ingestion/docs/sources/azure-data-factory/azure-data-factory_pre.md
  metadata-ingestion/src/datahub/ingestion/source/azure_data_factory/adf_config.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

perf(ci): skip entire build job when changes don't require it (#7732)
  .github/workflows/build-and-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(kafka):migrate kafka source to API v2 (#15719)
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/tests/integration/kafka/kafka_mces_golden.json
  metadata-ingestion/tests/integration/kafka/kafka_without_schemas_mces_golden.json
  metadata-ingestion/tests/unit/test_kafka_source.py
Due: metadata-ingestion-lint-fix

feat(bigquery): switch pushdown filters from REGEX to LIKE for Snowflake consistency
  metadata-ingestion/docs/sources/bigquery/bigquery_pre.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_queries_extractor.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

Reverting some changes and simplifying state
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/__tests__/tests_utils.test.tsx
  datahub-web-react/src/app/ingestV2/source/utils.ts
Due: web-react-lint-fix

Update IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
Due: web-react-lint-fix

fix(docker): Comment redundant volume mount which fails with newer Docker Desktop versions on Mac
  docker/profiles/docker-compose.frontend.yml
Due: none

fix(docker): Redundant volume mount fails on Mac Docker Desktop (#15805)
  docker/profiles/docker-compose.frontend.yml
Due: none

combine sed patterns
  .github/workflows/check-python-deps.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix: add parts field to _table_name_from_sqlglot_table for schema resolver compatibility
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Due: metadata-ingestion-lint-fix

fix(ci): use compact JSON format for build matrix output (#7752)
  .github/workflows/build-and-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(ci): block unpinned or lower bound only python dependencies (#15791)
  .github/scripts/check_python_deps.py
  .github/scripts/dep-analyzer.py
  .github/workflows/check-python-deps.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

test: skip ingestion schedule test for now (#7751)
  smoke-test/tests/read_only/test_ingestion_schedule_adherence.py
Due: smoke-test-lint-fix

test: improve coverage for aspect size validation
  metadata-io/src/test/java/com/linkedin/metadata/entity/validation/AspectOperationContextTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/validation/AspectSizeValidatorTest.java
Due: metadata-io-spotless

refactor(kafka): rename field variables to idiomatic Java naming (#15792)
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/ConfluentSchemaRegistryCleanupPolicyStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/CreateKafkaTopicsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/KafkaNonBlockingSetup.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/KafkaSetup.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/WaitForKafkaReadyStep.java
Due: datahub-upgrade-spotless

fix: multiple typos
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetHighlightsResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/common.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/common.tsx
  metadata-ingestion/src/datahub/ingestion/source/sql/athena_properties_extractor.py
Due: datahub-graphql-core-spotless, metadata-ingestion-lint-fix, web-react-lint-fix

Remove link to local file
  docs/developers.md
Due: datahub-web-react-mdPrettierWriteChanged

Move venv to mise.local.toml
  mise.toml
Due: none

Address review comments
  .gitignore
  docs/developers.md
  mise.toml
Due: datahub-web-react-mdPrettierWriteChanged

Add mise config for quickStartDebug
  mise.toml
Due: none

Update documentation with steps to use mise
  .gitignore
  docs/developers.md
Due: datahub-web-react-mdPrettierWriteChanged

Update python and node versions
  mise.toml
Due: none

Move venv creation to local mise toml
  .gitignore
  mise.toml
Due: none

feat(sdk): sync_smart_sql_assertion (#7518)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/assertion_base.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/smart_sql_assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/sql_assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_client/smart_sql.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/freshness_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/smart_freshness_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/smart_sql_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/sql_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/volume_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/assertion_input/test_column_metric_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/assertion_input/test_smart_column_metric_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/assertion_input/test_smart_sql_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/client/test_assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/client/test_assertions_client_merging.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/client/test_column_metric_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/client/test_smart_sql_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/client/test_sql_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/conftest.py
Due: metadata-ingestion-modules-acryl-cloud-lint-fix, update-lineage-file

return mutable list
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/MapperUtils.java
Due: datahub-graphql-core-spotless

perf(sdk): avoid double fetch for sql_assertion input validation (#7550)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/sql_assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_client/helpers.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_client/smart_sql.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_client/sql.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/client/test_assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/client/test_sql_client.py
Due: metadata-ingestion-modules-acryl-cloud-lint-fix, update-lineage-file

feat(sdk): sync_column_value_assertion (#7558)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/assertion_base.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/column_value_assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/sql_assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_client/column_value.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/column_assertion_constants.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/column_assertion_utils.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/column_metric_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/column_metric_constants.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/column_value_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/smart_column_metric_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/sql_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/volume_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/assertion/test_column_value_assertion.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/assertion_input/test_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/assertion_input/test_column_value_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/client/test_column_value_client.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/conftest.py
Due: metadata-ingestion-modules-acryl-cloud-lint-fix, update-lineage-file

feat(docker): add bundled venvs support for wolfi variant
  .github/workflows/build-datahub-executor-bundled.yml
  datahub-executor/build.gradle
  docker/datahub-executor/Dockerfile
  docker/datahub-executor/README.md
  docker/snippets/ingestion/build_bundled_venvs_unified.py
  metadata-ingestion/setup.py
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, metadata-ingestion-lint-fix, check-gradle-lockfiles

fix(docker): escape multi-line jq JSON in Dockerfile
  docker/datahub-executor/Dockerfile
Due: none

fix(ci): use jq compact output for GITHUB_OUTPUT compatibility
  .github/workflows/build-datahub-executor-bundled.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ui/ingestion): pending pill should not look clickable (#15789)
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/alchemy-components/components/Table/types.ts
  datahub-web-react/src/app/ingestV2/shared/components/columns/StatusColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
Due: web-react-lint-fix

Switch icon diff than background color, revert changes to Button hoverBgColor
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
  datahub-web-react/src/alchemy-components/components/Switch/components.ts
Due: web-react-lint-fix

feat(sdk): sync_schema_assertion (#7575)
  docs/api/tutorials/assertions.md
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/__init__.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/assertion_base.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion/schema_assertion.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_client/schema.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertion_input/schema_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/assertions_client.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/sdk/entities/assertion.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/assertion/test_schema_assertion.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/assertion_input/test_schema_assertion_input.py
  metadata-ingestion-modules/acryl-cloud/tests/sdk/assertions/client/test_assertions_client_schema_assertion.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-modules-acryl-cloud-lint-fix, update-lineage-file

feat(ai) Pass along current ingestion recipe when create/editing source (#7758)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/health/AcrylEntityHealthResolver.java
  datahub-integrations-service/src/datahub_integrations/chat/agents/tools/ingestion.py
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/IngestionSourceBuilderLayout.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/__tests__/utils.test.ts
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/utils.ts
Due: datahub-graphql-core-spotless, datahub-integrations-service-lint-fix, web-react-lint-fix

fix(ui/ingestion): fix yaml syncing and other ingestion issues (#7754)
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step1SelectSource/SelectSourceStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/YamlEditor.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/recipeForm/RecipeForm.tsx
Due: web-react-lint-fix

chore(test): update test weights from recent CI runs (#7759)
  smoke-test/pytest_test_weights.json
  smoke-test/tests/cypress/test_weights.json
Due: none

update styledComponents so ActionMenuItem doesn't ref depreciated REDESIGN_COLORS
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/styledComponents.tsx
Due: web-react-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
