Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

chore(zdu): drop TC-329 (IF_VERSION_MATCH header) — duplicate of TC-403
  smoke-test/tests/zdu/framework/scenarios.py
  smoke-test/tests/zdu/framework/suite.py
  smoke-test/tests/zdu/framework/sweep_executor.py
  smoke-test/tests/zdu/framework/test_scenario_loader.py
  smoke-test/tests/zdu/framework/test_suite.py
  smoke-test/tests/zdu/framework/test_sweep_executor.py
Due: smoke-test-lint-fix

add domains tests with the new summary tab
  e2e-test/ui/playwright/pages/domains/domains.page.ts
  e2e-test/ui/playwright/pages/domains/nested-domains.page.ts
  e2e-test/ui/playwright/pages/nested-domains.page.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-domains-advanced.spec.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-domains-core.spec.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-domains-summary.spec.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-domains.spec.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-nested-domains.spec.ts
  e2e-test/ui/playwright/tests/mutations-v2/v2-domains.spec.ts
Due: none

format files
  e2e-test/ui/playwright/pages/domains/nested-domains.page.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-domains-core.spec.ts
Due: none

feat(otel): add GraphQL operation tracing with OTel instrumentation (#17455)
  build.gradle
  datahub-graphql-core/build.gradle
  datahub-graphql-core/gradle.lockfile
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/LazyDataLoaderRegistry.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/instrumentation/OtelContextCaptureInstrumentation.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/instrumentation/OtelContextCaptureInstrumentationTest.java
  datahub-upgrade/gradle.lockfile
  metadata-io/gradle.lockfile
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-jobs/common/gradle.lockfile
  metadata-jobs/mae-consumer-job/gradle.lockfile
  metadata-jobs/mae-consumer/gradle.lockfile
  metadata-jobs/mce-consumer-job/gradle.lockfile
  metadata-jobs/mce-consumer/gradle.lockfile
  metadata-jobs/pe-consumer/gradle.lockfile
  metadata-service/auth-filter/gradle.lockfile
  metadata-service/auth-servlet-impl/gradle.lockfile
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/GraphQLConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/graphql/GraphQLOtelConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/gradle.lockfile
  metadata-service/graphql-servlet-impl/gradle.lockfile
  metadata-service/openapi-analytics-servlet/gradle.lockfile
  metadata-service/openapi-entity-servlet/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
  metadata-service/services/gradle.lockfile
  metadata-service/servlet/gradle.lockfile
  metadata-service/war/gradle.lockfile
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-configuration-spotless, check-gradle-lockfiles

chore(zdu): fix TC-328 SKIP rationale + reviewer-flagged issues in sweep phases
  smoke-test/tests/zdu/framework/phases/batch_delay_sweep.py
  smoke-test/tests/zdu/framework/phases/kill_switch_sweep.py
  smoke-test/tests/zdu/framework/phases/skip_already_migrated_sweep.py
  smoke-test/tests/zdu/framework/scenarios.py
  smoke-test/tests/zdu/framework/sweep_executor.py
Due: smoke-test-lint-fix

docs(slack): document optional Slack bot scopes and bot-relay limitations (#17364)
  docs/managed-datahub/slack/saas-slack-setup.md
Due: datahub-web-react-mdPrettierWriteChanged

chore: bump default CLI version to 1.6.0
  gradle/versioning/cliVersion.gradle
Due: none

docs: finalize v1.6.0 release notes in updating-datahub.md
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingestion): bump idna >=3.15,<4.0.0 for CVE-2026-45409 (#17518)
  docker/snippets/ingestion/constraints.txt
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

chore(): bump default CLI version to 1.6.0 & release notes (#17525)
  docs/how/updating-datahub.md
  gradle/versioning/cliVersion.gradle
Due: datahub-web-react-mdPrettierWriteChanged

docs: add Core Capabilities section with Data Quality & Observability hub (#17491)
  docs-website/sidebars.js
  docs-website/src/components/FeatureAvailability/featureavailability.module.scss
  docs-website/src/components/FeatureAvailability/index.js
  docs-website/src/pages/docs/_components/FeatureCardSection/index.jsx
  docs-website/src/theme/DocCard/index.js
  docs-website/src/theme/DocCard/styles.module.css
  docs/features/feature-guides/observe.md
  docs/managed-datahub/managed-datahub-overview.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingest/glue): add PATCH mode for dataset properties to preserve custom metadata
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/glue/glue_post.md
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(observe): address PR #17491 review feedback
  docs/features/feature-guides/observe.md
Due: datahub-web-react-mdPrettierWriteChanged

Update actor search select
  datahub-web-react/src/app/applications/CreateNewApplicationModal/CreateNewApplicationModal.tsx
  datahub-web-react/src/app/domainV2/CreateDomainModal.tsx
  datahub-web-react/src/app/domainV2/OwnersSection.tsx
  datahub-web-react/src/app/entityV2/shared/EntitySearchSelect/ActorsSearchSelect.tsx
  datahub-web-react/src/app/entityV2/shared/EntitySearchSelect/__tests__/ActorsSearchSelect.test.tsx
  datahub-web-react/src/app/entityV2/shared/EntitySearchSelect/useActorOptions.ts
  datahub-web-react/src/app/ingestV2/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/components/ActorsField.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/NameAndOwnersSection.tsx
  datahub-web-react/src/app/shared/userSearchUtils.ts
Due: web-react-lint-fix

docs(observe): address PR #17491 review feedback (#17526)
  docs/features/feature-guides/observe.md
Due: datahub-web-react-mdPrettierWriteChanged

refactor(glossary): redesign cards and sidebar with semantic tokens
  datahub-web-react/src/app/glossaryV2/GlossaryBrowser/NodeItem.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryBrowser/TermItem.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryColoredIcon.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryContentProvider.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryEntitiesList.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryEntityItem.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryListCard.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryNodeCard.tsx
Due: web-react-lint-fix

refactor(glossary): redesign cards and sidebar with semantic tokens (#17529)
  datahub-web-react/src/app/glossaryV2/GlossaryBrowser/NodeItem.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryBrowser/TermItem.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryColoredIcon.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryContentProvider.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryEntitiesList.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryEntityItem.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryListCard.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryNodeCard.tsx
Due: web-react-lint-fix

fix(ui): align admin list-page layouts and remove brittle vh sizing
  datahub-web-react/src/app/entityV2/view/ManageViews.tsx
  datahub-web-react/src/app/entityV2/view/ViewsList.tsx
  datahub-web-react/src/app/identity/user/UserListV2.components.tsx
  datahub-web-react/src/app/identity/user/UserListV2.tsx
  datahub-web-react/src/app/settingsV2/posts/PostsList.tsx
Due: web-react-lint-fix

fix(onboarding): use semantic text color for tour step badge
  datahub-web-react/src/app/onboarding/OnboardingTour.tsx
Due: web-react-lint-fix

Fix/admin list layout and onboarding badge CAT-2121 CAT-2120 (#17530)
  datahub-web-react/src/app/entityV2/view/ManageViews.tsx
  datahub-web-react/src/app/entityV2/view/ViewsList.tsx
  datahub-web-react/src/app/identity/user/UserListV2.components.tsx
  datahub-web-react/src/app/identity/user/UserListV2.tsx
  datahub-web-react/src/app/onboarding/OnboardingTour.tsx
  datahub-web-react/src/app/settingsV2/posts/PostsList.tsx
Due: web-react-lint-fix

fix glossary on sidebar
  datahub-web-react/src/app/glossaryV2/GlossaryBrowser/TermItem.tsx
Due: web-react-lint-fix

fix(ui): Show glossary term icon next to parent-less terms in glossary (#17531)
  datahub-web-react/src/app/glossaryV2/GlossaryBrowser/TermItem.tsx
Due: web-react-lint-fix

refactor(ui): consolidate tag, term, and entity-sidebar pills with shared primitives
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/AddRelatedTermsModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/StyledTag.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Applications/SidebarApplicationSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Domain/SidebarDomainSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Ownership/sidebar/SidebarOwnerSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarGlossaryTermsSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarTagsSection.tsx
  datahub-web-react/src/app/entityV2/shared/links/DomainColoredIcon.tsx
  datahub-web-react/src/app/entityV2/shared/links/GlossaryTermMiniPreview.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryColoredIcon.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryTermPill.tsx
  datahub-web-react/src/app/glossaryV2/__tests__/colorUtils.test.ts
  datahub-web-react/src/app/glossaryV2/colorUtils.ts
  datahub-web-react/src/app/searchV2/SearchFilterLabel.tsx
  datahub-web-react/src/app/searchV2/autoComplete/AutoCompleteTag.tsx
  datahub-web-react/src/app/shared/TagLabel.tsx
  datahub-web-react/src/app/shared/TermLabel.tsx
  datahub-web-react/src/app/shared/tags/AddTagsTermsModal.tsx
  datahub-web-react/src/app/shared/tags/ApplicationLink.tsx
  datahub-web-react/src/app/shared/tags/TagTermLabel.tsx
  datahub-web-react/src/app/sharedV2/icons/PillRemoveIcon.tsx
  datahub-web-react/src/app/sharedV2/tags/AddTagTerm.tsx
  datahub-web-react/src/app/sharedV2/tags/DataProductLink.tsx
  datahub-web-react/src/app/sharedV2/tags/DomainLink.tsx
  datahub-web-react/src/app/sharedV2/tags/TagLink.tsx
  datahub-web-react/src/app/sharedV2/tags/TagPill.tsx
  datahub-web-react/src/app/sharedV2/tags/TagTermGroup.tsx
  datahub-web-react/src/app/sharedV2/tags/tag/Tag.tsx
  datahub-web-react/src/app/sharedV2/tags/term/TermContent.tsx
Due: web-react-lint-fix

fix color linting
  datahub-web-react/src/app/glossaryV2/__tests__/colorUtils.test.ts
Due: web-react-lint-fix

Fixing tests to work without boto credentials
  metadata-ingestion/tests/unit/glue/test_glue_source.py
Due: metadata-ingestion-lint-fix

test(auth): fix logout revoke session token tests
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/token/StatefulTokenServiceTest.java
  metadata-service/auth-servlet-impl/src/test/java/com/datahub/auth/authentication/AuthServiceControllerTest.java
Due: metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless

fix(notion): widen unknown-field filter to all FromJSONMixin types
  metadata-ingestion/src/datahub/ingestion/source/notion/notion_source.py
  metadata-ingestion/tests/unit/ingestion/source/notion/test_notion_source.py
Due: metadata-ingestion-lint-fix

docs: fix YouTube embed fullscreen and standardize allow attributes
  docs/_feature-guide-template.md
  docs/act-on-metadata.md
  docs/act-on-metadata/impact-analysis.md
  docs/automations/ai-docs.md
  docs/domains.md
  docs/features/dataset-usage-and-query-history.md
  docs/how/search.md
  docs/tags.md
Due: datahub-web-react-mdPrettierWriteChanged

Disable playwright jobs
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

style(auth): apply spotless formatting
  metadata-service/auth-servlet-impl/src/test/java/com/datahub/auth/authentication/AuthServiceControllerTest.java
Due: metadata-service-auth-servlet-impl-spotless

use cleanup
  e2e-test/ui/playwright/tests/domains-v2/v2-domains-advanced.spec.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-domains-core.spec.ts
Due: none

docs(cli): document brew install for the DataHub CLI
  README.md
  docs/cli.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(notion): gracefully degrade unknown icon types instead of raising
  metadata-ingestion/src/datahub/ingestion/source/notion/notion_source.py
  metadata-ingestion/tests/unit/ingestion/source/notion/test_notion_source.py
Due: metadata-ingestion-lint-fix

fix lint
  e2e-test/ui/playwright/pages/domains/nested-domains.page.ts
Due: none

fix(notion): handle null icon payload in Icon dispatcher patch
  metadata-ingestion/src/datahub/ingestion/source/notion/notion_source.py
  metadata-ingestion/tests/unit/ingestion/source/notion/test_notion_source.py
Due: metadata-ingestion-lint-fix

ci(playwright): Disable playwright jobs (#17534)
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs: fix YouTube embed fullscreen and standardize allow attributes (#17533)
  docs/_feature-guide-template.md
  docs/act-on-metadata.md
  docs/act-on-metadata/impact-analysis.md
  docs/automations/ai-docs.md
  docs/domains.md
  docs/features/dataset-usage-and-query-history.md
  docs/how/search.md
  docs/tags.md
Due: datahub-web-react-mdPrettierWriteChanged

docs: add brew install to quickstart and cli-ingestion guides
  docs/quickstart.md
  metadata-ingestion/cli-ingestion.md
Due: datahub-web-react-mdPrettierWriteChanged

test(starrocks): avoid fixed docker port in integration test
  metadata-ingestion/tests/integration/starrocks/docker-compose.yml
  metadata-ingestion/tests/integration/starrocks/starrocks_to_file.yml
  metadata-ingestion/tests/integration/starrocks/test_starrocks.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
