Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(ingestion): ship datapack resources and ODCS schemas in the wheel
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/test_package_data.py
Due: metadata-ingestion-lint-fix

undo documentation file upload flag by default due to it only working for aws folks
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

test(ingest/doris): pin positional DATA_LENGTH access in profiling enrichment (#18825)
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/tests/unit/test_mysql_profiling.py
Due: metadata-ingestion-lint-fix

fix(ingest/openapi): handle empty servers list when resolving basepath
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

test(ingest/openapi): use pytest-style class for get_url_basepath tests
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

fix(ingestion/airbyte): per-table schema outranking the connector-wide from airbyte api (#18856)
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/airbyte/airbyte_post.md
  metadata-ingestion/docs/sources/airbyte/airbyte_pre.md
  metadata-ingestion/src/datahub/ingestion/source/airbyte/client.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/config.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/models.py
  metadata-ingestion/src/datahub/ingestion/source/airbyte/source.py
  metadata-ingestion/tests/unit/airbyte/test_airbyte_client.py
  metadata-ingestion/tests/unit/airbyte/test_source_urns.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(ingest/doris): support non-default catalogs for Iceberg ingestion (#18827)
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/doris/README.md
  metadata-ingestion/docs/sources/doris/doris_post.md
  metadata-ingestion/docs/sources/doris/doris_pre.md
  metadata-ingestion/docs/sources/doris/doris_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/tests/unit/doris/test_doris_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(managed-datahub): update source connector count to 140+
  docs/managed-datahub/managed-datahub-overview.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ui): update Schema raw/tabular test for icon buttons
  datahub-web-react/src/app/entityV2/dataset/profile/__tests__/Schema.test.tsx
Due: web-react-lint-fix

refactor(ingest/vertexai): add lazy rate_limited_gapic_iter alongside list
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_utils.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_utils.py
Due: metadata-ingestion-lint-fix

perf(ingest/vertexai): stream pipeline and training job listings
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_pipeline_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_training_extractor.py
  metadata-ingestion/tests/integration/vertexai/test_vertexai.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_lineage.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/doris): stop reflection fallbacks leaking state and losing reports
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_dialect.py
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/tests/unit/doris/test_doris_dialect.py
  metadata-ingestion/tests/unit/doris/test_doris_source.py
Due: metadata-ingestion-lint-fix

fix(ingest/openapi): handle empty servers list when resolving basepath (#18905)
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Due: metadata-ingestion-lint-fix

docs(ingest/doris): document the new reflection warnings and tighten classification
  metadata-ingestion/docs/sources/doris/doris_post.md
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_dialect.py
  metadata-ingestion/tests/unit/doris/test_doris_dialect.py
  metadata-ingestion/tests/unit/doris/test_doris_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(ingest/vertexai): tighten gapic iter/list docstrings
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_utils.py
Due: metadata-ingestion-lint-fix

fix(ui): clean up the schema header (#18876)
  datahub-web-react/src/app/entityV2/dataset/profile/__tests__/Schema.test.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaHeader.tsx
Due: web-react-lint-fix

fix(ingest/doris): keep tables whose column reflection fails (#18828)
  metadata-ingestion/docs/sources/doris/doris_post.md
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_dialect.py
  metadata-ingestion/src/datahub/ingestion/source/sql/doris/doris_source.py
  metadata-ingestion/tests/unit/doris/test_doris_dialect.py
  metadata-ingestion/tests/unit/doris/test_doris_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

docs(managed-datahub): fix markdown table alignment
  docs/managed-datahub/managed-datahub-overview.md
Due: datahub-web-react-mdPrettierWriteChanged

test: improve tests
  metadata-ingestion/tests/unit/vertexai/test_vertexai_source.py
  metadata-ingestion/tests/unit/vertexai/test_vertexai_utils.py
Due: metadata-ingestion-lint-fix

docs(managed-datahub): update source connector count to 140+ (#18909)
  docs/managed-datahub/managed-datahub-overview.md
Due: datahub-web-react-mdPrettierWriteChanged

Update datahub-graphql-core/src/main/resources/incident.graphql
  datahub-graphql-core/src/main/resources/incident.graphql
Due: none

fix(auth): remove hardcoded systemClientSecret default from server configs (#18886)
  build.gradle
  datahub-frontend/conf/application.conf
  docker/build.gradle
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/quickstart/docker-compose.quickstart-profile.yml
  metadata-service/configuration/src/main/resources/application.yaml
Due: check-gradle-lockfiles

change aspect table
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/AspectTableResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectV2.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/PlainAspectTableResolver.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoSeamRoutingTest.java
Due: metadata-io-spotless

change aspect table
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/AspectTableResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
Due: metadata-io-spotless

feat(ci): check org membership for internal contributors in PR-to-Linear routing
  .github/workflows/pr-to-linear-routing-test.yml
  .github/workflows/pr-to-linear.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

chore: product update for 2.1
  datahub-web-react/src/images/in-product-release-jul2026.png
  metadata-service/configuration/src/main/resources/product-update-saas.json
Due: none

fix(ingest): exclude nltk 3.10.1, which silently breaks document chunking (#18889)
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix

docs(agent-context): use incidentStatus, soften reference-implementation framing
  docs/dev-guides/agent-context/runtime-behavior-validation.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(profiler): add profiling_isolation_level hook; autocommit for MySQL/Postgres
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/base_adapter.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_adapters.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_sqlalchemy_profiler.py
Due: metadata-ingestion-lint-fix

fix(docs): remove PR2 word
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/__init__.py
Due: metadata-ingestion-lint-fix

fix(profiler): apply PR 1 review — hoist+validate isolation level, escape hatch, corrected causal story
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/adapters/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/base_adapter.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/sqlalchemy_profiler.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_adapters.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_sqlalchemy_profiler.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(profiler): reframe profiling_isolation_level as advanced escape hatch
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

rollup: rob/rob-test-rollup-01 (permission-aware edit affordances)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/__tests__/FieldDescription.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/DocumentationTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/__tests__/DocumentationTab.test.tsx
Due: web-react-lint-fix

fix(properties): skip redundant structured-properties query on schema field drawer revisit
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/__tests__/useStructuredProperties.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/useStructuredProperties.tsx
Due: web-react-lint-fix

update title+desc
  metadata-service/configuration/src/main/resources/product-update-saas.json
Due: none

remove dotted edge in favor of column lineage control
  datahub-web-react/src/app/lineageV3/LineageDisplay.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/Column.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/ColumnLineageControl.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/ContractLineageControl.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/LineageEntityNode.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/NodeContents.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/__tests__/ColumnLineageControl.test.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/components.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/useDisplayedColumns.ts
  datahub-web-react/src/app/lineageV3/__tests__/useColumnHighlighting.test.ts
  datahub-web-react/src/app/lineageV3/common.ts
  datahub-web-react/src/app/lineageV3/useColumnHighlighting.ts
  datahub-web-react/src/graphql/lineage.graphql
Due: web-react-lint-fix

Add DATAHUB_QUICKSTART_SKIP_MEMORY_CHECK to bypass the quickstart memory preflight check
  metadata-ingestion/src/datahub/cli/docker_check.py
  metadata-ingestion/src/datahub/configuration/env_vars.py
  metadata-ingestion/tests/unit/cli/docker/test_docker_check.py
Due: metadata-ingestion-lint-fix

perf(schema-tab): two-phase schema loading (structural query first, full metadata deferred)
  datahub-web-react/src/app/entityV2/dataset/profile/useGetColumnTabCount.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/__tests__/SchemaTab.twophase.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/useGetEntitySchema.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useGetStructuredPropColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/columnStats/__tests__/ColumnStatsTable.test.tsx
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/i18n/locales/en/entity.profile.schema.json
  e2e-test/ui/playwright/pages/structured-properties.page.ts
  e2e-test/ui/playwright/tests/structured-properties/schema-field.spec.ts
Due: web-react-lint-fix

always show column lineage control after if it was ever shown
  datahub-web-react/src/app/lineageV3/LineageEntityNode/ColumnLineageControl.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/__tests__/ColumnLineageControl.test.tsx
Due: web-react-lint-fix

hide 0/0
  datahub-web-react/src/app/lineageV3/LineageEntityNode/ColumnLineageControl.tsx
  datahub-web-react/src/app/lineageV3/LineageEntityNode/__tests__/ColumnLineageControl.test.tsx
Due: web-react-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
