Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

fix(documents): fix context document popover positioning (#7773)
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/RelatedSection.tsx
  datahub-web-react/src/app/entityV2/summary/links/RelatedSection.tsx
Due: web-react-lint-fix

ownership select opacity, filter button hover color, sort caret darker
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Ownership/OwnershipTypesSelect.tsx
  datahub-web-react/src/app/searchV2/filters/styledComponents.ts
  datahub-web-react/src/app/searchV2/sorting/SearchSortSelect.tsx
Due: web-react-lint-fix

feat(custom headers): add support for custom headers in openai proxy (#7789)
  datahub-integrations-service/src/datahub_integrations/gen_ai/llm/custom_openai_proxy.py
  datahub-integrations-service/src/datahub_integrations/gen_ai/model_config.py
  datahub-integrations-service/tests/gen_ai/llm/test_llm_wrappers.py
  datahub-integrations-service/tests/gen_ai/test_model_config.py
Due: datahub-integrations-service-lint-fix

fix(dbt): address PR review feedback for semantic view support
  metadata-ingestion/docs/sources/dbt/README.md
  metadata-ingestion/docs/sources/dbt/dbt.md
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix: hide template editing controls for Documents until backend suppo… (#7777)
  datahub-web-react/src/app/entityV2/summary/properties/hooks/useBasicAssetProperties.ts
  datahub-web-react/src/app/entityV2/summary/properties/menuAddProperty/AddPropertyButton.tsx
Due: web-react-lint-fix

fix(documents): resolve entity names in change history for related as… (#7767)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/knowledge/DocumentChangeHistoryResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/knowledge/DocumentChangeHistoryResolverTest.java
  datahub-web-react/src/app/entityV2/document/changeHistory/changeMessages/ChangeMessageComponents.tsx
Due: datahub-graphql-core-spotless, web-react-lint-fix

test(auth): add unit tests for VIEW_ENTITY_PAGE on Views
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/view/DataHubViewType.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/view/DataHubViewTypeTest.java
Due: datahub-graphql-core-spotless

docs(dbt): use blockquote for limitations note
  metadata-ingestion/docs/sources/dbt/dbt.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingestion) Fix json decoding errors in forms default sources (#7788)
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/datahub_forms_notifications/forms_notifications_source.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/datahub_reporting/datahub_form_reporting.py
  metadata-ingestion-modules/acryl-cloud/src/acryl_datahub_cloud/graphql_utils.py
  metadata-ingestion-modules/acryl-cloud/tests/test_graphql_utils.py
Due: metadata-ingestion-modules-acryl-cloud-lint-fix, update-lineage-file

fix(ui) Fix editing default system ingestion sources (#7808)
  datahub-web-react/src/app/chat/EmbeddedChat.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/IngestionSourceUpdatePage.tsx
  datahub-web-react/src/app/lineageV3/components/FreeTrialLineageTour.tsx
Due: web-react-lint-fix

refactor(dbt): add collision warning and consolidate test helpers
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/conftest.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source_cll.py
Due: metadata-ingestion-lint-fix

refactor(adf): update Azure Data Factory test data and mock resource handling
  metadata-ingestion/tests/integration/azure_data_factory/adf_basic_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_platform_instance_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_with_runs_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/test_adf_source.py
Due: metadata-ingestion-lint-fix

fix(kafka): change auto-increase partitions to opt-in behavior (#15830)
  docs/how/kafka-config.md
  docs/how/updating-datahub.md
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/SetupConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-service-configuration-spotless

fix(dbt): rename conftest.py to test_helpers.py for mypy
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source_cll.py
  metadata-ingestion/tests/unit/dbt/test_helpers.py
Due: metadata-ingestion-lint-fix

Checkpoint before follow-up message
  metadata-ingestion/examples/library/assertion_add_tag.py
Due: metadata-ingestion-lint-fix

fix(planner): enabled planner prompt caching by default (#7798)
  datahub-integrations-service/experiments/chatbot/chat_ui.py
  datahub-integrations-service/src/datahub_integrations/chat/agent/agent_runner.py
  datahub-integrations-service/src/datahub_integrations/chat/chat_history.py
  datahub-integrations-service/src/datahub_integrations/experimentation/chatbot/st_chat_history.py
  datahub-integrations-service/src/datahub_integrations/gen_ai/bedrock.py
  datahub-integrations-service/src/datahub_integrations/gen_ai/llm/base.py
  datahub-integrations-service/src/datahub_integrations/gen_ai/llm/bedrock.py
  datahub-integrations-service/src/datahub_integrations/observability/cost.py
  datahub-integrations-service/tests/chat/golden_chat_history.json
  datahub-integrations-service/tests/slack/test_slack_history_goldens/slack_history_add_and_get_golden.json
Due: datahub-integrations-service-lint-fix

feat(adf): update Azure Data Factory test data and enhance mock resource handling
  metadata-ingestion/tests/integration/azure_data_factory/adf_basic_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_branching_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_dataflow_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_diverse_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_foreach_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_mixed_deps_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_multisource_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_nested_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_platform_instance_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/adf_with_runs_golden.json
  metadata-ingestion/tests/integration/azure_data_factory/test_adf_source.py
  metadata-ingestion/tests/integration/azure_data_factory/test_complex_pipelines.py
Due: metadata-ingestion-lint-fix

docs(sdk): run assertion parameters example (#15831)
  docs/api/tutorials/assertions.md
  metadata-ingestion/examples/library/assertion_add_tag.py
  metadata-ingestion/examples/library/run_assertion_with_parameters.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(dbt): add debug traceback and tests for semantic view CLL
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

feat(executor): python packages at boot time (#7810)
  docker/datahub-executor/README.md
  docker/datahub-executor/start.sh
  docker/profiles/docker-compose.acryl-python-services.yml
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingestion/deps): add upper bounds to dependency versions in setup.py
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

feat(ingestion/deps): add upper bounds to unconstrained packages
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

feat(ingestion/deps): add upper bound to importlib_metadata
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

fix(web): sql assertion criteria selection logic fix (#7807)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/builder/__tests__/builderStateConversion.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/builder/steps/sql/__tests__/utils.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/builder/steps/sql/utils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/builder/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/builder/utils.tsx
Due: web-react-lint-fix

feat(ui/ingestion): show create source education modal on opening product tour (#7805)
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/CreateSourceEducationModal.tsx
Due: web-react-lint-fix

fix(web): freshness tuning ui (#7813)
  datahub-executor/src/datahub_executor/common/monitor/inference/utils.py
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/monitor/MonitorAnomalyEventUtils.java
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/result/timeline/AssertionResultsTimelineViz.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/tuning/MonitorInferenceSettingsControlPanel.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/tuning/TuneSmartFreshnessAssertionModal.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/tuning/chart/freshness/DataFreshnessChart.tsx
Due: datahub-executor-lint-fix, datahub-graphql-core-spotless, web-react-lint-fix

feat(ui): Add default states for ask datahub on ingestion run details (#7806)
  datahub-web-react/src/app/chat/EmbeddedChat.tsx
  datahub-web-react/src/app/chat/components/SuggestedQuestions.tsx
  datahub-web-react/src/app/ingestV2/runDetails/IngestionRunDetailsPage.tsx
Due: web-react-lint-fix

refactor(ui): unify files created in different folders in OSS and SaaS (#7804)
  datahub-web-react/src/app/homeV3/freeTrial/FreeTrialContent.tsx
  datahub-web-react/src/app/homeV3/freeTrial/__tests__/useGetIngestionLink.test.ts
  datahub-web-react/src/app/homeV3/freeTrial/__tests__/useHasIngestionSources.test.tsx
  datahub-web-react/src/app/homeV3/freeTrial/useGetIngestionLink.ts
  datahub-web-react/src/app/homeV3/freeTrial/useHasIngestionSources.ts
Due: web-react-lint-fix

improvement(troubleshooting): Add chatbot events fetcher script and Claude Code skills (#7800)
  datahub-integrations-service/experiments/chatbot/fetch_chatbot_events.py
  datahub-integrations-service/experiments/skills/README.md
  datahub-integrations-service/experiments/skills/chatbot-events-fetcher/skill.md
  datahub-integrations-service/experiments/skills/datahub-token-generator/skill.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-integrations-service-lint-fix

addressing comments
  datahub-web-react/src/app/context/ContextSidebar.tsx
  datahub-web-react/src/app/document/hooks/useLoadDocumentTree.ts
  datahub-web-react/src/app/document/hooks/useSearchDocuments.ts
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentActionsMenu.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentTreeItem.tsx
  smoke-test/tests/cypress/cypress.config.js
Due: web-react-lint-fix

Adding lint fixes
  datahub-web-react/src/app/context/ContextLayoutContext.tsx
  datahub-web-react/src/app/context/__tests__/useContextDocumentsPermissions.test.ts
  smoke-test/tests/cypress/cypress/e2e/documents/document_management.js
Due: web-react-lint-fix

Final lint prettier
  datahub-web-react/src/alchemy-components/components/Editor/toolbar/Toolbar.tsx
  datahub-web-react/src/app/context/ContextRoutes.tsx
  datahub-web-react/src/app/context/ContextSidebar.tsx
  datahub-web-react/src/app/entityV2/document/summary/EditableContent.tsx
Due: web-react-lint-fix

Updating the context base location
  datahub-web-react/src/app/SearchRoutes.tsx
  datahub-web-react/src/app/context/ContextDocumentsPage.tsx
  datahub-web-react/src/app/context/ContextRoutes.tsx
  datahub-web-react/src/app/context/ContextSidebar.tsx
  datahub-web-react/src/app/context/useContextDocumentsPermissions.ts
  datahub-web-react/src/app/document/hooks/__tests__/useDocumentTreeMutations.test.tsx
  datahub-web-react/src/app/document/hooks/__tests__/useLoadDocumentTree.test.tsx
  datahub-web-react/src/app/document/hooks/useDocumentTreeMutations.ts
  datahub-web-react/src/app/document/hooks/useLoadDocumentTree.ts
  datahub-web-react/src/app/entityV2/document/summary/DocumentSummaryTab.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavSidebar.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/ContextGroupHeader.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/DocumentTreeItem.tsx
  datahub-web-react/src/app/homeV2/layout/sidebar/documents/SearchResultItem.tsx
  datahub-web-react/src/conf/Global.ts
  smoke-test/tests/cypress/cypress.config.js
  smoke-test/tests/cypress/cypress/e2e/documents/document_management.js
Due: web-react-lint-fix

Fix unit tests
  datahub-web-react/src/app/document/hooks/__tests__/useLoadDocumentTree.test.tsx
Due: web-react-lint-fix

fix(chat): Increase LangGraph recursion_limit to prevent premature termination (#7822)
  datahub-integrations-service/src/datahub_integrations/chat/agent/agent_runner.py
Due: datahub-integrations-service-lint-fix

fix(docs): Support descriptions editing, links for external docs (#7796)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/knowledge/DocumentMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/knowledge/DocumentType.java
  datahub-graphql-core/src/main/resources/documents.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/knowledge/DocumentMapperTest.java
  datahub-web-react/src/app/entityV2/document/DocumentEntity.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/getFieldDescriptionDetails.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/getFieldDescriptionDetails.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/__tests__/utils.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/utils.ts
  datahub-web-react/src/graphql/document.graphql
  metadata-models/src/main/resources/entity-registry.yml
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  smoke-test/tests/cypress/acryl-main-data.json
  smoke-test/tests/cypress/cypress/e2e/documents/external_document_profile.js
Due: datahub-graphql-core-spotless, metadata-utils-spotless, update-lineage-file, web-react-lint-fix

perf(ingestion-qlik): enforce scoped Qlik ingestion to eliminate full-environment scans
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/qlik_api.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/qlik_sense.py
Due: metadata-ingestion-lint-fix

refactor(validation): replace ThreadLocal with OperationContext pattern for aspect size validation (#15753)
  docker/profiles/docker-compose.gms.yml
  entity-registry/src/main/java/com/linkedin/metadata/aspect/EntityAspect.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/EnvelopedSystemAspect.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/SystemAspect.java
  entity-registry/src/testFixtures/java/com/linkedin/test/metadata/aspect/batch/TestSystemAspect.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectSizePayloadValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanSystemAspect.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/AspectDeletionRequest.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/AspectOperationContext.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/AspectSizeExceededException.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/AspectSizeValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/AspectValidationContext.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/ValidationPoint.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/AspectSizePayloadValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceImplTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanSystemAspectTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/validation/AspectOperationContextTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/validation/AspectSizeExceededExceptionTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/validation/AspectSizeValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/validation/AspectValidationContextTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/validation/ValidationPointTest.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/ValidationContext.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityAspectDaoFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Due: entity-registry-spotless, metadata-io-spotless, metadata-operation-context-spotless, metadata-service-factories-spotless

fix: add missing @Nullable import in SpringStandardPluginConfiguration
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Due: metadata-service-factories-spotless
