Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

fix(iceberg): listnamespaces includes warehouse name as root (#12761)
  metadata-service/iceberg-catalog/pyproject.toml
  metadata-service/iceberg-catalog/src/integrationTest/integration_test.py
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/Utils.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/DataHubRestCatalogTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/UtilsTest.java
Due: none

Change BigQueryCredentail to common function: GCPCredential
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/common/credentials.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Due: metadata-ingestion-lint-fix

feat(operations): ES and Kafka Operations Endpoints (#12756)
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/trace/KafkaTraceReader.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/ESSearchDAORawEntityTest.java
  metadata-io/src/test/java/com/linkedin/metadata/trace/BaseKafkaTraceReaderTest.java
  metadata-service/openapi-metadatatests-servlet/src/test/java/io/datahubproject/openapi/metadatatests/config/MetadataTestsTestConfiguration.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/ElasticsearchController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/kafka/KafkaController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/kafka/KafkaOffsetResponse.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/elastic/ElasticsearchControllerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/kafka/KafkaControllerTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/search/EntitySearchServiceTest.java
Due: metadata-io-spotless, metadata-service-openapi-servlet-spotless, metadata-service-services-spotless

feat(UI): make searchbar centered and wider (#12666)
  datahub-web-react/src/app/searchV2/SearchBar.tsx
  datahub-web-react/src/app/searchV2/SearchHeader.tsx
Due: none

fix(test): handle empty log
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceOptimizationTest.java
Due: metadata-io-spotless

fix(ui) Fix order of parent containers on v2 autocomplete item (#12721)
  datahub-web-react/src/app/searchV2/autoComplete/AutoCompleteEntity.tsx
Due: none

fixed one unit test case failure, and naming chagne
  metadata-ingestion/src/datahub/ingestion/source/common/credentials.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

improve doc
  docs/cli-commands/dataset.md
Due: none

Added Enum and refactoring
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

fix(test): handle empty log (#12768)
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceOptimizationTest.java
Due: metadata-io-spotless

fix(UI): fix cutting off of labels (#245) (#5149)
  datahub-web-react/src/alchemy-components/components/BarChart/BarChart.tsx
  datahub-web-react/src/alchemy-components/components/BarChart/components/DynamicMarginSetter.tsx
  datahub-web-react/src/alchemy-components/components/BarChart/components/LeftAxisMarginSetter.tsx
  datahub-web-react/src/alchemy-components/components/BarChart/components/TruncatableTick.tsx
  datahub-web-react/src/alchemy-components/components/LineChart/LineChart.tsx
  datahub-web-react/src/alchemy-components/components/WhiskerChart/WhiskerChart.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/ChartsSection/charts/components/MetricWithProportionLineChart.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/components/sections/ChartsSection/charts/hooks/usePrepareMetricStats.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/QueryCountGraph/QueryCountChart.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/RowCountGraph/RowCountGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StorageSizeGraph/StorageSizeGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/utils.ts
Due: none

fix(ui) Fix order of parent containers on v2 autocomplete item (#5217)
  datahub-web-react/src/app/searchV2/autoComplete/AutoCompleteEntity.tsx
Due: none

add comment
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

feat(ui/task-center): Add My Proposals tab and update existing tab styles (#5164)
  datahub-web-react/src/app/entityV2/shared/components/styled/TabToolbar.tsx
  datahub-web-react/src/app/taskCenterV2/TaskCenter.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/ProposalList.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/Proposals.tsx
  datahub-web-react/src/app/taskCenterV2/proposalsV2/utils.ts
  datahub-web-react/src/app/taskCenterV2/requests/Requests.tsx
Due: none

feat(sdk): add support for institutional memory links
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_ingestion_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_links_add_remove_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
Due: metadata-ingestion-lint-fix

add support for containers
  metadata-ingestion/src/datahub/sdk/container.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/tests/unit/sdk_v2/container_golden/test_container_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_container.py
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
Due: metadata-ingestion-lint-fix

add comment
  metadata-ingestion/src/datahub/sdk/_shared.py
Due: metadata-ingestion-lint-fix

Update gcs_source.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
Due: metadata-ingestion-lint-fix

fix smoke test import; increase timeout for flaky cypress test
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  smoke-test/tests/entity_versioning/test_versioning_ingest.py
Due: smoke-test-lint-fix

feat: grouping data in Query Count chart (#252) (#5157)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetStatsSummaryResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetUsageStatsResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardStatsSummaryTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetStatsSummaryResolverTest.java
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/QueryCountGraph/useQueryCountData.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/__tests__/utils/getCalendarStartTimeByTimeRange.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/__tests__/utils/roundTimeByTimeRange.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/__tests__/utils/timeFormat.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/utils.ts
  datahub-web-react/src/graphql/dataset.graphql
  metadata-io/src/main/java/com/linkedin/metadata/client/UsageStatsJavaClient.java
  metadata-io/src/test/java/com/linkedin/metadata/client/UsageStatsJavaClientTest.java
  metadata-service/restli-api/src/main/idl/com.linkedin.usage.usageStats.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.usage.usageStats.snapshot.json
  metadata-service/restli-client-api/src/main/java/com/linkedin/usage/UsageClient.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/usage/UsageClientCache.java
  metadata-service/restli-client/src/main/java/com/linkedin/usage/RestliUsageClient.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless

fix(lineage) Support views and sorting in impact analysis (#12769)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolver.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossLineageResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolverTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/FilterUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/FilterUtilsTest.java
Due: datahub-graphql-core-spotless, metadata-utils-spotless

fix(ui) Center search bar, fix safari header bug, fix nav bar bug (#5252)
  datahub-web-react/src/app/entityV2/user/useGetUserGroupUrns.ts
  datahub-web-react/src/app/homeV2/layout/NavLinksMenu.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarHeader.tsx
  datahub-web-react/src/app/searchV2/SearchBar.tsx
  datahub-web-react/src/app/searchV2/SearchHeader.tsx
Due: none

lint
  smoke-test/tests/entity_versioning/test_versioning_ingest.py
Due: smoke-test-lint-fix

Revert "My first commit updated tests page title design to match new components" (#5253)
  datahub-web-react/src/app/tests/ManageTestsPage.tsx
Due: none

fix auth in smoke tests
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  smoke-test/tests/cli/dataset_cmd/test_dataset_command.py
Due: metadata-ingestion-lint-fix, smoke-test-lint-fix

feat(ingest/s3): add table filtering
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_deny_table.json
  metadata-ingestion/tests/integration/s3/sources/s3/allow_table.json
  metadata-ingestion/tests/integration/s3/sources/s3/deny_table.json
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
Due: metadata-ingestion-lint-fix

pydantic compat
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/cli/specific/dataset_cli.py
Due: metadata-ingestion-lint-fix

add compat for pydantic v2
  metadata-ingestion/examples/structured_properties/dataset.yaml
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
Due: metadata-ingestion-lint-fix

add compat for pydantic v2
  metadata-ingestion/src/datahub/pydantic/__init__.py
  metadata-ingestion/src/datahub/pydantic/compat.py
Due: metadata-ingestion-lint-fix

remove int
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
Due: metadata-ingestion-lint-fix

fix test
  smoke-test/tests/structured_properties/test_structured_properties.py
Due: smoke-test-lint-fix

feat(versioning): Support entity versioning ingestion (#12755)
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/versioning/EntityVersioningServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/versioning/sideeffects/VersionPropertiesSideEffect.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/versioning/sideeffects/VersionSetSideEffect.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/versioning/validation/VersionPropertiesValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/versioning/EntityVersioningServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/versioning/sideeffects/VersionPropertiesSideEffectTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/versioning/validation/VersionPropertiesValidatorTest.java
  metadata-models/src/main/pegasus/com/linkedin/common/VersionProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/versionset/VersionSetProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/versionset/VersioningScheme.pdl
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  smoke-test/tests/entity_versioning/test_versioning_ingest.py
Due: metadata-io-spotless, metadata-service-factories-spotless, smoke-test-lint-fix

add overflow-wrap for run id
  datahub-web-react/src/app/entity/dataProcessInstance/profile/DataProcessInstanceSummary.tsx
Due: none

add customproperties for mlmodelgroup query
  datahub-web-react/src/graphql/fragments.graphql
Due: none

add overflow wrap for model details
  datahub-web-react/src/app/entity/mlModel/profile/MLModelSummary.tsx
Due: none

Add support for platform instance in Airflow plugin
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Due: metadata-ingestion-modules-airflow-plugin-lint-fix

Add platform instance to browse path
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Due: metadata-ingestion-modules-airflow-plugin-lint-fix

Update documentation with platform_instance
  docs/lineage/airflow.md
Due: none

Update test files with platform_instance
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/basic_iolets.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/dag_to_skip.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/simple_dag.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
Due: metadata-ingestion-modules-airflow-plugin-lint-fix

modify versio-related stuff
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Due: metadata-ingestion-lint-fix
