Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix(redirect): fix open redirect filter
  datahub-frontend/app/controllers/Application.java
  datahub-frontend/app/filters/BasePathRedirectFilter.scala
  datahub-frontend/app/utils/CustomHttpClientFactory.java
  datahub-frontend/conf/routes
  datahub-frontend/test/app/ApplicationTest.java
  datahub-frontend/test/utils/CustomHttpClientFactoryTest.java
Due: none

docs(features): small typo fix and added missing word (#16039)
  docs/features/feature-guides/logical-models/overview.md
Due: datahub-web-react-mdPrettierWriteChanged

feat: add validation for quantiles and profiling context parameters - clean up useless tests
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/base_adapter.py
  metadata-ingestion/src/datahub/ingestion/source/sqlalchemy_profiler/profiling_context.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_adapters.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_profiling_context.py
  metadata-ingestion/tests/unit/sqlalchemy_profiler/test_sqlalchemy_profiler.py
Due: metadata-ingestion-lint-fix

mui chunk
  datahub-web-react/vite.config.ts
Due: web-react-lint-fix

fix(throttle/rate-limit): Add some checks to prevent scheduling spam (#8163)
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/throttle/RateLimitThrottleSensor.java
Due: metadata-service-factories-spotless

fix(redirect): fix open redirect filter (#16178)
  datahub-frontend/app/controllers/Application.java
  datahub-frontend/app/filters/BasePathRedirectFilter.scala
  datahub-frontend/app/utils/CustomHttpClientFactory.java
  datahub-frontend/conf/routes
  datahub-frontend/test/app/ApplicationTest.java
  datahub-frontend/test/utils/CustomHttpClientFactoryTest.java
Due: none

feat(description update): allow updating top level description via th… (#7566)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolverTest.java
Due: datahub-graphql-core-spotless

fixes(mcp tools): fixes for save_document and list_schema_fields (#8242)
  datahub-integrations-service/src/datahub_integrations/mcp/mcp_server.py
  datahub-integrations-service/src/datahub_integrations/mcp/tools/save_document.py
  datahub-integrations-service/tests/mcp/test_list_schema_fields.py
  datahub-integrations-service/tests/mcp/tools/test_save_document.py
Due: datahub-integrations-service-lint-fix

fix(security): address PR review findings for credential handling
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
Due: metadata-ingestion-lint-fix

fix(deps): upgrade Testcontainers 1.21.1 to 1.21.4 for Docker API 1.44+ compatibility
  build.gradle
Due: check-gradle-lockfiles

chore(deps): refresh lockfiles for Testcontainers 1.21.4
  datahub-upgrade/gradle.lockfile
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/datahub-client/gradle.lockfile
  metadata-integration/java/datahub-event/gradle.lockfile
  metadata-integration/java/spark-lineage-legacy/gradle.lockfile
  metadata-io/gradle.lockfile
  metadata-service/factories/gradle.lockfile
  metadata-service/iceberg-catalog/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
Due: none

fix(security): upgrade Velocity 1.5 to 2.3+ in acryl-spark-lineage (CVE-2020-13936)
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-client/src/test/java/datahub/client/kafka/KafkaEmitterTest.java
  metadata-integration/java/spark-lineage-legacy/src/test/java/datahub/spark/TestSparkJobsLineage.java
Due: metadata-integration-java-datahub-client-spotless, metadata-integration-java-spark-lineage-legacy-spotless, check-gradle-lockfiles

chore(): Upgrade testcontainers (#16196)
  build.gradle
  datahub-upgrade/gradle.lockfile
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/datahub-client/gradle.lockfile
  metadata-integration/java/datahub-event/gradle.lockfile
  metadata-integration/java/spark-lineage-legacy/gradle.lockfile
  metadata-io/gradle.lockfile
  metadata-service/factories/gradle.lockfile
  metadata-service/iceberg-catalog/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
Due: check-gradle-lockfiles

feat(billing): Use metronome packages to create customer contracts (#8197)
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/freetrial/ProvisionFreeTrialBillingStep.java
  metadata-io/src/main/java/com/linkedin/metadata/billing/BillingHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/billing/BillingProvider.java
  metadata-io/src/main/java/com/linkedin/metadata/billing/contract/ContractFactory.java
  metadata-io/src/main/java/com/linkedin/metadata/billing/contract/ContractSpec.java
  metadata-io/src/main/java/com/linkedin/metadata/billing/contract/FreeTrialContractSpec.java
  metadata-io/src/main/java/com/linkedin/metadata/billing/contract/RecurringCreditSpec.java
  metadata-io/src/main/java/com/linkedin/metadata/billing/metronome/MetronomeClient.java
  metadata-io/src/test/java/com/linkedin/metadata/billing/BillingHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/billing/contract/ContractFactoryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/billing/contract/ContractSpecTest.java
  metadata-io/src/test/java/com/linkedin/metadata/billing/contract/FreeTrialContractSpecTest.java
  metadata-io/src/test/java/com/linkedin/metadata/billing/contract/RecurringCreditSpecTest.java
  metadata-io/src/test/java/com/linkedin/metadata/billing/metronome/MetronomeClientTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/BillingConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/billing/BillingFactoryTest.java
Due: datahub-upgrade-spotless, metadata-io-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless

fix(cypress): fix cypress tests after updating feature flags (#16102)
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavSidebar.tsx
  smoke-test/tests/cypress/cypress/e2e/auto_completeV2/v2_auto_complete.js
  smoke-test/tests/cypress/cypress/e2e/domainsV2/v2_nested_domains.js
  smoke-test/tests/cypress/cypress/e2e/glossaryV2/v2_glossary.js
  smoke-test/tests/cypress/cypress/e2e/glossaryV2/v2_glossaryTerm.js
  smoke-test/tests/cypress/cypress/e2e/glossaryV2/v2_glossary_navigation.js
  smoke-test/tests/cypress/cypress/e2e/homeV2/v2_home.js
  smoke-test/tests/cypress/cypress/e2e/lineageV2/v2_lineage_column_path.js
  smoke-test/tests/cypress/cypress/e2e/lineageV2/v2_lineage_graph.js
  smoke-test/tests/cypress/cypress/e2e/mfeframework/valid_config_mfe.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
  smoke-test/tests/cypress/cypress/e2e/mutationsV2/v2_ingestion_source.js
  smoke-test/tests/cypress/cypress/e2e/mutationsV2/v2_managed_ingestion.js
  smoke-test/tests/cypress/cypress/e2e/mutationsV2/v2_managing_secrets.js
  smoke-test/tests/cypress/cypress/e2e/settingsV2/v2_homePagePost.js
  smoke-test/tests/cypress/cypress/support/commands.js
Due: web-react-lint-fix

fix(ingestion): disable setproctitle on macOS to prevent SIGSEGV after fork
  metadata-ingestion-modules/airflow-plugin/tests/integration/_airflow_gunicorn_patch.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion/datahub_setproctitle_patch.pth
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/__init__.py
  metadata-ingestion/src/datahub/_setproctitle_patch.py
Due: metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, update-lineage-file

feat(search): add SNOWBALL stemmer to word gram analyzer (#8189)
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/index/entity/v2/V2LegacySettingsBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureTestBase.java
Due: metadata-io-spotless

fix(ingestion): prevent changing of source type for existing ingestion sources (#16152)
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsStep.tsx
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/constants.ts
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/sections/recipeSection/RecipeSection.tsx
Due: web-react-lint-fix

tests(cypress): add lineage filtering tests (#16021)
  datahub-web-react/src/app/lineageV2/LineageFilterNode/LineageFilterNodeBasic.tsx
  datahub-web-react/src/app/lineageV2/LineageFilterNode/LineageFilterSearch.tsx
  datahub-web-react/src/app/lineageV2/LineageFilterNode/ShowMoreButton.tsx
  smoke-test/tests/cypress/cypress/e2e/lineageV2/utils.js
  smoke-test/tests/cypress/cypress/e2e/lineageV2/v2_lineage_graph.js
  smoke-test/tests/cypress/data.json
Due: web-react-lint-fix

fix(rescore): add missing fields to RescoreConfiguration for YAML deserialization (#8243)
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/RescoreConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/RescoreFormulaConfig.java
  metadata-service/configuration/src/main/resources/rescore_config.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/search/RescoreConfigurationTest.java
Due: metadata-service-configuration-spotless

Exclude Git Objects to speed up the builds:
  .dockerignore
Due: none

dockerignore - Exclude Git Objects to speed up the builds (#16199)
  .dockerignore
Due: none

build: upgrade Spring Boot 3.5.6, Spring 6.2.13, Jetty 12.0.32
  build.gradle
  datahub-actions/gradle.lockfile
  datahub-agent-context/gradle.lockfile
  datahub-frontend/gradle.lockfile
  datahub-graphql-core/gradle.lockfile
  datahub-upgrade/gradle.lockfile
  ingestion-scheduler/gradle.lockfile
  metadata-auth/auth-api/gradle.lockfile
  metadata-dao-impl/kafka-producer/gradle.lockfile
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/spark-lineage-legacy/gradle.lockfile
  metadata-io/gradle.lockfile
  metadata-jobs/common/gradle.lockfile
  metadata-jobs/mae-consumer-job/gradle.lockfile
  metadata-jobs/mae-consumer/gradle.lockfile
  metadata-jobs/mce-consumer-job/gradle.lockfile
  metadata-jobs/mce-consumer/gradle.lockfile
  metadata-jobs/pe-consumer/gradle.lockfile
  metadata-models-custom/gradle.lockfile
  metadata-service/auth-filter/gradle.lockfile
  metadata-service/auth-servlet-impl/gradle.lockfile
  metadata-service/configuration/gradle.lockfile
  metadata-service/events-service/gradle.lockfile
  metadata-service/factories/gradle.lockfile
  metadata-service/graphql-servlet-impl/gradle.lockfile
  metadata-service/iceberg-catalog/gradle.lockfile
  metadata-service/openapi-analytics-servlet/gradle.lockfile
  metadata-service/openapi-entity-servlet/gradle.lockfile
  metadata-service/openapi-servlet/gradle.lockfile
  metadata-service/plugin/gradle.lockfile
  metadata-service/schema-registry-api/gradle.lockfile
  metadata-service/schema-registry-servlet/gradle.lockfile
  metadata-service/services/gradle.lockfile
  metadata-service/servlet/gradle.lockfile
  metadata-service/war/build.gradle
  metadata-service/war/gradle.lockfile
Due: check-gradle-lockfiles

keep cohere model as default for the cloud
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

feat(description update): allow updating top level description via th… (#16192)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolverTest.java
Due: datahub-graphql-core-spotless

Update townhalls-Feb.md
  docs/townhalls.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ci): remove labeled trigger
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(sql-parser): Enhance SQL parsing for multi-statement support and lineage tracking
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow2/_airflow2_sql_parser_patch.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/airflow3/_airflow3_sql_parser_patch.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_multi_statement_lineage.py
Due: metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, update-lineage-file

Update container registry example for Remote Executor
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Due: datahub-web-react-mdPrettierWriteChanged

remove other references to labeled event
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(ingestion/stored-proc): Add stored procedure lineage with improved pl/sql parsing and function support (#16067)
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/oracle/oracle_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/base.py
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_all_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_dba_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_stored_procedures.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_usage_and_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/test_oracle_stored_procedure_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_split_statements.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

addressing feedback
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_all_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_dba_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_stored_procedures.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_usage_and_lineage.json
Due: metadata-ingestion-lint-fix

refactor(sqlglot-lineage): Remove unused temp table handling and update tests for temp table resolution
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_multi_statement_lineage.py
Due: metadata-ingestion-lint-fix

fix(ci): remove labeled trigger (#16202)
  .github/workflows/docker-unified.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

fix(ingestion/oracle): retrieve database name when using service_name with ALL mode (#16142)
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_materialized_view_lineage.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_all_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_dba_tables.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_stored_procedures.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_usage_and_lineage.json
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_without_stored_procedures.json
  metadata-ingestion/tests/unit/test_oracle_source.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix custom source name used in ingestion form
  datahub-web-react/src/app/ingestV2/source/utils.ts
Due: web-react-lint-fix

addressing feedback
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_query_usage.json
  metadata-ingestion/tests/integration/oracle/startup/01_setup.sql
  metadata-ingestion/tests/integration/oracle/test_oracle.py
Due: metadata-ingestion-lint-fix

Updated tests
  metadata-ingestion/tests/integration/oracle/golden_files/golden_mces_oracle_to_file_with_query_usage.json
  metadata-ingestion/tests/integration/oracle/source_files/oracle_to_file_materialized_view_lineage.yml
  metadata-ingestion/tests/integration/oracle/source_files/oracle_to_file_with_all_tables.yml
  metadata-ingestion/tests/integration/oracle/source_files/oracle_to_file_with_dba_tables.yml
  metadata-ingestion/tests/integration/oracle/source_files/oracle_to_file_with_stored_procedures.yml
  metadata-ingestion/tests/integration/oracle/source_files/oracle_to_file_with_usage_and_lineage.yml
  metadata-ingestion/tests/integration/oracle/source_files/oracle_to_file_without_stored_procedures.yml
  metadata-ingestion/tests/integration/oracle/startup/01_setup.sql
  metadata-ingestion/tests/integration/oracle/startup/post_setup.sql
  metadata-ingestion/tests/integration/oracle/test_oracle.py
Due: metadata-ingestion-lint-fix

fix outer page scroll issue
  datahub-web-react/src/app/ingestV2/source/multiStepBuilder/steps/step2ConnectionDetails/ConnectionDetailsStep.tsx
Due: web-react-lint-fix

Start upstream merge process with stacked strategy
  docs/how/merge-log.md
Due: datahub-web-react-mdPrettierWriteChanged

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
