Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

ci(ingest/spark): make the spark smoke-test image build resilient + bound the job
  .github/workflows/spark-smoke-test.yml
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/docker/SparkBase.Dockerfile
Due: datahub-web-react-githubActionsPrettierWriteChanged

ci(ingest/spark): pull Spark from the CDN (3.5.8) with archive fallback
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/docker/SparkBase.Dockerfile
Due: none

done
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/columnlineage/ReindexChartInputFieldsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/columnlineage/ReindexDashboardInputFieldsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/columnlineage/ReindexDatasetUpstreamLineageStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/dbtsiblingsindices/ReindexDbtSiblingsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/forminfo/ReindexFormInfoStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/glossary/ReindexGlossaryNodeInfoStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/glossary/ReindexGlossaryTermInfoStep.java
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged, datahub-upgrade-spotless

fix(system-update): disable RestoreColumnLineageIndices and RestoreDbtSiblingsIndices by default (#18115)
  metadata-service/configuration/src/main/resources/application.yaml
Due: none

fix(ingest/spark): restore Java 17 bytecode for the agent shadow jar (regressed by the Java 21 migration) (#18113)
  .github/workflows/spark-smoke-test.yml
  build.gradle
  entity-registry/build.gradle
  entity-registry/src/main/java/com/linkedin/metadata/graph/cache/AncestorWalkResult.java
  entity-registry/src/main/java/com/linkedin/metadata/graph/cache/GraphReadResult.java
  entity-registry/src/main/java/com/linkedin/metadata/graph/cache/MembershipNeighborResult.java
  li-utils/build.gradle
  metadata-integration/java/acryl-spark-lineage/README.md
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/docker/SparkBase.Dockerfile
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-event/build.gradle
  metadata-integration/java/datahub-schematron/lib/build.gradle
  metadata-integration/java/openlineage-converter/build.gradle
  metadata-models/build.gradle
Due: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, entity-registry-spotless, update-lineage-file, check-gradle-lockfiles

fix(spark-lineage): relocate OpenLineage to avoid EMR/DataZone classpath conflict
  docs/how/updating-datahub.md
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/acryl-spark-lineage/scripts/check_jar.sh
Due: datahub-web-react-mdPrettierWriteChanged, check-gradle-lockfiles

fix(teradata): add error handling for view definition retrieval and storage
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Due: metadata-ingestion-lint-fix

test(dashboard): cover access aspect mapping and i18n the access tab
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapperTest.java
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
Due: datahub-graphql-core-spotless, web-react-lint-fix

feat(ingest/gc): add query cleanup pass for stale SYSTEM queries
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-ingestion/src/datahub/ingestion/source/gc/query_cleanup.py
  metadata-ingestion/tests/unit/test_query_cleanup.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
Due: metadata-ingestion-lint-fix

remove duplicate stuff
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/restoreindices/ReindexDbtSiblingsConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/dbtsiblingsindices/ReindexDbtSiblings.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/dbtsiblingsindices/ReindexDbtSiblingsStep.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-upgrade-spotless

docs(ingest/gc): document query cleanup pass
  metadata-ingestion/docs/sources/datahubgc/datahub-gc_post.md
  metadata-ingestion/docs/sources/datahubgc/datahub-gc_recipe.yml
Due: datahub-web-react-mdPrettierWriteChanged

handle legacy runs
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/AbstractMCLStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/columnlineage/ReindexChartInputFieldsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/columnlineage/ReindexDashboardInputFieldsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/columnlineage/ReindexDatasetUpstreamLineageStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/forminfo/ReindexFormInfoStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/glossary/ReindexGlossaryNodeInfoStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/restoreindices/glossary/ReindexGlossaryTermInfoStep.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-upgrade-spotless

feat(ingest/matillion): OpenLineage-driven lineage, foldered containers, run history, and unpublished-pipeline fixes (#17927)
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/matillion-dpc.ts
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/matillion-dpc.ts
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/matillion-dpc/matillion-dpc_post.md
  metadata-ingestion/docs/sources/matillion-dpc/matillion-dpc_recipe.yml
  metadata-ingestion/examples/recipes/matillion_dpc_to_datahub.dhub.yaml
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/config.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/constants.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_api.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_container.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_streaming.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/matillion_utils.py
  metadata-ingestion/src/datahub/ingestion/source/matillion_dpc/models.py
  metadata-ingestion/tests/integration/matillion_dpc/matillion_basic_to_file.yml
  metadata-ingestion/tests/integration/matillion_dpc/matillion_comprehensive_mces_golden.json
  metadata-ingestion/tests/integration/matillion_dpc/matillion_comprehensive_to_file.yml
  metadata-ingestion/tests/integration/matillion_dpc/matillion_postgres_snowflake_to_file.yml
  metadata-ingestion/tests/integration/matillion_dpc/matillion_streaming_mces_golden.json
  metadata-ingestion/tests/integration/matillion_dpc/matillion_streaming_to_file.yml
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_api.py
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_config.py
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_container.py
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_error_handling.py
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_lineage.py
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_source.py
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_streaming.py
  metadata-ingestion/tests/unit/matillion_dpc/test_matillion_utils.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

fix(ingest/spark): relocate OpenLineage to avoid EMR/DataZone classpath conflict (#17947)
  docs/how/updating-datahub.md
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/acryl-spark-lineage/scripts/check_jar.sh
Due: datahub-web-react-mdPrettierWriteChanged, check-gradle-lockfiles

address PR comments, use global tag function, small test edit
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/tests/unit/profiling/test_columns_to_ignore_sampling.py
Due: metadata-ingestion-lint-fix

fix(smoke-test): wait for policy cache before auth denial assertions
  smoke-test/tests/authorization/test_aspect_write_auth.py
  smoke-test/tests/privileges/utils.py
Due: smoke-test-lint-fix

fix(ingest/gc): address review feedback on query cleanup pass
  metadata-ingestion/docs/sources/datahubgc/datahub-gc_post.md
  metadata-ingestion/src/datahub/ingestion/source/gc/query_cleanup.py
  metadata-ingestion/tests/unit/test_query_cleanup.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

feat(graphql): filtered resolver-level OTel spans (resolver names in traces, no span explosion) (#18112)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphQLEngine.java
  metadata-io/src/main/java/com/linkedin/metadata/system_telemetry/GraphQLOtelResolverInstrumentation.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_telemetry/GraphQLOtelResolverInstrumentationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/graphql/GraphQLOtelConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/graphql/ResolverSpansConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-configuration-spotless

fix(ingestion/montecarlo): platform-aware URN casing; drop obsolete stale-removal override
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/mcon_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/source.py
  metadata-ingestion/tests/unit/montecarlo/test_montecarlo.py
Due: metadata-ingestion-lint-fix

fix(roles): exclude non-policy entities from role policies list (#18119)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/EntityRelationshipsResultResolverTest.java
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
  datahub-web-react/src/app/permissions/roles/RoleDetailsModal.tsx
  datahub-web-react/src/app/permissions/roles/__tests__/ManageRoles.test.tsx
  datahub-web-react/src/app/permissions/roles/__tests__/roles.utils.test.ts
  datahub-web-react/src/app/permissions/roles/roles.utils.ts
  datahub-web-react/src/graphql/role.graphql
Due: datahub-graphql-core-spotless, web-react-lint-fix

refactor(ingest/mssql): simplify 2-part-name match and add contract tests
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/test_mssql.py
Due: metadata-ingestion-lint-fix

refactor(ingest/mssql): centralize is_discovered_table cache-and-return
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
Due: metadata-ingestion-lint-fix

docs(ingest): document SDK emit modes (sync vs async) for the Python emitter (#18105)
  metadata-ingestion/as-a-library.md
Due: datahub-web-react-mdPrettierWriteChanged

fix(ingest/mssql): resolve 2-part-name lineage references against discovered_datasets (#17463)
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/unit/test_mssql.py
Due: metadata-ingestion-lint-fix

docs(ingest): fix incorrect sync marker name in datahub sink docs
  metadata-ingestion/sink_docs/datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

feat: add access aspect to dashboards (#15963)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/DashboardType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapperTest.java
  datahub-web-react/src/app/entityV2/container/ContainerEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
  datahub-web-react/src/graphql/dashboard.graphql
  metadata-models/src/main/resources/entity-registry.yml
Due: datahub-graphql-core-spotless, update-lineage-file, web-react-lint-fix

docs(ingestion/montecarlo): clarify connection_to_platform_map key is the warehouse resource UUID
  metadata-ingestion/docs/sources/montecarlo/montecarlo_pre.md
  metadata-ingestion/src/datahub/ingestion/source/montecarlo/config.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(ingest/looker): set HTTPAdapter pool size to match max_threads (#17794)
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/tests/unit/looker/test_looker_lib_wrapper.py
Due: metadata-ingestion-lint-fix

docs(ingest): fix incorrect sync marker name in datahub sink docs (#18123)
  metadata-ingestion/sink_docs/datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

ci(spark-lineage): include real-Spark integration coverage in jacoco report
  .github/workflows/spark-smoke-test.yml
  metadata-integration/java/acryl-spark-lineage/build.gradle
Due: datahub-web-react-githubActionsPrettierWriteChanged, check-gradle-lockfiles

test(spark-lineage): cover coalesce_jobs merging
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/EmittedMetadata.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/EmittedMetadataTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/ListenerConf.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/ListenerConfTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkCoalesceSmokeTest.java
Due: metadata-integration-java-acryl-spark-lineage-spotless

test(spark-lineage): real-Spark smoke test validating connection -> instance stamping
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkConnectionInstanceIntegrationTest.java
Due: metadata-integration-java-acryl-spark-lineage-spotless, check-gradle-lockfiles

test(spark-lineage): extensible feature regression framework + richer assertions
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/EmittedMetadata.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/EmittedMetadataTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/ListenerConf.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/ListenerConfTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkColumnLineageSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkConnectionInstanceSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkCorePathLineageSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkGlobalInstanceSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkMultiConnectionSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkSmokeTestBase.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/package-info.java
Due: metadata-integration-java-acryl-spark-lineage-spotless

test(spark-lineage): feature smoke tests for env, pipeline instance, tags, domains, lowercase, materialize
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkDomainsSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkEnvFabricSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkJobInstanceSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkLowerCaseUrnsSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkMaterializeSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkTagsSmokeTest.java
Due: metadata-integration-java-acryl-spark-lineage-spotless

test(spark-lineage): real-Spark feature suite + wire it into CI
  .github/workflows/spark-smoke-test.yml
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkColumnLineageSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkConnectionInstanceIntegrationTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkConnectionInstanceSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkCorePathLineageSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkGlobalInstanceSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkMultiConnectionSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkSmokeTestBase.java
Due: datahub-web-react-githubActionsPrettierWriteChanged, metadata-integration-java-acryl-spark-lineage-spotless

test(spark-lineage): add Iceberg-on-Glue connection-instance integration scenario
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/docker/spark-docker-compose.yml
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/python-spark-lineage-test/GlueIcebergConnectionInstance.py
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/python-spark-lineage-test/python_test_run.sh
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/setup_spark_smoke_test.sh
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/spark-docker.conf
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/test_e2e.py
Due: none

fix(spark-lineage): apply file_partition_regexp to bare-FS (file/dbfs) namespaces
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/OpenLineageEventToDatahubTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkPartitionPatternSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/package-info.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/dataset/HdfsPathDataset.java
Due: metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-openlineage-converter-spotless

test(spark-lineage): migrate Glue connection-instance scenario to the in-JVM suite
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/acryl-spark-lineage/gradle.lockfile
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/docker/spark-docker-compose.yml
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/python-spark-lineage-test/GlueIcebergConnectionInstance.py
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/python-spark-lineage-test/python_test_run.sh
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/setup_spark_smoke_test.sh
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/spark-docker.conf
  metadata-integration/java/acryl-spark-lineage/spark-smoke-test/test_e2e.py
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkGlueConnectionInstanceSmokeTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/SparkSmokeTestBase.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/package-info.java
Due: metadata-integration-java-acryl-spark-lineage-spotless, check-gradle-lockfiles

test(openlineage): cover file_partition_regexp partition stripping
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/HdfsPathDatasetTest.java
Due: metadata-integration-java-openlineage-converter-spotless

fix(spark-lineage): fully relocate shaded-jar dependencies and repair the jar-leak check
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/acryl-spark-lineage/scripts/check_jar.sh
Due: check-gradle-lockfiles
