Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$

ci: pin GitHub Actions to full commit SHAs
  .github/actions/ci-optimization/action.yml
  .github/actions/docker-custom-build-and-push/action.yml
  .github/actions/report-test-results/action.yml
  .github/workflows/actions.yml
  .github/workflows/agent-context.yml
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/check-python-deps.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/connector-tests-trigger.yml
  .github/workflows/contributor-open-pr-comment.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/delete-artifacts.yaml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-unified-nightly.yml
  .github/workflows/docker-unified.yml
  .github/workflows/documentation.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/lint-jobs.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/metadata-model.yml
  .github/workflows/metadata-models-custom-ci.yml
  .github/workflows/post-workflow-actions.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/prefect-plugin.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/python-build-pages.yml
  .github/workflows/quickstart-test.yml
  .github/workflows/react-cloudflare-pages.yml
  .github/workflows/spark-smoke-test.yml
  .github/workflows/update-test-weights.yml
  .github/workflows/verify-quickstart-compose.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

docs(release): Announce V1 UI deprecation (#16623)
  docs/how/updating-datahub.md
  docs/managed-datahub/release-notes/v_0_3_17.md
Due: datahub-web-react-mdPrettierWriteChanged

feat(ingestion): add configurable log levels for sink errors and warnings
  docs/cli.md
  metadata-ingestion/src/datahub/configuration/env_vars.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/api/test_report_sample_size.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

add structured property change event tests; fix mae consumer application test
  metadata-jobs/mae-consumer-job/src/test/java/com/linkedin/metadata/kafka/MaeConsumerApplicationTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHookTest.java
Due: metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless

ci(): pin GitHub Actions to full commit SHAs (#16702)
  .github/actions/ci-optimization/action.yml
  .github/actions/docker-custom-build-and-push/action.yml
  .github/actions/report-test-results/action.yml
  .github/workflows/actions.yml
  .github/workflows/agent-context.yml
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/check-python-deps.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/connector-tests-trigger.yml
  .github/workflows/contributor-open-pr-comment.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/delete-artifacts.yaml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-unified-nightly.yml
  .github/workflows/docker-unified.yml
  .github/workflows/documentation.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/lint-jobs.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/metadata-model.yml
  .github/workflows/metadata-models-custom-ci.yml
  .github/workflows/post-workflow-actions.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/prefect-plugin.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/python-build-pages.yml
  .github/workflows/quickstart-test.yml
  .github/workflows/react-cloudflare-pages.yml
  .github/workflows/spark-smoke-test.yml
  .github/workflows/update-test-weights.yml
  .github/workflows/verify-quickstart-compose.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

bug(ci): yarn lint failure
  .github/workflows/lint-jobs.yml
  datahub-web-react/build.gradle
  datahub-web-react/package.json
Due: datahub-web-react-githubActionsPrettierWriteChanged, web-react-lint-fix, check-gradle-lockfiles

ci: pin acryldata/sane-checkout-action to v7 (full SHA)
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/check-python-deps.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-unified-nightly.yml
  .github/workflows/docker-unified.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/lint-jobs.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/metadata-model.yml
  .github/workflows/prefect-plugin.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/python-build-pages.yml
  .github/workflows/react-cloudflare-pages.yml
  .github/workflows/spark-smoke-test.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

bring over ownership change event changes; more tests
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/entity/StructuredPropertyAssignmentChangeEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/OwnershipChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/OwnershipChangeEventGeneratorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/StructuredPropertiesChangeEventGeneratorTest.java
Due: metadata-io-spotless

small QOL fixes
  .github/workflows/pr-to-linear.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(metadata-io): Emit RelationshipChange platform event on relationship changes (#16701)
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateGraphIndicesService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/dataset/schema/SchemaFieldGlossaryTermChangeEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/dataset/schema/SchemaFieldTagChangeEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/entity/GlossaryTermChangeEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/entity/StructuredPropertyAssignmentChangeEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/entity/TagChangeEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/ChangeEventGeneratorUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/DeprecationChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableSchemaMetadataChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/GlobalTagsChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/GlossaryTermsChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/OwnershipChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/StructuredPropertyChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/ChangeEventGeneratorUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/GlossaryTermContextPropagationTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/GlossaryTermsChangeEventGeneratorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/OwnershipChangeEventGeneratorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/StructuredPropertiesChangeEventGeneratorTest.java
  metadata-jobs/mae-consumer-job/src/test/java/com/linkedin/metadata/kafka/MaeConsumerApplicationTest.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventMatcher.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLGMSSpringTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLMAESpringTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeline/eventgenerator/EntityChangeEventGeneratorRegistryFactory.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/EdgeDiff.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/GraphIndexUtils.java
  metadata-service/services/src/main/java/com/linkedin/metadata/timeline/data/ChangeCategory.java
Due: li-utils-spotless, metadata-io-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-service-factories-spotless, metadata-service-services-spotless

fix(ece): directly use event producer for ece (bringing back #16534)
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHookTest.java
Due: metadata-jobs-mae-consumer-spotless

fix(ece): directly use event producer for ece (#16708)
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventGeneratorHookTest.java
Due: metadata-jobs-mae-consumer-spotless

Drop react-phosphor v1 and migrate to v2
  datahub-web-react/package.json
  datahub-web-react/src/alchemy-components/components/DatePicker/variants/dateSwitcher/components.tsx
  datahub-web-react/src/alchemy-components/components/Editor/toolbar/FileUploadButton.tsx
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/ChildrenTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useTagsAndTermsRenderer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/Tags/AcrylAssertionTagColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/AssertionListItemActions.tsx
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/app/previewV2/HealthIcon.tsx
  datahub-web-react/src/app/search/filters/ParentEntities.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/AutocompleteFooter.tsx
  datahub-web-react/src/app/shared/sidebar/components.tsx
  datahub-web-react/yarn.lock
Due: web-react-lint-fix

fix(cli): sanitize caller label input and add YAUAA test coverage
  metadata-ingestion/src/datahub/utilities/caller_context.py
  metadata-operation-context/src/main/resources/datahub_user_agents.yaml
Due: metadata-ingestion-lint-fix

feat(cli): add caller context to User-Agent header for operator auditability
  docs/cli.md
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
  metadata-ingestion/src/datahub/utilities/caller_context.py
  metadata-ingestion/tests/unit/test_caller_context.py
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(cli): make identify_caller() lazy to avoid subprocess calls at import time
  metadata-ingestion/src/datahub/telemetry/telemetry.py
Due: metadata-ingestion-lint-fix

ci(ingestion): increase CI timeout from 60 to 75 minutes
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

refactor(cli): rename caller label human-terminal to terminal
  metadata-ingestion/src/datahub/utilities/caller_context.py
  metadata-ingestion/tests/unit/test_caller_context.py
Due: metadata-ingestion-lint-fix

test(cli): add comprehensive coverage for caller_context detection tiers
  metadata-ingestion/tests/unit/test_caller_context.py
Due: metadata-ingestion-lint-fix

fix(vertica): fix nullable columns and view definitions for Vertica ingestion
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
Due: metadata-ingestion-lint-fix

fix(test): mock create_workspace_client in fivetran tests to prevent CI hangs
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Due: metadata-ingestion-lint-fix

fix(test): mock WorkspaceClient in unity catalog tests to prevent CI hangs
  metadata-ingestion/tests/unit/test_unity_catalog_source.py
Due: metadata-ingestion-lint-fix

fix(test): mock WorkspaceClient in tests to prevent CI hangs (#16711)
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
  metadata-ingestion/tests/unit/test_unity_catalog_source.py
Due: metadata-ingestion-lint-fix

revert: remove CI timeout increase (no longer needed)
  .github/workflows/metadata-ingestion.yml
Due: datahub-web-react-githubActionsPrettierWriteChanged

feat(cli): add caller context to User-Agent header for operator auditability (#16655)
  docs/cli.md
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
  metadata-ingestion/src/datahub/utilities/caller_context.py
  metadata-ingestion/tests/unit/test_caller_context.py
  metadata-operation-context/src/main/resources/datahub_user_agents.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

Add unit tests for ServletConfig functionality
  metadata-service/war/src/test/java/com/linkedin/gms/ServletConfigTest.java
Due: metadata-service-war-spotless

Update tests after merging master
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/k8/KubernetesControllerK8sResponseSerializationTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/k8/KubernetesControllerTest.java
Due: metadata-service-openapi-servlet-spotless

fix(ingest/snowflake): exclude private_key from config serialization
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Due: metadata-ingestion-lint-fix

fix(ingestion): remove redundant pydantic_core exclusion and fix pyproject.toml generation (#16673)
  datahub-actions/setup.py
  metadata-ingestion/constraints.txt
  metadata-ingestion/pyproject.toml
  metadata-ingestion/scripts/generate_pyproject_deps.py
  metadata-ingestion/setup.py
  metadata-ingestion/uv.lock
Due: datahub-actions-lint-fix, metadata-ingestion-lint-fix

refactor(powerbi): expose parseExpression global function for PyMiniRacer
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/src/index.ts
Due: none

refactor(powerbi): simplify build.sh to esbuild+gzip, commit bundle.js.gz
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/build.sh
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/bundle.js.gz
Due: none

refactor(powerbi): replace subprocess SEA bridge with py_mini_racer MiniRacer
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/_bridge.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/build.sh
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/bundle.js.gz
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/src/index.ts
Due: metadata-ingestion-lint-fix

chore(powerbi): add mini-racer dep, update package_data to bundle.js.gz, remove LFS config
  .gitattributes
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/.gitignore
Due: metadata-ingestion-lint-fix

refactor(powerbi): update generate_fixtures.py to use _bridge.py directly
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/generate_fixtures.py
Due: metadata-ingestion-lint-fix

chore(powerbi): delete SEA binaries and sea-config.json
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/binaries/mquery-parser-darwin-arm64.gz
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/mquery_bridge/sea-config.json
Due: none

fix(powerbi): fix mypy errors in _bridge.py and test_native_query_flag.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/_bridge.py
  metadata-ingestion/tests/unit/test_native_query_flag.py
Due: metadata-ingestion-lint-fix

chore(deps): add mini-racer==0.14.1 to constraints.txt
  metadata-ingestion/constraints.txt
Due: none

chore(deps): update pyproject.toml and uv.lock for mini-racer, remove lark
  metadata-ingestion/pyproject.toml
  metadata-ingestion/uv.lock
Due: metadata-ingestion-lint-fix
