Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-graphql-core-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-utils-spotless, mock-entity-registry-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix

Path conditions:
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.py$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.py$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.py$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.py$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.py$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.py$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$

start working on compile
  metadata-ingestion/src/datahub/sdk/search_client.py
Due: metadata-ingestion-lint-fix

docs: clarify limits on AI docs
  docs/automations/ai-docs.md
Due: none

update per review
  metadata-ingestion/tests/unit/urns/invalid_urns_java_only.txt
  metadata-utils/src/test/java/com/linkedin/metadata/utils/UrnValidationUtilTest.java
Due: metadata-utils-spotless

updated golden tests
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
Due: none

review comment on dataset
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

minor chagne
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

docs: clarify limits on AI docs (#12728)
  docs/automations/ai-docs.md
Due: none

feat(web) disallow special characters in pool name (#5210)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/remoteexecutor/CreateRemoteExecutorPoolResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/remoteexecutor/RemoteExecutorUtils.java
  datahub-web-react/src/app/ingest/executor_saas/CreateRemoteExecutorPoolModal.tsx
Due: datahub-graphql-core-spotless

Fix platform instance support on Druid ingestion
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sql/druid.py
  metadata-ingestion/tests/unit/test_druid_source.py
Due: metadata-ingestion-lint-fix

change name
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

lint fix
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

fix(ingest): bump avro dep
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

Update golden test files
  metadata-ingestion/tests/integration/druid/golden/druid_mces.json
Due: none

minor comment change
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

adding comments for dataset
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

minor change in unit test
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

Adding sources and documents
  datahub-web-react/src/app/ingest/source/builder/sources.json
  metadata-ingestion/docs/sources/vertexai/README.md
  metadata-ingestion/docs/sources/vertexai/vertexai_pre.md
  metadata-ingestion/docs/sources/vertexai/vertexai_recipe.yml
Due: none

minor fix
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

feat(ingestion) Adding vertexAI ingestion source
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

delete unnecessary file
  metadata-ingestion/docs/sources/vertexai/vertexai_pre.md
Due: none

lintfix
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

fixing dataset
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

added endopint workunit creation and refactored
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

cleanup recipe
  metadata-ingestion/docs/sources/vertexai/vertexai_recipe.yml
Due: none

Update vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

feat(ingest): add vertex AI sample data ingestion
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/images/vertexai.png
  metadata-ingestion/examples/ai/dh_ai_client.py
  metadata-ingestion/examples/ai/vertexai_example_experiment.py
  metadata-ingestion/examples/ai/vertexai_example_training_job.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: metadata-ingestion-lint-fix

lintfix
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
  metadata-ingestion/tests/unit/test_vertexai_source.py
Due: metadata-ingestion-lint-fix

removing unnecesary commits
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  metadata-ingestion/examples/ai/dh_ai_client.py
  metadata-ingestion/examples/ai/vertexai_example_experiment.py
  metadata-ingestion/examples/ai/vertexai_example_training_job.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

adding vertex to dev requirements in setup.py
  metadata-ingestion/setup.py
Due: metadata-ingestion-lint-fix

minor change in config
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

Refactor code to use auto_workunit
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

adding comments
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

caching dataset list acquisitions
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix

fetch list of training jobs
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Due: metadata-ingestion-lint-fix
