Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

fix: revert test script
  metadata-ingestion/scripts/populate_biglake_data.py
Due: metadata-ingestion-lint-fix

feat(powerbi): enhance SQLAnalyticsEndpoint lineage handling with relation-dependent IDs and physical item resolution
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/unit/test_powerbi_directlake.py
Due: metadata-ingestion-lint-fix

feat(onelake): enhance OneLakeClient and SchemaClient to handle 404 responses and improve connection string generation with display names
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/client.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/schema_client.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/unit/fabric_onelake/test_schema_client.py
Due: metadata-ingestion-lint-fix

feat(powerbi): update dataset and workspace key generation to include platform instance and environment parameters
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
Due: metadata-ingestion-lint-fix

Do not try to hydrate entity without entity key
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hydrator/EntityHydrator.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/transformer/DataHubUsageEventTransformerTest.java
Due: metadata-jobs-mae-consumer-spotless

tests(cypress): add lineage filtering tests
  datahub-web-react/src/app/lineageV2/LineageFilterNode/LineageFilterNodeBasic.tsx
  datahub-web-react/src/app/lineageV2/LineageFilterNode/LineageFilterSearch.tsx
  datahub-web-react/src/app/lineageV2/LineageFilterNode/ShowMoreButton.tsx
  smoke-test/tests/cypress/cypress/e2e/lineageV2/utils.js
  smoke-test/tests/cypress/cypress/e2e/lineageV2/v2_lineage_graph.js
  smoke-test/tests/cypress/data.json
Due: web-react-lint-fix

feat(onelake): add unit tests for SqlAnalyticsEndpointClient URL retrieval logic
  metadata-ingestion/tests/unit/fabric_onelake/test_schema_client.py
Due: metadata-ingestion-lint-fix

feat(urn-generator): implement make_onelake_urn function for OneLake table URN generation and remove deprecated fabric_urn_builder module
  metadata-ingestion/src/datahub/ingestion/source/fabric/common/urn_generator.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/fabric_urn_builder.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/unit/fabric_onelake/test_urn_generator.py
  metadata-ingestion/tests/unit/test_powerbi_directlake.py
Due: metadata-ingestion-lint-fix

Revert "feat(powerbi): update dataset and workspace key generation to include platform instance and environment parameters"
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
Due: metadata-ingestion-lint-fix

update golden files
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql.json
Due: none

update golden files
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql_odbc_datasource.json
  metadata-ingestion/tests/integration/powerbi/golden_test_personal_ingest.json
Due: none

breaking change note
  docs/how/updating-datahub.md
Due: datahub-web-react-mdPrettierWriteChanged

udpate golden files
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
Due: none

update golden files
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql_odbc_query.json
Due: none

fix(applications): add proper permissions check for application creation
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/application/ApplicationAuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/application/CreateApplicationResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/application/CreateApplicationResolverTest.java
Due: datahub-graphql-core-spotless

fix(ci): restore Java 8 compatibility check and fix code for Java 8
  .github/workflows/build-and-test.yml
  entity-registry/src/main/java/com/linkedin/metadata/aspect/utils/AssertionUtils.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/Chart.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/Container.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/Dashboard.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/DataFlow.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/DataJob.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/Dataset.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/HasStructuredProperties.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/HasTags.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/MLModel.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/MLModelGroup.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/StructuredPropertyUrns.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/ChartTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/ContainerTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/DashboardTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/DataFlowTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/DataJobTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/DatasetTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/HasTagsPatchTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/MLModelGroupTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/MLModelTest.java
Due: datahub-web-react-githubActionsPrettierWriteChanged, entity-registry-spotless, metadata-integration-java-datahub-client-spotless

feat(powerbi): Add DirectLake lineage extraction for Microsoft Fabric (#15927)
  metadata-ingestion/docs/sources/powerbi/powerbi_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/fabric/common/urn_generator.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/client.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/config.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/schema_client.py
  metadata-ingestion/src/datahub/ingestion/source/fabric/onelake/source.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/unit/fabric_onelake/test_schema_client.py
  metadata-ingestion/tests/unit/fabric_onelake/test_urn_generator.py
  metadata-ingestion/tests/unit/test_powerbi_directlake.py
Due: metadata-ingestion-lint-fix

fix(ci): restore Java 8 compatibility check and fix code for Java 8 (#16025)
  .github/workflows/build-and-test.yml
  entity-registry/src/main/java/com/linkedin/metadata/aspect/utils/AssertionUtils.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/Chart.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/Container.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/Dashboard.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/DataFlow.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/DataJob.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/Dataset.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/HasStructuredProperties.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/HasTags.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/MLModel.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/MLModelGroup.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/v2/entity/StructuredPropertyUrns.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/ChartTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/ContainerTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/DashboardTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/DataFlowTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/DataJobTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/DatasetTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/HasTagsPatchTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/MLModelGroupTest.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/v2/entity/MLModelTest.java
Due: datahub-web-react-githubActionsPrettierWriteChanged, entity-registry-spotless, metadata-integration-java-datahub-client-spotless

fix(powerbi): update dataset and workspace key generation to include platform instance and environment parameters (#16023)
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql_odbc_datasource.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql_odbc_query.json
  metadata-ingestion/tests/integration/powerbi/golden_test_personal_ingest.json
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix

fix(cypress): bring fixes from saas (#15920)
  smoke-test/tests/cypress/cypress/e2e/auto_completeV2/v2_auto_complete.js
  smoke-test/tests/cypress/cypress/e2e/incidentsV2/v2_incidents.js
  smoke-test/tests/cypress/cypress/e2e/ingestionV2/utils.js
  smoke-test/tests/cypress/cypress/e2e/mutations/domains.js
  smoke-test/tests/cypress/cypress/support/commands.js
Due: none

fix(cypress): fix mutationsV2/v2_managing_secrets.js test (#15922)
  smoke-test/tests/cypress/cypress/e2e/mutationsV2/v2_managing_secrets.js
Due: none

fix(cypress): fix domains/nested_domains.js test (#15923)
  smoke-test/tests/cypress/cypress/e2e/domains/nested_domains.js
Due: none

fix(ui) Default to show new UI/nav bar/home page before appConfig is loaded (#7873)
  datahub-web-react/src/app/homeV3/context/hooks/__tests__/useShowHomePageRedesign.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/useShowHomePageRedesign.ts
  datahub-web-react/src/app/tests/Tests.tsx
  datahub-web-react/src/app/useIsThemeV2.tsx
  datahub-web-react/src/app/useShowNavBarRedesign.tsx
  smoke-test/tests/cypress/cypress/e2e/metadata_testsV2/v2_tests.js
  smoke-test/tests/cypress/cypress/e2e/mutationsV2/v2_dataset_ownership.js
  smoke-test/tests/cypress/cypress/support/e2e.js
Due: web-react-lint-fix

fix(ui) Default to show new UI/nav bar/home page before appConfig is loaded (#15974)
  datahub-web-react/src/app/homeV3/context/hooks/__tests__/useShowHomePageRedesign.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/useShowHomePageRedesign.ts
  datahub-web-react/src/app/useIsThemeV2.tsx
  datahub-web-react/src/app/useShowNavBarRedesign.tsx
  smoke-test/tests/cypress/cypress/support/e2e.js
Due: web-react-lint-fix

improve(ui/components): update styles of executor selector (#16000)
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/Select.stories.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/hooks/useIsVisible.ts
  datahub-web-react/src/alchemy-components/components/Select/private/hooks/useSelectDropdown.ts
  datahub-web-react/src/alchemy-components/components/Select/types.ts
Due: web-react-lint-fix

feat(chat ui): Add support for favoriting conversations (#8030)
  datahub-integrations-service/experiments/observability/chat-ui-web/backend/api/main.py
  datahub-integrations-service/experiments/observability/chat-ui-web/backend/api/routes/favorites.py
  datahub-integrations-service/experiments/observability/chat-ui-web/backend/core/favorites.py
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/api/client.ts
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/components/ArchivedConversationList.tsx
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/src/index.css
  datahub-integrations-service/experiments/observability/chat-ui-web/frontend/vite.config.ts
Due: datahub-integrations-service-lint-fix

refactor(ingest/databricks): use separate connection per profiling thread
  metadata-ingestion/src/datahub/ingestion/source/unity/ge_profiler.py
Due: metadata-ingestion-lint-fix

feat(ingest/config_loader): support HTTP urls with username/password
  metadata-ingestion/src/datahub/configuration/config_loader.py
Due: metadata-ingestion-lint-fix

unquote username and password
  metadata-ingestion/src/datahub/configuration/config_loader.py
Due: metadata-ingestion-lint-fix

refactor(ingest/databricks): use separate connection per profiling thread (#15852)
  metadata-ingestion/src/datahub/ingestion/source/unity/ge_profiler.py
Due: metadata-ingestion-lint-fix

feat(ingest/config_loader): support HTTP urls with username/password (#15936)
  metadata-ingestion/src/datahub/configuration/config_loader.py
Due: metadata-ingestion-lint-fix

revert: Remove thinking state polling (reverts PR #7816) (#8085)
  datahub-web-react/src/app/chat/components/ChatArea.tsx
  datahub-web-react/src/app/chat/components/MessageList.tsx
  datahub-web-react/src/app/chat/hooks/useChatMessages.ts
  datahub-web-react/src/app/chat/utils/__tests__/thinkingState.test.ts
  datahub-web-react/src/app/chat/utils/thinkingState.ts
Due: web-react-lint-fix

feat(ingestion): ability to specify multiple job_ids
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/tests/integration/dbt/test_dbt_cloud_autodiscovery_integration.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

Simiply the domain based authorization logic
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DomainUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/utils/DomainExtractionUtils.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
Due: datahub-graphql-core-spotless, metadata-io-spotless, metadata-service-openapi-servlet-spotless

feat(ingestion): fix validation
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/tests/integration/dbt/test_dbt_cloud_autodiscovery_integration.py
Due: metadata-ingestion-lint-fix

feat(ingesiton): fix validation
  metadata-ingestion/tests/unit/dbt/test_dbt_cloud_autodiscovery.py
Due: metadata-ingestion-lint-fix

feat(chat): Add stacked entity logos to Sources header (#8073)
  datahub-web-react/src/app/chat/EmbeddedChat.tsx
  datahub-web-react/src/app/chat/components/ChatArea.tsx
  datahub-web-react/src/app/chat/components/messages/ChatMessage.tsx
  datahub-web-react/src/app/chat/components/messages/ReactionButtons.tsx
  datahub-web-react/src/app/chat/components/messages/__tests__/ReactionButtons.test.tsx
  datahub-web-react/src/app/chat/components/references/MessageReferences.tsx
  datahub-web-react/src/app/chat/components/references/StackedEntityLogos.tsx
  datahub-web-react/src/app/chat/utils/__tests__/deduplicateEntitiesByPlatform.test.ts
  datahub-web-react/src/app/chat/utils/deduplicateEntitiesByPlatform.ts
Due: web-react-lint-fix

fix(applications): add proper permissions check for application creation (#16027)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/application/ApplicationAuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/application/CreateApplicationResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/application/CreateApplicationResolverTest.java
Due: datahub-graphql-core-spotless

docs(ingestion): adding additional details to security comparison (#15803)
  docs/metadata-ingestion-security.md
Due: datahub-web-react-mdPrettierWriteChanged

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
