Repository datahub-project/datahub: changes, and which pre-commit hooks are due for each by the changed paths.
All: datahub-web-react-mdPrettierWriteChanged, datahub-web-react-githubActionsPrettierWriteChanged, contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless, datahub-actions-lint-fix, datahub-cloud-router-lint-fix, datahub-executor-lint-fix, datahub-graphql-core-spotless, datahub-integrations-service-spotless, datahub-integrations-service-lint-fix, datahub-integrations-service-clients-java-spotless, datahub-upgrade-spotless, entity-registry-spotless, ingestion-scheduler-spotless, li-utils-spotless, metadata-auth-auth-api-spotless, metadata-dao-impl-kafka-producer-spotless, metadata-events-mxe-avro-spotless, metadata-events-mxe-registration-spotless, metadata-events-mxe-schemas-spotless, metadata-events-mxe-utils-avro-spotless, metadata-ingestion-lint-fix, metadata-ingestion-modules-acryl-cloud-lint-fix, metadata-ingestion-modules-airflow-plugin-lint-fix, metadata-ingestion-modules-dagster-plugin-lint-fix, metadata-ingestion-modules-gx-plugin-lint-fix, metadata-ingestion-modules-prefect-plugin-lint-fix, metadata-integration-java-acryl-spark-lineage-spotless, metadata-integration-java-datahub-client-spotless, metadata-integration-java-datahub-event-spotless, metadata-integration-java-datahub-protobuf-spotless, metadata-integration-java-datahub-schematron-cli-spotless, metadata-integration-java-datahub-schematron-lib-spotless, metadata-integration-java-examples-spotless, metadata-integration-java-openlineage-converter-spotless, metadata-integration-java-spark-lineage-legacy-spotless, metadata-io-spotless, metadata-io-metadata-io-api-spotless, metadata-jobs-common-spotless, metadata-jobs-mae-consumer-spotless, metadata-jobs-mae-consumer-job-spotless, metadata-jobs-mce-consumer-spotless, metadata-jobs-mce-consumer-job-spotless, metadata-jobs-pe-consumer-spotless, metadata-models-spotless, metadata-models-custom-spotless, metadata-models-validator-spotless, metadata-operation-context-spotless, metadata-service-admin-servlet-impl-spotless, metadata-service-auth-config-spotless, metadata-service-auth-filter-spotless, metadata-service-auth-impl-spotless, metadata-service-auth-servlet-impl-spotless, metadata-service-configuration-spotless, metadata-service-events-service-spotless, metadata-service-factories-spotless, metadata-service-graphql-servlet-impl-spotless, metadata-service-iceberg-catalog-spotless, metadata-service-iceberg-catalog-lint-fix, metadata-service-openapi-analytics-servlet-spotless, metadata-service-openapi-entity-servlet-spotless, metadata-service-openapi-entity-servlet-generators-spotless, metadata-service-openapi-metadatatests-servlet-spotless, metadata-service-openapi-servlet-spotless, metadata-service-openapi-servlet-models-spotless, metadata-service-plugin-spotless, metadata-service-plugin-src-test-sample-test-plugins-spotless, metadata-service-restli-client-spotless, metadata-service-restli-client-api-spotless, metadata-service-restli-servlet-impl-spotless, metadata-service-schema-registry-api-spotless, metadata-service-schema-registry-servlet-spotless, metadata-service-scim-api-spotless, metadata-service-services-spotless, metadata-service-servlet-spotless, metadata-service-war-spotless, metadata-test-util-java-spotless, metadata-utils-spotless, mock-entity-registry-spotless, notifications-spotless, smoke-test-lint-fix, test-models-spotless, smoke-test-cypress-lint-fix, update-lineage-file, web-react-lint-fix, check-gradle-lockfiles

datahub-web-react-mdPrettierWriteChanged:
  name: mdPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:mdPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-web-react-githubActionsPrettierWriteChanged:
  name: githubActionsPrettierWriteChanged
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-web-react:githubActionsPrettierWriteChanged -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless:
  name: contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :contrib:metadata-model-extensions:datahub-demo-dataset-governance-validator:spotlessApply -x generateGitPropertiesGlobal
  language: system
  ...

datahub-actions-lint-fix:
  name: datahub-actions Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-actions:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-cloud-router-lint-fix:
  name: datahub-cloud-router Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-cloud-router:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-executor-lint-fix:
  name: datahub-executor Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-executor:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-graphql-core-spotless:
  name: datahub-graphql-core Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-graphql-core:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-spotless:
  name: datahub-integrations-service Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-lint-fix:
  name: datahub-integrations-service Lint Fix
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:lintFix -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-integrations-service-clients-java-spotless:
  name: datahub-integrations-service/clients/java Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-integrations-service:clients:java:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

datahub-upgrade-spotless:
  name: datahub-upgrade Spotless Apply
  entry: .github/scripts/pre-commit-wrapper.sh ./gradlew :datahub-upgrade:spotlessApply -x generateGitPropertiesGlobal
  language: system
  pass_filenames: false

web-react-lint-fix:
  name: web-react lint fix
  entry: .github/scripts/web_react_lint.sh
  language: system
  pass_filenames: false

test(i18n): wrap MFERoutes test in ThemeProvider
  datahub-web-react/src/app/mfeframework/_tests_/mfeConfigLoader.test.tsx
Due: web-react-lint-fix

feat(i18n): extract keys from onboarding tour
  datahub-web-react/src/app/onboarding/OnboardingTour.tsx
  datahub-web-react/src/app/onboarding/WelcomeToDataHubModal.components.tsx
  datahub-web-react/src/app/onboarding/WelcomeToDataHubModal.tsx
  datahub-web-react/src/app/onboarding/config/BusinessGlossaryOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/DomainsOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/EntityProfileOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/GroupsOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/HomePageOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/IngestionOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/LineageGraphOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/PoliciesOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/RolesOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/SearchOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/UsersOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/configV2/EntityProfileOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/configV2/HomePageOnboardingConfig.tsx
  datahub-web-react/src/i18n/i18n.ts
  datahub-web-react/src/i18n/locales/en/onboarding.json
  datahub-web-react/src/setupTests.ts
  datahub-web-react/translated-files.txt
Due: web-react-lint-fix

add proper tests
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/dataplatforms/IndexDataPlatformsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/homepagelinks/MigrateHomePageLinksStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/homepagelinks/MigrateHomePageLinksStepTest.java
Due: datahub-upgrade-spotless

feat(ingest): add GroupedItemCounter protocol and InMemoryGroupedCounter
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_counter.py
Due: metadata-ingestion-lint-fix

refactor(ingest): make UsageAggregator counter injectable and centralize dim codec
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/unit/test_usage_common.py
Due: metadata-ingestion-lint-fix

feat(i18n): extract keys from other entity tabs
  datahub-web-react/.eslintrc.js
  datahub-web-react/src/app/entityV2/shared/tabs/Embed/EmbedTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/ChartDashboardsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/DashboardChartsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/DashboardDatasetsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/DataFlowJobsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/DataJobFlowTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/components/EntityList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/weaklyTypedAspects/DynamicPropertiesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/weaklyTypedAspects/DynamicTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/ML/MlFeatureFeatureTableTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/ML/MlPrimaryKeyFeatureTableTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/CardinalityLabel.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/NameColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/StructuredPropertyTooltip.tsx
  datahub-web-react/src/i18n/i18n.ts
  datahub-web-react/src/i18n/locales/en/common.labels.json
  datahub-web-react/src/i18n/locales/en/entity.profile.tabs.json
  datahub-web-react/src/setupTests.ts
  datahub-web-react/translated-files.txt
Due: web-react-lint-fix

fix paginationRange key
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/components/EntityList.tsx
  datahub-web-react/src/i18n/locales/en/entity.profile.tabs.json
Due: web-react-lint-fix

test(ingest): drop low-value protocol-presence tests for counter
  metadata-ingestion/tests/unit/utilities/test_file_backed_counter.py
Due: metadata-ingestion-lint-fix

fix skip() step
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/dataplatforms/IndexDataPlatformsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/homepagelinks/MigrateHomePageLinksStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/dataplatforms/IndexDataPlatformsStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/homepagelinks/MigrateHomePageLinksStepTest.java
Due: datahub-upgrade-spotless

refactor(ingest): centralize usage key codec and add _add_read_entry
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/unit/test_usage_common.py
Due: metadata-ingestion-lint-fix

feat(i18n): translate lineage column-path phrases; add common.counts namespace
  datahub-web-react/src/app/entity/shared/entityForm/schemaFieldPrompts/DropdownHeader.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaSearchInput.tsx
  datahub-web-react/src/app/previewV2/EntityPaths/ColumnPathsText.tsx
  datahub-web-react/src/app/previewV2/EntityPaths/ColumnsRelationshipText.tsx
  datahub-web-react/src/app/previewV2/EntityPaths/EntityPathsModal.tsx
  datahub-web-react/src/app/previewV2/EntityPaths/__tests__/ColumnPathsText.test.tsx
  datahub-web-react/src/app/previewV2/SearchPill.tsx
  datahub-web-react/src/i18n/i18n.ts
  datahub-web-react/src/i18n/locales/en/common.counts.json
  datahub-web-react/src/i18n/locales/en/entity.form.json
  datahub-web-react/src/i18n/locales/en/entity.preview.json
  datahub-web-react/src/i18n/locales/en/entity.profile.schema.json
  datahub-web-react/src/setupTests.ts
  datahub-web-react/translated-files.txt
Due: web-react-lint-fix

fix(ingest): make FileBackedCounter increment/flush thread-safe
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_counter.py
Due: metadata-ingestion-lint-fix

docs(ingest): document UsageAggregator single-writer contract
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
Due: metadata-ingestion-lint-fix

fix lint issues
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/PropertiesTab.tsx
Due: web-react-lint-fix

fix(ingest): validate FileBackedCounter tablename is a safe identifier
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_counter.py
Due: metadata-ingestion-lint-fix

add default output ports module
  datahub-graphql-core/src/main/resources/module.graphql
  datahub-web-react/src/app/homeV3/modules/constants.ts
  metadata-service/services/src/main/java/com/linkedin/metadata/service/PageModuleService.java
Due: metadata-service-services-spotless, web-react-lint-fix

feat(ingestion/montecarlo): register Monte Carlo in ingestion source UI
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/constants.ts
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
Due: web-react-lint-fix

feat(i18n): extract keys from analytics page (#17706)
  datahub-web-react/src/app/analyticsDashboardV2/components/AnalyticsPage.tsx
  datahub-web-react/src/i18n/i18n.ts
  datahub-web-react/src/i18n/locales/en/analytics.json
  datahub-web-react/src/setupTests.ts
  datahub-web-react/translated-files.txt
Due: web-react-lint-fix

fix(ingest): register FileBackedCounter as a shared-connection dependent
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_counter.py
Due: metadata-ingestion-lint-fix

feat(i18n): extract keys from other entity tabs (#17666)
  datahub-web-react/.eslintrc.js
  datahub-web-react/src/app/entityV2/shared/tabs/Embed/EmbedTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/ChartDashboardsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/DashboardChartsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/DashboardDatasetsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/DataFlowJobsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/DataJobFlowTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/components/EntityList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/weaklyTypedAspects/DynamicPropertiesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Entity/weaklyTypedAspects/DynamicTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/ML/MlFeatureFeatureTableTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/ML/MlPrimaryKeyFeatureTableTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/CardinalityLabel.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/NameColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/StructuredPropertyTooltip.tsx
  datahub-web-react/src/i18n/i18n.ts
  datahub-web-react/src/i18n/locales/en/common.labels.json
  datahub-web-react/src/i18n/locales/en/entity.profile.tabs.json
  datahub-web-react/src/setupTests.ts
  datahub-web-react/translated-files.txt
Due: web-react-lint-fix

perf(ingest): stream most_common_by_group and cap top queries while iterating
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/test_usage_common.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_counter.py
Due: metadata-ingestion-lint-fix

Revert "perf(ingest): stream most_common_by_group and cap top queries while iterating"
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/test_usage_common.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_counter.py
Due: metadata-ingestion-lint-fix

docs(masking): document fail-open coverage limit for post-install handlers
  metadata-ingestion/src/datahub/masking/masking_filter.py
Due: metadata-ingestion-lint-fix

feat(teradata): refactor view error categorization to use enum for improved clarity
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Due: metadata-ingestion-lint-fix

refactor(teradata): replace namedtuple with dataclass for LineageQuery and enhance stall warning logic
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/tests/unit/test_teradata_source.py
Due: metadata-ingestion-lint-fix

feat(i18n): extract keys from authentication pages
  datahub-web-react/.eslintrc.js
  datahub-web-react/src/app/auth/loginV2/LoginForm.tsx
  datahub-web-react/src/app/auth/loginV2/LoginModal.tsx
  datahub-web-react/src/app/auth/resetCredentialsV2/ResetCredentialsForm.tsx
  datahub-web-react/src/app/auth/resetCredentialsV2/ResetCredentialsModal.tsx
  datahub-web-react/src/app/auth/shared/ModalHeader.tsx
  datahub-web-react/src/app/auth/signupV2/SignUpModal.tsx
  datahub-web-react/src/app/auth/signupV2/SignupForm.tsx
  datahub-web-react/src/i18n/i18n.ts
  datahub-web-react/src/i18n/locales/en/auth.json
  datahub-web-react/src/setupTests.ts
  datahub-web-react/translated-files.txt
Due: web-react-lint-fix

feat(i18n): extract keys from authentication pages (#17711)
  datahub-web-react/.eslintrc.js
  datahub-web-react/src/app/auth/loginV2/LoginForm.tsx
  datahub-web-react/src/app/auth/loginV2/LoginModal.tsx
  datahub-web-react/src/app/auth/resetCredentialsV2/ResetCredentialsForm.tsx
  datahub-web-react/src/app/auth/resetCredentialsV2/ResetCredentialsModal.tsx
  datahub-web-react/src/app/auth/shared/ModalHeader.tsx
  datahub-web-react/src/app/auth/signupV2/SignUpModal.tsx
  datahub-web-react/src/app/auth/signupV2/SignupForm.tsx
  datahub-web-react/src/i18n/i18n.ts
  datahub-web-react/src/i18n/locales/en/auth.json
  datahub-web-react/src/setupTests.ts
  datahub-web-react/translated-files.txt
Due: web-react-lint-fix

fix(ingest/dbt): address review feedback on skip_missing_upstreams_in_lineage
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

update tests and clean up
  datahub-web-react/src/app/entityV2/shared/components/links/AddEditLinkModal.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/EntityName.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/EntitySidebarTabs.tsx
  e2e-test/ui/playwright/pages/domains/domain-entity.page.ts
  e2e-test/ui/playwright/pages/domains/nested-domains.page.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-domains-advanced.spec.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-domains-core.spec.ts
  e2e-test/ui/playwright/tests/domains-v2/v2-domains-summary.spec.ts
  e2e-test/ui/playwright/utils/constants.ts
Due: web-react-lint-fix

feat(ingest/ydb): add YDB ingestion source
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  datahub-web-react/src/images/ydblogo.png
  metadata-ingestion/constraints.txt
  metadata-ingestion/docs/sources/ydb/README.md
  metadata-ingestion/docs/sources/ydb/ydb_post.md
  metadata-ingestion/docs/sources/ydb/ydb_pre.md
  metadata-ingestion/docs/sources/ydb/ydb_recipe.yml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/ydb.py
  metadata-ingestion/tests/integration/ydb/docker-compose.yml
  metadata-ingestion/tests/integration/ydb/test_ydb.py
  metadata-ingestion/tests/integration/ydb/ydb_mces_golden.json
  metadata-ingestion/tests/integration/ydb/ydb_profile_mces_golden.json
  metadata-ingestion/tests/integration/ydb/ydb_profile_to_file.yml
  metadata-ingestion/tests/integration/ydb/ydb_to_file.yml
  metadata-ingestion/tests/unit/test_ydb_source.py
  metadata-ingestion/uv.lock
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Due: datahub-web-react-mdPrettierWriteChanged, metadata-ingestion-lint-fix, web-react-lint-fix

fix(ui): escape CSS selector in SchemaTable to prevent SyntaxError on special characters
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTable.tsx
Due: web-react-lint-fix

fix(search): structured property filters honor valueType and show all allowedValues
  datahub-web-react/src/app/searchV2/filters/utils.tsx
  datahub-web-react/src/app/searchV2/filters/value/utils.tsx
  datahub-web-react/src/graphql/search.graphql
Due: web-react-lint-fix

fix(ingest/dbt): warn when skip_missing_upstreams_in_lineage used without skip_sources_in_lineage
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

fix(ui): escape CSS selector in SchemaTable to prevent SyntaxError on special characters (#17715)
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTable.tsx
Due: web-react-lint-fix

fix(ownership-filter): scope domain/platform access aggregation to asset entities
  datahub-ownership-filter/src/main/java/io/datahub/ownership/access/DomainPlatformAccessResolver.java
  datahub-ownership-filter/src/test/java/io/datahub/ownership/access/DomainPlatformAccessResolverTest.java
Due: none

fix(search): structured property filters honor valueType and show all… (#17716)
  datahub-web-react/src/app/searchV2/filters/utils.tsx
  datahub-web-react/src/app/searchV2/filters/value/utils.tsx
  datahub-web-react/src/graphql/search.graphql
Due: web-react-lint-fix

test(ingest): narrow _counts to FileBackedCounter before accessing _conn
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Due: metadata-ingestion-lint-fix

feat(ingest/dbt): add skip_missing_upstreams_in_lineage config option (#17683)
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Due: metadata-ingestion-lint-fix

Path conditions:
  datahub-web-react-mdPrettierWriteChanged: any of: ^.*\.md$
  datahub-web-react-githubActionsPrettierWriteChanged: any of: ^\.github/.*\.(yml|yaml)$
  contrib-metadata-model-extensions-datahub-demo-dataset-governance-validator-spotless: any of: ^contrib/metadata-model-extensions/datahub-demo-dataset-governance-validator/.*\.java$
  datahub-actions-lint-fix: any of: ^datahub-actions/.*\.(py|toml)$
  datahub-cloud-router-lint-fix: any of: ^datahub-cloud-router/.*\.(py|toml)$
  datahub-executor-lint-fix: any of: ^datahub-executor/.*\.(py|toml)$
  datahub-graphql-core-spotless: any of: ^datahub-graphql-core/.*\.java$
  datahub-integrations-service-spotless: any of: ^datahub-integrations-service/.*\.java$
  datahub-integrations-service-lint-fix: any of: ^datahub-integrations-service/.*\.(py|toml)$
  datahub-integrations-service-clients-java-spotless: any of: ^datahub-integrations-service/clients/java/.*\.java$
  datahub-upgrade-spotless: any of: ^datahub-upgrade/.*\.java$
  entity-registry-spotless: any of: ^entity-registry/.*\.java$
  ingestion-scheduler-spotless: any of: ^ingestion-scheduler/.*\.java$
  li-utils-spotless: any of: ^li-utils/.*\.java$
  metadata-auth-auth-api-spotless: any of: ^metadata-auth/auth-api/.*\.java$
  metadata-dao-impl-kafka-producer-spotless: any of: ^metadata-dao-impl/kafka-producer/.*\.java$
  metadata-events-mxe-avro-spotless: any of: ^metadata-events/mxe-avro/.*\.java$
  metadata-events-mxe-registration-spotless: any of: ^metadata-events/mxe-registration/.*\.java$
  metadata-events-mxe-schemas-spotless: any of: ^metadata-events/mxe-schemas/.*\.java$
  metadata-events-mxe-utils-avro-spotless: any of: ^metadata-events/mxe-utils-avro/.*\.java$
  metadata-ingestion-lint-fix: any of: ^metadata-ingestion/.*\.(py|toml)$
  metadata-ingestion-modules-acryl-cloud-lint-fix: any of: ^metadata-ingestion-modules/acryl-cloud/.*\.(py|toml)$
  metadata-ingestion-modules-airflow-plugin-lint-fix: any of: ^metadata-ingestion-modules/airflow-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-dagster-plugin-lint-fix: any of: ^metadata-ingestion-modules/dagster-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-gx-plugin-lint-fix: any of: ^metadata-ingestion-modules/gx-plugin/.*\.(py|toml)$
  metadata-ingestion-modules-prefect-plugin-lint-fix: any of: ^metadata-ingestion-modules/prefect-plugin/.*\.(py|toml)$
  metadata-integration-java-acryl-spark-lineage-spotless: any of: ^metadata-integration/java/acryl-spark-lineage/.*\.java$
  metadata-integration-java-datahub-client-spotless: any of: ^metadata-integration/java/datahub-client/.*\.java$
  metadata-integration-java-datahub-event-spotless: any of: ^metadata-integration/java/datahub-event/.*\.java$
  metadata-integration-java-datahub-protobuf-spotless: any of: ^metadata-integration/java/datahub-protobuf/.*\.java$
  metadata-integration-java-datahub-schematron-cli-spotless: any of: ^metadata-integration/java/datahub-schematron/cli/.*\.java$
  metadata-integration-java-datahub-schematron-lib-spotless: any of: ^metadata-integration/java/datahub-schematron/lib/.*\.java$
  metadata-integration-java-examples-spotless: any of: ^metadata-integration/java/examples/.*\.java$
  metadata-integration-java-openlineage-converter-spotless: any of: ^metadata-integration/java/openlineage-converter/.*\.java$
  metadata-integration-java-spark-lineage-legacy-spotless: any of: ^metadata-integration/java/spark-lineage-legacy/.*\.java$
  metadata-io-spotless: any of: ^metadata-io/.*\.java$
  metadata-io-metadata-io-api-spotless: any of: ^metadata-io/metadata-io-api/.*\.java$
  metadata-jobs-common-spotless: any of: ^metadata-jobs/common/.*\.java$
  metadata-jobs-mae-consumer-spotless: any of: ^metadata-jobs/mae-consumer/.*\.java$
  metadata-jobs-mae-consumer-job-spotless: any of: ^metadata-jobs/mae-consumer-job/.*\.java$
  metadata-jobs-mce-consumer-spotless: any of: ^metadata-jobs/mce-consumer/.*\.java$
  metadata-jobs-mce-consumer-job-spotless: any of: ^metadata-jobs/mce-consumer-job/.*\.java$
  metadata-jobs-pe-consumer-spotless: any of: ^metadata-jobs/pe-consumer/.*\.java$
  metadata-models-spotless: any of: ^metadata-models/.*\.java$
  metadata-models-custom-spotless: any of: ^metadata-models-custom/.*\.java$
  metadata-models-validator-spotless: any of: ^metadata-models-validator/.*\.java$
  metadata-operation-context-spotless: any of: ^metadata-operation-context/.*\.java$
  metadata-service-admin-servlet-impl-spotless: any of: ^metadata-service/admin-servlet-impl/.*\.java$
  metadata-service-auth-config-spotless: any of: ^metadata-service/auth-config/.*\.java$
  metadata-service-auth-filter-spotless: any of: ^metadata-service/auth-filter/.*\.java$
  metadata-service-auth-impl-spotless: any of: ^metadata-service/auth-impl/.*\.java$
  metadata-service-auth-servlet-impl-spotless: any of: ^metadata-service/auth-servlet-impl/.*\.java$
  metadata-service-configuration-spotless: any of: ^metadata-service/configuration/.*\.java$
  metadata-service-events-service-spotless: any of: ^metadata-service/events-service/.*\.java$
  metadata-service-factories-spotless: any of: ^metadata-service/factories/.*\.java$
  metadata-service-graphql-servlet-impl-spotless: any of: ^metadata-service/graphql-servlet-impl/.*\.java$
  metadata-service-iceberg-catalog-spotless: any of: ^metadata-service/iceberg-catalog/.*\.java$
  metadata-service-iceberg-catalog-lint-fix: any of: ^metadata-service/iceberg-catalog/.*\.(py|toml)$
  metadata-service-openapi-analytics-servlet-spotless: any of: ^metadata-service/openapi-analytics-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-spotless: any of: ^metadata-service/openapi-entity-servlet/.*\.java$
  metadata-service-openapi-entity-servlet-generators-spotless: any of: ^metadata-service/openapi-entity-servlet/generators/.*\.java$
  metadata-service-openapi-metadatatests-servlet-spotless: any of: ^metadata-service/openapi-metadatatests-servlet/.*\.java$
  metadata-service-openapi-servlet-spotless: any of: ^metadata-service/openapi-servlet/.*\.java$
  metadata-service-openapi-servlet-models-spotless: any of: ^metadata-service/openapi-servlet/models/.*\.java$
  metadata-service-plugin-spotless: any of: ^metadata-service/plugin/.*\.java$
  metadata-service-plugin-src-test-sample-test-plugins-spotless: any of: ^metadata-service/plugin/src/test/sample-test-plugins/.*\.java$
  metadata-service-restli-client-spotless: any of: ^metadata-service/restli-client/.*\.java$
  metadata-service-restli-client-api-spotless: any of: ^metadata-service/restli-client-api/.*\.java$
  metadata-service-restli-servlet-impl-spotless: any of: ^metadata-service/restli-servlet-impl/.*\.java$
  metadata-service-schema-registry-api-spotless: any of: ^metadata-service/schema-registry-api/.*\.java$
  metadata-service-schema-registry-servlet-spotless: any of: ^metadata-service/schema-registry-servlet/.*\.java$
  metadata-service-scim-api-spotless: any of: ^metadata-service/scim-api/.*\.java$
  metadata-service-services-spotless: any of: ^metadata-service/services/.*\.java$
  metadata-service-servlet-spotless: any of: ^metadata-service/servlet/.*\.java$
  metadata-service-war-spotless: any of: ^metadata-service/war/.*\.java$
  metadata-test-util-java-spotless: any of: ^metadata-test-util/java/.*\.java$
  metadata-utils-spotless: any of: ^metadata-utils/.*\.java$
  mock-entity-registry-spotless: any of: ^mock-entity-registry/.*\.java$
  notifications-spotless: any of: ^notifications/.*\.java$
  smoke-test-lint-fix: any of: ^smoke-test/.*\.(py|toml)$
  test-models-spotless: any of: ^test-models/.*\.java$
  smoke-test-cypress-lint-fix: any of: ^smoke-test/tests/cypress/.*\.tsx$
  update-lineage-file: any of: ^(metadata-ingestion-modules/.*|metadata-models/.*)$
  web-react-lint-fix: any of: datahub-web-react/.*\.(js|jsx|ts|tsx)
  check-gradle-lockfiles: any of: ^.*build\.gradle(\.kts)?$
